<link href="css/ws10.css" rel="stylesheet" data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss data-vfes-inline-asset/>
<div style="width:100%; height: 10000px;">
    <div class="vf-bs" id="sticky-fibra">
        <div class="vf-sticky ws10-c-card ws10-flex ws10-flex__align-items--center ws10-flex__justify--between">
                <button class="close-sticky">
                    <svg class="icon-close" data-vfes-inline-asset><title>icon-close</title><use xlink:href="#icon-close" class="icon-v3"></use></svg>
                </button>
                <div class="ws10-flex ws10-flex__align-items--center vf-sticky__content">
                    <img src="https://www.vodafone.es/c/statics/imagen/base_sales_light_theme.png" class="ws10-u--mr2x">
                    <div class="vf-text-banner ws10-u-heading--6">
                        <p class="ws10-u--mb0 ws10-c-paragraph ws10-u--pb1x">Por ser cliente, tenemos esto para ti...</p>
                        <p class=" ws10-u--mb0 ws10-flex ws10-flex__direction--column">
                         <strong>Vodafone One ilimitada Maxi con Serielovers GRATIS con HBO España y Amazon Prime incluido</strong>
                        </p>
                    </div>
                </div>
                <a href="tel:900920145" class="drp-href ws10-c-button" title="Llama gratis" data-analytics-context="huawei y5 2019" data-analytics-element="Llama gratis" data-analytics-category="cta"> Llama gratis al <span class="drp-phone">900920145</span>
                </a>
            </div>
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
