<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet">

<div class="vfes-ms-content" id="samsung">

    <!-- Banner Terminales -->
    <section class="vfes-layout vfms-header-background vfes-colours--vodafone-white">
        <div class="vfes-layout__wrapper vfms-container">
            <div class="vfms-title__container">
                <div class="vfms-header__max vfms-ml-palm">
                    <div class="vfes-layout__item vfms-nopadding">
                        <h3 class="vfes-mb--palm vfes-title vfes-pt+-palm vfes-title--3 vfms-text__align vfes-pt vfes-pt---mov vfes-colours--vodafone-white">Teléfonos móviles
                        Samsung</h3>
                    </div>
                    <div class="vfes-layout__item vfms-nopadding vfes-p0-mov vfes-p0-palm vfms-text__align vfes-colours--vodafone-white">
                        <h5 class="vfes-title vfms-max__width vfes-title--5 vfes-mb- vfes-p0-mov  vfes-p0-palm vfes-title--bold">Nuevos Samsung Galaxy S20 | S20 Plus | S20 Ultra 5G</h5>
                        <h5 class="vfes-title vfes-title--5 vfes-p0-mov vfes-p0-palm">Cómpralo ya y empieza a disfrutar de la experiencia 5G</h5>
                        <!--Ejemplo de link-->
                        <a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles-samsung/" title="CTA" class="vfes-button vfms-header__button vfes-button--primary-dark vfes-mt" target="_new" data-analytics-element="lo quiero" data-analytics-category="cta" data-analytics-context="landing fabricantes samsung lanzamiento s20">
                           Lo quiero
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Breadcrumbs -->

    <section class="vfes-layout vfes-pv0">
        <div class="vfes-layout__item">
            <div data-analytics-context="breadcrumbs" class="vfes-breadcrumbs">
                <ul class="vfes-breadcrumbs__wrapper">
                    <li><a class="vfes-link" title="Inicio" target="_self"
                            href="https://www.vodafone.es/c/particulares/es/"> Inicio</a></li>
                    <li><a class="vfes-link" title="Samsung" target="_self" href="#"> Samsung</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Carousel Terminales -->

    <section class="vfes-layout section-disp vfes-color-bg-wild-sand">
        <div class="vfes-layout__wrapper">
            <div class="vfes-carousel vfms-carousel" data-vfes-js="_carousel"
                data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
                <ul class="vfes-carousel__list js-carousel-list">

                    {{!-- terminal 2 --}}
                    <li class="vfes-carousel__list-element js-carousel-list-element">
						<div class="vfes-tag-label vfes-tag-label--red  vfes-ws10">
							<section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
								<div class="vfes-card-shop__offer">
									<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center">
										<a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-5g-gris-128gb-313808/"
										target="_self" title="Samsung Galaxy S20+ 5G">
											<strong>Samsung Galaxy S20 5G</strong>
										</a>
									</h2>
									<p class="vfes-paragraph vfes-title--light vfes-align--center">El Smartphone que cambiará la fotografía</p>
									<img class="vfes-pv-" src="img/s205g.png"
										alt="Samsung Galaxy S20 5G" height="250">
								</div>
								<div class="vfes-card-shop__accordion">
									<div id="card-shop-accordion1" class="vfes-card-shop__accordion-content"
										aria-hidden="true">
										<ul class="vfes-list--simple vfes-align--center">
											<li>S.O Android</li>
											<li>Pantalla 6,7"</li>
											<li>Velocidad 5G</li>
											<li>Cámara Triple 12Mp + 64Mp + 12Mp</li>
										</ul>
									</div>
									<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
										aria-expanded="false" aria-controls="card-shop-accordion1"
										title="Ver características">Ver características</button>
								</div>
								<div class="vfes-card-shop__bottom">
									<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
										data-analytics-element="mas informacion" data-analytics-category="cta"
										data-analytics-context="Samsung Galaxy S20 5G"
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-5g-gris-128gb-313808/"
										target="_self"
										title="Samsung Galaxy S20 5G">Más información</a>
								</div>
							</section>
						</div>
					</li>
                    
					<!-- Terminal nº 1 -->
                    <li class="vfes-carousel__list-element js-carousel-list-element">
						<div class="vfes-tag-label vfes-tag-label--red  vfes-ws10">
							<section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
								<div class="vfes-card-shop__offer">
									<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center">
										<a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-plus-5g-gris-128gb-313810/"
										target="_self" title="Samsung Galaxy S20+ 5G">
											<strong>Samsung Galaxy S20+ 5G</strong>
										</a>
									</h2>
									<p class="vfes-paragraph vfes-title--light vfes-align--center">La experiencia del 5G</p>
									<img class="vfes-pv-" src="img/s20+.png"
										alt="Samsung Galaxy S20+ 5G" height="250">
								</div>
								<div class="vfes-card-shop__accordion">
									<div id="card-shop-accordion1" class="vfes-card-shop__accordion-content"
										aria-hidden="true">
										<ul class="vfes-list--simple vfes-align--center">
											<li>S.O Android</li>
											<li>Pantalla 6,9"</li>
											<li>Velocidad 5G</li>
											<li>Cámara Triple 12Mp + 48Mp + 108Mp</li>
										</ul>
									</div>
									<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
										aria-expanded="false" aria-controls="card-shop-accordion1"
										title="Ver características">Ver características</button>
								</div>
								<div class="vfes-card-shop__bottom">
									<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
										data-analytics-element="mas informacion" data-analytics-category="cta"
										data-analytics-context="Samsung Galaxy S20+ 5G"
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-plus-5g-gris-128gb-313810/"
										target="_self"
										title="Samsung Galaxy S20+ 5G">Más información</a>
								</div>
							</section>
						</div>
					</li>

					{{!-- Terminal nº2 --}}
					<li class="vfes-carousel__list-element js-carousel-list-element">
						<div class="vfes-tag-label vfes-tag-label--red  vfes-ws10">
							<section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
								<div class="vfes-card-shop__offer">
									<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center">
										<a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-note10-lite-negro-128gb-313806/"
										target="_self" title="Samsung Note10 Lite">
											<strong>Samsung Note10 Lite</strong>
										</a>
									</h2>
									<p class="vfes-paragraph vfes-title--light vfes-align--center">S Pen con control remoto</p>
									<img class="vfes-pv-" src="img/samsung-note10-lite.png"
										alt="Samsung Note10 Lite" height="250">
								</div>
								<div class="vfes-card-shop__accordion">
									<div id="card-shop-accordion1" class="vfes-card-shop__accordion-content"
										aria-hidden="true">
										<ul class="vfes-list--simple vfes-align--center">
											<li>S.O Android 10</li>
											<li>Pantalla 6,7"</li>
											<li>Velocidad 4G</li>
											<li>Cámara Triple 12Mp + 12Mp + 12Mp</li>
										</ul>
									</div>
									<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
										aria-expanded="false" aria-controls="card-shop-accordion1"
										title="Ver características">Ver características</button>
								</div>
								<div class="vfes-card-shop__bottom">
									<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
										data-analytics-element="mas informacion" data-analytics-category="cta"
										data-analytics-context="samsung note10 lite"
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-note10-lite-negro-128gb-313806/"
										target="_self"
										title="Samsung Note10 Lite">Más información</a>
								</div>
							</section>
						</div>
					</li>
                    
                    <!-- Terminal nº 3 -->
                
                    <li class="vfes-carousel__list-element js-carousel-list-element">
                        <div class="vfes-tag-label vfes-tag-label--red  vfes-ws10">
                            <!--<div class="vfes-tag-label__outstanding">Ahorra 575€</div>-->
                            <section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
                                <div class="vfes-card-shop__offer">
                                    <h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center">
                                        <a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s10-plus-negro-512gb-313606/"
                                        target="_self" title="Samsung Galaxy S10+">
                                            <strong>Samsung Galaxy S10+ 512GB</strong>
                                        </a>
                                    </h2>
                                    <p class="vfes-paragraph vfes-title--light vfes-align--center">Guarda todos tus momentos</p>
                                    <img class="vfes-pv-" src="img/samsung-galaxy-s10+.png"
                                        alt="Samsung Galaxy S10+ 512GB" height="250">
                                </div>
                                <div class="vfes-card-shop__accordion">
                                    <div id="card-shop-accordion1" class="vfes-card-shop__accordion-content"
                                        aria-hidden="true">
                                        <ul class="vfes-list--simple vfes-align--center">
                                            <li>S.O Android</li>
                                            <li>Pantalla 6,4"</li>
                                            <li>Velocidad 4G+</li>
                                            <li>Cámara Triple 12Mp + 12Mp + 16Mp</li>
                                        </ul>
                                    </div>
                                    <button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
                                        aria-expanded="false" aria-controls="card-shop-accordion1"
                                        title="Ver características">Ver características</button>
                                </div>
                                <div class="vfes-card-shop__bottom">
                                    <a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
                                        data-analytics-element="mas informacion" data-analytics-category="cta"
                                        data-analytics-context="samsung galaxy s10+ 512GB"
                                        href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s10-plus-negro-512gb-313606/"
                                        target="_self"
                                        title="Samsung Galaxy S10+">Más información</a>
                                </div>
                            </section>
                        </div>
                    </li>


                    <!-- Terminal nº 4 -->

                    <li class="vfes-carousel__list-element js-carousel-list-element">
                        <div class="vfes-tag-label vfes-tag-label--red  vfes-ws10">
                            <!--<div class="vfes-tag-label__outstanding">Ahorra 395€</div>-->
                            <section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
                                <div class="vfes-card-shop__offer">
                                    <h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center">
                                        <a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s10-plus-negro-128gb-313594/"
                                        target="_self" title="Samsung Galaxy S10+">
                                            <strong>Samsung Galaxy S10+ 128GB</strong>
                                        </a>
                                    </h2>
                                    <p class="vfes-paragraph vfes-title--light vfes-align--center">Pantalla infinita</p>
                                    <img class="vfes-pv-" src="img/samsung-galaxy-s10+.png"
                                        alt="Samsung Galaxy S10+128GB" height="250">
                                </div>
                                <div class="vfes-card-shop__accordion">
                                    <div id="card-shop-accordion2" class="vfes-card-shop__accordion-content"
                                        aria-hidden="true">
                                        <ul class="vfes-list--simple vfes-align--center">
                                            <li>S.O Android 8.1</li>
                                            <li>Pantalla 6,1"</li>
                                            <li>Velocidad 4G+</li>
                                            <li>Cámara Dual 12Mp</li>
                                        </ul>
                                    </div>
                                    <button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
                                        aria-expanded="false" aria-controls="card-shop-accordion2"
                                        title="Ver características">Ver características</button>
                                </div>
                                <div class="vfes-card-shop__bottom">
                                    <a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
                                        data-analytics-element="mas informacion" data-analytics-category="cta"
                                        data-analytics-context="samsung galaxy s10+ 128GB"
                                        href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s10-plus-negro-128gb-313594/"
                                        target="_self"
                                        title="Samsung Galaxy S10+ 128GB">Más información</a>
                                </div>
                            </section>
                        </div>
                    </li>

                    <!-- Terminal nº 5 -->

                    <li class="vfes-carousel__list-element js-carousel-list-element">
                        <section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
                            <div class="vfes-card-shop__offer">
                                <h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center">
                                    <a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-a90-5g-negro-128gb-313764/"
                                        target="_self" title="Samsung Galaxy A90">
                                        <strong>Samsung Galaxy A90</strong>
                                    </a>
                                </h2>
                                <p class="vfes-paragraph vfes-title--light vfes-align--center">Pack ilimitables 5G</p>
                                <img class="vfes-pv-" src="img/samsung-a90.png" alt="Samsung Galaxy A90" height="250">
                            </div>
                            <div class="vfes-card-shop__accordion">
                                <div id="card-shop-accordion3" class="vfes-card-shop__accordion-content"
                                    aria-hidden="true">
                                    <ul class="vfes-list--simple vfes-align--center">
                                        <li>S.O Android</li>
                                        <li>Pantalla 6,1"</li>
                                        <li>Velocidad 4G</li>
                                        <li>Cámara triple 13Mp + 13Mp</li>
                                    </ul>
                                </div>
                                <button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
                                    aria-expanded="false" aria-controls="card-shop-accordion3"
                                    title="Ver características">Ver características</button>
                            </div>
                            <div class="vfes-card-shop__bottom">
                                <p class="vfes-paragraph vfes-mb">Llévatelo con Hatch premium al precio de la tarifa móvil ilimitada total.</p>
                                <a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
                                    data-analytics-element="mas informacion" data-analytics-category="cta"
                                        data-analytics-context="Samsung Galaxy a90"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-a90-5g-negro-128gb-313764/"
                                    target="_self" title="Samsung Galaxy a90">Más información</a>
                            </div>
                            
                        </section>
                    </li>
                </ul>
            </div>

            <!-- Info -->

            <div class="vfes-layout__item vfes-layout--right">
                <a class="vfes-link measurec2c"
                    href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles-samsung/"
                    title="Ver todos los Smartphones: No soy cliente y quiero un móvil" target="_parent"
                    tabindex="0">Ver todos los Smartphones</a>
            </div>
        </div>
    </section>

    <!-- Footer Marcas -->

    <section class="vfes-layout vfes-layout--center">
        <div class="vfes-layout__wrapper">
            <div class="vfes-layout__item">
                <p class="vfes-title--5 vfes-align--center vfes-mb">Conoce los Smartphones de otras marcas:</p>
                <div class="box-companias">
                    <a class="vfes-1/1-palm logo-link"
                        href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/sony/"
                        title="Smartphones Sony" target="_self">
                        <img class="logo logo--disabled" src="img/logo-sony.png" alt="Smartphones Sony">
                    </a>
                    <a class="vfes-1/1-palm logo-link"
                        href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/lg/"
                        title="Smartphones LG" target="_self">
                        <img class="logo logo--disabled" src="img/logo-lg.png" alt="Smartphones LG">
                    </a>
                    <a class="vfes-1/1-palm logo-link" href="#" title="Smartphones Samsung" target="_self">
                        <img class="logo logo--active" src="img/logo-samsung.png" alt="Smartphones Samsung">
                    </a>
                    <a class="vfes-1/1-palm logo-link"
                        href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/huawei/"
                        title="Smartphones Huawei" target="_self">
                        <img class="logo logo--disabled" src="img/logo-huawei.png" alt="Smartphones Huawei">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
