<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content-packs5g" id="packs5g" style="display: none">
	<div class="vfes-layout vfes-colours-bg-light-grey">
		<section class="vfes-layout__wrapper vfms-main">
			<div class="vfes-layout__item vfes-2/3 vfes-1/1-mov">
				<h2 class="vfes-title vfes-title--2 vfes-title--light">Samsung Galaxy A90 5G Negro 128GB</h2>
				<div class="vfes-layout">
					<div class="vfes-layout__wrapper">
						<div class="vfes-layout__item vfes-1/2">
							<img src="img/galaxya90.png" alt="GalaxyA90" title="GalaxyA90">
						</div>
						<div class="vfes-layout__item vfes-1/2">
							<p class="vfes-paragraph vfms-nomarginbottom"><span class="vfes-title--light">El pack incluye:</span></p>
							<p class="vfes-paragraph"><span class="vfes-title--light">Datos ilimitados,</span></p>
							<p class="vfes-paragraph vfms-nomarginbottom"><span class="vfes-title--light">Llamadas ilimitadas,</span></p>
							<p class="vfes-paragraph vfms-nomarginbottom"><span class="vfes-title--light">SecureNet,</span></p>	
							<p class="vfes-paragraph vfms-nomarginbottom"><span class="vfes-title--light">Hatch Premium,</span></p>	
							<p class="vfes-paragrapht vfms-nomarginbottom"><span class="vfes-title--light">Gafas de RV.</span></p>	
							<div class="vfes-mt vfes-mb">
								<a class="vfes-link--no-chevron vfes-colours--vodafone-red vfms-main__link" href="#info">Ver todas las características</a>
							</div>
						</div>
					</div>
				</div>
				<p class="vfes-paragraph vfes-paragraph--small vfes-mt vfes-mb">*Oferta disponible únicamente para Portabilidades*</p>
			</div>   
			<div class="vfes-layout__item vfes-1/1">
				<p class="vfes-title vfes-title--4 vfes-title--light">Tarifa incluida en el Pack:</p>
				<div class='vfes-carousel vfes-carousel--small-gutter vfes-carousel--small-arrows' data-vfes-js='_carousel,_cardSelector' data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":970,"elements":1}},"build":{"arrows":false,"bullets":false,"clickable_bullets":false}}'>
					<ul class='vfes-carousel__list js-carousel-list'>
						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<button class="vfes-card vfes-card__selector js-card-selector-button active" data-selector="add">
								<svg class="icon vfes-card__selector-icon-plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-add-or-plus"></use>
								</svg>
								<svg class="icon vfes-card__selector-icon-tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-tick-or-solved"></use>
								</svg>
								<div class="vfes-card__selector-icon"></div>
								<div class="vfes-pt- vfes-pb- vfes-flex vfes-flex__direction--row-column-sm vfes-flex__justify--between  vfms-flexrow__md">
									<div class="vfes-flex">
										<div>
											<img src="img/svg/ic-sim.svg" alt="icono más líneas">
										</div>
										<div class="vfes-align--left">
											<p class="vfes-paragraph">Tarifa Móvil ilimitada Total</p>
											<p class="vfes-title vfes-title--5 vfes-title--bold">Datos ilimitados
												<svg height="16" width="25" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Velocidad</title><use class="icon-v3" xlink:href='#icon3-thunder-3'></use></svg>
											</p>
											<p class="vfes-paragraph">Minutos ilimitados</p>
										</div>
									</div>
									<div class="vfes-align--left vfes-ml vfes-mt- vfes-mb-">
										<p class="vfes-paragraph vfes-paragraph--small"><strong class="vfes-title--5">40,99€€</strong>/mes</p>
										<p class="vfes-paragraph vfes-paragraph--small">24 meses de permanencia</p>
									</div>
								</div>
							</button>
						</li>
					</ul>
				</div>	
			</div>
			<div class="vfes-layout__item vfes-1/1">
				<p class="vfes-title vfes-title--4 vfes-title--light">Accesorio incluido en el Pack:</p>
				<div class='vfes-carousel vfes-carousel--small-gutter vfes-carousel--small-arrows' data-vfes-js='_carousel,_cardSelector' data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":970,"elements":1}},"build":{"arrows":false,"bullets":false,"clickable_bullets":false}}'>
					<ul class='vfes-carousel__list js-carousel-list'>
						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<button class="vfes-card vfes-card__selector js-card-selector-button active" data-selector="add">
								<svg class="icon vfes-card__selector-icon-plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-add-or-plus"></use>
								</svg>
								<svg class="icon vfes-card__selector-icon-tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-tick-or-solved"></use>
								</svg>
								<div class="vfes-card__selector-icon"></div>
								<div class="vfes-p">
									<div class="vfes-flex vfes-flex__direction--row-column-sm vfms-flexrow__md">
										<div class="vfes-pb--mov vfes-pr">
											<img class="vfms-main__vr" src="img/gafas-vr.png" alt="gafas realidad virtual">
										</div>
										<div class="vfes-align--left vfms-main__fullwidth">
											<p class="vfes-paragraph">Homido</p>
											<div class="vfes-flex vfes-flex__direction--row-column-sm vfms-flexrow__md vfes-flex__justify--between">
												<p class="vfes-title vfes-title--5 vfes-title--bold">Gafas VR</p>
												<p class="vfes-title vfes-title--5 vfes-title--bold">GRATIS</p>
											</div>
											<p class="vfes-paragraph">0€ con Tarifa Móvil ilimitada Total</p>
										</div>
									</div>
								</div>
							</button>
						</li>
					</ul>
				</div>	
			</div>
			<div class="vfes-layout__item vfes-layout--relative vfes-1/1">
			<p class="vfes-title vfes-title--4 vfes-title--light">Servicios incluidos en el Pack:</p>
				<div class='vfes-carousel vfes-carousel--small-gutter vfes-carousel--small-arrows' data-vfes-js='_carousel,_cardSelector' data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2}},"build":{"arrows":true,"bullets":false,"clickable_bullets":true}}'>
					<ul class='vfes-carousel__list js-carousel-list'>
						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<button class="vfes-card vfes-card__selector active js-card-selector-button vfms-main__card--height" data-selector="add">
								<svg class="icon vfes-card__selector-icon-plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-add-or-plus"></use>
								</svg>
								<svg class="icon vfes-card__selector-icon-tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-tick-or-solved"></use>
								</svg>
								<div class="vfes-card__selector-icon"></div>
								<div class="vfes-p">
									<div class="vfes-flex vfes-flex__align-items--center">
										<img class="vfes-mr" src="img/svg/ic-game.svg" alt="icono hatch premium">
										<p class="vfes-title vfes-title--5 vfes-title--bold">Hatch Premium</p>
									</div>
									<p class="vfes-paragraph vfes-paragraph--large vfes-align--left">Plataforma para disfrutar de más de 160 videojuegos premium en tu móvil.</p>
									<p class="vfes-paragraph vfes-paragraph--large vfes-align--left"><span class="vfes-title vfes-title--bold">GRATIS</span>  durante 1 año.</p>
								</div>
							</button>
						</li>
						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<button class="vfes-card vfes-card__selector active js-card-selector-button vfms-main__card--height" data-selector="add">
								<svg class="icon vfes-card__selector-icon-plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-add-or-plus"></use>
								</svg>
								<svg class="icon vfes-card__selector-icon-tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px">
									<title>Tick</title>
									<use class="icon-v3" xlink:href="#icon3-tick-or-solved"></use>
								</svg>
								<div class="vfes-card__selector-icon"></div>
								<div class="vfes-p">
									<div class="vfes-flex vfes-flex__align-items--center vfes-mb--">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="vfes-mr" width="49" height="40" viewBox="0 0 192 192"><defs><symbol id="38e3dab0-2abf-4a47-86d2-44d984411342" data-name="Security_ic_mid" viewBox="0 0 192 192"><path d="M58,74V54c0-19.88,17-36,38-36h0c21,0,38,16.12,38,36V74" fill="none" stroke="#e60000" stroke-linejoin="round" stroke-width="4"/><g id="c0d2c69d-3a55-4fe2-9343-283b25faf407" data-name="&lt;Gruppe&gt;"><line id="61efd583-ca3e-4682-822c-d126132d1672" data-name="&lt;Pfad&gt;" x1="96" y1="114" x2="96" y2="142" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g><rect width="192" height="192" fill="none"/><g id="335c3c1f-7de9-46b8-8472-c2cd364c4dc0" data-name="Payment_ic"><rect x="34" y="74" width="124" height="100" rx="12" ry="12" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g><circle cx="96" cy="108" r="6" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>security-mid</title><g id="3b498c94-4383-4636-9e31-ffd1333226b2" data-name="ICON"><use id="45766081-9cdb-49ae-9d70-fa79792f5d57" data-name="Security_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#38e3dab0-2abf-4a47-86d2-44d984411342"/></g></svg>
										<p class="vfes-title vfes-title--5 vfes-title--bold">SecureNet</p>
									</div>
									<p class="vfes-paragraph vfes-paragraph--large vfes-align--left">Mantén seguro tu smartphone ante amenazas externas con el<span class="vfes-title vfes-title--bold"> antivirus integrado</span> en el servicio Secure Net. </p>
									<p class="vfes-paragraph vfes-paragraph--large vfes-align--left"><span class="vfes-title vfes-title--bold">GRATIS</span> durante 3 meses, después 1€/mes.</p>
								</div>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="vfes-layout__wrapper vfms-specs" id="info">
			<div class="vfes-layout__item vfes-mt+">
				<p class="vfes-title vfes-title--4 vfes-title--light vfes-align--left">¿Cómo es el Samsung Galaxy A90 5G Negro 128GB?</p>
				<div class="vfes-flex vfes-flex__direction--row-column-sm vfms-flexrow__md vfes-mt+ vfes-mt-palm vfes-mb+ vfes-mb-palm">
					<div class="vfes-flex vfms-flex__justify--evenly vfms-specs__device-container1">
						<img class="vfms-specs__device" src="img/a90-frontal.png" alt="samsung galaxy a90 frontal" title="Samsung galaxy A90 frontal">
						<img class="vfms-specs__device" src="img/a90-trasera.png" alt="samsung galaxy a90 trasera" title="Samsung Galaxy A90 trasera">
					</div>
					<div class="vfms-specs__device-container2">
						<img class="vfms-specs__device" src="img/a90-lateral.png" alt="samsung galaxy a90 lateral" title="Samsung Galaxy A90 lateral">
					</div>
				</div>
			</div>
			<div class="vfes-flex vfes-flex__direction--row-column-reverse-sm vfms-flexrow__md">
				<div class="vfes-layout__item vfms-specs__description vfes-1/2 vfes-1/1-mov vfes-mt-mov vfes-mr">
					<p class="vfes-paragraph">Descubre el <span class="vfes-title--bold">Samsung Galaxy A90</span></p>
					<p class="vfes-paragraph">Encuentra todo lo que buscas y mucho más, en este móvil de diseño atractivo, que satisface tus necesidades del día a día, con el mejor rendimiento y durabilidad.</p>
					<p class="vfes-paragraph">Captura los mejores momentos haciendo fotos con su <span class="vfes-title--bold">cámara 45 megapíxeles</span>, y guárdalas sin problemas en sus <span class="vfes-title--bold">128GB de memoria interna</span>. Y por si fuera poco, con una pantalla de 6,5 pulgadas en resolución 1080x2400 y un tamaño de 76,4 x 164,8 x 6,5 mm.</p>
				</div>
				<div class="vfes-layout__item vfms-specs__table vfes-1/2 vfes-1/1-mov">
				<p class="vfes-title vfes-title--5 vfes-title--center vfes-title--bold hide--tb">Características técnicas</p>
					<div class="vfes-layout">
						<div class="vfes-layout__wrapper vfms-specs__line vfes-pb-">
							<div class="vfes-layout__item vfes-1/2">
								<div class="vfes-flex vfes-flex__align-items--start">
									<img class="vfms-icon vfes-mr--" src="img/svg/ic-android.svg" alt="icono android">
									<p class="vfes-paragraph vfes-paragraph--left"><span class="vfes-title--bold">Sistema</span></p>
								</div>
							</div>
							<ul class="vfes-layout__item vfes-1/2">
								<li> <p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Sistema Operativo ANDROID</p></li>
								<li> <p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Procesador Ocho núcleos (Dual 2.0GHz+ Hexa 1.7GHz)</p></li>
								<li> <p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Seguridad Huella dactilar en pantalla</p></li>
							</ul>
						</div>
						<div class="vfes-layout__wrapper vfms-specs__line vfes-pb- vfes-pt-">
							<div class="vfes-layout__item vfes-1/2">
								<div class="vfes-flex vfes-flex__align-items--start">
									<img class="vfms-icon vfes-mr--" src="img/svg/ic-conect.svg" alt="icono conectividad" title="icono conectividad">
									<p class="vfes-paragraph vfes-paragraph--left"><span class="vfes-title--bold">Conectividad</span></p>
								</div>
							</div>
							<ul class="vfes-layout__item vfes-1/2">
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Red Móvil 5G</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">WIFI 802.11 a/b/g/n/ac2.4G+5GHz, VHT80</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Bluetooth Sí</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">GPS Sí</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">NFC Sí</p></li>
							</ul>
						</div>
						<div class="vfes-layout__wrapper vfms-specs__line vfes-pb- vfes-pt-">
							<div class="vfes-layout__item vfes-1/2 vfes-1/3-palm vfes-1/3-mov">
								<div class="vfes-flex vfes-flex__align-items--start">
									<img class="vfms-icon vfes-mr--" src="img/svg/ic-screen.svg" alt="icono pantalla" title="especificaciones pantalla">
									<p class="vfes-paragraph vfes-paragraph--left"><span class="vfes-title--bold">Pantalla</span></p>
								</div>
							</div>
							<ul class="vfes-layout__item vfes-1/2 vfes-2/3-palm vfes-2/3-mov">
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Tamaño 6.5"</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Resolución 1080x2400 FHD+</p></li>
							</ul>
						</div>
						<div class="vfes-layout__wrapper vfms-specs__line vfes-pb- vfes-pt-">
							<div class="vfes-layout__item vfes-1/2 vfes-1/3-palm vfes-1/2-mov">
								<div class="vfes-flex vfes-flex__align-items--start">
									<img class="vfms-icon vfes-mr--" src="img/svg/ic-camera.svg" alt="icono camara" title="especificaciones cámara">
									<p class="vfes-paragraph vfes-paragraph--left"><span class="vfes-title--bold">Cámara</span></p>
								</div>
							</div>
							<ul class="vfes-layout__item vfes-1/2 vfes-2/3-palm vfes-1/2-mov">
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Frontal 32 Mp</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Trasera 45 Mp</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Extras Triple cámara trasera 45 MP + 5 MP + 8 MP</p></li>
							</ul>
						</div>
						<div class="vfes-layout__wrapper vfms-specs__line vfes-pb- vfes-pt-">
							<div class="vfes-layout__item vfes-1/2">
								<div class="vfes-flex vfes-flex__align-items--start">
									<img class="vfms-icon vfes-mr--" src="img/svg/ic-memory.svg" alt="icono memoria" title="especificaciones memoria">
									<p class="vfes-paragraph vfes-paragraph--left"><span class="vfes-title--bold">Memoria</span></p>
								</div>
							</div>
							<ul class="vfes-layout__item vfes-1/2">
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Interna 128 GB</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Máxima memoria ampliable 512 GB</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">RAM 6 GB</p></li>
							</ul>
						</div>
						<div class="vfes-layout__wrapper vfms-specs__line vfes-pb- vfes-pt-">
							<div class="vfes-layout__item vfes-1/2">
								<div class="vfes-flex vfes-flex__align-items--start">
									<img class="vfms-icon vfes-mr--" src="img/svg/ic-battery.svg" alt="icono bateria" title="especificaciones bateria">
									<p class="vfes-paragraph vfes-paragraph--left"><span class="vfes-title--bold">Batería</span></p>
								</div>
							</div>
							<ul class="vfes-layout__item vfes-1/2">
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Capacidad 4500 mAh</p></li>
							</ul>
						</div>
						<div class="vfes-layout__wrapper vfes-pt-">
							<div class="vfes-layout__item vfes-1/2">
								<div class="vfes-flex vfes-flex__align-items--start">
									<img class="vfms-icon vfes-mr--" src="img/svg/ic-size.svg" alt="icono medidas" title="especificaciones medidas">
									<p class="vfes-paragraph vfes-paragraph--left"><span class="vfes-title--bold">Medidas</span></p>
								</div>
							</div>
							<ul class="vfes-layout__item vfes-1/2">
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Peso 206 gr</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Alto 164.8 mm</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Ancho 76.4 mm</p></li>
								<li><p class="vfes-paragraph vfes-paragraph--right vfes-paragraph--small">Grosor 6.5 mm</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</section>
		{{!-- ticket --}}
		<section class="vfes-layout__wrapper">
			<div class="vfes-layout__item vfes-1/3 vfes-1/1-palm vfes-1/1-mov vfms-ticket">
					<article class="vfes-card vfes-card__list js-configurator-ticket vfes-colours-bg-vodafone-white" data-vfms-js="_common" data-common-function="accordion">
                        <button class="vfms-ticket__dropdown-button js-ticket-dropdown" data-vfes-js="_common" data-common-function="dropdown" aria-controls="ticket-dropdown" aria-expanded="true"><span class="vfes-paragraph js-common-dropdown-hide"><svg class="icon vfes-icon__button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="28px"><title>Tick</title><use class="icon-v3" xlink:href="#icon3-chevron-down"></use></svg></span><span class="vfes-paragraph js-common-dropdown-show"><svg class="icon vfes-icon__button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="28px"><title>Tick</title><use class="icon-v3" xlink:href="#icon3-chevron-up"></use></svg></span></button>
                        <div id="ticket-dropdown" class="vfms-ticket__body js-ticket-body" aria-hidden="false">
                             <div class="vfes-card__list-header">
                                <div class="vfes-card__list-paragraphs">
                                    <p class="vfes-paragraph">Resumen de compra</p>
                                </div>
                            </div>
                            <div class="vfes-card__list-container">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 192 192"><defs><symbol id="b72c2309-f081-4476-80d3-91b0b45ddd67" data-name="Mobile_ic_mid" viewBox="0 0 192 192"><line x1="84" y1="158" x2="108" y2="158" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect x="50" y="18" width="92" height="156" rx="14" ry="14" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>mobile-mid</title><g id="ab6a2f1a-4b94-4c55-8a77-5cb818d7cf46" data-name="ICON"><use id="be6cc9c3-70cf-4b16-93e1-a8b0b018c97e" data-name="Mobile_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#b72c2309-f081-4476-80d3-91b0b45ddd67"/></g></svg>
						<div class="vfes-card__list-paragraphs">
							<p class="vfes-paragraph">Teléfono móvil</p>
							<button class="vfes-card__list-button" data-vfes-js="_common" data-common-function="dropdown" aria-controls="card-content0">
								<span class="vfes-paragraph vfes-paragraph__down js-common-dropdown-show">Más info 
									<svg class="icon vfes-icon__button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
										<title>Tick</title>
										<use class="icon-v3" xlink:href="#icon3-chevron-down"></use>
									</svg>
								</span>
								<span class="vfes-paragraph vfes-paragraph__up js-common-dropdown-hide">Menos info 
									<svg class="icon vfes-icon__button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
										<title>Tick</title>
										<use class="icon-v3" xlink:href="#icon3-chevron-up"></use>
									</svg>
								</span>
							</button>
						</div>
						<p class="vfes-paragraph vfes-card__list-price"><strong>0€/mes</strong></p>
							</div>
							<div id="card-content0" class="vfes-card__list-content vfes-colours-bg-light-gray" aria-hidden="false">
								<div class="vfes-card__list-content-title">
									<p class="vfes-paragraph vfes-flex-1">Samsung</p>
								</div>
								<ul class="vfes-card__list-list">
									<li>- Samsung Galaxy A90 5G Negro128GB</li>
									<li>- 24 meses + 0€ pago inicial</li>
								</ul>
							</div>

                        </div>
                        <div class="vfes-card__list-footer">
                            <p class="vfes-paragraph--large vfes-mb0 hide">Precio inicial: <span class="vfes-title--5 vfes-title--bold js-ticket-initial-pay">€/mes</span></p>
                            <p class="vfes-title--5">Total: <span class="vfes-title--4"><strong class="js-ticket-final-price">€/mes</strong></span></p>
                            <a data-analytics-category="link" data-analytics-context="configurador particulares" data-analytics-element="quiero esta tarifa" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&amp;tta=1&amp;tcli=0&amp;tcon=0&amp;ec=0&amp;tal=2&amp;sap=11111&amp;m=0&amp;tar=168444492" class="vfes-button vfes-button--primary js-ticket-link" title="quiero esta tarifa">Quiero esta tarifa</a>
                        </div>
                    </article>
			</div>
		</section>			
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
