{{!-- CAROUSEL SECTION --}}
<section class="ws10-o-wrapper ws10-u--mt8x ws10-u--mb8x">
	<h2 class="ws10-u-heading--4"><strong>Todos los contenidos de HBO España están en Vodafone</strong></h2>
	<div class="ws10-o-layout">
		<div class="ws10-o-layout__item ws10-u--1/2@desktop">
			<div>
				<p>Los últimos estrenos en simultáneo con EE.UU., nuevas temporadas de Westworld, Killing Eve, temporadas completas de las series más icónicas como Juego de Tronos, Los Soprano, y mucho más.</p>
				<p>HBO España está incluido en los Packs de TV Seriefans y Serielovers.</p>
			</div> 
			<div class="ws10-c-card-discovery-standard-full-width__content-bottom">
				<a class="ws10-c-link-chevron ws10-c-link-chevron--fresh-orange ws10-c-card-discovery-standard-full-width__content-bottom-item ws10-u--mr3x" href="http://">
					Ver Pack Seriefans
					<span class="ws10-u--hidden-visually">Ver Pack Seriefans</span> 
					<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
						<title>Flecha derecha</title>
						<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
					</svg>
				</a>
				<a class="ws10-c-link-chevron ws10-c-link-chevron--fresh-orange ws10-c-card-discovery-standard-full-width__content-bottom-item" href="http://">
					Ver Pack Serielovers
					<span class="ws10-u--hidden-visually">Ver Pack Serielovers</span> 
					<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
						<title>Flecha derecha</title>
						<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="ws10-o-layout__item ws10-u--1/2@desktop">
			<div class="ws10-c-carousel-cover"
					data-ws10-js="carousel-cover"
					data-ws10-config='{"autoAnim": true}'>
				<ul class="ws10-c-carousel-cover__list">
				<li class="ws10-c-carousel-cover__item js-carousel-cover-item">
					<img src="https://via.placeholder.com/200x300/E60000/FFFFFF"
						class="ws10-c-carousel-cover__img"
						alt="">
				</li>
				<li class="ws10-c-carousel-cover__item js-carousel-cover-item">
					<img src="https://via.placeholder.com/200x300/E60000/FFFFFF"
						class="ws10-c-carousel-cover__img"
						alt="">
				</li>
				<li class="ws10-c-carousel-cover__item js-carousel-cover-item">
					<img src="https://via.placeholder.com/200x300/E60000/FFFFFF"
						class="ws10-c-carousel-cover__img"
						alt="">
				</li>
				<li class="ws10-c-carousel-cover__item js-carousel-cover-item">
					<img src="https://via.placeholder.com/200x300/E60000/FFFFFF"
						class="ws10-c-carousel-cover__img"
						alt="">
				</li>
				<li class="ws10-c-carousel-cover__item js-carousel-cover-item">
					<img src="https://via.placeholder.com/200x300/E60000/FFFFFF"
						class="ws10-c-carousel-cover__img"
						alt="">
				</li>

				</ul>
			</div>
		</div>
	</div>
</section>