<section class="ws10-o-wrapper">  
    <div class="ws10-o-layout">
        <div class="ws10-o-layout__item ws10-u--1/2@tablet">
            <div>
                <h2 class="ws10-u-heading--4"><strong>Descubre todo el contenido de HBO España</strong></h2>
                <p>Disfruta ahora con Vodafone TV de todas las series y películas de HBO España. Las temporadas completas de las series más populares: Juego de Tronos, True Detective o Girls hasta clásicos modernos como Los Soprano o Sexo en Nueva York. Todo el catálogo de HBO disponible para que nuestros clientes puedan disfrutar en streaming del mejor contenido audiovisual del momento. Además descubrirás todas las producciones propias de HBO.</p>
                <p>El servicio también cuenta con una completa selección de programación para toda la familia.</p>
                <p>¡No te lo pierdas y hazte ahora con el pack seriefans y pack serielovers con Vodafone!</p>
            </div> 
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@tablet">
            <div>
                <picture>
                    <source srcset="img/imagen.webp" type="image/webp">
                    <source srcset="img/imagen.png" type="image/png">
                    <img src="img/imagen.webp" alt="El texto de accesibilidad va aquí" >
                </picture>
            </div> 
        </div>
    </div>
</section>