{{!-- HERO BANNER --}}
<section class="ws10-c-header-secondary" data-analytics-context="header">
	<picture>
		<source media="(min-width: 768px)" srcset="">
		<source media="(min-width: 1024px)" srcset="">
		<img src="" alt="Texto descriptivo" class="ws10-c-header-secondary__img">
	</picture>
	<div class="ws10-o-wrapper">
		<div class="ws10-c-header-secondary__i">
			<div class="ws10-o-layout">
				<div class="ws10-o-layout__item ws10-u--6/12@tablet">
					<section class="ws10-c-title-header">
						<h1 class="ws10-c-title-header__pretitle">HBO España</h1>
						<p class="ws10-c-title-header__title ws10-c-header-secondary__title">Las mejores series, cine y contenidos para toda la familia</p>
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
