{{!-- NEW --}}
<div class="ws10-o-wrapper"> 
	<section class="ws10-c-card-discovery-standard-full-width-title ws10-c-card-discovery-standard-full-width-title--dark">
		<picture class="ws10-c-card-discovery-standard-full-width-title__picture">
			<source media="(min-width:px)" srcset="">
			<source media="(min-width:px)" srcset="">
			<img src="" alt="texto imagen" class="ws10-c-card-discovery-standard-full-width-title__image">
		</picture>
		<div class="ws10-c-card-discovery-standard-full-width-title__content">
			<b class="ws10-c-badge ws10-c-badge--medium ws10-c-badge--turquoise ws10-c-card-discovery-standard-full-width-title__badge">
				¡Nuevo!
			</b>
			<div class="ws10-c-title-header ws10-c-title-header--dark ws10-c-card-discovery-standard-full-width-title__title">
				<p class="ws10-c-title-header__title">
					Patria, la nueva serie ya en Vodafone.
				</p>
			</div>
			<p class="ws10-c-card-discovery-standard-full-width-title__text">
				Adaptación de la novela de Fernando Aramburu que nos trae la historia de dos amigas separadas por el terrorismo de ETA. El día en que ETA anuncia el abandono de las armas, Bittori decide volver al pueblo para buscar la verdad sobre el asesinato de su marido, el Txato.
			</p>
			<a class="ws10-c-link-chevron ws10-c-link-chevron--fresh-orange" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/contenidos-television/series/patria/">
				Más info
				<span class="ws10-u--hidden-visually"> Patria</span>
				<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
					xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
					<title>Flecha derecha</title>
					<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
				</svg>
			</a>
		</div>
	</section>
</div>