<section class="ws10-c-hero-tabs ws10-u-color--bg-dark-grey ws10-u-color--white" data-ws10-js='hero-tabs'>
    <ul class="ws10-c-hero-tabs__list" role="tablist" data-ws10-tab="tab-container" data-responsive="20">
        <li class="ws10-c-hero-tabs__list-item" aria-selected="true" role="tab">
            <button class="ws10-c-hero-tabs__tab ws10-u-color--white" data-ws10-selected='true' type="button"
                aria-controls="tab-content1 image1" role="button">Vodafone TV</button>
        </li>
        <li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
            <button class="ws10-c-hero-tabs__tab ws10-u-color--white" data-ws10-selected='false' type="button"
                aria-controls="tab-content2 image2" role="button">Ordenador</button>
        </li>
        <li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
            <button class="ws10-c-hero-tabs__tab ws10-u-color--white" data-ws10-selected='false' type="button"
                aria-controls="tab-content3 image3" role="button">Móvil y tablet</button>
        </li>
    </ul>

    <picture id="image1" class="ws10-c-hero-tabs__picture" aria-expanded="true" title="Título de imagen 1"
        aria-label="Descripción de la imagen 1" data-ws10-tab="1">
        <source media="(min-width:1024px)" srcset="">
        <source media="(min-width:768px)" srcset="">
        <img class="ws10-c-hero-tabs__picture-img" role="img" src="" alt="imagen 1">
    </picture>
    <picture id="image2" class="ws10-c-hero-tabs__picture" aria-expanded="false" title="Título de imagen 2"
        aria-label="Descripción de la imagen 2" data-ws10-tab="2">
        <source media="(min-width:1024px)" srcset="">
        <source media="(min-width:768px)" srcset="">
        <img class="ws10-c-hero-tabs__picture-img" role="img" src="" alt="imagen 2">
    </picture>
    <picture id="image3" class="ws10-c-hero-tabs__picture" aria-expanded="false" title="Título de imagen 3"
        aria-label="Descripción de la imagen 3" data-ws10-tab="3">
        <source media="(min-width:1024px)" srcset="">
        <source media="(min-width:768px)" srcset="">
        <img class="ws10-c-hero-tabs__picture-img" role="img" src="" alt="imagen 3">
    </picture>

    <div id="tab-content1" class="ws10-c-hero-tabs__content ws10-u-color--white" role="tabpanel" aria-expanded="true" data-ws10-tab="1">
        <h3 class="ws10-c-hero-tabs__content-title ws10-u-color--white">Con decodificador de Vodafone TV</h3>
        <p class="ws10-c-hero-tabs__content-body ws10-u-color--white">Puedes acceder a los contenidos de HBO España desde el menú de aplicaciones de tu decodificador de Vodafone TV, abrir la app e iniciar sesión con las credenciales (usuario y contraseña) de HBO España.</p>
    </div>
    <div id="tab-content2" class="ws10-c-hero-tabs__content ws10-u-color--white" role="tabpanel" aria-expanded="false" data-ws10-tab="2">
        <h3 class="ws10-c-hero-tabs__content-title ws10-u-color--white">HBO España desde tu Ordenador</h3>
        <p class="ws10-c-hero-tabs__content-body ws10-u-color--white">Puedes acceder desde el ordenador (PC o Mac) introduciendo la URL hboespana.com en cualquier navegador (Chrome, Safari, Firefox e Internet Explorer) y a continuación iniciar sesión con las credenciales (usuario y contraseña) de HBO España.</p>
    </div>
    <div id="tab-content3" class="ws10-c-hero-tabs__content ws10-u-color--white" role="tabpanel" aria-expanded="false" data-ws10-tab="3">
        <h3 class="ws10-c-hero-tabs__content-title ws10-u-color--white">Disfruta de HBO España en cualquier lugar</h3>
        <p class="ws10-c-hero-tabs__content-body ws10-u-color--white">Para ver los contenidos de HBO España desde el smartphone y tablet, depende de si tienes sistema Android o iOS:</p>
        <p>Accede a la PlayStore (Android) y AppStore (iOS) y descarga la aplicación de HBO España, después inicia sesión con tus credenciales de HBO España.</p>
    </div>
</section>