<link href="css/ws2r.v13.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset/>

    <!-- Otros packs-->
    <div class="vfes-layout vfms-lines">
        <div class="vfes-layout__wrapper">
            <div class="vfes-layout__item">
                <div class="vfes-cards-standard vfes-color-bg-vodafone-white vfes-box-shadow vfms-banner">
                    <div class="vfms-fullimg">
                    <img src="img/img_bannertv_home.jpg" data-vfes-inline-asset>
                    </div>
                    <div class="vfes-cards-standard__text vfms-text-banner">
                        <div class="vfms-flex--banner">
                            <h3 class="vfes-title vfes-title--bold vfes-title--3">Elige otros contenidos de Vodafone TV
                            </h3>
                            <p class="vfes-paragraph vfes-paragraph--large">Llévate los contenidos de televisión que más te gustan: Netflix, Pack Documentales o Pack Peques.</p>
                        </div>
                        <div>
                            <button type="button" class="vfes-button vfes-button--primary vfms-button--banner" data-analytics-context="one ilimitada super" onclick="window.parent.document.ws_popup.open3('Netflix, Pack Documentales o Pack Peques', '11,99€/mes');"  data-analytics-element="Compra facil" data-analytics-category="cta"  title="Compra facil: One Ilimitada Super">Me interesa <span class="visually-hidden">:<span data-vfes-remote-text="data.tarifas.particulares.convergente[3].nombre"></span></span></button>
                        </div>
                                 
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>