// CSS del microsite
.vfes-ms-content {
    a {
        text-decoration: none;
    }
    // Walmeric form styles
    .vfes-layout.vfms-banner {
        @media screen and (min-width: 1280px) {
            padding-top: 30px;
        }
        .vfms-banner-img-background {
            position: absolute;
            @media screen and (min-width: 768px) and (max-width: 1280px) {
                width: 250px;
            }
        }
        .vfms-banner-form {
            @media screen and (min-width: 768px) {
                padding-right: 20px;
            }
            @media screen and (min-width: 1280px) {
                padding-right: 0px;
            }
            .vfms-banner-form-container {
                border-radius: 6px;
                @media screen and (min-width: 1280px) {
                    width: 231px;
                    margin-left: auto;
                }
                form {
                    padding: 16px;
                    border-radius: 6px;
                    border: solid 1px #ffffff;
                    .vfes-modal__head-form {
                        .vfms-modal__head-form-clain {
                            font-size: 16px;
                        }
                    }
                    .vfes-box--form {
                        margin: 16px 0;
                        .vfes-form__input {
                            margin: 5px 0;
                            font-size: 14px;
                        }
                        .vfms-form__checks-space {
                            margin-bottom: 15px;
                            label {
                                font-size: 12px;
                                #condiciones {
                                    margin-left: 2px;
                                    text-decoration: underline;
                                }
                            }
                        }
                        input[type="submit"] {
                            font-size: 16px;
                            box-shadow: none;
                            @media screen and (min-width: 768px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    /*Banner Mini*/
    .vfes-layout.vfms-banner.ilimitada {
        background-image: linear-gradient(to bottom, #851106, #760d04);
        // background-image: linear-gradient(to bottom, #910900, #c41005);
        .vfms-banner-info {
            @media screen and (min-width: 768px) {
                padding-right: 20px;
            }
            .vfms-offer-price-container {
                width: 60%;
                margin: 0 auto 15px;
                padding: 16px;
                color: #fff;
                @media screen and (min-width: 1024px) {
                    position: absolute;
                    top: 30%;
                    width: 35%;
                    margin: 0 auto 52px;
                }
                .vfms-offer-price {
                    position: relative;
                    padding: 16px 0;
                    .vfms-offer-price-new-container {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #fff;
                        // box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem #CA3F63, inset 0 0 2rem #CA3F63, 0 0 4rem #CA3F63, inset 0 0 4rem #CA3F63;
                        box-shadow: 1px 0 16px #C61745, inset 0 0 16px #C61745, 0 0 16px #C61745, inset 0 0 16px #C61745;
                        transform: perspective(400px) translateX(-20px) rotateY(45deg);
                    }
                    .vfms-offer-price-text {
                        font-size: 16px;
                        margin-bottom: 0;
                        transform: translateX(20px);
                        position: relative;
                        z-index: 2;
                        @media screen and (min-width: 1024px) {
                            font-size: 32px;
                        }
                    }
                    .vfms-offer-price-number {
                        display: flex;
                        align-items: center;
                        transform: translateX(20px);
                        &--big {
                            font-size: 50px;
                            @media screen and (min-width: 1024px) {
                                font-size: 100px;
                            }
                        }
                        &--small {
                            display: flex;
                            flex-direction: column;
                            .vfms-number-small-item:nth-child(1) {
                                font-size: 20px;
                                @media screen and (min-width: 1024px) {
                                    font-size: 40px;
                                }
                            }
                            .vfms-number-small-item:nth-child(2),
                            .vfms-number-small-item:nth-child(3) {
                                font-size: 6px;
                                margin-left: 5px;
                                @media screen and (min-width: 1024px) {
                                    font-size: 12px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    .vfms-offer-price-new-features {
                        font-size: 14px;
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
            .vfms-banner-info-img {
                display: none;
                @media screen and (min-width: 1280px) {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 9rem;
                }
            }
            .vfms-banner-info-container {
                background: #fff;
                border-radius: 6px;
                margin-bottom: 25px;
                padding: 15px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                @media screen and (min-width: 1280px) {
                    padding: 18px 30px;
                    margin-left: auto;
                    width: 60%;
                    margin-bottom: 0;
                }
                .vfms-banner-copy {
                    text-align: center;
                    margin-bottom: 16px;
                    font-size: 20px;
                    @media screen and (min-width: 768px) {
                        text-align: left;
                        font-size: 26px;
                    }
                }
                .vfms-offer-details {
                    text-align: right;
                    .vfms-offer-details-link {
                        text-decoration: underline;
                    }
                }
                // Listado de características de la oferta
                .vfms-rate-features {
                    position: relative;
                    .vfms-rate-features-item {
                        display: flex;
                        margin-bottom: 7px;
                        align-items: center;
                        .vfms-features-icon {
                            svg {
                                @media screen and (min-width: 768px) {
                                    width: 36px;
                                    height: 36px;
                                }
                                use {
                                    color: #e60000;
                                }
                            }
                        }
                        .vfms-rate-feature-description {
                            padding-left: 8px;
                            .vfms-feature-description-title {
                                margin-bottom: 0;
                                font-size: 16px;
                                span {
                                    font-size: 16px;
                                    @media screen and (min-width: 768px) {
                                        font-size: 20px;
                                    }
                                }
                            }
                            .vfms-feature-description-text {
                                font-size: 14px;
                                @media screen and (min-width: 768px) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                .vfms-banner-rate-info {
                    display: flex;
                    flex-direction: column;
                    .vfms-banner-rate-offer-info {
                        // border-radius: 6px;
                        // border: solid 1px #b7e0cd;
                        // background-color: #ffffff;
                        margin-top: 18px;
                        margin-bottom: 18px;
                        .vfms-banner-rate-offer-info-conditions {
                            display: flex;
                            padding: 4px 0;
                            background-color: #b7e0cd;
                            .vfms-banner-rate-offer-info-conditions-box {
                                display: inline-flex;
                                flex-direction: column;
                                margin: 0 auto;
                                @media screen and (min-width: 768px) {
                                    margin-left: 135px;
                                }
                                @media screen and (min-width: 1280px) {
                                    margin-left: 147px;
                                }
                                .vfms-banner-rate-offer-info-conditions-large {
                                    font-size: 24px;
                                    .vfms-banner-rate-offer-info-conditions-small {
                                        font-size: 16px;
                                    }
                                }
                                .vfms-banner-rate-offer-info-conditions-medium {
                                    font-size: 14px;
                                }
                            }
                        }
                        .vfms-banner-rate-offer-info-price {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 0;
                            .vfms-banner-rate-offer-info-price-box {
                                margin-bottom: 13px;
                                .vfms-banner-rate-offer-info-price-large {
                                    font-size: 36px;
                                }
                                .vfms-banner-rate-offer-info-price-small {
                                    font-size: 18px;
                                }
                            }
                            // .vfms-banner-rate-offer-info-price-button-content {
                            //     .vfms-banner-offer-contract {
                            //         padding: 8px 30px;
                            //     }
                            // }
                        }
                    }
                    .vfms-banner-rate-price {
                        display: flex;
                        flex-direction: column;
                        .vfms-banner-rate-text {
                            font-size: 14px;
                            @media screen and (min-width: 1280px) {
                                width: 100%;
                            }
                        }
                        .vfms-banner-rate-price-big-num {
                            font-size: 32px;
                            @media screen and (min-width: 1280px) {
                                font-size: 43px;
                            }
                            .vfms-banner-rate-small-num {
                                font-size: 24px;
                            }
                            .vfms-iva {
                                margin-left: 8px;
                            }
                        }
                        .vfms-banner-rate-small-num {
                            font-size: 24px;
                        }
                        .vfms-iva {
                            font-size: 14px;
                        }
                    }
                }
                .vfms-banner-mobile-offer-container {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-rows: 1fr auto;
                    .vfms-mobile-img {
                        grid-column-start: 1;
                        grid-column-end: 1;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        @media screen and (min-width: 1280px) {
                            grid-column-start: 1;
                            grid-column-end: 1;
                            grid-row-start: 1;
                            grid-row-end: -1;
                        }
                        img {}
                    }
                    .vfms-banner-mobile-offer-info-content {
                        grid-column-start: 2;
                        grid-column-end: -1;
                        grid-row-start: 1;
                        grid-row-end: 2;
                        display: flex;
                        align-items: flex-start;
                        padding-left: 10px;
                        @media screen and (min-width: 1280px) {
                            grid-column-start: 2;
                            grid-column-end: -1;
                            grid-row-start: 1;
                            grid-row-end: 2;
                        }
                        .vfms-banner-mobile-offer-info {
                            .vfms-banner-mobile-offer-model {
                                display: flex;
                                flex-direction: column;
                            }
                            .vfms-banner-mobile-offer-price {
                                .vfms-banner-mobile-offer-price-text {}
                            }
                        }
                    }
                    .vfms-banner-mobile-offer-button {
                        grid-column-start: 1;
                        grid-column-end: -1;
                        grid-row-start: 2;
                        grid-row-end: -1;
                        padding-top: 16px;
                        @media screen and (min-width: 768px) {
                            grid-column-start: 2;
                            grid-column-end: -1;
                            grid-row-start: 1;
                            grid-row-end: 2;
                            margin-top: auto;
                            margin-bottom: 22px;
                        }
                        .vfms-offer-details-contract {
                            @media screen and (min-width: 768px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    // Estilos para los modales
    .vfms-modal-title {
        padding-bottom: 10px;
        border-bottom: solid #333 1px;
    }
    .vfms-tarifaMovil {
        .vfms-modal-title {
            margin-bottom: 20px;
        }
        .vfms-offer-details-features-container {
            list-style: disc;
            padding-left: 20px;
            line-height: 1.5;
            .vfms-offer-details-features-item {
                .vfms-rate-features-container {
                    list-style: disc;
                    padding-left: 50px;
                }
            }
        }
    }
}