<link href="css/ws2r.v15.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html" />
<link href="css/styles.css" rel="stylesheet" data-microcss />

<div class="vfes-ms-content" id="home" style="display: none">

    <div class="vfms-banner-container vfes-layout vfes-pb0 vfes-colours-bg-light-grey">

        <!-- SECTION BANNER-->
        <div class="vfes-layout__wrapper vfes-pb vfes-pb---mov ">
            <div class="vfes-layout__item vfes-1/2 vfes-1/1-mov ">
                <p class="vfms-title-animation vfes-title--4 vfes-mb-" data-animation-element="category">Móvil + Fibra
                </p>
                <h2 class="vfes-title--1 vfes-4/4 vfes-1/1-mov vfes-mb0-mov vfms-banner-title">
                    <div class="vfms-title-animation" data-animation-element="1sentence">Los primeros con</div>
                    <div data-animation-element="2sentence" class="vfms-title-animation"><span
                            class="vfes-title--bold">datos ilimitados</span> y la</div>
                    <div data-animation-element="3sentence" class="vfms-title-animation"> <span
                            class="vfes-title--bold">TV</span> con <span class="vfes-title--bold">más contenidos</span>
                    </div>
                    <!--<p class="vfes-align--left vfms-decreto">En cumplimiento de las medidas decretadas por el Gobierno no es posible, en la fase actual, realizar instalaciones que requieran visita de técnico a domicilio o solicitar la portabilidad de fibra o fijo. Durante el proceso de venta, podrás solicitar cita de instalación a partir del 11 de mayo. </p>
                    -->
                </h2>
            </div>
            <div class="hide--xs vfms-animation vfes-layout__item vfes-1/2 vfes-1/1-mov">
                <div class="hide--xs vfms-animation--element vfms-animation--5" data-animation-element="sello">
                    <img src="img/animation/animation-sello.svg" alt="sello mejor precio Vodafone">
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--1" data-animation-element="imac">
                    <img src="img/animation/animation-imac.png" alt="ordenador imac de mesa" />
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--2" data-animation-element="ipad">
                    <img src="img/animation/animation-ipad.png" alt="ipad" />
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation vfms-animation--3"
                    data-animation-element="deco">
                    <img src="img/animation/animation-deco.png" alt="decodificador tv vodafone" />
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--4" data-animation-element="iphone">
                    <img src="img/animation/animation-iphone.png" alt="iphone">
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--6" data-animation-element="bolo">
                    <img src="img/animation/bolo_50_5meses.png"
                        alt="Oferta 50% de descuento durante los 6 primeros meses en tarifas ilimitadas">
                </div>
            </div>
        </div>
        <div class="vfms__banner-mobile">
            <img class="hide--tb " src="img/bodegon-mobile2.png"
                alt="Imagen que contiene diferentes dispositivos y la información de 50%& de descuento 3 meses en tarifas ilimitadas, mejor precio Vodafone.">
        </div>
        <div class="vfms-wave Background__WaveBottomWrapper-sc-19mgpxr-3 dVVMLq">
            <div class="Wave__WaveWrapper-o7bhc-0 crVjDe"><svg width="100%" height="100px" fill="none">
                    <path fill="#f4f4f4"
                        d="M 0 85.2514 C 315.313 86.2845 443.806 157.51 881.113 50.7109 C 1317.15 -55.9125 1318.42 33.4285 1536.31 69.3087 C 1818.67 115.154 2156.92 186.209 2560 85.2515 V 231.253 L 0 231.252 V 85.2514 Z">
                        <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="30s"
                            values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z; M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z; M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z; M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z">
                        </animate>
                    </path>
                </svg></div>
        </div>
        <div class="vfms-blur"></div>


    </div>
    <div class="vfms-content-container vfes-layout">
        <!--vfes-colours-bg-light-grey-->

        <div class="vfes-colours-bg-light-grey">

            <!-- SECTION ILIMITATED RATES-->
            <div data-vfes-inject-module="vfes-offer-ticket"></div>
            <div data-vfes-inject-module="vfes-offer-ticket"></div>

        </div>

        <!-- SECTION SIM -->

        <div class="vfms-sim vfes-colours-bg-light-grey">
            <div class="vfes-layout__wrapper vfes-pt+ vfes-pb+">
                <div class="vfes-layout__item vfes-box-shadow vfes-colours-bg-vodafone-white">
                    <div class="vfes-flex vfes-flex__direction--row vfes-flex__align-items--center vfes-p-">
                        <img src="img/icono-sim.svg" alt="icono tarjeta sim con un símbolo de 50%">
                        <div class="vfes-pl+">
                            <h3 class="vfes-title--bold vfes-title--4 vfes-mb0">Tráete tus líneas a Vodafone al 50% dto
                            </h3>
                            <p>Añade una o más líneas adicionales a tu contrato y disfruta del descuento</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SECTION YU -->

        <div class="vfms-sim vfes-colours-bg-light-grey vfes-pb+">
            <div class="vfes-layout__wrapper">
                <div class="vfes-layout__item vfes-box-shadow">
                    <div
                        class="vfes-flex  vfes-flex__direction--row-column-sm vfes-flex__justify--center vfes-flex__align-items--center">
                        <div class="vfes-flex vfes-flex__align-items--center vfes-p">
                            <img src="img/yu.svg" alt="icono YU">
                            <div class="vfes-pl+ vfms-yu-text">
                                <h3 class="vfes-title--bold vfes-title--4 vfes-mb0">Tarifas de fibra y móvil para
                                    jóvenes Vodafone YU</h3>
                                <p>Usa tus redes sociales y mensajería sin límites o vicia al Fornite sin lag con la
                                    Fibra 600Mb al mejor precio. Hazte yuser.</p>
                            </div>
                        </div>
                        <div class="vfms-yu">
                            <a href="https://yu.vodafone.es/tarifas-fibra-y-movil"
                                class="vfes-button vfes-button--primary" target="_new" data-analytics-element="mas info"
                                data-analytics-context="banner YU plp convergente"
                                data-analytics-product="YU convergente" data-analytics-category="cta">Más info <span
                                    class="visually-hidden">Más info </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SECTION NORMAL 4 STEPS-->
        <div class="vfms-why vfes-layout__item vfes-pt+ vfes-pb+">
            <div class="vfes-layout__wrapper vfes-flex vfes-flex__direction--column vfes-flex__justify--between">
                <h2 class="vfes-title vfes-title--3 vfes-align--center">Vodafone One: tarifas con Móvil y Fibra</h2>
                <ul class="vfes-flex vfes-flex__direction--row-column-sm vfes-flex__justify--around">
                    <li
                        class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-5g.svg" alt="icono 5g">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Red 5G</h3>
                        <p class="vfes-align--center">Navega a máxima velocidad con 5G. Descarga una serie en segundos,
                            juega online a tiempo real y disfruta de una calidad mayor de vídeo y voz.</p>
                    </li>
                    <li
                        class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-convergente.svg" alt="icono fibra y móvil">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Vodafone One</h3>
                        <p class="vfes-align--center">Móvil, fibra y fijo incluido. Y el pack de TV aparte para que
                            puedas configurar tu televisión eligiendo tu contenido favorito.</p>
                    </li>
                    <li
                        class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-fibra.svg" alt="icono fibra">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Fibra óptica</h3>
                        <p class="vfes-align--center">La instalación al igual que el módem, es gratuita y rápida pero no
                            tanto como la fibra con la que podrán conectarse sin perder velocidad varios dispositivos a
                            la vez. Además, al ser fibra óptica simétrica tendrás los mismos megas de subida que de
                            bajada.</p>
                    </li>
                    <li
                        class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-paquetes.svg" alt="icono paquetes">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Paquetes Vodafone</h3>
                        <p class="vfes-align--center">Configura tu paquete para que incluya fibra, móvil y televisión.
                            Añade las líneas que necesites y elige el pack de televisión que se adapte a tus gustos.</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- SECTION BANNER SEO-->
        <div class="vfms-banner vfes-colours-bg-vodafone-white">
            <div class="vfes-layout__wrapper">
                <div class="vfes-layout__item">
                    <div
                        class="vfes-flex vfes-flex__direction--row-column-sm vfes-flex__align-items--center vfes-flex__justify--around vfes-pt+ vfes-pb+">
                        <div
                            class="vfms-banner-text vfes-flex vfes-flex__direction--column vfes-align--left vfes-pr+ vfes-pr0-mov">
                            <h2 class="vfes-title vfes-title--3 vfes-mb0 vfes-pb-">¡Con Vodafone One tendrás acceso a
                                las mejores <span class="vfes-title--bold">ofertas de tarifas de fibra y móvil!</span>
                            </h2>
                            <p class="vfes-paragraph vfes-paragraph--large vfes-mb0">Habla, navega o disfruta de vídeos
                                en streaming sin ataduras y a la máxima velocidad con nuestras tarifas de <span
                                    class="vfes-title--bold">datos ilimitados.</span> Con la instalación de nuestro
                                modem, gratuita y rápida, podrás conectar varios dispositivos al mismo tiempo.
                                En Vodafone hemos incluído el <span class="vfes-title--bold">5G en todas nuestras
                                    tarifas</span> para que toda la familia pueda disfrutar del mejor entretenimiento
                                con la máxima velocidad y estabilidad.
                                Además, <span class="vfes-title--bold">de regalo el Pack Seriefans con HBO España</span>
                                con nuestras tarifas ilimitadas.</p>
                        </div>
                        <img class="vfms-banner-img vfes-pb-mov" src="img/banner50.jpg"
                            alt="Madre e hija mirando un Ipad">
                    </div>
                </div>
            </div>
        </div>

        <!-- FAQS-->
        <div class="vfms-faqs vfes-layout__item vfes-pt- vfes-color-bg-vodafone-white">
            <div class="vfes-layout__wrapper vfes-pb+">
                <h3 class="vfes-title vfes-title--3 vfes-pt+ vfes-pt-mov vfes-align--center">Preguntas Frecuentes sobre
                    nuestras tarifas de datos ilimitados</h3>
                <div class="vfes-mt0-mov">

                    <div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
                        <div class="vfes-layout__item">

                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">¿Existe algún protocolo de
                                    seguridad para la instalación de fibra en casa?</button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            En Vodafone seguimos trabajando día a día para que puedas estar en casa y
                                            tener la
                                            mejor fibra siempre con la máxima seguridad. Pero si tienes dudas puedes
                                            consultar
                                            <a href="https://www.vodafone.es/c/protocolo-seguridad-instalaciones/"
                                                class="vfes-link vfes-link--no-chevron vfes-link--small vfes-color--vodafone-red"
                                                target="_new"> nuestra página<span class="visually-hidden">Protocolo
                                                    Seguridad instalaciones
                                                </span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">Cuando hablan de datos
                                    ilimitados, ¿existe algún límite? ¿y en Roaming?</button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            No existe un límite siempre que el uso comprenda en primer lugar el uso
                                            personal para fines del uso particular y para fines razonables. Así mismo,
                                            el uso responsable y no fraudulento En Roaming; Las tarifas ilimitadas en
                                            datos disfrutaran de minutos y mensajes ilimitados y Gigas limitados cuando
                                            viajen por Europa, Reino Unido y EE.UU. sin coste adicional. Los Gigas serán
                                            diferentes en función del tipo de tarifa. La tarifa Vodafone Ilimitada
                                            incluirá 16 GB, la tarifa Vodafone Ilimitada Súper incluirá 17 GB y la
                                            Vodafone Ilimitada Total de 19 GB. Superados los Gigas incluidos en roaming
                                            el precio del Giga será de 5,4€/GB.
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">¿Qué es y cómo puedo
                                    disfrutar del 5G?</button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">La red 5G o red de quinta generación, es una
                                            tecnología de red inalámbrica evolución de la red 4G+ LTE cuyas principales
                                            ventajas son alcanzar mayor velocidad y cobertura además de una menor
                                            latencia, que permite realizar usos que hasta ahora no se podían realizar en
                                            movilidad, como juegos online de alta calidad, aplicaciones de realidad
                                            virtual o de realidad aumentada, y acceso a la nube en tiempo real. La
                                            conexión 5G ya es una realidad en España para clientes Vodafone, para ello
                                            solo necesitarás una tarifa comercializable, un teléfono móvil 5G y estar
                                            bajo cobertura 5G, actualmente cubriendo el 50% de estas ciudades: Madrid,
                                            Barcelona, Valencia, Sevilla, Málaga, Pamplona, Bilbao, Zaragoza, Logroño,
                                            Vitoria, San Sebastián, Santander, Gijón, A Coruña y Vigo. ¡Ahora todas las
                                            tarifas móviles de Vodafone incluyen el 5G! La tecnología más novedosa para
                                            garantizar la máxima velocidad para navegar, consultar tus redes sociales,
                                            ver vídeos en streaming o jugar online.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>