<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="ilimitada-super-flash" style="display: none">
            	{{!-- Ilimitada Súper Flash--}}
	<section class="vfes-layout vfms-banner one ilimitada-flash">
        <div class="vfes-layout__wrapper vfms-one-wrapper">
			{{!-- Caja general con toda la oferta --}}
			<div class="vfes-layout__item vfes-1/1-mov vfes-2/3-palm vfes-3/4 vfes-color--vodafone-gray vfms-banner-info">
				<div class="vfms-bolus vfes-flex vfes-flex__direction-row vfes-flex__justify--center vfes-colours-bg-dark-grey">
					<div class="vfms-bolus__main">
						<span class="vfes-title--regular vfes-title--bold vfms-dto-md">-15€</span>
					</div>
					<div class="vfms-bolus__extra">
						<span class="vfes-title--bold vfms-bolus__extra-big">al mes</span>
					</div>
			
				</div>
				{{!-- Caja fondo blanco --}}
				<div class="vfms-banner-info-container">
					<h2 class="vfes-title vfes-title--regular vfes-colours--vodafone-red vfes-title--bold vfms-banner-copy">Vodafone
						ilimitada súper</h2>
						{{!-- Listado de caraterísticas --}}
					<ul class="vfms-rate-features">
							<li class="vfms-rate-features-item">
								<span class="vfms-features-icon">
									<svg class="js-icon-tv js-icon-mobile" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>Icono de teléfono móvil</title>
										<use class="icon3-mobile" xlink:href="#icon3-mobile"></use>
									</svg>
								</span>
								<span class="vfms-rate-feature-description">
									<h3 class="vfms-feature-description-title"> <span class="vfes-title--bold">Datos ilimitados </span> con 10Mbps de velocidad en tu móvil para uso avanzado de redes sociales y videos alta calidad.</h3>
								</span>
							</li>
							<li class="vfms-rate-features-item">
								<span class="vfms-features-icon">
									<svg class="js-icon-tv js-icon-mobile" height="24" width="24" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>Icono de teléfono fijo</title>
										<use class="icon3-landline-or-call" xlink:href="#icon3-landline-or-call"></use>
									</svg>
								</span>
								<span class="vfms-rate-feature-description">
									<h3 class="vfms-feature-description-title"> <span class="vfes-title--bold">Llamadas ilimitadas</span></h3>
								</span>
							</li>
						</ul>
					{{!-- Fin del listado de características --}}

					{{!-- Enlace al modal de Detalles de la oferta --}}
					<div class="vfms-offer-details-banner">
						<span class="vfes-text--underline">
								<a href="#" class="vfms-offer-details-link" title="Detalles de la oferta" target="_self"
                            data-modal="offer-details-ilimitada-super" data-modal-close aria-haspopup="dialog" data-analytics-element="detalle de la oferta" data-analytics-product = "movil;tarifa movil ilimitada super" data-analytics-category= "link" data-analytics-context="particulares:oferta:ilimitada super">Conoce la oferta en detalle</a>
						</span>
					</div> {{!-- Fin enlace al modal de Detalles de la oferta --}}
					
					

					{{!-- Prueba de card con oferta con las clases de reboot --}}
					
							<div class="vfms-banner-rate-info">
								<div class="vfes-tag-label vfes-tag-label--blue vfes-tag-label--border" >
									{{!-- Cintillo --}}
									<div class="vfes-tag-label__outstanding">Oferta Flash</div> {{!-- Fin del cintillo --}}
									{{!-- Bloque de información--}}
									<div class="vfes-card vfes-card__product">
										<p class="vfes-paragraph vfes-title--5 vfes-card__product-gigas">Solo web <span
												class="vfes-title--regular vfes-title--bold vfes-colours--turqoise">hasta el
												23/01</span> y
											pagarás ...</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-text"><span
												class="vfes-title--regular">45,99€/mes</span></p>
										
										<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">
											<span>30,99</span>€/mes
										</p>
										<p class="vfes-paragraph vfes-title--5 vfes-card__product-gigas vfms-card-deadline">Descuento durante 6 meses. Permanencia de 6 meses</p>
										<a title="Contratar Online" class="vfes-button vfes-button--primary vfms-banner-offer-contract"
										href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443577" data-analytics-element="cart_add" data-analytics-product = "movil;tarifa movil ilimitada super" data-analytics-category= "cta" data-analytics-context="contrata online">Contrata Online</a>
									</div>{{!-- Fin del bloque de información--}}
								</div>
							</div>
					{{!-- Fin de prueba de card con oferta con las clases de reboot --}}
					
				</div> {{!-- Fin de la caja fondo blanco --}}
				
			</div>{{!-- Fin de la caja general con toda la oferta --}}
			
			{{!-- Inicio del formulario de Walmeric --}}
			<div class="vfes-layout__item vfes-1/1-mov vfes-1/3-palm vfes-1/4 vfes-color--vodafone-gray vfms-banner-form">
				<div class="vfms-banner-form-container vfes-colours-bg-dark-grey">
					<form class="vfes-form wg-form vfes-color--silver">
						<div class="vfes-modal__head-form">
							{{!-- <p class="vfes-paragraph--center vfes-title--6 vfms-title-form">
								<strong class="vfes-color--vodafone-white">También puedes contratar por teléfono</strong>
							</p> --}}
							<p class="vfes-paragraph--center vfes-title--6">¿Quieres que te llamemos?</p>
						</div>
						<div class="vfes-box--form">
							<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
							<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
							<input class="vfes-form__input vfes-box--form__tlf wg-input" type="phone" name="phone" inputmode="numeric" pattern="[0-9]*"
								maxlength="9" data-wg-validation="required,phone" placeholder="Nº teléfono"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
						</div>
						<div class="vfes-box--form">
							<div class="vfes-form__box vfms-form__checks-space">
								<input class="vfes-form__checkbox vfms-form__checkbox_bg-transparent wg-input"
									data-wg-validation="required" type="checkbox" id="privacy" value="on" type="checkbox"
									name="check" />
								<label class="vfes-form__label" target="_self"
                            			for="privacy">Acepto la <a
										href="#"
										id="condiciones" data-modal="privacy" data-modal-close aria-haspopup="dialog" class="button-privacy vfes-color--silver" title="Vodafone One" target="_new"
										rel="nofollow"> Política de Privacidad</a>
								</label>
							</div>
							<div class="vfes-form__box vfms-form__checks-space">
								<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication" name="gdpr" value="on" />
								<label class="vfes-form__label" for="comunication"><span class="vfes-cta-box__span">Acepto recibir
										comunicaciones comerciales de Vodafone</span> </label>
							</div>
							<input title="Te llamamos gratis" class="vfes-button vfes-button--green  wg-submit tellamamos-ltc" data-analytics-element="te llamamos gratis" data-analytics-context="particulares:oferta:tarifa movil ilimitada super" data-analytics-category="c2c" type="submit" value="Te llamamos gratis">
						</div>
					</form>
				</div>	
			</div> {{!-- Fin del formulario de walmeric --}}
			
		</div>
	</section>
	{{!-- End Ilimitada Súper Flash--}}
	{{!-- Ilimitada Super --}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">

        <section id="offer-details-ilimitada-super" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-tarifaMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h1 class="vfes-title vfes-title--4 vfes-title--regular vfms-modal-title">Tu paquete  <span class="vfes-title--bold">Vodafone Ilimitada Súper</span> incluye</h1>

				<div class="vfms-offer-details-features">
					<ul class="vfms-offer-details-features-container">
						<li class="vfms-offer-details-features-item"> <span class="vfes-title--bold">Datos ilimitados:</span> 10Mbps de velocidad para ver vídeos y escuchar música en alta calidad.
						</li>
						<li class="vfms-offer-details-features-item"> <span class="vfes-title--bold">¿Qué puedes hacer con datos ilimitados?</span> Ya no tienes que buscar WiFi. Ahora con datos ilimitados podrás tener siempre abiertas las redes sociales, escuchar música sin parar y pasar las horas que quieras en Internet.
						</li>
						<li class="vfms-offer-details-features-item">Con Móvil ilimitada tendrás una velocidad de <span class="vfes-title--bold">descarga y subida de datos de 10Mbps.</span>
						</li>
						<li class="vfms-offer-details-features-item">Te recomendamos esta tarifa para:
							<ul class="vfms-rate-features-container">
								<li>Chat</li>
								<li>Redes Sociales</li>
								<li>Música</li>
								<li>Uso avanzado redes sociales</li>
								<li>Vídeos de alta calidad</li>
								<li>Música de alta calidad</li>
								<li>Aplicación de navegación</li>
							</ul>
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Llamadas ilimitadas:</span>  Llamadas ilimitadas a fijos y móviles.
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Roaming:</span> Roaming incluido en Europa y EEUU.
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Secure Net:</span> Secure Net para usar tu Smartphone con seguridad, gratis 3 meses, después 1€/mes.
						</li>

					</ul>
				</div>
				<div class="vfms-offer-details-conditions">
					<h2 class="vfes-title vfes-title--5 vfes-color--vodafone-red vfms-feature-title">Condiciones:</h2>
					<ul class="vfms-offer-details-conditions-container">
						<li>Si contratas online 30,99€/mes durante 6 meses. Después 45,99€/mes.</li>
						<li>Permanencia 6 meses</li>

					</ul>
				</div>
            </div>
        </section>

    </div>{{!-- En Ilimitada Súper --}}
			{{!-- Política de Privacidad--}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">

        <section id="privacy" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-tarifaMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h4 class="vfes-title vfes-title--regular vfes-title--bold vfms-modal-title">Política de Privacidad</h4>

				<div class="vfms-offer-details-features">
					<p>
						Los datos que nos facilitas en el registro formarán parte de una base de datos de Vodafone España. S.A.U., con domicilio en Avda. América 115, 28042 de Madrid y serán tratados para facilitarte la información solicitada y poder contactar contigo en el futuro para llevar a cabo acciones comerciales, en caso de que nos hayas proporcionado tu consentimiento marcando el check habilitado al efecto.
					</p>
					<p>
						Podrás ejercitar los derechos de acceso, rectificación, cancelación, oposición, limitación dirigiéndote a Vodafone España a la dirección antes indicada. Mantendremos tus datos mientras no ejerzas tu derecho de cancelación. Podrás ponerte en contacto con el Delegado de Protección de Datos (DPO) a través de: DPO-SPAIN@vodafone.com
					</p>
				</div>
            </div>
        </section>

    </div>{{!-- End Política de privacidad --}}	
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
