<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content" id="tabla" style="visibility: hidden;opacity: 0">
    <!-- Sección Tabla -->
    <section class="vf-table">
        <div class="vf-table__container ws10-u--mb8x">
            <table class="vf-table__datalist ws10-u--m0"
                    summary="Tabla comparativa de la tarifa ilimitada Total en función del número de líneas escogidas (entre 1 y 4)">
                <caption class="ws10-u--hidden-visually">Comparativa de tarifas Family Bundles</caption>
                <thead>
                <tr>
                    <th id="total" headers="blank" scope="col" class="vf-table__th">
                        <span class="vf-table__title ws10-u-heading--4-lt">Securitas Direct</span><br>
                        <span class="vf-table__title--big"><strong>53€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                    </th>
                    <th id="moviles2" headers="blank" scope="col" class="vf-table__th">
                        <span class="vf-table__title ws10-u-heading--4-lt">VHome</span><br>
                        <span class="vf-table__title--big"><strong>
                        9€
                        </strong><span class="vf-table__title--small">/mes</span></span>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th id="ilimitados" headers="blank" scope="rowgroup" class="vf-table__td--subheader"
                            colspan="4"><strong>Panel de control</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 ilimitados" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                </tr>
                <tr>
                    <th id="fibra" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                        <strong>Sensores de movimiento</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 fibra" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                </tr>
                <tr>
                    <th id="onenumber" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                        <strong>Cámara de video</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total onenumber" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 onenumber" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                </tr>

                <tr>
                    <th id="securenet" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                        <strong>Carteles exteriores</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total securenet" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 securenet" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                            class="ws10-u--hidden-visually">No</span></td>
                </tr>

                <tr>
                    <th id="vhome" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                        <strong>Lector de llaves</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 vhome" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                            class="ws10-u--hidden-visually">No</span></td>
                </tr>
                <tr>
                    <th id="vhome" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                        <strong>Sirena</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                </tr>
                <tr>
                    <th id="vhome" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                        <strong>Monitorización y control desde móvil</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                </tr>
                <tr>
                    <th id="vhome" headers="blank" scope="rowgroup" class="vf-table__td--subheader" colspan="4">
                        <strong>Aviso a autoridades</strong>
                    </th>
                </tr>
                <tr>
                    <td headers="total vhome" class="vf-table__td vf-table__icon vf-table__icon--tick"><span
                            class="ws10-u--hidden-visually">Sí</span></td>
                    <td headers="moviles2 vhome" class="vf-table__td vf-table__icon vf-table__icon--fault"><span
                            class="ws10-u--hidden-visually">No</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
