<link href="css/ws10.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<div class="vfes-ms-content" id="prueba" style="visibility: hidden;opacity: 0">
	<div data-spritesheet="svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>
	{{!-- Hero --}}
	<section class="ws10-c-hero-carousel" data-ws10-js="hero-carousel">
		<div class="ws10-c-hero-carousel__w-slides">
			<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-1">
				<section class="ws10-c-hero-element-1">
					<picture class="ws10-c-hero-element-1__w-img">
						<source media="(min-width:1024px)" srcset="img/hero/hero1d.png">
						<source media="(min-width:768px)" srcset="img/hero/hero1t.png">
						<img class="ws10-c-hero-element-1__img" src="img/hero/hero1m.png">
					</picture>
					<div class="ws10-c-hero-element-1__wrapper ws10-o-wrapper">
						<div class="ws10-o-layout">
							<div
								class="ws10-c-hero-element-1__inner ws10-o-layout__item ws10-u--push-1/12@desktop ws10-u--4/12@desktop ws10-u--push-2/12@tablet ws10-u--8/12@tablet">
								<h2 class="ws10-c-hero-element-1__title">
									Por ser cliente Vodafone, este verano te regalamos <strong>datos ilimitados o 3 meses de TIDAL HiFi</strong>
								</h2>
								<p class="ws10-c-hero-element-1__w-btn">
									<a href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/ofertas-y-lanzamientos/campana-de-verano/"
										target="_parent" class="ws10-c-button" data-analytics-element="mas informacion"
										data-analytics-category="cta"
										data-analytics-context="este verano regalo datos ilimitados"
										data-analytics-id="1500010719605-0005622342637">
										Más información
										<span class="ws10-u--hidden-visually">Más información</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-2">
				<section class="ws10-c-hero-element-1">
					<picture class="ws10-c-hero-element-1__w-img">
						<source media="(min-width:1024px)" srcset="img/hero/hero2d.png">
						<source media="(min-width:768px)" srcset="img/hero/hero2t.png">
						<img class="ws10-c-hero-element-1__img" src="img/hero/hero2m.png">
					</picture>
					<div class="ws10-c-hero-element-1__wrapper ws10-o-wrapper">
						<div class="ws10-o-layout">
							<div
								class="ws10-c-hero-element-1__inner ws10-o-layout__item ws10-u--push-1/12@desktop ws10-u--4/12@desktop ws10-u--push-2/12@tablet ws10-u--8/12@tablet">
								<h2 class="ws10-c-hero-element-1__title">
									Hazte ilimitable con <strong>fibra + 2 líneas móvil</strong> y <strong>Pack Seriefans GRATIS</strong> con <strong>HBO España</strong> por <strong>29,99€/mes</strong> durante 6 meses
			
								</h2>
								<p class="ws10-c-hero-element-1__w-btn">
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/"
										target="_parent" class="ws10-c-button" data-analytics-element="mas informacion"
										data-analytics-category="cta"
										data-analytics-context="movil + fibra + tv al 50% dto"
										data-analytics-id="1500010719605-0005354191156">
										Más información
										<span class="ws10-u--hidden-visually">Más información</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-3">
				<section class="ws10-c-hero-element-1">
					<picture class="ws10-c-hero-element-1__w-img">
						<source media="(min-width:1024px)" srcset="img/hero/hero3d.png">
						<source media="(min-width:768px)" srcset="img/hero/hero3t.png">
						<img class="ws10-c-hero-element-1__img" src="img/hero/hero3m.png">
					</picture>
					<div class="ws10-c-hero-element-1__wrapper ws10-o-wrapper">
						<div class="ws10-o-layout">
							<div
								class="ws10-c-hero-element-1__inner ws10-o-layout__item ws10-u--push-1/12@desktop ws10-u--4/12@desktop ws10-u--push-2/12@tablet ws10-u--8/12@tablet">
								<h2 class="ws10-c-hero-element-1__title">
									Llega la tarifa móvil Maxi con <strong>datos ilimitados por solo 21,99€/mes</strong> durante un año
								</h2>
								<p class="ws10-c-hero-element-1__w-btn">
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/tarifa-4/"
										target="_parent" class="ws10-c-button" data-analytics-element="mas informacion"
										data-analytics-category="cta" data-analytics-context="tarifa movil al 50% dto"
										data-analytics-id="1500010719605-0003684265660">
										Más información
										<span class="ws10-u--hidden-visually">Más información</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="ws10-c-hero-carousel__slide" id="hero-carousel-slide-4">
				<section class="ws10-c-hero-element-1">
					<picture class="ws10-c-hero-element-1__w-img">
						<source media="(min-width:1024px)" srcset="img/hero/hero4d.png">
						<source media="(min-width:768px)" srcset="img/hero/hero4t.png">
						<img class="ws10-c-hero-element-1__img" src="img/hero/hero4m.png">
					</picture>
					<div class="ws10-c-hero-element-1__wrapper ws10-o-wrapper">
						<div class="ws10-o-layout">
							<div
								class="ws10-c-hero-element-1__inner ws10-o-layout__item ws10-u--push-1/12@desktop ws10-u--4/12@desktop ws10-u--push-2/12@tablet ws10-u--8/12@tablet">
								<h2 class="ws10-c-hero-element-1__title">
									Descubre el <strong>Galaxy S20 Series</strong> y de regalo <strong>Galaxy
										Buds+</strong>
								</h2>
								<p class="ws10-c-hero-element-1__w-btn">
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/samsung-s20/"
										target="_parent" class="ws10-c-button" data-analytics-element="mas informacion"
										data-analytics-category="cta" data-analytics-context="samsung galaxy s20 series"
										data-analytics-id="1500010719605-0005158679096">
										Más información
										<span class="ws10-u--hidden-visually">Más información</span>
									</a>
								</p>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="ws10-c-hero-carousel__w-controls">
			<div class="ws10-o-wrapper">
				<ul class="ws10-c-hero-carousel__controls">
					<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--step">
						<button
							class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--step ws10-c-hero-carousel__control--step-prev"
							data-ws10-js-hero-carousel-control-step-direction="left">
							<span class="ws10-c-hero-carousel__control-txt">
								Anterior
							</span>
						</button>
					</li>
					<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
						<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
							data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-1"
							data-analytics-element="tab" data-analytics-category="cta"
							data-analytics-context="este verano regalo datos ilimitados"
							data-analytics-id="1500010719605-0001171359257">			
								
								<h3 class="ws10-c-hero-carousel__control-txt vfms__hero-btn">
									De regalo datos ilimitados
								</h3>
							
						</a>
					</li>
					<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
						<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
							data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-2"
							data-analytics-element="tab" data-analytics-category="cta"
							data-analytics-context="movil + fibra + tv al 50% dto"
							data-analytics-id="1500010719605-0008890141112">		
							<!--<h3 class=" vfms__hero-btn">-->
								<h3 class="ws10-c-hero-carousel__control-txt vfms__hero-btn">
								Móvil+Fibra+TV al 50% dto.
								</h3>
							
						</a>
					</li>
					<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
						<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
							data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-3">
							<span class="ws10-c-hero-carousel__control-txt" data-analytics-element="tab"
								data-analytics-category="cta" data-analytics-context="tarifa movil al 50% dto"
								data-analytics-id="1500010719605-0008459192898">	
							
									<h3 class="ws10-c-hero-carousel__control-txt vfms__hero-btn vfms__hero-btn">
									Tarifa móvil por 21,99€/mes
									</h3>
										
						</a>
					</li>
					<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--slide">
						<a class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--slide"
							data-ws10-js-hero-carousel-control-slide href="#hero-carousel-slide-4"
							data-analytics-element="tab" data-analytics-category="cta"
							data-analytics-context="samsung galaxy s20 series"
							data-analytics-id="1500010719605-0006095131777">
							
					
								<h3 class="ws10-c-hero-carousel__control-txt vfms__hero-btn">
								Samsung Galaxy S20 Series
								</h3>
						
							
						</a>
					</li>
					<li class="ws10-c-hero-carousel__control-item ws10-c-hero-carousel__control-item--step">
						<button
							class="ws10-c-hero-carousel__control ws10-c-hero-carousel__control--step ws10-c-hero-carousel__control--step-next"
							data-ws10-js-hero-carousel-control-step-direction="right">
							<span class="ws10-c-hero-carousel__control-txt">
								Siguiente
							</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</section>
	{{!-- Section Quicklinks --}}

	<div class="ws10-c-quick-links">
		<div class="ws10-o-wrapper">
			<ul class="ws10-c-quick-links__list">
				<li class="ws10-c-quick-links__list-item">
					<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/" title=""
						class="ws10-c-quick-links__list-link" target="_parent" data-analytics-element="aceleradores"
						data-analytics-category="cta" data-analytics-context="movil fibra"
						data-analytics-id="1500081983239-0007453109838">
						<div class="ws10-c-quick-links__container-icon">
							<div class="ws10-c-quick-links__icon">
								<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'
									width='34px' height='34px'>
									<title>titulo</title>
									<use class="icon-v3" xlink:href="#icon-convergente-system"></use>
								</svg>
							</div>
							<p class="ws10-c-quick-links__text">Móvil + Fibra</p>
						</div>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/"
						title="" class="ws10-c-quick-links__list-link" target="_parent"
						data-analytics-element="aceleradores" data-analytics-category="cta"
						data-analytics-context="tarifas movil" data-analytics-id="1500081983239-0008007008783">
						<div class="ws10-c-quick-links__container-icon">
							<div class="ws10-c-quick-links__icon">
								<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'
									width='40px' height='40px'>
									<title>titulo</title>
									<use class="icon-v3" xlink:href="#icon-sim"></use>
								</svg>
							</div>
							<p class="ws10-c-quick-links__text">Tarifas móviles</p>
						</div>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="https://www.vodafone.es/c/tienda-online/particulares/fibra-optica/" title=""
						class="ws10-c-quick-links__list-link" target="_parent" data-analytics-element="aceleradores"
						data-analytics-category="cta" data-analytics-context="fibra"
						data-analytics-id="1500081983239-0002187426874">
						<div class="ws10-c-quick-links__container-icon">
							<div class="ws10-c-quick-links__icon">
								<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'
									width='38px' height='38px'>
									<title>titulo</title>
									<use class="icon-v3" xlink:href="#icon-broadband-or-wifi"></use>
								</svg>
							</div>
							<p class="ws10-c-quick-links__text">Solo fibra</p>
						</div>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/" title=""
						class="ws10-c-quick-links__list-link" target="_parent" data-analytics-element="aceleradores"
						data-analytics-category="cta" data-analytics-context="moviles"
						data-analytics-id="1500081983239-0001926220959">
						<div class="ws10-c-quick-links__container-icon">
							<div class="ws10-c-quick-links__icon">
								<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'
									width='38px' height='38px'>
									<title>titulo</title>
									<use class="icon-v3" xlink:href="#icon-mobile"></use>
								</svg>
							</div>
							<p class="ws10-c-quick-links__text">Móviles</p>
						</div>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/" title=""
						class="ws10-c-quick-links__list-link" target="_parent" data-analytics-element="aceleradores"
						data-analytics-category="cta" data-analytics-context="tv"
						data-analytics-id="1500081983239-0009567632250">
						<div class="ws10-c-quick-links__container-icon">
							<div class="ws10-c-quick-links__icon">
								<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'
									width='38px' height='38px'>
									<title>titulo</title>
									<use class="icon-v3" xlink:href="#icon-tv"></use>
								</svg>
							</div>
							<p class="ws10-c-quick-links__text">TV</p>
						</div>
					</a>
				</li>
				<li class="ws10-c-quick-links__list-item">
					<a href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/listado/"
						title="" class="ws10-c-quick-links__list-link" target="_parent"
						data-analytics-element="aceleradores" data-analytics-category="cta"
						data-analytics-context="dispositivos inteligentes"
						data-analytics-id="1500081983239-0009958532381">
						<div class="ws10-c-quick-links__container-icon">
							<div class="ws10-c-quick-links__icon">
								<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'
									width='38px' height='38px'>
									<title>titulo</title>
									<use class="icon-v3" xlink:href="#icon-app-multiscreen"></use>
								</svg>
							</div>
							<p class="ws10-c-quick-links__text">Dispositivos inteligentes</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	{{!-- Section Outstandings --}}
	<section class="vfms-outstandings__container">
		<div class="ws10-o-wrapper">
			<h2 class="ws10-u-heading--4 mva10-u--pb6x mva10-u--pt16x"><strong>Destacados</strong></h2>
			<div class="ws10-o-layout">
				<div class="ws10-o-layout__item ws10-u--1/2@tablet vfms-outstanding__item">
					<section class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--large">
						<picture>
							<!--<source media="(min-width: {{breakpoints.desktop}}px)" srcset="{{picLargeDesktop}}">
							<source media="(min-width: {{breakpoints.tablet}}px)" srcset="{{picLargeTablet}}">-->
							<img src="img/outstanding/destacado1.jpg"
								alt="imagen contenidos destacados canales HBO España | Amazon Prime Video | Disney Junior | AXN Now"
								class="ws10-c-cards-discovery-standard__image">
						</picture>
						<h3 class="ws10-c-cards-discovery-standard__title">Llévate las series y películas del momento donde quieras. Ahora Seriefans GRATIS con HBO España incluido y mucho más…</h3>
						<p>
							<a class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron"
								data-analytics-element="mas info" data-analytics-category="cta"
								data-analytics-context="llevate las series y pelis del momento donde quieras"
								data-analytics-id="1500010719605-0007193641025"
								href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/">
								Más info
								<span class="ws10-u--hidden-visually">Más info</span>
							</a>
						</p>
					</section>

				</div>

				<div class="ws10-o-layout__item ws10-u--1/2@tablet">
					<section
						class="ws10-u--mb6x ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard">
						<div class="ws10-c-cards-discovery-standard__text-content">
							<h3 class="ws10-c-cards-discovery-standard__title">Móvil + Fibra con datos ilimitados y TV GRATIS con HBO España incluido</h3>
							<p>
								<a class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron"
									data-analytics-element="mas info" data-analytics-category="cta"
									data-analytics-context="movil + fibra con datos ilimitados y tv gratis"
									data-analytics-id="1500010719605-0007631456132"
									href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/">
									Más info
									<span class="ws10-u--hidden-visually">Más info</span>
								</a>
							</p>
						</div>
						<div class="ws10-c-cards-discovery-standard__image-holder">
							​<picture>
								<source media="(min-width: 1024px)" srcset="img/outstanding/destacado-desktop2.png">
								<source media="(min-width: 768px)" srcset="img/outstanding/destacado-tablet2.png">
								<img src="img/outstanding/destacado-mobile2.png" alt=""
									class="ws10-c-cards-discovery-standard__image">
							</picture>
						</div>
					</section>

					<section class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-hero">
						<div class="ws10-c-cards-discovery-standard__text-content">
							<h3 class="ws10-c-cards-discovery-standard__title">Este verano disfruta de datos ilimitados y la mejor red 5G</h3>
							<p>
								<a class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron"
									data-analytics-element="mas info" data-analytics-category="cta"
									data-analytics-context="tarifa movil sin limite de datos desde 17,99"
									data-analytics-id="1500010719605-0002273371444"
									href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/">
									Más info
									<span class="ws10-u--hidden-visually">Más info</span>
								</a>
							</p>
						</div>
						<div class="ws10-c-cards-discovery-standard__image-holder">
							​<picture>
								​<picture>
									<source media="(min-width: 1024px)" srcset="img/outstanding/destacado-desktop3.png">
									<source media="(min-width: 768px)" srcset="img/outstanding/destacado-tablet3.png">
									<img src="img/outstanding/destacado-mobile3.png" alt="5G"
										class="ws10-c-cards-discovery-standard__image">

								</picture>
						</div>
					</section>
				</div>
			</div>

		</div>
	</section>

	{{!-- Section Why Vodafone --}}
	<section class="vfms-why__container">
		<div class="ws10-o-wrapper">
			<h2 class="ws10-u-heading--4 mva10-u--pb6x mva10-u--pt16x"><strong>¿Por qué Vodafone?</strong></h2>
		</div>

		<div class="vfms-why__container-tabs">
			<div class="ws10-o-wrapper">
				<section class="ws10-c-hero-tabs" data-ws10-js='hero-tabs'>
					<ul class="ws10-c-hero-tabs__list" role="tablist" data-ws10-tab="tab-container"
						data-responsive="20">

						<li class="ws10-c-hero-tabs__list-item" aria-selected="true" role="tab">
							<button class="ws10-c-hero-tabs__tab" data-ws10-selected='true' type="button"
								aria-controls="tab-content1 image1" role="button" data-analytics-element="tab"
								data-analytics-category="cta" data-analytics-context="tecnologia 5g ilimitada"
								data-analytics-id="1500010719605-0001864563116">Tecnología 5G Ilimitada</button>
						</li>
						<li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
							<button class="ws10-c-hero-tabs__tab" data-ws10-selected='false' type="button"
								aria-controls="tab-content2 image2" role="button" data-analytics-element="tab"
								data-analytics-category="cta" data-analytics-context="la mejor red movil"
								data-analytics-id="1500010719605-0005612708142">La mejor red móvil</button>
						</li>
						<li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
							<button class="ws10-c-hero-tabs__tab" data-ws10-selected='false' type="button"
								aria-controls="tab-content3 image3" role="button" data-analytics-element="tab"
								data-analytics-category="cta"
								data-analytics-context="el mayor agregador de cine y series"
								data-analytics-id="1500010719605-0009132540458">Vodafone TV con Cine y Series</button>
						</li>
						<li class="ws10-c-hero-tabs__list-item" aria-selected="false" role="tab">
							<button class="ws10-c-hero-tabs__tab" data-ws10-selected='false' type="button"
								aria-controls="tab-content4 image4" role="button" data-analytics-element="tab"
								data-analytics-category="cta" data-analytics-context="Siempre conectados"
								data-analytics-id="1500010719605-0004923846117">Siempre conectados</button>
						</li>
					</ul>


					<picture id="image1" class="ws10-c-hero-tabs__picture" aria-expanded="true" title="5G"
						aria-label="mano de luz con logotipo 5G" data-ws10-tab="1">
						<source media="(min-width:1024px)" srcset="img/why/why1-desktop.png">
						<source media="(min-width:768px)" srcset="img/why/why1-tablet.png">
						<img class="ws10-c-hero-tabs__picture-img" role="img" src="img/why/why1-mobile.png"
							alt="mano de luz con logotipo 5G">
					</picture>
					<picture id="image2" class="ws10-c-hero-tabs__picture" aria-expanded="false"
						title="chica con dispositivo móvil" aria-label="chica con dispositivo móvil" data-ws10-tab="2">
						<source media="(min-width:1024px)" srcset="img/why/why2-desktop.jpg">
						<source media="(min-width:768px)" srcset="img/why/why2-tablet.png">
						<img class="ws10-c-hero-tabs__picture-img" role="img" src="img/why/why2-mobile.png"
							alt="chica con dispositivo móvil">
					</picture>
					<picture id="image3" class="ws10-c-hero-tabs__picture" aria-expanded="false"
						title="mural con carteles de estrenos en los canales de Vodafone TV"
						aria-label="mural con carteles de estrenos en los canales de Vodafone TV" data-ws10-tab="3">
						<source media="(min-width:1024px)" srcset="img/why/why3-desktop.png">
						<source media="(min-width:768px)" srcset="img/why/why3-tablet.png">
						<img class="ws10-c-hero-tabs__picture-img" role="img" src="img/why/why3-mobile.png"
							alt="mural con carteles de estrenos en los canales de Vodafone TV">
					</picture>
					<picture id="image4" class="ws10-c-hero-tabs__picture" aria-expanded="false" title="padre e hijo"
						aria-label="padre e hijo" data-ws10-tab="4">
						<source media="(min-width:1024px)" srcset="img/why/why4-desktop.jpg">
						<source media="(min-width:768px)" srcset="img/why/why4-tablet.png">
						<img class="ws10-c-hero-tabs__picture-img" role="img" src="img/why/why4-mobile.png"
							alt="padre e hijo">
					</picture>


					<div id="tab-content1" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="true"
						data-ws10-tab="1">
						<h3 class="ws10-c-hero-tabs__content-title">Datos sin límites con velocidad 5G</h3>
						<p class="ws10-c-hero-tabs__content-body">No hace falta que busques WiFi ni mires el calendario,
							con tu móvil podrás conectarte desde el primer hasta el último día del mes a la misma
							velocidad en red 5G con gigas ilimitados. Consume vídeo, música y cualquier contenido sin preocuparte por quedarte sin datos. </p>
						<div class="ws10-c-hero-tabs__content-link">
							<a class="ws10-c-hero-tabs__content-link-text"
								href="https://www.vodafone.es/c/conocenos/es/5g/" data-analytics-element="ver tarifas"
								data-analytics-category="cta" data-analytics-context="tecnologia 5g ilimitada"
								data-analytics-id="1500010719605-0007288853308">Ver tarifas <span
									class="ws10-u--hidden-visually">Ver tarifas</span></a>
						</div>
					</div>
					<div id="tab-content2" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="false"
						data-ws10-tab="2">
						<h3 class="ws10-c-hero-tabs__content-title">La mejor Red Móvil</h3>
						<p class="ws10-c-hero-tabs__content-body">Así lo acredita el principal estudio internacional de
							telecomunicaciones umlaut connect Mobile Benchmark 2019 que realiza la consultora
							independiente umlaut en España.</p>
						<p class="ws10-c-hero-tabs__content-body">Por quinta vez consecutiva, Vodafone es el claro
							ganador del umlaut connect Mobile Benchmark en España, gracias a su liderazgo tanto en la
							categoría de Voz como en Datos.</p>
						<div class="ws10-c-hero-tabs__content-link">
							<a class="ws10-c-hero-tabs__content-link-text"
								href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/mapa-cobertura-movil/"
								data-analytics-element="mas info" data-analytics-category="cta"
								data-analytics-context="la mejor red movil"
								data-analytics-id="1500010719605-0001291597707">Más info<span
									class="ws10-u--hidden-visually">Más info</span></a>
						</div>
					</div>
					<div id="tab-content3" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="false"
						data-ws10-tab="3">
						<h3 class="ws10-c-hero-tabs__content-title">El mayor agregador de cine y series</h3>
						<p class="ws10-c-hero-tabs__content-body">Con Vodafone TV disfrutarás del mejor cine y series
							donde y cómo quieras, o bien con nuestro deco 4K o en todos tus dispositivos con la app de
							Vodafone TV.</p>
						<p class="ws10-c-hero-tabs__content-body">Las mejores películas y series de HBO España, Amazon
							Prime Video, Filmin, Netflix y muchas más disponibles en el menú.</p>
						<div class="ws10-c-hero-tabs__content-link">
							<a class="ws10-c-hero-tabs__content-link-text"
								href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/"
								data-analytics-element="mas info" data-analytics-category="cta"
								data-analytics-context="el mayor agregador de cine y series"
								data-analytics-id="1500010719605-0005482145164">Más info<span
									class="ws10-u--hidden-visually">Más info</span></a>
						</div>
					</div>
					<div id="tab-content4" class="ws10-c-hero-tabs__content" role="tabpanel" aria-expanded="false"
						data-ws10-tab="4">
						<h3 class="ws10-c-hero-tabs__content-title">Con Vodafone siempre tienes un Plan B</h3>
						<p class="ws10-c-hero-tabs__content-body">En Vodafone estamos tan seguros de ofrecerte la mejor
							conexión, que si te falla y no tienes acceso a Internet (debido a un error o fallo en la
							fibra
							Vodafone o en tu ADSL), solo nosotros te aseguramos un plan B. Una solución inmediata, para
							que
							estés siempre conectado.</p>
						<div class="ws10-c-hero-tabs__content-link">
							<a class="ws10-c-hero-tabs__content-link-text"
								href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/plan-b/"
								data-analytics-element="mas info" data-analytics-category="cta"
								data-analytics-context="Siempre Conectados"
								data-analytics-id="1500010719605-0004695569555">Más info<span
									class="ws10-u--hidden-visually">Más info</span></a>
						</div>
					</div>
				</section>
			</div>
		</div>


	</section>

	{{!-- Section Most Wanted --}}
	<section class="vfms-wanted__container mva10-u--pb16x">
		<div class="ws10-o-wrapper">
			<h2 class="ws10-u-heading--4 mva10-u--pb6x mva10-u--pt16x"><strong>Conoce lo más buscado</strong></h2>
		</div>
		<section class="ws10-c-tabs-filter ws10-o-tabs" data-ws10-js="tabs-filter">
			<div role="tablist" class="ws10-c-tabs-filter__tablist">

				<a class="ws10-c-tabs-filter__tab ws10-c-filter ws10-c-filter--active ws10-c-filter--nocheck"
					href="#panel-1" role="tab" id="tab-1" data-analytics-element="tab" data-analytics-category="cta"
					data-analytics-context="moviles y dispositivos" data-analytics-id="1500081983239-0009488248989">
					<span class="ws10-c-filter__label ws10-c-filter__label--dark-grey">
						<svg class="icon ws10-c-filter__icon" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-mobile"></use>
						</svg>
						Móviles y dispositivos
					</span>
				</a>

				<a class="ws10-c-tabs-filter__tab ws10-c-filter ws10-c-filter--nocheck" href="#panel-2" role="tab"
					id="tab-2" data-analytics-element="tab" data-analytics-category="cta"
					data-analytics-context="movil fibra" data-analytics-id="1500081983239-0004763275487">
					<span class="ws10-c-filter__label ws10-c-filter__label--dark-grey">
						<svg class="icon ws10-c-filter__icon" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-convergente-system"></use>
						</svg>
						Móvil + Fibra
					</span>
				</a>

				<a class="ws10-c-tabs-filter__tab ws10-c-filter ws10-c-filter--nocheck" href="#panel-3" role="tab"
					id="tab-3" data-analytics-element="tab" data-analytics-category="cta"
					data-analytics-context="tarifa movil" data-analytics-id="1500081983239-0002654450525">
					<span class="ws10-c-filter__label ws10-c-filter__label--dark-grey">
						<svg class="icon ws10-c-filter__icon" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-sim"></use>
						</svg>
						Tarifa Móvil
					</span>
				</a>

				<a class="ws10-c-tabs-filter__tab ws10-c-filter ws10-c-filter--nocheck" href="#panel-4" role="tab"
					id="tab-4" data-analytics-element="tab" data-analytics-category="cta"
					data-analytics-context="internet" data-analytics-id="1500081983239-0009845640200">
					<span class="ws10-c-filter__label ws10-c-filter__label--dark-grey">
						<svg class="icon ws10-c-filter__icon" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
							<title>titulo</title>
							<use class="icon-v3" xlink:href="#icon-broadband-or-wifi"></use>
						</svg>
						Internet
					</span>
				</a>
			</div>
			<div class="ws10-c-tabs-filter__w-panels">
				<div id="panel-1" role="tabpanel" class="ws10-o-tabs__panel">
					<div class="ws10-o-wrapper vfms-wanted__tab-1 ">
						<div class="vfms__card-container">
							<div class="ws10-o-wrapper"></div>
								<div class="vfms__card-container-content">
									<div class="vfms__card-item">
										<section
											class="ws10-c-card ws10-c-card--no-shadow vfms__card-width vfms__card-height"
											data-multicolor="true">
											<div
												class="ws10-c-card-discovery-product ws10-c-card-discovery-product--large ">
												<picture>
													<source media="(min-width: 1024px)" srcset="img/wanted/tab1/slide1.png">
													<source media="(min-width: 768px)"
														srcset="img/wanted/tab1/slide1t.png">
													<img src="img/wanted/tab1/slide1m.png"
														alt="Samsung S20 Plus 5G"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<h3 class="ws10-c-card-discovery-product__title">Samsung Galaxy S20 Plus 5G
												</h3>
												<p class="ws10-c-card-discovery-product__text"><strong>27€</strong>/mes
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn"
													href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-plus-5g-azul-128gb-313850/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="samsung s20 plus 5g"
													data-analytics-id="1500081983239-0001105062951" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
									</div>
									<div class="vfms__card-item">
										<div class="vfms-discovery-product-search  vfms__card-width ws10-u--mb6x ws10-u--mt6x"
											data-ws10-js="card-discovery-product-search">
											<ul class="ws10-c-card-discovery-product-search__icons-list">
												<li class="">
													<img class="" src="img/wanted/tab1/icon1.svg"
														alt="icono dispositivo móvil">
												</li>
											</ul>
											<h3 class="ws10-c-card-discovery-product-search__title">¿Aún sin seguro en tu
												móvil?
												Disfruta de tu nuevo móvil sin preocupaciones.</h3>
											<p>
												<a class="ws10-c-card-discovery-product-search__link ws10-c-card-discovery-product-search__chevron vfms__wanted-btn"
													href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/servicios-para-tu-movil/seguro-movil/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="¿aun sin seguro?disfruta de tu nuevo movil sin preocupaciones"
													data-analytics-id="1500081983239-0002815980408" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</p>
										</div>
										<section class="ws10-c-card ws10-c-card--no-shadow vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
												<source media="(min-width: 1024px)" srcset="img/wanted/tab1/slide2.png" >
												<source media="(min-width: 768px)" srcset="img/wanted/tab1/slide2m.png" >
													<img src="img/wanted/tab1/slide2m.png"
														alt="Localizador GPS Curve"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<h3 class="ws10-c-card-discovery-product__title">Localizador GPS Curve</h3>
												<p class="ws10-c-card-discovery-product__text"><strong>2€</strong>/mes
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--mb6x "
													href="https://eshop.v.vodafone.com/es/curve-gps-tracker"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="Localizador GPS Curve"
													data-analytics-id="1500081983239-0009779389134" target="_blank">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
									</div>
									<div class="vfms__card-item">
										<section
											class="ws10-c-card ws10-c-card--no-shadow  ws10-u--mb6x vfms__card-width "
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
												<source media="(min-width: 1024px)" srcset="img/wanted/tab1/slide6.png" >
												<source media="(min-width: 768px)" srcset="img/wanted/tab1/slide3t.png" >
													<img src="img/wanted/tab1/slide3m.png"
														alt="Huawei P Smart 2019 Azul 64GB"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<h3 class="ws10-c-card-discovery-product__title">Huawei P Smart 2019
													Azul
													64GB
												</h3>
												<p class="ws10-c-card-discovery-product__text"><strong>0€</strong>/mes
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--mb6x "
													href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p-smart-2019-azul-64gb-313891/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="huawei p smart 2019 azul 64 gb"
													data-analytics-id="1500081983239-0007168509317" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
										<section
											class="ws10-c-card ws10-c-card--no-shadow vfms__card-width "
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
												<source media="(min-width: 1024px)" srcset="img/wanted/tab1/slide5.png" >
												<source media="(min-width: 768px)" srcset="img/wanted/tab1/slide4t.png" >
													<img src="img/wanted/tab1/slide4m.png"
														alt="LG K51S Titan 64GB"
														class="ws10-c-card-discovery-product__image">
												</picture>
												
												<h3 class="ws10-c-card-discovery-product__title">LG K51S Titan 64GB</h3>
												<p class="ws10-c-card-discovery-product__text"><strong>0€</strong>/mes
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--mb6x "
													href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/lg-k51s-titan-64gb-313838/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="lg k51s titan 64gb"
													data-analytics-id="1500081983239-0006058451740" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="panel-2" role="tabpanel" class="ws10-o-tabs__panel" hidden>
					<div class="ws10-o-wrapper vfms-wanted__tab-2">
						<div class="vfms__card-container">
							<div class="ws10-o-wrapper">
								<div class="vfms__card-container-content">
									<div class="vfms__card-item">
										<section
											class="ws10-c-card ws10-c-card--no-shadow ws10-c-card-discovery-product-text ws10-u--pb10x vfms__card-height vfms__card-width">
											<picture>
												<source media="(min-width: 1024px)"
													srcset="img/wanted/tab2/slide1.png">
												<source media="(min-width: 728px)"
													srcset="img/wanted/tab2/slide1t.png">
												<img src="img/wanted/tab2/slide1m.png" alt="composición dispositivos"
													class="ws10-c-card-discovery-product-text__image">
											</picture>
											<h3 class="ws10-c-card-discovery-product-text__title">Móvil + Fibra + TV
											</h3>
											<p class="ws10-c-card-discovery-product-text__paragraph">Tarifas con datos ilimitados y la mejor selección de cine y series. Ahora 50% de descuento durante 6 meses</p>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Datos ilimitados +
													100
													Mbps
													+TV</p>
												<span><strong>29,99€</strong>/mes</span>
											</div>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Datos ilimitados +
													600
													Mbps
													+ TV</p>
												<span><strong>39,99€</strong>/mes</span>
											</div>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Datos ilimitados + 1
													Gbps +
													TV</p>
												<span><strong>54,99€</strong>/mes</span>
											</div>
											<a class="ws10-c-card-discovery-product-text__link ws10-c-card-discovery-product-text__link--chevron vfms__wanted-btn"
												href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/"
												data-analytics-element="mas info" data-analytics-category="cta"
												data-analytics-context="movil + fibra + tv"
												data-analytics-id="1500081983239-0009176792839" target="_parent">
												Más info <span class="ws10-u--hidden-visually"> Más info </span>
											</a>
										</section>
									</div>
									<div class="vfms__card-item">

										<div class="ws10-c-card-discovery-product-search vfms__card-width"
											data-ws10-js="card-discovery-product-search">
											<ul class="ws10-c-card-discovery-product-search__icons-list">
												<li class="ws10-c-card-discovery-product-search__icon-item">
													<img class="ws10-c-card-discovery-product-search__icon"
														src="img/wanted/tab2/icon1.png" alt="icono HBO">
												</li>
											</ul>
											<h3 class="ws10-c-card-discovery-product-search__title ws10-u--pb6x">Todos nuestros
												paquetes
												ilimitados incluyen: HBO España y 60 canales más.</h3>
											<p>
												<a class="ws10-c-card-discovery-product-search__link ws10-c-card-discovery-product-search__chevron vfms__wanted-btn"
													href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="nuestros paquetes ilimitados incluyen hbo españa y 60 canales mas"
													data-analytics-id="1500081983239-0003693400683" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</p>
										</div>

										<section class="ws10-c-card ws10-c-card--no-shadow vfms__card-height vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
													<source media="(min-width: 1024px)" srcset="img/wanted/tab2/slide2.png" >
												<source media="(min-width: 768px)" srcset="img/wanted/tab2/slide2t.png" >
													<img src="img/wanted/tab2/slide2m.png" alt="super wifi"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__text">Amplifica tu conexión de fibra para tener WiFi en cualquier lugar de tu hogar</p>
												<p class="ws10-c-card-discovery-product__text"><strong>GRATIS con tarifa
														de
														1Gbps</strong></p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn"
													href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/internet-y-fijo/super-wifi/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="super wifi"
													data-analytics-id="1500081983239-0004774566649" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
									</div>
									<div class="vfms__card-item">
										<section class="ws10-c-card ws10-c-card--no-shadow  ws10-u--mb6x vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
												<source media="(min-width: 1024px)" srcset="img/wanted/tab2/slide4.png" >
												<source media="(min-width: 768px)" srcset="img/wanted/tab2/slide4t.png" >
													<img src="img/wanted/tab2/slide4m.png" alt="Home Zone"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__title">Habla todo lo que
													quieras
													con tu
													teléfono fijo a fijos o a móviles nacionales</p>
												<p class="ws10-c-card-discovery-product__text"><strong>13€</strong>/mes
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--pb6x"
													href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/internet-y-fijo/solo-telefono-fijo/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="home zone"
													data-analytics-id="1500081983239-0003023532938" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
										<div class="vfms-discovery-product-search vfms__card-width"
											data-ws10-js="card-discovery-product-search">
											<ul class="ws10-c-card-discovery-product-search__icons-list">
												<li class="">
													<img class="" src="img/wanted/tab2/icon2.png" alt="icono fibra">
												</li>
											</ul>
											<h3 class="ws10-c-card-discovery-product-search__title ws10-u--pb12x">¿Llega la Fibra
												Óptica de
												Vodafone a mi hogar?</h3>
											<p>
												<a class="ws10-c-card-discovery-product-search__link ws10-c-card-discovery-product-search__chevron vfms__wanted-btn "
													href="https://www.vodafone.es/c/tienda-online/particulares/consulta-de-cobertura/"
													data-analytics-element="consulta cobertura"
													data-analytics-category="cta"
													data-analytics-context="llega la fibra optica de vodafone a mi hogar"
													data-analytics-id="1500081983239-0007275174953" target="_parent">
													Consulta cobertura <span class="ws10-u--hidden-visually"> Consulta
														cobertura
													</span>
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="panel-3" role="tabpanel" class="ws10-o-tabs__panel" hidden>
					<div class="ws10-o-wrapper vfms-wanted__tab-3">
						<div class="vfms__card-container">
							<div class="ws10-o-wrapper">
								<div class="vfms__card-container-content">
									<div class="vfms__card-item">

										<section
											class="ws10-c-card ws10-c-card--no-shadow ws10-c-card-discovery-product-text ws10-u--pb10x vfms__card-height vfms__card-width">
											<picture>
												<source media="(min-width: {1024px)"
													srcset="img/wanted/tab3/slide1.png">
												<source media="(min-width: 768px)"
													srcset="img/wanted/tab3/slide1t.png">
												<img src="img/wanted/tab3/slide1m.png" alt="movil con icono 5G"
													class="ws10-c-card-discovery-product-text__image">
											</picture>
											<h3 class="ws10-c-card-discovery-product-text__title">Tarifa Móvil</h3>
											<p class="ws10-c-card-discovery-product-text__paragraph">Disfruta de los
												datos
												ilimitados con la mejor velocidad de conexión 5G</p>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Datos y minutos
													ilimitados
												</p>
												<span><strong>21,99€</strong>/mes</span>
											</div>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Datos y min.
													ilimitados
													+ TV
												</p>
												<span><strong>24,99€</strong>/mes</span>
											</div>
										
											<a class="ws10-c-card-discovery-product-text__link ws10-c-card-discovery-product-text__link--chevron vfms__wanted-btn"
												href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/ "
												data-analytics-element="mas info" data-analytics-category="cta"
												data-analytics-context="tarifa movil"
												data-analytics-id="1500081983239-0008691302268" target="_parent">
												Más info <span class="ws10-u--hidden-visually"> Más info </span>
											</a>
										</section>
									</div>


									<div class="vfms__card-item">

										<section class="ws10-c-card ws10-c-card--no-shadow  ws10-u--mb6x vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
													<source media="(min-width: 1024px)" srcset="img/wanted/tab3/slide2.png" >
											<source media="(min-width: 768px)" srcset="img/wanted/tab3/slide2t.png" >
													<img src="img/wanted/tab3/slide2m.png"
														alt="disfruta tv con tu tarifa movil ilimitada pack seriefans"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__title">Disfruta de TV ahora con
													tu
													tarifa móvil ilimitada Pack Seriefans con HBO España incluido </p>
												<p class="ws10-c-card-discovery-product__text"><strong>GRATIS 1 año</strong>
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--pb6x"
													href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-1/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="disfruta tv con tu tarifa movil ilimitada pack seriefans"
													data-analytics-id="1500081983239-0008897456514" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>


										<section class="ws10-c-card ws10-c-card--no-shadow vfms__card-height vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
													<source media="(min-width: 1024px)" srcset="img/wanted/tab3/slide3.png" >
											<source media="(min-width: 768px)" srcset="img/wanted/tab3/slide3t.png" >
													<img src="img/wanted/tab3/slide3m.png"
														alt="añade mas lineas moviles a tu plan con 50% descuento"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__text">Añade más líneas móviles
													a tu
													plan con un 50% de descuento</p>
												<p class="ws10-c-card-discovery-product__text ws10-u--pb6x"><strong>desde
														9,99€/mes</strong>
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn"
													href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="añade mas lineas moviles a tu plan con 50% descuento"
													data-analytics-id="1500081983239-0003391446103" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>

									</div>
									<div class="vfms__card-item">
										<section class="ws10-c-card ws10-c-card--no-shadow mva10-u--mb6x vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
													<source media="(min-width: 1024px)" srcset="img/wanted/tab3/slide4.png" >
											<source media="(min-width: 768px)" srcset="img/wanted/tab3/slide4t.png" >
													<img src="img/wanted/tab3/slide4m.png" alt="Vodafone Yu"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__title">Hazte yuser con las
													tarifas
													más
													jóvenes, con gigas ilimitados en redes sociales y mensajería.</p>
												<p class="ws10-c-card-discovery-product__text"><strong>Sin
														permanencia</strong>
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--pb6x"
													href=" https://yu.vodafone.es/tarifas-moviles/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="hazte yuser con las tarifas mas jovenes"
													data-analytics-id="1500081983239-0008758229871" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
										<div class="ws10-c-card-discovery-product-search vfms__card-width"
											data-ws10-js="card-discovery-product-search">
											<ul class="ws10-c-card-discovery-product-search__icons-list">
												<li class="ws10-c-card-discovery-product-search__icon-item">
													<img class="ws10-c-card-discovery-product-search__icon"
														src="img/wanted/tab3/icon1.png" alt="icono Tidal">
												</li>
											</ul>
											<h3 class="ws10-c-card-discovery-product-search__title ws10-u--pb12x">Llévate toda la
												música,
												TIDAL
												GRATIS durante 3 meses</h3>
											<p>
												<a class="ws10-c-card-discovery-product-search__link ws10-c-card-discovery-product-search__chevron vfms__wanted-btn"
													href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/servicios-para-tu-movil/tidal/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="tidal gratis durante 3 meses"
													data-analytics-id="1500081983239-0006231754937" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</p>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="panel-4" role="tabpanel" class="ws10-o-tabs__panel" hidden>
					<div class="ws10-o-wrapper vfms-wanted__tab-4">
						<div class="vfms__card-container">
							<div class="ws10-o-wrapper">
								<div class="vfms__card-container-content">
									<div class="vfms__card-item">

										<section
											class="ws10-c-card ws10-c-card--no-shadow ws10-c-card-discovery-product-text ws10-u--pb10x vfms__card-height vfms__card-width">
											<picture>
												<source media="(min-width: 1024px)"
													srcset="img/wanted/tab4/slide1.png">
												<source media="(min-width: 728px)"
													srcset="img/wanted/tab4/slide1t.png">
												<img src="img/wanted/tab4/slide1m.png" alt="dispositivos"
													class="ws10-c-card-discovery-product-text__image">
											</picture>
											<h3 class="ws10-c-card-discovery-product-text__title">Tarifas Sólo Fibra</h3>
											<p class="ws10-c-card-discovery-product-text__paragraph">Tendrás acceso de forma
												rápida y segura a todo el contenido online que necesitas y sin permanencia.
											</p>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Fibra 100Mbps</p>
												<span><strong>30,99€</strong>/mes</span>
											</div>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Fibra 600Mbps</p>
												<span><strong>42,99€</strong>/mes</span>
											</div>
											<div class="ws10-c-card-discovery-product-text__text-content">
												<p class="ws10-c-card-discovery-product-text__text">Fibra 1Gbps</p>
												<span><strong>55,99€</strong>/mes</span>
											</div>
											<a class="ws10-c-card-discovery-product-text__link ws10-c-card-discovery-product-text__link--chevron vfms__wanted-btn"
												href="https://www.vodafone.es/c/tienda-online/particulares/fibra-optica/"
												data-analytics-element="mas info" data-analytics-category="cta"
												data-analytics-context="tarifas solo fibra"
												data-analytics-id="1500081983239-0003464936950" target="_parent">
												Más info <span class="ws10-u--hidden-visually"> Más info </span>
											</a>
										</section>
									</div>
							
									<div class="vfms__card-item">

										<section class="ws10-c-card ws10-c-card--no-shadow mva10-u--mb6x vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
												<source media="(min-width: 1024px)" srcset="img/wanted/tab2/slide2.png" >
												<source media="(min-width: 768px)" srcset="img/wanted/tab2/slide2t.png" >
													<img src="img/wanted/tab2/slide2m.png" alt="super wifi"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__text">Amplifica tu conexión de
													fibra
													para tener WiFi en cualquier lugar de tu hogar</p>
												<p class="ws10-c-card-discovery-product__text"><strong>GRATIS con tarifa
														de
														1Gbps</strong></p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--pb6x"
													href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/internet-y-fijo/super-wifi/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="super wifi"
													data-analytics-id="1500081983239-0004774566649" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>

										<section class="ws10-c-card ws10-c-card--no-shadow vfms__card-height vfms__card-width" data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
													<source media="(min-width: 1024px)" srcset="img/wanted/tab4/slide2.png" >
											<source media="(min-width: 768px)" srcset="img/wanted/tab4/slide2t.png" >
													<img src="img/wanted/tab4/slide2m.png" alt="segunda residencia"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__text">Disfruta de datos ilimitados
													en
													tu segunda residencia</p>
												<p class="ws10-c-card-discovery-product__text ws10-u--pb6x"><strong>25€/mes</strong></p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn "
													href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/internet-segunda-residencia/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="disfruta de datos ilimitados en tu segunda residencia"
													data-analytics-id="1500081983239-0003876971326" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
									</div>
									<div class="vfms__card-item">
										<section class="ws10-c-card ws10-c-card--no-shadow  ws10-u--mb6x vfms__card-width"
											data-multicolor="true">
											<div class="ws10-c-card-discovery-product">
												<picture>
													<source media="(min-width: 1024px)" srcset="img/wanted/tab4/slide3.png" >
											<source media="(min-width: 768px)" srcset="img/wanted/tab4/slide3t.png" >
													<img src="img/wanted/tab4/slide3m.png" alt="Vodafone Yu"
														class="ws10-c-card-discovery-product__image">
												</picture>
												<p class="ws10-c-card-discovery-product__title">Hazte yuser con las tarifas
													de
													internet para estudiantes, sin cortes ni interrupciones.</p>
												<p class="ws10-c-card-discovery-product__text"><strong>Sin
														permanencia</strong>
												</p>
												<a class="ws10-c-card-discovery-product__link ws10-c-card-discovery-product__link--chevron vfms__wanted-btn ws10-u--pb6x"
													href="https://yu.vodafone.es/tarifa-fibra-optica/"
													data-analytics-element="mas info" data-analytics-category="cta"
													data-analytics-context="hazte yuser con las tarifas de internet para estudiantes"
													data-analytics-id="1500081983239-0006001253292" target="_parent">
													Más info <span class="ws10-u--hidden-visually"> Más info </span>
												</a>
											</div>
										</section>
										<div class="vfms-discovery-product-search vfms__card-width"
											data-ws10-js="card-discovery-product-search">
											<ul class="ws10-c-card-discovery-product-search__icons-list">
												<li class="">
													<img class="" src="img/wanted/tab2/icon2.png" alt="icono fibra">
												</li>
											</ul>
											<h3 class="ws10-c-card-discovery-product-search__title ws10-u--pb6x">¿Llega la Fibra Óptica de
												Vodafone a mi hogar?</h3>
											<p>
												<a class="ws10-c-card-discovery-product-search__link ws10-c-card-discovery-product-search__chevron vfms__wanted-btn"
													href="https://www.vodafone.es/c/tienda-online/particulares/consulta-de-cobertura/"
													data-analytics-element="consulta cobertura"
													data-analytics-category="cta"
													data-analytics-context="llega la fibra optica de vodafone a mi hogar"
													data-analytics-id="1500081983239-0006972507769" target="_parent">
													Consulta cobertura <span class="ws10-u--hidden-visually"> Consulta
														cobertura
													</span>
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</section>

	{{!-- Section Benefits --}}
	<section class="vfms-benefits__container ws10-u--pb16x">
		<div class="ws10-o-wrapper">
			<h2 class="ws10-u-heading--4 mva10-u--pb6x mva10-u--pt16x"><strong>Descubre los beneficios de comprar
					online</strong></h2>
		</div>
		<div class="ws10-o-wrapper vfes-align--center">
			<div class="ws10-o-layout" data-responsive="48">
				<div class="ws10-o-layout__item ws10-u--1/4@desktop ws10-u--1/1">
					<article class="ws10-c-feature-hifi">
						<span class="ws10-c-feature-hifi__background">
							<div class="ws10-c-feature-hifi__icon-background">
								<img class="" role="img" src="img/benefits/icon1.svg" alt="icono transparencia"
									height='auto' />
								<!--<svg class="ws10-c-feature-hifi__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='56px' height='56px'><title>Descripción del icono</title><use class="icon-v3" xlink:href='#icon-apps-mid'></use></svg>-->
							</div>
						</span>
						<h3 class="ws10-c-feature-hifi__title">100% transparentes</h3>
						<p class="ws10-c-feature-hifi__text">No escondemos nada… ni la letra pequeña. Durante el proceso
							encontrarás toda la información sobre permanencias, costes después de oferta, condiciones
							legales… necesaria para comprar. </p>
					</article>
				</div>
				<div class="ws10-o-layout__item ws10-u--1/4@desktop ws10-u--1/1">
					<article class="ws10-c-feature-hifi">
						<span class="ws10-c-feature-hifi__background">
							<div class="ws10-c-feature-hifi__icon-background">
								<img class="" role="img" src="img/benefits/icon2.svg" alt="pago móvil" height='auto' />
								<!--<svg class="ws10-c-feature-hifi__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='56px' height='56px'><title>Descripción del icono</title><use class="icon-v3" xlink:href='#icon-apps-mid'></use></svg>-->
							</div>
						</span>
						<h3 class="ws10-c-feature-hifi__title">Paga tu móvil como quieras</h3>
						<p class="ws10-c-feature-hifi__text">Te mostramos todas las opciones para comprar tú móvil. Puedes conseguirlo con un pago único, pago mes a mes, o si lo prefieres fináncialo según tus necesidades.</p>
					</article>
				</div>
				<div class="ws10-o-layout__item ws10-u--1/4@desktop ws10-u--1/1">
					<article class="ws10-c-feature-hifi">
						<span class="ws10-c-feature-hifi__background">
							<div class="ws10-c-feature-hifi__icon-background">
								<img class="" role="img" src="img/benefits/icon3.svg"
									alt="icono elige donde recibir tus pedidos" height='auto' />
								<!--<svg class="ws10-c-feature-hifi__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='56px' height='56px'><title>Descripción del icono</title><use class="icon-v3" xlink:href='#icon-apps-mid'></use></svg>-->
							</div>
						</span>
						<h3 class="ws10-c-feature-hifi__title">Tú eliges donde recibir tu pedido</h3>
						<p class="ws10-c-feature-hifi__text">¿Prefieres recibir tu nuevo móvil en casa? ¿o en la tienda al lado de la playa? Nosotros te damos las opciones. Tú eliges.</p>
					</article>
				</div>
				<div class="ws10-o-layout__item ws10-u--1/4@desktop ws10-u--1/1">
					<article class="ws10-c-feature-hifi">
						<span class="ws10-c-feature-hifi__background">
							<div class="ws10-c-feature-hifi__icon-background">
								<img class="" role="img" src="img/benefits/icon4.svg" alt="icono siempre disponibles"
									height='auto' />
								<!--<svg class="ws10-c-feature-hifi__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='56px' height='56px'><title>Descripción del icono</title><use class="icon-v3" xlink:href='#icon-apps-mid'></use></svg>-->
							</div>
						</span>
						<h3 class="ws10-c-feature-hifi__title">Siempre disponibles</h3>
						<p class="ws10-c-feature-hifi__text">Resuelve tus dudas, gestiona tus productos, accede a productos personalizados y mucho más a través de la App Mi Vodafone y también en tiendas físicas.</p>
					</article>
				</div>
			</div>
		</div>
	</section>

	{{!-- Section APP Vodafone --}}
	<section class="vfms-app__container">
		<section class="ws10-c-call-to-action-app">
			<div class="ws10-o-wrapper">
				<div class="ws10-c-call-to-action-app__container">
					<p class="ws10-c-call-to-action-app__text"><strong>Gestiona tus servicios y accede a productos
							personalizados desde la App Mi Vodafone</strong></p>
					<div class="ws10-c-call-to-action-app__icons">
						<a href=" https://vfes.page.link/?efr=1&link=https://Dashboard?vfp%3DNueva_home%26cn%3Dweb%26dt%3D20200713%26pl%3Dbanner_sticky&apn=es.vodafone.mobile.mivodafone&ibi=es.vodafone.mobile.mivodafone&afl=https://play.google.com/store/apps/details?id=es.vodafone.mobile.mivodafone&ifl=https://apps.apple.com/es/app/mi-vodafone/id455655421&ofl=https://www.vodafone.es/c/mivodafone/es/area-privada-contrato/#/home?vfp=Nueva_home:cn-web:dt-20200713:pl-banner_sticky"
							type="button" name="cta" title="CTA"
							class="ws10-c-button ws10-c-button--tertiary ws10-c-button--dark"
							data-analytics-element="link app" data-analytics-category="cta"
							data-analytics-context="llega la fibra optica de vodafone a mi hogar"
							data-analytics-id="1500081983239-0004695569027" target="_parent">
							Ir a la App Mi Vodafone<span class="ws10-u--hidden-visually">Ir a la App Mi Vodafone</span>
						</a>
					</div>
				</div>
		</section>
	</section>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>