<link href="css/ws2r.v13.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html" data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
<div class="vfes-ms-content" id="flash">
    <div class="vfes-counter vfes-pt+ vfes-pb+ ">
        <div class="vfes-flex vfes-flex__direction--row-column-sm vfes-layout__wrapper vfes-flex__justify--around vfes-flex__align-items--center vfes-pt+ vfes-pb+">
            <div class="vfes-counter-container vfes-flex vfes-flex__direction--column">
                <h2 class="vfms-title vfes-align--center vfes-flex vfes-flex__direction--column vfes-colours--vodafone-white vfes-flex__align-content--center vfes-mb0 vfes-pt vfes-pb-">
                    <span>Tarifas Móvil + Fibra</span>
                    <span class="vfes-title--1 vfes-mb0"><strong>Oferta Flash</strong></span>
                    <span>50% dto 6 meses</span>
                </h2>
            </div>
            <div class="vfes-flex vfes-flex__direction--column vfes-colours--vodafone-white vfes-align--center">
                <p class="vfes-title--4 vfes-mt- vfes-mb-"><strong>¡Date prisa!</strong> esta oferta termina en:</p>
                <div class="container"></div>
            </div>
            <img class="vfes-bestprice" src="img/vfes-bestprice.png" data-vfes-inline-asset>
        </div>
	</div>

</div>
<script src="js/ws2r.v13.js" data-vfes-inline-asset></script>
<script src="js/main.js" data-vfes-inline-asset></script>
