<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="catalogo-marzo" style="display: none">
	<div class="vfes-p vfes-mb vfes-colours-bg-white vfes-align--center">
		<div class="vfes-layout__item"> 
			<section class="vfes-layout vfes-p0">
				<div class="vfes-layout__wrapper">
					<div class="vfes-layout__item">
						<h4 class="vfes-title vfes-title--4 vfes-title--center vfms-title vfes-mb-">Nueva revista de Vodafone</h4>
						<p class="vfes-paragraph vfes-paragraph--large vfms-text"><span class="vfes-title--light"> Descubre las novedades que tenemos para ti en la Península y Canarias</span></p>
					</div>
				</div>
				<div class="vfes-tabs vfes-tabs--group vfes-tabs--group-close" data-vfes-js="_tabsWs10">
					<ul class="vfes-tabs__container vfes-mt">
						<li class="vfes-tabs__tab">
							<button class="vfes-tabs__tab-button js-tab vfes-tabs__tab-active" data-option="1" role="tab" aria-controls="grouptab1" title="Península" aria-label="península" aria-selected="true">Península</button>
						</li>
						<li class="vfes-tabs__tab">
							<button class="vfes-tabs__tab-button js-tab" data-option="2" role="tab" aria-controls="grouptab2" title="Canarias" aria-label="canarias" aria-selected="false">Canarias</button>
						</li>
					</ul>
					<div class="vfes-tabs__content vfes-colours-bg-white vfes-align--center vfes-tabs__content-open" data-tab="1" id="grouptab1" role="tabpanel">
						<a href="https://www.vodafone.es/c/statics/revista-vf-peninsula.pdf" target="_new" data-analytics-context="revista vodafone peninsula" data-analytics-element="mockup revista" data-analytics-category="cta img">
							<img class="hide--tb" src="img/revista-vf-peninsula-mobile.jpg" alt="revista Vodafone clientes abril 2020 península">
							<img class="hide--xs" src="img/revista-vf-peninsula-desktop.jpg" alt="revista Vodafone clientes abril 2020 península">
						</a>
					</div>
					<div class="vfes-tabs__content vfes-colours-bg-white vfes-align--center" data-tab="2" id="grouptab2" role="tabpanel">
						<a href="https://www.vodafone.es/c/statics/revista-vf-canarias.pdf" target="_new" data-analytics-context="revista vodafone canarias" data-analytics-element="mockup revista" data-analytics-category="cta img">
							<img class="hide--tb" src="img/revista-vf-canarias-mobile.jpg" alt="revista Vodafone clientes abril 2020 canarias">
							<img class="hide--xs" src="img/revista-vf-canarias-desktop.jpg" alt="revista Vodafone clientes abril 2020 canarias">
						</a>
					</div>
				</div>
			</section> 
    	</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
