<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-banner" id="plp-ilimitable-a90">
    <section class="vfes-layout">
		<div  class="vfes-layout__wrapper vfes-card vfms-background">
			<div class="vfes-pt+-mov vfes-flex vfes-flex__direction--row-column-sm vfms-flex__column vfes-pl--mov vfes-pr--mov vfes-p-palm vfes-p">
				<div class="vfes-layout__item vfes-1/4 vfes-1/1-mov">
					<div class="vfes-flex vfes-flex__justify--center vfes-mb-mov">
						<img src="img/a90hatch.png" data-vfes-inline-asset>
					</div>
				</div>
				<div class="vfes-layout__item vfes-2/4 vfms-grid__main vfes-1/1-mov vfms-white">
					<div class="vfes-flex vfes-flex__direction--column vfes-main__container">
						<p class="vfes-title vfes-title--5 vfms-text__align">Llévate el <span class="vfes-title--bold"> Samsung Galaxy A90</span> con Tarifa ilimitada Total y además:</p>
						<div class="vfes-flex vfes-flex__align-items--center">
							<svg class="vfms-icon vfes-mr-">
								<title>Hatch icon</title>
								<use xlink:href="#icon3-gaming_esp" class="icon-v3"/>
							</svg>
							<p class="vfes-paragraph vfes-paragraph--large vfms-text__size">Hatch Premium, 1 año GRATIS</p>
						</div>
					</div>
				</div>
				<div class="vfes-layout__item vfes-1/4 vfes-1/1-mov vfms-white vfes-mt--mov vfes-mb-mov vfms-grid__secondary">
					<div class="vfes-flex vfes-flex__direction--column vfms-price__container">
						<p class="vfms-price vfes-paragraph vfes-paragraph--large"><span class="vfms-price__big vfes-title--bold">49,99€</span>/mes</p>
						<a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-a90-5g-negro-128gb-313764/" target="_new" title="Más información" class="vfes-button vfes-button--tertiary" data-analytics-element="mas informacion" data-analytics-category="cta" data-analytics-context="banner ilimitable a90">Más información</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
