<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
<div class="vfes-ms-content vfms-overlay" id="pop-up-ios">
	<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
		<div class="vfms-popup">
			<div class="vfes-layout">
				<div class="vfes-layout__wrapper vfes-flex vfes-flex__justify--between">
					<button id="target" class="vfms-close">
						<img src="img/ic-close.png" data-vfes-inline-asset>
					</button>
					<div class="vfes-layout__item vfms-flex">
						<p class="vfes-title vfes-title--2 vfes-title--center vfes-mb"><strong>¡Renueva tu móvil!</strong></p>
						<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center vfms-text vfes-mb-">Como eres uno de los nuestros, tenemos ofertas especiales para ti.</p>
						<p class="vfes-paragraph vfms-special--size vfes-paragraph--center vfes-mb"><strong>¿Te interesa?</strong></p>
						<button class="vfes-button vfes-button--primary" data-analytics-element="llama gratis" data-analytics-context="pop up catalogo ios" data-analytics-category="cta">Llama gratis al XXXXXXX</button>
					</div>
					<div class="vfes-layout__item vfms-device">
						<img src="img/iphone-tablet.png"  alt="iPhone 11" title="iPhone 11" data-vfes-inline-asset>
					</div>
					
				</div>
				
			</div>
			
		</div>	
</div>
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
