<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  data-vfes-inline-asset/>
<script>
</script>
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="plp-cabecera" style="">
    <!-- Section BANNER -->
    <section class="vf-banner  ws10-u--pb16x ws10-u-color--bg-light-grey">
        <div class="ws10-o-wrapper">
            <div class="ws10-o-layout vfms-container">
                    <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--2/3@tablet ws10-u--2/3@desktop">
                        <span class="ws10-u-heading--4">Tarifas Móvil</span>
                        <h2 class="ws10-u-heading--2-lt ws10-u--pt5x">Tenemos para ti <strong>datos ilimitados </strong> con alta velocidad <strong>5G</strong> al <strong>50% dto.</strong> 6 meses
                        </h2>
                    </div>
                    <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/3@tablet ws10-u--1/3@desktop">
                        <div class="vfms-hero__img-container">
                            <img class="vfms-hero__img-content"  src="https://www.vodafone.es/c/statics/imagen/alta-velocidad-orange.png" alt="">
                        </div>
                       
                    </div>        
            </div>
        </div>
    </section>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
