<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content" id="watch-series6" style="visibility: hidden;opacity: 0">
	<div class="channel-html">
        <!--BEGIN SECTION HERO-->
        <div class="section theme-light t37df53">
            <div class="section-content">
                <div class="row t3426d3">
                    <div class="column large-6 medium-7 small-12 r14622c">
                        <h1 class="ws10-u--hidden-visually">Apple watch series 6</h1>
                        <div class="row affea35">
                            <div class="column z932156">
                                <figure role="img" class="image image-hero_logo d375982"></figure>
                            </div>
                        </div>
                        <div class="row y80fb3c">
                            <div class="column large-12 t320e2f">
                                <h2 class="copy typography-headline-elevated z9b1326">El futuro de la&nbsp;salud est&aacute; en&nbsp;tu&nbsp;mu&ntilde;eca.</h2>
                                <p class="copy typography-intro-elevated helvetica-neue t309054">Mide tu ox&iacute;geno en sangre, controla tu salud cardiaca y ten a mano tus datos de actividad gracias a la pantalla Retina siempre activa. Ya puedes llevar una vida m&aacute;s sana, activa y conectada.</p>
                                {{!-- <p class="copy typography-body helvetica-neue z99156a">Cómpralo ya</p> --}}
                            </div>
                        </div>
                        <div class="row q03f9d7">
                            <div class="column large-12 w68c37f">
                                <!--BEGIN CHANNEL-BUTTON-->
                                {{!-- <a class="button button-channel button-base a30d585"> Comprar </a> --}}
                                <!--END CHANNEL-BUTTON-->
                                {{!-- button sdk --}}
                                <a href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/listado/" target="_self" type="button" name="cta" title="más info" class="ws10-c-button" id="vf-buttonHero" data-analytics-context="apple watch" data-analytics-element="mas info" data-analytics-category="cta" data-analytics-id="1500096206882-7869525387424">
                                    Más info
                                    <span class="ws10-u--hidden-visually">:Más información Apple Watch series6</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column large-6 medium-5 small-12 z9012e7">
                        <div class="row large-show v59ff9c">
                            <div class="column large-12 small-0 f063a40">
                                <figure role="img" class="image image-hero s2fc000"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION HERO-->
        <!--BEGIN SECTION HEALTH-->
        <div class="section theme-dark u421128">
            <div class="section-content">
                <div class="row r1067f9">
                    <div class="column large-6 medium-5 small-hide w6c3c43">
                        <figure role="img" class="image image-health v50f148"></figure>
                    </div>
                    <div class="column large-5 large-offset-1 medium-6 medium-offset-1 small-12 small-offset-0 t3a37a0">
                        <p class="copy typography-eyebrow y850698">Salud</p>
                        <h2 class="copy typography-headline q051f4a">Con&oacute;cete m&aacute;s a&nbsp;fondo.</h2>
                        <div class="row large-hide small-show x7cf5f3">
                            <div class="column large-12 e23b961">
                                <figure role="img" class="image image-health x722285"></figure>
                            </div>
                        </div>
                        <div class="row c124224">
                            <div class="column large-1 t3934a6">
                                <figure role="img" class="image image-health_blood z977a51"></figure>
                            </div>
                            <div class="column large-11 f8fd241">
                                <p class="copy typography-body helvetica-neue e35a9e8"><span style="color: #f5f5f7">Ox&iacute;geno en sangre.</span> Mide tu saturaci&oacute;n de ox&iacute;geno con un nuevo sensor revolucionario y&nbsp;la app Ox&iacute;geno en Sangre.<sup><a href="#footnote-1" class="footnote">1</a></sup></p>
                            </div>
                        </div>
                        <div class="row s2afc82">
                            <div class="column large-1 t3c074d">
                                <figure role="img" class="image image-health_ecg c2ea2c8"></figure>
                            </div>
                            <div class="column large-11 r188f39">
                                <p class="copy typography-body helvetica-neue u49cc77"><span style="color: #f5f5f7">App ECG.</span> Hazte un electro desde la&nbsp;mu&ntilde;eca en cualquier momento y lugar.<sup><a href="#footnote-2" class="footnote">2</a></sup></p>
                            </div>
                        </div>
                        <div class="row y811f4d">
                            <div class="column large-1 z91f7ee">
                                <figure role="img" class="image image-health_sleep z9c0195"></figure>
                            </div>
                            <div class="column large-11 f0cd377">
                                <p class="copy typography-body helvetica-neue s22432a"><span style="color: #f5f5f7">App Sue&ntilde;o.</span> Alcanza tus objetivos de descanso cada noche para sentirte mejor durante el d&iacute;a.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION HEALTH-->
        <!--BEGIN SECTION FITNESS-->
        <div class="section theme-dark y8bbff8">
            <div class="section-content">
                <div class="row w64759a">
                    <div class="column large-5 medium-6 small-12 y880e7e">
                        <div class="row u4d2cc2">
                            <div class="column large-12 e6881d4">
                                <p class="copy typography-eyebrow x75ce8e">Forma f&iacute;sica</p>
                                <h2 class="copy typography-headline a078277">Cada movimiento cuenta.</h2>
                                <p class="copy typography-intro f2268d9">Controla tu actividad diaria y&nbsp;registra todos tus entrenamientos, dentro y fuera del agua.<sup><a href="#footnote-3" class="footnote">3</a></sup></p>
                            </div>
                        </div>
                        <div class="row e7af9f8">
                            <div class="column large-12 small-6 t3f8357">
                                <figure role="img" class="image image-fitness_workout c84778b"></figure>
                                <p class="copy typography-body b70e6f9"><span style="color: #f5f5f7">Entrenos.</span> <br class="large-hide small-show" />Elige el tipo de entreno que quieras, como correr, nadar, hacer yoga, bailar o montar en bici, y registra cada movimiento.</p>
                            </div>
                            <div class="column large-6 large-hide medium-hide small-5 small-offset-1 small-show z9d54dc">
                                <figure role="img" class="image image-fitness u4d3160"></figure>
                            </div>
                        </div>
                    </div>
                    <div class="column large-6 large-offset-1 medium-5 medium-offset-1 small-hide y817cd1">
                        <div class="row e6e2961">
                            <div class="column x7ea27b">
                                <figure role="img" class="image image-fitness v587c1a"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION FITNESS-->
        <!--BEGIN SECTION CONNECTED-->
        <div class="section theme-dark w61f445">
            <div class="section-content">
                <div class="row x7c586d">
                    <div class="column large-6 medium-5 small-12 z9fbd63">
                        <figure role="img" class="image image-connected eca1458"></figure>
                    </div>
                    <div class="column large-5 large-offset-1 medium-6 medium-offset-1 small-12 small-offset-0 t37da9f">
                        <p class="copy typography-eyebrow v5328dd">Conectividad</p>
                        <h2 class="copy typography-headline t376260">Controla todo sobre la marcha.</h2>
                        <p class="copy typography-intro v5b73b7">Recibe llamadas y mensajes, escucha m&uacute;sica y usa Apple&nbsp;Pay y&nbsp;Siri. Todo desde la mu&ntilde;eca.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION CONNECTED-->
        <!--BEGIN SECTION DESIGN-->
        <div class="section theme-dark u4adaf5">
            <div class="section-content">
                <div class="row b0c1b9f">
                    <div class="column large-6 medium-7 small-12 s27cc02">
                        <p class="copy typography-eyebrow w6a2576">Dise&ntilde;o</p>
                        <h2 class="copy typography-headline t3d5069">Deja que tu estilo brille.</h2>
                        <p class="copy typography-intro s294eb6">La pantalla Retina siempre activa es 2,5 veces m&aacute;s brillante en exteriores cuando tienes la mu&ntilde;eca en reposo, as&iacute;&nbsp;que puedes ver bien tus datos sin necesidad de activar el reloj. Y con las nuevas esferas personalizables, tu&nbsp;Apple&nbsp;Watch ser&aacute; tan &uacute;nico como t&uacute;.</p>
                        <div class="row large-hide medium-hide small-show t3ee537">
                            <div class="column large-12 small-12 t395c82">
                                <figure role="img" class="image image-design f255d08"></figure>
                            </div>
                        </div>
                        <div class="row d41bd12">
                            <div class="column large-1 v5159b5">
                                <figure role="img" class="image image-design_face a88e4aa"></figure>
                            </div>
                            <div class="column large-11 ea0d0ef">
                                <p class="copy typography-body helvetica-neue u4435f6"><span style="color: #f5f5f7">Compartir esferas.</span> Descubre nuevas esferas en internet o en el App&nbsp;Store y&nbsp;comp&aacute;rtelas con quien quieras.</p>
                            </div>
                        </div>
                    </div>
                    <div class="column large-6 medium-5 small-12 small-hide z90293b">
                        <figure role="img" class="image image-design w689fb3"></figure>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION DESIGN-->
        <!--BEGIN SECTION WHY-->
        <div class="section theme-light c1956db">
            <div class="section-content">
                <div class="row f7e8090">
                    <div class="column large-12 c5690a4">
                        <p class="copy typography-eyebrow x7e39d3">Por qu&eacute; Apple Watch</p>
                        <h2 class="copy typography-headline y8909f6">El mejor dispositivo para&nbsp;llevar&nbsp;una&nbsp;vida&nbsp;sana.</h2>
                    </div>
                </div>
                <div class="row s2e61c5">
                    <div class="column large-3 medium-6 w66ebd5">
                        <figure role="img" class="image image-why_health ac94c01"></figure>
                        <p class="copy typography-body adaac9c"><span style="color: #1d1d1f">Salud</span><br />Recibe avisos de salud cardiaca, comprueba las horas que duermes y pide ayuda al instante si surge una&nbsp;emergencia.<sup><a href="#footnote-4" class="footnote">4</a></sup></p>
                    </div>
                    <div class="column large-3 medium-6 s25bb3b">
                        <figure role="img" class="image image-why_fitness a663f9d"></figure>
                        <p class="copy typography-body z904bf8"><span style="color: #1d1d1f">Forma f&iacute;sica</span><br />Lleva un seguimiento de tu&nbsp;actividad diaria y registra tus entrenos favoritos.</p>
                    </div>
                    <div class="column large-3 medium-6 c3d511c">
                        <figure role="img" class="image image-why_connectivity v5b9c4b"></figure>
                        <p class="copy typography-body x7d9a8f"><span style="color: #1d1d1f">Conectividad</span><br />Recibe llamadas y mensajes, escucha m&uacute;sica y usa Apple&nbsp;Pay y&nbsp;Siri. Todo desde la&nbsp;mu&ntilde;eca.</p>
                    </div>
                    <div class="column large-3 medium-6 v531116">
                        <figure role="img" class="image image-why_personalization f86426a"></figure>
                        <p class="copy typography-body q0138c1"><span style="color: #1d1d1f">Personalizaci&oacute;n</span><br />Estrena correa para darle un nuevo aire a tu look. Descubre y comparte esferas con los dem&aacute;s.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION WHY-->
        <!--BEGIN SECTION COMPARE-->
        <div class="section theme-light db95fa1">
            <div class="section-content">
                <div class="row y8c221f">
                    <div class="column large-12 q03e738">
                        <h2 class="copy typography-headline ce1e324">&iquest;Qu&eacute; Apple&nbsp;Watch va&nbsp;mejor contigo?</h2>
                        <div class="row z99bc73">
                            <div class="column large-6 medium-6 e11a900">
                                <div class="row u4639af">
                                    <div class="column large-0 r1cb1d9">
                                        <figure role="img" class="image image-compare_series_6 b117459"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 q058a1f">
                                <div class="row w67aa8c">
                                    <div class="column t3c8234">
                                        <figure role="img" class="image image-compare_se y8b96c5"></figure>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 t37259f">
                                <div class="row u464a03">
                                    <div class="column z9540c1">
                                        <figure role="img" class="image image-compare_series_3 q0569db"></figure>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row z90dffb">
                            <div class="column large-6 medium-6 t333f51">
                                <div class="row q0012ea">
                                    <div class="column large-0 r16171a">
                                        <h3 class="copy typography-eyebrow-elevated q0298c6">Series&nbsp;6</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 v5f09d1">
                                <div class="row t38d4fc">
                                    <div class="column t3efc59">
                                        <h3 class="copy typography-eyebrow-elevated s28b8bf">SE</h3>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 t34788e">
                                <div class="row w6842a9">
                                    <div class="column r1b7dd4">
                                        <p class="copy typography-eyebrow-elevated c5e8b2e">Series&nbsp;3</p>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row q0c6bd8">
                            <div class="column large-6 medium-6 b7e6430">
                                <div class="key-line w68582f">
                                    <div class="liner"></div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 b76537e">
                                <div class="key-line s2e0890">
                                    <div class="liner"></div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 v533e4d">
                                <div class="key-line z987164">
                                    <div class="liner"></div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row z95b729">
                            <div class="column large-6 medium-6 v5be4a9">
                                <p class="copy custom-17-body-reduced cefc75a">GPS</p>
                                <p class="copy typography-body-tight dd99a9b">Desde 12,50&nbsp;&euro;/mes</p>
                            </div>
                            <div class="column large-6 medium-6 a8fbf5c">
                                <p class="copy custom-17-body-reduced u4eb5e0">GPS</p>
                                <p class="copy typography-body-tight e6d6411">Desde 7,50&nbsp;&euro;/mes</p>
                            </div>
                            {{!-- <div class="column large-4 medium-4 z9a8683">
                                <p class="copy custom-17-body-reduced s2f98fe">GPS</p>
                                <p class="copy typography-body-tight ef912a2">Desde [XXX]&nbsp;&euro;</p>
                            </div> --}}
                        </div>
                        <div class="row a9a61b6">
                            <div class="column large-6 medium-6 ff4bd27">
                                <!--BEGIN CHANNEL-BUTTON-->
                                {{!-- <a href="#" class="button button-channel button-base ea45d71"> Comprar </a> --}}
                                <!--END CHANNEL-BUTTON-->
                                {{!-- button sdk --}}
                                <a href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/listado/" target="_self" type="button" name="cta" title="más info" class="ws10-c-button" id="vf-buttonProduct1" data-analytics-context="apple watch series 6" data-analytics-element="mas info" data-analytics-category="cta" data-analytics-id="1500096206882-4619683018377">
                                    Más info
                                    <span class="ws10-u--hidden-visually">:Más información Apple Watch series6</span>
                                </a>
                            </div>
                            <div class="column large-6 medium-6 fb6adaf">
                                <!--BEGIN CHANNEL-BUTTON-->
                                {{!-- <a href="#" class="button button-channel button-base z960f28"> Comprar </a> --}}
                                <!--END CHANNEL-BUTTON-->
                                {{!-- button sdk --}}
                                <a href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/listado/" target="_self" type="button" name="cta" title="más info" class="ws10-c-button" id="vf-buttonProduct2" data-analytics-context="apple watch se" data-analytics-element="mas info" data-analytics-category="cta" data-analytics-id="1500096206882-0310783820973">
                                    Más info
                                    <span class="ws10-u--hidden-visually">:Más información Apple Watch SE</span>
                                </a>
                            </div>
                            {{!-- <div class="column large-4 medium-4 fc0f325"> --}}
                                <!--BEGIN CHANNEL-BUTTON-->
                                {{!-- <a href="#" class="button button-channel button-base r14abc8"> Comprar </a> --}}
                                <!--END CHANNEL-BUTTON-->
                            {{!-- </div> --}}
                        </div>
                        <div class="row w6942e5">
                            <div class="column large-6 medium-6 z925fc2">
                                <div class="row y8363c7">
                                    <div class="column large-12 c9f3067">
                                        <p class="copy typography-body e4aef0b">Aluminio</p>
                                    </div>
                                    <div class="column v5839f8">
                                        <figure role="img" class="image image-compare_series_6_aluminum s2d1a1e"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 fc89cdb">
                                <div class="row x7f4fca">
                                    <div class="column large-12 x77901c">
                                        <p class="copy typography-body r1d2a93">Aluminio</p>
                                    </div>
                                    <div class="column u47f78d">
                                        <figure role="img" class="image image-compare_se_aluminum y87210f"></figure>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 fd6b143">
                                <div class="row s2e824e">
                                    <div class="column large-12 afe2832">
                                        <p class="copy typography-body b53117b">Aluminio</p>
                                    </div>
                                    <div class="column y846cfd">
                                        <figure role="img" class="image image-compare_series_3_aluminum y8ffc53"></figure>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row v58c699">
                            <div class="column large-6 medium-6 u409ac5">
                                <div class="row c73ae2d">
                                    <div class="column aa100d0">
                                        <figure role="img" class="image image-compare_44mm_40mm y80cb11"></figure>
                                    </div>
                                </div>
                                <p class="copy typography-body z9743b7">Caja de 40 o&nbsp;44&nbsp;mm</p>
                            </div>
                            <div class="column large-6 medium-6 r10df63">
                                <div class="row b37cba8">
                                    <div class="column t3c126e">
                                        <figure role="img" class="image image-compare_44mm_40mm y838e1a"></figure>
                                    </div>
                                </div>
                                <p class="copy typography-body x73b098">Caja de 40 o&nbsp;44&nbsp;mm</p>
                            </div>
                            {{!-- <div class="column large-4 medium-4 u4bc5d5">
                                <div class="row ca6bf56">
                                    <div class="column r12f64c">
                                        <figure role="img" class="image image-compare_42mm_38mm r1a1b92"></figure>
                                    </div>
                                </div>
                                <p class="copy typography-body d60d210">Caja de 38 o&nbsp;42&nbsp;mm</p>
                            </div> --}}
                        </div>
                        <div class="row r1debc7">
                            <div class="column large-6 medium-6 r1a2664">
                                <div class="row q0c0bca">
                                    <div class="column q099c8a">
                                        <figure role="img" class="image image-compare_series_6_display y8e679b"></figure>
                                    </div>
                                </div>
                                <p class="copy typography-body c4f16d2">Pantalla Retina <br class="large-show small-hide" />siempre activa<br />
                                    30&nbsp;% m&aacute;s grande<br class="large-show small-hide" /> que la del Series&nbsp;3</p>
                            </div>
                            <div class="column large-6 medium-6 u41b17b">
                                <div class="row q036842">
                                    <div class="column ada87ce">
                                        <figure role="img" class="image image-compare_se_display x71a5a3"></figure>
                                    </div>
                                </div>
                                <p class="copy typography-body u4888b4">Pantalla Retina<br />
                                    30&nbsp;% m&aacute;s grande<br class="large-show small-hide" /> que la del Series&nbsp;3</p>
                            </div>
                            {{!-- <div class="column large-4 medium-4 u45f013">
                                <div class="row r1f5ea8">
                                    <div class="column r11d835">
                                        <figure role="img" class="image image-compare_series_3_display u4fa0dd"></figure>
                                    </div>
                                </div>
                                <p class="copy typography-body w622564">Pantalla Retina</p>
                            </div> --}}
                        </div>

                        <div class="row x7e186c">
                            <div class="column large-6 medium-6 e2fbfa5">
                                <div class="row x7f5680">
                                    <div class="column y8c51be">
                                        <figure role="img" class="image image-compare_blood e1abd5b"></figure>
                                    </div>
                                    <div class="column large-12 w6633a5">
                                        <p class="copy typography-body-tight x72518e">App Ox&iacute;geno en Sangre<sup><a href="#footnote-1" class="footnote">1</a></sup></p>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 t3015d0">
                                <div class="row x7edcc4">
                                    <div class="column large-4 u472abb">
                                        <div class="key-line ccce5fe">
                                            <div class="liner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 b499be3">
                                <div class="row q092e10">
                                    <div class="column large-4 dadc417">
                                        <div class="key-line u438bea">
                                            <div class="liner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row r157b3f">
                            <div class="column large-6 medium-6 y81b138">
                                <div class="row q0137fb">
                                    <div class="column v5b5c75">
                                        <figure role="img" class="image image-compare_ecg w6ec6fa"></figure>
                                    </div>
                                    <div class="column large-12 q0f2324">
                                        <p class="copy typography-body-tight ab4cfb7">App ECG2<sup><a href="#footnote-2" class="footnote">2</a></sup></p>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 aeafb47">
                                <div class="row r1c098f">
                                    <div class="column large-4 a9b87d5">
                                        <div class="key-line s2b869c">
                                            <div class="liner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 q0c5179">
                                <div class="row x70b127">
                                    <div class="column large-4 u4d92b3">
                                        <div class="key-line u425e8c">
                                            <div class="liner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row dbd0dfa">
                            <div class="column large-6 medium-6 z921e48">
                                <div class="row v508d7a">
                                    <div class="column x712205">
                                        <figure role="img" class="image image-compare_heart aab5dab"></figure>
                                    </div>
                                    <div class="column large-12 v513d6b">
                                        <p class="copy typography-body w6c6d42">Notificaciones de frecuencia<br class="large-show small-hide" /> cardiaca alta o&nbsp;baja</p>
                                        <p class="copy typography-body r1c1c55">Aviso de ritmo irregular<sup><a href="#footnote-5" class="footnote">5</a></sup></p>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 c6f2467">
                                <div class="row ea4862f">
                                    <div class="column q0a760c">
                                        <figure role="img" class="image image-compare_heart t3f65bb"></figure>
                                    </div>
                                    <div class="column large-12 bf169b2">
                                        <p class="copy typography-body v512936">Notificaciones de frecuencia<br class="large-show small-hide" /> cardiaca alta o&nbsp;baja</p>
                                        <p class="copy typography-body f371eac">Aviso de ritmo irregular<sup><a href="#footnote-5" class="footnote">5</a></sup></p>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 x7f1b05">
                                <div class="row x709f73">
                                    <div class="column da9fd79">
                                        <figure role="img" class="image image-compare_heart a94ed36"></figure>
                                    </div>
                                    <div class="column large-12 v58c9d6">
                                        <p class="copy typography-body e1a2238">Notificaciones de frecuencia<br class="large-show small-hide" /> cardiaca alta o&nbsp;baja</p>
                                        <p class="copy typography-body dadd9b9">Aviso de ritmo irregular<sup><a href="#footnote-5" class="footnote">5</a></sup></p>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                        <div class="row v53a620">
                            <div class="column large-6 medium-6 aa7e09c">
                                <div class="row z922644">
                                    <div class="column e71c9cf">
                                        <figure role="img" class="image image-compare_fall eb3708b"></figure>
                                    </div>
                                    <div class="column large-12 w6bf229">
                                        <p class="copy typography-body x7dda5a">Detecci&oacute;n de&nbsp;ca&iacute;das</p>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-6 medium-6 z9e5e72">
                                <div class="row z95fb39">
                                    <div class="column c6d216d">
                                        <figure role="img" class="image image-compare_fall a62cd2f"></figure>
                                    </div>
                                    <div class="column large-12 u43fad8">
                                        <p class="copy typography-body x71457b">Detecci&oacute;n de&nbsp;ca&iacute;das</p>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="column large-4 medium-4 t3e10e4">
                                <div class="row x7c1965">
                                    <div class="column large-4 e739e83">
                                        <div class="key-line d58ae44">
                                            <div class="liner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION COMPARE-->
        <!--BEGIN SECTION ACCESSORIES-->
        <div class="section theme-light cc7daa8">
            <div class="section-content">
                <div class="row large-display-bleed medium-display-bleed small-display-bleed r1a94fa">
                    <div class="column large-6 medium-6 small-12 r16002b">
                        <figure role="img" class="image image-multiply_eyebrow b54703e"></figure>
                        <h2 class="copy typography-headline-reduced e8e7f59">J&uacute;ntalos. Y&nbsp;multiplica su&nbsp;poder.</h2>
                        <p class="copy typography-body x7ae27a">Marca una ruta en el iPhone y recibe un toque en la mu&ntilde;eca cada vez que tengas que girar. Registra tus entrenamientos en el&nbsp;reloj y analiza tu progreso en el iPhone. El Apple&nbsp;Watch y&nbsp;el iPhone son la pareja perfecta.</p>
                    </div>
                    <div class="column large-5 large-offset-1 medium-6 medium-offset-0 small-12 small-offset-0 e17d719">
                        <figure role="img" class="image image-multiply x7cab7f"></figure>
                    </div>
                </div>
                <div class="row large-display-bleed medium-display-bleed small-display-bleed t3bbabd">
                    <div class="column large-6 small-12 ad7e675">
                        <p class="copy typography-eyebrow-reduced z99f743">Correas</p>
                        <h2 class="copy typography-headline-reduced v5057e1">Cambia de estilo como quien cambia de correa.</h2>
                        <p class="copy typography-body z9473e2">Hay correas de varios estilos, materiales y&nbsp;colores, para que siempre vayas a juego con la ocasi&oacute;n.</p>
                        {{!-- <a href="#" class="link-wrapper"><span class="icon icon-chevronright icon-after typography-body cea9ab8"><span>Comprar correas</span></span></a> --}}
                    </div>
                    <div class="column large-6 small-12 u4b7ee9">
                        <figure role="img" class="image image-bands e7b52f5"></figure>
                    </div>
                </div>
                <div class="row large-display-bleed medium-display-bleed small-display-bleed t39adb8">
                    <div class="column large-6 medium-7 small-12 e78fd44">
                        <p class="copy typography-eyebrow-reduced e525f1c">AppleCare+
                        </p>
                        <h2 class="copy typography-headline-reduced e2cde1a">Soporte y cobertura en&nbsp;todo momento.</h2>
                        <div class="row be8d0e2">
                            <div class="column large-0 d346ae6">
                                <figure role="img" class="image image-applecare_tick c217cd2"></figure>
                            </div>
                            <div class="column large-11 x7f5a2a">
                                <p class="copy typography-body z91c3b1">Reparaciones certificadas por Apple</p>
                            </div>
                        </div>
                        <div class="row c8b46f7">
                            <div class="column large-0 t344dd7">
                                <figure role="img" class="image image-applecare_tick w6937a7"></figure>
                            </div>
                            <div class="column large-11 r1e5b12">
                                <p class="copy typography-body a5a81c6">Acceso prioritario 24/7 a los expertos de Apple</p>
                            </div>
                        </div>
                        <div class="row c5ed073">
                            <div class="column large-0 y81d692">
                                <figure role="img" class="image image-applecare_tick c9bc708"></figure>
                            </div>
                            <div class="column large-11 y8e8eb7">
                                <p class="copy typography-body q02a444">Cobertura de da&ntilde;os accidentales</p>
                            </div>
                        </div>
                            {{!-- <a href="#" class="link-wrapper"><span class="icon icon-chevronright icon-after typography-body x7d368a"><span>M&aacute;s informaci&oacute;n sobre AppleCare+ para el Apple&nbsp;Watch</span></span></a> --}}
                        </div>
                    <div class="column large-6 medium-4 medium-offset-1 small-12 small-offset-0 e69b07d">
                        <div class="row ec716ae">
                            <div class="column edcb521">
                                <figure role="img" class="image image-applecare e80750c"></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END SECTION ACCESSORIES-->
        <!--BEGIN LEGAL-->
        <div class="section z93c59a">
            <div class="section-content">
                <div class="row s204a9f">
                    <div class="column large-12 medium-12 v560ab1">
                        <span class="copy typography-caption d12b94f">
                            <ol>
                                <li id="footnote-1">Las mediciones de la app Ox&iacute;geno en&nbsp;Sangre no est&aacute;n pensadas para uso m&eacute;dico, como el autodiagn&oacute;stico o la consulta con un profesional, y solo deben utilizarse para cuidar el bienestar general y la forma física.</li>
                                <li id="footnote-2">La app ECG est&aacute; disponible con la &uacute;ltima versi&oacute;n de iOS y watchOS en el Apple&nbsp;Watch Series&nbsp;4 y posteriores, salvo en el Apple&nbsp;Watch SE. Consulta la compatibilidad en <a href="https://www.apple.com/es/watch/" class="footer-link">apple.com/es/watch</a>. El uso de la app ECG no est&aacute; recomendado para menores de 22&nbsp;a&ntilde;os. Con la app ECG, el Apple&nbsp;Watch es capaz de generar un electrocardiograma similar a los de derivaci&oacute;n&nbsp;I.</li>
                                <li id="footnote-3">El Apple&nbsp;Watch Series&nbsp;6, Apple&nbsp;Watch&nbsp;SE y Apple&nbsp;Watch Series&nbsp;3 tienen un grado de resistencia al agua de 50&nbsp;metros certificado por la norma ISO&nbsp;22810:2010. Por eso pueden utilizarse para actividades acu&aacute;ticas a poca profundidad, como nadar en una piscina o en el mar. Sin embargo, no se deben usar para practicar buceo, esqu&iacute; acu&aacute;tico ni actividades en el agua a gran velocidad o inmersiones profundas.</li>
                                <li id="footnote-4">Para usar Emergencia SOS, el iPhone debe estar cerca. Si no lo est&aacute;, el Apple&nbsp;Watch debe estar conectado a una red wifi conocida y las llamadas v&iacute;a wifi tienen que estar activadas.</li>
                                <li id="footnote-5">Los avisos de ritmo irregular requieren un Apple&nbsp;Watch Series&nbsp;3 o posterior (salvo el Apple&nbsp;Watch&nbsp;SE) con watchOS 6 o posterior, adem&aacute;s de un iPhone&nbsp;6s o posterior con la &uacute;ltima versi&oacute;n de iOS. Su uso no est&aacute; recomendado para menores de 22&nbsp;a&ntilde;os ni personas diagnosticadas con fibrilaci&oacute;n auricular. Consulta la compatibilidad en <a href="https://www.apple.com/es/watch/" class="footer-link">apple.com/es/watch</a>.</li>
                            </ol>
                        </span>
                    </div>
                </div>
                <div class="row r1eb5d4">
                    <div class="column large-12 c977c06">
                        <p class="copy typography-caption e60a2bc">Algunas correas se venden por separado.</p>
                        <p class="copy typography-caption d1d8f0f">El Apple&nbsp;Watch Series&nbsp;6, Apple&nbsp;Watch&nbsp;SE y Apple&nbsp;Watch Series&nbsp;3 requieren un iPhone&nbsp;6s o posterior con iOS&nbsp;14 o posterior.</p>
                        <p class="copy typography-caption a4b3758">Las prestaciones est&aacute;n sujetas a&nbsp;cambios. Algunas prestaciones, aplicaciones y servicios no est&aacute;n disponibles en todos los pa&iacute;ses o&nbsp;idiomas. Consulta la lista completa en <a href="https://www.apple.com/es/watchos/feature-availability/" class="footer-link">apple.com/es/watchos/feature-availability</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--END LEGAL-->
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
