<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ws10 vfes-ms-content" id="performance" style="display: none;">
	<header class="performance-header">
		<div id="envios" class="vfes-ms-content-filete vfes-color--vodafone-white vfes-color-bg-turqoise">
			<div class="vfes-layout vfes-layout__nopadding">
				<div class="vfes-layout__wrapper">
					<div class="vfes-layout__item vfms-flex">
						<p class="vfes-paragraph vfes-ms-content-filete__notice">
							<strong>Debido al Real Decreto tras el estado de alarma, todo operador está obligado a cesar toda la
								actividad que implique portabilidad fija o móvil por el momento.</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="performance-header__content">
			<img class="performance-header__logo" src="img/header-logo-vf.png" alt="Vodafone">
			<h1 class="performance-header__title">Ahora tus <span class="vfes-title--bold">líneas adicionales </span> a <span class="vfes-title--bold vfes-colours--vodafone-red"> mitad de precio</span></h1>
			<button class="wg-form-trigger vfes-button vfes-button--green" data-role="form-trigger">
				<svg><title>Te llamamos gratis</title><use xlink:href="#icon3-landline-or-call" class="icon-v3"></use></svg> Te llamamos gratis 
			</button>

			<button class="wg-form-trigger wg-form-trigger--circle" data-role="form-trigger">
				<img src="img/call-or-minutes-hi-dark.png" alt="Te llamamos gratis">
			</button>

			<div class="wg-form-sticky">
				<div class="wg-form-sticky__overlay">
					<div class="wg-form-sticky__wrapper">

						{{!-- <div class="wg-form-sticky__collapsable"> --}}
							<button class="wg-form-sticky__close-btn" data-role="wg-form-sticky-close" aria-hidden="false">
								<svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
									<title>Close</title>
									<use class="icon-v3" xlink:href="#icon3-close"></use>
								</svg>
							</button>
							<p class="vfes-paragraph--center" id="container" data-call="scheduleCall"> Llama gratis al <strong class="phone-number">
									<svg>
										<title>Te llamamos gratis</title>
										<use xlink:href="#icon3-landline-or-call" class="icon-v3"></use>
									</svg>
									<a href="tel:900920230" class="drp-phone">900 920 230</a>
								</strong>
							</p>
							<p class="vfes-paragraph--center"  data-msg="scheduleMsg" style="display:none;">Déjanos tus datos y te llamamos lo antes posible
							</p>
							<form class="wg-form vfes-form">
								<hr>
								<p class="vfes-paragraph--center" data-call-bottom="scheduleCallBottom">O si lo prefieres te llamamos</p>
								<p class="vfes-paragraph--center" data-msg-bottom="scheduleMsgBottom" style="display:none;">Nuestro horario de atención es de 9:00 a 22:00 hrs</p>
								<div class="vfes-form__box">
									<label for="phone" class="visually-hidden"> Nº de teléfono</label>
									<input type="tel" name="phone" id="phone" pattern="(6|7|8|9)[ -]*([0-9][ -]*){8}" maxlength="9" data-wg-validation="required,phone" placeholder="Nº Teléfono" class="vfes-form__input wg-input" required />
								</div>
								<div class="vfes-form__box vfms-form__checks-space">
										<input class="vfes-form__checkbox vfms-form__checkbox_bg-transparent wg-input"
											data-wg-validation="required" type="checkbox" id="privacy" value="on"
											type="checkbox" name="check" />
										<label class="vfes-form__label" target="_self" for="privacy"> 
											<a href="#"
												id="condiciones" data-modal="privacy" data-modal-close
												aria-haspopup="dialog" class="button-privacy vfes-color--silver"
												title="Vodafone One" target="_new" rel="nofollow">Acepto la  Política de
												Privacidad</a>
										</label>
									</div>
									<div class="vfes-form__box vfms-form__checks-space">
										<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication"
											name="gdpr" value="on" />
										<label class="vfes-form__label" for="comunication"><span
												class="vfes-cta-box__span">Acepto recibir comunicaciones comerciales de Vodafone</span> </label>
									</div>
								<input type="hidden" class="wg-return wg-input" value="DCL_gracias">
								<div class="dcl-gracias" style="display:none"> Gracias </div>
								<input type="submit" class="vfes-button vfes-button--green wg-submit" value="Te llamamos gratis">
							</form>
							<button style="display: none;" data-role="response-opener" data-overlay="callme-response" data-overlay-close aria-haspopup="dialog">Te llamamos</button>
						{{!-- </div> --}}
					</div>
					<button class="wg-form-sticky__collapse-btn" data-role="wg-form-sticky-collapse"></button>
				</div>
			</div>

		</div>
	</header>
	<section class="vfes-layout performance-hero">
		<div class="vfes-layout__wrapper vfms-one-wrapper">
            <div class="vfes-layout__item performance-hero__item">
		<div class="performance-hero__bolus vfes-flex vfes-flex__direction--column vfes-flex__align-items--center">
			<div class="vfes-flex vfes-flex__direction--row vfes-flex__align-items--base">
				<span class="vfes-title--regular vfes-title--bold performance-hero__bolus__percentage">50</span>
				<span class="vfes-title--regular vfes-title--bold performance-hero__bolus__percentage-simbol">%</span>
			</div>
			<div class="performance-hero__bolus__extra">
				<span class="vfes-title--bold performance-hero__bolus__extra-big">descuento</span>
			</div>
		</div>
		<h1 class="performance-hero__title vfes-color--vodafone-white">Ahora tus líneas adicionales a mitad de precio</h1>	
		<div class="performance-card">
			<h3 class="performance-card__title">
				<span>Conéctate con todos y <span class="vfes-title--bold">llévate otra línea móvil</span> </span>
				<span>al
					<span class="vfes-title--bold vfes-colours--vodafone-red">50 % de descuento</span>
				</span>
			</h3>
			<div class="performance-card__content">
				<div class="performance-card__maincol">
					<ul class="performance-card__list">
						<li class="performance-card__list-item">
							<span class="performance-card__list-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35" viewBox="0 0 192 192"><defs><symbol id="b72c2309-f081-4476-80d3-91b0b45ddd67" data-name="Mobile_ic_mid" viewBox="0 0 192 192"><line x1="84" y1="158" x2="108" y2="158" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect x="50" y="18" width="92" height="156" rx="14" ry="14" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>mobile-mid</title><g id="ab6a2f1a-4b94-4c55-8a77-5cb818d7cf46" data-name="ICON"><use id="be6cc9c3-70cf-4b16-93e1-a8b0b018c97e" data-name="Mobile_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#b72c2309-f081-4476-80d3-91b0b45ddd67"/></g></svg>
							</span>
							<span class="performance-card__list-item-description">
								<h3 class="list-item-description__title"><span class="vfes-title--bold">Gigas Ilimitados</span> con alta velocidad</h3>
							</span>
						</li>
						<li class="performance-card__list-item">
							<span class="performance-card__list-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 192 192"><defs><symbol id="e089978e-ef4f-410b-b545-a2ba1fc49219" data-name="Landline_or_Call_ic+_mid" viewBox="0 0 192 192"><g id="bbf6e5fb-6818-4cea-b36d-5920b90c48ec" data-name="ICON"><line x1="29.16" y1="29.15" x2="62.6" y2="78.87" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><line x1="116.33" y1="130.04" x2="162.78" y2="162.8" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g><path id="fa174262-3f4d-4fbc-93f7-cd56a6233530" data-name="&lt;Pfad&gt;" d="M116.33,130l13.19-10c3.48-1.79,7.07-2.22,9.23-.89,3.28,2,30.75,20.4,33.07,22s3.38,6.25.13,10.75-18.15,22.26-24.39,22-32.21-1-80.68-49.75S18.13,49.8,18,43.63,36.08,23,40.68,19.89s9.26-1.91,10.87.32c1.82,2.54,19.73,29.93,21.7,33.07,1.34,2.15.81,5.7-1.06,9.12S62.6,78.87,62.6,78.87s5.25,9.05,23.15,27.05C94.26,114.65,116.33,130,116.33,130Z" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect width="192" height="192" fill="none"/></symbol></defs><title>landline-or-call-mid</title><g id="528c2205-80ab-476a-bea3-b798f80aa753" data-name="ICON"><use id="5382086d-b9f7-429e-824f-30d9fdc4ad32" data-name="Landline_or_Call_ic+_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#e089978e-ef4f-410b-b545-a2ba1fc49219"/></g></svg>
							</span>
							<span class="performance-card__list-item-description">
								<h3 class="list-item-description__title"> <span class="vfes-title--bold">Llamadas ilimitadas</span></h3>
							</span>
						</li>
						{{!-- <li class="performance-card__list-item">
							<span class="performance-card__list-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="35" viewBox="0 0 192 192"><defs><symbol id="b72c2309-f081-4476-80d3-91b0b45ddd67" data-name="Mobile_ic_mid" viewBox="0 0 192 192"><line x1="84" y1="158" x2="108" y2="158" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect x="50" y="18" width="92" height="156" rx="14" ry="14" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>mobile-mid</title><g id="ab6a2f1a-4b94-4c55-8a77-5cb818d7cf46" data-name="ICON"><use id="be6cc9c3-70cf-4b16-93e1-a8b0b018c97e" data-name="Mobile_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#b72c2309-f081-4476-80d3-91b0b45ddd67"/></g></svg>
							</span>
							<span class="performance-card__list-item-description">
								<h3 class="list-item-description__title"> <span class="vfes-title--bold">Datos y llamadas ilimitadas</h3>
							</span>
						</li> --}}
						{{!-- <li class="performance-card__list-item">
							<span class="performance-card__list-item-icon">
								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30"
									viewBox="0 0 30 30">
									<defs>
										<path id="a"
											d="M14.164 28.354l8.671-13.79a.963.963 0 0 0 0-1.076c-.22-.324-.548-.54-.988-.54H16.03l1.866-9.694c.11-.54-.22-1.078-.768-1.185-.55-.216-1.098.107-1.318.538L8.127 17.904c-.22.323-.11.754 0 1.078.22.323.549.538.878.538h4.94l-1.976 8.08c-.11.538.11 1.077.658 1.292.11.108.33.108.44.108.548-.108.987-.323 1.097-.646z" />
									</defs>
									<g fill="none" fill-rule="evenodd">
										<path fill="#FFF" d="M0 0h30v30H0z" />
										<g>
											<use fill="#E60000" xlink:href="#a" />
											<use fill="#FFF" stroke="#666" xlink:href="#a" />
										</g>
									</g>
								</svg>
							</span>
							<span class="performance-card__list-item-description">
								<h3 class="list-item-description__title"> <span class="vfes-title--bold">10 Mbps </span>de velocidad móvil</h3>
							</span>
						</li> --}}

					</ul>
					<div class="performance-card__details-button">
							<a href="#" class="vfms-offer-details-link" target="_self" title="Más información"
                            data-modal="offer-details-ilimitada" data-modal-close aria-haspopup="dialog" data-analytics-element="detalle de la oferta" data-analytics-product = "movil;tarifa movil ilimitada" data-analytics-category= "link" data-analytics-context="particulares:oferta:ilimitada maxi">Más información</a>
						{{!-- <button class="performance-card__details-button" data-overlay="detalles-oferta" data-overlay-close aria-haspopup="dialog">Conoce la oferta en detalle</button> --}}
					</div>
				</div>
				<div class="performance-card__details performance-card__detailscol">
					<div class="performance-card__price-old">
						<span class="performance-card__price-old-text vfes-colours--vodafone-red vfes-title--bold">50% dto.</span>
						<span class="performance-card__price-old-number vfes-title--regular ">
							<span class="vfes-text--strikethrough-red">36,99€<span class="vfms-month">/mes</span></span>
							
						</span>
					</div>
					<div class="performance-card__price-new">
						<span class="performance-card__price-new-number">
							 <span class="vfes-title--regular vfes-title--bold performance-card__price">18,50€<span class="performance-card__text-small">/mes</span></span>
							 {{!-- <span class="vfes-title--regular vfes-title--bold performance-card__price">64,99€<span class="performance-card__text-small">/mes</span></span> --}}
						</span>
						<span class="performance-card__price-new-features">
							 {{!-- <span class="performance-card__deadline">50% dto. durante 6 meses</span> --}}
							 <span class="performance-card__deadline">
								 <span class="performance-card__deadline-item">IVA incluido.</span> 
								 {{!-- <span class="performance-card__deadline-item">Permanencia 6 meses</span> --}}
							</span>
							 
							 {{!-- <span class="vfms-iva">IVA incluido</span> --}}
						</span>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</section>
	{{!-- 
				
				$$\      $$\  $$$$$$\  $$$$$$$\   $$$$$$\  $$\       $$$$$$$$\  $$$$$$\  
				$$$\    $$$ |$$  __$$\ $$  __$$\ $$  __$$\ $$ |      $$  _____|$$  __$$\ 
				$$$$\  $$$$ |$$ /  $$ |$$ |  $$ |$$ /  $$ |$$ |      $$ |      $$ /  \__|
				$$\$$\$$ $$ |$$ |  $$ |$$ |  $$ |$$$$$$$$ |$$ |      $$$$$\    \$$$$$$\  
				$$ \$$$  $$ |$$ |  $$ |$$ |  $$ |$$  __$$ |$$ |      $$  __|    \____$$\ 
				$$ |\$  /$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      $$ |      $$\   $$ |
				$$ | \_/ $$ | $$$$$$  |$$$$$$$  |$$ |  $$ |$$$$$$$$\ $$$$$$$$\ \$$$$$$  |
				\__|     \__| \______/ \_______/ \__|  \__|\________|\________| \______/ 
				                                                                         
				                                                                         
				                                                                         
				 --}}


	{{!-- Modals Section --}}

		{{!-- Offer Details --}}

		{{!-- One Ilimitada --}}

	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
     <section id="offer-details-ilimitada" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-tarifaMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h4 class="vfes-title vfes-title--regular vfms-modal-title">Tu paquete  <span class="vfes-title--bold">Vodafone Ilimitada Maxi</span> incluye</h4>

				<div class="vfms-offer-details-features">
					<ul class="vfms-offer-details-features-container">
						<li class="vfms-offer-details-features-item"> <span class="vfes-title--bold">Datos ilimitados:</span> alta velocidad en tu móvil para música y video en streaming con calidad 4K.
						</li>
						<li class="vfms-offer-details-features-item"> <span class="vfes-title--bold">¿Qué puedes hacer con datos ilimitados?</span> Ya no tienes que buscar WiFi. Ahora con datos ilimitados podrás tener siempre abiertas las redes sociales, escuchar música y ver videos sin parar y además pasar las horas que quieras en Internet.
						</li>
						<li class="vfms-offer-details-features-item">Con Móvil ilimitada tendrás una velocidad de <span class="vfes-title--bold">descarga y subida de datos de 10Mbps.</span>
						</li>
						<li class="vfms-offer-details-features-item">Te recomendamos esta tarifa para:
							<ul class="vfms-rate-features-container">
								<li>Chat</li>
								<li>Uso avanzado de redes sociales</li>
								<li>Vídeos en streaming con calidad 4k</li>
								<li>Música en streaming</li>
								<li>Aplicación de navegación</li>
							</ul>
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Llamadas ilimitadas:</span>  Llamadas ilimitadas a fijos y móviles.
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Roaming:</span> Roaming incluido en Europa, Reino Unido y EEUU.
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Secure Net:</span> Secure Net para usar tu Smartphone con seguridad, gratis 3 meses, después 1€/mes.
						</li>
					</ul>
				</div>
            </div>
        </section>
		{{!-- End Ilimitada --}}
		{{!-- <section id="offer-details-ilimitada-maxi" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-tarifaMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h4 class="vfes-title vfes-title--regular vfms-modal-title">Tu paquete  <span class="vfes-title--bold">Vodafone Ilimitada Maxi</span> incluye</h4>

				<div class="vfms-offer-details-features">
					<ul class="vfms-offer-details-features-container">
						<li class="vfms-offer-details-features-item"> <span class="vfes-title--bold">Datos ilimitados:</span>  alta velocidad en tu móvil para música y video en streaming con calidad 4K.
						</li>
						<li class="vfms-offer-details-features-item"> <span class="vfes-title--bold">¿Qué puedes hacer con datos ilimitados?</span>Ya no tienes que buscar WiFi. Ahora con datos ilimitados podrás tener siempre abiertas las redes sociales, escuchar música y ver videos sin parar y además pasar las horas que quieras en Internet.
						</li>
						<li class="vfms-offer-details-features-item">Con Móvil ilimitada Maxi tendrás una velocidad de <span class="vfes-title--bold">descarga y subida de datos de 10Mbps.</span>
						</li>
						<li class="vfms-offer-details-features-item">Te recomendamos esta tarifa para:
							<ul class="vfms-rate-features-container">
								<li>Chat</li>
								<li>Uso avanzado de redes sociales</li>
								<li>Vídeos en streaming con calidad 4k</li>
								<li>Música en streaming</li>
								<li>Aplicación de navegación</li>
							</ul>
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Llamadas ilimitadas:</span>  Llamadas ilimitadas a fijos y móviles.
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Roaming:</span> Roaming incluido en Europa, Reino Unido y EEUU.
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Secure Net:</span> Secure Net para usar tu Smartphone con seguridad, gratis 3 meses, después 1€/mes.
						</li>
						<li class="vfms-offer-details-features-item"><span class="vfes-title--bold">Permanencia:</span> 12 meses.
						</li>

					</ul>
				</div>
            </div>
        </section> --}}
		{{!-- Ilimitada Maxi --}}
					{{!-- Política de Privacidad--}}
	
	
			<section id="privacy" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-tarifaMovil"
				aria-hidden="true" role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content js-modal-content">
	
					<h4 class="vfes-title vfes-title--regular vfes-title--bold vfms-modal-title">Política de Privacidad</h4>
	
					<div class="vfms-offer-details-features">
						<p>
							Los datos que nos facilitas en el registro formarán parte de una base de datos de Vodafone
							España. S.A.U., con domicilio en Avda. América 115, 28042 de Madrid y serán tratados para
							facilitarte la información solicitada y poder contactar contigo en el futuro para llevar a cabo
							acciones comerciales, en caso de que nos hayas proporcionado tu consentimiento marcando el check
							habilitado al efecto.
						</p>
						<p>
							Podrás ejercitar los derechos de acceso, rectificación, cancelación, oposición, limitación
							dirigiéndote a Vodafone España a la dirección antes indicada. Mantendremos tus datos mientras no
							ejerzas tu derecho de cancelación. Podrás ponerte en contacto con el Delegado de Protección de
							Datos (DPO) a través de: DPO-SPAIN@vodafone.com
						</p>
					</div>
				</div>
			</section>
			{{!-- End Política de Privacidad --}}
    
	
	
	</div>
    </div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>