<link href="css/ws2r.v14.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset/>
<div class="vfes-ms-content" id="envios">
    <div class="vfes-layout vfes-color-bg-black vfes-layout__nopadding">
        <div class="vfes-layout__wrapper">
            <div class="vfes-layout__item vfms-flex">
                <img class="vfms-img" src="img/icon-truck.png" data-vfes-inline-asset>
                <p class="vfes-paragraph"> Gastos de envío gratuitos hasta el 31 de Octubre</p>
            </div>
        </div>
    </div>
</div>
<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>
