<link href="css/ws10.css" rel="stylesheet"  data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>

<div class="vfms-content" id="carrito" style="visibility: hidden;opacity: 0">
    <li class="vfes-iconShopping vfes-color-bg-vodafone-white ws10-u--mb12x">
        <button class="vfes-iconShopping__icon" data-js="_openShoppingCart">
            <div class="vfes-iconShopping__counter vfms-counter"><span>1</span></div>
            <img src="img/icon-shop.svg" alt="icono carrito" data-vfes-inline-asset>
        </button>
        <ul class="vfes-iconShopping__list vfms-iconShopping__list">
            <li class="vfes-iconShopping__list--item-container">
                <div class="vfes-iconShopping__list--item ws10-flex__align-items--center">
                    <img src="img/icon-convergente.svg" alt="icono carrito" data-vfes-inline-asset>
                    <p class="ws10-u--m0">Tarifa Móvil + Fibra + Tv</p>
                </div>
                <div class="vfes-iconShopping__list--badge">
                    <b class="ws10-c-badge-text ws10-c-badge-text--lemon-yellow">El precio ha cambiado</b>
                </div>
            </li>
            <li class="vfes-iconShopping__list--item-container">
                <div class="vfes-iconShopping__list--item ws10-flex__align-items--center">
                    <img src="img/icon-wifi.svg" alt="icono Fibra" data-vfes-inline-asset>
                    <p class="ws10-u--m0">Fibra 100Mbps</p>
                </div>
                <div class="vfes-iconShopping__list--badge">
                    <b class="ws10-c-badge-text ws10-c-badge-text--lemon-yellow">El precio ha cambiado</b>
                </div>
            </li>
            <li class="vfes-iconShopping__list--item-container">
                <div class="vfes-iconShopping__list--item ws10-flex__align-items--center">
                    <img src="img/icon-sim.svg" alt="icono Móvil + TV" data-vfes-inline-asset>
                    <p class="ws10-u--m0">Tarifa Móvil + Tv</p>
                </div>
                <div class="vfes-iconShopping__list--badge">
                    <b class="ws10-c-badge-text ws10-c-badge-text--lemon-yellow">El precio ha cambiado</b>
                </div>
            </li>
            <li class="vfes-iconShopping__list--item-container">
                <div class="vfes-iconShopping__list--item ws10-flex__align-items--center">
                    <img src="img/icon-sim.svg" alt="icono Móvil">
                    <p class="ws10-u--m0">Tarifa Móvil datos ilimitados</p>
                </div>
                <div class="vfes-iconShopping__list--badge">
                    <b class="ws10-c-badge-text ws10-c-badge-text--lemon-yellow">El precio ha cambiado</b>
                </div>
            </li>
            <li class="vfes-iconShopping__list--item vfes-iconShopping__list--item__price">
                <p class="vfes-iconShopping__list--item__price--text">Total: <span class="vfes-iconShopping__price"><span>00,00</span><span>€/mes</span></span></p>
                <a class="ws10-c-button ws10-u--1/1 ws10-c-button--primary">Continuar compra</a>
            </li>
        </ul>
    </li>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
