<link href="css/ws2r.v11.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content" id="xsell" style="display: none">
	<div class="vfes-layout vfms-banner">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item vfes-3/8 vfes-1/2-palm vfes-1/1-mov">
				<h2 class="vfes-title vfes-title--3">Si eres de Vodafone ya eres ilimitable</h2>
				<p class="vfms-banner-text vfes-paragraph vfes-paragraph--large">Contrata Serielovers por 10€ y llévate
					la
					suscripción a <strong>Amazon Prime incluida.</strong></p>
				<button type="button" class="vfes-button vfes-button--primary"
					onclick="window.parent.document.ws_popup.open3('Pack Serielovers', '0€/mes');"
					data-analytics-context="Pack Serielovers" data-analytics-element="compra facil"
					data-analytics-category="cta" title="Compra fácil">Compra fácil<span class="visually-hidden">:Pack
						Serieloves</span></button>
			</div>
			<div class="vfms-banner-corner">
				<img src="img/logo-amazonprime.png">
			</div>
		</div>
	</div>

</div>
<script src="js/ws2r.v11.js"></script>
<script src="js/main.js"></script>
