<link href="css/ws2r.v13.css" rel="stylesheet" data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
<div class="vfes-ms-content-tv" id="nudge-tv">
        <div class="vfms-banner--bg">
            <div class="vfes-layout__wrapper vfms-banner-content vfes-flex__align-items--center vfes-flex__justify--between vfes-flex vfes-flex__direction--row-column-sm">
                <div class="vfes-1/2 vfes-1/1-mov vfms-img--offer vfes-pt">
                    <img class="nudge-img" alt="televisión y ordenador" src="https://www.vodafone.es/c/statics/imagen/295-Base-Sales-mockup-devices-min.png">
                </div>
                <div class="vfes-1/2  vfes-2/3-palm vfes-1/1-mov vfms-banner-content-text">
                    <p class="vfes-mb0 vfes-pb- vfms-title--3">Por ser cliente... tenemos una oferta para ti</p>
                    <p class="vfms-title--2 vfes-mb0 vfes-pb- "><span class="vfes-title--bold">Vodafone One ilimitada Maxi</span> con <span class="vfes-title--bold">Serielovers GRATIS</span> con <span class="vfes-title--bold">HBO España y Amazon Prime incluido</span></p>
                    <a href="tel:900920157" class="vfms-button vfms-button--primary vfms-btn vfms-paragraph--large" data-analytics-element="llama gratis" data-analytics-context="nudge tv" data-analytics-category="cta">Llama gratis al 900 920 157</a>
                </div></div>
        </div>
</div>
