<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pop-up-mobile</title>
    <link href="css/ws2r.v13.css" rel="stylesheet"  />
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
</head>

<body>
	<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
    <div class="vfes-ms-content" id="pop-up-mobile">
		<div class="vfms-overlay">
			<div class="vfms-popup">
				<button id="target" class="vfms-close">
					<img src="img/ic-close.png" data-vfes-inline-asset>
				</button>
				<p class="vfes-title vfes-title--2 vfes-title--center"><strong>¡Hola!</strong></p>
				<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center vfms-text">Como eres uno de los nuestros, tenemos ofertas especiales para ti.</p>
				<p class="vfes-title vfes-title--2 vfes-title--center"><strong>Líneas adicionales al <span class="vfms-popup-itemblock">50% dto.</span></strong></p>
				<p class="vfes-title vfes-title--2 vfes-title--center"><strong>¿Te interesa?</strong></p>
				<button class="vfes-button vfes-button--primary" data-analytics-element="llama gratis" data-analytics-context="pop up lineas" data-analytics-category="cta">Llama gratis al <span class="drp-phone">900 920 052</span></button>
			</div>
		</div>
    </div>
    <script src="js/jquery.min.js"></script>
	<script src="js/ws2r.v13.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
