<section class="vf-app ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet">
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <h3 class="ws10-u-heading--3-lt ws10-u--mt8x">Red inteligente con <strong>extensores de alta calidad</strong></h3>
            <div class="ws10-o-layout__item ws10-u--1/2@desktop ws10-u--1/2@tablet">
                <picture>
                    <source class="vf-img" media="(min-width: 960px)"
                        srcset="img/app/app-desktop.png" type="image/png">
                    <source class="vf-img" media="(min-width: 960px)" srcset="img/app/app-desktop.webp" type="image/webp">
                    <source class="vf-img" media="(min-width: 768px)" srcset="img/app/app-tablet.png" type="image/png">
                    <source class="vf-img" media="(min-width: 768px)" srcset="img/app/app-tabet.webp" type="image/webp">
                    <img class="vf-img" src="img/app/app-mobile.png">
                </picture>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@desktop ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail ws10-u--mb6x">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                            <title>titulo</title>
                            <use class="icon-v3" xlink:href="#icon-bill-pay-phone-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text">Con una <strong>app</strong> en la que podrás ver la topología de la red y los <strong>dispositivos conectados a tu router</strong>.</p>
                </div>
                <div class="ws10-c-product-detail ws10-u--mb6x">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                            <title>titulo</title>
                            <use class="icon-v3" xlink:href="#icon-signed-in-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>Gestión del nombre y la contraseña</strong> de la red WiFi.</p>
                </div>
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <img src="img/app/mobile-device.svg" alt="">
                    </div>
                    <p class="ws10-c-product-detail__text">Posibilidad de <strong>compartir</strong> el nombre y la contraseña de <strong>la red WiFi con tus invitados</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</section>