<section class="vf-conectivity ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet">
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <h3 class="ws10-u-heading--3-lt ws10-u--mt8x">Cobertura total y <strong>máximo alcance</strong> en todo el hogar</h3>
            <div class="ws10-o-layout__item ws10-u--1/2@desktop ws10-u--1/2@tablet">
                <picture>
                    <source class="vf-img" media="(min-width: 960px)"
                        srcset="img/conectivity/device-desktop.jpg" type="image/jpg">
                    <source class="vf-img" media="(min-width: 960px)" srcset="img/conectivity/device-desktop.webp" type="image/webp">
                    <source class="vf-img" media="(min-width: 768px)" srcset="img/conectivity/device-tablet.jpg" type="image/jpg">
                    <source class="vf-img" media="(min-width: 768px)" srcset="img/conectivity/device-tabet.webp" type="image/webp">
                    <img class="vf-img" src="img/conectivity/device-mobile.jpg">
                </picture>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@desktop ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail ws10-u--mb6x">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                            <title>titulo</title>
                            <use class="icon-v3" xlink:href="#icon-home-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text">En cualquier tamaño de casa (apartamento, piso, chalet..).</p>
                </div>
                <div class="ws10-c-product-detail ws10-u--mb6x">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                            <title>titulo</title>
                            <use class="icon-v3" xlink:href="#icon-broadband-or-wifi-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>Garantizando una conexión estable</strong> y una cobertura óptima.</p>
                </div>
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                            <title>titulo</title>
                            <use class="icon-v3" xlink:href="#icon-need-help-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>Soporte 24x7</strong>, monitorizando y optimizando la conexión de forma automática.</p>
                </div>
            </div>
        </div>
    </div>
</section>