<section class="vf-header" data-js="_banner">
	<div class="ws10-o-wrapper">
		<div class="ws10-o-layout vf-header--container ws10-flex__justify--between">
			<div class="vf-header--banner ws10-o-layout__item ws10-u--2/4@tablet ws10-u--2/4@desktop">
                <h2 class="ws10-u-heading--4-lt ws10-u--mt6x ">Super WiFi Vodafone</h2>  
                <p class="ws10-flex ws10-flex__direction--column">
                    <span class="ws10-u-heading--1-lt"><strong>Mejora la cobertura WiFi</strong> y optimiza la señal dentro del hogar</span>
                </p>
			</div>
                <div class="vf-rate-ticket ws10-o-layout__item ws10-u--2/4@tablet ws10-u--1/3@desktop ws10-u--p6x">
                <h4 class="ws10-u-heading--4-lt">Super WiFi Vodafone</h4>
                <div  class="ws10-c-card ws10-c-card-rate" data-ws10-js="card-rate">
                    <div class="ws10-c-tabs-simple ws10-o-tabs" data-ws10-js='tabs-simple'>
                    <div class="ws10-c-tabs-simple__list" role="tablist" data-ws10-tab="tab-container" data-responsive="20">
                        <button id="ticketTab-1" class="ws10-c-tabs-simple__list-item ws10-c-tabs-simple__tab vf-ticket--tabs" role="tab" aria-controls="ticket-cliente" type="button">
                            Soy cliente
                        </button>
                        <button id="ticketTab-2" class="ws10-c-tabs-simple__list-item ws10-c-tabs-simple__tab vf-ticket--tabs" role="tab" aria-controls="ticket-noClliente" type="button">
                            No soy cliente
                        </button>
                    </div>
                    <div id="ticket-cliente"
                         aria-labelledby="control1"
                         class="ws10-c-tabs-simple__content ws10-o-tabs__panel"
                         role="tabpanel"
                         tabindex="0" hidden="hidden">
                            <div class="ws10-c-card-rate__w-rates">
                                <div class="ws10-c-card-rate__a-rate">
                                    <ul class="ws10-c-card-rate__product-info">
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-superwifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Amplificador de conexión de fibra
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            con 2 extensores de red
                                        </p>
                                    </div>
                                </li>
                                    </ul>
                        
                                    <form action="" method="get" class="ws10-c-card-rate__form ws10-c-form">
                                         <div class="ws10-c-card-rate__w-cta vf-block">
                                            <div class="ws10-c-card-rate__w-offers vf-block">
                                                <div class="ws10-c-rate-price-block ws10-flexws10-flex__direction--row ws10-flex__justify--between ws10-flex__align-items--end" >
                                                    <div>
                                                        <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                            <span class="ws10-c-rate-price-block__rate-dto-percent ws10-c-price--x-small ws10-c-price--turquoise">
                                                                00% dto.
                                                            </span>
                                                        </p>
                                                        <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                            <span class="ws10-c-rate-price-block__rate-dto-label">
                                                            Sin permanencia
                                                            </span>
                                                        </p>
                                                        <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                            <del
                                                                class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                                                                <span class="ws10-c-price__amount">00</span>
                                                                <span class="ws10-c-price__currency">€</span>
                                                                <sub class="ws10-c-price__recurrence">/mes</sub>
                                                            </del>
                                                        </p>
                                                        <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                            <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                                                                <span class="ws10-c-price__amount"> desde 6</span>
                                                                <span class="ws10-c-price__currency">€</span>
                                                                <sub class="ws10-c-price__recurrence">/mes</sub>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <button type="submit" name="cta" title="CTA" class="ws10-c-button ws10-c-button--auto"
                                                        data-analytics-element="" data-analytics-category="cta">
                                                        Más info
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    </div>
                    <div id="ticket-noClliente"
                         aria-labelledby="control2"
                         class="ws10-c-tabs-simple__content ws10-o-tabs__panel"
                         role="tabpanel"
                         tabindex="0" hidden="hidden">
                        <ul class="ws10-c-card-rate__product-info">
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-superwifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Amplificador de conexión de fibra
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            con 2 extensores de red
                                        </p>
                                    </div>
                                </li>
                
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-mobile"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                           2 líneas con datos y min ilimitados
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                            Velocidad alta
                                            <svg class="ws10-c-card-rate__product-txt-icon" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <use xlink:href="#icon-thunder-3"></use>
                                            </svg>
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                           600Mbps Fibra Óptica
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            + llamadas ilimitadas en fijo
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-tv"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                           Pack TV Serielovers 
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            con HBO España y más…
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-securenet"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                          SecureNet Family 
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                           protección ante virus
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="ws10-c-card-rate__w-cta">
                            <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-rate-price-block ws10-c-card-rate__offer" >
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <span class="ws10-c-rate-price-block__rate-dto-percent ws10-c-price--x-small ws10-c-price--turquoise">
                                            00% dto.
                                        </span>
                                    </p>
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <span class="ws10-c-rate-price-block__rate-dto-label">
                                            Sin permanencia
                                        </span>
                                    </p>
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <del
                                            class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                                            <span class="ws10-c-price__amount">00</span>
                                            <span class="ws10-c-price__currency">€</span>
                                            <sub class="ws10-c-price__recurrence">/mes</sub>
                                        </del>
                                    </p>
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                                            <span class="ws10-c-price__amount"> desde 6</span>
                                            <span class="ws10-c-price__currency">€</span>
                                            <sub class="ws10-c-price__recurrence">/mes</sub>
                                        </span>
                                    </p>

                            <button type="submit" name="cta" title="CTA" class="ws10-c-button ws10-c-button--auto"
                                data-analytics-element="" data-analytics-category="cta">
                                Más info
                            </button>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
                {{!--  --}}
				{{!-- <div class="ws10-c-card ws10-c-card--no-shadow ws10-c-card-rate" data-ws10-js="card-rate">
                
                    <div class="ws10-c-card-rate__tabs">
                        <button class="ws10-c-card-rate__tab"
                            data-ws10-card-rate-tab-refs='[{"tab": "rates", "id": "rate-1"},{"tab": "tags", "id": "tag-1"}]'>
                            Soy cliente
                        </button>
                        <button class="ws10-c-card-rate__tab"
                            data-ws10-card-rate-tab-refs='[{"tab": "rates", "id": "rate-2"},{"tab": "tags"}]'>
                           No soy cliente
                        </button>
                    </div>
                
                    <div class="ws10-c-card-rate__w-rates">
                        <div class="ws10-c-card-rate__a-rate" id="rate-1" data-ws10-card-rate-tab="rates">
                            <ul class="ws10-c-card-rate__product-info">
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-superwifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Amplificador de conexión de fibra
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            con 2 extensores de red
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            <div class="ws10-c-card-rate__w-cta vf-block">
                                <div class="ws10-c-card-rate__w-offers vf-block">
                                    <div class="ws10-c-rate-price-block ws10-flexws10-flex__direction--row ws10-flex__justify--between ws10-flex__align-items--end" >
                                        <div>
                                            <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                <span class="ws10-c-rate-price-block__rate-dto-percent ws10-c-price--x-small ws10-c-price--turquoise">
                                                    00% dto.
                                                </span>
                                            </p>
                                            <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                <span class="ws10-c-rate-price-block__rate-dto-label">
                                                Sin permanencia
                                                </span>
                                            </p>
                                            <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                <del
                                                    class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                                                    <span class="ws10-c-price__amount">00</span>
                                                    <span class="ws10-c-price__currency">€</span>
                                                    <sub class="ws10-c-price__recurrence">/mes</sub>
                                                </del>
                                            </p>
                                            <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                                <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                                                    <span class="ws10-c-price__amount"> desde 6</span>
                                                    <span class="ws10-c-price__currency">€</span>
                                                    <sub class="ws10-c-price__recurrence">/mes</sub>
                                                </span>
                                            </p>
                                        </div>
                                        <div>
                                            <button type="submit" name="cta" title="CTA" class="ws10-c-button ws10-c-button--auto"
                                            data-analytics-element="" data-analytics-category="cta">
                                            Más info
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="ws10-c-card-rate__a-rate" id="rate-2" data-ws10-card-rate-tab="rates">
                            <ul class="ws10-c-card-rate__product-info">
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-superwifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Amplificador de conexión de fibra
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            con 2 extensores de red
                                        </p>
                                    </div>
                                </li>
                
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-mobile"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                           2 líneas con datos y min ilimitados
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                            Velocidad alta
                                            <svg class="ws10-c-card-rate__product-txt-icon" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <use xlink:href="#icon-thunder-3"></use>
                                            </svg>
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                           600Mbps Fibra Óptica
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            + llamadas ilimitadas en fijo
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-tv"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                           Pack TV Serielovers 
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            con HBO España y más…
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-securenet"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                          SecureNet Family 
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                           protección ante virus
                                        </p>
                                    </div>
                                </li>
                            </ul>
                
                            <div class="ws10-c-card-rate__w-cta">
                            <div class="ws10-c-card-rate__w-offers">
                                <div class="ws10-c-rate-price-block ws10-c-card-rate__offer" >
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <span class="ws10-c-rate-price-block__rate-dto-percent ws10-c-price--x-small ws10-c-price--turquoise">
                                            00% dto.
                                        </span>
                                    </p>
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <span class="ws10-c-rate-price-block__rate-dto-label">
                                            Sin permanencia
                                        </span>
                                    </p>
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <del
                                            class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                                            <span class="ws10-c-price__amount">00</span>
                                            <span class="ws10-c-price__currency">€</span>
                                            <sub class="ws10-c-price__recurrence">/mes</sub>
                                        </del>
                                    </p>
                                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0">
                                        <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                                            <span class="ws10-c-price__amount"> desde 6</span>
                                            <span class="ws10-c-price__currency">€</span>
                                            <sub class="ws10-c-price__recurrence">/mes</sub>
                                        </span>
                                    </p>

                            <button type="submit" name="cta" title="CTA" class="ws10-c-button ws10-c-button--auto"
                                data-analytics-element="" data-analytics-category="cta">
                                Más info
                            </button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
		</div>
	</div>
</section>