<section class="vf-includes ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet">
     <h4 class="ws10-u-heading--4-lt">La tarifa incluye:</h4>
    {{!-- Rate 1 includes --}}
    <div id="nosurprise-1" aria-labelledby="control1" class="ws10-c-tabs-simple__content ws10-o-tabs__panel ws10-o-wrapper" role="tabpanel" tabindex="0" hidden="hidden">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                  <div class="ws10-c-product-detail__icon">
                    <img src="img/app/mobile-device.svg" alt="">
                  </div>
                  <p class="ws10-c-product-detail__text">2 líneas móviles con llamadas y <strong>datos ilimitados a máxima velocidad en la red 5G.</strong></p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-multiscreen-mid"></use>
                        </svg>
                        {{!-- <img src="img/rates/icono-dispositivos.svg" alt=""> --}}
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>600Mbps de fibra óptica simétrica</strong> para tu hogar, podrás conectar más de 25 dispositivos a la vez.</p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-tv-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text">TV con <strong>+100 canales, +40.000 contenidos bajo demanda, HBO España y Amazon Prime incluidos con decodificador 4K.</strong></p>
                </div>
            </div>
        </div>
    </div>
    {{!-- Rate 2 includes --}}
    <div id="nosurprise-2" aria-labelledby="control2" class="ws10-c-tabs-simple__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                  <div class="ws10-c-product-detail__icon">
                    <img src="img/app/mobile-device.svg" alt="">
                  </div>
                  <p class="ws10-c-product-detail__text">3 líneas móviles con llamadas y <strong>datos ilimitados a máxima velocidad en la red 5G.</strong></p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-multiscreen-mid"></use>
                        </svg>
                        {{!-- <img src="img/rates/icono-dispositivos.svg" alt=""> --}}
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>600Mbps de fibra óptica simétrica</strong> para tu hogar, podrás conectar más de 25 dispositivos a la vez.</p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-tv-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text">TV con <strong>+100 canales, +40.000 contenidos bajo demanda, HBO España y Amazon Prime incluidos con decodificador 4K.</strong></p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-home-mid"></use>
                        </svg>
                        {{!-- <img src="img/rates/icono-home.svg" alt=""> --}}
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>V-Home Mini</strong> para ver desde el móvil <strong>lo que pasa en tu casa</strong> cuando no estás.</p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-one-number-mid"></use>
                        </svg>
                        {{!-- <img src="img/rates/icono-one-number.svg" alt=""> --}}
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>Mismo número y misma tarifa</strong> de voz y datos en todos tus dispositivos <strong>sin tener que cambiar la SIM</strong> con OneNumber.</p>
                </div>
            </div>
        </div>
    </div>
    {{!-- Rate 3 includes --}}
    <div id="nosurprise-3" aria-labelledby="control3" class="ws10-c-tabs-simple__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                  <div class="ws10-c-product-detail__icon">
                    <img src="img/app/mobile-device.svg" alt="">
                  </div>
                  <p class="ws10-c-product-detail__text">3 líneas móviles con llamadas y <strong>datos ilimitados a máxima velocidad en la red 5G.</strong></p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        {{!-- <img src="img/rates/icono-dispositivos.svg" alt=""> --}}
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-multiscreen-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>600Mbps de fibra óptica simétrica</strong> para tu hogar, podrás conectar más de 25 dispositivos a la vez.</p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-tv-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text">TV con <strong>+100 canales, +40.000 contenidos bajo demanda, HBO España y Amazon Prime incluidos con decodificador 4K.</strong></p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-home-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>V-Home Mini</strong> para ver desde el móvil <strong>lo que pasa en tu casa</strong> cuando no estás.</p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        {{!-- <img src="img/rates/icono-one-number.svg" alt=""> --}}
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-one-number-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text"><strong>Mismo número y misma tarifa</strong> de voz y datos en todos tus dispositivos <strong>sin tener que cambiar la SIM</strong> con OneNumber.</p>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@tablet">
                <div class="ws10-c-product-detail">
                    <div class="ws10-c-product-detail__icon">
                        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                        <title>titulo</title>
                        <use class="icon-v3" xlink:href="#icon-connected-car-mid"></use>
                        </svg>
                    </div>
                    <p class="ws10-c-product-detail__text">Disfruta de <strong>WiFi en tu coche</strong> con localización, alertas y servicios desde tu móvil <strong>con CarConnect</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</section>