<section class="vf-no-surprise ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet">
     <h4 class="ws10-u-heading--4-lt">La tarifa incluye:</h4>
    <h3 class="ws10-u-heading--3"><strong>Sin sorpresas. <span class="vf-block">No escondemos nada</span></strong></h3>
    <p>Impuestos y cuota de línea incluidos.</p>
    <p>Permanencia 1 año.</p>
    <p class="ws10-u--mb0">¿Cuánto voy a pagar?
        <span class="vf-block"><strong>Super WiFi:</strong> desde 6€/mes</span>  
        {{!-- Includes 1 --}}
        <div id="includes-1" aria-labelledby="control1" class="ws10-c-tabs-simple__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
            <span class="vf-block ws10-u--body"><strong>Paquete familiar:</strong> 47,50€/mes durante 3 meses</span>
        </div>
        {{!-- Includes 2 --}}
        <div id="includes-2" aria-labelledby="control1" class="ws10-c-tabs-simple__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
            <span class="vf-block ws10-u--body"><strong>Paquete familiar:</strong> 55€/mes durante 3 meses</span>
        </div>
        {{!-- Includes 3 --}}
        <div id="includes-3" aria-labelledby="control1" class="ws10-c-tabs-simple__content ws10-o-tabs__panel" role="tabpanel" tabindex="0" hidden="hidden">
            <span class="vf-block ws10-u--body"><strong>Paquete familiar:</strong> 62,50€/mes durante 3 meses</span>
        </div>
    </p>
    <p>El servicio básico de Super WiFi incluye la instalación de 2 extensores (6€/mes), pudiéndose añadir extensores adicionales por +3€/mes (IVA incluido) cada extensor, hasta un máximo de 5.</p>
    <p>Los pedidos no tienen coste adicional por envio.</p>
    <p>Plazo de devolución gratuita de 14 días.</p>
    <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/internet-y-fijo/super-wifi/legales/">Ver Condiciones Legales</a>
</section>