<section class="vf-rates ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet">
    <div class='ws10-c-carousel ws10-c-carousel--secondary ws10-c-carousel--secondary-left ws10-c-carousel--no-lateral-padding' data-ws10-js='carousel' data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
        <ul class='ws10-c-carousel__list ws10-c-carousel__list--full-height js-carousel-list ws10-o-tabs' id="idUl"
            aria-labelledby="idList" data-ws10-js='tabs-simple'>
            <div class="ws10-c-tabs-simple__list" role="tablist" data-ws10-tab="tab-container">
                {{!-- Rate 1 --}}
                <li class='ws10-c-carousel__list-element js-carousel-list-element'>
                    <button id="rate-1" class="ws10-c-tabs-simple__list-item ws10-c-tabs-simple__tab vf-rate--item" role="tab" aria-controls="nosurprise-1 includes-1" type="button">  
                        <div class="ws10-c-card ws10-c-card ws10-c-card-rate" data-ws10-js="card-rate">
                            <div class="ws10-c-card-rate__a-rate">
                                <ul class="ws10-c-card-rate__product-info">
                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-mobile"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product ws10-align--left">
                                            <p class="ws10-c-card-rate__product-title">
                                                2 líneas con datos y min ilimitados
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                                Velocidad alta
                                                <svg class="ws10-c-card-rate__product-txt-icon" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <use xlink:href="#icon-thunder-2"></use>
                                                </svg>
                                            </p>
                                        </div>
                                    </li>

                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-broadband-or-wifi"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product">
                                            <p class="ws10-c-card-rate__product-title">
                                                600Mbps Fibra Óptica
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ">
                                            + llamadas ilimitadas en fijo
                                            </p>
                                        </div>
                                    </li>
                        
                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-tv"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product">
                                            <p class="ws10-c-card-rate__product-title">
                                                Pack TV Serielovers 
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ">
                                                con HBO España y más…
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="ws10-c-card-rate__w-cta">
                                    <div class="ws10-c-rate-price-block ws10-c-card-rate__offer">
                                        <p class="ws10-align--left">
                                            <span class="ws10-c-price__amount ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise vf-block">50% dto. 3 meses</span>
                                            <span class="ws10-u--footnote ws10-u-color--anthracite vf-block">
                                                Permanencia 1 año
                                            </span>
                                            <del class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise vf-block">95€/mes</del>
                                            <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium vf-block">
                                                <span class="ws10-c-price__amount">47,50</span>
                                                <span class="ws10-c-price__currency">€</span>
                                                <sub class="ws10-c-price__recurrence">/mes</sub>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </li>  
                {{!-- Rate 2 --}}
                <li class='ws10-c-carousel__list-element js-carousel-list-element ws10-u--pl0'>
                    <button id="rate-2" class="ws10-c-tabs-simple__list-item ws10-c-tabs-simple__tab vf-rate--item" role="tab" aria-controls="nosurprise-2 includes-2" type="button">
                        <div class="ws10-c-card ws10-c-card ws10-c-card-rate" data-ws10-js="card-rate">
                            <div class="ws10-c-card-rate__a-rate">
                                <ul class="ws10-c-card-rate__product-info">
                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-mobile"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product ws10-align--left">
                                            <p class="ws10-c-card-rate__product-title">
                                                3 líneas con datos y min ilimitados
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                                Velocidad alta
                                                <svg class="ws10-c-card-rate__product-txt-icon" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <use xlink:href="#icon-thunder-2"></use>
                                                </svg>
                                            </p>
                                        </div>
                                    </li>

                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-broadband-or-wifi"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product">
                                            <p class="ws10-c-card-rate__product-title">
                                                600Mbps Fibra Óptica
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ">
                                            + llamadas ilimitadas en fijo
                                            </p>
                                        </div>
                                    </li>
                        
                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-tv"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product">
                                            <p class="ws10-c-card-rate__product-title">
                                                Pack TV Serielovers 
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ">
                                                con HBO España y más…
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="ws10-c-card-rate__w-cta">
                                    <div class="ws10-c-rate-price-block ws10-c-card-rate__offer">
                                        <p class="ws10-align--left">
                                            <span class="ws10-c-price__amount ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise vf-block">50% dto. 3 meses</span>
                                            <span class="ws10-u--footnote ws10-u-color--anthracite vf-block">
                                                Permanencia 1 año
                                            </span>
                                            <del class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise vf-block">110€/mes</del>
                                            <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium vf-block">
                                                <span class="ws10-c-price__amount">55</span>
                                                <span class="ws10-c-price__currency">€</span>
                                                <sub class="ws10-c-price__recurrence">/mes</sub>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </li>
                {{!-- Rate 3 --}}
                <li class='ws10-c-carousel__list-element js-carousel-list-element ws10-u--pl0'>
                    <button id="rate-3" class="ws10-c-tabs-simple__list-item ws10-c-tabs-simple__tab vf-rate--item" role="tab" aria-controls="nosurprise-3 includes-3" type="button">
                        <div class="ws10-c-card ws10-c-card ws10-c-card-rate" data-ws10-js="card-rate">
                            <div class="ws10-c-card-rate__a-rate">
                                <ul class="ws10-c-card-rate__product-info">
                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-mobile"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product ws10-align--left">
                                            <p class="ws10-c-card-rate__product-title">
                                                4 líneas con datos y min ilimitados
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                                Velocidad alta
                                                <svg class="ws10-c-card-rate__product-txt-icon" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <use xlink:href="#icon-thunder-2"></use>
                                                </svg>
                                            </p>
                                        </div>
                                    </li>

                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-broadband-or-wifi"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product">
                                            <p class="ws10-c-card-rate__product-title">
                                                600Mbps Fibra Óptica
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ">
                                            + llamadas ilimitadas en fijo
                                            </p>
                                        </div>
                                    </li>
                        
                                    <li class="ws10-c-card-rate__product-info-item">
                                        <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-tv"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product">
                                            <p class="ws10-c-card-rate__product-title">
                                                Pack TV Serielovers 
                                            </p>
                                            <p class="ws10-c-card-rate__product-txt ">
                                                con HBO España y más…
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="ws10-c-card-rate__w-cta">
                                    <div class="ws10-c-rate-price-block ws10-c-card-rate__offer">
                                        <p class="ws10-align--left">
                                            <span class="ws10-c-price__amount ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise vf-block">50% dto. 3 meses</span>
                                            <span class="ws10-u--footnote ws10-u-color--anthracite vf-block">
                                                Permanencia 1 año
                                            </span>
                                            <del class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise vf-block">125€/mes</del>
                                            <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium vf-block">
                                                <span class="ws10-c-price__amount">62,50</span>
                                                <span class="ws10-c-price__currency">€</span>
                                                <sub class="ws10-c-price__recurrence">/mes</sub>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </li>
            </div>
        </ul>
    </div>
</section>