<section class="vf-smart ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet">
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <h3 class="ws10-u-heading--3-lt ws10-u--mt8x">Red inteligente con <strong>extensores de alta calidad</strong></h3>  
            <div class="vf-flex">
                <div class="ws10-o-layout__item ws10-u--1/2@desktop ws10-u--1/2@tablet vf-flex--item">
                    <img class="vf-img" src="img/smart/smart-home.svg" alt="Hogar con red de extensores de red">
                </div>
                <div class="ws10-o-layout__item ws10-u--1/2@desktop ws10-u--1/2@tablet vf-flex--item">
                    <div class="ws10-c-product-detail ws10-u--mb6x">
                        <div class="ws10-c-product-detail__icon">
                            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                                <title>titulo</title>
                                <use class="icon-v3" xlink:href="#icon-data-mid"></use>
                            </svg>
                        </div>
                        <p class="ws10-c-product-detail__text"><strong>Con extensores que se comunican entre si</strong> y con una plataforma en la nube para monitorizar y optimizar la señal continuamente.</p>
                    </div>
                    <div class="ws10-c-product-detail ws10-u--mb6x">
                        <div class="ws10-c-product-detail__icon">
                            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                                <title>titulo</title>
                                <use class="icon-v3" xlink:href="#icon-apps-mid"></use>
                            </svg>
                        </div>
                        <p class="ws10-c-product-detail__text"><strong>Adaptable a las características</strong> y necesidades <strong>de cada hogar</strong>.</p>
                    </div>
                    <div class="ws10-c-product-detail">
                        <div class="ws10-c-product-detail__icon">
                            <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='44px' height='44px'>
                                <title>titulo</title>
                                <use class="icon-v3" xlink:href="#icon-business-mid"></use>
                            </svg>
                        </div>
                        <p class="ws10-c-product-detail__text">Un técnico experto realizará medidas para indicar el <strong>número de extensores para obtener la mejor experiencia WiFi posible</strong>. El precio indicado en el producto, incluye la instalación de hasta 2 extensores. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>