<section class="vf-steps ws10-o-layout__item ws10-u--2/3@desktop ws10-u--1/1@tablet" data-js="ticketStopped">
    <h3 class="ws10-u-heading--3"><strong>¿Cómo contrato Super WiFi?</strong></h3>
    {{!-- STEPS NO CLIENTE --}}
    <ul class="ws10-c-timeline-steps ws10-u--mt5x" data-ws10-card-rate-tab="steps" id="cliente">
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Business</title><use xlink:href='#icon-shopping-trolley-mid'></use></svg>
            <p class="ws10-c-timeline-steps__title">Compra online</p>
            <p class="ws10-c-timeline-steps__text">Recibirás un email de confirmación con el detalle de tu pedido y próximos pasos.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Business</title><use xlink:href='#icon-engineer-mid'></use></svg>
            <p class="ws10-c-timeline-steps__title">Cita de instalación</p>
            <p class="ws10-c-timeline-steps__text">Durante el proceso de compra, elegirás la fecha de instalación que más te convenga.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Mi Vodafone</title><use xlink:href='#icon-unified-communication-mid'></use></svg>
            <p class="ws10-c-timeline-steps__title">Mi Vodafone</p>
            <p class="ws10-c-timeline-steps__text">Podrás registrarte y hacer el seguimiento de tu pedido y gestionar tus servicios de Vodafone.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <img class="ws10-c-timeline-steps__icon" width='48px' height='48px' src="img/steps/ic-download.svg" alt="">
            <p class="ws10-c-timeline-steps__title">Descarga la App</p>
            <p class="ws10-c-timeline-steps__text">Una vez realizada la instalación, el técnico te ayudará a tener descargada la app de Super WiFi.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Business</title><use xlink:href='#icon-mobile-mid'></use></svg>
            <p class="ws10-c-timeline-steps__title">App de Super WiFi</p>
            <p class="ws10-c-timeline-steps__text">Con la app instalada podrás ver los dispositivos que hacen mayor uso de tu red WiFi, cambiar contraseña, nombre de red y ver los dispositivos conectados, incluso si estás observando fuera de tu red WiFi.</p>
        </li>
        
    </ul>
    {{!-- STEPS CLIENTE --}}
    <ul class="ws10-c-timeline-steps ws10-u--mt5x" data-ws10-card-rate-tab="steps" id="noCliente">
        <li class="ws10-c-timeline-steps__item">
            <img class="ws10-c-timeline-steps__icon" width='48px' height='48px' src="img/steps/ic-download.svg" alt="">
            <p class="ws10-c-timeline-steps__title">1.</p>
            <p class="ws10-c-timeline-steps__text">Solicítalo gratis a través de Mi Vodafone</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Wifi</title><use xlink:href='#icon-broadband-or-wifi-mid'></use></svg>
            <p class="ws10-c-timeline-steps__title">2.</p>
            <p class="ws10-c-timeline-steps__text">Dentro de Mi Vodafone, ve a la sección de Productos y Servicios y selecciona el servicio de Fibra</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <img class="ws10-c-timeline-steps__icon" width='48px' height='48px' src="img/steps/ic-fibra.svg" alt="">
            <p class="ws10-c-timeline-steps__title">3.</p>
            <p class="ws10-c-timeline-steps__text">Dentro de Fibra, baja hasta la sección de Super WiFi y haz clic en "lo quiero"</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><title>Business</title><use xlink:href='#icon-completed-mid'></use></svg>
            <p class="ws10-c-timeline-steps__title">4.</p>
            <p class="ws10-c-timeline-steps__text">Dentro de Super WiFi, haz clic en el botón de "Contratar por 6/mes"</p>
        </li>
    </ul>
</section>