// CSS del microsite
.vfes-ms-content{
    .vfms-wrapper {
        @media screen and (min-width:970px) {
            max-width: none;
        }
    }
    .vfms-img{
        &__container {
            background: url('../img/bg-mobile.jpg') no-repeat center;
            background-size: cover;
            @media screen and (min-width: 640px) {
                min-height: 500px;
                background: url('../img/bg-tablet.jpg') center no-repeat;
                background-size: cover;
            }
            @media screen and (min-width:970px) {
                min-height: 700px;
            }
        }
        &__contain {
            @media screen and (min-width: 640px){
                min-height: 500px;
            }
            @media screen and (min-width:970px) {
                min-height: 700px;
            }
        }
    } 
    .vfms-info{
        &__container {
            text-align: center;
            @media screen and (min-width: 640px) {
                text-align: left;
                min-height: 500px;
                padding-left: 83px;
            }
            @media screen and (min-width:970px) {
                min-height: 700px;
                padding-left: 125px;
            }
        }
        &__contain {
            @media screen and (min-width: 640px){
                min-height: 500px;
            }
            @media screen and (min-width:970px) {
                min-height: 700px;
            }
        }
        &__title {
            @media screen and (min-width:970px) {
                font-size: 44px;
            }
        }
        &__text {
            @media screen and (min-width:970px) {
                font-size: 26px;
                max-width: 560px;
            }
        }
    } 
    .vfms-button {
        @media screen and (min-width: 970px) {
            display: flex;
        }
    }
    .vfes-button--tertiary {
        background-color: transparent;
    }
}
.vfes-overlay__item--dark .vfes-overlay__footer {
    background-color: rgb(48, 48, 48);
    border-top: 1px solid #fff;
}
.vfes-overlay__item--dark .vfes-overlay__head {
    background-color: rgb(48, 48, 48);
}
.vfes-overlay__item--dark .vfes-overlay__content {
    background-color: rgb(48, 48, 48);
}
.vfms-modal {
    overflow-y: unset;
}
.vfms-tel {
    font-size: 24px;
}
.vfms-overlay {
    max-width: 330px;
}
.vfms-call {
    width: 100%;
}
p.vfes-paragraph.vfms-text {
    font-size: 18px;
}
.vfes-overlay__content .vfes-paragraph {
    font-size: 16px;
}