// CSS del microsite
.vfes-ms-content {

  .vfms-banner-container{
    background-image: url("../img/fondo-cabecera.jpg");
  }
  .vfms-content-container{
    margin-top: -10px;
  }

  .vfms-icon-rate {
    min-width: 40px;
  }
}
