<link href="css/ws10.css" rel="stylesheet" />
<link rel="stylesheet" href="css/bootstrap.sis.css" />
<link rel="stylesheet" href="css/fonts.min.css" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<link href="css/style.css" rel="stylesheet">

<div class="vfes-ms-content" id="samsung-galaxy-s21">
  <div id="samsung_container">
    <section class="hero">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Samsung Galaxy S21 Series 5G</h1> <img src="img/hero.jpg" class="img-responsive center-block desktop"
              alt="Nuevo Samsung Galaxy S21 Series"> <img src="img/hero-m.jpg"
              class="img-responsive center-block mobile" alt="Samsung Galaxy S21 Series">
          </div>
        </div>
      </div>
    </section>
    <section id="selecciona" class="buy-tool">
      <div class="container">
        <div class="row title">
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 separator">
            <h2>Selecciona tu color favorito, la capacidad y haz ahora tu precompra</h2>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3"></div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 product" data-model="GS21U"> <img
              src="img/s21_ultra_black.jpg" class="img-responsive center-block visible"
              alt="Galaxy S21 Ultra 5G Phantom Black" data-color="black"> <img src="img/s21_ultra_silver.jpg"
              class="img-responsive center-block oculto" alt="Galaxy S21 Ultra 5G Phantom Silver" data-color="silver">
            <div class="row colors">
              <div class="col-12 text-center">
                <a id="box1_black" class="btn btn-color btn-PhantomBlack active"
                  role="button" data-color="black" title="Mystic  Bronze"> </a>
                  <a id="box1_silver"
                  class="btn btn-color btn-PhantomSilver" role="button" data-color="silver" title="Phantom Silver"> </a>
              </div>
            </div>
            <!--<div class="row capacity">
              <div class="col-12 text-center"> <a class="btn btn-capacity btn-capacity-select" data-capacity="256GB"
                  role="button">12 GB + 256 GB</a> </div>
            </div>-->
            <h3>Galaxy S21 Ultra 5G</h3>

            <div class="ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device1-btn1" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21 Ultra 5G black" data-model="GS21U" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 ultra 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083003">PRECOMPRAR1</button>
            </div>

            <div class="oculto ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device1-btn2" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21 Ultra 5G silver" data-model="GS21U" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 ultra 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083004">PRECOMPRAR2</button>
            </div>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 product" data-model="GS21P"> <img
              src="img/s21_plus_violet.jpg" class="img-responsive center-block visible"
              alt="Galaxy S21 Ultra 5G Phantom Violet" data-color="violet"><img src="img/s21_plus_silver.jpg"
              class="img-responsive center-block oculto" alt="Galaxy S21 Ultra 5G Phantom Silver" data-color="silver">
            <img src="img/s21_plus_black.jpg" class="img-responsive center-block oculto"
              alt="Galaxy S21 Ultra 5G Phantom Black" data-color="black">
            <div class="row colors">
              <div class="col-12 text-center">
                <a id="box2_violet" class="btn btn-color btn-PhantomViolet active" role="button"
                  data-color="violet" title="PhantomViolet"> </a>
                  <a id="box2_silver" class="btn btn-color btn-PhantomSilver"
                  role="button" data-color="silver" title="Phantom Silver"> </a> 
                  <a id="box2_black" class="btn btn-color btn-PhantomBlack" role="button" data-color="black" title="Phantom Black"> </a>
              </div>
            </div>
            <!--<div class="row capacity">
              <div class="col-12 text-center"><a class="btn btn-capacity  btn-capacity-select" data-capacity="128GB"
                  role="button">8 GB + 128 GB</a> </div>
            </div>-->
            <h3>Galaxy S21+ 5G</h3>
            <div class="row cta-container"> <a class="cta-black" href="#" data-model="GS21P">PRECOMPRAR</a> </div>

            <div class="ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device2-btn1" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21+ 5G Violet" data-model="GS21P" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 plus 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083009">PRECOMPRAR1</button>
            </div>

            <div class="oculto ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device2-btn2" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21+ 5G Silver" data-model="GS21P" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 plus 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083010">PRECOMPRAR2</button>
            </div>

             <div class="oculto ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device2-btn3" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21+ 5G Black" data-model="GS21P" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 plus 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083011">PRECOMPRAR3</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 product" data-model="GS21"> <img src="img/s21_pink.jpg"
              class="img-responsive center-block visible" alt="Galaxy S21 Ultra 5G Phantom Pink" data-color="pink"><img
              src="img/s21_grey.jpg" class="img-responsive center-block oculto" alt="Galaxy S21 Ultra 5G Phantom Grey"
              data-color="grey"> <img src="img/s21_white.jpg" class="img-responsive center-block oculto"
              alt="Galaxy S21 Ultra 5G Phantom White" data-color="white"> <img src="img/s21_violet.jpg"
              class="img-responsive center-block oculto" alt="Galaxy S21 Ultra 5G Phantom Violet" data-color="violet">
            <div class="row colors">
              <div class="col-12 text-center">
                <a id="box3_pink" class="btn btn-color btn-PhantomPink active" role="button"
                  data-color="pink" title="Phantom Pink"> </a>
                  <a id="box3_grey" class="btn btn-color btn-PhantomGrey" role="button"
                  data-color="grey" title="Phantom Grey"> </a> 
                  <a id="box3_white" class="btn btn-color btn-PhantomWhite" role="button"
                  data-color="white" title="Phantom White"> </a>
                  <a id="box3_violet" class="btn btn-color btn-PhantomViolet" role="button"
                  data-color="violet" title="Phantom Violet"> </a> 
              </div>
            </div>
           <!-- <div class="row capacity">
              <div class="col-12 text-center"><a class="btn btn-capacity  btn-capacity-select" data-capacity="128GB"
                  role="button">8 GB + 128 GB</a> </div>
            </div>-->
            <h3>Galaxy S21 5G</h3>
      
            <div class="ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device3-btn1" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21 5G Pink" data-model="GS21" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083005">PRECOMPRAR1</button>
            </div>

            <div class="oculto ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device3-btn2" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21 5G Grey" data-model="GS21" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083006">PRECOMPRAR2</button>
            </div>

             <div class="oculto ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device3-btn3" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21 5G White" data-model="GS21" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083007">PRECOMPRAR3</button>
            </div>
             <div class="oculto ws10-c-card-discovery-product-text__cta ws10-u--mt2x">
              <button id="device3-btn4" class="device ws10-c-button ws10-c-button--primary ws10-c-button--block"
                data-backdrop="simple" data-backdrop-close="" aria-haspopup="dialog"
                data-device-name="Galaxy S21 5G Violet" data-model="GS21" data-analytics-context="precomprar"
                data-analytics-element="galaxy s21 5g" data-analytics-category="cta"
                data-analytics-id="-04521012083008">PRECOMPRAR4</button>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-12 seo-link">
            <a class="" href="#seomod">Descubre más sobre Galaxy S21</a>
          </div>
        </div>
      </div>
    </section>
    <section id="comparador" class="comparador">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Comparar modelos Samsung Galaxy S21 5G</h2>
            <!--<p class="mobile">Desliza para ver &gt;</p>-->
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <img src="img/phantom.png" alt=""
              class="phantom center-block"> <img src="img/deslizar-icon.png" alt="" class="center-block mobile">
            <table width="100%" border="0" cellspacing="10" cellpadding="10" class="gray round-tbl text-center">
              <tbody>
                <tr>
                  <th class="content" scope="col" colspan="2"></th>
                </tr>
                <tr>
                  <td class="head" colspan="2">
                    <h4></h4>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-1"></div>
                    <img src="img/5g-white-icon.png" alt="Conectividad"
                      class="img-responsive icon center-block"><strong>Conectividad</strong>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-2"></div>
                    <img src="img/pantalla_icon.jpg" alt="Tamaño de pantalla"
                      class="img-responsive icon center-block"><strong>Pantalla</strong>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-3"></div>
                    <img src="img/camera-white-icon.jpg" alt="Cámara"
                      class="img-responsive icon center-block"><strong>Cámara</strong>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-4"></div>
                    <img src="img/memory-white-icon.png" alt="Memoria"
                      class="img-responsive icon center-block"><strong>Memoria</strong>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-5"></div>
                    <img src="img/battery-icon.jpg" alt="Batería"
                      class="img-responsive icon center-block"><strong>Batería</strong>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-6"></div>
                    <img src="img/processor-white-icon.png" alt="Procesador"
                      class="img-responsive icon center-block"><strong>Procesador</strong>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-7"></div>
                    <img src="img/security-white-icon.png" alt="Seguridad"
                      class="img-responsive icon center-block"><strong>Seguridad</strong><br>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td class="head">
                    <div class="esp-8"></div>
                    <img src="img/connect-white-icon.png" alt="Otros"
                      class="img-responsive icon center-block"><strong>Otros</strong>
                    <br>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-xs-8 col-sm-10 col-md-10 col-lg-10">
            <div class="table-responsive">
              <table width="100%" border="0" cellspacing="10px" cellpadding="10px" class="table text-center">
                <tbody>
                  <tr>
                    <th class="content" scope="col"><img src="img/bode_s21ultra.jpg" alt="Galaxy S21 Ultra 5G"
                        class="img-responsive center-block bode">
                      <h3>Galaxy S21 Ultra 5G</h3>
                    </th>
                    <th class="content" scope="col"><img src="img/bode_s21plus.jpg" alt="Galaxy S21+ 5G"
                        class="img-responsive center-block bode">
                      <h3>Galaxy S21+ 5G</h3>
                    </th>
                    <th class="content" scope="col"><img src="img/bode_s21.jpg" alt="Galaxy S21 5G"
                        class="img-responsive center-block bode">
                      <h3>Galaxy S21 5G</h3>
                    </th>
                  </tr>
                  <tr>
                    <td class="content" width="33%"><br>
                      5G<br>
                      Wi-Fi 6e
                      <br>
                    </td>
                    <td class="content" width="33%"><br>
                      5G<br>
                      <br>
                    </td>
                    <td class="content" width="33%"><br>
                      5G<br>
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td class="content" width="33%"><br>
                      6,8"<br>
                      WQHD+ Dynamic AMOLED<br>
                      120Hz <br>
                      Permite uso de S PEN
                      <br>
                    </td>
                    <td class="content" width="33%"><br>
                      6,7"<br>
                      Full HD+ Dynamic AMOLED<br>
                      120Hz <br>
                      <br>
                    </td>
                    <td class="content" width="33%"><br>
                      6,2"<br>
                      Full HD+ Dynamic AMOLED<br>
                      120Hz <br>
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td class="content"><strong><br>
                        Cuádruple Cámara trasera</strong><br>
                      Principal 108MP<br>
                      Teleobjetivo 10MP<br>
                      Teleobjetivo 10MP<br>
                      Ultra Gran Angular 12MP<br>
                      Dual Tele Zoom x3 x10 x100<br>
                      Laser AF (Auto Focus)<br>
                      <br>
                      <strong>Cámara frontal</strong><br>
                      40MP<br>
                      <br>
                    </td>
                    <td class="content"><strong><br>
                        Triple Cámara trasera</strong><br>
                      Principal 12MP<br>
                      Teleobjetivo 64MP<br>
                      Ultra Gran Angular 12MP<br><br>
                      Space Zoom x30<br><br><br><br>
                      <strong>Cámara frontal</strong><br>
                      10MP<br>
                      <br>
                    </td>
                    <td class="content"><strong><br>
                        Triple Cámara trasera</strong><br>
                      Principal 12MP<br>
                      Teleobjetivo 64MP<br>
                      Ultra Gran Angular 12MP<br><br>
                      Space Zoom x30<br><br><br><br>
                      <strong>Cámara frontal</strong><br>
                      10MP<br>
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td class="content"><br>

                      256GB, 12GB RAM<br>

                      <br>
                    </td>
                    <td class="content"><br>
                      128GB, 8GB RAM<br>

                      <br>
                    </td>
                    <td class="content"><br>
                      128GB, 8GB RAM<br>

                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td class="content"><br>
                      5.000 mAh<br>
                      Carga Ultra rápida<br>
                      Carga rápida inalámbrica<br>
                      <br>
                    </td>
                    <td class="content"><br>
                      4.800mAh<br>
                      Carga Ultra rápida<br>
                      Carga rápida inalámbrica<br>
                      <br>
                    </td>
                    <td class="content"><br>
                      4.000mAh<br>
                      Carga Ultra rápida<br>
                      Carga rápida inalámbrica<br>
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td class="content"><br>
                      Octa Core<br>
                      Exynos 2100 (5nm) <br>
                      <br>
                    </td>
                    <td class="content"><br>
                      Octa Core<br>
                      Exynos 2100 (5nm) <br>
                      <br>
                    </td>
                    <td class="content"><br>
                      Octa Core<br>
                      Exynos 2100 (5nm) <br>
                      <br>
                    </td>
                  </tr>
                  <tr>
                    <td class="content"> Reconocimiento Facial<br>
                      Sensor de huella dactilar<br>
                      ultrasónico en pantalla <br></td>
                    <td class="content"> Reconocimiento Facial<br>
                      Sensor de huella dactilar<br>
                      ultrasónico en pantalla <br></td>
                    <td class="content"> Reconocimiento Facial<br>
                      Sensor de huella dactilar<br>
                      ultrasónico en pantalla <br></td>
                  </tr>
                  <tr>
                    <td class="content"><br>
                      Samsung Dex Inalámbrico<br>
                      IP68<br>
                      <br>
                    </td>
                    <td class="content"><br>
                      Samsung Dex Inalámbrico<br>
                      IP68<br>
                      <br>
                    </td>
                    <td class="content"><br>
                      Samsung Dex Inalámbrico<br>
                      IP68<br>
                      <br>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row cta-container"> <a class="cta-white" href="#selecciona"  data-analytics-context="elige tu nuevo galaxy s21"
                data-analytics-element="link precompra" data-analytics-category="cta"
                data-analytics-id="-0452101265355">ELIGE TU NUEVO GALAXY S21</a> </div>
          </div>
        </div>
      </div>
    </section>

    <section class="redention">
      <div class="container">
        <div class="row title">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Cómo beneficiarte de la promoción de precompra</h2>
            <p class="valido">Válido para precompras realizadas entre el 14 al 28 de Enero de 2021</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"> <img src="img/beneficios_pc.jpg"
              class="img-responsive center-block desktop"
              alt="Galaxy Buds Pro o Galaxy Buds Live comprando un Galaxy S21 Ultra 5G + Galaxy SmartTag"> <img
              src="img/beneficios_mo.jpg" class="img-responsive center-block mobile"
              alt="Galaxy Buds Pro o Galaxy Buds Live comprando un Galaxy S21 Ultra 5G + Galaxy SmartTag"> </div>
        </div>
        <div class="row icons">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
            <div class="row">
              <div class="col-xs-3 col-sm-2 col-md-4 col-lg-4">
                <h3>1</h3>
              </div>
              <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8"><img src="img/active-icon.jpg" alt="Activa"
                  class="img-responsive center-block">
                <p>ENCIENDE TU NUEVO SMARPHONE</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pares">
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
                <h3>2</h3>
              </div>
              <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8"> <img src="img/registro-icon.jpg" alt="Registro"
                  class="img-responsive center-block">
                <p>Registrate con tu Samsung Account</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="row">
              <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
                <h3>3</h3>
              </div>
              <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8"> <img src="img/members-icon.jpg" alt="Banner"
                  class="img-responsive center-block">
                <p>ABRE SAMSUNG MEMBERS, VE A “VENTAJAS Y HAZ CLIK EN EL BANNER</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pares">
            <div class="row">
              <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
                <h3>4</h3>
              </div>
              <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8"> <img src="img/formulairo-icon.jpg" alt="Formulario"
                  class="img-responsive center-block">
                <p>Rellena el formulario</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="row">
              <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
                <h3>5</h3>
              </div>
              <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8"> <img src="img/enlace-icon.jpg" alt="Enlace"
                  class="img-responsive center-block">
                <p>recibirás un email con un enlace a un código para reclamar tu regalo</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pares">
            <div class="row">
              <div class="col-xs-3 col-sm-4 col-md-4 col-lg-4">
                <h3>6</h3>
              </div>
              <div class="col-xs-9 col-sm-8 col-md-8 col-lg-8"> <img src="img/send-icon.jpg" alt="Envío"
                  class="img-responsive center-block">
                <p>tu regalo llegará directamente a tu dirección</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="video">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="embed-responsive embed-responsive-16by9 pantalla">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/jvF7yYNr9EA" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row cta-container"> <a class="cta-white" href="#comparador" data-analytics-context="ver tabla comparativa"
                data-analytics-element="link tabla" data-analytics-category="cta"
                data-analytics-id="-04521012083055">VER TABLA COMPARATIVA</a> </div>
          </div>
        </div>
      </div>

    </section>
    <section id="seomod" class="SEO">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Ha llegado la hora de renovar tu smartphone con una tecnología superior. <strong>El nuevo móvil de
                Samsung</strong> ya está aquí y su nombre es <strong>Samsung Galaxy S21 | S21+ | S21 Ultra 5G</strong>,
              una auténtica revolución en el mundo de la telefonía móvil. ¡Conócelo!</p>
            <p>Con una <strong>cámara de vídeo profesional de ultra alta resolución</strong> y el <strong>nuevo zoom de
                doble lente</strong> incorporado en el modelo <strong>Galaxy S21 Ultra 5G</strong>, el <strong>nuevo
                teléfono móvil de Samsung</strong> te permitirá capturarlo todo con una calidad incomparable. Graba
              vídeos en 8K, haz fotos espectaculares, capta detalles que antes no podías y convierte lo cotidiano en
              épico con su sistema de cámaras de calidad profesional. Crea todo tu contenido en alta resolución y
              conviértete en un auténtico artista con el nuevo <strong>Samsung Galaxy S21 | S21+ | S21 Ultra 5G de
                Samsung</strong>.</p>
            <p>Pero eso no es todo. Su increíble pantalla Super Smooth de 120 Hz te ofrece una experiencia de imagen
              súper fluida, con más colores, más nitidez, más brillo y más contraste, para que te sumerjas al máximo en
              todo lo que ves en tu nuevo y sientas cada escena como si fuera real. El <strong>nuevo móvil de
                Samsung</strong> te ofrece mucho, mucho más.</p>
            <p>Y lleva tu diversión con tu nuevo móvil Samsung a todas partes y al máximo nivel, gracias al gran
              rendimiento que le proporciona su potente procesador incorporado y a la asombrosa autonomía de su batería
              inteligente de larga duración. Su procesador te hará experimentar una velocidad increíble en todo lo que
              hagas en tu nuevo Samsung Galaxy S21 | S21+ | S21 Ultra 5G, desde juegos online hasta tus proyectos
              personales, y su batería más eficiente te acompañará durante todo el día con energía de sobra para seguir
              tu ritmo. </p>
            <p>Estrena tu nuevo <strong>Samsung Galaxy S21 | S21+ | S21 Ultra 5G</strong>. Ya lo puedes comprar en
              Vodafone con las mejores ofertas en móviles Samsung. Consulta el catálogo de Samsung en Vodafone para ver
              todos los móviles Samsung y elige el tuyo. Y llévate también un increíble <strong>Samsung
                Smartwatch</strong> para echar el resto. ¿A qué esperas?</p>
          </div>
        </div>
      </div>
    </section>
    <section id="seomod" class="SEO">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Promoción válida en España del 14/01/21 a partir de las 16h al 28/01/21 (ambos inclusive), por la
              precompra de cualquier Samsung Galaxy S21 en una de las Tiendas Adheridas indicada en la página web <a
                href="https://www.samsung.com/es/offer/s21/" target="new">https://www.samsung.com/es/offer/s21</a>.
              Regalo: los participantes que hayan precomprado un Galaxy S21 Ultra, obtendrán unos Galaxy Buds Pro
              Phantom Black (SM-R190NZKAEUB) y una (1) Smart Tag (EI-T5300BBEGEU); y los participantes que hayan
              precomprado un Galaxy S21 o S21+, obtendrán unos Galaxy Buds Live Mystic Black (SM-R180NZKAEUB) y una (1)
              Smart Tag (EI-T5300BBEGEU). Necesario registro en Samsung Account y Samsung Members antes del 28/02/21,
              acompañando factura y pantallazo del IMEI, consultar condiciones en Bases. El Regalo deberá canjearse
              antes del 28/03/21 (inclusive). Promoción únicamente aplicable a consumidores residentes en España, no
              acumulable y limitada a una participación. Bases depositadas ante notario y disponibles en <a
                href="https://www.samsung.com/es/offer/s21/" target="new">la citada web</a>. Organiza Samsung
              Electronics Iberia S.A., Sociedad Unipersonal.</p>
          </div>
        </div>
      </div>
    </section>

    {{!-- MODAL --}}
    <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
      <section id="simple" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
        aria-modal="true">
        <div class="ws10-c-backdrop__head">
          <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
            <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Close</title>
              <use xlink:href="#icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="ws10-c-backdrop__content js-backdrop-content ws10-align--center">
          <h4 class="ws10-u-heading--4" id="device-title"><strong><span class="vf-block">¡Solo te queda un
                paso!</span></strong></h4>
          <p class="ws10-u--body">Déjanos tus datos y nos pondremos en contacto contigo para finalizar compra.</p>
          <form class="wg-form">
            <input class="wg-input" type="hidden" name="preventa" value="Samsung XX">
            <input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
            <input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
            <input id="phone-model" class="vfes-form__input wg-input" type="hidden" style="display:none;"
              name="phone-model" placeholder="Modelo Teléfono" />
            <div class="ws10-o-layout vf-field vf-esCliente">
              <div class="ws10-o-layout__item ws10-u--1/2">
                <div class="ws10-c-input">
                  <input class="ws10-c-input__radio wg-input" type="radio" id="cliente" name="esCliente"
                    data-wg-validation="required" value="si" />
                  <label class="ws10-c-input__label" for="cliente">Soy Cliente</label>
                </div>
              </div>
              <div class="ws10-o-layout__item ws10-u--1/2">
                <div class="ws10-c-input">
                  <input class="ws10-c-input__radio wg-input" type="radio" id="noCliente" name="esCliente"
                    data-wg-validation="required" value="no" />
                  <label class="ws10-c-input__label" for="noCliente">No soy cliente</label>
                  <input type="hidden" class="wg-error" />
                </div>
              </div>
            </div>
            <div class="ws10-c-text-field vf-field vf-name" data-ws10-js="text-field">
              <input id="name" class="ws10-c-text-field__input vf-input__shadow wg-input" type="text" name="name"
                aria-labelledby="labelinput1" data-wg-validation="required" />
              <label for="name" class="ws10-c-text-field__label">Nombre</label>
              <button type="button" title="Borrar" class="ws10-c-text-field__button ws10-c-text-field__button--close"
                aria-hidden="true">
                <span class="ws10-u--hidden-visually">Borrar contenido</span>
                <svg class="icon ws10-c-text-field__icon--close" xmlns='http://www.w3.org/2000/svg'
                  xmlns:xlink='http://www.w3.org/1999/xlink' width='32px' height='32px'>
                  <title>icono para borrar contenido</title>
                  <use xlink:href='#icon-close'></use>
                </svg>
              </button>
              <input type="hidden" class="wg-error" />
            </div>
            <div class="ws10-c-text-field vf-field vf-phone" data-ws10-js="text-field">
              <input id="phone" class="ws10-c-text-field__input vf-input__shadow wg-input" name="phone"
                aria-labelledby="labelinput1" type="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
                data-wg-validation="required,phone"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
              <label for="phone" class="ws10-c-text-field__label">Nº teléfono</label>
              <button type="button" title="Borrar" class="ws10-c-text-field__button ws10-c-text-field__button--close"
                aria-hidden="true">
                <span class="ws10-u--hidden-visually">Borrar contenido</span>
                <svg class="icon ws10-c-text-field__icon--close" xmlns='http://www.w3.org/2000/svg'
                  xmlns:xlink='http://www.w3.org/1999/xlink' width='32px' height='32px'>
                  <title>icono para borrar contenido</title>
                  <use xlink:href='#icon-close'></use>
                </svg>
              </button>
              <input type="hidden" class="wg-error" />
            </div>
            <div class="ws10-c-input vf-field ws10-u--mt3x vf-privacy">
              <input class="ws10-c-input__checkbox wg-input" type="checkbox" id="privacy" name="checkbox"
                value="privacy" data-wg-validation="required" />
              <label class="ws10-c-input__label" for="privacy">
                <p class="ws10-u--footnote">Acepto la Política de Privacidad</p>
              </label>
              <input type="hidden" class="wg-error" />
            </div>
            <div class="ws10-c-input vf-field vf-comercial">
              <input class="ws10-c-input__checkbox wg-input" type="checkbox" id="comercial" name="checkbox1"
                value="comercial" />
              <label class="ws10-c-input__label" for="comercial">
                <p class="ws10-u--footnote">Acepto recibir comunicaciones comerciales de Vodafone</p>
              </label>
              <input type="hidden" class="wg-error" />
            </div>
            <input type="button" name="cta" title="Enviar" data-analytics-context="enviar formulario"
              data-analytics-element="enviar" data-analytics-category="cta"
              class="ws10-c-button ws10-c-button--block vf-field ws10-u--mt3x vf-input__shadow wg-submit tellamamos-ltc"
              type="submit" value="Enviar">
          </form>
        </div>
      </section>
    </div>


  </div>

</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/functions.js"></script>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>