<link href="css/ws2r.v12.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="yu-fibra">


	

		<div class="vfms-header-container ">
			<div class="vfms-nav-container vfes-layout__wrapper">
				<div class="vfms-logo-container vfms-logo-container-vodafone">
					<a href="http://www.vodafone.es" target="_new"><img src="img/logo-vodafone.png"></a>
				</div>
				<div class="vfms-mobile">
					<img class="vfms-phone" src="img/phone-ic.png" alt="icono teléfono">
					<div class="vfms-free--call">
						<p class="vfes-paragraph--center vfms-nomargin">Llama<span class="vfes-colours--vodafone-red"> Gratis</span> al</p>
						<p class="vfes-paragraph--center"><strong><a href="tel:900 920 161" class="drp-phone" data-analytics-context="fibra yu" data-analytics-element="llama gratis" data-analytics-category="ctc"><span class="drp-phone"></span>900 920 161</a></strong></p>
					</div>
				</div>
				<div class="vfms-yu--dark">
					<img src="img/logo-yu-dark.svg">
				</div>
				<div class="vfms-logo-container vfms-logo-container-yu">
					<img src="img/logo-yu.png">
				</div>
				
			</div>
		</div>
    	<div class="vfes-layout vfes-pv">
			<div class="vfes-layout__wrapper">
				<ul class="vfes-color--vodafone-white" role="list">
					<li class="vfes-layout__item vfes-1/1-mov vfes-2/3-palm vfes-2/3 vfes-color--vodafone-gray">
						<div class="vfms-info-container">
							<h1 class="vfes-title--regular">Contrata la <span>Fibra Yuser</span></h1>
							<h2 class="vfes-title--regular">Esta fibra es un <span>hit</span></h2>
							<div class="vfms-offer-container">
								<ul>
									<li>600Mbps<span>Fibra simétrica</span></li>
									<li>30,99€ <span>/mes</span><span>¡Sin permanencia!</span></li>
								</ul>
							</div>
						</div>
						<div class="vfms-info-container vfms-ofer">
							<p class="vfes-paragraph--left vfms-link">
								<a class="vfes-link vfes-link--no-chevron vfms-modal vfes-color--vodafone-white" href="#" target="_self" data-modal="ilimitada" data-modal-close aria-haspopup="dialog">Detalles de la oferta</a>
							</p>
						</div>
					</li>
					<li class="vfes-layout__item vfes-1/1-mov vfes-1/3-palm vfes-1/3 vfes-align--center vfms-item vfms-item3">
						<div class="vfms-form-container">
							<form class="vfes-form wg-form vfes-color--silver vfes-colours-bg-dark-grey">
								<div class="vfes-modal__head-form">
									<p class="vfes-paragraph--center vfes-title--6 vfms-title-form">¿Quieres contratar <strong class="vfes-color--vodafone-white">Fibra Yuser?</strong></p>
									<p class="vfes-paragraph--center vfes-title--6">¡Te llamamos!</p>
								</div>
								<div class="vfes-box--form">
									<input class="vfes-box-input wg-input" style="display:none;" value="NO"
										name="verifyLeadId">
									<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
									<input class="vfes-form__input vfes-box--form__name wg-input" type="text" name="nombre" data-wg-validation="required"
										placeholder="Nombre" />
									<input class="vfes-box--form__tlf wg-input" type="phone" name="phone"
										inputmode="numeric" pattern="[0-9]*" maxlength="9"
										data-wg-validation="required,phone" placeholder="Nº teléfono"  
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
								</div>
								<div class="vfes-box--form">
									<div class="vfes-form__box vfms-form__checks-space">
										<input class="vfes-form__checkbox vfms-form__checkbox_bg-transparent wg-input" data-wg-validation="required"
											type="checkbox" id="privacy" value="on" type="checkbox" name="check" />
										<label class="vfes-form__label" for="privacy">Acepto la <a
												href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/"
												id="condiciones" class="button-privacy vfes-color--silver" title="Vodafone One" target="_blank"
												data-modal="legales" rel="nofollow">Política de Privacidad</a>
										</label>
									</div>
									<div class="vfes-form__box vfms-form__checks-space">
										<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication"
											name="gdpr" value="on" />
										<label class="vfes-form__label" for="comunication"><span class="vfes-cta-box__span">Acepto recibir comunicaciones comerciales de Vodafone</span> </label>
									</div>
										<input class="vfes-button vfes-button--primary  wg-submit tellamamos-ltc" type="submit"
										value="ENVIAR">
								</div>
							</form>
						</div>

						<div class="vfms-thankyou-container">

							<button class="vfes-modal__close js-modal-close vfms-close-thankyou" aria-hidden="false"><svg
									class="icon vfes-color--vodafone-white" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
									<title>Close</title>
									<use class="icon-v3" xlink:href="#icon3-close"></use>
								</svg></button>
							<p class="vfes-color--vodafone-white vfes-paragraph--center vfms-thankyou-text">Gracias, nos
								pondremos en contacto contigo en menos de 24h. </p>

						</div>
					</li>
				</ul>
				<div class="vfms-legal-conditions">
					<button class="vfes-card-box-new__speed-box-info" data-modal="legal-conditions" data-modal-close
						aria-haspopup="dialog">
						<span class="visually-hidden">Ver más información sobre la tarifa One.
							Abre ventana modal.</span>
						Condiciones legales
					</button>
				</div>								
			</div>
		</div>
		<div class="vfes-layout vfms-line vfes-colours-bg-vodafone-white">
			<div class="vfes-layout__wrapper vfms-ring--pool">
				<div class="vfes-layout__item vfms-button--container">

					<a href="tel:900 920 161" class="vfes-button vfes-button--primary vfes-colours--vodafone-white" title="Llama gratis al 900 920 161" data-analytics-context="Llama gratis al 900 920 161" data-analytics-element="Llama gratis al 900 920 161" data-analytics-category="ctc">
						<svg class="vfms-ic--phone">
							<title>Llama gratis al 900 920 161</title>
							<use xlink:href="#icon3-landline-or-call" class="icon-v3"/>
						</svg>
						<p class="vfes-paragraph vfes-paragraph--large vfms-cta">Llama gratis al <span class="drp-phone">900 920 161</span></p>
					</a>
				</div>
			</div>
		</div>
	<div class="vfms-footer-container">
		<div class="vfes-layout__wrapper">
			<p class="vfes-paragraph--center">©2019 Vodafone España S.A.U.</p>
			<p class="vfes-paragraph--center">Avda. América 115, 28042 Madrid</p>
		</div>
	</div>

	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
		<section id="legal-conditions" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
			<div class="vfes-modal__head">
				<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
						class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
						<title>Close</title>
						<use class="icon-v3" xlink:href="#icon3-close"></use>
					</svg></button>
			</div>
			<div class="vfes-modal__content  vfes-modal__content-legal js-modal-content vfes-layout__item">

				<h3
					class="vfes-title vfes-title--center vfes-title--3 vfes-title--bold vfms-legal-text">
					Condiciones legales</h3>
				<p class="vfes-paragraph vfms-paragraph_popup">
				Fibra yuser: Promoción válida solo para estudiantes que se den de alta en el servicio de fibra de Vodafone desde el 1 de agosto hasta el 30 de noviembre ambos incluidos. Disponible para nuevas altas y portabilidades en Vodafone Fibra que se ofrece con dos (2) velocidades de Fibra (600Mbps o 1Gbps). Servicio de llamadas Fijo incluido con Llamadas nacionales ilimitadas a fijos y móviles. Si la Fibra requiere el envío de un técnico para instalación se cargará un coste de 70 € en la primera factura. En caso de autoinstalación no hay coste asociado. Precios con cuota de línea incluida. Oferta no compatible con otras promociones de fibra. descuentos. El cliente podrá solicitar 3 meses de desactivación temporal del servicio de fibra sin ningún cargo adicional por ello. Si el cliente cambia a una velocidad inferior de fibra o a un paquete convergente perderá las condiciones de esta promoción. Sin compromiso de permanencia. Tras 12 meses, el precio de Fibra Yuser pasará a ser de 42,99€ /mes. Fibra simétrica sujeta a disponibilidad geográfica.</br></br>+ info. <a href="http://yu.vodafone.es/" target="_new">yu.vodafone.es</a> </p>

			</div>

		</section>
	</div>

	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
	<section id="ilimitada" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
		<div class="vfes-modal__head">
			<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
		</div>
		<div class="vfes-modal__content js-modal-content">
			<p class="vfes-title vfes-title--3 vfes-title--light vfes-title--center">Tu tarifa <span class="vfes-title--bold">YUSER incluye:</span></p>
			<ul class="vfes-list vfms-list-container">
				<li><p class="vfes-paragraph">Conecta hasta 15 dispositivos.</p></li>
				<li><p class="vfes-paragraph">Fijo con llamadas ilimitadas a fijos y móviles.</p></li>
				<li><p class="vfes-paragraph">Con fibra autoinstalable, coste 0€. Si requiere instalación coste 70€.</p></li>
				<li><p class="vfes-paragraph p-bold">Sin permanencia</p></li>
				<li><p class="vfes-paragraph">Precio Total: <span class="p-bold">30,99€/mes(IVA incl). Dto durante 12 meses. Después 42,99€/mes</span></p></li>
				<li><p class="vfes-paragraph">Con posibilidad de 3 meses de desconexión temporal</p></li>
				
			</ul>
		</div>
	</section>
</div>
</div>
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
