<link href="css/ws2r.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-adicionales vfes-layout vfes-pb0-palm vfes-pb0" id="nudge-adicionales">
    <div class="vfes-layout__wrapper">
		<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov">
			<h3 class="vfes-title vfms-title vfes-colours--dark-grey vfes-title--light vfes-mb0">Añade líneas con datos ilimitados a tu contrato al</h3>
			<h3 class="vfes-title vfms-title__max vfes-title--bold vfes-mb0">50% de descuento</h3>
			<div class="vfes-align--center vfes-mt hide--tb hide--lrg vfes-mb">
				<img src="img/sim-mobile.png" data-vfes-inline-asset>
			</div>
			<div class="vfms-button__container vfes-mt0-mov vfes-mt-palm vfes-mb0-mov vfes-mb0-palm">
				<div class="vfes-flex vfes-flex__direction--row-column-sm vfms-button__align">
					<div class="vfes-mr0-mov vfes-mr-palm">
						<div class="hide--tb">
							<a class="vfes-button vfes-button--primary vfes-mb--mov"
							href="https://m.vodafone.es/web-2aslineas" title="Abrir la App"
									data-analytics-context="base sales lineas adicionales" 
									data-analytics-element="abrir la app"
									data-analytics-category="cta"
									target="_self">Abrir la App
								<span class="visually-hidden">: Abrir la App</span>
							</a>
						</div>
						<div class="hide--xs hide--lrg">
							<a class="vfes-button vfes-button--primary vfes-mb--mov"
							href="https://m.vodafone.es/web-2aslineas" title="Acceder a Mi Vodafone"
									data-analytics-context="base sales lineas adicionales" 
									data-analytics-element="acceder a mi vodafone"
									data-analytics-category="cta"
									target="_self">Acceder a Mi Vodafone
								<span class="visually-hidden">: Acceder a Mi Vodafone</span>
							</a>
						</div>
					</div>
					<p class="vfes-paragraph hide--xs vfms-tel__text hide--lrg">O llámanos gratis al
						<a href="tel:900920214" title="llámanos gratis al 900 920 214"
							data-analytics-context="base sales lineas adicionaless" 
							data-analytics-element="Llámanos gratis"
							data-analytics-category="cta"> <span class="vfes-title--bold"> 900 920 214</span>
						</a>
					</p>
				</div>
				<div class="vfms-hide__tabletonly">
					<a href="tel:900920214" title="llámanos gratis al 900 920 214" class="vfes-button vfes-button--secondary hide--tb"
					data-analytics-context="base sales lineas adicionales" 
					data-analytics-element="Llámanos gratis"
					data-analytics-category="cta">Llámanos gratis al <span class="vfms-bold__desktop"> 900 920 214</span>
				</a>
				</div>
			</div>
		</div>
		<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov">
			<div class="vfms-item__tablet vfes-flex vfes-flex__align-items--end">
				<div>
					<img  class="hide--xs hide--lrg" src="img/sim-tablet.png" data-vfes-inline-asset>
					<img  class="hide--sm" src="img/sim-desktop.png" data-vfes-inline-asset>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
