<link href="css/ws10.css" rel="stylesheet"  data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  data-vfes-inline-asset/>
<div class="vf-bs" id="buttonsCardTv">
    <div class="ws10-flex ws10-flex__direction--column ws10-flex__align-items--center ws10-flex__justify--center">
        <a href="tel:900920145" class="drp-href ws10-c-button ws10-u--mb2x" title="Llama gratis" data-analytics-element="Llama gratis" data-analytics-category="cta"> Llama gratis al <span class="drp-phone">900920145</span></a>
        <a class="vf-buttons-cardtv__link">O actívalo a través de la app Mi Vodafone</a>
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
