<link href="css/ws2r.v13.css" rel="stylesheet"/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />


<div class="vfes-ms-content" id="content" data-iva="false" style="display: none">

    <script>(function () { let t = document.createElement("link"), e = window.location.hostname; e = /localhost/g.test(e) ? "data.json" : /vodafone\.es/g.test(e) ? "/c/statics/data.json" : "/c/vf/statics/data.json", t.setAttribute("href", e), t.setAttribute("rel", "reboot:externaldata"), t.setAttribute("id", "data"), console.log(t), document.querySelector(".vfes-ms-content").parentElement.insertBefore(t, document.querySelector(".vfes-ms-content")) })();</script>

    <div class="vfes-card-rate" data-sticky="item">
            <div class="vfms-flex-info">
                <img  data-vfes-inline-asset class="vfms-tv"src="img/icono_tv_mobile.svg" alt="tv">
                <p><strong>Pack Seriefans GRATIS</strong></p>
            </div>
            <div class="vfms-container--center">
                <img data-vfes-inline-asset class="logo-hbo" src="img/hbo-esp_negro.svg" alt="logo hbo">
            </div>
            <div>
                <p class="vfes-card-rate__accordion-price"><strong>31,99 €/mes</strong> durante 1 año. Después 64,99€/mes</span>
                </p>
            </div>
    </div>
</div>



<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>