<link href="css/ws2r.v15.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content" id="home">
    <div class="vfms-banner-container vfes-layout vfes-pb0 vfes-colours-bg-light-grey">        
        <!-- SECTION BANNER-->
        <div class="vfes-layout__wrapper vfes-pb vfes-pb---mov ">
            <div class="vfes-layout__item vfes-1/2 vfes-1/1-mov ">
                <h1 class="vfms-title-animation vfes-title--4 vfes-mb-" data-animation-element="category">Móvil + Fibra</h1>
                <h2 class="vfes-title--1 vfes-4/4 vfes-1/1-mov vfes-mb0-mov vfms-banner-title">
                    <div class="vfms-title-animation" data-animation-element="1sentence">Los únicos con</div>               
                    <div data-animation-element="2sentence" class="vfms-title-animation"><span class="vfes-title--bold">datos ilimitados</span> y la</div>   
                    <div data-animation-element="3sentence" class="vfms-title-animation"> <span class="vfes-title--bold">TV</span> con <span class="vfes-title--bold">más contenidos</span></div>
                </h2>
            </div>
            <div class="hide--xs vfms-animation vfes-layout__item vfes-1/2 vfes-1/1-mov">
                 <div class="hide--xs vfms-animation--element vfms-animation--5" data-animation-element="sello">
                    <img src="https://www.vodafone.es/c/statics/imagen/animation-sello.svg" alt="sello mejor precio Vodafone">
                </div>   
                <div class="hide--xs vfms-animation--element vfms-animation--1" data-animation-element="imac" >
                    <img src="https://www.vodafone.es/c/statics/imagen/animation-imac.png" alt="ordenador imac de mesa"/>
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--2" data-animation-element="ipad">
                    <img src="https://www.vodafone.es/c/statics/imagen/animation-ipad.png" alt="ipad"/>
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation vfms-animation--3" data-animation-element="deco">
                    <img src="https://www.vodafone.es/c/statics/imagen/animation-deco.png" alt="decodificador tv vodafone"/>
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--4" data-animation-element="iphone">
                    <img src="https://www.vodafone.es/c/statics/imagen/animation-iphone.png" alt="iphone">
                </div>   
                <!--<div class="hide--xs vfms-animation--element vfms-animation--6" data-animation-element="bolo">
                    <img src="https://www.vodafone.es/c/statics/imagen/animation-bolo.png" alt="Oferta 50% de descuento durante los 3 primeros meses en tarifas ilimitadas">
                </div>   -->           
            </div>
        </div>     
        <img class="hide--tb" src="https://www.vodafone.es/c/statics/imagen/bodegon-mobile-fibra-y-movil.png" alt="Imagen que contiene diferentes dispositivos y la información de 50%& de descuento 3 meses en tarifas ilimitadas, mejor precio Vodafone.">
        <div class="vfms-wave Background__WaveBottomWrapper-sc-19mgpxr-3 dVVMLq"><div class="Wave__WaveWrapper-o7bhc-0 crVjDe"><svg width="100%" height="60px" fill="none"><path fill="#f4f4f4" d="M 0 85.2514 C 315.313 86.2845 443.806 157.51 881.113 50.7109 C 1317.15 -55.9125 1318.42 33.4285 1536.31 69.3087 C 1818.67 115.154 2156.92 186.209 2560 85.2515 V 231.253 L 0 231.252 V 85.2514 Z"><animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="30s" values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z; M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z; M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z; M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z"></animate></path></svg></div></div> 
        <div class="vfms-blur"></div>     
   </div>
    <div class="vfms-content-container vfes-layout"> 
    </div>
</div>


<script src="js/ws2r.v15.js"></script>
<script src="js/main.js" data-vfes-inline-asset /></script>

