<link href="css/ws2r.v13.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content" id="xsell" style="display: none">
	<div class="vfes-layout vfms-banner">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item vfes-1/1-mov vfms-banner__content">
				<h2 class="vfes-title vfes-title--3">Llévate <strong>HBO España </strong>y <strong>Amazon Prime
					</strong>por <strong>10€/mes </strong>con el Pack Serielovers</h2>

				<p class="vfms-banner-text vfes-paragraph vfes-paragraph--large">Canales incluidos en el Pack:</p>

				<div class="vfes-layout__item vfes-1/3 vfes-1/1-mov vfes-1/2-palm vfms-banner__channels">
					<ul class="vfms-tv-channels">
						<li class="vfes-1/3-mov vfes-1/4-palm vfes-1/5 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/hbo-blanco.png" alt="HBO">
						</li>
						<li class="vfes-1/3-mov vfes-1/4-palm vfes-1/5 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/amazon-prime-video.png"
								alt="Amazon Prime Video">
						</li>
						<li class="vfes-1/3-mov vfes-1/4-palm vfes-1/5 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/starzplay-blanco.png"
								alt="Starzplay">
						</li>
						<li class="vfes-1/4-mov vfes-1/4-palm vfes-1/5 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/mseries-blanco.png"
								alt="Moviestar Series">
						</li>
						<li class="vfes-1/4-mov vfes-1/4-palm vfes-1/5 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/foxnow-blanco.png" alt="Fox Now">
						</li>
						<li class="vfes-1/4-mov vfes-1/4-palm vfes-1/7 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/axnnow-blanco.png" alt="AXN now">
						</li>
						<li class="vfes-1/4-mov vfes-1/4-palm vfes-1/7 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/fox-blanco.png" alt="Fox">
						</li>
						<li class="vfes-1/5-mov vfes-1/4-palm vfes-1/7 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/axn-blanco.png" alt="AXN">
						</li>
						<li class="vfes-1/5-mov vfes-1/4-palm vfes-1/7 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/tnt-blanco.png" alt="TNT">
						</li>
						<li class="vfes-1/5-mov vfes-1/4-palm vfes-1/7 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/syfy-blanco.png" alt="SYFY">
						</li>
						<li class="vfes-1/5-mov vfes-1/4-palm vfes-1/7 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/calle-13-blanco.png" alt="Calle 13">
						</li>
						<li class="vfes-1/5-mov vfes-1/4-palm vfes-1/7 vfms-tv-channels__item"><img
								class="vfms-channels__logo" src="img/logos-canales/axnwhite-blanco.png" alt="AXN White">
						</li>

					</ul>
					<a class="vfes-color--vodafone-white vfes-paragraph" href="#" target="_self"
						data-modal="serielovers" data-modal-close aria-haspopup="dialog">Ver todos los canales
					</a>
					<button type="button" class="vfes-button vfes-button--primary"
						onclick="window.parent.document.ws_popup.open3('Pack Serielovers', '10€/mes');"
						data-analytics-context="Pack Serielovers" data-analytics-element="lo quiero"
						data-analytics-category="cta" title="Lo quiero">Lo quiero<span class="visually-hidden">:Pack
							Serielovers</span>
					</button>
				</div>

			</div>
		</div>
		{{!-- <div class="vfms-banner-corner">
			<img src="img/logo-amazonprime.png">
		</div> --}}

	</div>

	{{!-- pop-up --}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">

		<!-- SERIEFANS -->

		<section id="serielovers" class="vfes-modal-channel vfes-modal__item js-modal-item" aria-hidden="true"
			role="dialog">
			<div class="vfes-modal__head">
				<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
						class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
						<title>Close</title>
						<use class="icon-v3" xlink:href="#icon3-close"></use>
					</svg></button>
			</div>
			<div class="vfes-modal__content js-modal-content">
				<div class="channels">
					<p class="vfes-title vfes-title--3 vfes-title--light">Canales Pack Serielovers</p>
					<ul class="vfes-list">
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/hbo-desktop.jpg" alt="HBO España">
							<p class="vfes-paragraph">HBO España</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/amazon-prime.jpg" alt="Amazon Prime Video">
							<p class="vfes-paragraph">Amazon Prime Video</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/startzplay-desktop.jpg" alt="AXN White">
							<p class="vfes-paragraph">Starzplay</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/m-series-desktop.jpg" alt="AXN White">
							<p class="vfes-paragraph">Movistar Series</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/foxnow-desktop.jpg" alt="FOXNOW">
							<p class="vfes-paragraph">FOXNOW</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/axn-now-desktop.jpg" alt="AXN Now">
							<p class="vfes-paragraph">AXN Now</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/fox-desktop.jpg" alt="FOX">
							<p class="vfes-paragraph">FOX</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/axn-desktop.jpg" alt="AXN">
							<p class="vfes-paragraph">AXN</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/tnt-desktop.jpg" alt="TNT">
							<p class="vfes-paragraph">TNT</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/syfy-desktop.jpg" alt="SYFY">
							<p class="vfes-paragraph">SYFY</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/calle13-desktop.jpg" alt="Calle 13">
							<p class="vfes-paragraph">Calle 13</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-serielovers/axn-white-desktop.jpg" alt="AXN White">
							<p class="vfes-paragraph">AXN White</p>
						</li>
					</ul>
				</div>
				<div class="channels__common">
					<p class="vfes-title--5">Y además todos los Packs incluyen estos canales:</p>
					<ul class="vfes-list">
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/amc-desktop.jpg" alt="AMC">
							<p class="vfes-paragraph">AMC</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/fox-life-desktop.png" alt="FOX Life">
							<p class="vfes-paragraph">FOX Life</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/cosmo-desktop.jpg" alt="Cosmo">
							<p class="vfes-paragraph">Cosmo</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/comedy-central-desktop.jpg" alt="Comedy Central">
							<p class="vfes-paragraph">Comedy Central</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/xtrm-desktop.jpg" alt="XTRM">
							<p class="vfes-paragraph">XTRM</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/tcm-desktop.jpg" alt="TCM">
							<p class="vfes-paragraph">TCM</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/sundance-desktop.jpg" alt="Sundance TV">
							<p class="vfes-paragraph">Sundance TV</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/national-geographic-desktop.jpg"
								alt="National Geographi">
							<p class="vfes-paragraph">National Geographic</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/national-geographic+desktop.jpg"
								alt="National Geographi+">
							<p class="vfes-paragraph">National Geographic+</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/canal-cocina-desktop.jpg" alt="Cocina">
							<p class="vfes-paragraph">Cocina</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/decasa-desktop.jpg" alt="Decasa">
							<p class="vfes-paragraph">Decasa</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/mtv-desktop.jpg" alt="MTV">
							<p class="vfes-paragraph">MTV</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/my-mtv-music-desktop.jpg" alt="MyMTV Music">
							<p class="vfes-paragraph">MyMTV Music</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/sol-musica-desktop.jpg" alt="SOL Música">
							<p class="vfes-paragraph">SOL Música</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/hit-tv-desktop.jpg" alt="HIT TV">
							<p class="vfes-paragraph">HIT TV</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/eurosport-1-desktop.jpg" alt="Eurosport 1">
							<p class="vfes-paragraph">Eurosport 1</p>
						</li>
						<li class="channels__channel">
							<img class="img" src="img/canales-comunes/disney-xd-desktop.jpg" alt="Disney XD">
							<p class="vfes-paragraph">Disney XD</p>
						</li>
					</ul>
				</div>
			</div>
		</section>

	</div>

</div>


<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
