<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nudge adicionales</title>
    <link href="css/ws2r.v13.css" rel="stylesheet" data-vfes-inline-asset/>
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
</head>

<body>
	<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
    <div class="vfes-ms-content" id="nudge">
		 <div class="vfms-banner">
				<div class="vfes-layout__wrapper vfms-banner-content">
					<div class="vfms-text">
						<p class="vfes-paragraph vfes-paragraph--center vfms-text-margin"><strong><span class="vfms-text-block">¡Hola!</span></strong></p>
						<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center vfms-main__text">Como eres uno de los nuestros, tenemos ofertas especiales para ti.</p>
						<p class="vfes-paragraph vfes-paragraph--center vfms-text__size vfms-text__width"><strong>Líneas adicionales al <span class="vfms-text-itemblock">50% dto.</span></span></strong></p>
						<p class="vfes-paragraph vfes-paragraph--center vfms-text__size"><strong>¿Te interesa?</strong></p>
					</div>
					<div class="vfms-button">
						<button class="vfes-button vfes-button--primary vfms-button__size vfes-mt-" data-analytics-element="llama gratis" data-analytics-context="nudge tv" data-analytics-category="cta">Llama gratis al <span class="drp-phone">900 920 179</span></button>
					</div>
				</div>
			</div>
    </div>
	<script src="js/ws2r.v13.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
