// CSS del microsite
.vfes-ms-content{

  .vfms-content{
    width: 100%;
    display: flex;
  }
  
  .vfms-container{
    position: relative;
    // position: absolute;
    z-index: 5;
    width: 100%;
    top: 55px;
    left:0;
    padding-left:40px;
    right: 0;
    @media screen and (max-width: 768px) {      
      position: relative; 
      padding:10px 10px;
      top: 0;
      left: 0;
      right: 0;
      padding-left:0;
    }
    
  }
  .vf-banner{
    background: url('https://www.vodafone.es/c/statics/imagen/bg-banner.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    background-color:f4f4f4 ;
  }
  .vfms-banner-title{
    width: 50%;
    position: relative;
    padding-left: 30px;
    @media screen and (max-width:768px) {
      width: 100%;
    }
  }


  .vfms-hero__img-content{
    width:100%;
  }
  .vfms__banner-mobile{
   display:none;

    @media screen and (max-width: 768px) {      
      display:block;
      text-align: center;
      margin: 0 auto;
    }

  }
  .vfms-banner {
    &-container {
      background-image: url('../img/bg-banner-mobile.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media screen and (min-width: 640px) {
        background-image: url('../img/bg-banner-tablet.png');
      }
      @media screen and (min-width: 790px) {
        background-image: none
      }
      @media only screen and (max-width: 1200px) and (min-width: 1024px) {
        margin-bottom: 120px;
      }
      @media only screen and (max-width: 1400px) and (min-width: 1200px) {
        margin-bottom: 50px;
      }
    }
    &__title {
      @media screen and (min-width: 640px) {
        max-width: 450px;
      }
      @media screen and (min-width: 970px) {
        max-width: 730px;
        padding-right: 170px;
      }
      @media only screen and (max-width: 1200px) and (min-width: 1023px) {
        max-width: 650px;
        padding-right: 0;
      }
    }
    &__contain {
      @media screen and (min-width: 970px) {
        position: absolute;
        top: 1%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto; 
      }
    }
    &__img {
      &-container {
        position: relative;
      }
    }
    // Hero image
    &__mpv {
      position: absolute;
      max-width: 70px;
      top: 0;
      left: 10px;
      @media screen and (min-width: 640px) {
        max-width: 80px;
        left: -40px;
        top: 20px;
      }
      @media screen and (min-width: 970px) {
        max-width: 90px;
        left: 0;
        top: 0;
      }
      // Horizontal tablet
      @media only screen and (max-width: 1200px) and (min-width: 970px) {
        max-width: 80px;
        top: 20px;
      }
    }
    &__info {
      position: absolute;
      bottom: 10px;
      width: 120px;
      z-index: 1;
      @media screen and (min-width: 640px)  {
        width: 100px;
        bottom: 0;
      }
      @media screen and (min-width: 970px) {
        width: 130px;
      }
      // Horizontal tablet
      @media only screen and (max-width: 1200px) and (min-width: 970px) {
        width: 100px;
      }
    }
    &__5g {
      position: absolute;
      bottom: 0;
      right: 30px;
      z-index: 1;
      @media screen and (min-width: 640px)  {
        right: 40px;
        max-width: 60px;
      }
      @media screen and (min-width: 970px)  {
        right: 120px;
        max-width: none;
      }
      // Horizontal tablet
      @media only screen and (max-width: 1200px) and (min-width: 970px) {
        max-width: 60px;
        right: 50px;
      }
    }
    &__animated {
      position: absolute;
      @media screen and (min-width: 970px)  {
        left: 90px;
        max-width: 65%;
      }
      // Horizontal tablet
      @media only screen and (max-width: 1200px) and (min-width: 970px) {
        right: 0;
        left: auto;
        max-width: 80%;
        bottom: 0;
      }
    }
    &__static {
      position: absolute;
      max-width: 80%;
      right: 0;
      bottom: 10px;
      @media screen and (min-width: 640px) {
        max-width: 90%;
      }
    }
    // SEO banner
    &__seo {
      &-align {
        align-items: flex-start;
        @media screen and (min-width: 970px)  {
          align-items: center;
        }
      }
    }
  }

  .vfms-hero__img-container{
    padding: 0 20px;
  }
  .vfms-hero__img-container img{
    max-width: 372px;
    width: 100%;
  }

  .vfms-hero__sin{
    text-align: center;
  }
  .vfms-hero__sin-item{
    font-size:20;
    margin-bottom: 0;
  }
  .vfms-hero__sin-item1{

    color:#007c92;

  }
  .vfms-hero__sin-item2{

    color:#000000;

  }
  .vfms-hero__sin-item2 span{

    color:#999999;

  }

  .vf-bold{
    font-family: "Vodafone";
    src: local("Vodafone Rg Bold"),url("https://www.vodafone.es/c/statics/fonts/vodafonergbd-webfont.woff") format("woff"),url(fonts/vodafone-bold.woff) format("woff");
    font-style: "normal";
    font-weight: 700;
    font-display: swap
  }

  .hide--lrg {
    @media screen and (min-width: 970px) {
      display: none;
    }
  }
  .hide--xs {
    display: none;
    @media screen and (min-width: 640px) {
      display: block;
    }
  }
  .hide--sm {
    @media screen and (min-width: 640px) {
      display: none;
    }
    @media screen and (min-width: 970px) {
      display: block;
    }
  }

  .vf-block {
    display: block;
  }
  
}