<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  data-vfes-inline-asset/>
<script>
</script>
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="plp-cabecera" style="">
    <!-- Section BANNER -->
    <section class="vf-banner  ws10-u--pb16x ws10-u-color--bg-light-grey">
        <div class="ws10-o-wrapper">
            <div class="ws10-o-layout vfms-container">
                    <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--2/3@tablet ws10-u--1/2@desktop">
                        <span class="ws10-u-heading--4">Tarifas Móvil</span>
                        <h2 class="ws10-u-heading--2-lt ws10-u--pt5x">Ahora <strong>datos ilimitados 5G</strong> y <strong>sin permanencia </strong>
                         en las tarifas de contrato
                        </h2>
                    </div>
                    <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/3@tablet ws10-u--1/2@desktop">
                        <div class="vfms-hero__img-container">
                            <p class="vfms-gradient"><strong>sin permanencia</strong></p>
                            <div class="cont">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" width="1920px" height="1080px" preserveAspectRatio="xMidYMid slice">
                                <defs>
                                    <mask id="mask" x="0" y="0" width="1920" height="1080" >
                                    <rect x="0" y="0" width="1920" height="1080"/>
                                    <text x="960" y="1em">Hello</text>
                                    <text x="960" y="90%">SVG</text>
                                    </mask>
                                </defs>
                                <rect x="0" y="0" width="1920" height="1080"/>
                                </svg>
                            </div>

                            <img class="vfms-hero__img-content"  src="https://www.vodafone.es/c/statics/imagen/sin-permanencia.png" alt="">
                        </div>
                        <div class="vfms-hero__sin">
                            <p class="vfms-hero__sin-item vfms-hero__sin-item1"><strong>La oferta acaba el 02/11</strong></p>
                            <!--<p class="vfms-hero__sin-item vfms-hero__sin-item2"><strong><span>Oferta disponible</span> solo contratando en la web</strong></p>-->
                        </div>
                    </div>        
            </div>
        </div>
    </section>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
