<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content vfes-ws10" id="lp-preventa-terminales" style="display: none">
	{{!-- hero --}}
	<section class="vfes-layout__wrapper vfms-hero vfes-p0-mov vfes-p vfes-p-palm vfes-colours--vodafone-grey">
		<div class="vfes-flex vfes-pt vfes-pb vfes-ml0-mov vfes-ml0 vfes-ml+-palm vfms-flex-justify">
			<div class="vfms-hero__container">
				<h3 class="vfes-pb-mov vfes-title vfes-title--light vfms-hero__title vfms-hero__align vfes-title--3 vfes-mb0">Compra un <span class="vfms-block">Samsung Galaxy S20 Series</span></h3>
				<h5 class="vfes-pb-mov vfes-title vfes-title--light vfms-hero__subtitle vfms-hero__align vfes-title--5">y llévate 3 meses <span class="vfes-title--bold">GRATIS</span> de Vodafone Care</h5>
			</div>
		</div>
	</section>
	{{!-- breadcumbs --}}
	<section data-analytics-context="breadcrumbs" class="vfes-breadcrumbs">
		<ul class="vfes-breadcrumbs__wrapper">
			<li><a class="vfes-link" title="Home" target="_self" href="https://www.vodafone.es/c/particulares/es/"> Home</a></li>
			<li><a class="vfes-link" title="Item 2" target="_self" href="#"> Samsung Galaxy S20</a></li>
		</ul>
	</section>
	{{!-- section mobiles carousel --}}
	<section class="vfes-align--center">
		<div class="vfes-layout__item"> 
			<h4 class="vfes-title vfms-tabs__title vfes-title--center vfes-title--4 vfes-pt-mov vfes-pt+">Llévate uno de estos Samsung con tu Tarifa Móvil + Fibra o tu Tarifa Móvil</h4>
			<div class="vfes-layout vfms-nopadding">
				<div class="vfes-tabs vfes-tabs--simple" data-vfes-js="_tabsWs10">
					<ul class="vfes-tabs__container vfes-mt--mov">
						<li class="vfes-tabs__tab  vfes-mr vfes-mr---mov">
							<button class="vfes-tabs__tab-button js-tab vfes-tabs__tab-active" data-option="1" role="tab" aria-controls="simpletab1" title="tarifa movil + fibra" aria-label="tarifa movil + fibra" aria-selected="true">Tarifa Móvil + Fibra</button>
						</li>
						<li class="vfes-tabs__tab" >
							<button class="vfes-tabs__tab-button js-tab" data-option="2" role="tab" aria-controls="simpletab2" title="tarifa movil" aria-label="tarifa movil" aria-selected="false">Tarifa Móvil</button>
						</li>
					</ul>
					{{!-- Tab movil + fibra --}}
					<div class="vfes-tabs__content vfms-nopaddingtop vfes-tabs__content-open vfes-colours-bg-vodafone-white" data-tab="1" id="simpletab1" role="tabpanel">
						<div class="vfes-layout vfms-mobile">
							<div class="vfes-layout__wrapper">
								<section class="vfes-layout">
									<div class='vfes-carousel' data-vfes-js='_carousel'
										data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
										<ul class='vfes-carousel__list vfes-layout--padding js-carousel-list'>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 Ultra 5G
													</p>
													<img class="vfms-mobile-img vfes-pb+ vfes-pt vfes-mb" alt="Samsung Galaxy S20 Ultra 5G"
														src="img/devices/samsung-s20-ultra5g.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.9”</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 40Mp</p>
																<p>Trasera 12+48+108Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 12/16GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>50€/mes</strong></span> en 24
															meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a title="Lo quiero" class="device vfes-button vfes-button--primary vfms-large" style="cursor: pointer;" onclick="window.parent.document.ws_popup.open('Samsung Galaxy S20 Ultra 5G', '50€/mes en 24 meses');" target="_parent" data-analytics-context="Samsung Galaxy S20 Ultra 5G" data-analytics-element="lo quiero" data-analytics-category="cta" data-analytics-id="-2476484259655">Lo quiero</a>
														<span class="visually-hidden">: comprar Samsung Galaxy S20 Ultra 5G</span>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20+ 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20+ 5G"
														src="img/devices/samsung-s20+5g.png">
													<div class="vfms-mobile-colors vfes-mb">
														<ul class="vfms-mobile-colors__list vfes-flex">
															<li class="vfes-mr-">
																<div class="vfms-mobile-colors vfms-mobile-colors__pink vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20+ 5G color rosa</span>
																</div>
															</li>
															<li>
																<div class="vfms-mobile-colors vfms-mobile-colors__grey vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20+ 5G color gris</span>
																</div>
															</li>
														</ul>
													</div>
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.7"</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>38€/mes</strong></span> en 24 meses
														</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a title="Lo quiero" class="device vfes-button vfes-button--primary vfms-large" style="cursor: pointer;" onclick="window.parent.document.ws_popup.open('Samsung Galaxy S20+ 5G', '38€/mes en 24 meses');" target="_parent" data-analytics-context="Samsung Galaxy S20+ 5G" data-analytics-element="lo quiero" data-analytics-category="cta" data-analytics-id="-2859747404788">Lo quiero</a>
														<span class="visually-hidden">: comprar Samsung Galaxy S20+ 5G</span>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note10+ 5G"
														src="img/devices/samsung-s205g.png">
													<div class="vfms-mobile-colors vfes-mb">
														<ul class="vfms-mobile-colors__list vfes-flex">
															<li class="vfes-mr-">
																<div class="vfms-mobile-colors vfms-mobile-colors__blue vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20 5G color azul</span>
																</div>
															</li>
															<li>
																<div class="vfms-mobile-colors vfms-mobile-colors__grey2 vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20 5G color gris</span>
																</div>
															</li>
														</ul>
													</div>
													
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.2”</p>
																{{!-- <p>Resolución XXX</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>35€/mes</strong></span> en 24
															meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a title="Lo quiero" class="device vfes-button vfes-button--primary vfms-large" style="cursor: pointer;" onclick="window.parent.document.ws_popup.open('Samsung Galaxy S20 5G', '35€/mes en 24 meses');" target="_parent" data-analytics-context="Samsung Galaxy S20 5G" data-analytics-element="lo quiero" data-analytics-category="cta" data-analytics-id="-3077581670247">Lo quiero</a>
														<span class="visually-hidden">: comprar Samsung Galaxy S20 5G</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
					{{!-- Tab movil --}}
					<div class="vfes-tabs__content vfms-nopaddingtop vfes-colours-bg-vodafone-white" data-tab="2" id="simpletab2" role="tabpanel">
						<div class="vfes-layout vfms-mobile">
							<div class="vfes-layout__wrapper">
								<section class="vfes-layout">
									<div class='vfes-carousel' data-vfes-js='_carousel'
										data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
										<ul class='vfes-carousel__list vfes-layout--padding js-carousel-list'>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 Ultra 5G
													</p>
													<img class="vfms-mobile-img vfes-pt vfes-mb vfes-pb+" alt="Samsung Galaxy S20 Ultra 5G"
														src="img/devices/samsung-s20-ultra5g-buds.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.9”</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 40Mp</p>
																<p>Trasera 12+48+108Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 12/16GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>34,50€/mes</strong></span> en 36 meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>

														<a class="device vfes-button vfes-button--primary vfms-large"
															data-device-name="Samsung Galaxy S20 Ultra 5G" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-ultra-5g-negro-128gb-313886/" target="_self" data-analytics-context="Samsung Galaxy S20 Ultra 5G"
															data-analytics-element="lo quiero"
															data-analytics-category="cta" data-analytics-id="-1790569818985">Lo quiero</a>
														<span class="visually-hidden">: comprar Samsung Galaxy S20 Ultra 5G</span>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20+ 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20+ 5G"
														src="img/devices/samsung-s20+5g-buds.png">
													<div class="vfms-mobile-colors vfes-mb">
														<ul class="vfms-mobile-colors__list vfes-flex">
															<li class="vfes-mr-">
																<div class="vfms-mobile-colors vfms-mobile-colors__blue vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20+ 5G color azul</span>
																</div>
															</li>
															<li>
																<div class="vfms-mobile-colors vfms-mobile-colors__grey vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20+ 5G color gris</span>
																</div>
															</li>
														</ul>
													</div>
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.7"</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>27€/mes</strong></span> en 36 meses
														</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a class="device vfes-button vfes-button--primary vfms-large" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-plus-5g-gris-128gb-313810/" target="_self"
															data-device-name="Samsung Galaxy S20+ 5G"
															data-analytics-context="Samsung Galaxy S20+ 5G"
															data-analytics-element="lo quiero"
															data-analytics-category="cta" data-analytics-id="-0411986807301">Lo quiero</a><span class="visually-hidden">: comprar Samsung Galaxy S20+ 5G</span>
														</a>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note10+ 5G"
														src="img/devices/samsung-s205g-buds.png">
													<div class="vfms-mobile-colors vfes-mb">
														<ul class="vfms-mobile-colors__list vfes-flex">
															<li class="vfes-mr-">
																<div class="vfms-mobile-colors vfms-mobile-colors__pink vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20 5G color rosa</span>
																</div>
															</li>
															<li>
																<div class="vfms-mobile-colors vfms-mobile-colors__grey2 vfms-mobile-colors__shadow"> 
																	<span class="visually-hidden">Samsung Galaxy S20 5G color gris</span>
																</div>
															</li>
														</ul>
													</div>
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.2”</p>
																{{!-- <p>Resolución XXX</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>21,99€/mes</strong></span> en 36
															meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a class="device vfes-button vfes-button--primary vfms-large" 
														href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-5g-gris-128gb-313808/" target="_self"
															data-device-name="Samsung Galaxy S20 5G"
															data-analytics-context="Samsung Galaxy S20 5G"
															data-analytics-element="lo quiero"
															data-analytics-category="cta" data-analytics-id="-0734046244664">Lo quiero</a>
														<span class="visually-hidden">: comprar Samsung Galaxy S20 5G</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</section>
</div>

<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
