<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
<div class="vfes-ms-content-mobON19">
    <div class="vfes-layout vfms-container">
        <div class="vfes-layout__wrapper">
            <div class="vfes-layout__item">
                <div class="vfms-contenido vfes-flex vfes-flex__align-items--center vfes-flex__justify--center vfes-flex__direction--row-column-sm">
                    <div class="vfms-text vfes-flex vfes-flex__align-items--center vfes-flex__direction--column vfes-pr+ vfes-pr0-palm">
                        <p class="vfms-title--4 vfes-title--light vfes-pt">Por ser cliente, llévate ahora</p>
                        <p class="vfms-title--1 vfes-title--light vfes-mb0 vfes-pb"><span class="vfes-title--bold">Oferta Solo Online:</span> 50% de dto. 3 meses y <span class="vfes-title--bold">2ª línea móvil ilimitada GRATIS</span></p>
                        <img src="https://www.vodafone.es/c/statics/imagen/543_bodegon_mobile-on19.png" alt="bodegón Mobile">

                        {{!-- <img src="https://www.vodafone.es/c/statics/imagen/Bodegon_ON19_Mobile.png" alt="bodegón Mobile">
                        <p class="vfms-title--4 vfes-title--light vfes-align--center vfes-pt">Por ser cliente</p>
                        <p class="vfms-title--1 vfes-title--light vfes-align--center vfes-mb0 vfes-pb">Llévate <span class="vfes-title--bold">datos ilimitados y friba 300Mbps</span> por solo <span class="vfes-title--bold">26,99€/mes</span></p> --}}
                        <a href="#" class="vfes-button vfes-button--primary vfes-mt-" data-analytics-element="llama gratis" data-analytics-context="dos lineas movil y televisión" data-analytics-category="cta">Llama gratis al XXX XXX XXX</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
