.vfes-ms-content-textlink{
    .vfms-link{
        display: flex;
        .vfms-separator{
            width: 1px;
            height: 16px;
            margin: 0 .4375rem;
            background-color: #333;
        }
    }
}
