<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-ilimitada-total vfes-colours-bg-vodafone-white" id="sim-ilimitada-total">
    <section class="vfes-layout__wrapper">
		<p class="vfes-title vfes-title--2 vfes-title--light vfms-title__center vfes-mt">La tarifa incluye</p>
	</section>
	<section class="vfes-layout vfms-nopadding__bottom">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov">
				<div class="vfes-flex vfes-flex__direction--colum vfes-flex__align-items--center">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80" viewBox="0 0 192 192"><defs><symbol id="b72c2309-f081-4476-80d3-91b0b45ddd67" data-name="Mobile_ic_mid" viewBox="0 0 192 192"><line x1="84" y1="158" x2="108" y2="158" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect x="50" y="18" width="92" height="156" rx="14" ry="14" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>mobile-mid</title><g id="ab6a2f1a-4b94-4c55-8a77-5cb818d7cf46" data-name="ICON"><use id="be6cc9c3-70cf-4b16-93e1-a8b0b018c97e" data-name="Mobile_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#b72c2309-f081-4476-80d3-91b0b45ddd67"/></g></svg>
					<h3 class="vfes-title vfes-title--3 vfes-title--bold vfms-nomargin__bottom vfms-title__center">Datos ilimitados 5G</h3>
					<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center">Navega a Velocidad Máxima para Redes Sociales y música online.</p>
					<a class="vfms-link" data-modal="info-modal" data-modal-close aria-haspopup="dialog">¿Qué puedes hacer con datos ilimitados?</a>
				</div>
			</div>
			<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov">
				<div class="vfes-flex vfes-flex__direction--colum vfes-flex__align-items--center">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80" viewBox="0 0 192 192"><defs><symbol id="e089978e-ef4f-410b-b545-a2ba1fc49219" data-name="Landline_or_Call_ic+_mid" viewBox="0 0 192 192"><g id="bbf6e5fb-6818-4cea-b36d-5920b90c48ec" data-name="ICON"><line x1="29.16" y1="29.15" x2="62.6" y2="78.87" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><line x1="116.33" y1="130.04" x2="162.78" y2="162.8" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g><path id="fa174262-3f4d-4fbc-93f7-cd56a6233530" data-name="&lt;Pfad&gt;" d="M116.33,130l13.19-10c3.48-1.79,7.07-2.22,9.23-.89,3.28,2,30.75,20.4,33.07,22s3.38,6.25.13,10.75-18.15,22.26-24.39,22-32.21-1-80.68-49.75S18.13,49.8,18,43.63,36.08,23,40.68,19.89s9.26-1.91,10.87.32c1.82,2.54,19.73,29.93,21.7,33.07,1.34,2.15.81,5.7-1.06,9.12S62.6,78.87,62.6,78.87s5.25,9.05,23.15,27.05C94.26,114.65,116.33,130,116.33,130Z" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect width="192" height="192" fill="none"/></symbol></defs><title>landline-or-call-mid</title><g id="528c2205-80ab-476a-bea3-b798f80aa753" data-name="ICON"><use id="5382086d-b9f7-429e-824f-30d9fdc4ad32" data-name="Landline_or_Call_ic+_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#e089978e-ef4f-410b-b545-a2ba1fc49219"/></g></svg>
					<h3 class="vfes-title vfes-title--3 vfes-title--bold vfms-nomargin__bottom vfms-title__center">Llamadas ilimitadas</h3>
					<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center">A fijos y móviles. Roaming incluido en Europa y EE.UU.</p>
				</div>
			</div>
			<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov">
				<div class="vfes-flex vfes-flex__direction--colum vfes-flex__align-items--center">
					<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 192 192"><rect id="bg" width="80" height="80" fill="#d8d8d8" fill-opacity="0"/><rect id="Rectangle_path" data-name="Rectangle path" width="80" height="80" fill="none"/><path id="Shape" d="M96,125.08H60.76a6.15,6.15,0,0,0-5.77,4L51.69,138a18.24,18.24,0,0,1-17.08,12h0a16.75,16.75,0,0,1-16.44-19.21l9.61-67.42A24.73,24.73,0,0,1,52.16,42h87.68a24.73,24.73,0,0,1,24.38,21.37l9.61,67.42A16.75,16.75,0,0,1,157.39,150h0a18.24,18.24,0,0,1-17.08-12l-3.3-8.91a6.15,6.15,0,0,0-5.77-4Z" transform="translate(0 0)" fill="none" stroke="#666" stroke-linejoin="round" stroke-width="4"/><line id="Shape-2" data-name="Shape" x1="62" y1="70" x2="62" y2="102" fill="none" stroke="#e60000" stroke-linecap="round" stroke-width="4"/><line id="Shape-3" data-name="Shape" x1="46" y1="85" x2="78" y2="85" fill="none" stroke="#e60000" stroke-linecap="round" stroke-width="4"/><path id="Shape-4" data-name="Shape" d="M124,92a4,4,0,1,0,4,4A4,4,0,0,0,124,92Z" transform="translate(0 0)" fill="#e60000"/><path id="Shape-5" data-name="Shape" d="M124,68a4,4,0,1,0,4,4A4,4,0,0,0,124,68Z" transform="translate(0 0)" fill="#e60000"/><path id="Shape-6" data-name="Shape" d="M136,80a4,4,0,1,0,4,4A4,4,0,0,0,136,80Z" transform="translate(0 0)" fill="#e60000"/><path id="Shape-7" data-name="Shape" d="M112,80a4,4,0,1,0,4,4A4,4,0,0,0,112,80Z" transform="translate(0 0)" fill="#e60000"/></svg>
					<h3 class="vfes-title vfes-title--3 vfes-title--bold vfms-nomargin__bottom vfms-title__center">Hatch Premium</h3>
					<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center">Plataforma para disfrutar de más de 100 videojuegos premium en tu móvil. Gratis 12 meses, después 6,99€/mes.</p>
				</div>
			</div>
			<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov">
				<div class="vfes-flex vfes-flex__direction--colum vfes-flex__align-items--center">
					<img class="vfms-img__size" src="img/security-mid.png">
					<h3 class="vfes-title vfes-title--3 vfes-title--bold vfms-nomargin__bottom vfms-title__center">Secure Net</h3>
					<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center">Secure Net para usar tu Smartphone con seguridad, gratis 3 meses, después 1€/mes.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="vfes-layout">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				<h3 class="vfes-title vfes-title--2 vfes-title--center">¿Cómo ser de Vodafone?</h3>
			</div>
			<div class="vfes-layout__item">
				<div class="vfes-timeline vfes-timeline--steps vfes-timeline--center">
					<ul class="vfes-timeline__list">
						<li class="vfes-timeline__item">
							<svg class="icon vfes-timeline__icon" id="0666c69b-750d-4639-bb4b-4b3c8ca58426" data-name="connectivity_ic_hi" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 192 192"><rect width="192" height="192" fill="none"/><polyline points="169.95 33.95 88 120 50 82" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><path d="M166,66.1v87.55A12.35,12.35,0,0,1,153.65,166H38.35A12.35,12.35,0,0,1,26,153.65V38.35A12.35,12.35,0,0,1,38.35,26H149.87" transform="translate(0 0)" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><strong>Elige tu tarifa</strong></p>
							<p class="vfes-paragraph">Elige la tarifa que más se adapte a tus necesidades y una vez contratada a través de la web, te enviaremos un email de confirmción.</p>
						</li>
						<li class="vfes-timeline__item">
							<svg class="icon vfes-timeline__icon" id="6283cce6-a38e-424a-9593-95be8d50ef18" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 192 192"><rect width="192" height="192" fill="none"/><g id="b4bbda31-9700-4adf-a2cf-5a5a2def8a57" data-name="Data_ic 2"><polygon points="68 124 44 124 44 68 20 68 70 20 120 68 96 68 96 124 68 124" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><polygon points="124 68 148 68 148 124 172 124 122 172 72 124 96 124 96 68 124 68" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><strong>Trae tu número</strong></p>
							<p class="vfes-paragraph">Si haces una portabilidad de otra compañía, lo gestionamos nosotros. Después de confirmar tu portabilidad, te llegrá la SIM y te avisaremos del día exacto en que el cambio será efectivo.</p>
						</li>
						<li class="vfes-timeline__item">
							<svg class="icon vfes-timeline__icon" id="9b6806f4-5ed0-49ad-ad79-c9c385680c11" data-name="ICON" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 192 192"><g id="57d138b5-934f-4812-9ea8-589062187542" data-name="Business_ic_mid"><rect width="192" height="192" fill="none"/><polyline points="37.16 74.6 18 102.42 77.45 130.24 96 102.42 114.55 130.24 174 102.42 154.74 74.6" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><polyline points="96 46.78 76.45 28.04 18 56 37.16 74.6" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><polyline points="95.62 46.78 115.16 28.04 174 56 154.46 74.6" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><polyline points="36 112 36 138.08 96.05 166 156 138.08 156 112" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><line x1="96" y1="102.42" x2="96" y2="164.33" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><polygon points="37.16 74.6 96 102.42 154.74 74.6 96 46.78 37.16 74.6" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><strong>Recibe la SIM</strong></p>
							<p class="vfes-paragraph">Te enviaremos tu SIM a casa, en una tienda Vodafone o en la dirección que nos indiques. El envío puede tardar entre 2-3 días laborables (en la península) y 5-7 (a Baleares y Canarias, Ceuta o Melilla).</p>
						</li>
						<li class="vfes-timeline__item">
							<svg class="icon vfes-timeline__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80" height="80" viewBox="0 0 192 192"><defs><symbol id="0045bf63-0af4-43af-b81e-be2db26c8204" data-name="Minutes_sms_mid" viewBox="0 0 192 192"><path id="c05e886d-58ce-4e16-a75e-28ba9af9066f" data-name="&lt;Pfad&gt;" d="M116.36,130l13.19-10c3.48-1.79,7.07-2.22,9.23-.89,3.28,2,30.75,20.4,33.07,22s3.38,6.25.13,10.75-18.15,22.26-24.39,22-32.21-1-80.68-49.75S18.16,49.8,18,43.63,36.11,23,40.71,19.89,50,18,51.58,20.21c1.82,2.54,19.73,29.93,21.7,33.07,1.34,2.15.81,5.7-1.06,9.12s-9.58,16.47-9.58,16.47,5.25,9.05,23.15,27.05C94.29,114.65,116.36,130,116.36,130Z" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect width="192" height="192" fill="none"/><rect width="192" height="192" fill="none"/><g id="b7b51bfe-fe43-4046-8358-580a3a9b91cb" data-name="Text_ic_mid"><path d="M142,78l24.12,24V78H172a14,14,0,0,0,14-14V28a14,14,0,0,0-14-14H108A14,14,0,0,0,94,28V64a14,14,0,0,0,14,14Z" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><line id="f9898a5a-768c-4b73-ae40-5d03abf9e2fa" data-name="&lt;Pfad&gt;" x1="166.03" y1="34" x2="114.03" y2="34" fill="none" stroke="#e60000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4"/><line id="fbfab1d0-1eaf-4f00-9d7e-881952b73bcb" data-name="&lt;Pfad&gt;" x1="166.03" y1="58" x2="114.03" y2="58" fill="none" stroke="#e60000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4"/></g></symbol></defs><g id="0e2032a4-1921-40fd-8957-07613e724a94" data-name="ICON"><use id="26f7fa0c-302d-4444-bf85-39cad395bcf0" data-name="Minutes_sms_mid" width="192" height="192" transform="translate(-0.03 0)" xlink:href="#0045bf63-0af4-43af-b81e-be2db26c8204"/></g></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><strong>¡Ya eres de Vodafone!</strong></p>
							<p class="vfes-paragraph">Inserta la SIM en tu teléfono y empieza a disfrutar de ls ventajas de ser de Vodafone.</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="vfes-layout__item vfes-mb">
				<p class="vfes-paragraph vfes-paragraph--right"><a class="vfms-link" href="#">Condiciones legales</a></p>
			</div>
			<div class="vfes-layout__item vfes-align--center vfes-mt">
				<a href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/" title="CTA" class="vfes-button vfes-button--tertiary vfms-button__width" data-analytics-element="Ver más tarifas" data-analytics-category="cta"> Ver más tarifas </a>
			</div>
		</div>
	</section>
	{{!-- modal datos ilimitados --}}
	<div id="info">
		<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
			<section id="info-modal" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
				</div>
				<div class="vfes-modal__content js-modal-content">
					<p class="vfes-title vfes-title--2 vfes-title--center vfms-nomargin__bottom vfes-pt+-mov">¿Qué puedes hacer con datos ilimitados?</p>
					<div class="vfes-layout">
						<div class="vfes-layout__wrapper">
							<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
								<p class="vfes-paragraph">Ya no tienes que buscar WiFi. Ahora con<span class="vfes-title vfes-title--bold"> datos ilimitados</span>podrás, por ejemplo, acceder a apps de juego online, descargar y subir archivos de gran tamaño o ver vídeos en máxima calidad.</p>
								<p class="vfes-paragraph">Con la Tarifa Móvil Ilimitada Total disfruta de la máxima velocidad <span class="vfes-title vfes-title--bold"> 5G.</span></p>
							</div>
							<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
								<p class="vfes-paragraph">Te recomendamos esta tarifa para</p>
								<ul class="vfes-list vfes-list--checkmarks vfms-list">
									<li class="vfms-list__item">Vídeos Online de máxima calidad </li>
									<li class="vfms-list__item">Jugar Online</li>
									<li class="vfms-list__item">Aplicaciones de mensajería instantánea</li>
									<li class="vfms-list__item">Redes sociales </li>
									<li class="vfms-list__item">Música online</li>
									<li class="vfms-list__item">Vídeo y música online de alta calidad</li>
									<li class="vfms-list__item">Uso avanzado de redes sociales</li>
									<li class="vfms-list__item">Aplicaciones que requieren ubicación</li>
									<li class="vfms-list__item">Videojuegos online</li>
									<li class="vfms-list__item">Descargar y subir archivos de gran tamaño</li>
									<li class="vfms-list__item">Vídeos en máxima calidad (UHD Y 4K)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	{{!-- modal legales --}}
	<div class="vfms-popup__legales" id="legales" style="display: none;">
		<div>
			<div class="vfms-container__legales">
				<svg class="vfms-icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'><use class="icon-v3" xlink:href='#icon3-close'></use></svg>
				<p class="vfes-title vfes-title--center vfes-title--3 vfes-title--bold vfes-color--vodafone-red"> Condiciones legales </p>
				<p class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold vfes-color--vodafone-red"> Condiciones legales de las tarifas móviles de Vodafone </p>
				<p class="vfes-paragraph">Tarifas disponibles para nuevas altas, portabilidades, migración de prepago a contrato y Clientes de cartera en modalidad contrato tanto para Clientes particulares, como microempresas.
				</p>
				<p class="vfes-paragraph vfes-title--bold">Precio(€)/mes</p>
				<img src="https://www.vodafone.es/c/tienda/tol/static/img/modules/icons/png/tabla-legales-oferta-flash.png"
					alt="tabla de precios" title="tabla de precios" />
				<p class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold vfes-color--vodafone-red"> Condiciones de las tarifas móviles </p>
				<h4 class="vfes-paragraph">La tarifa Vodafone Mini incluye:</h4>
				<ul class="vfes-list">
					<li>
					<p class="vfes-paragraph">
						200 minutos con cualquier operador nacional las 24 horas.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						SMS ilimitados con cualquier operador nacional.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						4GB de navegación.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming incluido en Europa y EE.UU con las mismas condiciones de la tarifa.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Servicio Secure Net para usar tu Smartphone con seguridad, 1 euro al mes (gratis los 3 primeros meses).
					</p>
					</li>
				</ul>
	
	  			<h4 class="vfes-paragraph">La tarifa Vodafone Extra incluye:</h4>
				<ul class="vfes-list">
					<li>
					<p class="vfes-paragraph">
						Llamadas y SMS ilimitados con cualquier operador nacional las 24 horas.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						8GB de navegación.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming incluido en Europa y EE.UU con las mismas condiciones de la tarifa. Servicio Secure Net para usar tu
						Smartphone con seguridad, 1 euro al mes (gratis los 3 primeros meses).
					</p>
					</li>
				</ul>
	
				<h4 class="vfes-paragraph">La tarifa Vodafone Ilimitada incluye:</h4>
				<ul class="vfes-list">
					<li>
					<p class="vfes-paragraph">
						Llamadas y SMS ilimitados con cualquier operador nacional las 24 horas.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Datos ilimitados de navegación a una velocidad de 2Mbps.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming incluido en Europa y EE.UU: llamadas y SMS ilimitados y 16GB de navegación.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Servicio Secure Net para usar tu Smartphone con seguridad, 1 euro al mes (gratis los 3 primeros meses).
					</p>
					</li>
				</ul>
	
	  			<h4 class="vfes-paragraph">La tarifa Vodafone Ilimitada Súper incluye:</h4>
				<ul class="vfes-list">
					<li>
					<p class="vfes-paragraph">
						Llamadas y SMS ilimitados con cualquier operador nacional las 24 horas.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Datos ilimitados de navegación a una velocidad de 10Mbps.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming incluido en Europa y EE.UU: llamadas y SMS ilimitados y 17GB de navegación.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Servicio Secure Net para usar tu Smartphone con seguridad, 1 euro al mes (gratis los 3 primeros meses).
					</p>
					</li>
				</ul>
	
				<h4 class="vfes-paragraph">La tarifa Vodafone Ilimitada Total incluye:</h4>
				<ul class="vfes-list">
					<li>
					<p class="vfes-paragraph">
						Llamadas y SMS ilimitados con cualquier operador nacional las 24 horas.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Datos ilimitados de navegación a máxima velocidad 5G.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming incluido en Europa y EE.UU: llamadas y SMS ilimitados y 19GB de navegación.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Servicio Secure Net para usar tu Smartphone con seguridad, 1 euro al mes (gratis los 3 primeros meses).
					</p>
					</li>
				</ul>
	
				<h4 class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold"> Características comunes a todas las tarifas comunicadas:</h4>
				<ul class="vfes-list">
					<li>
					<p class="vfes-paragraph">
						Todos los servicios de llamadas contarán con calidad de voz HD siempre que la línea destinataria de la llamada
						sea también Vodafone.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						El servicio móvil permite Voz sobre IP.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						En la tarifa Mini, consumidos los 200 min, aplica el precio de 0,25€/min y 0,30€ de establecimiento de llamada
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Excluidos los servicios Dicta SMS, Rellamada, MMS y SMS/MMS Premium.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Los minutos incluidos en todas las tarifas excluyen las llamadas a numeraciones especiales de tarificación
						adicional (como los 700, 901 o 902), llamadas a inteligencia de red, llamadas internacionales, llamadas a
						números guía (como los 118) y las llamadas no utilizadas para la identificación de usuarios finales.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming incluido en UE, EE.UU, Islandia, Noruega, Liechtenstein, Suiza, Turquía, Vaticano, Kosovo y Mónaco
						(Zona1).Las llamadas en roaming realizadas y recibidas, SMS enviados y GB consumidos en estos destinos se
						contabilizan en la tarifa nacional sin coste adicional. Incluidas las llamadas realizadas con origen y destino
						en cualquier país de los indicados. Llamadas realizadas desde zona 1 a cualquier destino, fuera de zona 1 ,se
						tarifica según la tarifa Vodafone World. Más información y política de uso razonable en <a
						href="vodafone.es/roaming">vodafone.es/roaming</a>
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Superados los GB incluidos en Roaming para las tarifas ilimitada, Súper y Total el precio de cada Giga adicional
						es de 5,4€/GB.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming en zona 2: Las tarifas de móvil tienen activada la Tarifa de Viaje Mundo con la que los clientes de la
						tarifa Mini y Extra disfrutarán de 20 minutos, 20 SMS y 2GB al día en Roaming en sus viajes en Zona 2 por
						15€/día de uso. Los clientes de las tarifas Extra, Ilimitada, Ilimitada Súper e Ilimitada Total disfrutarán de
						los
						minutos y SMS ilimitados y 2GB al día en roaming en sus viajes en zona 2 por 15€/día de uso. Incluye las
						llamadas y sms realizados desde zona 2 a cualquier destino de cualquier zona Contratado el servicio Más Megas y
						superados los datos de la tarifa Mini y Extra, podrá navegar por 4€ cada 200MB adicionales que consuma (hasta un
						máximo de 1GB/mes, 20€), después la velocidad se reduce. Se puede desactivar este servicio en el momento de la
						contratación o en cualquier otro momento posterior de forma gratuita. Si el cliente no dispone de este servicio,
						superados los datos de la tarifa, la velocidad se reduce.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Roaming en Vodafone Pass: incluido en la UE, Islandia, Noruega, Liechtenstein, Suiza, Turquía, Vaticano, Kosovo
						y Mónaco y EE.UU sin coste adicional hasta un máximo de 5GB por Pass, después se utilizarán los datos incluidos
						en la tarifa nacional contratada.
					</p>
					</li>
				</ul>
				<ul class="vfes-list">
					<li>
					<p class="vfes-paragraph">
						Las Condiciones de uso del servicio Secure Net están disponibles en: <a
						href="www.vodafone.es/tycsecurenet">www.vodafone.es/tycsecurenet</a>. El cliente se puede dar de baja en la
						suscripción de Secure Net en el momento que desee desde la app de Mi Vodafone o llamando al 22123.Se podrá
						disfrutar una única vez de la promoción de Secure Net 3 meses gratis.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						El disfrute de la promoción está vinculado al mantenimiento de la tarifa.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Los servicios que incluyen todas las tarifas están sujetos a la política de uso razonable de Vodafone que
						comprende el uso no abusivo o para fines razonables teniendo en cuenta la causa y/o fin por el que Vodafone pone
						a disposición de los servicios en el mercado.(disponible en <a
						href="www.vodafone.es/conocenos.es/Vodafone-españa/quienes-somos/legal-y-regulatorio/política-de-uso/">www.vodafone.es/conocenos.es/Vodafone-españa/quienes-somos/legal-y-regulatorio/política-de-uso/</a>)
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Los servicios que incluyen todas las tarifas están sujetos a la política de uso razonable de Vodafone que
						comprende el uso no abusivo o para fines razonables teniendo en cuenta la causa y/o fin por el que Vodafone pone
						a disposición de los servicios en el mercado.(disponible en <a
						href="www.vodafone.es/conocenos.es/Vodafone-españa/quienes-somos/legal-y-regulatorio/política-de-uso/">www.vodafone.es/conocenos.es/Vodafone-españa/quienes-somos/legal-y-regulatorio/política-de-uso/</a>)
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Cuotas mensuales prorrateables en el alta y en la baja.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						En el caso de las tarifas Vodafone Mini, Extra e Ilimitada Total la navegación 5G es a una velocidad de bajada
						de hasta 1Gbps y con una velocidad de subida de hasta 150Mbps. La velocidad está condicionada al acceso a
						tecnología 5G para lo que será necesario disponer de una tarifa comercializable de contrato y prepago de
						Vodafone y de Vodafone bit con terminal móvil compatible con 5G dentro de las zonas de cobertura Vodafone 5G
						(actualmente en estas ciudades: Madrid, Barcelona, Valencia, Sevilla, Málaga, Bilbao, Zaragoza, Pamplona,
						Vitoria, San Sebastián, Santander, Logroño, A Coruña, Vigo, Gijón). En caso contrario, la velocidad máxima será
						la que permita la tecnología correspondiente.
					</p>
					</li>
					<li>
					<p class="vfes-paragraph">
						Condiciones de permanencia: si el cliente se da de baja dentro de un periodo de compromiso, deberá pagar a
						Vodafone en concepto de penalización por incumplimiento la cantidad que corresponda en función del tiempo que
						reste para cumplir el compromiso adquirido hasta el máximo del beneficio obtenido por el cliente. Compatible con
						resto de Vodafone Pass.
					</p>
					</li>
				</ul>
				
				<h4 class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold"> Condiciones legales Promoción Hatch Premium 1 año de regalo </h4>
				<p class="vfes-paragraph">Promoción “Hatch Premium 1 año de regalo” válida desde el 24/06/2019 hasta el 03/12/2019
					para clientes de contrato particulares y profesionales con una tarifa: Vodafone One ilimitada Total o Tarifa Móvil
					Ilimitada Total. La promoción consiste en 1 año de regalo de la suscripción Premium de Hatch. Después el precio de
					Hatch Premium fuera de promoción es de 6,99€/mes (i.i). Para activar el servicio, gestionar la baja o más
					información en este enlace: <a href="#">Vodafone.es/entretenimiento</a>.
				</p>
	  			<h4 class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold"> Líneas adicionales </h4>
	  			<p class="vfes-paragraph">Más información de condiciones legales en: <a
					href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/">https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/</a>
				</p>
	  			<h4 class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold"> Condiciones Legales Móviles </h4>
				<p class="vfes-paragraph">Oferta de terminal ligada a la firma de un contrato de permanencia de 18 meses en tarifa. Los precios de los Smartphones estarán definidos por la tarifa móvil que se elija. Precios en cuotas de terminal reflejados en factura estarán gravados al impuesto aplicable según territorio. Canon digital no incluido. Oferta válida desde el 04/12/2019 al 13/01/2020.
				</p>

				<h4 class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold"> Condiciones Legales Samsung Galaxy S10+ 512GB </h4>
				<p class="vfes-paragraph">Oferta Samsung Galaxy S10+ 512GB ligada a contratación de una tarifa Vodafone Ilimitada, con un compromiso de permanencia en la misma de 18 meses. Precio terminal oferta: 684€. Canon digital no incluido. PVP fabricante: 1.259€. Oferta válida del 04/12/2019 al 13/01/2020 o límite de unidades (2000 unidades).
				</p>
	  			<p class="vfes-paragraph vfes-paragraph--small">Nota: Los precios recogidos en esta comunicación están expresados con el IVA aplicable en Península y Baleares. En Canarias, Ceuta y Melilla, los precios resultarán de aplicar el porcentaje impositivo correspondiente a los precios sin IVA incluidos en esta comunicación.</p>
				
				<h4 class="vfes-title vfes-title--left vfes-title--4 vfes-title--bold"> Términos y Condiciones del Compromiso de Huawei y Google </h4>
		  		<p class="vfes-paragraph">Para más información sobre los términos y condiciones del compromiso de Huawei y Google <a href="https://www.vodafone.es/c/statics/huawei_google.pdf">aquí</a></p>
			</div>
		</div>
	</div>
</div>

<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
