<!-- banner -->
<section class="vf-banner">
    <div class="vf-banner__container ws10-o-wrapper">
        <div class="ws10-o-layout ws10-u--pb0 ws10-u--pt6x">
            <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                <h2 class="ws10-u-heading--4">Móvil + Fibra</h2>
                <h1 class="ws10-u-heading--1-lt ws10-flex ws10-flex__direction--column">
                    <span>Oferta Solo Online</span>
                    <span><strong>2ª línea móvil ilimitada GRATIS 1 año</strong></span>
                    <span>y 50%dto. 3 meses</span>
                </h1>
                <div class="ws10-c-countdown-flip ws10-u--3/4 ws10-u--1/3@desktop" data-ws10-js="countdown-flip" data-ws10-config='{"deadline": "2020-12-30T10:00:00.000Z"}'>
                    <div class="ws10-flex ws10-flex__direction--column ws10-flex__align-items--center">
                        <b class="ws10-c-badge ws10-c-badge--medium ws10-c-badge--turquoise ws10-u--mb3x">
                            Oferta Solo Online
                        </b>
                        <div data-ws10-countdown-flip-wrapper class="ws10-c-countdown-flip__wrapper"></div>
                        <template>
                            <span class="ws10-c-countdown-flip__tracker">
                                <span class="ws10-c-countdown-flip__w-card">
                                    <span class="ws10-c-countdown-flip__card"
                                            data-ws10-countdown-flip-card>
                                        <span class="ws10-c-countdown-flip__card-top">
                                            <span data-ws10-countdown-flip-top
                                                    class="ws10-c-countdown-flip__card-top-inner"></span>
                                        </span>
                                        <span class="ws10-c-countdown-flip__card-bottom"
                                                data-ws10-countdown-flip-bottom></span>
                                        <span class="ws10-c-countdown-flip__card-back"
                                                data-ws10-countdown-flip-back>
                                            <span class="ws10-c-countdown-flip__card-bottom"
                                                    data-ws10-countdown-flip-back-bottom></span>
                                        </span>
                                    </span>
                                    <span class="ws10-c-countdown-flip__card"
                                            data-ws10-countdown-flip-card>
                                        <span class="ws10-c-countdown-flip__card-top">
                                            <span data-ws10-countdown-flip-top
                                                    class="ws10-c-countdown-flip__card-top-inner"></span>
                                        </span>
                                        <span class="ws10-c-countdown-flip__card-bottom"
                                                data-ws10-countdown-flip-bottom></span>
                                        <span class="ws10-c-countdown-flip__card-back"
                                                data-ws10-countdown-flip-back>
                                            <span class="ws10-c-countdown-flip__card-bottom"
                                                    data-ws10-countdown-flip-back-bottom></span>
                                        </span>
                                    </span>
                                </span>
                                <span class="ws10-c-countdown-flip__slot"
                                        data-ws10-countdown-flip-slot></span>
                            </span>
                        </template>
                    </div>
                </div>
            </div>
            <div  class="ws10-o-layout__item ws10-u--1/2@desktop">
                <picture>
                    <source srcset="img/bodegon-desktop.webp" type="image/webp">
                    <source srcset="img/bodegon-desktop.png" type="image/png">
                    <img src="img/bodegon-desktop.png">
                </picture>
            </div>
        </div>
    </div>
</section>