<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<div class="vfes-ms-content" id="christmas">
	<div class="vfes-layout__wrapper vfes-color--vodafone-white vfes-paragraph--left vfms-hero">
		<div class="vfms-container">
			<p class="vfes-title vfes-title--light vfms-hero__title">En Navidad ahorra <span class="vfes-title--bold">
					575€</span> con el <span class="vfes-title--bold"> Samsung Galaxy S10+</span> de <span
					class="vfes-title--bold"> 512GB</span></p>
			<div class="vfes-flex">
				<p class="vfes-title vfes-title--4 vfes-title--light vfms-hero__subtitle">Descubre el resto de ofertas
					con<span class="vfes-title--bold vfms-hero__underline"> datos ilimitados</span></p>
			</div>
		</div>
	</div>
	{{!-- <section class="vfms-client">
		<div
			class="vfms-client__wrapper vfes-flex vfes-flex__justify--center vfes-flex__align-items--center vfes-flex__direction--row-column-sm">
			<p class="vfes-paragraph vfms-client__text">
				<strong>¿Ya eres Cliente?</strong> Activa tu regalo de Navidad
			</p>
			<a class="device vfes-button vfes-button--primary vfms-large "
				href="https://www.vodafone.es/c/particulares/es/navidad-cliente/" title="navidad cliente"
				data-analytics-element="link" data-analytics-category="mas informacion"
				data-analytics-context="navidad cliente">Más
				información
				<span class="visually-hidden">: Más informaciónon
					navidad cliente</span>
			</a>
		</div>
	</section> --}}
	<section data-analytics-context="breadcrumbs" class="vfes-breadcrumbs vfes-colours-bg-light-grey">
		<ul class="vfes-breadcrumbs__wrapper">
			<li><a class="vfes-link" title="Home" target="_blank" href="https://www.vodafone.es/c/particulares/es/">
					Home</a></li>
			<li><a class="vfes-link" title="Cyber Monday" target="_self" href="#">Oferta Navidad</a></li>
		</ul>
	</section>

	<div class="vfes-align--center" id="catalogo">
		{{!-- <div class="vfes-layout__item"> --}}
		<section class="vfes-layout vfms-devices vfes-colours-bg-light-grey">
			<div class="vfes-layout__wrapper vfms-devices__wrapper">
				<div class="vfes-layout__item vfes-align--center">
					<p class="vfes-title vfes-title--3 vfes-title--light">¿Qué tipo de oferta te interesa?</p>
				</div>
				<div class="vfes-tabs vfes-tabs--group vfes-tabs--group-close vfms-tabs" tabColor="gray"
					data-vfes-js="_tabsWs10">
					<ul class="vfes-tabs__container vfms-tabs__container">
						<li class="vfes-tabs__tab">
							<button class="vfes-button vfes-tabs__tab-button js-tab" data-option="1" role="tab"
								aria-controls="grouptab1" title="Tarifa móvil" aria-label="Tarifa móvil"
								aria-selected="true"><span class="only-Desktop">Tarifa</span> Móvil</button>
						</li>
						<li class="vfes-tabs__tab">
							<button class="vfes-button vfes-tabs__tab-button js-tab vfes-tabs__tab-active"
								data-option="2" role="tab" aria-controls="grouptab2" title="Tarifa móvil + fibra"
								aria-label="Tarifa móvil + fibra" aria-selected="false"><span
									class="only-Desktop">Tarifa </span>Móvil +
								Fibra</button>
						</li>
					</ul>
					{{!-- tab movil --}}
					<div class="vfes-tabs__content vfes-align--center vfes-colours-bg-vodafone-white vfms-tabs__content"
						data-tab="1" id="grouptab1" role="tabpanel">
						<div class="vfes-layout">
							<div class="vfes-layout__wrapper vfms-wrapper__container">
								<div class="vfms-container vfms-container__padding">
									<div class="vfes-layout__item">
										<p class="vfes-title vfes-title--3 vfes-title--light vfes-mb-">Elige uno de
											estos Smartphones</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con <span
												class="vfes-title--bold"> datos ilimitados</span> y <span
												class="vfes-title--bold"> llamadas ilimitadas</span></p>
									</div>

									{{!-- carrusel --}}
									<div class="vfes-layout__item">
										<section class="vfes-colours-bg--black vfms-carousel">
											<div class='vfes-carousel vfms-carousel' data-vfes-js='_carousel'
												data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":4}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
												<ul
													class="vfes-carousel__list vfes-layout--padding js-carousel-list vfes-colours--black">
													<li class="vfes-carousel__list-element js-carousel-list-element">
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 575€</div>
															<div
																class="vfes-card vfes-card__product vfms-card__product">
																<div class="vfms-carousel__title--container">
																	<h4
																		class="vfes-card__product-name vfes-title--bold">
																		Samsung Galaxy S10+</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">512GB
																		Negro</p>
																</div>
																<img src="img/bodegones/samsung-galaxy-s10plus.png"
																	alt="Samsung Galaxy S10+ 512GB Negro"
																	title="Samsung Galaxy S10+ 512GB Negro">


																<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">
																<span class="vfes-title vfes-title--4 vfes-title--bold">18,99</span>€/mes
															</p>
																<p
																	class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">
																	con <span class="vfes-title--bold">Tarifa Móvil
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">59,98€/mes</span></p>
																<!--<button
																	class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Samsung Galaxy S10+ 512', '18,99€/mes', 'Tarifa Móvil ilimitada', '40,99€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="samsung galaxy s10+ 512gb"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Samsung
																		Galaxy S10+</span>
																</button>-->
																<a class="device vfes-button vfes-button--primary vfms-large"
																	href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s10-plus-negro-512gb-313606/"
																	title="Samsung Galaxy S10+ 512GB Negro"
																	data-analytics-element="link"
																	data-analytics-category="mas informacion"
																	data-analytics-context="samsung galaxy s10+">Más
																	información
																	<span class="visually-hidden">: Más informaciónon
																		Samsung Galaxy S10+</span>
																</a>
															</div>
														</div>
													</li>
													<li
														class="vfes-carousel__list-element js-carousel-list-element vfes-ws10">
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 170€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4
																		class="vfes-card__product-name vfes-title--bold">
																		Xiaomi Mi Note 10</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">128GB Negro</p>
																</div>
																<img src="img/bodegones/xiaomi-mi-note-10.png"
																	alt="Xiaomi Mi Note 10 128GB Negro"
																	title="Xiaomi Mi Note 10 128GB Negro">
															

																	<p
																class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																<span
																	class="vfes-title vfes-title--4 vfes-title--bold">10,50</span>€/mes
															</p>
																<p
																	class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">
																	con <span class="vfes-title--bold">Tarifa Móvil ilimitada</span> al precio de <span
																		class="vfes-title--bold">51,49€/mes</span></p>
																<a class="device vfes-button vfes-button--primary vfms-large"
																	href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/xiaomi-mi-note10-negro-128gb-313790/"
																	title="Xiaomi Mi Note 10"
																	data-analytics-element="link"
																	data-analytics-category="mas informacion"
																	data-analytics-context="xiaomi mi note 10">Más
																	información
																	<span class="visually-hidden">: Más informaciónon
																		Xiaomi Mi Note 10</span>
																</a>
																{{!-- <button
																	class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Xiaomi Mi Note 10', '10,50€/mes', 'Tarifa Móvil ilimitada', '40,99€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="xiaomi mi note 10"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Xiaomi Mi Note 10</span>
																</button> --}}
															</div>
														</div>
													</li>
													<li class="vfes-carousel__list-element js-carousel-list-element">
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 395€</div>
															<div class="vfes-card vfes-card__product vfms-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Samsung Galaxy S10+</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">128GB Negro
																	</p>
																</div>
																<img src="img/bodegones/samsung-galaxy-s10plus.png"
																	alt="Samsung Galaxy S10+ 128GB Negro"
																	title="Samsung Galaxy S10+ 128GB Negro">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span
																		class="vfes-title vfes-title--4 vfes-title--bold">16,99</span>€/mes
																</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Tarifa Móvil
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">57,98€/mes</span></p>
																<!--<button class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Samsung Galaxy S10+', '16,99€/mes', 'Tarifa Móvil ilimitada', '40,99€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="samsung galaxy s10+ 128gb"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Samsung Galaxy
																		S10+</span>
																</button>-->
																<a class="device vfes-button vfes-button--primary vfms-large"
																	href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s10-plus-negro-128gb-313594/"
																	title="Samsung Galaxy S10+ 128GB Negro"
																	data-analytics-element="link"
																	data-analytics-category="mas informacion"
																	data-analytics-context="samsung galaxy s10+ 128Gb">Más
																	información
																	<span class="visually-hidden">: Más informaciónon
																		Samsung Galaxy S10+ 128GB negro</span>
																</a>
															</div>
														</div>
													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 435€</div>
															<div class="vfes-card vfes-card__product vfms-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Huawei P30 Pro</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">256GB Negro
																	</p>
																</div>
																<img src="img/bodegones/huawei-p30-pro.png"
																	alt="Huawei P30 Pro 256GB Negro"
																	title="Huawei P30 Pro 256GB Negro">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span
																		class="vfes-title vfes-title--4 vfes-title--bold">16,99</span>€/mes
																</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Tarifa Móvil
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">57,98€/mes</span></p>
																<!--<button class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Huawei P30 Pro 256GB Negro', '16,99€/mes', 'Vodafone One Ilimitada', '40,99€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="huawei p30 pro"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Huawei P30 Pro
																		256GB Negro</span>
																</button>-->
																<a class="device vfes-button vfes-button--primary vfms-large"
																	href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p30-pro-negro-256gb-313621/"
																	title="Huawei P30 Pro 256GB Negro"
																	data-analytics-element="link"
																	data-analytics-category="mas informacion"
																	data-analytics-context="huawei p30 pro">Más información
																	<span class="visually-hidden">: Más informaciónon Huawei
																		P30 Pro 256GB Negro</span>
																</a>
															</div>
														</div>
													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 129€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Samsung Galaxy A20e</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb"> 32GB Negro</p>
																</div>
																<img src="img/bodegones/samsung-galaxya-a20e.png"
																	alt="Samsung Galaxy A20e 32GB"
																	title="samsung galaxy a20e 32GB">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span
																		class="vfes-title vfes-title--4 vfes-title--bold">5,99</span>€/mes
																</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 24 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Tarifa Móvil
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">46,98€/mes</span></p>
																<a class="device vfes-button vfes-button--primary vfms-large"
																	href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-a20e-negro-32gb-313653/"
																	title="Samsung Galaxy A20e" data-analytics-element="link"
																	data-analytics-category="mas informacion"
																	data-analytics-context="samsung galaxy a20e">Más
																	información
																	<span class="visually-hidden">: Más información Samsung Galaxy A20e</span>
																</a>
															</div>
														</div>
													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 80€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">LG
																		K50s</h4>
																	<p
																		class="vfes-title vfes-title--5 vfms-carousel__title vfes-mb">
																		32GB Azul</p>
																</div>
																<img src="img/bodegones/lg-k50s.png" alt="LG K50s 32GB Azul"
																	title="LG K50s 32GB Azul">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span class="vfes-title vfes-title--4 vfes-title--bold">
																		4,99</span>€/mes</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 24 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Tarifa Móvil
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">45,98€/mes</span></p>
																<a class="device vfes-button vfes-button--primary vfms-large"
																	href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/lg-k50s-azul-32gb-313775/"
																	title="LG K50s 32GB Azul" data-analytics-element="link"
																	data-analytics-category="mas informacion"
																	data-analytics-context="lg k50s">Más información
																	<span class="visually-hidden">: Más informaciónon LG
																		K50s 32GB Azul</span>
																</a>
															</div>
														</div>
													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 75€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Xiaomi Redmi 7A</h4>
																	<p
																		class="vfes-title vfes-title--5 vfms-carousel__title vfes-mb">
																		16GB Negro</p>
																</div>
																<img src="img/bodegones/redmi-7a.png"
																	alt="Xiaomi Redmi 7A 16GB Negro"
																	title="Xiaomi Redmi 7A 16GB Negro">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span class="vfes-title vfes-title--4 vfes-title--bold">
																		0,99</span>€/mes</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 24 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Tarifa Móvil
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">41,98€/mes</span></p>
																{{!-- <button class="vfes-button vfes-button--primary vfms-large"
																		target="_parent" title="lo quiero"
																		onclick="window.parent.document.ws_popup.open2tftm('Xiaomi Redmi 7A 16GB Negro', ' 0,99€/mes', 'Tarifa Móvil ilimitada', '30,99€/mes');" data-analytics-element="lo quiero" data-analytics-category="cta" data-analytics-context="xiaomi redmi 7a"
																		style="cursor:pointer">Lo quiero
																		<span class="visually-hidden">: Lo quiero Xiaomi Redmi 7A 16GB Negro</span>
																		</button> --}}
																<a class="device vfes-button vfes-button--primary vfms-large"
																	href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/xiaomi-redmi-7a-negro-16gb-313767/"
																	title="Xiaomi Redmi 7A 16GB Negro"
																	data-analytics-element="link"
																	data-analytics-category="mas informacion"
																	data-analytics-context="xiaomi redmi 7a">Más información
																	<span class="visually-hidden">: Más informaciónon Xiaomi
																		Redmi 7A 16GB Negro</span>
																</a>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</section>
									</div>
									{{!-- carrusel --}}
								</div>
								{{!-- tarifas --}}
								<div class="vfes-layout vfms-rates__layout vfes-colours-bg-light-grey">
									<div class="vfes-layout__wrapper vfes-paragraph--center vfms-rates">
										<div class="vfes-layout__item">
											<p class="vfes-title vfes-title--3 vfes-title--light vfes-mb- vfes-mt-">
												¿Quieres una tarifa con<span class="vfes-title--bold"> datos
													ilimitados?</span></p>
											<p class="vfes-paragraph vfes-paragraph--large">¡Ahora <span class="vfes-title--bold"> sin permanencia!</span></p>
										</div>
										<div class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt+">
											<section
												class="vfes-card-rate vfes-card-rate--special vfes-box-shadow vfes-colours--black"
												data-vfes-js="card-box" data-sticky="item">
												{{!-- <div class="vfes-tag-label vfes-tag-label--black vfes-tag-label--border"> --}}
													{{!-- <div class="vfes-tag-label__outstanding">Solo Web hasta 06/01</div> --}}
													<ul class="vfes-card-rate__datalist">

														<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3"
															data-card="title">
															<h3 class="vfes-title vfes-title--regular">Tarifa Móvil
																ilimitada</h3>
														</li>
														<li
															class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
															<p
																class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right vfms-item__price">
																<strong>40,99€</strong></p>
														</li>
														<li
															class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
															<img class="icon" src="img/ic-mobile-mid.svg"></img>
															<p class="vfes-paragraph">
																<span class="span"><strong>Ilimitados</strong></span>
																<span class="vfes-paragraph--small span">Datos
																	móviles</span>
															</p>
														</li>
														<li
															class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
															<img class="icon"
																src="img/ic-landline-or-call-minutes-mid.svg"></img>
															<p class="vfes-paragraph">
																<span class="span">ilimitadas</span>
																<span class="vfes-paragraph--small span">Llamadas</span>
															</p>
														</li>
													</ul>
													<div class="vfes-card-rate__tooltip">
														<svg class="icon icon-corner" xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink' width="14"
															height="14">
															<title>Corner</title>
															<use class="icon-v3" xlink:href='#icon3-corner-box'></use>
														</svg>
														<p class="vfes-paragraph vfms-rates__icon">
															<svg class="icon" height="16" width="25"
																xmlns='http://www.w3.org/2000/svg'
																xmlns:xlink='http://www.w3.org/1999/xlink'>
																<title>Velocidad</title>
																<use class="icon-v3" xlink:href='#icon3-thunder-1'></use>
															</svg>2Mbps de velocidad en tu móvil para: </p>
														<ul class="vfes-list vfes-list--checkmarks vfms-rates--checkmarks">
															<li><strong>Redes sociales</strong></li>
															<li><strong>Música online</strong></li>
														</ul>
														<button class="vfes-card-rate__tooltip-button"
															title="Más información" data-analytics-element="cta"
															data-analytics-category="mas informacion"
															data-analytics-context="tarifa movil ilimitada"
															data-modal="modal-modafone-movil-ilimitada">
															<svg xmlns='http://www.w3.org/2000/svg'
																xmlns:xlink='http://www.w3.org/1999/xlink' class="icon">
																<use class="icon-v3" xlink:href="#icon3-info-circle"></use>
															</svg>
														</button>
													</div>
													<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit"
														data-card="accordion" aria-expanded="true">
														<div class="vfes-flex">
															<div>
																<img class="vfms-mr" src="img/icono-mpg.svg" alt="">
															</div>
															<p class="vfes-paragraph vfes-colours--vodafone-red">Mejor
																Precio Vodafone</p>
														</div>
														{{!-- <div class="vfes-flex vfes-flex__align-items--center">
															<div>
																<img  class="vfms-width vfes-m-" src="img/bolo-10.png" alt="">
															</div>
															<div class="vfes-paragraph vfes-paragraph--left">
																<p class="vfes-paragraph vfes-paragraph--small"><span class="vfes-title vfes-title--bold">30,99€/mes</span> durante 6 meses, después 40,99€/mes.</p>
																<p class="vfes-paragraph vfes-paragraph--small">Permanencia 6 meses.</p>
															</div>
														</div> --}}
														<a class="vfes-button vfes-button--primary"
															data-analytics-context="tarifa movil ilimitada"
															data-analytics-element="mas informacion"
															data-analytics-category="link" target="_parent"
															href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-3/"
															title="Más información: Tarifa Móvil ilimitada"
															linkmodified="yes">Más información <span
																class="visually-hidden">:Tarifa Móvil ilimita</span>
														</a>
														<a class="vfes-link vfes-link--no-chevron"
															data-analytics-context="tarifa movil ilimitada"
															data-analytics-element="Quiero esta tarifa"
															data-analytics-category="link" target="_parent"
															href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443579"
															title="Quiero esta tarifa: Tarifa Móvil ilimitada"
															linkmodified="yes">Quiero esta tarifa <span
																class="visually-hidden">:Quiero esta tarifa</span>
														</a>
													</div>
												{{!-- </div> --}}
											</section>
										</div>
										<div
											class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt+">
											<section
												class="vfes-card-rate vfes-card-rate--special vfes-box-shadow vfes-colours--black vfes-ws10"
												data-vfes-js="card-box" data-sticky="item">
												{{!-- <div class="vfes-tag-label vfes-tag-label--black vfes-tag-label--border"> --}}
													{{!-- <div class="vfes-tag-label__outstanding">Solo Web hasta 06/01</div> --}}
													<ul class="vfes-card-rate__datalist">
														<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3"
															data-card="title">
															<h3 class="vfes-title vfes-title--regular">Tarifa Móvil
																ilimitada Súper</h3>
														</li>
														<li
															class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
															<p
																class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right vfms-item__price">
																<strong>45,99€</strong></p>
														</li>
														<li
															class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
															<img class="icon" src="img/ic-mobile-mid.svg"></img>
															<p class="vfes-paragraph">
																<span class="span"><strong>Ilimitados</strong></span>
																<span class="vfes-paragraph--small span">Datos
																	móviles</span>
															</p>
														</li>
														<li
															class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
															<img class="icon"
																src="img/ic-landline-or-call-minutes-mid.svg"></img>
															<p class="vfes-paragraph">
																<span class="span">ilimitadas</span>
																<span class="vfes-paragraph--small span">Llamadas</span>
															</p>
														</li>
													</ul>
													<div class="vfes-card-rate__tooltip">
														<svg class="icon icon-corner" xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink' width="14"
															height="14">
															<title>Corner</title>
															<use class="icon-v3" xlink:href='#icon3-corner-box'></use>
														</svg>
														<p class="vfes-paragraph vfms-rates__icon">
															<svg class="icon" height="16" width="25"
																xmlns='http://www.w3.org/2000/svg'
																xmlns:xlink='http://www.w3.org/1999/xlink'>
																<title>Velocidad</title>
																<use class="icon-v3" xlink:href='#icon3-thunder-2'></use>
															</svg>
															10Mbps de velocidad en tu móvil para: </p>
														<ul
															class="vfes-list vfes-list--checkmarks vfms-rates--checkmarks vfms-use-margin">
															<li><strong>Uso avanzado de Redes sociales</strong></li>
															<li><strong>Vídeos alta calidad</strong></li>
														</ul>
														<button class="vfes-card-rate__tooltip-button"
															title="Más información"
															data-analytics-context="tarifa movil ilimitada super"
															data-analytics-element="mas informacion"
															data-analytics-category="cta"
															data-modal="modal-modafone-movil-ilimitada-super">
															<svg xmlns='http://www.w3.org/2000/svg'
																xmlns:xlink='http://www.w3.org/1999/xlink' class="icon">
																<use class="icon-v3" xlink:href="#icon3-info-circle"></use>
															</svg>
														</button>
													</div>
													<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit"
														data-card="accordion" aria-expanded="true">
														<div class="vfes-flex">
															<div>
																<img class="vfms-mr" src="img/icono-mpg.svg" alt="">
															</div>
															<p class="vfes-paragraph vfes-colours--vodafone-red">Mejor
																Precio Vodafone</p>
														</div>
														{{!-- <div class="vfes-flex vfes-flex__align-items--center">
															<div>
																<img  class="vfms-width vfes-m-" src="img/bolo-15.png" alt="">
															</div>
															<div class="vfes-paragraph vfes-paragraph--left">
																<p class="vfes-paragraph vfes-paragraph--small"><span class="vfes-title vfes-title--bold">30,99€/mes</span> durante 6 meses, después 45,99€/mes.</p>
																<p class="vfes-paragraph vfes-paragraph--small">Permanencia 6 meses.</p>
															</div>
														</div> --}}
														<a class="vfes-button vfes-button--primary"
															data-analytics-context="Tarifa Móvil ilimitada Super"
															data-analytics-element="mas informacion"
															data-analytics-category="link" target="_parent"
															href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-4/"
															title="Más información: Tarifa Móvil ilimitada Súper"
															linkmodified="yes">Más información <span
																class="visually-hidden">:Tarifa Móvil ilimitada Súper</span>
														</a>
														<a class="vfes-link vfes-link--no-chevron"
															data-analytics-context="Tarifa Móvil ilimitada Super"
															data-analytics-element="quiero esta tarifa"
															data-analytics-category="link" target="_parent"
															href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443577"
															title="Más información: Tarifa Móvil ilimitada Súper"
															linkmodified="yes">Quiero esta tarifa <span
																class="visually-hidden">:Quiero esta tarifa</span>
														</a>
													</div>
												{{!-- </div> --}}
											</section>
										</div>
										<div
											class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt+">
											<section
												class="vfes-card-rate vfes-card-rate--special vfes-box-shadow vfes-colours--black"
												data-vfes-js="card-box" data-sticky="item">
												{{!-- <div class="vfes-tag-label vfes-tag-label--black vfes-tag-label--border"> --}}
													{{!-- <div class="vfes-tag-label__outstanding">Solo Web hasta 06/01</div> --}}
													<ul class="vfes-card-rate__datalist">
													<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3"
														data-card="title">
														<h3 class="vfes-title vfes-title--regular">Tarifa Móvil
															ilimitada Total</h3>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
														<p
															class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right vfms-item__price">
															<strong>49,99€</strong></p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
														<img class="icon" src="img/ic-mobile-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span"><strong>Ilimitados</strong></span>
															<span class="vfes-paragraph--small span">Datos
																móviles</span>
														</p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
														<img class="icon"
															src="img/ic-landline-or-call-minutes-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span">ilimitadas</span>
															<span class="vfes-paragraph--small span">Llamadas</span>
														</p>
													</li>
													</ul>
													<div class="vfes-card-rate__tooltip">
														<svg class="icon icon-corner" xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink' width="14"
															height="14">
															<title>Corner</title>
															<use class="icon-v3" xlink:href='#icon3-corner-box'></use>
														</svg>
														<p class="vfes-paragraph vfms-rates__icon">
															<svg class="icon" height="16" width="25"
																xmlns='http://www.w3.org/2000/svg'
																xmlns:xlink='http://www.w3.org/1999/xlink'>
																<title>Velocidad</title>
																<use class="icon-v3" xlink:href='#icon3-thunder-3'></use>
															</svg>Máxima velocidad en tu móvil para: </p>
														<ul class="vfes-list vfes-list--checkmarks vfms-rates--checkmarks">
															<li><strong>Vídeos online de máxima calidad</strong></li>
															<li><strong>Jugar online</strong></li>
														</ul>
														<button class="vfes-card-rate__tooltip-button"
															title="Más información" data-analytics-element="cta"
															data-analytics-category="mas informacion"
															data-analytics-context="tarifa movil ilimitada total"
															data-modal="modal-modafone-movil-ilimitada-total">
															<svg xmlns='http://www.w3.org/2000/svg'
																xmlns:xlink='http://www.w3.org/1999/xlink' class="icon">
																<use class="icon-v3" xlink:href="#icon3-info-circle"></use>
															</svg>
														</button>
													</div>
													<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit"
														data-card="accordion" aria-expanded="true">
														<div class="vfes-flex">
															<div>
																<img class="vfms-mr" src="img/icono-mpg.svg" alt="">
															</div>
															<p class="vfes-paragraph vfes-colours--vodafone-red">Mejor
																Precio Vodafone</p>
														</div>
														{{!-- <div class="vfes-flex vfes-flex__align-items--center">
															<div>
																<img  class="vfms-width vfes-m-" src="img/bolo-15.png" alt="">
															</div>
															<div class="vfes-paragraph vfes-paragraph--left">
																<p class="vfes-paragraph vfes-paragraph--small"><span class="vfes-title vfes-title--bold">34,99€/mes</span> durante 6 meses, después 49,99€/mes.</p>
																<p class="vfes-paragraph vfes-paragraph--small">Permanencia 6 meses.</p>
															</div>
														</div> --}}
														<a class="vfes-button vfes-button--primary"
															data-analytics-context="Tarifa Móvil ilimitada Total"
															data-analytics-element="mas informacion"
															data-analytics-category="link" target="_parent"
															href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-5/"
															title="Más información: Tarifa Móvil ilimitada Total"
															linkmodified="yes">Más información <span
																class="visually-hidden">:Tarifa Móvil ilimitada Total</span>
														</a>
														<a class="vfes-link vfes-link--no-chevron"
															data-analytics-context="Tarifa Móvil ilimitada Total"
															data-analytics-element="quiero esta tarifa"
															data-analytics-category="link" target="_parent"
															href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443578"
															title="Quiero esta tarifa: Tarifa One ilimitada Súper"
															linkmodified="yes">Quiero esta tarifa <span
																class="visually-hidden">:Quiero esta tarifa</span>
														</a>
													</div>
													{{!-- </div> --}}
											</section>
										</div>
									</div>
								</div>
								{{!-- packs --}}
								<div class="vfes-layout vfms-packs__layout vfes-colours-bg-vodafone-white">
									<div class="vfes-layout__wrapper vfes-paragraph--center vfms-packs">
										<div class="vfms-container vfms-container__padding">
											<div class="vfes-layout__item">
												<p class="vfes-title vfes-title--3 vfes-title--light vfes-mb-">Packs ilimitables 5G</p>
												<p class="vfes-paragraph vfes-paragraph--large vfes-mb">Llévate uno de estos Packs al precio de la <span class="vfes-title--bold"> Tarifa Móvil ilimitada Total</span>
												</p>
												<section class="vfms-carousel">
													<div class='vfes-carousel vfms-carousel' data-vfes-js='_carousel'
														data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":4}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
														<ul
															class="vfes-carousel__list vfes-layout--padding js-carousel-list vfes-colours--black">
															<li class="vfes-carousel__list-element js-carousel-list-element">
																<div class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
																	<div class="vfes-tag-label__outstanding">Más vendido</div>
																	<div class="vfes-card vfes-card__product vfms-packs__card">
																		<p class="vfes-paragraph">Pack ilimitables 5G</p>
																		<p class="vfes-title vfes-title--5">Samsung Galaxy A90 5G</p>
																		<img src="img/packs/samsung-a90.png" alt="Pack ilimitables 5G"
																			title="Pack ilimitables 5G Samsung">
																		<div class="vfms-packs__text">
																			<p class="vfes-paragraph">con:</p>
																			<p class="vfes-paragraph">Tarifa Móvil ilimitada Total</p>
																			<p class="vfes-paragraph">Gafas de Realidad Virtual <span
																					class="vfes-colours--vodafone-red"> GRATIS</span>
																			</p>
																			<p class="vfes-paragraph">Servicio Hatch Premium <span
																					class="vfes-colours--vodafone-red"> GRATIS</span>
																			</p>
																		</div>
																		<p
																			class="vfes-paragraph vfes-paragraph--large vfes-card__product-price vfes-mt">
																			Solo <span
																				class="vfes-title vfes-title--3 vfes-title--bold">49,99€</span>/mes
																		</p>
																		<p class="vfes-paragraph vfes-paragraph--small vfes-mb">por 24
																			meses</p>
																		<a class="device vfes-button vfes-button--primary vfms-large"
																			href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-a90-5g-negro-128gb-313764/"
																			title="Pack ilimitables 5G Samsung"
																			data-analytics-element="link"
																			data-analytics-category="mas informacion"
																			data-analytics-context="pack ilimitables 5Gg samsung">Más
																			información
																			<span class="visually-hidden">: Más informaciónon Pack
																				ilimitables 5G Samsung</span>
																		</a>
																	</div>
																</div>
															</li>
															<li class="vfes-carousel__list-element js-carousel-list-element">
																<div class="vfes-card vfes-card__product vfms-packs__card">
																	<p class="vfes-paragraph">Pack ilimitables 5G</p>
																	<p class="vfes-title vfes-title--5">Huawei Mate 20X 5G</p>
																	<img src="img/packs/huawei-mate-20x.png" alt="Pack ilimitables 5G"
																		title="Pack ilimitables 5G Huawei">
																	<div class="vfms-packs__text">
																		<p class="vfes-paragraph">con:</p>
																		<p class="vfes-paragraph">Tarifa Móvil ilimitada Total</p>
																		<p class="vfes-paragraph">Gafas de Realidad Virtual <span
																				class="vfes-colours--vodafone-red"> GRATIS</span></p>
																		<p class="vfes-paragraph">Servicio Hatch Premium <span
																				class="vfes-colours--vodafone-red"> GRATIS</span></p>
																		<p class="vfes-paragraph">Gamepad Betop G1<span
																				class="vfes-colours--vodafone-red"> GRATIS</span></p>
																	</div>
																	<p
																		class="vfes-paragraph vfes-paragraph--large vfes-card__product-price vfes-mt">
																		Solo <span
																			class="vfes-title vfes-title--3 vfes-title--bold">49,99€</span>/mes
																	</p>
																	<p class="vfes-paragraph vfes-paragraph--small vfes-mb">por 24 meses
																	</p>
																	<a class="device vfes-button vfes-button--primary vfms-large"
																		href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-mate-20x-5g-verde-esmeralda-256gb-313655/"
																		title="Pack ilimitables 5 Huawei" data-analytics-element="link"
																		data-analytics-category="mas informacion"
																		data-analytics-context="pack ilimitables 5Gg huawei">Más
																		información
																		<span class="visually-hidden">: Más informaciónon Pack
																			ilimitables 5G Huawei Mate 20X 5G</span>
																	</a>
																</div>
															</li>
															<li class="vfes-carousel__list-element js-carousel-list-element">
																<div class="vfes-card vfes-card__product vfms-packs__card">
																	<p class="vfes-paragraph">Pack ilimitables 5G</p>
																	<p class="vfes-title vfes-title--5">Xiaomi Mi MIX 3 5G</p>
																	<img src="img/packs/mi-mix-3.png" alt="Pack ilimitables 5G"
																		title="Pack ilimitables 5G Xiaomi">
																	<div class="vfms-packs__text">
																		<p class="vfes-paragraph">con:</p>
																		<p class="vfes-paragraph">Tarifa Móvil ilimitada Total</p>
																		<p class="vfes-paragraph">Gafas de Realidad Virtual <span
																				class="vfes-colours--vodafone-red"> GRATIS</span></p>
																		<p class="vfes-paragraph">Servicio Hatch Premium <span
																				class="vfes-colours--vodafone-red"> GRATIS</span></p>
																	</div>
																	<p
																		class="vfes-paragraph vfes-paragraph--large vfes-card__product-price vfes-mt">
																		Solo <span
																			class="vfes-title vfes-title--3 vfes-title--bold">49,99€</span>/mes
																	</p>
																	<p class="vfes-paragraph vfes-paragraph--small vfes-mb">por 24 meses
																	</p>
																	<a class="device vfes-button vfes-button--primary vfms-large"
																		href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/xiaomi-mi-mix-3-5g-negro-128gb-313660/"
																		title="Pack ilimitables 5 Xiaomi" data-analytics-element="link"
																		data-analytics-category="mas informacion"
																		data-analytics-context="pack ilimitables 5Gg xiaomi  Mi MIX 3">Más
																		información
																		<span class="visually-hidden">: Más informaciónon Pack
																			ilimitables 5G Xiaomi Mi MIX 3 5G</span>
																	</a>
																</div>
															</li>
														</ul>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>

					</div>
					{{!-- tab convergente --}}
					<div class="vfes-tabs__content vfes-tabs__content-open vfes-align--center vfms-tabs__content"
						data-tab="2" id="grouptab2" role="tabpanel">
						<div class="vfes-layout">
							<div class="vfes-layout__wrapper vfms-rates__wrapper vfes-colours-bg-vodafone-white">
								{{!-- carrusel --}}
								<div class="vfms-container vfms-container__padding vfes-colours-bg-vodafone-white">
									<div class="vfes-layout__item">
										<p class="vfes-title vfes-title--3 vfes-title--light vfes-mb-">Elige uno de
											estos Smartphones</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con tu Tarifa <span
												class="vfes-title--bold"> Móvil</span> +<span class="vfes-title--bold">
												Fibra</span></p>
									</div>
									<div class="vfes-layout__item">
										<section>
											<div class='vfes-carousel vfms-carousel' data-vfes-js='_carousel'
												data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":4}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
												<ul class="vfes-carousel__list vfes-layout--padding js-carousel-list">
													<li
														class="vfes-carousel__list-element js-carousel-list-element vfes-ws10">
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 575€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4
																		class="vfes-card__product-name vfes-title--bold">
																		Samsung Galaxy S10+</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">512GB
																		Negro</p>
																</div>
																<img src="img/bodegones/samsung-galaxy-s10plus.png"
																	alt="Samsun Galaxy S10+ 128GB Negro"
																	title="Samsun Galaxy S10+ 128GB Negro">
															

																	<p
																class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																<span
																	class="vfes-title vfes-title--4 vfes-title--bold">18,99</span>€/mes
															</p>
																<p
																	class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">
																	con <span class="vfes-title--bold">Vodafone One
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">50,98€/mes</span></p>
																<button
																	class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Samsung Galaxy S10+', '18,99€/mes', 'Vodafone One Ilimitada', '50,98€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="samsung galaxy s10+"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Samsung
																		Galaxy S10+</span>
																</button>
															</div>
														</div>
													</li>
													<li
														class="vfes-carousel__list-element js-carousel-list-element vfes-ws10">
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 207€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4
																		class="vfes-card__product-name vfes-title--bold">
																		Xiaomi Mi Note 10</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">128GB Negro</p>
																</div>
																<img src="img/bodegones/xiaomi-mi-note-10.png"
																	alt="Xiaomi Mi Note 10 128GB Negro"
																	title="Xiaomi Mi Note 10 128GB Negro">
															

																	<p
																class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																<span
																	class="vfes-title vfes-title--4 vfes-title--bold">9,50</span>€/mes
															</p>
																<p
																	class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">
																	con <span class="vfes-title--bold">Vodafone One
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">41,49€/mes</span></p>
																<button
																	class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Xiaomi Mi Note 10', '9,50€/mes', 'Vodafone One Ilimitada', '41,49€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="xiaomi mi note 10"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Xiaomi Mi Note 10</span>
																</button>
															</div>
														</div>
													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 395€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Samsung Galaxy S10+</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">128GB Negro
																	</p>
																</div>
																<img src="img/bodegones/samsung-galaxy-s10plus.png"
																	alt="Samsung Galaxy S10 5G 256GB Negro"
																	title="Samsung Galaxy S10+ 128GB Negro">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span
																		class="vfes-title vfes-title--4 vfes-title--bold">16,99</span>€/mes
																</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Vodafone One
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">48,98€/mes</span></p>
																<button class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Samsung Galaxy S10', '16,99€/mes', 'Vodafone One Ilimitada', '48,98€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="samsung galaxy s10+ 128gb"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Samsung Galaxy
																		S10+ 128gb</span>
																</button>
															</div>
														</div>

													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 435€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Huawei P30 Pro</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">256GB Negro
																	</p>
																</div>
																<img src="img/bodegones/huawei-p30-pro.png"
																	alt="Huawei P30 Pro 256GB Negro"
																	title="Huawei P30 Pro 256GB Negro">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span
																		class="vfes-title vfes-title--4 vfes-title--bold">16,99</span>€/mes
																</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 36 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Vodafone One
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">48,98€/mes</span></p>
																<button class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Huawei P30 Pro 256GB Negro', '16,99€/mes', 'Vodafone One Ilimitada', '48,98€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="huawei p30 pro"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Huawei P30 Pro
																		256GB Negro</span>
																</button>
															</div>
														</div>

													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 129€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Samsung Galaxy A20e</h4>
																	<p class="vfes-title vfes-title--5 vfes-mb">32GB Negro</p>
																</div>
																<img src="img/bodegones/samsung-galaxya-a20e.png"
																	alt="Samsung Galaxy A20e"
																	title="Samsung Galaxy A20e">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span
																		class="vfes-title vfes-title--4 vfes-title--bold">4,99</span>€/mes
																</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 24 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Vodafone One
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">36,98€/mes</span></p>
																<button class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Samsung Galaxy A20e 32GB Negro', '4,99€/mes', 'Vodafone One Ilimitada', '36,98€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="samsung galaxy a20e"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Samsung Galaxy A20e</span>
																</button>
															</div>
														</div>
													</li>
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 80€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">LG
																		K50s</h4>
																	<p
																		class="vfes-title vfes-title--5 vfms-carousel__title vfes-mb">
																		32GB Azul</p>
																</div>
																<img src="img/bodegones/lg-k50s.png" alt="LG K50s 32GB Azul"
																	title="LG K50s 32GB Azul">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span class="vfes-title vfes-title--4 vfes-title--bold">
																		4,99</span>€/mes</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 24 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Vodafone One ilimitada</span> al precio de <span
																		class="vfes-title--bold">36,98€/mes</span></p>
																<button class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('LG K50s 32GB Azul', '4,99€/mes', 'Vodafone One Ilimitada', '36,98€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="lg k50s"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero LG K50s 32GB
																		Azul</span>
																</button>
															</div>
														</div>
													</li>
													
													<li class='vfes-carousel__list-element js-carousel-list-element'>
														<div
															class="vfes-tag-label vfes-tag-label--red-violet vfes-tag-label--border">
															<div class="vfes-tag-label__outstanding">Ahorra 75€</div>
															<div class="vfes-card vfes-card__product">
																<div class="vfms-carousel__title--container">
																	<h4 class="vfes-card__product-name vfes-title--bold">
																		Xiaomi Redmi 7A</h4>
																	<p
																		class="vfes-title vfes-title--5 vfms-carousel__title vfes-mb">
																		16GB Negro</p>
																</div>
																<img src="img/bodegones/redmi-7a.png"
																	alt="Xiaomi Redmi 7A 16GB Negro"
																	title="Xiaomi Redmi 7A 16GB Negro">
																<p
																	class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

																	<span
																		class="vfes-title vfes-title--4 vfes-title--bold">0,99</span>€/mes
																</p>
																<p class="vfes-paragraph vfes-paragraph--large vfms-month">
																	por 24 meses</p>
																<p class="vfes-paragraph vfes-paragraph--large vfes-mb">con
																	<span class="vfes-title--bold">Vodafone One
																		ilimitada</span> al precio de <span
																		class="vfes-title--bold">32,98€/mes</span></p>
																<button class="vfes-button vfes-button--primary vfms-large"
																	target="_parent" title="lo quiero"
																	onclick="window.parent.document.ws_popup.open2tftm('Xiaomi Redmi 7A 16GB Negro', '0,99€/mes', 'Vodafone One Ilimitada', '32,98€/mes');"
																	data-analytics-element="lo quiero"
																	data-analytics-category="cta"
																	data-analytics-context="xiaomi redmi 7a"
																	style="cursor:pointer">Lo quiero
																	<span class="visually-hidden">: Lo quiero Xiaomi Redmi
																		7A 16GB Negro</span>
																</button>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</section>
									</div>
									{{!-- carrusel --}}
								</div>
								{{!-- tarifas --}}
								<div class="vfes-layout vfms-rates__layout">
									<div class="vfes-layout__wrapper vfes-paragraph--center vfms-rates">
										<div class="vfes-layout__item">
											<p class="vfes-title vfes-title--3 vfes-title--light vfes-mb- vfes-mt-">
												¿Solo quieres una tarifa con<span class="vfes-title--bold"> datos
													ilimitados?</span></p>
											<p class="vfes-paragraph vfes-paragraph--large">¡Ahora al 50% dto. durante 3
												meses!</p>
										</div>
										<div
											class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt-mov vfes-mt+">
											<section
												class="vfes-card-rate vfes-card-rate--special vfes-box-shadow vfes-colours--black"
												data-vfes-js="card-box" data-sticky="item">
												<ul class="vfes-card-rate__datalist">
													<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3"
														data-card="title">
														<h3 class="vfes-title vfes-title--regular">Vodafone One ilimitada
														</h3>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
														<p
															class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right vfms-item__price">
															<strong>31,99€</strong></p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
														<img src="img/ic-mobile-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span"><strong>GB Ilimitados</strong></span>
															<span class="vfes-paragraph--small span">llamadas
																ilimitadas</span>
														</p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
														<img src="img/ic-wifi-broadband-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span"><strong>100Mbps</strong></span>
															<span class="vfes-paragraph--small span">Fibra
																simétrica</span>
														</p>
													</li>
												</ul>
												<div class="vfes-card-rate__tooltip">
													<svg class="icon-corner" xmlns='http://www.w3.org/2000/svg'
														xmlns:xlink='http://www.w3.org/1999/xlink' width="14"
														height="14">
														<title>Corner</title>
														<use class="icon-v3" xlink:href='#icon3-corner-box'></use>
													</svg>
													<p class="vfes-paragraph vfms-rates__icon">
														<svg  height="16" width="25"
															xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink'>
															<title>Velocidad</title>
															<use class="icon-v3" xlink:href='#icon3-thunder-1'></use>
														</svg>2Mbps de velocidad en tu móvil para: </p>
													<ul class="vfes-list vfes-list--checkmarks vfms-rates--checkmarks">
														<li><strong>Redes sociales</strong></li>
														<li><strong>Música online</strong></li>
													</ul>
													<button class="vfes-card-rate__tooltip-button"
														title="Más información" data-analytics-element="cta"
														data-analytics-category="mas informacion"
														data-analytics-context="tarifa movil ilimitada"
														data-modal="modal-modafone-one-ilimitada">
														<svg xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink' class="icon">
															<use class="icon-v3" xlink:href="#icon3-info-circle"></use>
														</svg>
													</button>
												</div>
												<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit"
													data-card="accordion" aria-expanded="true">
													<p class="vfes-paragraph vfes-paragraph--left">50% dto. durante 3
														meses, después 64,99€/mes</p>
													<div class="vfes-flex vfms-hbo">
														<div>
															<img class="vfms-mr" src="img/ic-tv-mid.svg" alt="">
														</div>
														<p class="vfes-paragraph vfes-colours--vodafone-grey">Pack
															Seriefans GRATIS con HBO España</p>
													</div>
													<div class="vfes-flex">
														<div>
															<img class="vfms-mr" src="img/icono-mpg.svg" alt="">
														</div>
														<p class="vfes-paragraph vfes-colours--vodafone-red">Mejor
															Precio Vodafone</p>
													</div>

													<a class="vfes-button vfes-button--primary"
														data-analytics-context="tarifa one ilimitada"
														data-analytics-element="mas informacion"
														data-analytics-category="link" target="_parent"
														href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-3/"
														title="Más información: Tarifa One ilimitada"
														linkmodified="yes">Más información <span
															class="visually-hidden">:Tarifa One ilimita</span>
													</a>
													<a class="vfes-link vfes-link--no-chevron"
														data-analytics-context="tarifa one ilimitada"
														data-analytics-element="Consulta tu cobertura"
														data-analytics-category="link" target="_parent"
														href="https://www.vodafone.es/c/tienda-online/particulares/contratacion/consulta-de-cobertura/"
														title="Consulta tu Cobertura: Tarifa One ilimitada"
														linkmodified="yes">Consulta tu cobertura <span
															class="visually-hidden">:Consulta tu cobertura</span>
													</a>
												</div>
											</section>
										</div>
										<div
											class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt-mov vfes-mt+">
											<section
												class="vfes-card-rate vfes-card-rate--special vfes-box-shadow vfes-colours--black vfes-ws10"
												data-vfes-js="card-box" data-sticky="item">
												<ul class="vfes-card-rate__datalist">
													<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3"
														data-card="title">
														<h3 class="vfes-title vfes-title--regular">Vodafone One ilimitada
															Súper</h3>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
														<p
															class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right vfms-item__price">
															<strong>41,99€</strong></p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
														<img  src="img/ic-mobile-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span"><strong>GB Ilimitados</strong></span>
															<span class="vfes-paragraph--small span">llamadas
																ilimitadas</span>
														</p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
														<img  src="img/ic-wifi-broadband-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span"><strong>600Mbps</strong></span>
															<span class="vfes-paragraph--small span">Fibra
																simétrica</span>
														</p>
													</li>
												</ul>
												<div class="vfes-card-rate__tooltip">
													<svg class="icon-corner" xmlns='http://www.w3.org/2000/svg'
														xmlns:xlink='http://www.w3.org/1999/xlink' width="14"
														height="14">
														<title>Corner</title>
														<use class="icon-v3" xlink:href='#icon3-corner-box'></use>
													</svg>
													<p class="vfes-paragraph vfms-rates__icon">
														<svg height="16" width="25"
															xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink'>
															<title>Velocidad</title>
															<use class="icon-v3" xlink:href='#icon3-thunder-2'></use>
														</svg>10Mbps de velocidad en tu móvil para: </p>
													<ul
														class="vfes-list vfes-list--checkmarks vfms-rates--checkmarks vfms-use-margin">
														<li><strong>Uso avanzado de Redes sociales</strong></li>
														<li><strong>Vídeos alta calidad</strong></li>
													</ul>

													<button class="vfes-card-rate__tooltip-button"
														title="Más información"
														data-analytics-context="tarifa movil ilimitada super"
														data-analytics-element="mas informacion"
														data-analytics-category="cta"
														data-modal="modal-modafone-one-ilimitada-super">
														<svg xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink' class="icon">
															<use class="icon-v3" xlink:href="#icon3-info-circle"></use>
														</svg>
													</button>
												</div>
												<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit"
													data-card="accordion" aria-expanded="true">
													<p class="vfes-paragraph vfes-paragraph--left">50% dto. durante 3
														meses, después 84,99€/mes</p>
													<div class="vfes-flex vfms-hbo">
														<div>
															<img class="vfms-mr" src="img/ic-tv-mid.svg" alt="">
														</div>
														<p class="vfes-paragraph vfes-colours--vodafone-grey">Pack
															Seriefans GRATIS con HBO España</p>
													</div>
													<div class="vfes-flex">
														<div>
															<img class="vfms-mr" src="img/icono-mpg.svg" alt="">
														</div>
														<p class="vfes-paragraph vfes-colours--vodafone-red">Mejor
															Precio Vodafone</p>
													</div>

													<a class="vfes-button vfes-button--primary"
														data-analytics-context="Tarifa One ilimitada Super"
														data-analytics-element="mas informacion"
														data-analytics-category="link" target="_parent"
														href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-4/"
														title="Más información: Tarifa One ilimitada Súper"
														linkmodified="yes">Más información <span
															class="visually-hidden">:Vodafone One ilimitada Súper</span>
													</a>
													<a class="vfes-link vfes-link--no-chevron"
														data-analytics-context="tarifa one ilimitada Super"
														data-analytics-element="Consulta tu cobertura"
														data-analytics-category="link" target="_parent"
														href="https://www.vodafone.es/c/tienda-online/particulares/contratacion/consulta-de-cobertura/"
														title="Consulta tu Cobertura: Tarifa One ilimitada Súper"
														linkmodified="yes">Consulta tu cobertura <span
															class="visually-hidden">:Consulta tu cobertura</span>
													</a>
												</div>
											</section>
										</div>
										<div
											class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt+ vfes-mt-mov">
											<section
												class="vfes-card-rate vfes-card-rate--special vfes-box-shadow vfes-colours--black"
												data-vfes-js="card-box" data-sticky="item">
												<ul class="vfes-card-rate__datalist">
													<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3"
														data-card="title">
														<h3 class="vfes-title vfes-title--regular">Vodafone One ilimitada
															Total</h3>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
														<p
															class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right vfms-item__price">
															<strong>54,99€</strong></p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
														<img src="img/ic-mobile-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span"><strong>GB Ilimitados</strong></span>
															<span class="vfes-paragraph--small span">llamadas
																ilimitadas</span>
														</p>
													</li>
													<li
														class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
														<img src="img/ic-wifi-broadband-mid.svg"></img>
														<p class="vfes-paragraph">
															<span class="span"><strong>1Gbps</strong></span>
															<span class="vfes-paragraph--small span">Fibra
																simétrica</span>
														</p>
													</li>
												</ul>
												<div class="vfes-card-rate__tooltip">
													<svg class="icon-corner" xmlns='http://www.w3.org/2000/svg'
														xmlns:xlink='http://www.w3.org/1999/xlink' width="14"
														height="14">
														<title>Corner</title>
														<use class="icon-v3" xlink:href='#icon3-corner-box'></use>
													</svg>
													<p class="vfes-paragraph vfms-rates__icon">
														<svg height="16" width="25"
															xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink'>
															<title>Velocidad</title>
															<use class="icon-v3" xlink:href='#icon3-thunder-3'></use>
														</svg>Máxima velocidad en tu móvil para: </p>
													<ul class="vfes-list vfes-list--checkmarks vfms-rates--checkmarks">
														<li><strong>Vídeos online de máxima calidad</strong></li>
														<li><strong>Jugar online</strong></li>
													</ul>
													<button class="vfes-card-rate__tooltip-button"
														title="Más información" data-analytics-element="cta"
														data-analytics-category="mas informacion"
														data-analytics-context="tarifa movil ilimitada total"
														data-modal="modal-modafone-one-ilimitada-total">
														<svg xmlns='http://www.w3.org/2000/svg'
															xmlns:xlink='http://www.w3.org/1999/xlink' class="icon">
															<use class="icon-v3" xlink:href="#icon3-info-circle"></use>
														</svg>
													</button>
												</div>
												<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit"
													data-card="accordion" aria-expanded="true">
													<p class="vfes-paragraph vfes-paragraph--left">50% dto. durante 3
														meses, después 109,99€/mes</p>
													<div class="vfes-flex vfms-hbo">
														<div>
															<img class="vfms-mr" src="img/ic-tv-mid.svg" alt="">
														</div>
														<p class="vfes-paragraph vfes-colours--vodafone-grey">Pack
															Seriefans GRATIS con HBO España</p>
													</div>

													<div class="vfes-flex">
														<div>
															<img class="vfms-mr" src="img/icono-mpg.svg" alt="">
														</div>
														<p class="vfes-paragraph vfes-colours--vodafone-red">Mejor
															Precio Vodafone</p>
													</div>

													<a class="vfes-button vfes-button--primary"
														data-analytics-context="Tarifa One ilimitada Total"
														data-analytics-element="mas informacion"
														data-analytics-category="link" target="_parent"
														href="https://www.vodafone.es/c/tienda-online/particulares/vodafone-one/paquete-fibra-movil-5/"
														title="Más información: Tarifa One ilimitada Total"
														linkmodified="yes">Más información <span
															class="visually-hidden">:Tarifa One ilimitada Total</span>
													</a>
													<a class="vfes-link vfes-link--no-chevron"
														data-analytics-context="tarifa one ilimitada Total"
														data-analytics-element="Consulta tu cobertura"
														data-analytics-category="link" target="_parent"
														href="https://www.vodafone.es/c/tienda-online/particulares/contratacion/consulta-de-cobertura/"
														title="Consulta tu Cobertura: Tarifa One ilimitada Total"
														linkmodified="yes">Consulta tu cobertura <span
															class="visually-hidden">:Consulta tu cobertura</span>
													</a>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vfes-layout__item vfes-align--center vfms-modulo vfes-colours--vodafone-white">
					<p class="vfes-title vfes-title--3 vfes-title--light vfms-title-ilimitable">Hazte <span
							class="vfes-title--bold">
							ilimitable</span>, este ha sido nuestro año</p>
					<div class="vfes-layout">
						<div class="vfes-layout__wrapper">  
							<div class="vfes-layout__item vfes-1/3 vfes-1/1-mov vfes-mb-mov vfes-mb+">
								<img class="vfms-modulo__width" src="img/modulo/bola-5g.png" alt="5G">
								<p class="vfes-title vfes-title--4 vfes-title--bold">5G</p>
							</div>
							<div class="vfes-layout__item vfes-1/3 vfes-1/1-mov vfes-mb-mov vfes-mb+">
								<img class="vfms-modulo__width" src="img/modulo/bola-infinito.png"
									alt="datos ilimitados">
								<p class="vfes-title vfes-title--4 vfes-title--bold">Datos ilimitados</p>
							</div>
							<div class="vfes-layout__item vfes-1/3 vfes-1/1-mov vfes-mb-mov vfes-mb+">
								<img class="vfms-modulo__width" src="img/modulo/bola-tv.png"
									alt="Mayor agregador de cine y series">
								<p class="vfes-title vfes-title--4 vfes-title--bold">Mayor agregador de <span
										class="vfms-balls-text">cine y series</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{!-- </div> --}}

		{{!-- Modales Movil--}}

		<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
			<section id="modal-modafone-movil-ilimitada" class="vfes-modal__item js-modal-item" aria-hidden="true"
				role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content">
					<p class="vfes-title vfes-title--4 vfes-title--center">¿Qué puedes hacer con datos ilimitados?</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph">Ya no tienes que buscar Wifi. Ahora con datos ilimitados podrás,
								por ejemplo, consultar redes sociales, usar aplicaciones de mensajería instantánea,
								escuchar música online o gestionar el correo electrónico.</p>
							<p class="vfes-paragraph">Con Vodafone One ilimitada tendrás una velocidad simétrica de
								<strong>2Mbps</strong></p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov vfms-uses-block">
							<p class="vfes-paragraph vfes-paragraph--left ">Usos recomendados para esta tarifa:</p>
							<ul class="vfes-list vfes-list--checkmarks vfes-list--horizontal">
								<li>Redes sociales</li>
								<li>Música online</li>
								<li>Aplicaciones de mensajería instantánea</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="modal-modafone-movil-ilimitada-super" class="vfes-modal__item js-modal-item" aria-hidden="true"
				role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content">
					<p class="vfes-title vfes-title--4 vfes-title--center">¿Qué puedes hacer con datos ilimitados?</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph">Ya no tienes que buscar WIFI. Ahora con los datos ilimitados
								podrás, por ejemplo, disfrutar de vídeos y música online en alta calidad, hacer usos
								avanzado de redes sociales o aplicaciones que requieren ubicación.</p>
							<p class="vfes-paragraph">Con Vodafone One ilimitada Súper tendrás una Velocidad simétrica
								de <strong>10Mbps</strong></p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov vfms-uses-block">
							<p class="vfes-paragraph vfes-paragraph--left vfms-uses-block">Usos recomendados para esta
								tarifa:</p>
							<ul class="vfes-list vfes-list--checkmarks vfes-list--horizontal">
								<li>Uso avanzado de redes sociales</li>
								<li>Vídeos alta calidad</li>
								<li>Aplicaciones de mensajería instantánea</li>
								<li>Redes sociales</li>
								<li>Música online</li>
								<li>Vídeo y música online de alta calidad</li>
								<li>Aplicaciones que requieren ubicación</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="modal-modafone-movil-ilimitada-total" class="vfes-modal__item js-modal-item" aria-hidden="true"
				role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content">
					<p class="vfes-title vfes-title--4 vfes-title--center">¿Qué puedes hacer con datos ilimitados?</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph">Ya no tienes que buscar WIFI. Ahora con datos ilimitados podrás,
								por ejemplo, acceder a apps de juego online, descargar y subir archivos de gran tamaño o
								ver vídeos en máxima calidad.</p>
							<p class="vfes-paragraph">Con Vodafone One ilimitada Total disfruta de la <strong>máxima
									velocidad 5G</strong></p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov vfms-uses-block">
							<p class="vfes-paragraph vfes-paragraph--left">Usos recomendados para esta tarifa:</p>
							<ul class="vfes-list vfes-list--checkmarks vfes-list--horizontal">
								<li>Vídeos Online de máxima calidad</li>
								<li>Jugar Online</li>
								<li>Redes sociales</li>
								<li>Música online</li>
								<li>Vídeo y música online de alta calidad</li>
								<li>Uso avanzado de redes sociales</li>
								<li>Aplicaciones que requieren ubicación</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>


		{{!-- Modales Convergente--}}

		<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
			<section id="modal-modafone-one-ilimitada" class="vfes-modal__item js-modal-item" aria-hidden="true"
				role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content">
					<p class="vfes-title vfes-title--4 vfes-title--center">¿Qué puedes hacer con datos ilimitados?</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph">Ya no tienes que buscar Wifi. Ahora con datos ilimitados podrás,
								por ejemplo, consultar redes sociales, usar aplicaciones de mensajería instantánea,
								escuchar música online o gestionar el correo electrónico.</p>
							<p class="vfes-paragraph">Con Vodafone One ilimitada tendrás una velocidad simétrica de
								<strong>2Mbps</strong></p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph vfes-paragraph--left vfms-uses-block">Usos recomendados para esta
								tarifa:</p>
							<ul class="vfes-list vfes-list--checkmarks vfes-list--horizontal">
								<li>Redes sociales</li>
								<li>Música online</li>
								<li>Aplicaciones de mensajería instantánea</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="modal-modafone-one-ilimitada-super" class="vfes-modal__item js-modal-item" aria-hidden="true"
				role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content">
					<p class="vfes-title vfes-title--4 vfes-title--center">¿Qué puedes hacer con datos ilimitados?</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph">Ya no tienes que buscar WIFI. Ahora con los datos ilimitados
								podrás, por ejemplo, disfrutar de vídeos y música online en alta calidad, hacer usos
								avanzado de redes sociales o aplicaciones que requieren ubicación.</p>
							<p class="vfes-paragraph">Con Vodafone One ilimitada Súper tendrás una Velocidad simétrica
								de <strong>10Mbps</strong></p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph vfes-paragraph--left vfms-uses-block">Usos recomendados para esta
								tarifa:</p>
							<ul class="vfes-list vfes-list--checkmarks vfes-list--horizontal">
								<li>Uso avanzado de redes sociales</li>
								<li>Vídeos alta calidad</li>
								<li>Aplicaciones de mensajería instantánea</li>
								<li>Redes sociales</li>
								<li>Música online</li>
								<li>Vídeo y música online de alta calidad</li>
								<li>Aplicaciones que requieren ubicación</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="modal-modafone-one-ilimitada-total" class="vfes-modal__item js-modal-item" aria-hidden="true"
				role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content">
					<p class="vfes-title vfes-title--4 vfes-title--center">¿Qué puedes hacer con datos ilimitados?</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph">Ya no tienes que buscar WIFI. Ahora con datos ilimitados podrás,
								por ejemplo, acceder a apps de juego online, descargar y subir archivos de gran tamaño o
								ver vídeos en máxima calidad.</p>
							<p class="vfes-paragraph">Con Vodafone One ilimitada Total disfruta de la <strong>máxima
									velocidad 5G</strong></p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
							<p class="vfes-paragraph vfes-paragraph--left vfms-uses-block">Usos recomendados para esta
								tarifa:</p>
							<ul class="vfes-list vfes-list--checkmarks vfes-list--horizontal">
								<li>Vídeos Online de máxima calidad</li>
								<li>Jugar Online</li>
								<li>Redes sociales</li>
								<li>Música online</li>
								<li>Vídeo y música online de alta calidad</li>
								<li>Uso avanzado de redes sociales</li>
								<li>Aplicaciones que requieren ubicación</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>

	</div>
	<script src="js/ws2r.v15.js"></script>
	<script src="js/main.js"></script>