<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div data-spritesheet="svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>
<div class="vfes-ms-content" id="samsumg-z-flip" style="display: none">
	{{!-- Hero --}}
	<section class="vfms-hero vfes-layout vfes-colours-bg-vodafone-white">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov">
				<img class="hide--xs" src="img/device-samsung-galaxy-z-flip.png" alt="Logo samsung e imagen del dispositivo Samsung Galaxy Z Flip pleagdo">
			</div>
			<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov vfes-align--center vfms-hero__text">
				<p class="vfms-hero__title vfes-mb"><span class="vfes-title--light">Nuevo Samsung Galaxy Z Flip</span></p>
				<h5 class="vfms-hero__subtitle">La experiencia móvil, reimaginada</h5>
				<h5 class="vfms-hero__subtitle">¡Resérvalo ya!</h5>
			</div>
			<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov vfms-hero__logo">
				<div class="vfes-flex vfes-flex__justify--center">
					<img class="hide--xs" src="img/logo-galaxy-z-flip.png" alt="Logo samsung Samsung Galaxy Z Flip">
				</div>
			</div>
		</div>
	</section>
	{{!-- Breadcrumbs --}}
	<section data-analytics-context="breadcrumbs" class="vfes-breadcrumbs">
		<ul class="vfes-breadcrumbs__wrapper">
			<li><a class="vfes-link" title="Inicio" target="_self" href="https://www.vodafone.es/c/particulares/es/">Inicio</a></li>
			<li><a class="vfes-link" title="Móviles" target="_self" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/">Móviles</a></li>
			<li><a class="vfes-link" title="Samsung Galaxy Z Flip" target="_self" href="#">Samsung Galaxy Z Flip</a></li>
		</ul>
	</section>
	{{!-- Tabs --}}
	<section class="vfes-align--center">
		<div class="vfes-layout__item"> 
			<h5 class="vfms-title vfes-title vfes-title--5 vfes-title--light vfes-pl-mov vfes-pr-mov vfes-pt-palm vfes-pt+ vfes-pb">Llévate el Samsung Galaxy Z Flip con tu Tarifa Móvil + Fibra o tu Tarifa Móvil</h5>
		</div>
		<div class="vfes-layout__item"> 
			<div class="vfes-layout vfms-nopadding">
				<div class="vfes-tabs vfes-tabs--simple" data-vfes-js="_tabsWs10">
					<ul class="vfes-tabs__container vfes-mt">
						<li class="vfes-tabs__tab  vfes-mr vfes-mr---mov">
							<button class="vfes-tabs__tab-button js-tab vfes-tabs__tab-active" data-option="1" role="tab" aria-controls="simpletab1" title="tarifa movil + fibra" aria-label="tarifa movil + fibra" aria-selected="true">Tarifa Móvil + Fibra</button>
						</li>
						<li class="vfes-tabs__tab" >
							<button class="vfes-tabs__tab-button js-tab" data-option="2" role="tab" aria-controls="simpletab2" title="tarifa movil" aria-label="tarifa movil" aria-selected="false">Tarifa Móvil</button>
						</li>
					</ul>
					{{!-- Tab movil + fibra --}}
					<div class="vfes-tabs__content vfms-nopaddingtop vfes-tabs__content-open vfes-colours-bg-vodafone-white" data-tab="1" id="simpletab1" role="tabpanel">
						<div class="vfes-layout vfms-mobile">
							<div class="vfes-layout__wrapper">
								<section class="vfes-layout vfes-mt">
									<div class="vfes-flex vfes-flex__direction--row-column-sm">
										<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov">
											<img class="vfms-mobile-img vfes-pb vfes" alt="Samsung Z Flip pestaña tarifa móvil + fibra" src="img/img-1-desktop.png">
										</div>
										<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov">
											<h5 class="vfms-tabs__title vfes-title vfes-title--5 vfes-title--light vfes-pb hide--xs vfes-pt">Nuevo Samsung Galaxy Z Flip</h5>
											<div>
												<div class="vfes-flex">
													<div class="vfes-mr--mov vfes-mr--palm vfes-mr">
														<svg class="vfms-icon"><title>icon-mobile-mid</title><use xlink:href="#icon-mobile-mid" class="icon-v3"></use></svg>
													</div>
													<div>
														<p class="vfes-paragraph vfes-paragraph--large vfes-mb---mov vfms-subtitle"><span class="vfes-title--bold">Increíblemente compacto</span></p>
														<p class="vfes-paragraph">Galaxy Z Flip se pliega para ser sorprendentemente pequeño y que cabe fácilmente en tu bolsillo o bolso.</p>
													</div>
												</div>
                                          		
												<div class="vfes-flex vfes-mt">
													<div class="vfes-mr--mov vfes-mr--palm vfes-mr">
														<svg class="vfms-icon"><title>icon-camera-mid</title><use xlink:href="#icon-camera-mid" class="icon-v3"></use></svg>
													</div>
													<div>
														<p class="vfes-paragraph vfes-paragraph--large vfes-mb---mov vfms-subtitle"><span class="vfes-title--bold">El smartphone se sostiene solo</span></p>
														<p class="vfes-paragraph">Se pliega y mantiene su posición en múltipes ángulos para realizar fotos</p>
													</div>
												</div>
											</div>
											<div class="vfms-price__container vfes-flex vfes-flex__direction--row-column-sm vfes-flex__justify--between vfes-mt+ vfes-mt-mov">
												<div class="vfes-mb--mov">
													<p class="vfes-flex vfms-price__flex-direction vfms-align__items">
														<span class="vfes-paragraph vfes-paragraph--large vfes-mb0 vfes-mr--">desde</span>
														<span><span class="vfes-title vfes-title--bold vfms-price__size">37,50€/</span>mes en 36 meses</span>
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">+0€ de pago inicial</p>
													<p class="vfes-paragraph vfes-paragraph--large">precio de tarifa no incluido</p>
												</div>
												<div class="vfms-device__button">
													<button class="device vfes-button vfes-button--primary vfms-large" data-modal="info" data-modal-close aria-haspopup="dialog" data-device-name="Galaxy Z Flip" data-analytics-context="galaxy z flip tarifa movil" data-analytics-element="reservar" data-analytics-category="cta">Reservar
													</button>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					{{!-- Tab movil --}}
					<div class="vfes-tabs__content vfms-nopaddingtop vfes-colours-bg-vodafone-white" data-tab="2" id="simpletab2" role="tabpanel">
						<div class="vfes-layout vfms-mobile">
							<div class="vfes-layout__wrapper">
								<section class="vfes-layout vfes-mt">
									<div class="vfes-flex vfes-flex__direction--row-column-reverse-sm">
										<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov">
											<h5 class="vfms-tabs__title vfes-title vfes-title--5 vfes-title--light vfes-pb hide--xs vfes-pt">Nuevo Samsung Galaxy Z Flip</h5>
											<div>
												<div class="vfes-flex">
													<div class="vfes-mr--mov vfes-mr--palm vfes-mr">
														<svg class="vfms-icon"><title>icon-mobile-mid</title><use xlink:href="#icon-mobile-mid" class="icon-v3"></use></svg>
													</div>
													<div>
														<p class="vfes-paragraph vfes-paragraph--large vfes-mb---mov vfms-subtitle"><span class="vfes-title--bold">Increíblemente compacto</span></p>
														<p class="vfes-paragraph">Galaxy Z Flip se pliega para ser sorprendentemente pequeño y que cabe fácilmente en tu bolsillo o bolso.</p>
													</div>
												</div>
                                          		
												<div class="vfes-flex vfes-mt">
													<div class="vfes-mr--mov vfes-mr--palm vfes-mr">
														<svg class="vfms-icon"><title>icon-camera-mid</title><use xlink:href="#icon-camera-mid" class="icon-v3"></use></svg>
													</div>
													<div>
														<p class="vfes-paragraph vfes-paragraph--large vfes-mb---mov vfms-subtitle"><span class="vfes-title--bold">El smartphone se sostiene solo</span></p>
														<p class="vfes-paragraph">Se pliega y mantiene su posición en múltipes ángulos para realizar fotos</p>
													</div>
												</div>
											</div>
											<div class="vfms-price__container vfes-flex vfes-flex__direction--row-column-sm vfes-flex__justify--between  vfes-mt+ vfes-mt-mov">
												<div class="vfes-mb--mov">
													<p class="vfes-flex vfms-price__flex-direction vfms-align__items">
														<span class="vfes-paragraph vfes-paragraph--large vfes-mb0 vfes-mr--">desde</span>
														<span><span class="vfes-title vfes-title--bold vfms-price__size">35€/</span>mes en 36 meses</span>
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">+0€ de pago inicial</p>
													<p class="vfes-paragraph vfes-paragraph--large">precio de tarifa no incluido</p>
												</div>
												<div class="vfms-device__button">
													<button class="device vfes-button vfes-button--primary vfms-large" data-modal="info" data-modal-close aria-haspopup="dialog" data-device-name="Galaxy Z Flip" data-analytics-context="galaxy z flip tarifa movil" data-analytics-element="reservar" data-analytics-category="cta">Reservar
													</button>
												</div>
											</div>
										</div>
										<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov">
											<img class="vfms-mobile-img vfes-pb vfes" alt="Samsung Z Flip pestaña tarifa móvil" src="img/img-2-desktop.png">
										</div>
									</div>
										
								</section>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="vfes-layout__item vfes-mt vfes-mb+"> 
			<img src="img/devices-landing-zflip.png" alt="imagen con varios dispositivos Samsung Z Flip en diferentes posiciones">
		</div>
	</section>
	{{!-- Features --}}
	<section class="vfes-layout vfes-pb--palm vfes-pt--palm">
		<div class="vfes-layout__wrapper vfms-features">
			<h5 class="vfes-layout__item vfms-title vfes-title vfes-title--5 vfes-title--light vfes-mb+ vfes-align--center">Un nuevo giro en el mundo de los Smartphones</h5>
			<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov">
				<div class="vfes-flex vfms-features__flex">
					<div>
						<img class="vfms-features__icon" src="img/prepare.svg">
					</div>
					<div class="vfes-ml--mov vfes-mb-mov">
						<p class="vfes-paragraph vfes-paragraph--large vfes-mb0-mov"><span class="vfes-title--bold">Cristal, pero puedes doblarlo</span></p>
						<p class="vfes-paragraph vfes-paragraph--large">Pantalla de cristal, plegable y muy duradera</p>
					</div>
				</div>
			</div>
			<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov">
				<div class="vfes-flex vfms-features__flex">
					<div>
						<img class="vfms-features__icon" src="img/payg.svg">
					</div>
					<div class="vfes-ml--mov vfes-mb-mov">
						<p class="vfes-paragraph vfes-paragraph--large vfes-mb0-mov"><span class="vfes-title--bold">Hazlo todo de una sola vez</span></p>
						<p class="vfes-paragraph vfes-paragraph--large">Sube tu nivel de productividad al tener dos aplicaciones abiertas a la vez</p>
					</div>
				</div>
			</div>
			<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov vfes-mb-mov">
				<div class="vfes-flex vfms-features__flex">
					<div>
						<img class="vfms-features__icon" src="img/interchangable-batteries.svg">
					</div>
					<div class="vfes-ml--mov">
						<p class="vfes-paragraph vfes-paragraph--large vfes-mb0-mov"><span class="vfes-title--bold">Batería con más potencia en menos espacio</span></p>
						<p class="vfes-paragraph vfes-paragraph--large">La batería de Galaxy Z Flip dura todo el día y te permite aprovechar al máximo cada carga</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- FAQS-->
	<section class="vfms-faqs">
		<div class="vfes-layout__wrapper vfes-pb+">
			<h2 class="vfes-title vfes-title--3 vfes-pt+ vfes-pt0-mov vfes-align--center">Preguntas Frecuentes</h2>
			<div class="vfes-mt0-mov">
				<div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
					<div class="vfes-layout__item">
						<div class="vfes-accordion__item js-accordion-item">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0"><h3 class="vfes-paragraph vfes-paragraph--large">¿Por qué un móvil con pantalla plegable?</h3></button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										Galaxy Z Flip se pliega para ser sorprendentemente pequeño y ofrecer un diseño sobresaliente que cabe fácilmente en tu bolsillo o bolso.
									</p>
									<p class="vfes-paragraph">
										Su pantalla plegable Infinity Flex es una pantalla AMOLED dinámica inmersiva que ofrece una calidad de color increíble y una luz azul reducida. Con biseles minimizados y 6,7 pulgadas.
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué es y para que sirve el modo Flex? </h3></button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										Esta nueva funcionalidad traslada los controles a la mitad inferior de la pantalla para              convertir la mitad superior en un área de visualización para tus aplicaciones.
									</p>
									<p class="vfes-paragraph">
										Es una nueva forma de entender un dispositivo multitarea ya que tiene el poder de establecer la pantalla en distintos ángulos, con el poder abrir dos aplicaciones a la vez cada una en su mitad de la pantalla. 
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué es freestop y para que sirve?</h3></button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										La tecnología de freestop plegable permite usar chats de vídeo con manos libres y selfies que antes eran inalcanzables.            
									</p>
									<p class="vfes-paragraph">
										Gracias a su pantalla con cristal plegable y  bisagra articulada reinventarás la forma de hacer fotos con tu Smartphone.
									</p>
									<p class="vfes-paragraph">
										Galaxy Z Flip se pliega y mantiene su posición en múltiples ángulos, lo que te permite realizar tomas increíbles desde diferentes ángulos y que juegan con la percepción
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué debo hacer una vez haya reservado mi teléfono?</h3></button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										A partir del día 2 de abril te llegará un SMS para finalizar tu compra y recibir tu Samsung Galaxy Z Flip.           
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{!-- modal formulario carrusel --}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
		<section id="info" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
			<div class="vfes-modal__head">
				<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
						class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
						<title>Close</title>
						<use class="icon-v3" xlink:href="#icon3-close"></use>
					</svg></button>
			</div>
			<div class="vfes-modal__content vfms-modal js-modal-content">
				<div class="vfms-text--container">
					<p id="device-title" class="vfes-title vfes-title--3  vfes-title--center vfms-device-title vfes-mb-"></p>
					<p class="vfes-title vfes-title--4 vfes-title--center vfes-mb vfes-mb--mov">¡Solo te queda un paso!</p>
					<p class="vfes-paragraph vfes-paragraph--center">Déjanos tus datos y nos pondremos en contacto contigo para finalizar la reserva.</p>
				</div>
				<div class="vfms-form--container">
					<form class="vfes-form wg-form">
						<div class="vfes-layout__item vfes-layout--center vfes-mb">
							<input class="wg-input" type="hidden" name="preventa" value="Samsung Z Flip">
							<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
							<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
							<div class="vfes-layout__item vfes-mb vfes-mb--mov">
								<div class="vfes-flex vfes-flex__justify--around vfes-mt vfes-mt--mov">
									<div>
										<input class="vfes-form__radio wg-input" type="radio" id="radio1" name="esCliente"
										data-wg-validation="required" value="si" />
										<label class="vfes-form__label vfms-checks--label " for="radio1">Soy cliente</label>
									</div>
									<div>
										<input class="vfes-form__radio wg-input" type="radio" id="radio2" name="esCliente"
											data-wg-validation="required" value="no" />
										<label class="vfes-form__label vfms-checks--label vfms-input-left" for="radio2">No soy
											cliente</label>
									</div>
								</div>
								
							</div>
							<input id="phone-model" class="vfes-form__input wg-input" type="hidden"
								style="display:none;" name="phone-model" placeholder="Modelo Teléfono" />
							<input class="vfes-form__input vfes-box--form__name wg-input vfms-input" type="text" name="nombre" data-wg-validation="required" placeholder="Nombre" />
							<input class="vfes-form__input wg-input vfms-input vfes-mt vfes-mt--mov" type="text" id="email" name="email" data-wg-validation="required" placeholder="Email" />
							<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input vfes-mt vfes-mt--mov" type="phone"
								name="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
								data-wg-validation="required,phone" placeholder="Nº teléfono"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

							<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox"
								id="privacy" value="on" type="checkbox" name="check" />
							<label class="vfes-form__label vfes-mt vfes-mt---mov" for="privacy">Acepto la 
								<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/" id="condiciones" class="button-privacy vfes-ml--" target="_blank" rel="nofollow"> Política de
									Privacidad</a></label>
							<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication" name="gdpr"
								value="on" />
							<label class="vfes-form__label" for="comunication">Acepto recibir comunicaciones
								comerciales de Vodafone </label>
						</div>
						<input class="vfes-button vfes-button--primary  vfms-large wg-submit tellamamos-ltc"
							type="submit" value="Enviar">
					</form>
				</div>
			</div>
		</section>
	</div>

</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
