<link href="css/ws2r.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div data-spritesheet="svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>
<div class="vfes-ms-content vfes-ws10 vfes-colours-bg-light-grey" id="fijo" style="display: none">
	<main class="vfes-layout vfes-color-bg-wild-sand vfes-colours--dark-grey vfes-pt0" data-vfms-js="_rate">   
		{{!-- <!-- CONTENT + TICKET --> --}}
		{{!-- <!-- BANNER AND CARD RATE --> --}}
		<h1 class="visually-hidden">Teléfono fijo: tu tarifa de teléfono fijo</h1>
		<section class="vfms-banner vfes-mb+ vfes-pb+ vfes-pb0-mov vfes-mb0-mov">
			<div class="vfes-layout__wrapper vfms-banner__wrapper">
				<div class="vfes-layout__item vfes-2/3 vfes-1/2-palm vfes-1/1-mov vfes-pt+ vfes-pt-mov vfes-pb-mov" data-vfms-js="_cloneRate">
					<div class="vfes-layout__wrapper">
						<p class="vfes-layout__item vfes-1/1 vfes-title--4 vfes-title--light show vfes-mb0">Teléfono fijo</p>
						<p class="vfes-layout__item vfes-2/3 vfes-1/1-palm vfes-1/1-mov vfes-mb0 vfes-title--light vfes-pr-mov">
							<span class="show vfes-title--1 vfes-mb0 vfes-pt"><span class="vfes-title--bold">Habla sin preocupaciones</span> y llévate tu fijo donde tú quieras</span>
						</p>
					</div>
				</div>
			</div>
		</section>
		<div class="vfes-flex vfes-flex__direction--column vfes-layout__wrapper vfes-mt+-mov vfes-pt-mov">
			{{!-- <!-- CONTENT --> --}}
			<div class="vfms-content vfes-layout__item vfes-2/3 vfes-1/1-palm vfes-1/1-mov">
				{{!-- FEATURES --}}
				<section class="vfms-all vfes-pt+-mov vfes-pt0 vfes-pb0" vfms-data-show="sticky">
					<h2 class="vfes-title--4 vfes-title--light vfes-mb--">Tarifa Teléfono fijo</h2>
					<h3 class="show vfes-title--2 vfes-mb--palm vfes-mb vfes-layout__item vfes-3/4 vfes-1/1-palm vfes-1/1-mov vfes-p0"><span class="vfes-title--bold">Habla sin límites</span> con otros teléfonos fijos y móviles nacionales
					</h3> 
					<img class="hide--tb" src="img/fijo-mb.png">
					<img class="hide--xs hide--lrg" src="img/fijo-tb.png">
					<img class="hide--sm vfes-mb" src="img/fijo-dsk.png">
					<p class="vfes-paragraph--large vfes-mt-mov"><span class="vfes-title--bold">Llama a todos tus amigos y familiares</span> y habla todo lo que quieras con ellos, ya sean fijo o móvil, sin ningún tipo de recargos, con el fijo de Vodafone. </p>
					<div class="vfes-layout">
						<ul class="vfes-pt-palm vfes-pt--mov vfes-pt+ vfes-layout__wrapper">
							<li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-pb- vfes-mb-">
								<div class="vfes-flex vfes-flex__align-items--start">
									<div class="vfms-circle-icon">
										<svg width="44" height="44"><use xlink:href="#icon-minutes-sms-mid"></use></svg>
									</div>
									<p class="vfes-paragraph--large">Tendrás<span class="vfes-title--bold"> llamadas ilimitadas</span> a otros<span class="vfes-title--bold"> teléfonos fijos y móviles nacionales</span> sin límites ni recargos.</p>
								</div>
							</li>
							<li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
								<div class="vfes-flex vfes-flex__align-items--start">
									<div class="vfms-circle-icon">
										<svg width="44" height="44"><use xlink:href="#icon-connected-car-mid"></use></svg>
									</div>
									<p class="vfes-paragraph--large">No te pierdas ni una llamada <span class="vfes-title--bold">llevándote el fijo siempre contigo</span>, tanto dentro como fuera del domicilio.</p>
								</div>
							</li>
							<li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-paragraph--large">
								<div class="vfes-flex vfes-flex__align-items--start">
									<div class="vfms-circle-icon">
										<svg width="44" height="44"><use xlink:href="#icon-consultant-mid"></use></svg>
									</div>
									<p class="vfes-paragraph--large">Compatible con el servicio de teleasistencia: <span class="vfes-title--bold">atención telefónica 24/7</span>, que permite atender a personas en su domicilio <span class="vfes-title--bold">ante cualquier emergencia</span> o a través de la caja de voz Adoc v1.</p>
								</div>
							</li>
						</ul>
					</div>
				</section>
				{{!-- NO SURPRISES  --}}
				<section class="vfms-surprises">
					<div class="vfes-pt+ vfes-pt-mov">
							<h3 class="vfes-title--3 vfes-mb--palm vfes-mb">
								<span class="vfes-title--bold">Sin sorpresas.</span>
								<span class="show vfes-pb- vfes-title--bold vfes-pb0">No escondemos nada</span>
							</h3>
							<p class="vfes-paragraph">Impuestos y cuota incluidos.</p>
							<p class="vfes-paragraph">Permanencia de 1 año.</p> 
							<a class="vfes-paragraph vfes-link--black" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/internet-y-fijo/solo-telefono-fijo/legales/" target="_new" data-analytics-context="ficha de producto" data-analytics-element="condiciones legales" data-analytics-category="cta" data-analytics-id="1435603191151-0009666562513">Ver Condiciones Legales</a> 
					</div>
				</section>
				{{!--  STEPS  --}}
				<section class="vfms-steps">
					<h3 class="vfes-title vfes-title--3 vfes-pt+ vfes-align--left vfes-title--bold vfes-mb--palm vfes-mb">¿Cómo contratar Vodafone Fijo?</h3>
					<div class="vfes-timeline vfes-timeline--steps vfes-timeline--center vfes-timeline-steps--horizontal">
						<ul class="vfes-timeline__list vfes-timeline-steps--horizontal vfms-steps__timeline ">
							<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
								<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
									<use class="icon-v3" xlink:href='#icon-shopping-trolley-mid'></use>	
								</svg>
								<h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Compra</span></h4>
								<p class="vfes-paragraph">Recibirás un email de confirmación con el detalle de tu pedido y próximos pasos.</p>
							</li>
							<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
								<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
									<use class="icon-v3" xlink:href='#icon-home-mid'></use>
								</svg>
								<h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Elige dónde recibir tu pedido</span></h4>
								<p class="vfes-paragraph">Podrás recibirlo directamente en tu casa o en una tienda Vodafone</p>
							</li>
							<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
								<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
									<use class="icon-v3" xlink:href='#icon-landline-or-call-mid'></use>
								</svg>
								<h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Actívalo</span></h4>
								<p class="vfes-paragraph">Una vez en casa introduce la SIM dentro de la caja de voz y conecta tu teléfono</p>
							</li>
						</ul>
					</div>
				</section>
			</div>   
			<!-- TICKET -->
			<div class="vfms-ticket vfes-layout__wrapper vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt0-mov vfes-mt+" data-vfms-js="_ticket">
				<div class="vfms-ticket-content vfes-pb-">
					<h2 class="vfes-title--4 vfes-pt0 vfes-mb0 vfes-pb-">Vodafone Fijo</h2>
					<ul class="vfes-flex vfes-flex__direction--column vfes-colours-bg-vodafone-white vfes-card-border-radius vfes-box-shadow vfes-pr- vfes-pl- vfes-pb- vfes-pt-">
						<li class="vfes-flex vfes-flex__align-items--center vfes-flex__wrap--nowrap vfes-align--center vfes-align--left">
							<div class="vfms-icon-rate">
								<svg width="24" height="24px">
									<title>Teléfono fijo</title>
									<use xlink:href="#icon3-business-phone" class="icon-v3"/>
								</svg>
							</div>
							<div class="vfes-align--left vfes-pl--">
								<p class="vfes-title--5 vfes-mb0"><span class="vfes-title--bold">Llamadas ilimitadas</span></p>
								<p class="vfes-paragraph vfes-paragraph--large vfes-mb0"><span class="vfes-title--light">a fijos y móviles nacionales</span></p>
							</div>
						</li>
						<li class="vfes-flex vfes-flex__align-items--end vfes-flex__justify--between vfes-pt- vfes-pb- vfes-pl--">
							<div>
								<p class="vfes-mb- vfes-paragraph--small vfes-colours--anthracite">Permanencia 1 año</p>
								<p class="vfes-title vfes-title--3 vfes-mb0"><span class="vfes-title--bold">13€/mes</span></p>
							</div>
							<div>
								<a title="Lo quiero" class="vfes-button vfes-button--primary" style="cursor: pointer;" onclick="window.parent.document.ws_popup.open('Vodafone fijo', '13€/mes');" target="_parent" data-analytics-context="ficha de producto" data-analytics-element="lo quiero fijo" data-analytics-category="cta" data-analytics-id="1435603191151-0006288400085">Lo quiero</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- SECTION BANNER SEO-->
		<section class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				<div class="vfms-seo vfes-flex vfes-flex__direction--row-column-sm vfes-flex__align-items--center vfes-flex__justify--around vfes-pt+">
					<div class="vfms-seo__text vfes-pr0-mov vfes-pr-palm vfes-pr">
						<h2 class="vfes-title vfes-title--3 vfes-align--left vfes-title--bold vfes-mb--palm vfes-mb">Disfruta de la tarifa Vodafone Fijo llamando a los tuyos</h2>
						<p class="vfes-paragraph--large">
							Con la<span class="vfes-title--bold"> tarifa teléfono fijo de Vodafone</span> podrás hablar con todos tus amigos y familiares, ya sea a fijo o móvil nacionales, sin preocuparte del tiempo de la llamada. Además, con nuestra<span class="vfes-title--bold"> línea de teléfono fijo</span> podrás<span class="vfes-title--bold"> llevarte el teléfono a donde quieras</span> para realizar o recibir llamadas. Esta<span class="vfes-title--bold"> tarifa de fijo</span> no tiene ningún recargo adicional.
						</p>
						<p class="vfes-paragraph--large">
							Vodafone fijo es compatible con cualquier<span class="vfes-title--bold"> solución de Teleasistencia del mercado</span> (como por ejemplo el de Cruz Roja), para<span class="vfes-title--bold"> atender a cualquier persona de tu domicilio</span> ante cualquier circunstancia o emergencia.
						</p>
					</div>
					<img class="vfes-pb-mov vfms-seo__img vfms-seo__img-tb" src="img/seo-dsk.jpg" alt="mujer sonriente hablando por teléfono">
					<img class="vfes-pb-mov vfms-seo__img hide--xs hide--lrg" src="img/seo-tb.jpg" alt="mujer sonriente hablando por teléfono">
				</div>
			</div>
		</section>
		<!-- STICKY TICKET MOBILE-->
		<section class="vfms-sticky-down vfes-p-- vfes-pb- vfes-box-shadow vfes-colours-bg-vodafone-white vfms-hide" vfms-data-show="show">
			<div class="vfes-layout__item">
				<div class="vfes-flex vfes-flex__align-items--center vfes-flex__justify--center">
					<div class="vfes-flex vfes-flex__direction--column vfes-1/2">
					<span class="vfes-title--bold vfes-title--1 vfes-mb0">13€<span class="vfes-title--3">/mes</span></span>
					<p class="vfes-mb0 vfes-paragraph--small vfes-colours--anthracite">Permanencia 1 año</p>
				</div>
					<div class="vfes-flex vfes-flex__direction--column vfes-1/2">
						<a title="Lo quiero" class="vfes-button vfes-button--primary" style="cursor: pointer;" onclick="window.parent.document.ws_popup.open('Vodafone fijo', '13€/mes');" target="_parent" data-analytics-context="ficha de producto" data-analytics-element="lo quiero fijo" data-analytics-category="cta" data-analytics-id="1435603191151-0006288400005">Lo quiero</a>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- FAQS-->
	<aside class="vfms-faqs" data-vfes-js="_faqs">
		<div class="vfes-layout__wrapper vfes-pb+">
			<h2 class="vfes-title vfes-title--3 vfes-pt+ vfes-align--left vfes-title--bold">Preguntas Frecuentes</h2>
			<div class="vfes-mt0-mov">
				<div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
					<div class="vfes-layout__item vfes-p0">
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿Está incluido el servicio de identificación de llamadas en el precio?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										El servicio de identificación de llamadas te permite conocer los números de teléfono desde los que se efectúan las llamadas entrantes en tu teléfono fijo Vodafone. Tiene una cuota mensual de 2 € (IVA incluido) y no viene incluido. Puede activarse y desactivarse desde la App Mi Vodafone.
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿Qué necesito para contratar el servicio de Teleasistencia?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<ul class="vfes-list vfes-mb">
										<li>
											<p class="vfes-paragraph">Tu línea fija de Vodafone.</p>
										</li>
										<li>
											<p class="vfes-paragraph">Una caja de voz ADOC V1, conectada a la red eléctrica y al teléfono, que tendrás que solicitar a uno de nuestros agentes en tu llamada.</p>
										</li>
										<li>
											<p class="vfes-paragraph">Un dispositivo de alarma, que instala el servicio técnico del prestador del servicio en el domicilio. Además, se proporciona una medalla con un pulsador de alarma para que el destinatario final la lleve colgada.</p>
										</li>
									</ul>
									<p class="vfes-paragraph">
										(El servicio de Teleasistencia ofrecido por la Administración Pública (local/provincial) o aseguradoras de salud privada para personas que precisan asistencia en su domicilio. El usuario paga mensualmente al prestador del servicio. El coste depende del proveedor (Cruz Roja, SAR Quavitae, Asispa, Tunstall-Televida, etc). Las llamadas y SMS al servicio de Teleasistencia de Cruz Roja son gratuitas.)
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿Qué significa Movilidad Total?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										Significa que no te pierdes ninguna llamada porque puedes llevarte siempre el fijo contigo.
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿Es compatible con Vodafone TV?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">Vodafone TV no es compatible con el producto “Solo fijo”. Si deseas teléfono fijo y televisión descubre las tarifas Vodafone One con Fibra + Teléfono Fijo y Teléfono Móvil en <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/" target="_new">www.vodafone.es/one</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
