<link href="css/ws10.css" rel="stylesheet" data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss data-vfes-inline-asset/>
<div class="vf-bs" id="familyBundles">
    <div class="vf-bs__family ws10-u--pt6x ws10-u--pb16x">
        <div class="ws10-o-wrapper">
            <div class="ws10-o-layout">
                <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                    <p class="ws10-u-heading--4-lt">Por ser cliente haz tu hogar ilimitable</p>
                    <h2 class="ws10-u-heading--3-lt">Disfruta de todas tus <strong>líneas con datos ilimitados,</strong> fibra de <strong>600Mbps, Super WiFi</strong> y TV con <strong>HBO España y Amazon Prime</strong></h2>
                    <p class="ws10-u-heading--4-lt">y muchos más servicios por <strong>47,50€/mes</strong></p>
                    <img class="vf-img-bundles vf-img-bundles__mobile ws10-u--pt5x ws10-u--pb5x" src="https://www.vodafone.es/c/statics/imagen/448_Base_Salesfamily-offer.png">
                   <div><a href="tel:900920957" class="drp-href ws10-c-button ws10-u--mb2x" title="Llama gratis" data-analytics-element="Llama gratis" data-analytics-category="cta"> Llama gratis al <span class="drp-phone">900920957</span></a>
                   </div>
                </div>
                <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                    <img class="vf-img-bundles vf-img-bundles__desktop" src="https://www.vodafone.es/c/statics/imagen/448b_Base_Sales_Bolos_bodegon.png" alt="ahorra más de 190 euros al año">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
