<link href="css/ws2r.v14.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="fibra1gb">
    	{{!-- Fibra--}}

	{{!-- Fibra 1Gb--}}
	<section class="vfes-layout vfms-banner fibra1gb" id="fibra1gb">
        <div class="vfes-layout__wrapper vfms-one-wrapper">
			<div class="vfms-banner-img">
				<img src="img/fiber-banner/dispositivo-vd-fiber-solo.png" alt="dispositivo fibra">
			</div>
            <div class="vfes-layout__item vfes-1/1-mov vfes-2/3-palm vfes-3/4 vfes-color--vodafone-gray vfms-banner-info">
				<div class="vfms-banner-info-container">
					<h2 class="vfes-title vfes-title--regular vfes-title--bold vfes-colours--vodafone-red vfms-banner-copy">Vodafone Fibra 1Gbps</h2>
					<ul class="vfms-rate-features">
						<li class="vfms-rate-features-item">
							<span class="vfms-features-icon">
								<svg class="js-icon-broadband-or-wifi js-icon-broadband-or-wifi" height="35" width="35"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>Fibra</title>
									<use class="icon3-broadband-or-wifi" xlink:href="#icon3-broadband-or-wifi"></use>
								</svg>
							</span>
							<span class="vfms-rate-feature-description">
								<h3 class="vfms-feature-description-title vfes-title--bold">Fibra 1Gbps</h3>
								<p class="vfms-feature-description-text">Simétricos</p>
							</span>
						</li>
						<li class="vfms-rate-features-item">
							<span class="vfms-features-icon">
								<svg class="js-icon-tv js-icon-business-phone" height="35" width="35"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>Fijo</title>
									<use class="icon3-business-phone" xlink:href="#icon3-business-phone"></use>
								</svg>
							</span>
							<span class="vfms-rate-feature-description">
								<h3 class="vfms-feature-description-title vfes-title--bold">Fijo</h3>
								<p class="vfms-feature-description-text">Llamadas ilimitadas.</p>
							</span>
						</li>
					</ul>
					<div class="vfms-offer-details">
						<a href="#" title="Conoce la oferta en detalle" class="vfms-offer-details-link" target="_self" data-modal="offer-details-fibra1Gbps" data-modal-close aria-haspopup="dialog" data-analytics-element="detalles de la oferta" data-analytics-product = "fibra;fibra 1gbps" data-analytics-category= "link" data-analytics-context="particulares:oferta:fibra1gbps">Conoce la oferta en detalle</a>
					</div>
				<hr>
				<div class="vfms-offer-price-container">
					<div class="vfms-offer-price">
						<span class="vfms-offer-price-text vfes-title--regular">
							Por solo
						</span>
						<span class="vfms-offer-price-number">
							 <span class="vfes-title--regular vfes-title--bold">37,84€<span class="vfms-month vfes-title--regular vfes-title--bold">/mes</span></span>
						</span>
						<span class="vfms-offer-price-features">
							<span class="vfms-cuota"> <span class="vfes-title--bold"> +18,15€</span> cuota de línea</span>
							<span class="vfms-iva">IVA incluido. </span>
							 <span class="vfms-offer-deadline">Con compromiso</span>
						</span>

					</div>
					<div class="vfms-banner-rate-offer-info-price-button-content">
						<a title="Contratar Online" target="_new" class="vfes-button vfes-button--primary vfms-offer-details-contract" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=3&tcli=0&tcon=0&ec=0&tar=168443639" data-analytics-element="cart_add" data-analytics-product = "fibra;fibra 1gbps" data-analytics-category= "cta" data-analytics-context="contrata online">Contrata Online</a>
					</div>	
					{{!-- <div class="vfms-offer-price-clain">
							<span class="vfes-color-bg-vodafone-red">La mejor conexión</span>
							<span class="vfes-color-bg-vodafone-gray">para tu hogar</span>

					</div> --}}
				</div>
				</div>
			</div>
			<div class="vfes-layout__item vfes-1/1-mov vfes-1/3-palm vfes-1/4 vfes-color--vodafone-gray vfms-banner-form">
				<div class="vfms-banner-form-container vfes-colours-bg-dark-grey">
					<form class="vfes-form wg-form vfes-color--silver">
						<div class="vfes-modal__head-form">
							<p class="vfes-paragraph--center vfms-title-form">O si lo prefieres te llamamos</p>
						</div>
						<div class="vfes-box--form">
							<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
							<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
							<input class="vfes-form__input vfes-box--form__tlf wg-input" type="phone" name="phone" inputmode="numeric" pattern="[0-9]*"
								maxlength="9" data-wg-validation="required,phone" placeholder="Nº teléfono"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
						</div>
						<div class="vfes-box--form">
							<div class="vfes-form__box vfms-form__checks-space">
								<input class="vfes-form__checkbox vfms-form__checkbox_bg-transparent wg-input"
									data-wg-validation="required" type="checkbox" id="privacy" value="on" type="checkbox"
									name="check" />
								<label class="vfes-form__label" target="_self"
                            			for="privacy">Acepto la <a
										href="#"
										id="condiciones" data-modal="privacy" data-modal-close aria-haspopup="dialog" class="button-privacy vfes-color--silver" title="Vodafone One" target="_new"
										rel="nofollow"> Política de Privacidad</a>
								</label>
							</div>
							<div class="vfes-form__box vfms-form__checks-space">
								<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication" name="gdpr" value="on" />
								<label class="vfes-form__label" for="comunication"><span class="vfes-cta-box__span">Acepto recibir
										comunicaciones comerciales de Vodafone</span> </label>
							</div>
							<input title="Te llamamos gratis" class="vfes-button vfes-button--green  wg-submit tellamamos-ltc" data-analytics-element="te llamamos gratis" data-analytics-context="particulares:oferta:fibra 1Gbps" data-analytics-category="c2c" type="submit" value="Te llamamos gratis">
						</div>
					</form>
				</div>
				{{!-- <h3 class="vfes-title vfes-title--regular vfes-title--5 vfes-title--center vfes-title--bold vfes-colours--vodafone-white vfms-countdown-text">¡Por tiempo limitado!</h3>
				<div class="vfms-countdown" id="countdown">
					<div id='tiles' class="vfms-tiles"></div>
					<div class="vfms-labels">
						<li class="vfes-color--vodafone-white vfms-labels-item" id="days">Días</li>
						<li class="vfes-color--vodafone-white vfms-labels-item" id="hours">Horas</li>
						<li class="vfes-color--vodafone-white vfms-labels-item" id="minutes">Minutos</li>
						<li class="vfes-color--vodafone-white vfms-labels-item" id="seconds">Segundos</li>
					</div>
				</div> --}}
			</div>
			
			</div>
	</section>{{!-- Fibra 100Mbps --}}
	{{!-- Coverage --}}

	{{!-- <section class="vfes-layout vfms-coverage">
		<div class="vfes-layout__wrapper vfms-coverage-wrapper">
			<div class="vfes-layout__item vfes-1/1-mov vfes-1/1-palm vfes-3/3">
				<div class="vfms-coverage-item">
					<div class="vfms-coverage-icon">
						<img src="img/coverage/section-check-coverage-icon.png" alt="imagen icono cobertura">
					</div>
					<div class="vfms-coverage-text">
						<p class="vfms-check-coverage__text">Comprueba si tienes cobertura de Fibra o ADSL en tu domicilio.</p>
						<button type="button" data-modal="check-coverage" data-modal-close aria-haspopup="dialog"
							data-analytics-context="particulares:oferta:fibra 1Gbps" data-analytics-element="consulta tu cobertura" data-analytics-category="cta" name="cta"
							title="cta" class="vfes-button vfes-button--green" >
							Consulta tu cobertura
						</button>
					</div>
				</div>
			</div>
		</div>
	</section> --}}
	{{!-- End Coverage --}}

	{{!-- Modals Section --}}

		{{!-- Offer Details --}}

	{{!-- Fibra--}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">

        <!-- Fibra 1Gb -->

        <section id="offer-details-fibra1Gbps" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-fibraMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h1 class="vfes-title vfes-title--4 vfes-title--regular vfms-modal-title vfes-title--bold">Vodafone Fibra 1Gbps</h1>

				<div class="vfms-offer-details-features">
					<ul class="vfms-offer-details-features-container">
						<li class="vfms-offer-details-features-item">
							<div class="vfms-feature-header">
								<span class="vfms-feature-icon">
									<svg class="js-icon-desktop js-icon-desktop" height="30" width="30"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>INTERNET</title>
										<use class="icon3-desktop" xlink:href="#icon3-desktop"></use>
									</svg>
								</span>
								<h2 class="vfes-title vfes-title--5 vfes-color--vodafone-red vfms-feature-title">Internet</h2>
							</div>
							<ul class="vfms-feature-content">
								<li class="vfms-feature-content-item">Vodafone Fibra 1Gbps simétricos.</li>
								<li class="vfms-feature-content-item">Conecta todos los dispositivos que quieras a la vez.</li>
								<li class="vfms-feature-content-item">Con 24 meses de permanencia.</li>
							</ul>
						</li>
						
						<li class="vfms-offer-details-features-item">
							<div class="vfms-feature-header">
								<span class="vfms-features-icon">
									<svg class="js-icon-tv js-icon-business-phone" height="30" width="30" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>FIJO</title>
										<use class="icon3-business-phone" xlink:href="#icon3-business-phone"></use>
									</svg>
								</span>
								<h2 class="vfes-title vfes-title--5 vfes-color--vodafone-red vfms-feature-title">Fijo</h2>
							</div>
							<ul class="vfms-feature-content">
								<li class="vfms-feature-content-item">Llamadas nacionales ilimitadas a fijos y móviles.</li>
							</ul>
						</li>
					
					</ul>
				</div>
				<div class="vfms-offer-details-conditions">
					<h2 class="vfes-title vfes-title--5 vfes-color--vodafone-red vfms-feature-title">Detalles de tu cuota:</h2>
					<ul class="vfms-offer-details-conditions-container">
						<li class="vfms-offer-details-conditions-container-item">Durante el 1º y 2º año: 37,84€/mes + 18,15€ de cuota de línea, total 55,99€/mes.</li>
						<li class="vfms-offer-details-conditions-container-item">Después del 2º año: 46,84€/mes + 18,15€ de cuota de línea, total 64,99€/mes.</li>
						<li class="vfms-offer-details-conditions-container-item">Precios con IVA incluido.</li>

					</ul>
				</div>
            </div>
        </section>
		{{!-- End Fibra 1Gb--}}
		{{!-- Política de Privacidad--}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">

        <section id="privacy" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-tarifaMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h4 class="vfes-title vfes-title--regular vfes-title--bold vfms-modal-title">Política de Privacidad</h4>

				<div class="vfms-offer-details-features">
					<p>
						Los datos que nos facilitas en el registro formarán parte de una base de datos de Vodafone España. S.A.U., con domicilio en Avda. América 115, 28042 de Madrid y serán tratados para facilitarte la información solicitada y poder contactar contigo en el futuro para llevar a cabo acciones comerciales, en caso de que nos hayas proporcionado tu consentimiento marcando el check habilitado al efecto.
					</p>
					<p>
						Podrás ejercitar los derechos de acceso, rectificación, cancelación, oposición, limitación dirigiéndote a Vodafone España a la dirección antes indicada. Mantendremos tus datos mientras no ejerzas tu derecho de cancelación. Podrás ponerte en contacto con el Delegado de Protección de Datos (DPO) a través de: DPO-SPAIN@vodafone.com
					</p>
				</div>
            </div>
        </section>

    </div>{{!-- End Política de privacidad --}}


		{{!-- Check Coverage --}}

				{{!-- <section id="check-coverage" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
					<div class="vfes-modal__head">
						<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray"
								xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px"
								height="36px">
								<title>Close</title>
								<use class="icon-v3" xlink:href="#icon3-close"></use>
							</svg></button>
					</div>
					<div class="vfes-modal__content js-modal-content vfms-check-coverage">
						<div class="vfms-text--container">
							<div class="vfms-icon-container">
								<img src="img/coverage/ico-location.png" alt="imagen icono cobertura">
							</div>
							<div class="vfms-coverage-text">
								<p class="vfes-title vfes-title--3  vfes-title--center vfes-title--bold vfes-mb">Consulta tu cobertura</p>
								<p class="vfes-paragraph vfes-paragraph--center">Comprueba si tienes cobertura de Fibra o ADSL en tu domicilio.</p>
							</div>
						</div>
						<div class="vfms-form--container vfes-colours-bg-dark-grey">
							<form class="vfes-form wg-form">
								<p class="vfes-title vfes-title--5  vfes-title--center vfes-title--bold">Te llamamos gratis</p>
								<div class="vfes-layout__item vfes-layout--center vfes-mb">
									<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
									<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
									<div class="vfes-layout__item vfms-flex vfes-mb">
									</div>
									<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input" type="phone" name="phone"
										inputmode="numeric" pattern="[0-9]*" maxlength="9" data-wg-validation="required,phone"
										placeholder="Nº teléfono"
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
				
									<div class="vfms-check-box-container">
										<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox" id="privacy-popup" value="on"
											type="checkbox" name="check" />
										<label class="vfes-form__label" for="privacy-popup">Acepto la <a
												href="https://www.vodafone.es/c/oferta/particulares/politica-privacidad/"
												id="condiciones" class="button-privacy" title="Vodafone One" target="_new" data-modal="legales"
												rel="nofollow"> Política de
												Privacidad</a></label>
										<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication-popup" name="gdpr" value="on" />
										<label class="vfes-form__label" for="comunication-popup">Acepto recibir comunicaciones
											comerciales de Vodafone </label>
									</div>
								</div>
				
				
								<input class="vfes-button vfes-button--green  vfms-large wg-submit tellamamos-ltc" data-analytics-element="Te llamamos gratis" data-analytics-context="particulares:oferta:pop up:fibra 100 mb" data-analytics-category="c2c" type="submit"
									value="Te llamamos gratis">
							</form>
						</div>
					</div>
				</section> --}}

		{{!-- End Check Coverage --}}
    
	</div>
</div>
<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>
