<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nudge dinámico</title>
    <link href="css/ws2r.v15.css" rel="stylesheet" data-vfes-inline-asset/>
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />

</head>
<body>
    <div class="vfes-ms-content vfms-banner" id="nudge-dinamico">
        <div class="vfms-banner-container vfes-layout__wrapper">

            <div class="vfes-layout__item vfes-1/2 vfes-1/1-mov vfes-align--right vfms-banner-element">
                <div class="vfms-bolo-text vfms-bolo-text--l vfes-color-bg-vodafone-red vfes-align--right vfms-img--offer">
                    <div class="vfms-bolo-text__content vfms-bolo-text__content-1 vfes-align--center">
                        <p class="vfms-title--3 vfes-title--bold">Ahorra</p>
                        <p class="vfms-title--1 vfes-title--bold">XX <span class="vfes-title--3 vfms-title--3">€</span></p>
                        <p class="vfms-title--5 vfes-title--bold">durante un año</p>
                    </div>
                </div>
            </div>

            <div class="vfms-banner-content vfes-layout__item vfes-1/2 vfes-1/1-mov vfms-banner-element">
                <p class="vfes-mb0 vfes-pb- vfes-title--3 vfes-title--light">Por ser cliente</p>
                <p class="vfms-title-banner vfes-mb0 vfes-pb- vfes-title--1">Contrata <span class="vfes-title--bold" data-vfes-dinamic-field="name-rate">Vodafone One ilimitada Total</span> por solo <span class="vfes-title--bold" data-vfes-dinamic-field="price-rate">XX,XX€/mes</span></p>
                <p class="vfes-mb0 vfes-pb- vfes-title--4 vfes-title--light">Y llévate <span class="vfes-title--bold">GRATIS</span> el Pack TV <span class="vfes-title--bold" data-vfes-dinamic-field="offer-rate">Seriefans con HBO España</span></p>
                <a href="tel:900920157" class="vfes-button vfes-button--primary vfes-paragraph--large"
                    data-analytics-element="llama gratis" data-analytics-context="nudge tv"
                    data-analytics-category="cta">Llama gratis al 900 920 157</a>
            </div>
        </div>
    </div>
    </div>
    <script src="js/ws2r.v15.js"></script>
    <script src="js/main.js" data-vfes-inline-asset></script>
</body>

</html>