<link href="css/ws2r.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content vfes-pt-mov vfes-pb-mov vfes-pt-palm vfes-pb-palm vfes-pt" id="nudge-renueva" style="display: none">
    <div class="vfes-layout__wrapper vfes-flex vfms-flex--container">
		<div class="vfms-flex--item">
			<div class="vfms-text--align">
				<h3 class="vfes-title vfes-title--light vfms-title vfes-mb--mov vfes-mb-palm vfes-mb">¡Renueva tu móvil!</h3>
				<p class="vfes-title vfes-title--light vfms-text">Por ser cliente tenemos los <span class="vfes-title--bold">mejores precios</span> para ti</p>
				
				<a  title="Te llamamos" class="vfms-button vfms-button--tertiary vfes-mt" style="cursor: pointer;" onclick="ws_popup.open5emp('Renueva tu movil', true, 'nudge');" target="_parent"data-analytics-context="base sales renovacion terminales" data-analytics-element="te llamamos" data-analytics-category="cta">Te llamamos
					<span class="visually-hidden">: Te llamamos</span>
				</a>
			</div>
		</div>
		<div class="vfms-flex--item">
			<div class="vfes-flex vfes-flex__justify--center vfes-mb-mov">
				<img class="vfms-device hide--lrg" src="https://www.vodafone.es/c/statics/imagen/terminal-tablet-basesales-renueva.png">
				<img class="hide--sm" src="https://www.vodafone.es/c/statics/imagen/terminal-desk-basesales-renueva.png">
			</div>
		</div>
	</div>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
