<link href="css/ws2r.v14.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="footer">
	{{!-- footer--}}
	<footer >
		<div class="vfes-layout vfes-colours-bg-vodafone-grey vfes-ph-">
        <div class="vfes-layout__wrapper">
			<div class="vfes-layout__item vfes-1/1-mov vfes-1/1-palm vfes-1/1">
				<div class="vfms-footer-item__container vfes-flex vfes-flex__wrap vfes-flex__justify--center">
					<div>
						<span class="vfes-flex vfes-flex__align-items--center vfes-p- vfes-mr---mov vfes-mr-palm vfes-mr vfms-footer__icon">
							<svg class="js-icon-business js-icon-business" height="35" width="35" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>TV</title>
								<use class="icon3-business" xlink:href="#icon3-business"></use>
							</svg>
						</span>
					</div>
				<div class="vfes-flex vfes-flex__direction--column vfms-text-icon__container">
					<p class="vfes-paragraph vfms-footer__text">¿Eres autónomo?</p>
					<a class="vfms-footer__link vfes-colours--vodafone-white"
						href="https://oferta.vodafone.es/empresas/vodafone-one/?utm_medium=VF_Particulares&utm_campaign=link_landing_partis"
						target="_new">Accede a Vodafone Empresas</a>
				</div>
			
				<div class="vfms-footer__copyright">
					<p class="vfes-paragraph vfes-paragraph--right">© 2019 Vodafone España S.A.U.</p>
					<p class="vfes-paragraph vfes-paragraph--right">Avda. América 115, 28042 Madrid</p>
				</div>
				</div>
			</div>
		</div>
		</div>
	</footer>{{!-- footer --}}
</div>
<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>
