
// CSS del microsite
.vfes-ms-content {
        .vfms-flex-info {
            display: flex;
            align-items: center;
            .vfms-tv {
                margin-right: 10px;
                height: 24px;
                @media screen and (min-width: 970px) {
                    height: 30px;
                }
            }
        }
        .vfms-container--center {
            display: flex;
            justify-content: center;
            margin: 20px 0 20px -150px;
            .logo-hbo {
                width: 50px;
            }
        }
}
