// CSS del microsite
.vfes-ms-content{
    .vfms-hero {
        padding: 15px;
        @media screen and (min-width: 768px) {
            padding: 25px;
        }
        @media screen and (min-width: 1024px) {
            max-width: none;
        }
        &__img {
            max-width: 145px;
            @media screen and (min-width: 768px) {
                max-width: 270px;
            }
            @media screen and (min-width: 1024px) {
                max-width: 329px;
            }
        }
        &__img--container {
            margin-top: -20px;
            @media screen and (min-width: 768px) {
                position: absolute;
                top: 35px;
                right: 35px;
            }
            @media screen and (min-width: 1024px) {
                top: 20px;
            }
        }
        &__title {
            margin-bottom: 10px;
            @media screen and (min-width: 768px) {
                max-width: 415px;
                font-size: 40px;
            }
            @media screen and (min-width: 1024px) {
                max-width: 750px;
                font-size: 56px;
            }
        }
        &__subtitle {
            @media screen and (min-width: 768px) {
                max-width: 415px;
                font-size: 24px;
            }
            @media screen and (min-width: 1024px) {
                max-width: none;
                font-size: 28px;
            }
        }
    }
    .vfms-dark__breadcrumbs  {
        .vfes-link::after {
            border-top: 0.0625rem solid #fff;
            border-right: 0.0625rem solid #fff;
        }
    }
    .vfes-paragraph--large {
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }
    .vfms-tabs {
        &__container {
            padding: 0;
            margin-left: 0;
            margin-right: 0;

            .vfes-tabs__tab {
                padding: 0;
                margin-bottom: 40px;
            }
        }
    }
    button.vfes-button.vfes-tabs__tab-button.js-tab.vfes-tabs__tab-active {
        background-color: white;
        color: #333;
    }
    button.vfes-button.vfes-tabs__tab-button.js-tab {
        background: transparent;
        color: white;
    }
    button.vfes-button.vfes-tabs__tab-button.js-tab:hover {
        color: #333;
    }
    .vfes-carousel__bullets-bullet {
        background-color: transparent;
        border: 0;
        display: inline-block;
        font-size: 0;
        margin: 0;
        padding: 0.75rem;
        position: relative;
        vertical-align: middle;
    }
    .vfes-color-bg-vodafone-gray .vfes-carousel__bullets-bullet--active::after {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
    }
    .vfes-carousel__bullets-bullet::after {
        border: 0;
    }
    .vfes-carousel__bullets-bullet--active::before {
        opacity: 1;
        background: white;
    }
    .vfms-wrapper__container {
        @media screen and (min-width: 768px) {
            padding: 0;
        }
        @media screen and (min-width: 1024px) {
            max-width: none;
        }
    }
    .vfes-tabs__content {
        @media screen and (min-width: 1024px) {
            padding: 0;
        }
    }
    .vfms-devices {
        padding-bottom: 0;
        @media screen and (min-width: 768px) {
            padding-top: 30px;
        }
        &__wrapper {
            padding: 0;
            @media screen and (min-width: 1024px) {
                max-width: none;
            }
        }
    }
    .vfms-carousel{
        &__title {
            margin-bottom: 0;
            &--container {
                @media screen and (min-width: 1024px) {
                    min-height: 100px;
                }
            }
        }
        .li.vfes-carousel__list-element {
            min-height: 515px;
            @media screen and (min-width: 1024px) {
                min-height: 637px;
            }
        }
        .vfes-tag-label {
            .vfes-card {
                margin-bottom: 0;
                border-top-left-radius: 0;
            }
        }
        .vfes-card.vfes-card__product {
            min-height: 515px;
            margin-bottom: 0;
            @media screen and (min-width: 768px) {
                min-height: 545px;
            }
            @media screen and (min-width: 1024px) {
                min-height: 617px;
            }
        }
    }
    .vfms-packs {
        padding: 32px 15px;
        @media screen and (min-width: 1024px) {
            max-width: none;
        }
        &__layout {
            padding: 0;
        }
        &__card {
            margin-bottom: 0;
            border-top-left-radius: 0;
        }
        &__text {
            @media screen and (min-width: 768px) {
                min-height: 100px;
            }
        }
    }
    .vfms-item__price {
        font-size: 28px;
    }
    .vfms-rates__layout {
        .icon-corner {
            @media screen and (min-width: 1024px) {
                top: -20px;
            }
        }
    }
    .vfms-outstanding {
        color: white;
        background: #666;
    }
    .vfms-carousel {
        padding-top: 40px;
    }
    .vfms-hero__underline::after {
        @media screen and (min-width: 768px) {
            content: url(../img/subrayado.png);
            position: absolute;
            left: 17%;
            top: 77%;
        }
        @media screen and (min-width: 1024px) {
            left: 11%;
        }
    }
    .vfms-rates {
        padding: 0 15px 32px 15px;
        &__layout {
            padding: 0;
        }
        .vfms-tag-label--grey {
            border: 1px solid #666;
        }
        &__offer {
            min-width: 80px;
            margin-right: 10px;
        }
        &__wrapper {
            padding: 0;
            @media screen and (min-width: 1024px) {
                max-width: none;
            }
        }
        &__icon {
            position: relative;
            display: flex;
            align-items: center;
        }
        &--checkmarks {
            margin-top: 0;
        }
    }
    .vfms-convergente {
        &__icon {
            max-width: 50px;
            max-height: 50px;
        }
        &__bg {
            background-image: url('../img/convergente/bg-convergente-mobile.png');
            background-position: bottom center;
            background-repeat: no-repeat;
            background-position-y: 437px;
            background-position-x: -220px;
            @media screen and (min-width: 768px) {
                background-image: url('../img/convergente/bg-convergente-tablet.png');
                background-size: contain;
                background-position: bottom;
                background-position-x: -50px;
            }
            @media screen and (min-width: 1024px) {
                background-image: url('../img/convergente/bg-convergente-desktop.png');
                background-position-x: -225px;
            }
        }
    }
    .vfms-container {
        @media screen and (min-width: 1024px) {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            padding: 45px 0;
        }
        &__padding {
            padding-top: 20px;
        }
    }
    .vfms-renove__container {
        @media screen and (min-width: 1024px) {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
    .vfms-mr {
        margin-right: 7px;
    }
    .vfms-renove{
        padding: 0 15px;
        margin: -1px;
        @media screen and (min-width: 768px) { 
            padding: 32px 16px ;
            margin: 0;
        }
        @media screen and (min-width: 1024px) {
            padding: 50px 0;
        }
        &__img {
            border-radius: 6px;
        }
        &__text {
            
            @media screen and (min-width: 1024px) {
                text-align: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 530px;
            }
        }
    } 
    .vfms-s__visible {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .vfms-m__visible {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
    .vfms-l__visible {
        display: none;
        @media screen and (min-width: 1024px) {
            display: block;
        }
    }
}