<link href="css/ws10.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss />
<script>
    utag_data.default_plan = "tarifa movil ilimitada total"
    utag_data.plans_list = [{
        "product_name": "tarifa movil ilimitada total",
        "product_category": "movil",
        "product_variant": "ilimitados",
        "promotion_price_name": "50%/ mes durante 12 meses",
        "promotion_gift_name": "mejor tarifa online",
        "product_id": "",
        "product_detail": "",
        "product_sale_type": "yes:transactional",
        "product_additional_lines": [{
            "product_name": "",
            "product_category": "",
            "promotion_price_name": "",
            "promotion_gift_name": "",
            "product_id": ""
        }],
        "product_packs_tv": [{
            "product_name": "pack seriefans",
            "product_category": "tv",
            "promotion_price_name": "pack seriefans gratis",
            "promotion_gift_name": "",
            "product_id": ""
        }]
    }]
</script>
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="ilimitada" style="visibility: hidden;opacity: 0">
    <!-- BANNER & DIV TICKET QUE INYECTA WCS -->
    <section class="vf-banner ws10-u--1/1" data-js="_banner">
        <div class="ws10-o-wrapper">
            <div class="ws10-o-layout">
                <div class="vf-banner__textcontainer ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
                    <span class="ws10-u-heading--4">Tarifa Móvil ilimitada<strong> 50% dto. 1 año</strong></span>
                    <p class="ws10-u-heading--2-lt ws10-u--pt5x ws10-u--4/5@desktop">Navega <strong>a velocidad 5G</strong> y llama, <strong>no pongas límites a nada</strong></p>
                    <span class="ws10-u-color--primary ws10-flex ws10-flex__align-items--center"><img
                            class="ws10-u--pr1x" alt="icono mejor precio Vodafone"
                            src="img/banner/icono-bestprice.svg"><span>Mejor Precio Vodafone</span></span>
                </div>
                {{!-- TICKET --}}
                <div class="vfes-ws10 ws10-o-layout__item ws10-u--1/3@desktop ws10-u--2/5@tablet">
                    <div data-ws10-module-replace="1500091237784"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENIDO EN 2/3 DE LA PÁGINA -->
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
                <!-- MÓVIL -->
                <section class="vf-mobile ws10-u--pt12x">
                    <h3 class="ws10-u-heading--4 ws10-u--mb2x ws10-u-heading--4-lt">Móvil</h3>
                    <h3 class="ws10-u-heading--3"><strong>Datos ilimitados en tu móvil para TODO</strong></h3>
                    <div class="vf-mobile__animation">
                        <div class="vf-mobile__apps ws10-u--mt+">
                        </div>
                        <img class="vf-mobile__animation--img" src="img/section-mobile/mobile-apps.png"
                            alt="Algunas de las aplicaciones que podrás usar con tu móvil si tienes Tarifa Movil ilimitada Total">
                    </div>
                    <div class="vf-mobile__details ws10-flex ws10-flex__wrap">
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono Rayos</title>
                                <use class="icon-v3" xlink:href="#icon-thunder-3"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text">Datos ilimitados a máxima velocidad <strong>(1Gbps de bajada y de subida)</strong>.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <div class="ws10-c-product-detail__icon">
                                <img src="img/section-mobile/ic-game.svg" alt="Icono Consola">
                            </div>
                            <p class="ws10-c-product-detail__text"><strong>Juega sin límites los juegos online con una calidad extrema y sin cortes.</strong></p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono Descarga</title>
                                <use class="icon-v3" xlink:href="#icon-cloud-download-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text">Descarga y sube todos los archivos que quieras.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono Play</title>
                                <use class="icon-v3" xlink:href="#icon-play-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text">Disfruta de streaming sin necesidad de conectarte al WiFi, tú y tus datos.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>titulo</title>
                                <use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text">Todo con la nueva <strong>velocidad 5G.</strong></p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono llamadas</title>
                                <use class="icon-v3" xlink:href="#icon-unified-communication-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text"> <strong>Llamadas y SMS ilimitados</strong> con
                                cualquier operador nacional las 24 horas, establecimiento incluido.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono roaming</title>
                                <use class="icon-v3" xlink:href="#icon-roaming-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text"> <strong>Roaming incluido en Europa, Reino Unido y
                                    EEUU.</strong> Disfruta con las mismas condiciones de tu tarifa, sin preocupaciones
                                también en EEUU.</p>
                        </div>
                    </div>
                </section>
                <!-- TELEVISIÓN -->
                <section class="vf-tv ws10-u--pt12x">
                    <h3 class="ws10-u-heading--4 ws10-u--mb2x ws10-u-heading--4-lt">Televisión sin deco en tus dispositivos</h3>
                    <h3 class="ws10-u-heading--3 ws10-u--mb0"><strong>Pack TV Seriefans GRATIS 1 año</strong></h3>
                    <p class="ws10-u-heading--3 ws10-u-heading--4-lt">incluye HBO y 60 canales más
                    </p>
                    <div class="ws10-c-carousel-cover" data-ws10-js="carousel-cover"
                        data-ws10-config='{"autoAnim": true}'>
                        <ul class="ws10-c-carousel-cover__list">
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/01.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/02.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/03.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/04.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/05.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/06.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/07.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/08.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>
                            <li class="ws10-c-carousel-cover__item js-carousel-cover-item">
                                <img src="img/section-tv/09.jpg" class="ws10-c-carousel-cover__img"
                                    alt="Portada de serie incluida en el pack Seriefans">
                            </li>

                        </ul>
                    </div>
                    <p>Disfruta ahora del <strong>Pack Seriefans GRATIS 1 año</strong>, este Pack incluye todas las temporadas de las series de <strong>HBO España, FOXNOW, AXN Now</strong> y muchos más canales especializados en series para verlas cuando tú quieras.</p>
                    <div class="ws10-c-logo-list ws10-c-logo-list--mini">
                        <ul class="ws10-c-logo-list__list">
                            <li class="ws10-c-logo-list__item">
                                <img src="img/section-tv/hbo-logo.png" class="ws10-c-logo-list__logo" alt="">
                            </li>
                            <li class="ws10-c-logo-list__item">
                                <img src="img/section-tv/foxnow.png" class="ws10-c-logo-list__logo" alt="">
                            </li>
                            <li class="ws10-c-logo-list__item">
                                <img src="img/section-tv/axnnow.png" class="ws10-c-logo-list__logo" alt="">
                            </li>
                        </ul>
                        <p class="ws10-c-logo-list__w-show-all">
                            <a class="ws10-c-logo-list__show-all vfms-link" data-backdrop="seriefans" data-backdrop-close
                                aria-haspopup="dialog" data-analytics-context="Pack seriefans" data-analytics-element="ver todos los canales" data-analytics-category="cta" data-analytics-id="-6241792886380">
                                Ver todos los canales incluidos
                            </a>
                        </p>
                        <p>(*) En el proceso de completa tu pedido podrás modificar el pack de tv por el que más se ajuste a tus necesidades. Recuerda que este regalo es un descuento de 10€ en la tv, podrás obtener el Pack Serielovers con HBO España y Amazon Prime por 4€ (14€/mes sin promo).</p>
                    </div>
                </section>

                <!-- DECODIFICADOR -->
                <section class="vf-deco ws10-u--pt12x">
                    <h3 class="ws10-u-heading--3"><strong>¿Cómo es la experiencia de TV sin deco?</strong></h3>
                    <img class="ws10-u--1/1" src="img/section-deco/bodegon-sindeco.png"
                        alt="interfaz de tv Vodafone en diferentes dispositivos: tv, tablet y móvil">
                    <p>Vodafone TV con <strong>Vodafone TV con calidad HD en tu Smart TV (a través de la App Vodafone TV) y en tus dispositivos como móvil, tablet, PC, Fire TV Stick y Chromecast</strong> para disfrutar de una experiencia online.</p>
                    <div class="ws10-c-logo-list ws10-c-logo-list--mini">
                        <p class="ws10-c-logo-list__w-show-all">
                            <a class="ws10-c-logo-list__show-all vfms-link" data-backdrop="dispositivos-compatibles"
                                data-backdrop-close aria-haspopup="dialog" data-analytics-context="dispositivos compatibles" data-analytics-element="consultar dispositivos compatibles" data-analytics-category="cta" data-analytics-id="-9996268453132">
                                Consultar dispositivos compatibles
                            </a>
                        </p>
                    </div>
                    <div class="vf-deco__details ws10-flex ws10-flex__wrap">
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>apps icon</title>
                                <use class="icon-v3" xlink:href="#icon-apps-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text">Más de <strong>50.000 contenidos disponibles</strong> bajo demanda.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono Play</title>
                                <use class="icon-v3" xlink:href="#icon-play-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text">No te pierdas nada, todo el <strong>contenido desde el principio</strong> y con control del directo.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">

                            <img class="ws10-c-product-detail__icon" src="img/section-deco/icon-control.svg"
                                alt="icono control del contenido">
                            <p class="ws10-c-product-detail__text">Los contenidos <strong>siempre disponibles</strong> con Últimos 7 días, Grabación, Ver Ahora.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono Devices</title>
                                <use class="icon-v3" xlink:href="#icon-connected-devices-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text"><strong>2 reproducciones simultáneamente</strong> en diferentes dispositivos.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono Descarga</title>
                                <use class="icon-v3" xlink:href="#icon-cloud-download-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text"><strong>Descarga tus contenidos</strong> para verlos estés donde estés y cuando quieras.</p>
                        </div>

                    </div>
                </section>

                <!-- TAMBIÉN INCLUIDO -->
                <section class="vf-mobile ws10-u--pt12x">
                    <h3 class="ws10-u-heading--3"><strong>También incluido en la Tarifa Móvil Ilimitada Total</strong></h3>
                    <div class='ws10-c-carousel ws10-c-carousel--secondary ws10-c-carousel--secondary-left ws10-u--pl0'
                        data-ws10-js='carousel'
                        data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":1},"2":{"breakpoint":970,"elements":2}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
                        <ul class='ws10-c-carousel__list js-carousel-list' id="idUl" aria-labelledby="idList">
                            <li class='ws10-c-carousel__list-element js-carousel-list-element'>
                                <div class="ws10-c-card ws10-c-card--no-shadow">
                                    <div class="ws10-c-card-addons">
                                        <div class="ws10-c-card-addons__box">
                                            <img class="ws10-u--pr1x" src="img/section-addons/secureNet.svg"
                                                alt="SecureNet">
                                            <h3 class="ws10-c-card-addons__title"><strong>SecureNet</strong></h3>
                                        </div>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb5x">Mantén seguro
                                            completamente tu smartphone ante amenazas externas con el antivirus
                                            integrado en el servicio Secure Net. Navega sin preocupaciones en todos tus
                                            dispositivos.</p>
                                        <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong> durante 3
                                            meses, después 1€/mes.</p>
                                    </div>
                                </div>
                            </li>
                            <li class='ws10-c-carousel__list-element js-carousel-list-element'>
                                <div class="ws10-c-card ws10-c-card--no-shadow">
                                    <div class="ws10-c-card-addons">
                                        <div class="ws10-c-card-addons__box">
                                            <img class="ws10-u--pr1x" src="img/section-addons/tidal.svg" alt="Tidal">
                                            <h3 class="ws10-c-card-addons__title"><strong>Tidal</strong></h3>
                                        </div>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb5x">Plataforma de música en
                                            streaming para que disfrutes de tu música con la mejor calidad de audio.</p>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb12x"><strong>GRATIS</strong>
                                            durante 3 meses, después 7,99€/mes.</p>
                                    </div>
                                </div>
                            </li>
                            <li class='ws10-c-carousel__list-element js-carousel-list-element'>
                                <div class="ws10-c-card ws10-c-card--no-shadow">
                                    <div class="ws10-c-card-addons">
                                        <div class="ws10-c-card-addons__box">
                                            <img class="ws10-u--pr1x" src="img/section-addons/numberOne.svg"
                                                alt="Tidal">
                                            <h3 class="ws10-c-card-addons__title"><strong>OneNumber</strong></h3>
                                        </div>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb5x"><strong>Mismo número y misma tarifa de voz y datos en todos tus dispositivos</strong> sin tener que cambiar la SIM con OneNumber.
                                        <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong> 1 mes, después 5€/mes.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <span class="ws10-c-carousel__helperText ws10-u--pl0" id="idList" style="left: 0">(*)Todos los
                            servicios podrás gestionarlos en la App Mi Vodafone</span>
                    </div>
                </section>

                <!-- SIN SORPRESAS -->
                <section class="vf-mobile ws10-u--pt12x">
                    <h3 class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column">
                        <span><strong>Sin sorpresas.</strong></span>
                        <span><strong>No escondemos nada</strong></span>
                    </h3>
                    <p class="ws10-u--mb0">Impuestos y cuota de línea incluidos.</p>
                    <p>Envío de SIM gratuito.</p>
                    <p>Pack Seriefans GRATIS 1 año.</p>
                    <p>Después de 1 año desde la contratación pagarás 47,99€/mes.
                    </p>
                    <p>Permanencia 1 año.</p>
                    <a class="vfes-link vfms-link vfes-link--red-chevron" target="_blank" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/legales/" title="Ver condiciones legales" data-analytics-element="ver condiciones legales sin sorpresas" data-analytics-context="ficha tarifa ilimitada total" data-analytics-category="cta" data-analytics-id="1500089062107-0542767592125">Ver condiciones legales</a>
                </section>
                <!-- TIMELINE  -->
                <section class="vf-timeline ws10-u--pt12x">
                    <h3 class="ws10-u-heading--4"><strong>¿Cómo contrato la Tarifa Móvil Ilimitada Total?</strong></h3>
                    <ul class="ws10-c-timeline-steps">
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Icono carrito</title>
                                <use xlink:href='#icon-shopping-trolley-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Compra online</p>
                            <p class="ws10-c-timeline-steps__text">Recibirás un email de confirmación con el detalle de tu pedido y próximos pasos.</p>
                        </li>
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Icono portabilidad</title>
                                <use xlink:href='#icon-business-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Portabilidad</p>
                            <p class="ws10-c-timeline-steps__text">Eliges la fecha y lugar de entrega de tu nueva SIM y sabrás el día exacto del cambio. Nos aseguraremos que no te quedas sin línea.</p>
                        </li>
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Icono envío</title>
                                <use xlink:href='#icon-bundles-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Recibe la SIM</p>
                            <p class="ws10-c-timeline-steps__text">El envío puede tardar entre 2-3 días laborables (en la penisula) y 5-7 (a Baleares y Canarias, Ceuta o Melilla).</p>
                        </li>
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Business</title>
                                <use xlink:href='#icon-unified-communication-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Mi Vodafone</p>
                            <p class="ws10-c-timeline-steps__text">Podrás registrarte y hacer el seguimiento de tu pedido y gestionar tus servicios desde la app de Vodafone.</p>
                        </li>
                    </ul>
                </section>
                <!-- FAQS  -->
                {{!-- <section class="vf-faqs ws10-u--pt12x ws10-u--pb16x">
                    <h3 class="ws10-u-heading--4"><strong>Preguntas Frecuentes</strong></h3>
                    <div class="ws10-c-accordion">
                        <details class="ws10-c-accordion__item" id="item1">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué incluye la Tarifa Móvil Ilimitada Total?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>La Tarifa Móvil ilimitada Total de Vodafone incluye datos ilimitados de navegación a máxima velocidad 5G, además de llamadas ilimitadas, tanto a fijos como a móviles. Permite disfrutar de navegación ultrarrápida, visualizar vídeos en streaming de máxima calidad, jugar a videojuegos online, descargar y subir ficheros de gran tamaño, etc… con una velocidad de 1Gbps. También puedes hacer una portabilidad o disfrutarla con un número de teléfono nuevo.</p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item2">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué puedo hacer con datos 5G ilimitados?</p>
                                 <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p> Disfruta de tus datos 5G limitados con la red de telefonía más veloz del momento, gracias a nuestra infraestructura de red móvil, independiente y avanzada. Con su mayor velocidad y su menor menor latencia, los datos 5G ilimitados te permiten, además de una navegación fluida, la posibilidad de disfrutar de películas y series en streaming con la mayor calidad. Esto y muchas te permitiría una experiencia a la hora de utilizar el móvil como nunca antes.</p>
                                <p>Ahora más que nunca, disfruta de tus datos ilimitados en cualquier lugar y en cualquier momento.</p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item3">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué es Vodafone TV sin deco (decodificador)?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                   Vodafone TV sin deco (decodificador) es la nueva experiencia para disfrutar de todos los contenidos de televisión sin disponer del decodificador asociado a la fibra, sino más bien a través de la App Vodafone TV asociado a tu tarifa móvil. Ahora podrás ver las mejores series y películas desde los dispositivos compatibles a través de la App Vodafone TV.
                                </p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item4">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Cómo se activa Vodafone TV?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                    Una vez realizada la compra, recibirás un email de activación de servicio en el email que hayas introducido durante el proceso de compra.
                                </p>
                                <p>Podrás activar HBO España desde la App de Mi Vodafone.</p>
                                <p>Después, descarga la app de Vodafone TV, para ver todo el contenido estés donde estés… Y… DISFRUTA.</p>
                            </article>
                        </details>

                        <details class="ws10-c-accordion__item" id="item5">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué dispositivos son compatibles con la TV sin deco (decodificador)?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                    Puedes disfrutar de Vodafone TV sin decodificador a través de los siguientes dispositivos:
                                </p>
                                <ul>
                                    <li><p>Modelos de smart TV Samsung (a partir de 2017).</p></li>
                                    <li><p>Modelos de smart TV Sony (desde 2015), Philips (desde 2018) y Xiaomi con Android TV.</p></li>
                                    <li><p>Comprueba que tu smart TV es compatible con la App Vodafone TV.</p></li>
                                    <li><p>Móvil / Tablet iOS y Android.</p></li>
                                    <li><p>PC / Mac.</p></li>
                                    <li><p>Fire TV Stick.</p></li>
                                    <li><p>Chromecast.</p></li>
                                    <li><p>Vodafone TV sin decodificador te permite tener hasta 4 dispositivos registrados y realizar hasta 2 reproducciones simultáneas.</p></li>
                                </ul>
                                <p>También puedes efectuar hasta 5 cambios o eliminaciones de dispositivos registrados en un mes. Entra en vodafonetvonline.es, en la sección "Mi Cuenta > Dispositivos", selecciona el dispositivo que quieres eliminar y pulsa "Aceptar".</p>
                                <p>La App Vodafone TV no está disponible en Apple TV.</p>
                            </article>
                        </details>

                        <details class="ws10-c-accordion__item" id="item6">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué significa poder descargar y subir archivos de gran tamaño?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                   Gracias a la tarifa ilimitada total, podrás descargar y subir archivos de cualquier tipo (documentos, vídeos, música) sin tener que preocuparte del peso de los mismos.
                                </p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item7">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué significa vídeos en máxima calidad (UHD Y 4K)?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                   Disfruta de vídeos de la máxima calidad, en Alta Definición (HD) que te garantiza una resolución superior de imágenes por pantalla. Unido a pantallas de alta definición, y gracias a los datos ilimitados de la tarifa total, podrás disfrutar de imágenes con un elevado detalle y claridad para una experiencia de usuario visual y nítida. Además, gracias a los formatos UHD (Ultra HD) y 4K, tus películas dispondrán de una mejora en su calidad gracias a un mayor número de píxeles por pantalla.
                                </p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item8">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Puedo disfrutar de juegos online sin restricciones?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                   Con tu tarifa ilimitada total, disfruta de los últimos juegos online para móviles en tu dispositivo smartphone (Fortnite, Pokemon Go, Clash Royale y todos los que quieras). Gracias a los datos ilimitados, y a la velocidad de conexión 5G, disfruta de partidas en solitario o con amigos con la máxima fluidez, velocidad y sin lags de ningún tipo. ¡Saca el lado gamer que llevas dentro donde sea, con quien sea y cuando sea!
                                </p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item9">
                        <summary class="ws10-c-accordion__header">
                            <p class="ws10-c-accordion__title">¿Puedo contratar líneas adicionales con la Tarifa Móvil Ilimitada Total?</p>
                            <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                <title>Deploy</title>
                                <use xlink:href="#icon-chevron-down"></use>
                            </svg>
                        </summary>
                        <article class="ws10-c-accordion__content">
                            <p>
                                Si no eres cliente Vodafone puedes contratar más de una línea en el proceso de compra de la tarifa móvil. Cuando estés tramitando el pedido en la web, te daremos la opción de incluir más líneas con un 50% de descuento en cada una de ellas. Podrás realizar todo el trámite de manera digital de una forma rápida y sencilla. Si ya eres cliente Vodafone, podrás contratar líneas adicionales entrando en la App Mi Vodafone, desde tu área privada podrás añadir más líneas a tu plan actual. Si lo prefieres, también puedes llamar gratis al siguiente teléfono: <a href="tel:900920052">900 920 052</a>.
                            </p>
                        </article>
                        </details>
                    </div>
                </section> --}}
            </div>
        </div>
    </div>
    <!-- POPUPS -->
    <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
        <!-- POPUP TV -->
        <section id="seriefans" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog"
            aria-modal="true">
            <div class="ws10-c-backdrop__head">
                <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                    <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="ws10-c-backdrop__content js-backdrop-content ws10-u--pt0 ws10-u--mt0">
                <p class="ws10-u-heading--4 ws10-u-heading--4-lt ws10-align--center ws10-u--pt0 ws10-u--mt0">Canales Pack Seriefans</p>
                <ul class="ws10-flex ws10-flex__wrap">
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/foxnow.png" alt="logo canal Foxnow">
                        <p class="ws10-c-paragraph ws10-u--mb0">FOXNOW</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/hbo.png" alt="logo HBO">
                        <p class="ws10-c-paragraph ws10-u--mb0">HBO España</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/axnnow.png" alt="logo canal Axn Now">
                        <p class="ws10-c-paragraph ws10-u--mb0">AXN Now</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/tnt.png" alt="logo canal TNT">
                        <p class="ws10-c-paragraph ws10-u--mb0">TNT</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/fox.png" alt="logo canal Fox">
                        <p class="ws10-c-paragraph ws10-u--mb0">FOX</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/syfy.png" alt="logo canal Syfy">
                        <p class="ws10-c-paragraph ws10-u--mb0">SYFY</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/calle13.png" alt="logo canal Calle 13">
                        <p class="ws10-c-paragraph ws10-u--mb0">Calle 13</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/axn.png" alt="logo canal AXN">
                        <p class="ws10-c-paragraph ws10-u--mb0">AXN</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/4 ws10-u--1/6@tablet ws10-align--center">
                        <img src="img/section-tv/popup/seriefans/axnwhite.png" alt="logo canal AXN White">
                        <p class="ws10-c-paragraph ws10-u--mb0">AXN White</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- POPUP DISPOSITIVOS COMPATIBLES -->

    </div>
      <div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
        <section id="dispositivos-compatibles" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true"
            role="dialog" aria-modal="true">
            <div class="ws10-c-backdrop__head">
                <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false">
                    <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
            </div>
            <div class="ws10-c-backdrop__content js-backdrop-content ws10-u--pt0 ws10-u--mt0 ws10-o-wrapper">
                <p
                    class="ws10-u-heading--4 ws10-u-heading--4-lt ws10-align--center ws10-u--pt0 ws10-u--mt0 ws10-u--pb2x">
                    Dispositivos compatibles</p>
                <ul class="ws10-o-layout">
                    <li class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-flex ws10-flex__align-items--center">
                        <svg class="ws10-u--pr1x vf-icon--devices" style="width: 60px; height: 60px;">
                            <title>icon-tv-mid</title>
                            <use xlink:href="#icon-mobile-mid" class="icon-v3"></use>
                        </svg>
                        <p class="ws10-c-paragraph ws10-u--mb0">Móvil / Tablet iOS y Android.</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-flex ws10-flex__align-items--center">
                        <svg class="ws10-u--pr1x vf-icon--devices" style="width: 60px; height: 60px;">
                            <title>icon-tv-mid</title>
                            <use xlink:href="#icon-tv-mid" class="icon-v3"></use>
                        </svg>
                        <p class="ws10-c-paragraph ws10-u--mb0">Modelos de smart TV Samsung (a partir de 2017). Modelos de smart TV Sony (desde 2015) , Philips (desde 2018) y Xiaomi y TCL con Android TV.
                        </p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-flex ws10-flex__align-items--center">
                        <svg class="ws10-u--pr1x vf-icon--devices" style="width: 60px; height: 60px;">
                            <title>icon-connected-devices-mid</title>
                            <use xlink:href="#icon-connected-devices-mid" class="icon-v3"></use>
                        </svg>
                        <p class="ws10-c-paragraph ws10-u--mb0">Chromecast.</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-flex ws10-flex__align-items--center">
                        <svg class="ws10-u--pr1x vf-icon--devices" style="width: 60px;height: 60px;">  
                            <title>icon-desktop-mid</title>
                            <use xlink:href="#icon-desktop-mid" class="icon-v3"></use>
                        </svg>
                        <p class="ws10-c-paragraph ws10-u--mb0">PC/Mac.</p>
                    </li>
                    <li class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-flex ws10-flex__align-items--center">
                        <img class="vf-icon--devices" src="img/section-tv/icono-fire-tv.svg" alt="icono Fire TV Stick" class="ws10-u--pr1x"
                            style="width: 60px; height: 60px;">
                        <p class="ws10-c-paragraph ws10-u--mb0">Fire TV Stick.</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>

</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>