<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content vfes-ws10 vfes-colours-bg-light-grey" id="lpSamsungCanvas" style="display: none">
	
		{{!-- HERO --}}
		<header class="vfms-hero vfes-pt+ vfes-pb+ vfes-colours-bg-vodafone-white">
			<div class="vfes-layout__wrapper">
				<div class="vfes-layout__item vfes-1/2 vfes-2/3-palm vfes-1/1-mov vfms-hero__item">
					<h2 class="vfes-title vfes-title--2 vfes-title--bold vfms-hero__title vfes-mb0">Nuevos Samsung Galaxy Note20 | Note20 Ultra 5G</h2>
					<p class="vfes-title vfes-title--2 vfes-title--light vfms-hero__title vfes-mb0">Resérvalo ya y elige tu regalo: Gaming Pack o Music Pack</p>
				</div>
			</div>
		</header>
		<main class="vfes-layout__wrapper">
			{{!-- NOTE/ULTRA SECTION --}}
			<section class="vfes-align--center vfes-mt+">
				<div class="vfes-layout__item"> 
					<h3 class="vfes-title vfes-title--bold vfes-title--left vfes-title--2 vfes-mb-">Samsung Galaxy Note20 | Note20 Ultra 5G</h3>
					<p class="vfes-title vfes-title--2 vfes-title--left vfes-title--light vfes-mb0">Elige tu nuevo Samsung con el regalo que más se adapta a ti.</p> 
					<p class="vfes-title vfes-title--2 vfes-title--left vfes-title--light">Una vez que recibas tu nuevo Galaxy Note20 debes registrar la promoción en la app de Samsung Members y seleccionar uno de los regalos.</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-tabs vfes-tabs--simple" data-vfes-js="_tabsWs10">
							<ul class="vfes-tabs__container vfes-mt--mov vfes-mt0">
								<li class="vfes-tabs__tab  vfes-mr vfes-mr0-palm vfes-mr0-mov">
									<button class="vfes-tabs__tab-button js-tab vfes-tabs__tab-active" data-option="1" role="tab" aria-controls="simpletab1" title="tarifa movil + fibra" aria-label="tarifa movil + fibra" aria-selected="true">Móvil + Fibra</button>
								</li>
								<li class="vfes-tabs__tab" >
									<button class="vfes-tabs__tab-button js-tab" data-option="2" role="tab" aria-controls="simpletab2" title="tarifa movil" aria-label="tarifa movil" aria-selected="false">Móvil</button>
								</li>
							</ul>
							{{!-- Tab movil + fibra --}}
							<div class="vfes-tabs__content vfes-tabs__content-open  vfes-colours-bg-light-grey" data-tab="1" id="simpletab1" role="tabpanel">
								<div class="vfes-layout vfms-mobile">
									<div class="vfes-layout__wrapper">
										{{!-- ITEM 1 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 5G + Gaming Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 5G + Gaming Pack"
												src="img/devices/note20game.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__green vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 5G + Gaming Pack Verde</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.7”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12 MP F1.8</p>
															<p>12 MP F2.2</p>
															<p>64MP 3x F2.1</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>256GB</p>
															<p>RAM 8GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>25€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="noteOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 5G + Gaming Pack"
													data-analytics-context="samsung galaxy note20 5g + gaming pack tab movil + fibra"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 5G + Gaming Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 2 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 5G + Music Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 5G + Music Pack"
												src="img/devices/note20buds.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__green vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 5G + Music Pack Verde</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.7”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12 MP F1.8</p>
															<p>12 MP F2.2</p>
															<p>64MP 3x F2.1</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>Interna 256GB</p>
															<p>RAM 8GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>25€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="noteOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 5G + Music Pack"
													data-analytics-context="samsung galaxy note20 5g + music pack tab movil+fibra"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 5G + Music Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 3 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 Ultra 5G + Gaming Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 Ultra 5G + Gaming Pack"
												src="img/devices/note20ultragame.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li class="vfes-mr-">
															<div class="vfms-mobile-colors vfms-mobile-colors__black vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Gaming Pack Negro</span>
															</div>
														</li>
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__pink vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Gaming Pack Rosa</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.9”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>108MP F1.8</p>
															<p>12MP F2.2</p>
															<p>12MP 5x  F3.0</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>256GB + Micro SD</p>
															<p>RAM 12GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span class="vfms-mobile-prices-big"><strong>28,50€/mes</strong></span> en 36 meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial </p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="ultraOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 Ultra 5G + Gaming Pack"
													data-analytics-context="samsung galaxy note20 ultra 5g + gaming pack tab movil + fibra"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 Ultra 5G + Gaming Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 4 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 Ultra 5G + Music Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 Ultra 5G + Music Pack"
												src="img/devices/note20ultrabuds.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li class="vfes-mr-">
															<div class="vfms-mobile-colors vfms-mobile-colors__black vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Music Pack Negro</span>
															</div>
														</li>
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__pink vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Music Pack Rosa</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.9”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>108MP F1.8</p>
															<p>12MP F2.2</p>
															<p>12MP 5x  F3.0</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>256GB + Micro SD</p>
															<p>RAM 12GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>28,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="ultraOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 Ultra 5G + Music Pack"
													data-analytics-context="samsung galaxy note20 ultra 5g + music pack tab movil + fibra"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 Ultra 5G + Music Pack</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{{!-- Tab movil--}}
							<div class="vfes-tabs__content vfes-colours-bg-light-grey" data-tab="2" id="simpletab2" role="tabpanel">
								<div class="vfes-layout vfms-mobile">
									<div class="vfes-layout__wrapper">
										{{!-- ITEM 3 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 5G + Gaming Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 5G + Gaming Pack"
												src="img/devices/note20game.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__green vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 5G + Gaming Pack Verde</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.7”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12 MP F1.8</p>
															<p>12 MP F2.2</p>
															<p>64MP 3x F2.1</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>256GB</p>
															<p>RAM 8GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>25€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="noteOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 5G + Gaming Pack"
													data-analytics-context="samsung galaxy note20 5g + gaming pack"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 5G + Gaming Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 4 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 5G + Music Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 5G + Music Pack"
												src="img/devices/note20buds.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__green vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 5G + Music Pack Verde</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.7”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12 MP F1.8</p>
															<p>12 MP F2.2</p>
															<p>64MP 3x F2.1</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>Interna 256GB</p>
															<p>RAM 8GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>25€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="noteOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 5G + Music Pack"
													data-analytics-context="samsung galaxy note20 5g + music pack"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 5G + Music Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 3 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 Ultra 5G + Gaming Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 Ultra 5G + Gaming Pack"
												src="img/devices/note20ultragame.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li class="vfes-mr-">
															<div class="vfms-mobile-colors vfms-mobile-colors__black vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Gaming Pack Negro</span>
															</div>
														</li>
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__pink vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Gaming Pack Rosa</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.9”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>108MP F1.8</p>
															<p>12MP F2.2</p>
															<p>12MP 5x  F3.0</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>256GB + Micro SD</p>
															<p>RAM 12GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>28,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="ultraOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 Ultra 5G + Gaming Pack"
													data-analytics-context="samsung galaxy note20 ultra 5g + gaming pack tab movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 Ultra 5G + Gaming Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 4 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy Note20 Ultra 5G + Music Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note20 Ultra 5G + Music Pack"
												src="img/devices/note20ultrabuds.png">
												<div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li class="vfes-mr-">
															<div class="vfms-mobile-colors vfms-mobile-colors__black vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Music Pack Negro</span>
															</div>
														</li>
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__pink vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy Note20 Ultra 5G + Music Pack Rosa</span>
															</div>
														</li>
													</ul>
												</div>
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.9”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>108MP F1.8</p>
															<p>12MP F2.2</p>
															<p>12MP 5x  F3.0</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>256GB + Micro SD</p>
															<p>RAM 12GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>28,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="ultraOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Note20 Ultra 5G + Music Pack"
													data-analytics-context="samsung galaxy note20 ultra 5g + music pack tab movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Note20 Ultra 5G + Music Pack</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>
				{{!-- WHY SECTION --}}
				<div class="vfes-layout vfes-why-vodafone vfes-why-vodafone--gray">
					<div class="vfes-layout__wrapper vfes-colours--dark-grey">
						<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
							<div class="vfes-why-vodafone__background vfms-why__size">
								<img class="vfms-why__icons" src="img/why/gamepad-icon.svg">
							</div>
							<p class="vfes-why-vodafone__title">Gaming Pack</p>
							<p class="vfes-why-vodafone__paragraph">Con el Gaming Pack del Galaxy Note20 | Note20 Ultra 5G llévate una suscripción de <span class="vfes-title--bold">3 meses XBOX Game Pass, un mando XBOX</span> MOGA XP5 -X + controller y cargador inalámbrico <span class="vfes-title--bold">GRATIS.</span></p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
							<div class="vfes-why-vodafone__background vfms-why__size">
								<img class="vfms-why__icons" src="img/why/music-icon.svg">
							</div>
							<p class="vfes-why-vodafone__title">Music Pack</p>
							<p class="vfes-why-vodafone__paragraph">Lleva tu música siempre contigo y escúchala con el music Pack. Si compras un Galaxy Note20 Ultra 5G llévate de <span class="vfes-title--bold">REGALO</span> unos <span class="vfes-title--bold">Galaxy Buds Live; o los Galaxy Buds+</span> si compras un Galaxy Note20 5G.</p>
						</div>
					</div>
				</div>
			</section>
		
			{{!-- WATCH SECTION --}}
			<section class="vfes-align--center">
				<div class="vfes-layout__item"> 
					<h3 class="vfes-title vfes-title--bold vfes-title--left vfes-title--2 vfes-mb-">Además reserva el nuevo Samsung Galaxy Watch3</h3>
					<p class="vfes-title vfes-title--2 vfes-title--left vfes-title--light vfes-mb0">Y elige el regalo que más se adapta a ti.</p>
					<p class="vfes-title vfes-title--2 vfes-title--left vfes-title--light">Una vez que recibas tu nuevo Galaxy Watch3 debes registrar la promoción.</p>
					<div class="vfes-layout vfes-p0">
						<div class="vfes-tabs vfes-tabs--simple" data-vfes-js="_tabsWs10">
							<ul class="vfes-tabs__container vfes-mt--mov vfes-mt0">
								<li class="vfes-tabs__tab vfes-mr vfes-mr---mov">
									<button class="vfes-tabs__tab-button js-tab vfes-tabs__tab-active" data-option="3" role="tab" aria-controls="simpletab3" title="tarifa movil + fibra" aria-label="tarifa movil + fibra" aria-selected="false">Móvil + Fibra</button>
								</li>
								<li class="vfes-tabs__tab">
									<button class="vfes-tabs__tab-button js-tab" data-option="4" role="tab" aria-controls="simpletab4" title="tarifa movil" aria-label="tarifa movil" aria-selected="true">Móvil</button>
								</li>
							</ul>
							{{!-- Tab movil + fibra --}}
							<div class="vfes-tabs__content vfes-tabs__content-open vfes-colours-bg-light-grey" data-tab="3" id="simpletab3" role="tabpanel">
								<div class="vfes-layout vfms-mobile">
									<div class="vfes-layout__wrapper">
										{{!-- ITEM 1 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy Watch3 Bronze + Wireless Charger</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Watch3 Bronze + Wireless Charger"
												src="img/devices/watchbronzewireless-charger.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>41 mm</p>
															<p>pantalla 1.2’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/battery-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>247 mAh</p>
															<p>43 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>10€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Watch3 Bronze + Wireless Charger" data
													data-analytics-context="samsung galaxy watch3 bronze + wireless charger tab fibra + movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Watch3 Bronze + Wireless Charger</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 2 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy Watch3 Black + Wireless Charger</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Watch3 Black + Wireless Charger"
												src="img/devices/watchblackwireless-charger.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>45 mm</p>
															<p>pantalla 1.4’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/battery-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>340 mAh</p>
															<p>56 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>10,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Watch3 Black + Wireless Charger"
													data-analytics-context="samsung galaxy watch3 black + wireless charger tab movil+fibra"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Watch3 Black + Wireless Charger</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 3 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy Watch3 Bronze + Battery Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Samsung Galaxy Watch3 Bronze + Battery Pack"
												src="img/devices/watchbronzek-batterypack.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>41 mm</p>
															<p>pantalla 1.2’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>247 mAh</p>
															<p>43 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>10€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Watch3 Bronze + Battery Pack"
													data-analytics-context="samsung galaxy watch3 bronze + battery pack tab fibra+movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Watch3 Bronze + Battery Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 4 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy  Watch 3 Black + Battery Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy  Watch 3 Black + Battery Pack"
												src="img/devices/watchblack-batterypack.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>45 mm</p>
															<p>pantalla 1.4’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>340 mAh</p>
															<p>56 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>10,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa One Ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy  Watch 3 Black + Battery Pack"
													data-analytics-context="samsung galaxy  watch 3 black + battery pack tab fibra+movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy  Watch 3 Black + Battery Pack</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{{!-- Tab movil--}}
							<div class="vfes-tabs__content vfes-colours-bg-light-grey" data-tab="4" id="simpletab4" role="tabpanel">
								<div class="vfes-layout vfms-mobile">
									<div class="vfes-layout__wrapper">
										{{!-- ITEM 1 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy Watch3 Bronze + Wireless Charger</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Watch3 Bronze + Wireless Charger"
												src="img/devices/watchbronzewireless-charger.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>41 mm</p>
															<p>pantalla 1.2’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/battery-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>247 mAh</p>
															<p>43 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>10,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Watch3 Bronze + Wireless Charger"
													data-analytics-context="samsung galaxy watch3 bronze + wireless charger tab movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Watch3 Bronze + Wireless Charger</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 2 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy Watch3 Black + Wireless Charger</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Watch3 Black + Wireless Charger"
												src="img/devices/watchblackwireless-charger.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>45 mm</p>
															<p>pantalla 1.4’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/battery-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>340 mAh</p>
															<p>56 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>11,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Watch3 Black + Wireless Charger"
													data-analytics-context="samsung galaxy watch3 black + wireless charger tab movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Watch3 Black + Wireless Charger</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 3 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy Watch3 Bronze + Battery Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Watch3 Bronze + Battery Pack"
												src="img/devices/watchbronzek-batterypack.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>41 mm</p>
															<p>pantalla 1.2’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>247 mAh</p>
															<p>43 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>10,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy Watch3 Bronze + Battery Pack"
													data-analytics-context="samsung galaxy watch3 bronze + battery pack tab movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy Watch3 Bronze + Battery Pack</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 4 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title-watch">Samsung Galaxy  Watch 3 Black + Battery Pack</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy  Watch 3 Black + Battery Pack"
												src="img/devices/watchblack-batterypack.png">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-watch.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Esfera</p>
														</div>
														<div class="vfms-flex-right">
															<p>45 mm</p>
															<p>pantalla 1.4’’</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Batería</p>
														</div>
														<div class="vfms-flex-right">
															<p>340 mAh</p>
															<p>56 horas</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/ic-connectivity.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Conectividad</p>
														</div>
														<div class="vfms-flex-right">
															<p>BT+LTE</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>11,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													<p class="vfes-paragraph vfes-paragraph--large">con tu tarifa ilimitada Total</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary vfms-large vfes-mt" data-modal="watchOverlay"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy  Watch 3 Black + Battery Pack"
													data-analytics-context="samsung galaxy  watch 3 Black + battery pack tab movil"
													data-analytics-element="reservar"
													data-analytics-category="cta">Reservar</button>
													<span class="visually-hidden">: Reservar Samsung Galaxy  Watch 3 Black + Battery Pack</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>
				{{!-- WHY SECTION --}}
				<div class="vfes-layout vfes-why-vodafone vfes-why-vodafone--gray">
					<div class="vfes-layout__wrapper vfes-colours--dark-grey">
						<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
							<div class="vfes-why-vodafone__background vfms-why__size">
								<img class="vfms-why__icons" src="img/why/battery-icon.svg">
							</div>
							<p class="vfes-why-vodafone__title">Wireless Charger</p>
							<p class="vfes-why-vodafone__paragraph">Por la compra de cualquier Samsung Galaxy Watch3 llévate un <span class="vfes-title--bold">Wireless Charger valorado en 99€ de REGALO</span> y olvídate para siempre de los cables.</p>
						</div>
						<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
							<div class="vfes-why-vodafone__background vfms-why__size">
								<img class="vfms-why__icons" src="img/why/portable-battery.svg">
							</div>
							<p class="vfes-why-vodafone__title">Battery Pack</p>
							<p class="vfes-why-vodafone__paragraph">Por la compra de cualquier Samsung Galaxy Watch3 llévate <span class="vfes-title--bold">GRATIS una batería portatil valorada en 79€</span> y no pares nunca. </p>
						</div>
					</div>
				</div>
			</section>
		</main>
		

		{{!-- modal form NOTE --}}
		<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
			<section id="noteOverlay" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content vfms-modal js-modal-content">
					<div class="vfms-text--container">
						<p id="device-title" class="vfes-title vfes-title--3  vfes-title--center vfms-device-title vfes-mb-"></p>
						<p class="vfes-title vfes-title--4 vfes-title--center vfes-mb vfes-mb--mov">¡Solo te queda un paso!</p>
						<p class="vfes-paragraph vfes-paragraph--center">Déjanos tus datos y nos pondremos en contacto
							contigo para finalizar la reserva.</p>
					</div>
					<div class="vfms-form--container">
						<form class="vfes-form wg-form">
							<div class="vfes-layout__item vfes-layout--center vfes-mb">
								<input class="wg-input" type="hidden" name="preventa" value="Samsung Note20">
								<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
								<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
								<div class="vfes-layout__item vfes-mb vfes-mb--mov">
									<div class="vfes-flex vfes-flex__justify--around vfes-mt vfes-mt--mov">
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="clienteNote" name="esCliente"
											data-wg-validation="required" value="si" />
											<label class="vfes-form__label vfms-checks--label" for="clienteNote">Soy cliente</label>
										</div>
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="noClienteNote" name="esCliente"
												data-wg-validation="required" value="no" />
											<label class="vfes-form__label vfms-checks--label vfms-input-left" for="noClienteNote">No soy
												cliente</label>
											<input type="hidden" class="wg-error" />
										</div>
									</div>
								</div>
								<input id="phone-modelNote" class="vfes-form__input wg-input" type="hidden"
									style="display:none;" name="phone-model" placeholder="Pack y Modelo Teléfono" />
								<div class="form-name vfes-layout__item ">
									<input class="vfes-form__input vfes-box--form__name wg-input vfms-input" type="text" name="nombre" data-wg-validation="required" placeholder="Nombre y apellido" />
									<input type="hidden" class="wg-error" />
								</div>
								<div class="vfes-layout__item ">
									<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input vfes-mt vfes-mt--mov" type="phone"
									name="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
									data-wg-validation="required,phone" placeholder="Nº teléfono"
									oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="hidden" class="wg-error" />
								</div>
								<div class="form-privacy">
									<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox"
									id="privacyNote" value="on" type="checkbox" name="check" />
									<label class="vfes-form__label vfes-mt vfes-mt---mov" for="privacyNote">Acepto la 
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/" id="condicionesNote" class="button-privacy vfes-ml--" target="_blank" rel="nofollow"> Política de
										Privacidad</a></label>
									<input type="hidden" class="wg-error" />
								</div>
								<div class="form-comercial">
									<input class="vfes-form__checkbox wg-input" type="checkbox" name="gdpr" id="comunicationNote"
									value="on" />
									<label class="vfes-form__label" for="comunicationNote">Acepto recibir comunicaciones
									comerciales de Vodafone </label>
									<input type="hidden" class="wg-error" />
								</div>
							</div>
							<input class="vfes-button vfes-button--primary  vfms-large wg-submit tellamamos-ltc"
								type="submit" value="Enviar">
						</form>
					</div>
				</div>
			</section>
		</div>
		{{!-- modal form NOTE ULTRA --}}
		<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
			<section id="ultraOverlay" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content vfms-modal js-modal-content">
					<div class="vfms-text--container">
						<p id="device-titleUltra" class="vfes-title vfes-title--3  vfes-title--center vfms-device-title vfes-mb-"></p>
						<p class="vfes-title vfes-title--4 vfes-title--center vfes-mb vfes-mb--mov">¡Solo te queda un paso!</p>
						<p class="vfes-paragraph vfes-paragraph--center">Déjanos tus datos y nos pondremos en contacto
							contigo para finalizar la reserva.</p>
					</div>
					<div class="vfms-form--container">
						<form class="vfes-form wg-form">
							<div class="vfes-layout__item vfes-layout--center vfes-mb">
								<input class="wg-input" type="hidden" name="preventa" value="Samsung Note20 Ultra">
								<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
								<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
								<div class="vfes-layout__item vfes-mb vfes-mb--mov">
									<div class="vfes-flex vfes-flex__justify--around vfes-mt vfes-mt--mov">
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="clienteUltra" name="esCliente"
											data-wg-validation="required" value="si" />
											<label class="vfes-form__label vfms-checks--label " for="clienteUltra">Soy cliente</label>
										</div>
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="noClienteUltra" name="esCliente"
												data-wg-validation="required" value="no" />
											<label class="vfes-form__label vfms-checks--label vfms-input-left" for="noClienteUltra">No soy
												cliente</label>
											<input type="hidden" class="wg-error" />
										</div>
									</div>
								</div>
								<input id="phone-modelUltra" class="vfes-form__input wg-input" type="hidden"
									style="display:none;" name="phone-model" placeholder="Pack y Modelo Teléfono" />
								<div class="form-name vfes-layout__item ">
									<input class="vfes-form__input vfes-box--form__name wg-input vfms-input" type="text" name="nombre" data-wg-validation="required" placeholder="Nombre y apellido" />
									<input type="hidden" class="wg-error" />
								</div>
								<div class="vfes-layout__item ">
									<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input vfes-mt vfes-mt--mov" type="phone"
									name="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
									data-wg-validation="required,phone" placeholder="Nº teléfono"
									oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="hidden" class="wg-error" />
								</div>
								{{!-- Selec color --}}
								{{!-- <div class="vfms-select-color__container vfes-mt vfes-layout__item">
									<select class="packs vfms-select__packs" name="color"  placeholder='Elige un color'>
										<div class="option">
											<option value="">Elige un color</option>
											<option value="Mystic Bronze">Samsung Note20 Ultra Bronze</option>
											<option value="Mystic Black">Samsung Note20 Ultra Black</option>
										</div>
									</select>
									<input type="hidden" class="wg-error" />
								</div> --}}
							{{!-- <div class="resultado"></div> --}}
							{{!-- <input type="hidden" class="wg-input resultado" name="color" value=""> --}}
							<div class="vfes-layout__item vfes-mb vfes-mb--mov vfes-mt vfes-mt--mov">
									<p>Elige un color:</p>
									<div class="vfes-flex vfes-flex__justify--around vfes-mt--">
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="bronze" name="color"
											data-wg-validation="required" value="bronze" />
											<label class="vfes-form__label vfms-checks--label" for="bronze">Samsung Note20 Ultra Bronze</label>
										</div>
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="black" name="color"
												data-wg-validation="required" value="black" />
											<label class="vfes-form__label vfms-checks--label vfms-input-left" for="black">Samsung Note20 Ultra Black</label>
										<input type="hidden" class="wg-error" />
										</div>
									</div>
									
								</div>
								<div class="form-privacy">
									<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox"
									id="privacyUltra" value="on" type="checkbox" name="check" />
									<label class="vfes-form__label" for="privacyUltra">Acepto la 
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/" class="button-privacy vfes-ml--" target="_blank" rel="nofollow"> Política de
										Privacidad</a></label>
									<input type="hidden" class="wg-error" />
								</div>
								<div class="form-comercial">
									<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunicationUltra" name="gdpr"
									value="on" />
									<label class="vfes-form__label" for="comunicationUltra">Acepto recibir comunicaciones
									comerciales de Vodafone </label>
									<input type="hidden" class="wg-error" />
								</div>
							</div>
							<input class="vfes-button vfes-button--primary  vfms-large wg-submit tellamamos-ltc"
								type="submit" value="Enviar">
						</form>
					</div>
				</div>
			</section>
		</div>
		{{!-- modal form WATCH --}}
		<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
			<section id="watchOverlay" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content vfms-modal js-modal-content">
					<div class="vfms-text--container">
						<p id="device-titleWatch" class="vfes-title vfes-title--3  vfes-title--center vfms-device-title vfes-mb-"></p>
						<p class="vfes-title vfes-title--4 vfes-title--center vfes-mb vfes-mb--mov">¡Solo te queda un paso!</p>
						<p class="vfes-paragraph vfes-paragraph--center">Déjanos tus datos y nos pondremos en contacto
							contigo para finalizar la reserva.</p>
					</div>
					<div class="vfms-form--container">
						<form class="vfes-form wg-form">
							<div class="vfes-layout__item vfes-layout--center vfes-mb">
								<input class="wg-input" type="hidden" name="preventa" value="Samsung Galaxy Watch3">
								<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
								<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
								<div class="vfes-layout__item vfes-mb vfes-mb--mov">
									<div class="vfes-flex vfes-flex__justify--around vfes-mt vfes-mt--mov">
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="clienteWatch" name="esCliente"
											data-wg-validation="required" value="si" />
											<label class="vfes-form__label vfms-checks--label " for="clienteWatch">Soy cliente</label>
										</div>
										<div>
											<input class="vfes-form__radio wg-input" type="radio" id="noClienteWatch" name="esCliente"
												data-wg-validation="required" value="no" />
											<label class="vfes-form__label vfms-checks--label vfms-input-left" for="noClienteWatch">No soy
												cliente</label>
										<input type="hidden" class="wg-error" />
										</div>
									</div>
									
								</div>
								<input id="phone-modelWatch" class="vfes-form__input wg-input" type="hidden"
									style="display:none;" name="phone-model" placeholder="Pack y Modelo Watch" />
								<div class="form-name vfes-layout__item ">
									<input class="vfes-form__input vfes-box--form__name wg-input vfms-input" type="text" name="nombre" data-wg-validation="required" placeholder="Nombre y apellido" />
									<input type="hidden" class="wg-error" />
								</div>
								<div class="vfes-layout__item ">
									<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input vfes-mt vfes-mt--mov" type="phone"
									name="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
									data-wg-validation="required,phone" placeholder="Nº teléfono"
									oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="hidden" class="wg-error" />
								</div>
								<div class="form-privacy">
									<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox"
									id="privacyWatch" value="on" type="checkbox" name="check" />
									<label class="vfes-form__label vfes-mt vfes-mt---mov" for="privacyWatch">Acepto la 
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/" class="button-privacy vfes-ml--" target="_blank" rel="nofollow"> Política de
										Privacidad</a></label>
									<input type="hidden" class="wg-error" />
								</div>
								<div class="form-comercial">
									<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunicationWatch" name="gdpr"
									value="on" />
									<label class="vfes-form__label" for="comunicationWatch">Acepto recibir comunicaciones
									comerciales de Vodafone </label>
									<input type="hidden" class="wg-error" />
								</div>
							</div>
							<input class="vfes-button vfes-button--primary  vfms-large wg-submit tellamamos-ltc"
								type="submit" value="Enviar">
						</form>
					</div>
				</div>
			</section>
		</div>
</div>

<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
