// CSS del microsite
.vfes-ms-content{
    background-color: #000;
    padding: 0;
    .vf-bg{
        &--img {
            background-image: url('../img/bg-mb.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 334px;
            @media screen and (min-width: 640px) {
                background-image: url('../img/bg-desktop.png');
                min-height: 200px;
                background-position-x: -250px;
            }
            @media screen and (min-width: 970px) {
                background-position: right;
                min-height: 270px;
            }
            @media screen and (min-width: 1920px) {
                min-height: 350px;
            }
        }
    } 
    .vf-title{
        &--size {
            font-size: 28px;
            @media screen and (min-width: 970px) {
                font-size: 44px;
            }
        }
    } 
}