<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<div class="vfes-ms-content" id="5G">

	<div class="vfes-align--center" id="catalogo">
		<div class="vfes-layout__wrapper vfms-wrapper__container">
			<div class="vfms-container vfms-container__padding">
				<div class="vfes-layout__item">
					<p class="vfes-title vfes-title--2 vfes-title--light vfes-mb-">Disfruta de los mejores móviles 5G</p>
					<p class="vfes-title vfes-title--5">Navega a gran velocidad, ahorra batería y vive conectado.</p>
				</div>

				{{!-- carrusel --}}
				<div class="vfes-layout__item">
					<section class="vfes-colours-bg--black vfms-carousel">
						<div class='vfes-carousel vfms-carousel' data-vfes-js='_carousel'
							data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":4}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
							<ul class="vfes-carousel__list vfes-layout--padding js-carousel-list vfes-colours--black">

								{{!-- terminal 1 --}}
								<li class="vfes-carousel__list-element js-carousel-list-element">
									<div class="vfes-card vfes-card__product vfms-card__product">
										<div class="vfms-carousel__title--container">
											<h4 class="vfes-card__product-name vfes-title--bold">Samsung Galaxy A32 5G Negro</h4>
											<p class="vfes-title vfes-title--5 vfes-mb">128GB
											</p>
										</div>  
										<img src="img/samsung-galaxy-a32.png" alt="Samsung Galaxy A32 5G Negro"
											title="Samsung Galaxy A32 5G Negro">
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											Pago Inicial: 0€</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

											<span class="vfes-title vfes-title--4 vfes-title--bold">7</span>€/mes
										</p>
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											durante 24 meses</p>
										<a class="device vfes-button vfes-button--primary vfms-large vfes-mt"
											href=" https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-a32-5g-negro-128gb-314098/" 
											title="Samsung Galaxy A32 5G Negro" data-analytics-element="link"
											data-analytics-category="mas informacion"
											data-analytics-context="samsung galaxy a32 5g negro" data-analytics-id="1500020070182-7491249636711">Más información
											<span class="visually-hidden">: Más información Samsung Galaxy A32 5G Negro</span>
										</a>
									</div>
								</li>
								
								{{!-- terminal 2 --}}
								<li class="vfes-carousel__list-element js-carousel-list-element">
									<div class="vfes-card vfes-card__product vfms-card__product">
										<div class="vfms-carousel__title--container">
											<h4 class="vfes-card__product-name vfes-title--bold">Nubia Red Magic Lite 5G</h4>
											<p class="vfes-title vfes-title--5 vfes-mb">256GB
											</p>
										</div>  
										<img src="img/nubia-red-magic.png" alt="Nubia Red Magic Lite 5G" title="Nubia Red Magic Lite 5G">
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											Pago Inicial: 0€</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

											<span class="vfes-title vfes-title--4 vfes-title--bold">9,50</span>€/mes
										</p>
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											durante 36 meses</p>
										<a class="device vfes-button vfes-button--primary vfms-large vfes-mt"
											href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/nubia-red-magic-5g-lite-negro-256gb-313860/" 
											title="Nubia Red Magic Lite 5G" data-analytics-element="link"
											data-analytics-category="mas informacion"
											data-analytics-context="Nubia Red Magic Lite 5G" data-analytics-id="1500020070182-2031774580012">Más información
											<span class="visually-hidden">: Más información
												Nubia Red Magic Lite 5G</span>
										</a>
									</div>
								</li>

								{{!-- terminal 3--}}
								<li class="vfes-carousel__list-element js-carousel-list-element">
									<div class="vfes-card vfes-card__product vfms-card__product">
										<div class="vfms-carousel__title--container">
											<h4 class="vfes-card__product-name vfes-title--bold">
												Samsung Galaxy S21 5G Violeta</h4>
											<p class="vfes-title vfes-title--5 vfes-mb">128GB
											</p>
										</div>
										<img src="img/samsung-galaxy-s21.png" alt="Samsung Galaxy S21 5G Violeta"
											title="Samsung Galaxy S21 5G Violeta">
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											Pago Inicial: 0€</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

											<span class="vfes-title vfes-title--4 vfes-title--bold">18,50</span>€/mes
										</p>
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											durante 36 meses</p>

										<a class="device vfes-button vfes-button--primary vfms-large vfes-mt"
											href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s21-5g-violeta-128gb-314073/"
											title="Samsung Galaxy S21 5G Violeta" data-analytics-element="link"
											data-analytics-category="mas informacion"
											data-analytics-context="samsung galaxy s21 5g violeta" data-analytics-id="1500020070182-0857167715147">Más
											información
											<span class="visually-hidden">: Más información
												Samsung Galaxy S21 5G Violeta</span>
										</a>
									</div>
								</li>

								{{!-- terminal 4 --}}
								<li class="vfes-carousel__list-element js-carousel-list-element">
									<div class="vfes-card vfes-card__product vfms-card__product">
										<div class="vfms-carousel__title--container">
											<h4 class="vfes-card__product-name vfes-title--bold">Xiaomi Redmi Note 9T 5G</h4>
											<p class="vfes-title vfes-title--5 vfes-mb">128GB
											</p>
										</div>  
										<img src="img/xiaomi-redmi-note-9t.png" alt="Xiaomi Redmi Note 9T 5G Negro"
											title="Xiaomi Redmi Note 9T 5G Negro">
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											Pago Inicial: 0€</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

											<span class="vfes-title vfes-title--4 vfes-title--bold">7</span>€/mes
										</p>
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											durante 24 meses</p>
										<a class="device vfes-button vfes-button--primary vfms-large vfes-mt"
											href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/xiaomi-redmi-note-9t-5g-negro-128gb-314101/" 
											title="Xiaomi Redmi Note 9T 5G Negro" data-analytics-element="link"
											data-analytics-category="mas informacion"
											data-analytics-context="xiaomi redmi note 9t 5g negro" data-analytics-id="1500020070182-0306717719540">Más información
											<span class="visually-hidden">: Más información
												Xiaomi Redmi Note 9T 5G Negro</span>
										</a>
									</div>
								</li>
								{{!-- terminal 5 --}}
								<li class="vfes-carousel__list-element js-carousel-list-element">
									<div class="vfes-card vfes-card__product vfms-card__product">
										<div class="vfms-carousel__title--container">
											<h4 class="vfes-card__product-name vfes-title--bold">Nokia 8.3 Azul 5G</h4>
											<p class="vfes-title vfes-title--5 vfes-mb">64GB
											</p>
										</div>  
										<img src="img/nokia8.3.png" alt="Nokia 8.3 Azul"
											title="Nokia 8.3 Azul">
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											Pago Inicial: 0€</p>
										<p class="vfes-paragraph vfes-paragraph--large vfes-card__product-price">

											<span class="vfes-title vfes-title--4 vfes-title--bold">8</span>€/mes
										</p>
										<p class="vfes-paragraph vfes-paragraph--large vfms-month">
											durante 36 meses</p>
										<a class="device vfes-button vfes-button--primary vfms-large vfes-mt"
											href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/nokia-8.3-5g-azul-64gb-313925/" 
											title="Nokia 8.3 Azul" data-analytics-element="link"
											data-analytics-category="mas informacion"
											data-analytics-context="nokia 8.3 azul" data-analytics-id="1500020070182-0306717749540">Más información
											<span class="visually-hidden">: Más información
												Nokia 8.3 Azul</span>
										</a>
									</div>
								</li>
								
							</ul>
						</div>
					</section>
				</div>
				{{!-- carrusel --}}
			</div>

		</div>
	</div>
	<script src="js/ws2r.v15.js"></script>
	<script src="js/main.js"></script>