<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="iphone-11banner">
    <div class="vfes-layout__wrapper vfes-align--cente">
		<div class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center">
			<img class="vfms-logo--iphone" src="img/logo-iphone11.png" alt="logotipo iphone 11pro" title="iPhone 11Pro">
			<p class="vfes-paragraph vfes-colours--vodafone-white vfms-lsize">Muy pronto</p>
			<img class="vfms-device" src="img/iPhone_Mobile.png" alt="iphone 11pro" title="iPhone 11Pro">
			<p class="vfes-paragraph vfes-paragraph--center vfms-text--color vfms-text--size">Resistente al agua hasta 4 metros de profundidad durante 30 minutos.</p>
		</div>
		
	</div>
</div>
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
