<!-- ADVANTAGES -->
<section class="vf-advantages ws10-u--pt12x">
    <h2 class="ws10-u-heading--3"><strong>Descubre las ventajas de Átika</strong></h2>
    <div class="vf-advantages__container ws10-o-layout">
        <article class="ws10-c-feature-hifi ws10-o-layout__item ws10-u--1/3@desktop">
                    <span class="ws10-c-feature-hifi__background">
                       <img src="img/icons/tv-icon.png" alt="icon tv">
                    </span>
            <h4 class="ws10-c-feature-hifi__title ws10-flex ws10-flex__direction--column ws10-flex__align-items--center">
                <span>Controlar por Voz</span>
                <span>Vodafone TV</span>
            </h4>
            <p class="ws10-c-feature-hifi__text">
                Pídele a Vodafone TV lo que quieres que haga por ti.
            </p>
            <!--VIDEO 2-->
            <a class="ws10-c-link-chevron ws10-c-link-chevron--primary" data-backdrop="videoYoutube2" data-backdrop-close aria-haspopup="dialog" data-js="openVideo">
                Ver Video
                <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                    <title>Flecha derecha</title>
                    <use xlink:href='#icon-chevron-right'></use>
                </svg>
            </a>
        </article>
        <article class="ws10-c-feature-hifi ws10-o-layout__item ws10-u--1/3@desktop">
            <span class="ws10-c-feature-hifi__background">
                <img src="img/icons/sound-icon.png" alt="icon sound active">
            </span>
            <h4 class="ws10-c-feature-hifi__title ws10-flex ws10-flex__direction--column">
                <span>Vivir una Inmersión</span>
                <span>Sonora</span>
            </h4>
            <p class="ws10-c-feature-hifi__text">
                Disfruta del mejor sonido envolvente 5.1 Dolby Audio con la tecnología de DEVIALET, sin altavoces adicionales.
            </p>
            <!--VIDEO 3-->
            <a class="ws10-c-link-chevron ws10-c-link-chevron--primary" data-backdrop="videoYoutube3" data-backdrop-close aria-haspopup="dialog" data-js="openVideo">
                Ver Video
                <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                    <title>Flecha derecha</title>
                    <use xlink:href='#icon-chevron-right'></use>
                </svg>
            </a>
        </article>
        <article class="ws10-c-feature-hifi ws10-o-layout__item ws10-u--1/3@desktop">
            <span class="ws10-c-feature-hifi__background">
                <img src="img/icons/atika-icon.png" alt="icon alexa">
            </span>
            <h4 class="ws10-c-feature-hifi__title ws10-flex ws10-flex__direction--column ws10-flex__align-items--center">
                <span>Hablar</span>
                <span>con Alexa</span>
            </h4>
            <p class="ws10-c-feature-hifi__text">
                Hazle preguntas, disfruta de tu música, pregúntale el pronóstico ¡y mucho más!
            </p>

            <!--VIDEO 4 -->
            <a class="ws10-c-link-chevron ws10-c-link-chevron--primary" data-backdrop="videoYoutube4" data-backdrop-close aria-haspopup="dialog" data-js="openVideo">
                Ver Video
                <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                    <title>Flecha derecha</title>
                    <use xlink:href='#icon-chevron-right'></use>
                </svg>
            </a>

        </article>
    </div>
</section>