<section class="vf-atikaOffers ws10-u--pt12x ws10-flex ws10-flex__align-items--center">
    <img class="vf-atikaOffers__imgmv ws10-u--pb5x" src="img/bodegon-atika-mov.png" alt="Paraja viendo la tv">
    <div class="ws10-u--pr12x">
        <h3>Conoce todo lo que Átika puede ofrecerte</h3>
        <p>Con el altavoz inteligente Átika, no solo podrás controlar por voz Vodafone TV. Podrás disfrutar de la mejor calidad de sonido en un solo dispositivo y sin altavoces adicionales gracias a algunas de las tecnologías de audio de Devialet. Además, al tener Alexa integrada, podrás disfrutar de tu música favorita en Amazon Music o Spotify, conocer el pronóstico del tiempo en tu televisión y las noticias del día, controlar tus dispositivos de Hogar Digital y mucho más.</p>
    </div>
    <img class="vf-atikaOffers__imgdesktop" src="img/bodegon-atika.png" alt="Paraja viendo la tv">
</section>
