<!-- Sección Banner + Ticket flotante -->
<section class="vf-banner" data-js="_banner">
    <div class="vf-banner__bg">
        <div class="vf-banner__overlay">
                <div class="ws10-o-wrapper">
                    <div class="vf-banner__container ws10-o-layout">
                        <div class="vf-banner__title ws10-o-layout__item ws10-u--2/4@tablet ws10-u--2/3@desktop">
                            <h2 class="ws10-u-heading--4 ws10-u-heading--4-lt">Átika, altavoz inteligente de Vodafone</h2>
                            <h3 class="ws10-u-heading--2-lt ws10-u--pt5x ws10-u--3/4@desktop">Con <strong>Átika</strong> controla <strong>Vodafone TV</strong> con la voz</h3>
                            <!--VIDEO 1-->
                            <a class="ws10-c-link-chevron ws10-c-link-chevron--primary" data-backdrop="videoYoutube1" data-backdrop-close aria-haspopup="dialog" data-js="openVideo">
                                Ver Video
                                <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
                                        xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                    <title>Flecha derecha</title>
                                    <use xlink:href='#icon-chevron-right'></use>
                                </svg>
                            </a>
                        </div>
                        <div class="vf-rate-ticket ws10-o-layout__item ws10-u--2/4@tablet ws10-u--1/3@desktop">
                            <section class="vf-rate-ticket__floating ws10-x-card-rate ws10-u--p3x" data-ws10-js="composition-card-rate">
                                <h2 class="ws10-u-heading--4 ws10-u-heading--4-lt">Átika</h2>
                                <section class="ws10-c-card">
                                    <div class="ws10-c-card-rate__w-tags">
                                        <b class="ws10-c-badge ws10-u-color--bg-turquoise ws10-u-color--white ws10-o-tabs__panel" id="ahorro-plazos" role="tabpanel">
                                            Ahorro de 183€ en Átika
                                        </b>
                                        <b class="ws10-c-badge ws10-u-color--bg-turquoise ws10-u-color--white ws10-o-tabs__panel" id="ahorro-contado" role="tabpanel" hidden>
                                            Ahorro de 183€ en Átika
                                        </b>
                                    </div>

                                    <div class="ws10-c-card-rate__w-rates">
                                        <div class="ws10-c-card-rate__a-rate">
                                            <ul class="ws10-c-card-rate__product-info">
                                                <li class="ws10-c-card-rate__product-info-item">
                                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <use xlink:href="#icon-tv-everywhere-home"></use>
                                                    </svg>
                                                    <div class="ws10-c-card-rate__product">
                                                        <p class="ws10-c-card-rate__product-title">
                                                            Dispositivo Vodafone TV
                                                        </p>
                                                        <p class="ws10-c-card-rate__product-txt">
                                                            Altavoz inteligente
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="ws10-c-card-rate__product-info-item">
                                                    <svg class="ws10-c-card-rate__product-icon" xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <use xlink:href="#icon-convergente-system"></use>
                                                    </svg>
                                                    <div class="ws10-c-card-rate__product">
                                                        <p class="ws10-c-card-rate__product-title">
                                                            Fibra 600Mbps + Datos ilimitados
                                                        </p>
                                                        <p class="ws10-c-card-rate__product-txt">
                                                            con HBO España, Amazon Prime y 60 canales más
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <form action="" method="get" class="ws10-c-card-rate__form ws10-c-form" data-vf-js="tabs">
                                                <fieldset>
                                                    <legend class="ws10-c-card-rate__form-title">
                                                        ¿Cómo quieres pagar el dispositivo?
                                                    </legend>
                                                    <div class="ws10-c-card-rate__w-form-select" role="tablist">
                                                        <div class="ws10-c-form__box">
                                                            <input class="ws10-c-input__radio"
                                                                    aria-controls="panel-a ahorro-plazos nosurprises-plazos sticky-plazos"
                                                                    role="tab"
                                                                    id="rate-1-card-rate-option-1"
                                                                    type="radio"
                                                                    name="rate-1-card-rate"
                                                                    data-analytics-id="1500098797574-0009086839607"
                                                                    data-analytics-context="modulo superior tarifa"
                                                                    data-analytics-category="selector"
                                                                    data-analytics-element="a plazos"
                                                                    checked />
                                                            <label class="ws10-c-input__label ws10-c-card-rate__form-label"
                                                                    for="rate-1-card-rate-option-1">A plazos
                                                            </label>
                                                        </div>
                                                        <div class="ws10-c-form__box">
                                                            <input class="ws10-c-input__radio"
                                                                    type="radio"
                                                                    aria-controls="panel-b ahorro-contado nosurprises-contado sticky-contado"
                                                                    role="tab"
                                                                    name="rate-1-card-rate"
                                                                    id="rate-1-card-rate-option-2"
                                                                    data-analytics-id="1500098797574-0005643026490"
                                                                    data-analytics-category="selector"
                                                                    data-analytics-context="modulo superior tarifa"
                                                                    data-analytics-element="al contado" />
                                                            <label class="ws10-c-input__label ws10-c-card-rate__form-label"
                                                                    for="rate-1-card-rate-option-2">Al contado
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="ws10-c-card-rate__w-cta" data-js-vf="_showOrHideSticky">
                                                    <div class="ws10-c-card-rate__w-offers ws10-u--1/1">
                                                        <div class="ws10-c-rate-price-block ws10-c-card-rate__offer ws10-u--1/1 ws10-o-tabs__panel"
                                                                id="panel-a"
                                                                role="tabpanel">
                                                            <span class="ws10-c-price--x-small ws10-c-price--turquoise">
                                                                <strong>Átika 6€/mes 36 meses + Tarifa 36,99€/mes</strong>
                                                            </span>
                                                            <div class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between">
                                                                <p class="ws10-c-rate-price-block__rate ws10-u--mb0 ws10-flex ws10-flex__direction--column">
                                                                    <span class="ws10-c-price--x-small ws10-u-color--mid-grey">Permanencia tarifa 24 meses
                                                                    </span>
                                                                    <del class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                                                                        <span class="ws10-c-price__amount">80,99</span>
                                                                        <span class="ws10-c-price__currency">€</span>
                                                                        <sub class="ws10-c-price__recurrence">/mes</sub>
                                                                    </del>
                                                                    <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                                                                        <span class="ws10-c-price__amount">42,99</span>
                                                                        <span class="ws10-c-price__currency">€</span>
                                                                        <sub class="ws10-c-price__recurrence">/mes</sub>
                                                                    </span>
                                                                </p>
                                                                <a title="CTA"
                                                                        class="ws10-c-button ws10-c-button--auto"
                                                                        data-analytics-id="1500098797574-0001142734910"
                                                                        data-analytics-category="boton"
                                                                        data-analytics-context="modulo superior tarifa"
                                                                        data-analytics-element="lo quiero"
                                                                        onclick="window.parent.document.ws_popup.open('Atika', '6€/mes + Tarifa 36,99€/mes 50% 3 meses')">Lo quiero</a>
                                                            </div>
                                                        </div>
                                                        <div class="ws10-c-rate-price-block ws10-c-card-rate__offer ws10-u--1/1 ws10-o-tabs__panel"
                                                                id="panel-b"
                                                                role="tabpanel"
                                                                hidden>
                                                            <span class="ws10-c-price--x-small ws10-c-price--turquoise">
                                                                <strong>Átika 216€ + Tarifa 36,99€/mes</strong>
                                                            </span>
                                                            <div class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between">
                                                                <p class="ws10-c-rate-price-block__rate ws10-u--mb0 ws10-flex ws10-flex__direction--column">
                                                                    <span class="ws10-c-price--x-small ws10-u-color--mid-grey">Permanencia tarifa 24 meses</span>
                                                                    <del class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                                                                        <span class="ws10-c-price__amount">80,99</span>
                                                                        <span class="ws10-c-price__currency">€</span>
                                                                        <sub class="ws10-c-price__recurrence">/mes</sub>
                                                                    </del>
                                                                    <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                                                                        <span class="ws10-c-price__amount">36,99</span>
                                                                        <span class="ws10-c-price__currency">€</span>
                                                                        <sub class="ws10-c-price__recurrence">/mes</sub>
                                                                    </span>
                                                                </p>
                                                                <a title="CTA"
                                                                        class="ws10-c-button ws10-c-button--auto"
                                                                        data-analytics-id="1500098797574-0009211782164"
                                                                        data-analytics-category="boton"
                                                                        data-analytics-context="modulo superior tarifa"
                                                                        data-analytics-element="lo quiero"
                                                                        onclick="window.parent.document.ws_popup.open('Atika', '216€ + Tarifa 36,99€/mes 50% 3 meses')">Lo quiero</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

