
<!-- DECODIFICADOR -->
<section class="vf-deco ws10-u--pt12x">
    <p class="ws10-u-heading--4 ws10-u--mb2x vf-title--light">Fibra + Móvil + TV</p>
    <p class="ws10-u-heading--3 ws10-u--3/4@desktop"><strong>Todo lo que necesitas</strong> para estar <strong>conectado siempre</strong></p>
    <img class="ws10-u--1/1 ws10-u--pt4x ws10-u--pb12x" src="img/mockup-atika.jpg" alt="interfaz de tv Vodafone, sin decodificador">
    <div class="vf-deco__details ws10-flex ws10-flex__wrap">
        <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--1/2@desktop">
            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                <title>Icono Rayos</title>
                <use class="icon-v3" xlink:href="#icon-thunder-2grey"></use>
            </svg>
            <p class="ws10-c-product-detail__text">Línea móvil con <strong>datos ilimitados a alta velocidad</strong> (10 Mbps de bajada y de subida).</p>
        </div>
        <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--1/2@desktop">
            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                <title>Icono Mobile</title>
                <use class="icon-v3" xlink:href="#icon-mobile-mid"></use>
            </svg>

            <p class="ws10-c-product-detail__text"><strong>Llamadas y SMS ilimitados</strong> con cualquier operador nacional las 24 horas, establecimiento incluido.</p>
        </div>
        <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--1/2@desktop">
            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                <title>Icono Router</title>
                <use class="icon-v3" xlink:href="#icon-router-mid"></use>
            </svg>
            <p class="ws10-c-product-detail__text"><strong>600Mbps de fibra</strong> óptica simétrica para tu hogar, podrás conectar más de 25 dispositivos a la vez.</p>
        </div>
        <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--1/2@desktop">
            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                <title>Icono Devices</title>
                <use class="icon-v3" xlink:href="#icon-landline-or-call-mid"></use>
            </svg>
            <p class="ws10-c-product-detail__text">Fijo con <strong>llamadas ilimitadas a fijos y móviles.</strong></p>
        </div>
        <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--1/2@desktop">
            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                <title>Icono TV</title>
                <use class="icon-v3" xlink:href="#icon-tv-mid"></use>
            </svg>
            <p class="ws10-c-product-detail__text">Pack de TV Serielovers <strong>1 año GRATIS</strong>
                incluye <strong>HBO España, Amazon Prime y 60 canales más.</strong></p>
        </div>
        <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x ws10-u--1/2@desktop">
            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                <title>Icono TV</title>
                <use class="icon-v3" xlink:href="#icon-sim-mid"></use>
            </svg>
            <p class="ws10-c-product-detail__text">Llévate una <strong>2ª línea GRATIS</strong>, con <strong>4GB y 200 minutos </strong>en llamadas a fijos y móviles.</p>
        </div>
    </div>
</section>
