<!--VIDEO 1 ATIKA-->
<div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="videoYoutube1" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog" aria-modal="true">
        <div class="ws10-c-backdrop__head">
            <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false" data-js="closeVideo">
                <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Close</title>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="ws10-c-backdrop__content js-backdrop-content">
            <div id="videoAtika1" data-js="videoYoutube"></div>
        </div>
    </section>
</div>

<!--VIDEO 2 Controlar por Voz -->
<div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="videoYoutube2" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog" aria-modal="true">
        <div class="ws10-c-backdrop__head">
            <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false" data-js="closeVideo">
                <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Close</title>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="ws10-c-backdrop__content js-backdrop-content">
            <div id="videoAtika2" data-js="videoYoutube"></div>
        </div>
    </section>
</div>

<!--VIDEO 3 Inmersión Sonora-->
<div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="videoYoutube3" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog" aria-modal="true">
        <div class="ws10-c-backdrop__head">
            <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false" data-js="closeVideo">
                <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Close</title>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="ws10-c-backdrop__content js-backdrop-content">
            <div id="videoAtika3" data-js="videoYoutube"></div>
        </div>
    </section>
</div>

<!--VIDEO 4 Hablar con Alexa-->
<div class="ws10-c-backdrop js-backdrop" data-ws10-js="backdrop" aria-hidden="true">
    <section id="videoYoutube4" class="ws10-c-backdrop__item js-backdrop-item" aria-hidden="true" role="dialog" aria-modal="true">
        <div class="ws10-c-backdrop__head">
            <button class="ws10-c-backdrop__close js-backdrop-close" aria-hidden="false" data-js="closeVideo">
                <svg class="ws10-c-backdrop__close-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Close</title>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="ws10-c-backdrop__content js-backdrop-content">
            <div id="videoAtika4" data-js="videoYoutube"></div>
        </div>
    </section>
</div>
