<h3 class="ws10-u-heading--4"><strong>Otros dispositivos de Vodafone TV</strong></h3>
<section class="ws10-c-card-discovery-standard-full-width">
    <picture class="ws10-c-card-discovery-standard-full-width__picture">
        <source media="(min-width:970px)" srcset="img/remote-tv-desktop.jpg">
        <source media="(min-width:768px)" srcset="img/remote-tv-tablet.jpg">
        <img src="img/remote-tv-movil.jpg" alt="texto imagen" class="ws10-c-card-discovery-standard-full-width__image">
    </picture>
    <div class="ws10-c-card-discovery-standard-full-width__content">
        <div class="ws10-c-card-discovery-standard-full-width__content-inner">
            <h4 class="ws10-c-card-discovery-standard-full-width__title">
                Mando para Control por Voz de Vodafone TV
            </h4>
            <p class="ws10-c-card-discovery-standard-full-width__text">
                Con el mando control por voz de Vodafone TV olvídate de tener que pasar por diferentes menús. No perderás el tiempo buscanddo contenido. Y tendrás el control total de lo que estás viendo.            </p>
            <a class="ws10-c-card-discovery-standard-full-width__link-chevron ws10-c-link-chevron ws10-c-link-chevron--primary" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/voztv/"
                    data-analytics-id="1500098797574-0005532304185"
                    data-analytics-category="boton"
                    data-analytics-context="modulo inferior otros productos"
                    data-analytics-element="mando voz">
                Más info <span class="ws10-u--hidden-visually"> color #333333</span>
                <svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                    <title>Flecha derecha</title>
                    <use class="icon-v3" xlink:href='#icon-chevron-right'></use>
                </svg>
            </a>
        </div>
    </div>
</section>