
<section class="vf-steps ws10-u--pt12x">
    <h3 class="ws10-u-heading--4"><strong>¿Cómo comprar Átika?</strong></h3>
    <ul class="ws10-c-timeline-steps">
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-shopping-trolley-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Compra online</h4>
            <p class="ws10-c-timeline-steps__text">Recibirás un email de confirmación con el detalle de
                tu pedido y próximos pasos.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-engineer-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Cita de instalación</h4>
            <p class="ws10-c-timeline-steps__text">Una vez contratado, un experto se pondrá en contacto contigo para concretar la fecha de instalación que más te convenga. ¡Tú eliges!</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Business</title>
                <use xlink:href='#icon-bundles-mid'></use>
            </svg>
            <h4 class="ws10-c-timeline-steps__title">Recibe Átika</h4>
            <p class="ws10-c-timeline-steps__text">El envío puede tardar entre 2-3 días laborables (en la península) y 5-7 (a Baleares y Canarias, Ceuta o Melilla).</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <img class="ws10-c-timeline-steps__icon" src="img/icons/icono-atika-mid.png">
            <h4 class="ws10-c-timeline-steps__title">Colócalo</h4>
            <p class="ws10-c-timeline-steps__text">Elige la mejor ubicación en tu casa, y sigue las instrucciones que están incluidas en la caja.</p>
        </li>
        <li class="ws10-c-timeline-steps__item">
            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                    xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                <title>Disfruta</title>
                <use xlink:href='#icon-tv-hi-mid'></use>
            </svg>
            <p class="ws10-c-timeline-steps__title">Disfruta</p>
            <p class="ws10-c-timeline-steps__text">Utiliza tu dispositivo Átika como asistente de voz, y controla Vodafone TV con tu voz.</p>
        </li>
    </ul>
</section>
