<!-- STICKY BOTTOM -->
<section class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden" data-js-vf="_stickyRate">
    <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
        <div class="ws10-c-card-rate__w-offers ws10-u--1/1">
            <div class="ws10-c-rate-price-block ws10-c-card-rate__offer ws10-u--1/1 ws10-o-tabs__panel"
                    id="sticky-plazos"
                    role="tabpanel">
                <span class="ws10-c-price--x-small ws10-c-price--turquoise"><strong>Átika 6€/mes + Tarifa 36,99€/mes 50% 3 meses</strong></span>
                <div class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between">
                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0 ws10-flex ws10-flex__direction--column">
                        <span class="ws10-c-price--x-small ws10-u-color--mid-grey">Permanencia tarifa 18 meses
                        </span>
                        <del class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                            <span class="ws10-c-price__amount">80,99€/mes</span>
                            <span class="ws10-c-price__currency">€</span>
                            <sub class="ws10-c-price__recurrence">/mes</sub>
                        </del>
                        <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                            <span class="ws10-c-price__amount">42,99</span>
                            <span class="ws10-c-price__currency">€</span>
                            <sub class="ws10-c-price__recurrence">/mes</sub>
                        </span>
                    </p>
                    <a title="CTA"
                            class="ws10-c-button ws10-c-button--auto"
                            data-analytics-id="1500098797574-0008668399415"
                            data-analytics-category="boton"
                            data-analytics-context="stiky inferior"
                            data-analytics-element="lo quiero"
                            onclick="window.parent.document.ws_popup.open('Atika', '6€/mes + Tarifa 36,99€/mes 50% 3 meses')">
                        Lo quiero
                    </a>
                </div>
            </div>
            <div class="ws10-c-rate-price-block ws10-c-card-rate__offer ws10-u--1/1 ws10-o-tabs__panel"
                    id="sticky-contado"
                    role="tabpanel"
                    hidden>
                <span class="ws10-c-price--x-small ws10-c-price--turquoise">
                    <strong>Átika 216€ + Tarifa 36,99€/mes 50% 3 meses</strong>
                </span>
                <div class="ws10-flex ws10-flex__align-items--end ws10-flex__justify--between">
                    <p class="ws10-c-rate-price-block__rate ws10-u--mb0 ws10-flex ws10-flex__direction--column">
                        <span class="ws10-c-price--x-small ws10-u-color--mid-grey">Permanencia tarifa 18 meses</span>
                        <del class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--x-small ws10-c-price ws10-c-price--turquoise">
                            <span class="ws10-c-price__amount">74,99€/mes</span>
                            <span class="ws10-c-price__currency">€</span>
                            <sub class="ws10-c-price__recurrence">/mes</sub>
                        </del>
                        <span class="ws10-c-rate-price-block__rate-price ws10-c-price ws10-c-price--medium">
                            <span class="ws10-c-price__amount">36,99</span>
                            <span class="ws10-c-price__currency">€</span>
                            <sub class="ws10-c-price__recurrence">/mes</sub>
                        </span>
                    </p>
                    <a title="CTA"
                            class="ws10-c-button ws10-c-button--auto"
                            data-analytics-id="1500098797574-0001136431455"
                            data-analytics-category="boton"
                            data-analytics-context="stiky inferior"
                            data-analytics-element="lo quiero"
                            onclick="window.parent.document.ws_popup.open('Atika', '216€ + Tarifa 36,99€/mes 50% 3 meses')">
                        Lo quiero
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>