
<!-- Atika TV -->
<section class="vf-vodafonetv ws10-u--pt12x">
    <h2 class="ws10-u-heading--4 ws10-u--mb2x vf-title--light">Dispositivo Vodafone TV</h2>
    <h3 class="ws10-u-heading--3">Disfruta del <strong>mejor sonido</strong> en casa con el <strong>altavoz inteligente Átika</strong></h3>
    <div class="ws10-o-layout">
        <div class="ws10-o-layout__item ws10-u--1/2@desktop" >
            <img src="img/atika-desktop.png" alt="Atika Vodafone">
        </div>
        <div class="ws10-o-layout__item ws10-u--1/2@desktop">
            <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x">
                <div class="ws10-c-product-detail__icon">
                    <img src="img/icons/mute-icon.png" alt="icon Mute">
                </div>
                <p class="ws10-c-product-detail__text">6 micrófonos con tecnología de <strong>cancelación de ruido</strong> para entender tu orden a la primera.</p>
            </div>
            <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x">
                <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                    <title>Icono Teléfomo fijo</title>
                    <use class="icon-v3" xlink:href="#icon-connectivity-mid"></use>
                </svg>
                <p class="ws10-c-product-detail__text"><strong>La mejor calidad envolvente 5.1 Dolby Audio</strong> con algunas tecnologías de Devialet.
                </p>
            </div>
            <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x">
                <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                        xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                    <title>Icono Teléfomo fijo</title>
                    <use class="icon-v3" xlink:href="#icon-community-or-foundation-mid"></use>
                </svg>
                <p class="ws10-c-product-detail__text">Potentes bajos y gran rango dinámico con tecnología Devialet SAM®. <strong>Incorpora 2 subwoofers y 3 altavoces.</strong>
                </p>
            </div>
            <div class="ws10-c-product-detail ws10-u--mt2x ws10-u--mb2x ws10-u--pr3x">
                <div class="ws10-c-product-detail__icon">
                    <img src="img/icons/sound-active-icon.png" alt="icon Mute">
                </div>
                <p class="ws10-c-product-detail__text"> Tecnología Devialet SPACE™ para una <strong>experiencia sonora</strong> inmersiva y ajuste automático del volumen con tecnología AVL™.</p>
            </div>
        </div>
    </div>
</section>