<link href="css/ws2r.css" rel="stylesheet"  data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-microcss  data-vfes-inline-asset/>
<div class="vfes-ms-content-baseSales__Segundasresidencias" id="segundas-residencias" style="display: none">
    <div class="vfms-background">
        <div class="vfes-layout__wrapper vfes-flex vfes-flex__justify--end">
            <div class="vfes-1/1-mov vfes-1/2 vfes-1/1-palm">
                <h4 class="vfes-title vfes-title--4 vfes-title--bold vfes-pb-">¡Hola!</h4>
                <h4 class="vfes-title vfes-title--4 vfes-mb0 vfes-pb-">Por ser cliente de <span class="vfes-title--bold">Vodafone One,</span></h4>
                <p class="vfes-mb- vfes-title--1 vfes-title--light">Disfruta de <span class="vfes-title--bold">datos ilimitados</span> en tu <span class="vfes-title--bold">segunda residencia</span> por solo <span class="vfes-title--bold">25€/mes</span></p>
                <a href="tel:#" class="vfes-button vfes-button--primary" data-analytics-element="llama gratis" data-analytics-context="nudge tv" data-analytics-category="cta">Llama gratis al XXX XXX XXX</a>
            </div>
        </div>
    </div>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
