<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vf-banner" id="banner-fibra" style="visibility: hidden;opacity: 0">
	<div class="ws10-o-wrapper">
        <div class="ws10-o-layout ws10-u--pt8x ws10-u--pb8x">
            <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                <h3 class="ws10-u-heading--4-lt">Tarifas de Fibra Óptica</h3>
                <h2 class="ws10-u-heading--2-lt">Llévate <strong>internet en casa</strong> sin <strong>caídas ni interrupciones</strong></h2>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                <img class="vf-fiber__imgdesktop" src="img/bodegon-desktop.png">
                <img class="vf-fiber__imgmobile" src="img/bodegon-mobile.png">
            </div>
        </div>
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>