<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-banner" id="iPhone-tarifas">
    <div class="vfes-layout__wrapper vfes-colours-bg-light-grey vfes-pr vfes-pl">
		<div class="vfes-flex vfes-flex__justify--between">
			<div>
				<p class="vfes-title vfes-title--light vfms-title vfes-colours--dark-grey">Descubre todas las ofertas de Apple</p>
				<div class="vfes-flex vfes-flex__justify--between vfes-flex__align-items--end">
					<p class="vfes-paragraph vfes-paragraph--large vfms-nomargin__bottom">
						<a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles-apple/" target="_new" class="vfes-link vfes-link--red-chevron vfes-colours--vodafone-red vfes-mb-mov">Más información</a>
					</p>
					<div class="hide--tb">
						<img src="img/device-mobile.png" alt="dispositivos Apple" data-vfes-inline-asset>
					</div>
				</div>
			</div>
			<div>
				<img class="hide--xs hide--lrg" src="img/device-tablet.png" alt="dispositivos Apple" data-vfes-inline-asset>
				<img class="hide--md hide--sm" src="img/device-desktop.png" alt="dispositivos Apple" data-vfes-inline-asset>
			</div>
		</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
