<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-filete" id="filete-boxless">
	<div class="slider vfes-colours-bg-dark-grey">
	<div class="slide-track vfes-colours--vodafone-white">
		<div class="slide">
			<div>
				<img class="vfes-mr-" src="img/icon.svg" data-vfes-inline-asset>
			</div>
			<p class="vfes-mb0 vfes-paragraph">Ya puedes contratar<span class="vfes-title--bold"> Vodafone TV para tu móvil</span></p>
		</div>
		<div class="slide">
			<div>
				<img class="vfes-mr-" src="img/icon.svg" data-vfes-inline-asset>
			</div>
			<p class="vfes-mb0 vfes-paragraph">Ya puedes contratar<span class="vfes-title--bold"> Vodafone TV para tu móvil</span></p>
		</div>
		<div class="slide">
			<div>
				<img class="vfes-mr-" src="img/icon.svg" data-vfes-inline-asset>
			</div>
			<p class="vfes-mb0 vfes-paragraph">Ya puedes contratar<span class="vfes-title--bold"> Vodafone TV para tu móvil</span></p>
		</div>
		<div class="slide">
			<div>
				<img class="vfes-mr-" src="img/icon.svg" data-vfes-inline-asset>
			</div>
			<p class="vfes-mb0 vfes-paragraph">Ya puedes contratar<span class="vfes-title--bold"> Vodafone TV para tu móvil</span></p>
		</div>
		<div class="slide">
			<div>
				<img class="vfes-mr-" src="img/icon.svg" data-vfes-inline-asset>
			</div>
			<p class="vfes-mb0 vfes-paragraph">Ya puedes contratar<span class="vfes-title--bold"> Vodafone TV para tu móvil</span></p>
		</div>
		<div class="slide">
			<div>
				<img class="vfes-mr-" src="img/icon.svg" data-vfes-inline-asset>
			</div>
			<p class="vfes-mb0 vfes-paragraph">Ya puedes contratar<span class="vfes-title--bold"> Vodafone TV para tu móvil</span></p>
		</div>
	</div>
</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
