<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-bannercta vfes-colours--vodafone-white vfes-p-mov vfes-p+ vfes-layout" id="bannercta-boxless">
	<div class="vfes-layout__wrapper">
		<div class="vfes-layout__item">
			<div class="vfes-flex">
				<div>
					<img class="hide--xs vfms-icon-rsp" src="img/hi-fi-icon.png" data-vfes-inline-asset>
				</div>
				<div class="vfes-ml+ vfes-ml-palm vfes-ml0-mov">
					<p class="vfes-paragraph vfms-title">Ya puedes contratar<span class="vfes-title--bold"> Vodafone TV para tu móvil</span></p>
					<div class="vfes-flex">
						<div class="vfes-mr-mov">
							<img class="icon-mv hide--tb" src="img/hi-fi-icon.png" data-vfes-inline-asset>
						</div>
						<p class="vfes-paragraph vfms-text">Añade a<span class="vfes-title--bold"> tu tarifa móvil</span> los packs de<span class="vfes-title--bold"> Vodafone TV</span> en el proceso de compra web, y disfrútalos en tus dispositivos. Cine, Series…y mucho más.  ¿A qué esperas?</p>
					</div>
				</div>
			</div>
			<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/paquete-tv-2/?tv=m" target="_self" title="más información" class="vfes-button vfes-button--primary vfms-button vfms-button__margin vfms-button__white" data-analytics-element="mas informcion" data-analytics-category="cta" data-analytics-context="banner cta boxless">
				Más información
			</a>
		</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
