<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nudge</title>
    <link href="css/ws2r.v13.css" rel="stylesheet"  />
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
</head>

<body>
	<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
    <div class="vfes-ms-content-cm" id="nudge">
		 <div class="vfms-banner">
				<div class="vfes-layout__wrapper vfms-banner-content">
					<div class="vfms-text">
						<p class="vfes-paragraph vfes-paragraph--center vfms-text__size vfms-text__width vfms-text__bold">¡Hola!</p>
						<p class="vfes-title vfes-title--light vfes-title--center vfms-text__width vfms-special-size">Como eres uno de los nuestros</p>
						<p class="vfes-title vfes-title--light vfes-title--center vfms-main__text">Renueva tu móvil a un precio <span class="vfms-text__bold"> muy especial</span></p>
						<p class="vfes-title vfes-title--light vfes-title--center vfms-text__margin vfes-paragraph--large">y hazte con una tarifa de <span class="vfms-text__bold"> datos ilimitados</span></p>
					</div>
					<div class="vfms-button">
						<a href="m.vodafone.es/webpca-bf" title="Entra en tu App Mi Vodafone" alt="Entra en tu App Mi Vodafone" class="vfes-button vfes-button--primary vfms-button__size vfms-mobile">Entra en tu App Mi Vodafone<span class="visually-hidden">Entra en tu App Mi Vodafone</span> </a>
						<a href="m.vodafone.es/webpca-bf" title="Entra en tu App Mi Vodafone" alt="Descarga tu App Mi Vodafone" class="vfes-button vfes-button--primary vfms-button__size vfms-desktop">Descarga tu App Mi Vodafone<span class="visually-hidden">Descarga tu App Mi Vodafone</span> </a>
					</div>
				</div>
			</div>
    </div>
	<script src="js/ws2r.v13.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
