<link href="css/ws2r.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content vfes-pt-mov vfes-pb-mov vfes-pt-palm vfes-pb-palm vfes-pt" id="nudge-renueva" style="display: none">
    <div class="vfes-layout__wrapper vfes-flex vfms-flex--container">
		<div class="vfms-flex--item">
			<div class="vfms-text--align">
				<h3 class="vfes-title vfes-title--light vfms-title vfes-mb--mov vfes-mb-palm vfes-mb">¡Renueva tu móvil!</h3>
				<p class="vfes-title vfes-title--light vfms-text">Por ser cliente tenemos los <span class="vfes-title--bold">mejores precios</span> para ti</p>
				
				<a href="https://m.vodafone.es/pil-web-terminales" title="Ir a Mi Vodafone" class="vfms-button vfms-button--tertiary vfes-mt vfes-mr" style="cursor: pointer;" target="_parent" data-analytics-context="base sales renovacion terminales" data-analytics-element="ir a mi vodafone" data-analytics-category="cta">Ir a Mi Vodafone
					<span class="visually-hidden">: Ir a Mi Vodafone</span>
				</a>
				<a href="tel:#" title="Llama gratis" class="vfms-button vfms-button--border vfes-mt" style="cursor: pointer;" target="_parent" data-analytics-context="base sales renovacion terminales" data-analytics-element="llama gratis" data-analytics-category="cta">Llama gratis al XXXX
					<span class="visually-hidden">: Llama gratis al XXXX</span>
				</a>
			</div>
		</div>
		<div class="vfms-flex--item">
			<div class="vfes-flex vfes-flex__justify--center vfes-mb-mov">
				<div>
					<img class="vfms-device hide--lrg" src="https://www.vodafone.es/c/statics/imagen/terminal-tablet-basesales-renueva.png">
				</div>
				<div>
					<img class="hide--sm" src="https://www.vodafone.es/c/statics/imagen/terminal-desk-basesales-renueva.png">
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
