.vfms-banner{
    margin: 0;
    padding: 10px 0;
    background-image: url('https://www.vodafone.es/c/statics/imagen/bg-mpv-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   

    & .vfes-flex{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    & .vfes-title{
        margin: 0;
        text-align: left;

    }

    & .vfes-title--1{
        font-size: 22px;
    }

    & .vfes-title--3{
        font-size: 17px;
    }


    & .vfms-img-left{
        width: 100px;
        margin-right: 10px;
    }


    & .vfms-img-right{
        display: none;
    }

}


@media screen and (min-width: 640px) {

    .vfms-banner{
         background-image: url('https://www.vodafone.es/c/statics/imagen/background-offer.jpg');
         padding: 20px 0;

         & .vfes-flex{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    
         & .vfms-img-right{
            display: block;
        }

        & .vfms-img-left{
            margin-left: -50px;
            margin-right: 0;
            width: 200px;
            
        }


        & .vfes-title{
            margin: 0;
            text-align: center;
    
        }

        & .vfes-title--1{
            font-size: 45px;
        }
    
        & .vfes-title--3{
            font-size: 30px;
        }
    
    }
  }
