<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content__terminales" id="nudge-terminales">
	<div class="vfes-layout__wrapper vfes-flex vfms-flex__direction vfms-align">
		<div class="vfes-layout__wrapper vfes-flex vfes-flex__direction--column vfms-align">
			<h3 class="vfes-title vfes-title--3 vfes-title--bold vfms-nudge__title vfes-mb-">¡Renueva tu móvil!</h3>
			<p class="vfes-title vfes-title--light vfes-title--5 vfes-mb vfes-mt-">Como eres nuestro cliente tenemos ofertas especiales para ti</p>
			<div class="vfms-button">
				<a href="tel:900 920 150" title="Llama gratis" alt="Llama gratis" class="vfes-button vfes-button--primary " data-analytics-element="llama gratis" data-analytics-category="cta" data-analytics-context="base sales ficha detalle catalogo">Llámanos gratis al <span class="vfms-bold"> 900 920 150 </span><span class="visually-hidden">Llámanos gratis al 900 920 150</span> </a>
			</div>
		</div>
		<div class="vfes-layout__wrapper">
			<img class="vfms-img__mobile" src="img/terminales-mobile.png" alt="terminales-mobile" title="terminales renueva" data-vfes-inline-asset>
			<img class="vfms-img__tablet" src="img/terminales-tablet.png" alt="terminales-tablet" title="terminales renueva" data-vfes-inline-asset>
			<img class="vfms-img__desktop" src="img/terminales-desktop.png" alt="terminales-desktop" title="terminales renueva" data-vfes-inline-asset>
		</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
