<link href="css/ws2r.v11.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content vfes-ws10" id="lp-preventa-terminales" style="display: none">


	{{!-- section text --}}
	<section class="vfes-layout vfms-text">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				{{!-- <h3 class="vfes-title vfes-title--center vfes-title--4">Elige el Samsung Galaxy Note10 que más se adapte
					a ti</h3> --}}
			</div>
		</div>
	</section>

	{{!-- section mobiles carousel --}}
	<section class="vfes-layout vfms-mobile">
		<div class="vfes-layout__wrapper">
			<section class="vfes-layout">
				<div class='vfes-carousel' data-vfes-js='_carousel'
					data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
					<ul class='vfes-carousel__list vfes-layout--padding js-carousel-list'>

						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
								<h3 class="vfes-title vfes-title--center vfes-title--bold vfes-title--5">Samsung Galaxy
									Note10
								</h3>
								<img class="vfms-mobile-img" alt="Samsung Galaxy Note10"
									src="img/mobiles/galaxy-note-10.jpg">
								<div class="vfms-mobile-dates">
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/screen-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Pantalla</p>
										</div>
										<div class="vfms-flex-right">
											<p>Tamaño 6.3"</p>
											<p>Resolución 2280x1080</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/camera-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Cámara</p>
										</div>
										<div class="vfms-flex-right">
											<p>Frontal 10Mp</p>
											<p>Trasera 16+12+12Mp</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/cloud-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Memoria</p>
										</div>
										<div class="vfms-flex-right">
											<p>Interna 256GB</p>
											<p>RAM 8GB</p>
										</div>
									</div>
								</div>
								<div class="vfms-mobile-prices">
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-big"><strong>23,50€/mes</strong></span> en 36
										meses</p>
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
									</p>

									<button class="device vfes-button vfes-button--primary vfms-large"
										data-device-name="Samsung Galaxy Note10" data-modal="info" data-modal-close
										aria-haspopup="dialog" data-analytics-context="Samsung Galaxy Note10"
										data-analytics-element="Reservar"
										data-analytics-category="cta">Reservar</button>
									<span class="visually-hidden">: Samsung Galaxy Note10</span>
								</div>
							</div>
						</li>




						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
								<h3 class="vfes-title vfes-title--center vfes-title--bold vfes-title--5">Samsung Galaxy
									Note10+</h3>
								<img class="vfms-mobile-img" alt="Samsung Galaxy Note10+"
									src="img/mobiles/galaxy-note-10+.jpg">
								<div class="vfms-mobile-dates">
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/screen-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Pantalla</p>
										</div>
										<div class="vfms-flex-right">
											<p>Tamaño 6.8"</p>
											<p>Resolución 3040x1440</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/camera-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Cámara</p>
										</div>
										<div class="vfms-flex-right">
											<p>Frontal 10Mp</p>
											<p>Trasera 16+12+12Mp</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/cloud-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Memoria</p>
										</div>
										<div class="vfms-flex-right">
											<p>Interna 256GB</p>
											<p>RAM 12GB</p>
										</div>
									</div>
								</div>
								<div class="vfms-mobile-prices">
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-big"><strong>27€/mes</strong></span> en 36 meses
									</p>
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
									</p>
									<button class="device vfes-button vfes-button--primary vfms-large" data-modal="info"
										data-modal-close aria-haspopup="dialog"
										data-device-name="Samsung Galaxy Note10+"
										data-analytics-context="Samsung Galaxy Note10 plus"
										data-analytics-element="Reservar"
										data-analytics-category="cta">Reservar</button><span class="visually-hidden">:
										Samsung Galaxy Note10+ </span>
									</a>
								</div>
							</div>
						</li>




						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
								<h3 class="vfes-title vfes-title--center vfes-title--bold vfes-title--5">Samsung Galaxy
									Note10+ 5G</h3>
								<img class="vfms-mobile-img" alt="Samsung Galaxy Note10+ 5G"
									src="img/mobiles/galaxy-note-10+.jpg">
								<div class="vfms-mobile-dates">
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/screen-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Pantalla</p>
										</div>
										<div class="vfms-flex-right">
											<p>Tamaño 6.8”</p>
											<p>Resolución 3040x1440</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/camera-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Cámara</p>
										</div>
										<div class="vfms-flex-right">
											<p>Frontal 10Mp</p>
											<p>Trasera 16+12+12Mp</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/cloud-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Memoria</p>
										</div>
										<div class="vfms-flex-right">
											<p>Interna 512GB</p>
											<p>RAM 12GB</p>
										</div>
									</div>
								</div>
								<div class="vfms-mobile-prices">
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-big"><strong>28,99€/mes</strong></span> en 36
										meses</p>
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
									</p>
    
									<button class="device vfes-button vfes-button--primary vfms-large" data-modal="info"
										data-modal-close aria-haspopup="dialog"
										data-device-name="Samsung Galaxy Note10+ 5G"
										data-analytics-context="Samsung Galaxy Note10+ 5G"
										data-analytics-element="Reservar"
										data-analytics-category="cta">Reservar</button>
									<span class="visually-hidden">: Samsung Galaxy Note10+ 5G</span>

								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</section>


	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
		<section id="info" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
			<div class="vfes-modal__head">
				<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
						class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
						<title>Close</title>
						<use class="icon-v3" xlink:href="#icon3-close"></use>
					</svg></button>
			</div>
			<div class="vfes-modal__content js-modal-content">
				<div class="vfms-text--container">
					<p id="device-title" class="vfes-title vfes-title--3  vfes-title--center vfms-device-title"></p>
					<p class="vfes-title vfes-title--3  vfes-title--center vfes-mb">¡Solo te queda un paso!</p>
					<p class="vfes-paragraph vfes-paragraph--center">Déjanos tus datos y nos pondremos en contacto
						contigo para finalizar la reserva.</p>
				</div>
				<div class="vfms-form--container">
					<form class="vfes-form wg-form">
						<div class="vfes-layout__item vfes-layout--center vfes-mb">
							<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
							<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
							<div class="vfes-layout__item vfms-flex vfes-mb">
								<input class="vfes-form__radio wg-input" type="radio" id="radio1" name="esCliente"
									data-wg-validation="required" value="si" />
								<label class="vfes-form__label vfms-checks--label " for="radio1">Soy cliente</label>
								<input class="vfes-form__radio wg-input" type="radio" id="radio2" name="esCliente"
									data-wg-validation="required" value="no" />
								<label class="vfes-form__label vfms-checks--label vfms-input-left" for="radio2">No soy
									cliente</label>
							</div>
							<input id="phone-model" class="vfes-form__input wg-input" type="hidden"
								style="display:none;" name="phone-model" placeholder="Modelo Teléfono" />
							<input class="vfes-form__input vfes-box--form__name wg-input vfms-input" type="text"
								name="nombre" data-wg-validation="required" placeholder="Nombre" />
							<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input" type="phone"
								name="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
								data-wg-validation="required,phone" placeholder="Nº teléfono"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

							<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox"
								id="privacy" value="on" type="checkbox" name="check" />
							<label class="vfes-form__label" for="privacy">Acepto la <a
									href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/"
									id="condiciones" class="button-privacy" title="Vodafone One" target="_blank"
									data-modal="legales" rel="nofollow"> Política de
									Privacidad</a></label>
							<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication" name="gdpr"
								value="on" />
							<label class="vfes-form__label" for="comunication">Acepto recibir comunicaciones
								comerciales de Vodafone </label>
						</div>


						<input class="vfes-button vfes-button--primary  vfms-large wg-submit tellamamos-ltc"
							type="submit" value="Enviar">
					</form>
				</div>
			</div>
		</section>
	</div>
</div>

<script src="js/ws2r.v11.js"></script>
<script src="js/main.js"></script>
