<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content-cu4 bb-hero herobanner-prego__slider" id="cu4">
    <div class="ws10-c-hero-dmp">
        <picture class="ws10-c-hero-dmp__w-img">
            <source media="(min-width:1024px)" srcset="https://www.vodafone.es/c/statics/imagen/491_BG_CU4_desktop.jpg">
            <source media="(min-width:768px)" srcset="https://www.vodafone.es/c/statics/imagen/491_BG_CU4_tablet.jpg">
            <img class="ws10-c-hero-dmp__img" src="https://www.vodafone.es/c/statics/imagen/491_BG_CU4_mobile.jpg">
        </picture>
        <div class="ws10-o-wrapper ws10-c-hero-dmp__wrapper">
            <div class="ws10-o-layout">
                <div class="ws10-o-layout__item ws10-u--8/12@tablet ws10-u--push-2/12@tablet ws10-u--4/12@desktop ws10-u--push-1/12@desktop">
                    <p class="ws10-c-hero-dmp__title ws10-u-heading--3-lt">
                        Llévate <strong>datos ilimitados y fibra 300Mbps</strong> por solo <strong>26,99€</strong>/mes
                    </p>
                    <p class="ws10-c-hero-dmp__w-btns">
                        <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-3/?dmp=12626262:cp-acciondmp:cn-dmp:md-CU4&c_var_11=dmp-cu4" class="ws10-c-hero-dmp__btn ws10-c-button" data-analytics-context="click home dmp" data-analytics-element="Más información" data-analytics-category="cta dmp" data-analytics-dmp-click="particulares:cu4:fibra-pot">
                            Más información
                            <span class="ws10-u--hidden-visually">:Más información móvil + fibra</span>
                        </a>
                        <a href="tel:900878196" type="button" name="cta" title="Llama gratis" class="ws10-c-hero-dmp__btn ws10-c-button ws10-c-button--secondary" data-analytics-context="click home dmp" data-analytics-element="llama gratis" data-analytics-category="cta dmp" data-analytics-dmp-click="particulares:cu4:fibra-pot">
                            Llama gratis al 900 878 196
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
