<div class="vfms-legales">
    
    <p class="vfes-title vfes-title--3">Condiciones Legales – Vodafone TV Hogar</p>

    <div class="vfes-paragraph">
        
        <p>El cliente puede incluir en el paquete Vodafone One el Paquete de televisión de Vodafone TV Hogar (uso privado) en las siguientes condiciones:</p>

        <p><strong>Pack Seriefans</strong> por 10€/mes para altas de clientes de Vodafone TV que contraten el pack a partir del 14 de abril. Sin permanencia y sin cuota de alta. Penalización por no devolución del equipo en caso de baja de 120€. HBO España incluido en este pack de Vodafone. Una vez dado de alta el Pack Seriefans, es necesario activar HBO España en vodafone.es/entretenimiento. Para activar HBO España es necesario tener contratado con Vodafone al menos una línea móvil. La baja del Pack Seriefans implica la cancelación del servicio de HBO España. </p>

        <p><strong>Pack Serielovers</strong> por 16€/mes para altas de clientes de Vodafone TV que contraten el pack a partir del 14 de abril. Sin permanencia y sin cuota de alta. Penalización por no devolución del equipo en caso de baja de 120€. HBO España incluido en este pack de Vodafone. Una vez dado de alta el Pack Serielovers, es necesario activar HBO España en vodafone.es/entretenimiento. Para activar HBO España es necesario tener contratado con Vodafone al menos una línea móvil. La baja del Pack Serieloves implica la cancelación del servicio de HBO España. </p>

        <p><strong>Pack Cinefans</strong> por 12€/mes para altas de clientes de Vodafone TV que contraten el pack a partir del 14 de abril. Sin permanencia y sin cuota de alta. Penalización por no devolución del equipo en caso de baja de 120€.</p>
        <p>Filmin incluido en este pack de Vodafone. Una vez dado de alta el Pack Cinefans, es necesario activar Filmin en vodafone.es/entretenimiento. Para activar Filmin es necesario tener contratado con Vodafone al menos una línea móvil. La baja del Pack Cinefans implica la cancelación del servicio de Filmin. </p>

        <p><strong>Pack Peque</strong> por 5€/mes para altas de clientes de Vodafone TV que contraten el pack a partir del 14 de abril. Sin permanencia y sin cuota de alta. Penalización por no devolución del equipo en caso de baja de 120€.</p>

        <p><strong>Pack Documentales</strong> por 8€/mes para altas de clientes de Vodafone TV que contraten el pack a partir del 14 de abril. Sin permanencia y sin cuota de alta. Penalización por no devolución del equipo en caso de baja de 120€.</p>

        <p><strong>Netflix</strong>: Cualquier cliente Vodafone puede dar de alta Netflix y pagarlo a través de su factura Vodafone o su saldo prepago. Los paquetes de Netflix que se podrán contratar son los siguientes: 1) Básico: 7,99€/mes, 2) Estándar: 10,99€/mes y 3) Premium: 13,99€/mes. Para ello, tendrá que activar el servicio a través de la web: http://vodafone.es/entretenimiento. El servicio se renovará de manera automática y con carácter mensual salvo comunicación previa antes de la siguiente renovación del servicio. La contratación se realiza con Netflix International B.V. Se podrá cursar la baja de Netflix o más información a través de la web: <a href="https://www.vodafone.es/entretenimiento" target="_blank">https://www.vodafone.es/entretenimiento</a>.</p>
        
        <div class="vfms-legals-offer">
            <p class="vfes-title vfes-title--4">Condiciones legales Promoción de Verano:</p>
            <p>Oferta válida para contrataciones en tarifas Vodafone One para nuevos clientes (altas nuevas y portabilidades) y clientes existentes de móvil o fijo que se hagan convergentes hasta el 30/06/2019. Descuento en la cuota de la tarifa durante los 3 primeros meses; descuento de 35€/mes en la tarifa Vodafone One Ilimitada, 43 € en Vodafone One Ilimitada Súper y 50€/mes en Vodafone One Ilimitada Total 600Mb. Compromiso de 12 meses en Vodafone One, con penalización por baja anticipada por importe máximo de hasta 150 euros en función del descuento aplicado y el tiempo que reste para el cumplimiento del compromiso. Oferta no acumulable con otras ofertas de fibra y fijo, o móvil. Por la instalación del Servicio de fibra Vodafone incurre en un coste de 150 euros. En el caso de que el servicio se dé de baja dentro de los 12 primeros meses desde la instalación, Vodafone repercutirá al cliente el citado coste de 150 euros. 
            Precio después de promoción: Vodafone One Ilimitada 69.99€, Vodafone One Ilimitada Súper 84.99€ y Vodafone One Ilimitada Total 1Gbps 109,99€.</p>
        </div>
    </div>

</div>
