// CSS del microsite
.vfes-ms-content-fibra{
    background-image: url('https://www.vodafone.es/c/statics/imagen/bg_mobile_fibra.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (min-width: 640px) {
        background-image: url('https://www.vodafone.es/c/statics/imagen/bg_desktop_fibra.png');
    }
    .vfes-title--5-large {
        font-size: 24px;
        @media screen and (min-width: 640px) {
            font-size: 34px;
            max-width: 250px;
        }
        @media screen and (min-width: 970px) {
            font-size: 40px;
            max-width: 455px;
        }
    }
    .vfms-img {
        @media screen and (min-width: 640px) {
            max-width: 230px;
        }
        @media screen and (min-width: 970px) {
            max-width: none;
        }
    }
    .vfms-align {
        text-align: center;
        @media screen and (min-width: 640px) {
            text-align: left;
            align-items: flex-end;
        }
    }
    .vfes-flex__direction--row-column-sm {
        @media screen and (min-width: 640px) {
            flex-direction: row;
        }
    } 
    .vfms-button{
        &__container {
            @media screen and (min-width: 640px) {
                max-width: 200px;
            }
            @media screen and (min-width: 970px) {
                max-width: none;
            }
        }
    }
    .vfes-text{
        &__min {
            @media screen and (min-width: 640px) {
                font-size: 24px;
            }
        }
    } 
    } 