<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nudge</title>
    <link href="css/ws2r.v13.css" rel="stylesheet"  />
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />
</head>

<body>
	<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
    <div class="vfes-ms-content-bf" id="nudge">
		 <div class="vfms-banner">
				<div class="vfes-layout__wrapper vfms-banner-content">
					<div class="vfms-text">
						<p class="vfes-paragraph vfes-paragraph--center vfms-text__size vfms-text__width vfms-text__bold">¡Hola!</p>
						<p class="vfes-paragraph vfes-paragraph--center vfes-paragraph--large vfms-text__width vfms-special-size">Como eres uno de los nuestros</p>
						<p class="vfes-paragraph vfes-paragraph--center vfms-main__text vfms-text__bold">renueva tu móvil a un precio muy especial</p>
						<p class="vfes-paragraph vfes-paragraph--center  vfms-text__margin vfes-paragraph--large">y hazte con una tarifa de datos ilimitados</p>
						<!--<p class="vfes-paragraph vfes-paragraph--center vfms-text__margin vfms-text__width vfes-paragraph--large">¡Además, Pack Serielovers <span class="vfms-text__bold"> gratis</span>, con <span class="vfms-text__bold"> HBO España y Amazon Prime Video!</span></p>-->
					</div>
					<div class="vfms-button">
						<p class="vfes-paragraph vfes-paragraph--center vfms-text__margin vfms-text__width vfes-paragraph--large"><span class="vfms-text__bold">Entra</span>, en tu App <span class="vfms-text__bold">Mi Vodafone</span></p>
						<p class="vfes-paragraph vfes-paragraph--center vfms-text__margin vfms-text__width vfes-paragraph--large">o</p>
						<p class="vfes-paragraph vfes-paragraph--center vfms-text__margin vfms-text__width vfes-paragraph--large vfms-tel"><span class="vfms-text__bold">Llámanos gratis al </span> <a href="tel:900920166" title="Llama gratis" alt="Llama gratis" class="vfms-button__size"><span class="drp-phone"> 900920166</span><span class="visually-hidden">Llama gratis al  900920166</span> </a></p>
					</div>
					<div class="vfms-button-mobile">
						<a href="m.vodafone.es/webpca-bf" title="Entra en tu App Mi Vodafone" alt="Entra en tu App Mi Vodafone" class="vfes-button vfes-button--primary vfms-button__size">Entra en tu App Mi Vodafone<span class="visually-hidden">Entra en tu App Mi Vodafone</span> </a>
					</div>
				</div>
			</div>
    </div>
	<script src="js/ws2r.v13.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
