<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nudge</title>
    <link href="css/ws2r.v13.css" rel="stylesheet"  />
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>

</head>

<body>
	<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
    <div class="vfes-ms-content-base-sales" id="nudge">
		 <div class="vfms-banner">
				<div class="vfes-layout__wrapper vfms-banner-content">
					<div class="vfms-text">
						<p class="vfes-paragraph vfms-paragraph--position vfms-text__size vfms-text__width vfms-text__bold">¡Hola!</p>
						<p class="vfes-paragraph vfes-paragraph--light vfms-paragraph--position vfes-paragraph--large vfms-text__width vfms-special-size">Como eres nuestro cliente</p>
						<p class="vfes-paragraph vfms-paragraph--position vfms-main__text vfms-text__width">Llévate Móvil + Fibra + TV al <span class="vfms-text__bold">50% dto.</span> durante <span class="vfms-text__bold">3 meses</span></p>
						
						<p class="vfes-paragraph vfms-paragraph--position vfms-paragraph--pack-included  vfms-text__width vfes-paragraph--large">Pack Seriefans incluido con , con <span class="vfms-text__bold"> HBO España<a href=""></a>!</span></p>
					
						<p class="vfes-paragraph vfms-paragraph--position vfms-text__width  vfes-paragraph--large vfms-paragraph--pack-included">Por solo</p>
						<p class="vfes-paragraph vfms-paragraph--position  vfms-text__width  vfes-paragraph--large vfms-paragraph--pack-price"><span class="vfms-text__bold">31,99€/mes.</span></p>
					</div>

					<div class="vfms-link">
						<p class="vfes-paragraph vfms-only-desktop">Llámanos gratis al  <a href="tel:900920159" title="Llama gratis" alt="Llama gratis" ><span class="drp-phone"> 900 920 159</span><span class="visually-hidden">Llama gratis al 900 920 159</span> </a></p>
					</div>
					<div class="vfms-button ">
						<a href="tel:900920159" title="Llama gratis" alt="Llama gratis" class="vfms-only-mobile vfes-button vfes-button--primary vfms-button__size ">Llama gratis al <span class="drp-phone"> 900 920 159</span><span class="visually-hidden">Llama gratis al 900 920 159</span> </a>
					</div>
				</div>
			</div>
    </div>
	<script src="js/ws2r.v13.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
