<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-oferta" id="catalogo">
    <div class="vfes-layout__wrapper vfes-mt">
        <article class="vfes-card vfms-card vfes-p">
            <p class="vfes-paragraph vfes-paragraph--large vfes-colours--vodafone-white vfms-card__text">Elige<span class="vfes-title--bold"> cualquiera de nuestros móviles</span> con una <span class="vfes-title--bold"> tarifa ilimitada total</span> al <span class="vfes-title--bold"> 50% de descuento</span></p>
		</article>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
