<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
	
    <div class="vfes-ms-content vfms-overlay" id="pop-up-ilimitable">
		<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
			<div class="vfms-popup">
				<button id="target" class="vfms-close">
					<img src="img/ic-close.png">
				</button>
				<div class="vfes-layout">
					<div class="vfes-layout__wrapper">
						<div class="vfes-layout__item">
							<p class="vfes-title vfms-title vfes-title--center vfes-mb--mov"><strong>¡Hola!</strong></p>
							<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center vfms-text">Como eres uno de los nuestros, tenemos ofertas especiales para ti.</p>
							<p class="vfes-title vfms-title vfes-title--center vfes-mb--mov"><strong>Líneas adicionales al 50%</strong></p>
							<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center vfms-text">pasándote a una tarifa de datos ilimitados</p>
							<p class="vfes-paragraph vfms-special--size vfes-paragraph--center vfes-mb-mov"><strong>¿Te interesa?</strong></p>
						</div>
						
						<button class="vfes-button vfes-button--primary" data-analytics-element="llama gratis" data-analytics-context="pop up ilimitables" data-analytics-category="cta">Llama gratis al XXXXXXX </button>
					</div>
					
				</div>
				
			</div>	
    </div>
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
