<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="mini" style="visibility: hidden;opacity: 0">
    <!-- BANNER & DIV TICKET QUE INYECTA WCS -->
    <section class="vf-banner ws10-u--1/1" data-js="_banner">
        <div class="ws10-o-wrapper">
            <div class="ws10-o-layout">
                <div class="vf-banner__textcontainer ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
                    <span class="ws10-u-heading--4">Tarifa Móvil contrato</span>
                    <p class="ws10-u-heading--2-lt ws10-u--pt5x ws10-u--4/5@desktop">Disfruta de la <strong> mejor red</strong> para navegar y <strong><span class="vfms-block">chatear sin límites</span></strong></p>
                    <span class="ws10-u-color--primary ws10-flex ws10-flex__align-items--center"><img
                            class="ws10-u--pr1x" alt="icono mejor precio Vodafone"
                            src="img/banner/icono-bestprice.svg"><span>Mejor Precio Vodafone</span></span>
                </div>
                {{!-- TICKET DESKTOP --}}
                <div class="vfes-ws10 ws10-o-layout__item ws10-u--1/3@desktop ws10-u--2/5@tablet">
                    <div data-ws10-module-replace="1500091064813"></div>
                </div>
                {{!-- <div class="vf-ticket ws10-o-layout__item ws10-u--1/3@desktop ws10-u--2/5@tablet" data-js-vf="_ticket">
                        <div class="vf-ticket__floating">
                            <h2 class="ws10-u-heading--4 ws10-u-heading--4-lt">Tarifa Móvil Mini</h2>
                            <section class="ws10-c-card ws10-c-card-rate" data-ws10-js="card-rate">
                                <div class="ws10-c-card-rate__w-rates">
                                            <div class="ws10-c-card-rate__a-rate">
                                                <ul class="ws10-c-card-rate__product-info">
                                                    <li class="ws10-c-card-rate__product-info-item">
                                                        <svg class="ws10-c-card-rate__product-icon"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                                            <use xlink:href="#icon-mobile"></use>
                                                        </svg>
                                                        <div class="ws10-c-card-rate__product">
                                                            <p class="ws10-c-card-rate__product-title">
                                                                4GB y 200 minutos GRATIS
                                                            </p>
                                                            <p class="ws10-c-card-rate__product-txt">
                                                                + SMS ilimitados
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <form action="" method="get" class="vf-form ws10-c-card-rate__form ws10-c-form" data-js-vf="_showOrHideSticky">
                                                    <fieldset>
                                                        <legend class="ws10-c-card-rate__form-title">
                                                            ¿Cómo quieres la línea móvil?
                                                        </legend>
                                                        <div class="ws10-c-card-rate__w-form-select">
                                                            <div class="vf-form__box ws10-c-form__box">
                                                                <input type="radio"
                                                                       name="rate-1-card-rate"
                                                                       id="rate-1-card-rate-option-1"
                                                                       class="ws10-c-form__radio"
                                                                       checked>
                                                                <label for="rate-1-card-rate-option-1" class="ws10-c-card-rate__form-label ws10-c-form__label"  data-js-vf="_buttonTypeLine">
                                                                    Portabilidad
                                                                </label>
                                                            </div>
                                                            <div class="vf-form__box s10-c-form__box ">
                                                                <input type="radio"
                                                                       name="rate-1-card-rate"
                                                                       id="rate-1-card-rate-option-2"
                                                                       class="ws10-c-form__radio">
                                                                <label for="rate-1-card-rate-option-2" class="ws10-c-card-rate__form-label ws10-c-form__label"  data-js-vf="_buttonTypeLine" data-js-vf-value="newNumber">
                                                                    Nuevo Número
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <div class="ws10-c-card-rate__w-cta" data-js-vf="_portability">
                                                        <div class="ws10-c-card-rate__w-offers">
                                                            <div class="ws10-c-card-rate__offer"
                                                                 id="rate-1-offer-1">
                                                                <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                                                    50% dto. 6 meses
                                                                </p>
                                                                <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                                    Sin permanencia
                                                                </p>
                                                                <p class="ws10-c-card-rate__price">
                                                                    19,99€<sub>/mes</sub>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <a href="#" type="submit" name="cta" title="Lo quiero" onmousedown="addtocart(utag_data.plans_add2cart)" class="ws10-c-button ws10-c-button--auto" data-analytics-context="mini portabilidad" data-analytics-element="lo quiero" data-analytics-category="cta" data-analytics-id="1500089056793-4725875109883">
                                                            Lo quiero
                                                        </a>
                                                    </div>
                                                    <div class="ws10-c-card-rate__w-cta ws10-u--hidden" data-js-vf="_newNumber">
                                                        <div class="ws10-c-card-rate__w-offers">
                                                            <div class="ws10-c-card-rate__offer"
                                                                 id="rate-1-offer-1">
                                                                <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                                                    xxx dto.
                                                                </p>
                                                                <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                                    Sin permanencia
                                                                </p>
                                                                <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                                                    <del>xx,99€/mes</del>
                                                                </p>
                                                                <p class="ws10-c-card-rate__price">
                                                                    19,99€<sub>/mes</sub>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <a href="#" type="submit" name="cta" title="Lo quiero" class="ws10-c-button ws10-c-button--auto" data-analytics-element="Lo quiero" data-analytics-context="mini numero nuevo" data-analytics-category="cta" data-analytics-id="1500089056793-4725602977766" onmousedown="addtocart(utag_data.plans_add2cart)">
                                                            Lo quiero
                                                        </a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                            </section>
                        </div>
                    </div> --}}
            </div>
        </div>
    </section>
    <!-- CONTENIDO EN 2/3 DE LA PÁGINA -->
    <div class="ws10-o-wrapper">
        <div class="ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--2/3@desktop ws10-u--3/5@tablet">
                <!-- MÓVIL -->
                <section class="vf-mobile ws10-u--pt12x">
                    <h3 class="ws10-u-heading--4 ws10-u--mb2x ws10-u-heading--4-lt">Móvil</h3>
                    <h3 class="ws10-u-heading--3"><strong>4GB para navegar con velocidad 5G</strong></h3>
                    <div class="vf-mobile__details ws10-flex ws10-flex__wrap">
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                        <div class="ws10-c-product-detail__icon">
                            <img src="img/svg/icono-user.svg" alt="Icono Usuarios">
                        </div>
                            <p class="ws10-c-product-detail__text"><strong>4GB</strong> para que los uses en lo que prefieras: redes sociales, música, juegos, descargas…</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono 5G</title>
                                <use class="icon-v3" xlink:href="#icon-5G_esp-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text">Todo con la nueva <strong>conexión 5G.</strong></p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <svg class="ws10-c-product-detail__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
                                <title>Icono llamadas</title>
                                <use class="icon-v3" xlink:href="#icon-unified-communication-mid"></use>
                            </svg>
                            <p class="ws10-c-product-detail__text"><strong>200 minutos</strong> con cualquier operador nacional las 24 horas.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <div class="ws10-c-product-detail__icon">
                                <img src="img/svg/icono-mensajes.svg" alt="Icono SMS">
                            </div>
                            <p class="ws10-c-product-detail__text"><strong>SMS ilimitados</strong> con cualquier operador nacional.</p>
                        </div>
                        <div class="ws10-c-product-detail ws10-u--1/2@desktop">
                            <img class="ws10-c-product-detail__icon" src="img/section-mobile/roaming.svg"
                                alt="icono roaming" style="padding: 0.8rem;">
                            <p class="ws10-c-product-detail__text"> <strong>Roaming incluido en Europa, Reino Unido y EEUU.</strong> Disfruta con las mismas condiciones de tu tarifa, sin preocupaciones también en EEUU.</p>
                        </div>
                    </div>
                </section>
                <!-- TAMBIÉN INCLUIDO -->
                <section class="vf-mobile ws10-u--pt12x">
                    <h3 class="ws10-u-heading--3"><strong>También incluido en Tarifa Móvil Mini</strong></h3>
                    <div class='ws10-c-carousel ws10-c-carousel--secondary ws10-c-carousel--secondary-left ws10-u--pl0'
                        data-ws10-js='carousel'
                        data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":1},"2":{"breakpoint":970,"elements":2}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
                        <ul class='ws10-c-carousel__list js-carousel-list' id="idUl" aria-labelledby="idList">
                            <li class='ws10-c-carousel__list-element js-carousel-list-element'>
                                <div class="ws10-c-card ws10-c-card--no-shadow">
                                    <div class="ws10-c-card-addons">
                                        <div class="ws10-c-card-addons__box">
                                            <img class="ws10-u--pr1x" src="img/section-addons/secureNet.svg"
                                                alt="SecureNet">
                                            <h3 class="ws10-c-card-addons__title"><strong>SecureNet</strong></h3>
                                        </div>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb5x">Mantén seguro completamente tu Smartphone ante amenazas externas con el <strong>antivirus integrado</strong> en el servicio Secure Net. Navega sin preocupaciones en todos tus dispositivos.</p>
                                        <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong> durante 3
                                            meses, después 1€/mes.</p>
                                    </div>
                                </div>
                            </li>
                            <li class='ws10-c-carousel__list-element js-carousel-list-element'>
                                <div class="ws10-c-card ws10-c-card--no-shadow">
                                    <div class="ws10-c-card-addons">
                                        <div class="ws10-c-card-addons__box">
                                            <img class="ws10-u--pr1x" src="img/section-addons/tidal.svg" alt="Tidal">
                                            <h3 class="ws10-c-card-addons__title"><strong>Tidal</strong></h3>
                                        </div>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb5x">Plataforma de música en
                                            streaming para que disfrutes de tu música con la mejor calidad de audio.</p>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb12x"><strong>GRATIS</strong>
                                            durante 3 meses, después 7,99€/mes.</p>
                                    </div>
                                </div>
                            </li>

                            <li class='ws10-c-carousel__list-element js-carousel-list-element'>
                                <div class="ws10-c-card ws10-c-card--no-shadow">
                                    <div class="ws10-c-card-addons">
                                        <div class="ws10-c-card-addons__box">
                                            <img class="ws10-u--pr1x" src="img/section-addons/numberOne.svg"
                                                alt="Tidal">
                                            <h3 class="ws10-c-card-addons__title"><strong>OneNumber</strong></h3>
                                        </div>
                                        <p class="ws10-c-card-addons__paragraph ws10-u--pb5x"><strong>Mismo número y misma tarifa de voz y datos en todos tus dispositivos</strong> sin tener que cambiar la SIM con OneNumber.
                                        <p class="ws10-c-card-addons__paragraph"><strong>GRATIS</strong> 1 mes, después 5€/mes.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <span class="ws10-c-carousel__helperText ws10-u--pl0" id="idList" style="left: 0">(*)Todos los
                            servicios podrás gestionarlos en la App Mi Vodafone</span>
                    </div>
                </section>
                <!-- SIN SORPRESAS -->
                <section class="vf-mobile ws10-u--pt12x">
                    <h3 class="ws10-u-heading--4 ws10-u--mb2x ws10-flex ws10-flex__direction--column">
                        <span><strong>Sin sorpresas.</strong></span>
                        <span><strong>No escondemos nada</strong></span>
                    </h3>
                    <p>Impuestos y cuota de línea incluidos.</p>
                    <p>Sin permanencia.</p>
                    <a class="vfes-link vfms-link vfes-link--red-chevron" target="_new" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/legales/" title="Ver condiciones legales" data-analytics-element="ver condiciones legales sin sorpresas" data-analytics-context="ficha tarifa mini" data-analytics-category="cta" data-analytics-id="1500089056793-0542767590225">Ver condiciones legales</a>
                </section>
                <!-- TIMELINE  -->
                <section class="vf-timeline ws10-u--pt12x">
                    <h3 class="ws10-u-heading--4"><strong>¿Cómo contrato la Tarifa Móvil Mini?</strong></h3>
                    <ul class="ws10-c-timeline-steps">
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Icono carrito</title>
                                <use xlink:href='#icon-shopping-trolley-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Compra online</p>
                            <p class="ws10-c-timeline-steps__text">Recibirás un email de confirmación con el detalle de tu pedido y próximos pasos para disfrutar de tu Tarifa Móvil Mini de Vodafone.</p>
                        </li>
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Icono portabilidad</title>
                                <use xlink:href='#icon-business-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Portabilidad</p>
                            <p class="ws10-c-timeline-steps__text">Eliges la fecha y lugar de entrega de tu nueva SIM y sabrás el día exacto del cambio. Nos aseguraremos que no te quedas sin línea.</p>
                        </li>
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Icono envío</title>
                                <use xlink:href='#icon-bundles-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Recibe la SIM</p>
                            <p class="ws10-c-timeline-steps__text">El envío puede tardar entre 2-3 días laborables (en la penisula) y 5-7 (a Baleares y Canarias, Ceuta o Melilla).</p>
                        </li>
                        <li class="ws10-c-timeline-steps__item">
                            <svg class="ws10-c-timeline-steps__icon" xmlns='http://www.w3.org/2000/svg'
                                xmlns:xlink='http://www.w3.org/1999/xlink' width='48px' height='48px'>
                                <title>Business</title>
                                <use xlink:href='#icon-unified-communication-mid'></use>
                            </svg>
                            <p class="ws10-c-timeline-steps__title">Mi Vodafone</p>
                            <p class="ws10-c-timeline-steps__text">Podrás registrarte y hacer el seguimiento de tu pedido y gestionar tus servicios desde la app de Vodafone.</p>
                        </li>
                    </ul>
                </section>
                <!-- FAQS  -->
                <section class="vf-faqs ws10-u--pt12x ws10-u--pb16x">
                    <h3 class="ws10-u-heading--4"><strong>Preguntas Frecuentes</strong></h3>
                    <div class="ws10-c-accordion">
                        <details class="ws10-c-accordion__item" id="item1">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué incluye la tarifa Móvil Mini?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>La Tarifa Móvil Mini de Vodafone incluye 4GB de datos móviles y 200 minutos en llamadas, tanto a fijos como a móviles, por sólo 19,99€ al mes IVA incluido. Puedes contratarla a través de una portabilidad o un nuevo número. Sin permanencia.</p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item2">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Para quién está pensada la tarifa Móvil Mini?</p>
                                 <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p> La tarifa Móvil Mini está pensada para los clientes que quieren disfrutar de una cantidad moderada de llamadas y una navegación fluida por la red para, entre otros, consultar sus redes sociales, mensajería instantánea, leer diarios digitales y mucho más por un precio más que asequible.
                                </p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item3">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿La Tarifa Móvil Mini es de prepago?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                    No, se trata de una tarifa móvil de contrato que pagarás mensualmente. Con la tarifa Móvil Mini, olvídate de la preocupación de tener que acordarte de renovar tu tarifa regularmente para no quedarte sin datos. Si buscas una <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/prepago-y-recargas/tarifas-de-prepago/" target="_new">tarifa prepago</a>, en Vodafone tienes disponibles diferentes tipos de tarifas de prepago con las que te regalamos 10GB extra cada vez que recargues.
                                </p>
                            </article>
                        </details>
                        <details class="ws10-c-accordion__item" id="item4">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Qué ocurre si gasto todos los minutos de mi tarifa Móvil Mini?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                   Recuerda que esta tarifa incluye 200 minutos en llamadas con cualquier operador nacional las 24 horas sin gasto adicional. Consumidos los 200 minutos, se aplica un precio de 0,25€/min y 0,30€ de establecimiento de llamada.
                                </p>
                            </article>
                        </details>

                        <details class="ws10-c-accordion__item" id="item5">
                            <summary class="ws10-c-accordion__header">
                                <p class="ws10-c-accordion__title">¿Puedo contratar líneas adicionales con la Tarifa Móvil Mini?</p>
                                <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                    <title>Deploy</title>
                                    <use xlink:href="#icon-chevron-down"></use>
                                </svg>
                            </summary>
                            <article class="ws10-c-accordion__content">
                                <p>
                                   Si no eres cliente Vodafone puedes contratar más de una línea en el proceso de compra de la tarifa móvil. Cuando estés tramitando el pedido en la web, te daremos la opción de incluir más líneas con un 50% de descuento en cada una de ellas. Podrás realizar todo el trámite de manera digital de una forma rápida y sencilla. Si ya eres cliente Vodafone, podrás contratar líneas adicionales entrando en la App Mi Vodafone, desde tu área privada podrás añadir más líneas a tu plan actual. Si lo prefieres, también puedes llamar gratis al siguiente teléfono: <a href="tel:900920052">900 920 052</a>.
                                </p>
                            </article>
                        </details>
                    </div>
                </section>
            </div>
        </div>
    </div>
   <!-- STICKY BOTTOM -->
    {{!-- <section class="vf-sticky ws10-c-card-rate-sticky ws10-u--hidden" data-js-vf="_stickyRate">
        <div class="ws10-c-card ws10-c-card--no-borders-bottom-radius">
            <div class="ws10-c-card-rate-sticky__w-cta" data-js-vf="_portability">
                <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
                    <del class="ws10-c-card-rate-sticky__dto-price">xx,xx€/mes</del>
                    <span class="ws10-c-card-rate-sticky__final-price">
                        <span class="ws10-c-card-rate-sticky__final-price-value">19,99€</span>
                        <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
                    </span>
                </div>
                <a href="#" name="cta" title="CTA" class="ws10-c-button ws10-c-button--auto" data-analytics-element="lo quiero" data-analytics-context="mini portabilidad sticky"
                    data-analytics-category="cta" data-analytics-id="1500089056793-7254816844484" onmousedown="addtocart(utag_data.plans_add2cart)">
                    Lo quiero
                </a>
            </div>
            <div class="ws10-c-card-rate-sticky__w-cta ws10-u--hidden" data-js-vf="_newNumber">
                <div class="ws10-c-card-rate-sticky__offer ws10-flex ws10-flex__direction--column">
                    <del class="ws10-c-card-rate-sticky__dto-price">xx€/messss</del>
                    <span class="ws10-c-card-rate-sticky__final-price">
                        <span class="ws10-c-card-rate-sticky__final-price-value">19,99€</span>
                        <span class="ws10-c-card-rate-sticky__final-price-date">/mes</span>
                    </span>
                </div>
                <a href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1250806&tcli=0&tta=1" name="cta" title="CTA" class="ws10-c-button ws10-c-button--auto" data-analytics-element="lo quiero" data-analytics-context="mini numero nuevo sticky"
                    data-analytics-category="cta" data-analytics-id="1500089056793-8360881607994">
                    Lo quiero
                </a>
            </div>
        </div>
    </section> --}}


</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
