<link href="css/ws10.css" rel="stylesheet"  data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  data-vfes-inline-asset/>
<div class="vf-bs" id="nudgeTvSerielovers">
    <div class="vf-stickyBottomContainer ws10-u-color--white">
        <div class="ws10-u--3/4@desktop ws10-u--1/1 vf-stickyBottomContainer__flex">
            <p class="ws10-u-heading--5 ws10-u--mb0"><strong>Pack Serielovers</strong></p>
            <p class="vf-stickyBottomContainer__text">Por ser cliente, llévate ahora <strong>HBO España y Amazon Prime</strong> por <strong>4€/mes</strong> con tarifas ilimitadas</p>
            <a href="tel:900920145" class="drp-href ws10-c-button ws10-u--mb2x" title="Llama gratis" data-analytics-element="Llama gratis" data-analytics-category="cta"> Llama gratis al <span class="drp-phone">900920145</span></a>
        </div>
    </div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
