<link href="css/ws2r.v14.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="fibra600">
{{!-- Fibra--}}

	{{!-- Fibra 600Mbps--}}
	<section class="vfes-layout vfms-banner fibra600mb" id="fibra600mb">
        <div class="vfes-layout__wrapper vfms-one-wrapper">
            <div class="vfes-layout__item vfes-1/1-mov vfes-2/3-palm vfes-3/4 vfes-color--vodafone-gray vfms-banner-info">
				<div class="vfms-banner-info-container">
					<h1 class="vfms-banner-info-copy">
						<p "vfes-title--regular">Contrata la  <span class="vfes-title--bold">Fibra Yuser</span></p>
						<img src="img/logo-yu.png" alt="imagen del logo de vodafone yu">
					</h1>
					<h2 class="vfms-banner-info-clain">
						Ahora <span class="vfes-title--bold vfes-color--vodafone-red"> más velocidad</span> de fibra <span class="vfes-title--bold vfes-color--vodafone-red"> por menos</span>
					</h2>
					<ul class="vfms-rate-features">
						<li class="vfms-rate-features-item">
							<span class="vfms-rate-features-item-big vfes-title--bold">600Mbps</span>
							<span class="vfms-rate-features-item-small">Fibra simétrica</span>
						</li>
						<li class="vfms-rate-features-item">
							<span class="vfms-rate-features-item-big vfes-title--bold" >12,84€ <span class="vfms-month">/mes</span></span>
							<span class="vfms-rate-features-item-small">+18,15€/mes de cuota de línea</span>
						</li>
						
					</ul>
					<div class="vfms-offer-details">
						<span class="vfes-title--bold vfms-offer-details-term">¡Sin permanencia!</span>
						<a href="#" title="Detalles de la oferta" class="vfms-offer-details-link" target="_self" data-modal="offer-details-fibra600mbp" data-modal-close aria-haspopup="dialog" data-analytics-element="detalles de la oferta" data-analytics-context="particulares:oferta:fibra 600 mb" data-analytics-category="cta">Conoce la oferta en detalle</a>
					</div>

				</div>

			</div>
			<div class="vfes-layout__item vfes-1/1-mov vfes-1/3-palm vfes-1/4 vfes-color--vodafone-gray vfms-banner-form">
				<div class="vfms-banner-form-container vfes-colours-bg-dark-grey">
					<form class="vfes-form wg-form vfes-color--silver">
						<div class="vfes-modal__head-form">
							<p class="vfes-paragraph--center vfes-title--6 vfms-title-form">¿Quieres contratar <strong
									class="vfes-color--vodafone-white">una de nuestras tarifas?</strong></p>
						</div>
						<div class="vfes-box--form">
							<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
							<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
							<input class="vfes-form__input vfes-box--form__tlf wg-input" type="phone" name="phone" inputmode="numeric" pattern="[0-9]*"
								maxlength="9" data-wg-validation="required,phone" placeholder="Nº teléfono"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
						</div>
						<div class="vfes-box--form">
							<div class="vfes-form__box vfms-form__checks-space">
								<input class="vfes-form__checkbox vfms-form__checkbox_bg-transparent wg-input"
									data-wg-validation="required" type="checkbox" id="privacy" value="on" type="checkbox"
									name="check" />
								<label class="vfes-form__label" target="_self"
                            			for="privacy">Acepto la <a
										href="#"
										id="condiciones" data-modal="privacy" data-modal-close aria-haspopup="dialog" class="button-privacy vfes-color--silver" title="Vodafone One" target="_new"
										rel="nofollow"> Política de Privacidad</a>
								</label>
							</div>
							<div class="vfes-form__box vfms-form__checks-space">
								<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication" name="gdpr" value="on" />
								<label class="vfes-form__label" for="comunication"><span class="vfes-cta-box__span">Acepto recibir
										comunicaciones comerciales de Vodafone</span> </label>
							</div>
							<input title="Te llamamos gratis" class="vfes-button vfes-button--green wg-submit tellamamos-ltc" data-analytics-element="Te llamamos gratis" data-analytics-context="particulares:oferta:fibra 600 mb" data-analytics-category="c2c" type="submit" value="Te llamamos gratis">
						</div>
					</form>
				</div>
				{{!-- <h3 class="vfes-title vfes-title--regular vfes-title--5 vfes-title--center vfes-title--bold vfes-colours--vodafone-gray vfms-countdown-text">¡Por tiempo limitado!</h3>
				<div class="vfms-countdown" id="countdown">
					<div id='tiles' class="vfms-tiles"></div>
					<div class="vfms-labels">
						<li class="vfms-labels-item vfes-color--vodafone-gray">Días</li>
						<li class="vfms-labels-item vfes-color--vodafone-gray">Horas</li>
						<li class="vfms-labels-item vfes-color--vodafone-gray">Minutos</li>
						<li class="vfms-labels-item vfes-color--vodafone-gray">Segundos</li>
					</div>
				</div>	 --}}
			</div>
		</div>
	</section>

	{{!-- Fibra 600Mbps --}}

	{{!-- End Fibra--}}

	{{!-- Check Coverage --}}
	<section class="vfes-layout vfms-coverage">
		<div class="vfes-layout__wrapper vfms-coverage-wrapper">
			<div class="vfes-layout__item vfes-1/1-mov vfes-1/1-palm vfes-3/3">
				<div class="vfms-coverage-item">
					<div class="vfms-coverage-icon">
						<img src="img/coverage/section-check-coverage-icon.png" alt="imagen icono cobertura">
					</div>
					<div class="vfms-coverage-text">
						<p class="vfms-check-coverage__text">Comprueba si tienes cobertura de Fibra o ADSL en tu domicilio.</p>
						<button type="button" class="vfes-button vfes-button--green" data-modal="check-coverage" data-modal-close aria-haspopup="dialog"
							data-analytics-element="Consulta tu cobertura" name="cta"
							title="Consulta tu cobertura"  data-analytics-element="consulta tu cobertura" data-analytics-context="particulares:oferta:fibra 600 mb" data-analytics-category="cta">
							Consulta tu cobertura
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	{{!-- End Check Coverage --}}
	


	{{!-- Modals Section --}}

		{{!-- Offer Details --}}
{{!-- Fibra--}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">

        <!-- Fibra 600Mbps -->

        <section id="offer-details-fibra600mbp" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-fibraMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h1 class="vfes-title vfes-title--4 vfes-title--regular vfms-modal-title"> <span class="vfes-title--bold">Vodafone Fibra Yuser </span>incluye</h1>

				<div class="vfms-offer-details-features">
					<ul class="vfms-offer-details-features-container">
						<li class="vfms-offer-details-features-item">
							<div class="vfms-feature-header">
								<span class="vfms-feature-icon">
									<svg class="js-icon-tv js-icon-desktop" height="30" width="30"
										xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>INTERNET</title>
										<use class="icon3-desktop" xlink:href="#icon3-desktop"></use>
									</svg>
								</span>
								<h2 class="vfes-title vfes-title--5 vfes-color--vodafone-red vfms-feature-title">Internet</h2>
							</div>
							<ul class="vfms-feature-content">
								<li>Vodafone Fibra 600Mb simétricos.</li>
								<li>Conecta hasta 15 dispositivos.</li>
								<li>Con fibra auto instalable, coste 0€. Si requiere instalación coste de 70€.</li>
							</ul>
						</li>
						
						<li class="vfms-offer-details-features-item">
							<div class="vfms-feature-header">
								<span class="vfms-features-icon">
									<svg class="js-icon-tv js-icon-business-phone" height="30" width="30" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>FIJO</title>
										<use class="icon3-business-phone" xlink:href="#icon3-business-phone"></use>
									</svg>
								</span>
								<h2 class="vfes-title vfes-title--5 vfes-color--vodafone-red vfms-feature-title">Fijo</h2>
							</div>
							<ul class="vfms-feature-content">
								<li>Llamadas nacionales ilimitadas a fijos y móviles.</li>
							</ul>
						</li>
					
					</ul>
				</div>
				<div class="vfms-offer-details-conditions">
					<h2 class="vfes-title vfes-title--5 vfes-color--vodafone-red vfms-feature-title">Detalles de tu cuota:</h2>
					<ul class="vfms-offer-details-conditions-container">
						<li> <span class="vfes-title--bold">Sin Permanencia</span> </li>
						<li>Precio total: <span class="vfes-title--bold">30,99€/mes(IVA incl). Dto durante 12 meses. Después 42,99€/mes</span></li>
						<li>Con posibilidad de 3 meses de desconexión temporal</li>
					</ul>
				</div>
            </div>
        </section>
		{{!-- End Fibra 600Mbps--}}
		{{!-- Política de Privacidad--}}
	<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">

        <section id="privacy" class="vfes-modal-channel vfes-modal__item js-modal-item vfms-tarifaMovil" aria-hidden="true"
            role="dialog">
            <div class="vfes-modal__head">
                <button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
                        class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
            </div>
            <div class="vfes-modal__content js-modal-content">

				<h4 class="vfes-title vfes-title--regular vfes-title--bold vfms-modal-title">Política de Privacidad</h4>

				<div class="vfms-offer-details-features">
					<p>
						Los datos que nos facilitas en el registro formarán parte de una base de datos de Vodafone España. S.A.U., con domicilio en Avda. América 115, 28042 de Madrid y serán tratados para facilitarte la información solicitada y poder contactar contigo en el futuro para llevar a cabo acciones comerciales, en caso de que nos hayas proporcionado tu consentimiento marcando el check habilitado al efecto.
					</p>
					<p>
						Podrás ejercitar los derechos de acceso, rectificación, cancelación, oposición, limitación dirigiéndote a Vodafone España a la dirección antes indicada. Mantendremos tus datos mientras no ejerzas tu derecho de cancelación. Podrás ponerte en contacto con el Delegado de Protección de Datos (DPO) a través de: DPO-SPAIN@vodafone.com
					</p>
				</div>
            </div>
        </section>

    </div>{{!-- End Política de privacidad --}}



				{{!-- Check Coverage --}}

				<section id="check-coverage" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
					<div class="vfes-modal__head">
						<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray"
								xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px"
								height="36px">
								<title>Close</title>
								<use class="icon-v3" xlink:href="#icon3-close"></use>
							</svg></button>
					</div>
					<div class="vfes-modal__content js-modal-content vfms-check-coverage">
						<div class="vfms-text--container">
							<div class="vfms-icon-container">
								<img src="img/coverage/ico-location.png" alt="imagen icono cobertura">
							</div>
							<div class="vfms-coverage-text">
								<p class="vfes-title vfes-title--3  vfes-title--center vfes-title--bold vfes-mb">Consulta tu cobertura</p>
								<p class="vfes-paragraph vfes-paragraph--center">Comprueba si tienes cobertura de Fibra o ADSL en tu domicilio.</p>
							</div>
						</div>
						<div class="vfms-form--container vfes-colours-bg-dark-grey">
							<form class="vfes-form wg-form">
								{{!-- <p class="vfes-title vfes-title--5  vfes-title--center vfes-title--bold">Te llamamos gratis</p> --}}
								<div class="vfes-layout__item vfes-layout--center vfes-mb">
									<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
									<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
									<div class="vfes-layout__item vfms-flex vfes-mb">
									</div>
									<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input" type="phone" name="phone"
										inputmode="numeric" pattern="[0-9]*" maxlength="9" data-wg-validation="required,phone"
										placeholder="Nº teléfono"
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
				
									<div class="vfms-check-box-container">
										<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox" id="privacy-popup" value="on"
											type="checkbox" name="check" />
										<label class="vfes-form__label" target="_self"
                            			data-modal="privacy" data-modal-close aria-haspopup="dialog" for="privacy-popup">Acepto la <a
										href="#"
										id="condiciones" class="button-privacy vfes-color--silver" title="Vodafone One" target="_new"
										rel="nofollow"> Política de Privacidad</a>
								</label>
										<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication-popup" name="gdpr" value="on" />
										<label class="vfes-form__label" for="comunication-popup">Acepto recibir comunicaciones
											comerciales de Vodafone </label>
									</div>
								</div>
				
								<input title="Te llamamos gratis" class="vfes-button vfes-button--green vfms-large wg-submit tellamamos-ltc" data-analytics-element="Te llamamos gratis" data-analytics-context="particulares:oferta:pop up:fibra 600 mb" data-analytics-category="c2c" type="submit"
									value="Te llamamos gratis">
							</form>
						</div>
					</div>
				</section>

		{{!-- End Check Coverage --}}

    </div>

	{{!-- End Fibra--}}



</div>
<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>
