<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />
    <div class="vfes-ms-content-adicionales-mobile" id="pop-up-lineas-adicionales">
		<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
		<div class="vfms-nudge">
			<div class="vfes-layout">
				<div class="vfes-layout__wrapper">
					<div class="vfes-layout__item">
						<p class="vfes-title vfes-title--2 vfes-title--center vfes-mb-"><strong>¡Hola!</strong></p>
						<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center vfes-title--boldvfms-text">Como eres uno de los nuestros, tenemos ofertas especiales para ti.</p>
						<p class="vfes-title vfes-title--3 vfes-title--center vfms-title__center"><strong>Líneas adicionales al <span class="vfms-popup-itemblock">50% dto.</span></strong></p>
						<p class="vfes-title vfes-title--3 vfes-title--center vfes-mb-mov"><strong>¿Te interesa?</strong></p>
					</div>
					<div class="vfms-center">
						<button class="vfes-button vfes-button--primary" data-analytics-element="llama gratis" data-analytics-context="pop up lineas adicionales" data-analytics-category="cta">Llama gratis al XXXXXXX</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>	
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
