<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content" id="multipestana-v2" data-vfes-js="_menuPerformance">
	<div class="vfes-layout vfms-header-container">
		<div class="vfes-layout__wrapper">
			<header class="vfes-layout__item vfms-main-header">
				<!-- Logo Vodafone -->
				<div class="vfms-main-header__logo">
					<a href="http://www.vodafone.es" target="_new">
						<img class="vfms-main-header__logo--img" src="img/logo-vodafone.png">
					</a>
				</div><!-- Logo Vodafone-->
				<!-- Navegación Principal-->
				<nav class="vfms-main-header__main-nav vfes-color-bg-vodafone-white" id="vfms-main-header__main-nav">
					<ul class=" vfes-color-bg-vodafone-white vfms-main-nav-container">
						<li class="vfms-main-nav-container__item">
							<div class="vfms-main-nav-item vfms-main-item">
								<div class="vfms-main-item__icon">
									<svg class="js-icon-tv icon-v3 js-icon-convergente-system" height="35" width="35"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>TV</title>
									<use class="icon3-convergente-system" xlink:href="#icon3-convergente-system"></use>
								</svg>
									
								</div>
								<h2 class="vfms-main-item__type vfes-title vfes-title--2 vfes-title--light">Móvil + Fibra</h2>
							</div>
							<ul class="vfms-main-nav-item vfms-sec-nav ">
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item" > <a href="#"> Vodafone One Mini</a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item" > <a href="#"> Vodafone One Extra</a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item" > <a href="#"> Vodafone One ilimitada</a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item" > <a href="#"> Vodafone One ilimitada Súper</a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item" > <a href="#"> Vodafone One ilimitada Total</a></li>
							</ul>
						</li>
						<li class="vfms-main-nav-container__item">
							<div class="vfms-main-nav-item vfms-main-item">
								<div class="vfms-main-item__icon">
									<svg class="js-icon-tv icon-v3 js-icon-mobile" height="35" width="35"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>TV</title>
									<use class="icon3-mobile" xlink:href="#icon3-mobile"></use>
								</svg>
									
								</div>	
								<h2 class="vfms-main-item__type vfes-title vfes-title--2 vfes-title--light">Móvil</h2>
							</div>
							<ul class="vfms-main-nav-item vfms-sec-nav">
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#"> Móvil Mini </a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#"> Móvil Extra </a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#"> Móvil ilimitada </a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#"> Móvil ilimitada Súper </a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#"> Móvil ilimitada Total</a></li>
							</ul>
						</li>
						
							
						<li class="vfms-main-nav-container__item">
							<div class="vfms-main-nav-item vfms-main-item">
								<div class="vfms-main-item__icon">
									<svg class="js-icon-broadband-or-wifi icon-v3 js-icon-broadband-or-wifi" height="35" width="35"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>TV</title>
									<use class="icon3-broadband-or-wifi" xlink:href="#icon3-broadband-or-wifi"></use>
								</svg>
									
								</div>	
								<h2 class="vfms-main-item__type vfes-title vfes-title--2 vfes-title--light">Fibra</h2>
							</div>
							<ul class="vfms-main-nav-item vfms-sec-nav">
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#"> Fibra 100Mbps</a></li>
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#"> Fibra 600Mbps</a></li>
							</ul>
						</li>
							
						<li class="vfms-main-nav-container__item">
							<div class="vfms-main-nav-item vfms-main-item">
								<div class="vfms-main-item__icon">
									<svg class="js-icon-tv icon-v3 js-icon-mobile" height="35" width="35"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>TV</title>
									<use class="icon3-tv" xlink:href="#icon3-tv"></use>
								</svg>
								</div>
							<h2 class="vfms-main-item__type vfes-title vfes-title--2 vfes-title--light">Televisión</h2>
							</div>
							<ul class="vfms-main-nav-item vfms-sec-nav">
								<li class="vfes-title--light vfes-title--5 vfms-sec-nav-item"> <a href="#">Packs Televisión</a></li>
							</ul>
						</li>		
					</ul>
				</nav><!-- Navegación Principal-->
				<!-- Llama Gratis-->
				<div class="vfms-main-header__outgoingcall">
					<div class="vfms-main-header__outgoingcall__icon">
							<svg class="js-icon-tv js-icon-mobile" height="35" width="35"
									xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>TV</title>
									<use class="icon3-landline-or-call" xlink:href="#icon3-landline-or-call"></use>
								</svg>
						
					</div>
					<h3 class="vfms-main-header__outgoingcall__text">
						<p> Llama <span class="vfes-title--bold vfes-primary-color">Gratis</span> al </p>
						<p> <a href="tel:900 920 052" class="vfes-title--bold" title="Llama gratis al 900 920 052" data-analytics-context="Llama gratis al 900 920 052" data-analytics-element="Llama gratis al 900 920 052" data-analytics-category="ctc">900 920 052</a></p>
					</h3>
				</div><!-- Llama Gratis-->
				<!-- Desplegable de menú en móvil-->
				<div class="vfms-main-header__recursive-nav" id="vfms-main-header__recursive-nav">
					<button class="vfms-main-header__recursive-nav__button" id="vfms-recursive-nav__button" >
						<i class="vfms-main-header__recursive-nav__button__icon" aria-hidden="true"></i>
					</button>
				</div>
				<!-- Desplegable de menú en móvil-->

			</header>
		</div>
	</div>


</div>			
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
