<link href="css/ws2r.v14.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset  />

<div class="vfes-colours-bg-dark-grey" id="vf-one-serielovers">
    <section class="vfes-colours-bg-dark-grey vfes-layout__wrapper vfes-flex vfes-flex__justify--center vfes-pt+ vfes-pb+">
        <!-- * CARDS TV + ONE * -->
            {{!-- Vodafone One ilimitada Maxi --}}
            <div class="vfms-pack-one vfes-flex vfes-flex__direction--column vfes-align--center vfes-flex__justify--center vfes-flex__align-items--center vfes-1/3 vfes-1/1-mov vfes-p">
                <div class="vfms-pack-one__content vfes-1/1">
                    <div class="vfms-cardone-pack-animation vfes-card-border-radius vfes-colours-bg-albergine">
                        <h2 class="vfes-align--left vfes-title--4 vfes-mb0 vfms-title-card vfes-p- vfes-flex vfes-flex__direction--column">
                            <span class="vfes-title--bold vfes-mb0">Pack Serielovers GRATIS</span>
                        </h2>
                    </div>
                    <img class="vfms-cardone-icon vfms-cardone-icon-plus vfms-cardone-icon-plus-animation vfes-pt-- vfes-pb--" src="img/plus-icon.png" data-vfes-inline-asset>
                    <div class="vfms-pack-one__box vfms-cardone-box-animation vfms-cardone-box-ajust vfes-align--left vfes-pb-">
                        <h3 class="vfes-title vfes-title--4 vfes-mb0"><strong>Vodafone One ilimitada Maxi</strong></h3>
                        <span class="vfes-paragraph fes-paragraph--small vfes-colours--vodafone-red vfes-pb+"><strong>Promoción vuelta al cole: 50% dto. 6 meses.</strong></span>

                        <div class="vfes-flex vfes-pt-">
                            <div class="vfes-flex vfes-flex__align-items--center">
                                <svg style="width: 40px; height: 35px;"><title>icon3-mobile</title><use xlink:href="#icon3-mobile" class="icon-v3"></use></svg>
                                <div class="vfes-flex vfes-flex__direction--column">
                                    <p class="vfes-mb0 vfes-color--vodafone-red vfes-paragraph--small"><strong>2 líneas con:</strong></p>
                                 <span class="vfms-dates-card">
                                <strong>GB ilimitados</strong>
                                <svg class="js-icon-thunder js-icon-thunder-2" height="16" width="30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Velocidad</title>
                                    <use class="icon-v3" xlink:href="#icon3-thunder-2"></use>
                                </svg>
                                </span><span class="vfms-minidates-card">y llamadas ilimitadas</span>
                                </div>
                            </div>
                            <div class="vfes-flex vfes-flex__align-items--center">
                                <svg  style="width: 40px; height: 35px;"><title>icon3-broadband-or-wifi</title><use xlink:href="#icon3-broadband-or-wifi" class="icon-v3"></use></svg>
                                <div class="vfes-flex vfes-flex__direction--column">
                                    <span><strong>600Mbps</strong></span>
                                    <span class="vfms-minidates-card">fibra simétrica</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="vfms-cardone-icon vfms-cardone-icon-arrow vfms-cardone-icon-arrow-animation vfes-pt-- vfes-pb--" src="img/arrow-icon.png" data-vfes-inline-asset>
                    <div class="vfms-cardone-price-animation vfes-flex vfes-flex__justify--between vfes-flex__align-items--end vfes-pb-">
                        <div class="vfes-align--left">
                            <span class="vfes-colours--vodafone-red vfes-title--light vfes-text--strikethrough">86,49€/mes</span>
                        </div>
                        <div class="vfms-cardone-price-big vfes-flex vfes-flex__align-items--base">
                            <span class="vfes-title--1 vfes-mb0"><strong>34,99</strong></span>
                            <span class="vfms-cardone-price-coin">€/mes</span>
                        </div>
                        <div class="vfms-cardone-price-litle vfes-align--right">
                            <p class="vfms-text-litle vfes-paragraph--small vfes-mb0 vfes-pb0">Permanencia</p>
                            <p class="vfms-text-litle vfes-paragraph--small vfes-pt0">1 año</p>
                        </div>
                    </div>

                    <a class="vfes-button vfes-button--primary vfes-1/1" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1253178&tcli=0&tta=1" target="_parent" data-analytics-element="cart_add" data-analytics-id="1500035880028-0002665078613" data-analytics-context="lo quiero" data-analytics-product="movil+fibra;vodafone one ilimitada maxi,tv;pack serielovers" data-analytics-category="cta">lo quiero<span class="visually-hidden">: Pack Serielovers + Vodafone One ilimitada Maxi</span></a>
                </div>
                <img id="pack-one-img" class="vfms-pack-one__image" src="img/one/serielovers-2.jpg" data-vfes-inline-asset>
            </div>
    </section>
</div>

<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>
<script src="js/ScrollMagic.min.js"></script>
