<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-banner" id="catalogo-captacion">
	<h3 class="vfes-title vfes-title--3 vfes-title--center vfes-mb"> Llévatelo con estas promociones </h3>
	<div class="vfes-flex vfes-flex__align-items--center vfes-flex__justify--center vfes-mb vfms-banner__container">
		<div>
			<img src="img/svg/icon.svg" data-vfes-inline-asset>
		</div>
		<div class="vfes-ml- vfms-text__width">
			<p class="vfes-paragraph vfms-nomarginbottom">Asegura tu móvil de forma sencilla con <span class="vfes-title vfes-title--bold"> Vodafone Care</span></p>
			<p class="vfes-paragraph">Un seguro totalmente digital que podrás contratar al recibir tu dispositivo.</p>
		</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
