<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />


<div class="vfes-ms-content vfes-ws10" id="content" data-iva="false" style="display: none">

    <div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit" data-card="accordion" aria-expanded="true">
        <div class="vfms-flex-info">
            <img class="vfms-tv" src="img/icono_tv_mobile.svg" alt="tv">
            <p><strong>Pack Serielovers y Cinefans GRATIS</strong></p>
        </div>

        <div class="vfms-flex-container">
            <img src="img/hbo-esp_negro.svg" alt="logo hbo" data-vfes-inline-asset>
            <img src="img/amazon-prime_negro.svg" alt="logo prime" data-vfes-inline-asset>
            <img src="img/filmin_negro.svg" alt="logo fillmin" data-vfes-inline-asset>
        </div>
        <div>
            <p class="vfes-card-rate__accordion-price"><strong>75
                    €/mes</strong> durante 1 año. Después 96,99€/mes</span>
            </p>
        </div>

    </div>

</div>


<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
