<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content" id="octubre" style="visibility: hidden;opacity: 0">
	<div class="ws10-o-wrapper">
		<div class="ws10-align--center ws10-u--pt8x">
			<h3 class="ws10-u-heading--3-lt">Nueva revista de Vodafone</h3>
			<p class="ws10-u--body">Descubre las novedades que tenemos para ti en la Península y Canarias</p>
		</div>
		<section class="ws10-c-tabs-group ws10-o-tabs" data-ws10-js="tab-group">
			<div class="ws10-c-tabs-group__list ws10-u--mb5x" role="tablist" data-ws10-tab="tab-container">
				<button id="peninsula" class="ws10-c-tabs-group__list-item ws10-c-tabs-group__tab" role="tab" aria-controls="panel-peninsula"
						type="button">
					Península
				</button>
				<button id="canarias" class="ws10-c-tabs-group__list-item ws10-c-tabs-group__tab" role="tab" aria-controls="panel-canarias" type="button">
					Canarias
				</button>
			</div>
			<div id="panel-peninsula"
					aria-labelledby="control1"
					class="ws10-c-tabs-group__content ws10-o-tabs__panel"
					role="tabpanel"
					tabindex="0" hidden="hidden">
					<div class="ws10-flex ws10-flex__justify--center">
						<a href="https://www.vodafone.es/c/statics/revista-vf-peninsula-black-friday.pdf" data-analytics-context="revista vodafone peninsula octubre 2020" data-analytics-element="mockup revista" data-analytics-category="cta" data-analytics-id="1500092837020-7194079303391">
							<img class="vf-img" src="img/revista-peninsula-desktop.jpg" alt="revista eCare Vodafone octubre 2020">
						</a>
					</div>
			</div>
			<div id="panel-canarias"
					aria-labelledby="control2"
					class="ws10-c-tabs-group__content ws10-o-tabs__panel"
					role="tabpanel"
					tabindex="0" hidden="hidden">
					<div class="ws10-flex ws10-flex__justify--center">
						<a href="https://www.vodafone.es/c/statics/revista-vf-canarias-black-friday.pdf" data-analytics-context="revista vodafone canarias octubre 2020" data-analytics-element="mockup revista" data-analytics-category="cta" data-analytics-id="1500092837020-5769831909089">
							<img class="vf-img" src="img/revista-canarias-desktop.jpg" alt="revista eCare Vodafone octubre 2020">
						</a>
					</div>
			</div>
		</section>
	</div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
