// CSS del microsite
.vfes-ms-content-cm{
    .vfms-banner{
        background-color: #000000;
        background-image: url('https://www.vodafone.es/c/statics/imagen/NudgeLineasAdicionales_v2-BF-Mobile_image.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        background-position: center;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
            background-image: url('https://www.vodafone.es/c/statics/imagen/NudgeLineasAdicionales_v2-BF-Tablet_image.png');
            height: auto;
            height: 370px;
        }
        @media screen and (min-width: 1025px) {
            background-image: url('https://www.vodafone.es/c/statics/imagen/NudgeLineasAdicionales_v2-BF-Desktop_image.png');
            height: 420px;
        }
        .vfes-paragraph--large {
            font-size: 20px;
            @media screen and (min-width: 768px) {
                font-size: 24px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 28px;
            }
        }
        .vfes-layout__wrapper {
            max-width: none;
            width: 100%;
            @media screen and (min-width: 1024px) {
                margin-bottom: 30px;
            }
        }
        &-content{
            padding: 13px;
            @media screen and (min-width: 768px) {
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                }
            }
            .vfms-tel{
                margin-bottom:30px!important;
            }

            .vfms-text{
                color:  #ffffff!important;
                max-width: 288px;
                margin: 0 auto;
                @media screen and (min-width: 768px) {
                    max-width: none;
                }
                @media screen and (min-width: 1024px) {
                    margin-top:10px!important;
                }
                &__size {
                    font-size: 32px;
                    @media screen and (min-width: 768px) {
                        font-size: 56px;
                    }
                    @media screen and (min-width: 1024px) {
                        font-size: 64px;
                    }
                 }
                &__bold {
                    font-family: "VodafoneRegularBold", Helvetica, Arial, sans-serif;
                    color: #ffffff!important;
                }

                &__width {
                    color: #ffffff!important;
                    margin: 0 auto;
                    margin-bottom: 16px;
                    @media screen and (min-width: 768px){
                        max-width: none;
                    }
                }
                &__margin {
                    margin-bottom: 5px;
                    @media screen and (min-width: 1024px) {
                        margin: 0 auto;
                    }
                }

                .vfes-title{
                    margin-bottom: 20px;
                    @media screen and (min-width: 768px) {
                        margin-bottom: 10px;
                    }
                }
            }
            .vfms-main__text {
                font-size: 28px;
                max-width: 250px;
                margin: 0 auto;
                margin-top: 15px;
                margin-bottom: 15px;
                @media screen and (min-width: 768px) {
                    max-width: none;
                    font-size: 40px;
                    margin: 0 auto;
                    margin-bottom: 16px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 56px;
                }
            }
            .vfms-special-size {
                font-size: 20px;
                @media screen and (min-width: 768px) {
                    font-size: 24px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 28px;
                }
            }
           
            .vfms-button{
                margin:0 auto;
                text-align: center;
                max-width: 288px;
                margin-top: 30px;
                @media screen and (min-width: 768px) {
                    max-width: 260px;
                }
                @media screen and (min-width: 1024px) {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    margin-top: 20px;
                    width: 300px;
                    max-width: 267px;
                }
                a{  
                    color:#ffffff!important;
                    text-decoration: none!important;
                    width: 100%;
                    @media screen and (min-width: 768px) {
                        min-width: 260px;
                    }
                    @media screen and (min-width: 1024px) {
                        min-width: 267px;
                    }
                }
            }
            .vfms-mobile {
                @media screen and (min-width: 1024px) {
                    display: none;
                }
            }
            .vfms-desktop {
                display: none;
                @media screen and (min-width: 1024px) {
                    display: block;
                }
            }
        }

    }
