<link href="css/ws2r.v11.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content vfes-ws10" id="lp-preventa-terminales" style="display: none">


	{{!-- section text --}}
	<section class="vfes-layout vfms-text">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				{{!-- <h3 class="vfes-title vfes-title--center vfes-title--4">Elige el Samsung Galaxy Note10 que más se adapte
					a ti</h3> --}}
			</div>
		</div>
	</section>

	{{!-- section mobiles carousel --}}
	<section class="vfes-layout vfms-mobile">
		<div class="vfes-layout__wrapper">
			<section class="vfes-layout">
				<div class='vfes-carousel' data-vfes-js='_carousel'
					data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
					<ul class='vfes-carousel__list vfes-layout--padding js-carousel-list'>

						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
								<h3 class="vfes-title vfes-title--center vfes-title--bold vfes-title--5 vfes-m-">Samsung Galaxy
									Note10
								</h3>
								<img class="vfms-mobile-img" alt="Samsung Galaxy Note10"
									src="img/mobiles/galaxy-note10.png">
								<div class="vfms-mobile-dates">
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/screen-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Pantalla</p>
										</div>
										<div class="vfms-flex-right">
											<p>Tamaño 6.3"</p>
											<p>Resolución 2280x1080</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/camera-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Cámara</p>
										</div>
										<div class="vfms-flex-right">
											<p>Frontal 10Mp</p>
											<p>Trasera 16+12+12Mp</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/cloud-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Memoria</p>
										</div>
										<div class="vfms-flex-right">
											<p>Interna 256GB</p>
											<p>RAM 8GB</p>
										</div>
									</div>
								</div>
								<div class="vfms-mobile-prices">
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-big"><strong>23,50€/mes</strong></span> en 36
										meses</p>
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
									</p>

									<a class="device vfes-button vfes-button--primary vfms-large"
										data-device-name="Samsung Galaxy Note10" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-note10-negro-256gb-313701/" 
										aria-haspopup="dialog" data-analytics-context="samsung galaxy note10"
										data-analytics-element="mas informacion"
										data-analytics-category="cta">Más información</a>
									<span class="visually-hidden">: Samsung Galaxy Note10</span>
								</div>
							</div>
						</li>




						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
								<h3 class="vfes-title vfes-title--center vfes-title--bold vfes-title--5 vfes-title--5 vfes-m-">Samsung Galaxy
									Note10+</h3>
								<img class="vfms-mobile-img" alt="Samsung Galaxy Note10+"
									src="img/mobiles/galaxy-note10+.png">
								<div class="vfms-mobile-dates">
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/screen-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Pantalla</p>
										</div>
										<div class="vfms-flex-right">
											<p>Tamaño 6.8"</p>
											<p>Resolución 3040x1440</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/camera-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Cámara</p>
										</div>
										<div class="vfms-flex-right">
											<p>Frontal 10Mp</p>
											<p>Trasera 16+12+12Mp</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/cloud-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Memoria</p>
										</div>
										<div class="vfms-flex-right">
											<p>Interna 256GB</p>
											<p>RAM 12GB</p>
										</div>
									</div>
								</div>
								<div class="vfms-mobile-prices">
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-big"><strong>27€/mes</strong></span> en 36 meses
									</p>
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
									</p>
									<a class="device vfes-button vfes-button--primary vfms-large" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-note10-plus-negro-256gb-313702/" aria-haspopup="dialog"
										data-device-name="samsung galaxy note10+"
										data-analytics-context="samsung galaxy note10 plus"
										data-analytics-element="mas informacion"
										data-analytics-category="cta">Más información</a><span class="visually-hidden">:
										Samsung Galaxy Note10+ </span>
									</a>
								</div>
							</div>
						</li>




						<li class='vfes-carousel__list-element js-carousel-list-element'>
							<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
								<h3 class="vfes-title vfes-title--center vfes-title--bold vfes-title--5 vfes-title--5 vfes-m-">Samsung Galaxy
									Note10+ 5G</h3>
								<img class="vfms-mobile-img" alt="Samsung Galaxy Note10+ 5G"
									src="img/mobiles/galaxy-note10+.png">
								<div class="vfms-mobile-dates">
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/screen-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Pantalla</p>
										</div>
										<div class="vfms-flex-right">
											<p>Tamaño 6.8”</p>
											<p>Resolución 3040x1440</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/camera-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Cámara</p>
										</div>
										<div class="vfms-flex-right">
											<p>Frontal 10Mp</p>
											<p>Trasera 16+12+12Mp</p>
										</div>
									</div>
									<div class="vfes-layout__item vfms-flex">
										<div class="vfms-flex-left">
											<div class="vfms-flex-left__img">
												<img src="img/cloud-icon.svg">
											</div>
											<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
												Memoria</p>
										</div>
										<div class="vfms-flex-right">
											<p>Interna 512GB</p>
											<p>RAM 12GB</p>
										</div>
									</div>
								</div>
								<div class="vfms-mobile-prices">
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-big"><strong>28,99€/mes</strong></span> en 36
										meses</p>
									<p class="vfes-paragraph vfes-paragraph--large"><span
											class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
									</p>
    
									<a class="device vfes-button vfes-button--primary vfms-large" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-note10-plus-5g-negro-512gb-313703/" aria-haspopup="dialog"
										data-device-name="samsung galaxy note10+ 5g"
										data-analytics-context="samsung galaxy note10+ 5g"
										data-analytics-element="mas informacion"
										data-analytics-category="cta">Más información</a>
									<span class="visually-hidden">: Samsung Galaxy Note10+ 5G</span>

								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</section>


	
</div>

<script src="js/ws2r.v11.js"></script>
<script src="js/main.js"></script>
