<link href="css/ws2r.v15.css" rel="stylesheet" data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
<div class="vfes-ms-content-mobON15">
    <div class="vfes-layout vfms-banner-container">
        <div class="vfes-layout__wrapper">
            <div class="vfes-layout__item">
                <div class="vfms-contenido vfes-colours--vodafone-white vfes-flex vfes-flex__align-items--center vfes-flex__justify--center vfes-flex__direction--row-column-sm">
                    <div class="vfms-text vfes-flex vfes-flex__align-items--center vfes-flex__direction--column vfes-pr+ vfes-pr0-palm">
                        <p class="vfms-title--4 vfes-title--light vfes-align--center">Si eres cliente de móvil pero aún no tienes datos ilimitados</p>
                        <p class="vfms-title--1 vfes-title--light"><span class="vfes-title--bold">¡Hazte ilimitable!</span></p>
                        <img class="vfes-pl+ vfes-mb- vfes-pl0-mov" src="https://www.vodafone.es/c/statics/imagen/icono_convergente_40.png">
                        <p class="vfms-title--4 vfes-title--light vfes-align--center vfes-pb-">con <span class="vfes-title--bold">5G</span> y <span class="vfes-title--bold">Sin Permanencia</span></p>
                        <a href="tel:#" class="vfms-button vfms-button--tertiary vfes-mt-" data-analytics-element="llama gratis" data-analytics-context="segundas lineas gratis" data-analytics-category="cta">Llama gratis al XXX XXX XXX</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
