<link href="css/ws2r.v14.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset/>
<div class="vfes-ms-content" id="ilimitable">
    <div class="vfms-popup-overlay">
        <div class="vfes-layout__wrapper">
        <div class="vfms-popup">
            <section>
                <div class="vfes-overlay__head vfes-color-bg-wild-sand">
                    <button class="vfms-close-popup" aria-hidden="false"><svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
                    <h2 class="vfes-paragraph">¿Qué puedes hacer con datos ilimitados?</h2>
                </div>
                <div class="vfes-overlay__content js-overlay-content">
                    <div class="vfms-popup-flex">
                        <div class="vfms-popup-flex__item vfms-popup-flex__item-left">
                            <p class="vfes-paragraph vfes-paragraph--left vfes-pb">Ya no tienes que buscar WIFI. Ahora con <strong>datos ilimitados 5G</strong> podrás tener siempre abiertas las redes sociales, escuchar música sin parar y pasar las horas que quieras en Internet.</p>
                            <p class="vfes-paragraph vfes-paragraph--left ">Con Móvil ilimitada Súper tendrás una velocidad de descarga y subida de datos de <strong>10Mbps.</strong></p>
                        </div>
                        <div class="vfms-popup-flex__item vfms-popup-flex__item-right">
                            <p class="vfes-paragraph vfes-paragraph--left vfes-pb">Te recomendamos esta tarifa para</p>
                            <ul class="vfes-list vfes-list--checkmarks vfes-paragraph vfes-paragraph--left">
                                <li>Uso avanzado de redes sociale</li>
                                <li>Vídeos alta calidad</li>
                                <li>Aplicaciones de mensajería instantánea</li>
                                <li>Redes Sociales</li>
                                <li>Música Online</li>
                                <li>Video y música online de alta calidad</li>
                                <li>Aplicaciones que requieren ubicación</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="vfes-overlay__footer vfes-color-bg-wild-sand">
                </div>
            </section>
        </div>
    </div>
    </div>
</div>
<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>
