<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-tarifa" id="tarifa-total-portabilidad">
	<section class="vfes-card-rate vfes-card-rate--special vfes-box-shadow vfes-ws2" data-vfes-js="card-box" data-sticky="item">
		<ul class="vfes-card-rate__datalist">
			<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3" data-card="title">
				<h3 class="vfes-title vfes-title--regular">Tarifa Móvil Ilimitada Total</h3>
			</li>
			<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
				<p class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right"><strong>24,99€</strong></p>
			</li>
			<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 192 192"><defs><symbol id="b72c2309-f081-4476-80d3-91b0b45ddd67" data-name="Mobile_ic_mid" viewBox="0 0 192 192"><line x1="84" y1="158" x2="108" y2="158" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect x="50" y="18" width="92" height="156" rx="14" ry="14" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>mobile-mid</title><g id="ab6a2f1a-4b94-4c55-8a77-5cb818d7cf46" data-name="ICON"><use id="be6cc9c3-70cf-4b16-93e1-a8b0b018c97e" data-name="Mobile_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#b72c2309-f081-4476-80d3-91b0b45ddd67"/></g></svg>
				<p class="vfes-paragraph">
					<span class="span"><strong>ilimitados</strong></span>
					<span class="vfes-paragraph--small span">Datos móviles</span>
				</p>
			</li>
			<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 192 192"><defs><symbol id="e089978e-ef4f-410b-b545-a2ba1fc49219" data-name="Landline_or_Call_ic+_mid" viewBox="0 0 192 192"><g id="bbf6e5fb-6818-4cea-b36d-5920b90c48ec" data-name="ICON"><line x1="29.16" y1="29.15" x2="62.6" y2="78.87" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><line x1="116.33" y1="130.04" x2="162.78" y2="162.8" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g><path id="fa174262-3f4d-4fbc-93f7-cd56a6233530" data-name="&lt;Pfad&gt;" d="M116.33,130l13.19-10c3.48-1.79,7.07-2.22,9.23-.89,3.28,2,30.75,20.4,33.07,22s3.38,6.25.13,10.75-18.15,22.26-24.39,22-32.21-1-80.68-49.75S18.13,49.8,18,43.63,36.08,23,40.68,19.89s9.26-1.91,10.87.32c1.82,2.54,19.73,29.93,21.7,33.07,1.34,2.15.81,5.7-1.06,9.12S62.6,78.87,62.6,78.87s5.25,9.05,23.15,27.05C94.26,114.65,116.33,130,116.33,130Z" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect width="192" height="192" fill="none"/></symbol></defs><title>landline-or-call-mid</title><g id="528c2205-80ab-476a-bea3-b798f80aa753" data-name="ICON"><use id="5382086d-b9f7-429e-824f-30d9fdc4ad32" data-name="Landline_or_Call_ic+_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#e089978e-ef4f-410b-b545-a2ba1fc49219"/></g></svg>
				
				<p class="vfes-paragraph">
					<span class="span">ilimitadas</span>
					<span class="vfes-paragraph--small span">Llamadas</span>
				</p>
			</li>
		</ul>
		<div class="vfes-card-rate__tooltip">
			<svg class="icon-corner" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width="14" height="14"><title>Corner</title><use class="icon-v3" xlink:href='#icon3-corner-box'></use></svg>
			<p class="vfes-paragraph"><svg class="icon" height="16" width="30" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Velocidad</title><use class="icon-v3" xlink:href='#icon3-thunder-3'></use></svg>Máxima velocidad en tu móvil para: </p>
			<ul class="vfes-list vfes-list--checkmarks">
				<li><strong>Vídeos Online de máxima calidad</strong></li>
				<li><strong>Jugar Online</strong></li>
			</ul>
			<button class="vfes-card-rate__tooltip-button" title="Más información">
				<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' class="icon">
					<use class="icon-v3" xlink:href="#icon3-info-circle"></use>
				</svg>
			</button>
		</div>
		
		<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit" data-card="accordion" aria-expanded="true">
			<div class="vfes-flex">
				<div>
					<img src="img/icono.png" data-vfes-inline-asset>
				</div>
				<p class="vfes-paragraph vfes-colours--vodafone-red vfes-ml--">Mejor Precio Vodafone</p>
			</div>
			<div class="vfes-flex vfes-flex__align-items--center">
				<div>
					<img class="vfms-img__bolo" src="img/bolo50.png" data-vfes-inline-asset>
				</div>
				<p class="vfes-card-rate__accordion-price vfes-pl">24,99€/<span class="span">mes durante 3 meses, después 49,99€/mes. Permanencia 12 meses.</span></p>
			</div>
			
			<a class="vfes-button vfes-button--primary" href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-4/" data-analytics-context="tarifa movil ilimitad total" data-analytics-element="mas informacion" data-analytics-category="cta" title="Más información: Tarifa Móvil ilimitada Total">Más información<span class="visually-hidden">:Tarifa Móvil ilimitada Total</span>
			</a>
			<a class="vfes-link vfes-link--no-chevron" data-analytics-context="tarifa movil ilimitada total" data-analytics-element="quiero esta tarifa" data-analytics-category="link" target="_parent" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1250925&tcli=0&tta=2" title="Quiero esta tarfia: Tarifa Móvil ilimitada Total">Quiero esta tarifa<span class="visually-hidden">:Tarifa Móvil ilimitada Total</span>
			</a>
		</div>
	</section>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
