<link href="css/ws2r.v15.css" rel="stylesheet"  data-vfes-inline-asset />
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />
<div class="vfes-nudge-serielovers">
    <div class="vfes-layout vfms-bg">
        <div class="vfes-layout__wrapper">
            <div class="vfes-layout__item">
                <div class="vfes-color--black vfes-flex ">
                    <div class="vfes-1/2 vfes-1/1-mov vfes-flex vfes-flex__align-items--start vfes-flex__direction--column vfes-pr+ vfes-pr0-palm">
                        <p class="vfms-title--4 vfes-title--light">Por ser cliente, llévate ahora</p>
                        <p class="vfes-title--2"><span class="vfes-title--bold">Peques</span> con <span class="vfes-title--bold">Disney Junior</span> y <span class="vfes-title--bold">Nickelodeon</span> incluidos con tus tarifas ilimitadas por solo <span class="vfes-title--bold">5€</span>/mes</p>
                        <img class="vfes-pl+ vfes-mb- vfes-pl0-mov hide--tb vfms-img-mobile" src="https://www.vodafone.es/c/statics/imagen/450_Base_Sales_TV_montaje-varios-dispositivos_peques.png">
                        <a href="tel:xxx" class="vfes-button vfes-button--primary" data-analytics-element="llama gratis" data-analytics-context="nudge peques" data-analytics-category="cta">Llama gratis al XXX XXX XXX</a>
                    </div>
                    <div class="vfes-1/2 vfes-1/1-mov vfms-img-desktop ">
                       <img class="vfes-pl+" style="max-width: 100%" src="https://www.vodafone.es/c/statics/imagen/450_Base_Sales_TV_montaje-varios-dispositivos_peques.png" alt="Televisión con prime video y HBO España">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
