<link href="css/ws2r.v15.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<script>
    utag_data.product_broadband_plan = ["vodafone one ilimitada","vodafone one ilimitada super","vodafone one ilimitada total","vodafone one extra","vodafone one mini"]
    utag_data.product_mobile_plan = ""
    utag_data.product_name = ["movil+fibra","movil+fibra","movil+fibra","movil+fibra","movil+fibra"]
    utag_data.product_variant = ["GB ilimitados+100Mbps","GB ilimitados+600Mbps","GB ilimitados+1Gbps","8GB+100Mbps","4GB+100Mbps"]
    utag_data.promotion_price_name = ["50% durante 3 meses","50% durante 3 meses","50% durante 3 meses","50% durante 3 meses",""]
    utag_data.promotion_gift_name = ["seriefans incluido vodafone one ilimitada","seriefans incluido vodafone one ilimitada super","seriefans incluido vodafone one ilimitada total","","one mini sin permanencia"]
</script>
<div class="vfes-ms-content" id="home" style="display: none">

    <div class="vfms-banner-container vfes-layout vfes-pb0 vfes-colours-bg-light-grey">

        <!-- SECTION BANNER-->
        <div class="vfes-layout__wrapper vfes-pb vfes-pb---mov ">
            <div class="vfes-layout__item vfes-1/2 vfes-1/1-mov">
                <h1 class="vfes-title--4 vfes-mb-">Móvil + Fibra</h1>
                <h2 class="vfes-title--1 vfes-4/5 vfes-1/1-mov vfes-mb0-mov">Los únicos con <span class="vfes-title--bold">datos
                        ilimitados</span> y <span class="vfes-title--bold">la TV con más contenidos</span></h2>
            </div>
            <div class="vfes-layout__item vfes-1/2">
                <img class="hide--xs" src="img/vfes-convergente.png" alt="Imagen que contiene diferentes dispositivos y la información de 50%& de descuento 3 meses en tarifas ilimitadas, mejor precio Vodafone.">
            </div>
        </div>
        <img class="hide--tb vfms-banner-img" src="img/vfes-convergente.png" alt="Imagen que contiene diferentes dispositivos y la información de 50%& de descuento 3 meses en tarifas ilimitadas, mejor precio Vodafone.">

   </div>
    <div class="vfms-content-container vfes-layout vfes-pt0 vfes-pb0 vfes-colours-bg-light-grey">
        <!-- SECTION ILIMITATED RATES-->
        <div data-vfes-inject-module="vfes-offer-ticket"></div>
        <div data-vfes-inject-module="vfes-offer-ticket"></div>

        <!-- SECTION SIM -->

        <div class="vfms-sim vfes-color-bg-vodafone-white vfes-mt+">
            <div class="vfes-layout__wrapper vfes-pt+ vfes-pb+">
                <div class="vfes-layout__item vfes-box-shadow">
                    <div class="vfes-flex vfes-flex__direction--row vfes-flex__align-items--center vfes-p-">
                        <img src="img/icono-sim.svg" alt="icono tarjeta sim con un símbolo de 50%">
                        <div class="vfes-pl+">
                            <h3 class="vfes-title--bold vfes-title--4 vfes-mb0">Tráete tus líneas a Vodafone al 50% dto</h3>
                            <p>Añade una o más líneas adicionales a tu contrato y disfruta del descuento</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- SECTION YU -->

        <div class="vfms-sim vfes-color-bg-vodafone-white vfes-pb+">
            <div class="vfes-layout__wrapper">
                <div class="vfes-layout__item vfes-box-shadow">
                    <div class="vfes-flex  vfes-flex__direction--row-column-sm vfes-flex__justify--center vfes-flex__align-items--center">
                        <div class="vfes-flex vfes-flex__align-items--center vfes-p">
                            <img src="img/yu.svg" alt="icono YU">
                            <div class="vfes-pl+ vfms-yu-text">
                                <h3 class="vfes-title--bold vfes-title--4 vfes-mb0">Tarifas de fibra y móvil para jóvenes Vodafone YU</h3>
                                <p>Usa tus redes sociales y mensajería sin límites o vicia al Fornite sin lag con la Fibra 600Mb al mejor precio. Hazte yuser.</p>
                            </div>
                        </div>
                        <div class="vfms-yu">
                            <a href="https://yu.vodafone.es/tarifas-fibra-y-movil" class="vfes-button vfes-button--primary" target="_new" data-analytics-element="mas info" data-analytics-context="banner YU plp convergente" data-analytics-product="YU convergente" data-analytics-category= "cta">Más info <span class="visually-hidden">Más info </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SECTION NORMAL 4 STEPS-->
        <div class="vfms-why vfes-layout__item vfes-pt+ vfes-pb+">
            <div class="vfes-layout__wrapper vfes-flex vfes-flex__direction--column vfes-flex__justify--between">
                <h2 class="vfes-title vfes-title--3 vfes-align--center">Vodafone One: tarifas con Móvil y Fibra</h2>
                <ul class="vfes-flex vfes-flex__direction--row-column-sm vfes-flex__justify--around">
                    <li class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-5g.svg" alt="icono 5g">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Red 5G</h3>
                        <p class="vfes-align--center">Navega a máxima velocidad con 5G. Descarga una serie en segundos, juega online a tiempo real y disfruta de una calidad mayor de vídeo y voz.</p>
                    </li>
                    <li class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-convergente.svg" alt="icono fibra y móvil">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Vodafone One</h3>
                        <p class="vfes-align--center">Móvil, fibra y fijo incluido. Y el pack de TV aparte para que puedas configurar tu televisión eligiendo tu contenido favorito.</p>
                    </li>
                    <li class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-fibra.svg" alt="icono fibra">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Fibra óptica</h3>
                        <p class="vfes-align--center">La instalación al igual que el módem, es gratuita y rápida pero no tanto como la fibra con la que podrán conectarse sin perder velocidad varios dispositivos a la vez. Además, al ser fibra óptica simétrica tendrás los mismos megas de subida que de bajada.</p>
                    </li>
                    <li class="vfes-flex vfes-flex__direction--column vfes-flex__align-items--center vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-p-">
                        <img src="img/icono-paquetes.svg" alt="icono paquetes">
                        <h3 class="vfes-title--3 vfes-pt- vfes-pb- vfes-mb0">Paquetes Vodafone</h3>
                        <p class="vfes-align--center">Configura tu paquete para que incluya fibra, móvil y televisión. Añade las líneas que necesites y elige el pack de televisión que se adapte a tus gustos.</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- SECTION BANNER SEO-->
        <div class="vfms-banner vfes-layout__wrapper">
            <div class="vfes-layout__item">
                <div class="vfes-flex vfes-flex__direction--row-column-sm vfes-flex__align-items--center vfes-flex__justify--around vfes-pt+ vfes-pb+">
                    <div class="vfms-banner-text vfes-flex vfes-flex__direction--column vfes-align--left vfes-pr+ vfes-pr0-mov">
                        <h2 class="vfes-title vfes-title--3 vfes-mb0 vfes-pb-">¡Con Vodafone One tendrás acceso a las mejores <span class="vfes-title--bold">ofertas de tarifas de fibra y móvil!</span></h2>
                        <p class="vfes-paragraph vfes-paragraph--large vfes-mb0">Habla, navega o disfruta de vídeos en streaming sin ataduras y a la máxima velocidad con nuestras tarifas de <span class="vfes-title--bold">datos ilimitados.</span> Con la instalación de nuestro modem, gratuita y rápida, podrás conectar varios dispositivos al mismo tiempo.
                            En Vodafone hemos incluído el <span class="vfes-title--bold">5G en todas nuestras tarifas</span> para que toda la familia pueda disfrutar del mejor entretenimiento con la máxima velocidad y estabilidad.
                            Además, <span class="vfes-title--bold">de regalo el Pack Seriefans con HBO España</span> con nuestras tarifas ilimitadas.</p>
                    </div>
                    <img class="vfms-banner-img vfes-pb-mov" src="img/banner50.jpg" alt="Madre e hija mirando un Ipad">
                </div>
            </div>
        </div>

        <!-- FAQS-->
        <div class="vfms-faqs vfes-layout__item vfes-pt- vfes-color-bg-vodafone-white">
            <div class="vfes-layout__wrapper vfes-pb+">
                <h3 class="vfes-title vfes-title--3 vfes-pt+ vfes-pt-mov vfes-align--center">Preguntas Frecuentes sobre nuestras tarifas de datos ilimitados</h3>
                <div class="vfes-mt0-mov">
                    <div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
                        <div class="vfes-layout__item">
                            <div class="vfes-accordion__item js-accordion-item">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">Cuando hablan de datos ilimitados, ¿existe algún límite? ¿y en Roaming?</button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            No existe un límite siempre que el uso comprenda en primer lugar el uso personal para fines del uso particular y para fines razonables. Así mismo, el uso responsable y no fraudulento En Roaming; Las tarifas ilimitadas en datos disfrutaran de minutos y mensajes ilimitados y Gigas limitados cuando viajen por Europa, Reino Unido y EE.UU. sin coste adicional. Los Gigas serán diferentes en función del tipo de tarifa. La tarifa Vodafone Ilimitada incluirá 16 GB, la tarifa Vodafone Ilimitada Súper incluirá 17 GB y la Vodafone Ilimitada Total de 19 GB. Superados los Gigas incluidos en roaming el precio del Giga será de 5,4€/GB.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">¿Cómo puedo disfrutar del 5G? </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">La conexión 5G ya es una realidad en España para clientes Vodafone, para ello solo necesitarás un teléfono móvil 5G.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">¿Qué es el 5G?</button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            La red 5G o red de quinta generación, es una tecnología de red inalámbrica evolución de la red 4G+ LTE cuyas principales ventajas son alcanzar mayor velocidad y cobertura además de un menor uso de batería y latencia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0">¿La nueva oferta tiene una permanencia asociada? ¿Si un cliente actualiza sus servicios Vodafone a la nueva oferta, adquiere algún tipo de permanencia? </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Las tarifas no incluyen ningún compromiso de permanencia en Vodafone. A menos que el cliente realice alguna contratación adicional vinculada a la adquisición de un dispositivo móvil o tenga alguna política especial de descuento. Los clientes que contraten algún producto convergente que requiera de instalación de fibra, esta instalación será gratuita si el cliente permanece en Vodafone 6 meses. Si se da de baja antes tendrá un coste de 150€.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>