<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div class="vfes-ms-content vfes-ws10" id="lp-preventa-terminales" style="display: none">
	{{!-- hero --}}
	<section class="vfms-hero vfes-p-mov vfes-p vfes-p-palm vfes-colours--vodafone-white">
		<div class="vfes-flex vfes-flex__justify--end">
			<div class="vfms-hero__container">
				<h3 class="vfes-title vfes-title--light vfms-hero__title vfms-hero__align vfes-title--3">Nuevo Samsung Galaxy S20 | S20+ | S20 Ultra 5G</h3>
				<h5 class="vfes-title vfes-title--light vfms-hero__subtitle vfms-hero__align vfes-title--5">Resérvalo ya y llévate los nuevos Galaxy Buds+, de regalo</h5>
			</div>
		</div>
	</section>
	{{!-- breadcumbs --}}
	<section data-analytics-context="breadcrumbs" class="vfes-breadcrumbs">
		<ul class="vfes-breadcrumbs__wrapper">
			<li><a class="vfes-link" title="Home" target="_self" href="https://www.vodafone.es/c/particulares/es/"> Home</a></li>
			<li><a class="vfes-link" title="Item 2" target="_self" href="#"> Samsung Galaxy S20</a></li>
		</ul>
	</section>
	{{!-- section mobiles carousel --}}
	<section class="vfes-align--center">
		<div class="vfes-layout__item"> 
			<h4 class="vfes-title vfms-tabs__title vfes-title--center vfes-title--4 vfes-pt-mov vfes-pt+">Llévate uno de estos Samsung con tu Tarifa Móvil + Fibra o tu Tarifa Móvil</h4>
			<div class="vfes-layout vfms-nopadding">
				<div class="vfes-tabs vfes-tabs--simple" data-vfes-js="_tabsWs10">
					<ul class="vfes-tabs__container vfes-mt--mov">
						<li class="vfes-tabs__tab  vfes-mr vfes-mr---mov">
							<button class="vfes-tabs__tab-button js-tab vfes-tabs__tab-active" data-option="1" role="tab" aria-controls="simpletab1" title="tarifa movil + fibra" aria-label="tarifa movil + fibra" aria-selected="true">Tarifa Móvil + Fibra</button>
						</li>
						<li class="vfes-tabs__tab" >
							<button class="vfes-tabs__tab-button js-tab" data-option="2" role="tab" aria-controls="simpletab2" title="tarifa movil" aria-label="tarifa movil" aria-selected="false">Tarifa Móvil</button>
						</li>
					</ul>
					{{!-- Tab movil + fibra --}}
					<div class="vfes-tabs__content vfms-nopaddingtop vfes-tabs__content-open vfes-colours-bg-vodafone-white" data-tab="1" id="simpletab1" role="tabpanel">
						<div class="vfes-layout vfms-mobile">
							<div class="vfes-layout__wrapper">
								<section class="vfes-layout">
									<div class='vfes-carousel' data-vfes-js='_carousel'
										data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
										<ul class='vfes-carousel__list vfes-layout--padding js-carousel-list'>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 Ultra 5G
													</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 Ultra 5G"
														src="img/devices/samsung-s20-ultra5g.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.9”</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 40Mp</p>
																<p>Trasera 12+48+108Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 12/16GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>33,50€/mes</strong></span> en 36
															meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>

														<a class="device vfes-button vfes-button--primary vfms-large" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-ultra-5g-gris-128gb-313811/"
															data-device-name="Samsung Galaxy S20 Ultra 5G"data-analytics-context="Samsung Galaxy S20 Ultra 5G" target="_new"
															data-analytics-element="Reservar"
															data-analytics-category="cta">Reservar</a>
														<span class="visually-hidden">: Samsung Galaxy S20 Ultra 5G</span>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20+ 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20+ 5G"
														src="img/devices/samsung-s20+5g.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.7"</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>25,50€/mes</strong></span> en 36 meses
														</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a class="device vfes-button vfes-button--primary vfms-large"
															data-device-name="Samsung Galaxy S20+ 5G" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-plus-5g-gris-128gb-313810/" target="_new"
															data-analytics-context="Samsung Galaxy S20+ 5G"
															data-analytics-element="Reservar"
															data-analytics-category="cta">Reservar</a><span class="visually-hidden">:Samsung Galaxy S20+ 5G</span>
														</a>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note10+ 5G"
														src="img/devices/samsung-s205g.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.2”</p>
																{{!-- <p>Resolución XXX</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>23,50€/mes</strong></span> en 36
															meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a class="device vfes-button vfes-button--primary vfms-large" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-5g-gris-128gb-313808/" target="_new"
															data-device-name="Samsung Galaxy S20 5G"
															data-analytics-context="Samsung Galaxy S20 5G"
															data-analytics-element="Reservar"
															data-analytics-category="cta">Reservar</a>
															{{!-- cuando levanta modal --}}
															{{!-- <button class="device vfes-button vfes-button--primary vfms-large" data-modal="info"
															data-modal-close aria-haspopup="dialog"
															data-device-name="Samsung Galaxy S20 5G"
															data-analytics-context="Samsung Galaxy S20 5G"
															data-analytics-element="comprar"
															data-analytics-category="cta">Comprar</button> --}}
														<span class="visually-hidden">: Samsung Galaxy S20 5G</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
					{{!-- Tab movil --}}
					<div class="vfes-tabs__content vfms-nopaddingtop vfes-colours-bg-vodafone-white" data-tab="2" id="simpletab2" role="tabpanel">
						<div class="vfes-layout vfms-mobile">
							<div class="vfes-layout__wrapper">
								<section class="vfes-layout">
									<div class='vfes-carousel' data-vfes-js='_carousel'
										data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
										<ul class='vfes-carousel__list vfes-layout--padding js-carousel-list'>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 Ultra 5G
													</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 Ultra 5G"
														src="img/devices/samsung-s20-ultra5g.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.9”</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 40Mp</p>
																<p>Trasera 12+48+108Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 12/16GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>35€/mes</strong></span> en 36
															meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>

														<a class="device vfes-button vfes-button--primary vfms-large"
															data-device-name="Samsung Galaxy S20 Ultra 5G"  href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-ultra-5g-gris-128gb-313811/"   target="_new" data-analytics-context="Samsung Galaxy S20 Ultra 5G"
															data-analytics-element="Reservar"
															data-analytics-category="cta">Reservar</a>
														<span class="visually-hidden">: Samsung Galaxy S20 Ultra 5G</span>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20+ 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20+ 5G"
														src="img/devices/samsung-s20+5g.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.7"</p>
																{{!-- <p>Resolución xxx</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128/512GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>27€/mes</strong></span> en 36 meses
														</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a class="device vfes-button vfes-button--primary vfms-large" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-plus-5g-gris-128gb-313810/" target="_new"
															data-device-name="Samsung Galaxy S20+ 5G"
															data-analytics-context="Samsung Galaxy S20+ 5G"
															data-analytics-element="Reservar"
															data-analytics-category="cta">Reservar</a><span class="visually-hidden">:Samsung Galaxy S20+ 5G</span>
														</a>
													</div>
												</div>
											</li>
											<li class='vfes-carousel__list-element js-carousel-list-element'>
												<div class="vfes-layout__item vfms-mobile-card vfes-color-bg-white vfes-box-shadow">
													<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4">Samsung Galaxy S20 5G</p>
													<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy Note10+ 5G"
														src="img/devices/samsung-s205g.png">
													<div class="vfms-mobile-dates">
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/screen-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Pantalla</p>
															</div>
															<div class="vfms-flex-right">
																<p>Tamaño 6.2”</p>
																{{!-- <p>Resolución XXX</p> --}}
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/camera-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Cámara</p>
															</div>
															<div class="vfms-flex-right">
																<p>Frontal 10Mp</p>
																<p>Trasera 12+64+12Mp</p>
															</div>
														</div>
														<div class="vfes-layout__item vfms-flex">
															<div class="vfms-flex-left">
																<div class="vfms-flex-left__img">
																	<img src="img/cloud-icon.svg">
																</div>
																<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																	Memoria</p>
															</div>
															<div class="vfms-flex-right">
																<p>Interna 128GB</p>
																<p>RAM 8/12GB</p>
															</div>
														</div>
													</div>
													<div class="vfms-mobile-prices">
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-big"><strong>25€/mes</strong></span> en 36
															meses</p>
														<p class="vfes-paragraph vfes-paragraph--large"><span
																class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
														</p>
														<a class="device vfes-button vfes-button--primary vfms-large" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-5g-gris-128gb-313808/" target="_new"
															data-device-name="Samsung Galaxy S20 5G"
															data-analytics-context="Samsung Galaxy S20 5G"
															data-analytics-element="Reservar"
															data-analytics-category="cta">Reservar</a>
														<span class="visually-hidden">: Samsung Galaxy S20 5G</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</section>
	{{!-- section steps --}}
	<section class="vfes-layout vfms-nopadding vfes-mb+">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				<p class="vfes-title vfms-steps__title vfes-title--4 vfes-title--light vfes-title--center vfes-mb-mov vfes-mb+">¿Cómo consigo los auriculares inalámbricos Galaxy Buds?</p>
			</div>
			<div class="vfes-layout__item">
				<div class="vfes-timeline vfes-timeline--steps vfes-timeline--center">
					<ul class="vfes-timeline__list">
						<li class="vfes-timeline__item">
							<svg class="vfes-timeline__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 192 192"><defs><symbol id="b72c2309-f081-4476-80d3-91b0b45ddd67" data-name="Mobile_ic_mid" viewBox="0 0 192 192"><line x1="84" y1="158" x2="108" y2="158" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect width="192" height="192" fill="none"/><rect x="50" y="18" width="92" height="156" rx="14" ry="14" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>mobile-mid</title><g id="ab6a2f1a-4b94-4c55-8a77-5cb818d7cf46" data-name="ICON"><use id="be6cc9c3-70cf-4b16-93e1-a8b0b018c97e" data-name="Mobile_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#b72c2309-f081-4476-80d3-91b0b45ddd67"/></g></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title vfes-title--bold">Reserva tu Samsung</span></p>
							<p class="vfes-paragraph">Rerserva el Samsung Galaxy S20 que más se adapte a tus necesidades.</p>
						</li>
						<li class="vfes-timeline__item">
							<svg class="vfes-timeline__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 192 192"><defs><symbol id="06b9cabd-d8cd-4a86-b9f5-8f43e957c23f" data-name="Text_ic_mid" viewBox="0 0 192 192"><rect width="192" height="192" fill="none"/><path d="M49.5,109.75" fill="none" stroke="#fecb00" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><path d="M74,110H60.24L37.88,134V110H32A14,14,0,0,1,18,96V56A14,14,0,0,1,32,42h72a14,14,0,0,1,14,14V78" fill="none" stroke="#666" stroke-linejoin="round" stroke-width="4"/><path d="M130,150l24.12,24V150H160a14,14,0,0,0,14-14V92a14,14,0,0,0-14-14H88A14,14,0,0,0,74,92v44a14,14,0,0,0,14,14Z" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><line id="a9f0c6d9-1e36-437c-a8c1-8abca19b76a9" data-name="&lt;Pfad&gt;" x1="150" y1="102" x2="98" y2="102" fill="none" stroke="#e60000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4"/><line id="8af5a606-adb1-40bc-bae0-e3ba7e8c1d8f" data-name="&lt;Pfad&gt;" x1="150" y1="126" x2="98" y2="126" fill="none" stroke="#e60000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="4"/></symbol></defs><title>sms-mid</title><g id="0cee4856-7b2e-45b0-a3e7-35573b6bf389" data-name="ICON"><use id="b293e255-83bc-4cc7-ada3-75846d6dff5e" data-name="Text_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#06b9cabd-d8cd-4a86-b9f5-8f43e957c23f"/></g></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title vfes-title--bold">Nos ponemos en contacto contigo</span></p>
							<p class="vfes-paragraph">Cuando tengamos tu móvil te enviaremos un sms para cerrar la compra.</p>
						</li>
						<li class="vfes-timeline__item">
							<svg class="vfes-timeline__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48" viewBox="0 0 192 192"><defs><symbol id="ca6cfe79-0a5d-4233-952d-afdffc047415" data-name="Accessories_ic_mid" viewBox="0 0 192 192"><rect width="192" height="192" fill="none"/><g id="c2db4425-8ef1-40f1-9e61-32e38af0c82a" data-name="Layer 2"><rect x="26" y="90" width="32" height="68" rx="16" ry="16" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><rect x="134" y="90" width="32" height="68" rx="16" ry="16" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></g><path d="M18,126V94c0-40,32.73-76,78-76s78,36.12,78,76v32" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></symbol></defs><title>accessories-mid</title><g id="a5d9565c-d273-45b8-b45a-9ad701d3d97c" data-name="ICON"><use id="ef489933-0444-496b-984d-2751cfb733da" data-name="Accessories_ic_mid" width="192" height="192" transform="translate(0 0)" xlink:href="#ca6cfe79-0a5d-4233-952d-afdffc047415"/></g></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title vfes-title--bold">Consigue tus Galaxy Buds</span></p>
							<p class="vfes-paragraph">Activa tu nuevo Samsung, accede a la App <span class="vfes-title vfes-title--bold"> Samsung Members</span> y en la sección Ventajas completa el formulario de registro.</p>
						</li>
						<li class="vfes-timeline__item">
							<svg class="vfes-timeline__icon" id="0666c69b-750d-4639-bb4b-4b3c8ca58426" data-name="connectivity_ic_hi" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 192 192"><title>completed-mid</title><rect width="192" height="192" fill="none"/><polyline points="169.95 33.95 88 120 50 82" fill="none" stroke="#e60000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><path d="M166,66.1v87.55A12.35,12.35,0,0,1,153.65,166H38.35A12.35,12.35,0,0,1,26,153.65V38.35A12.35,12.35,0,0,1,38.35,26H149.87" transform="translate(0 0)" fill="none" stroke="#666" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></svg>
							<p class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title vfes-title--bold">Disfruta de tu móvil</span></p>
							<p class="vfes-paragraph">Disfruta del tu nuevo Samsung y de los auriculares Galaxy Buds</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	{{!-- modal formulario carrusel --}}
	{{!-- <div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
		<section id="info" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
			<div class="vfes-modal__head">
				<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
						class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
						<title>Close</title>
						<use class="icon-v3" xlink:href="#icon3-close"></use>
					</svg></button>
			</div>
			<div class="vfes-modal__content vfms-modal js-modal-content">
				<div class="vfms-text--container">
					<p id="device-title" class="vfes-title vfes-title--3  vfes-title--center vfms-device-title vfes-mb-"></p>
					<p class="vfes-title vfes-title--4 vfes-title--center vfes-mb vfes-mb--mov">¡Solo te queda un paso!</p>
					<p class="vfes-paragraph vfes-paragraph--center">Déjanos tus datos y nos pondremos en contacto
						contigo para finalizar la reserva.</p>
				</div>
				<div class="vfms-form--container">
					<form class="vfes-form wg-form">
						<div class="vfes-layout__item vfes-layout--center vfes-mb">
							<input class="wg-input" type="hidden" name="preventa" value="Samsung Galaxy S20">
							<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
							<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
							<div class="vfes-layout__item vfes-mb vfes-mb--mov">
								<div class="vfes-flex vfes-flex__justify--around vfes-mt vfes-mt--mov">
									<div>
										<input class="vfes-form__radio wg-input" type="radio" id="radio1" name="esCliente"
										data-wg-validation="required" value="si" />
										<label class="vfes-form__label vfms-checks--label " for="radio1">Soy cliente</label>
									</div>
									<div>
										<input class="vfes-form__radio wg-input" type="radio" id="radio2" name="esCliente"
											data-wg-validation="required" value="no" />
										<label class="vfes-form__label vfms-checks--label vfms-input-left" for="radio2">No soy
											cliente</label>
									</div>
								</div>
								
							</div>
							<input id="phone-model" class="vfes-form__input wg-input" type="hidden"
								style="display:none;" name="phone-model" placeholder="Modelo Teléfono" />
							<input class="vfes-form__input vfes-box--form__name wg-input vfms-input" type="text" name="nombre" data-wg-validation="required" placeholder="Nombre" />
							<input class="vfes-form__input wg-input vfms-input vfes-mt vfes-mt--mov" type="text" id="email" name="email" data-wg-validation="required" placeholder="Email" />
							<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input vfes-mt vfes-mt--mov" type="phone"
								name="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
								data-wg-validation="required,phone" placeholder="Nº teléfono"
								oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

							<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox"
								id="privacy" value="on" type="checkbox" name="check" />
							<label class="vfes-form__label vfes-mt vfes-mt---mov" for="privacy">Acepto la 
								<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/" id="condiciones" class="button-privacy vfes-ml--" target="_blank" rel="nofollow"> Política de
									Privacidad</a></label>
							<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication" name="gdpr"
								value="on" />
							<label class="vfes-form__label" for="comunication">Acepto recibir comunicaciones
								comerciales de Vodafone </label>
						</div>
						<input class="vfes-button vfes-button--primary  vfms-large wg-submit tellamamos-ltc"
							type="submit" value="Enviar">
					</form>
				</div>
			</div>
		</section>
	</div> --}}
</div>

<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
