<link href="css/ws2r.v14.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />

<div class="vfes-ms-content" id="huawei">

	<!-- Banner Terminales -->

	<section class="vfes-layout header-background vfes-pb0 vfms-text__align vfes-pb-mov vfes-pb-palm">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				<h2 class="vfes-title vfes-title--2 vfes-align--center">Teléfonos móviles Huawei</h2>
			</div>
			<div class="vfes-layout__item vfes-layout--right vfes-1/2 hide--sm">
				<img src="img/huawei-p30-img-header.png"
					alt="Descubre la nueva inteligencia que desafía la fotografía del Smartphone." />
			</div>
			<div class="vfes-layout__item vfes-1/2 vfes-1/1-palm">
				<img class="brand-logo" width="250" alt="Huawei Mate 20 Pro" src="img/huawei-p30-text-header.png" />
				<p class="vfes-paragraph vfes-title--3 vfes-mb0">Reescribe las reglas de la fotografía</p>
				<p class="vfes-paragraph vfes-title--4 vfms-text__align">Con 4 cámaras y zoom de 10 aumentos.</p>
			</div>
		</div>
	</section>

	<!-- Breadcrumbs -->

	<section class="vfes-layout__item breadcrumbs-layout">
		<section data-analytics-context="breadcrumbs" class="vfes-breadcrumbs">
			<ul class="vfes-breadcrumbs__wrapper">
				<li><a class="vfes-link" title="Inicio" target="_self"
						href="https://www.vodafone.es/c/particulares/es/"> Inicio</a></li>
				<li><a class="vfes-link" title="Huawei" target="_self" href="#"> Huawei</a></li>
			</ul>
		</section>
	</section>

	<!-- Carousel Terminales -->

	<section class="vfes-layout section-disp vfes-color-bg-wild-sand">
		<div class="vfes-layout__wrapper">
			<div class="vfes-carousel vfms-carousel" data-vfes-js="_carousel"
				data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
				<ul class="vfes-carousel__list js-carousel-list">
					<!-- Terminal nº 5 -->
					<li class="vfes-carousel__list-element js-carousel-list-element">
						<section class="vfes-card-shop vfes-box-shadow vfes-ws10" data-vfes-js="_cardShop">
								<div class="vfes-card-shop__offer">
									<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center">
										<a href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-y5-2019-negro-16gb-313688/" target="_self" title="Huawei Y5 2019"><strong>Huawei Y5 2019</strong></a>
									</h2>
									<p class="vfes-paragraph vfes-title--light vfes-align--center">Ilumina tus momentos</p>
									<img class="lazyload" src="img/huawei-y5-2019.png" alt="Huawei Y5 2019" height="250">
								</div>
								<div class="vfes-card-shop__accordion">
									<div id="card-shop-accordion4" class="vfes-card-shop__accordion-content"
										aria-hidden="true">
										<ul class="vfes-list--simple vfes-align--center">
											<li>S.O Android</li>
											<li>Pantalla 5,71"</li>
											<li>Velocidad 4G</li>
											<li>Cámara 13Mp</li>
										</ul>
									</div>
									<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
										aria-expanded="false" aria-controls="card-shop-accordion4"
										title="Ver características">Ver características</button>
								</div>
								<div class="vfes-card-shop__bottom">
									<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-y5-2019-negro-16gb-313688/"
										name="cta" title="CTA" target="_self" data-analytics-context="huawei Y5 2019"
										data-analytics-element="mas informacion" data-analytics-category="cta">
										Más información <span class="visually-hidden">: Huawei Y5 2019</span>
									</a>
								</div>
							
						</section>
					</li>
					<!-- Terminal -->
					<li class="vfes-carousel__list-element js-carousel-list-element">
						<div class="vfes-tag-label  vfes-ws10">
							<!--<div class="vfes-tag-label__outstanding">Ahorra 435€</div>-->
							<section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
								<div class="vfes-card-shop__offer">
									<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center"><a
											
											href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p30-pro-negro-256gb-313621/"
											target="_self" title="Huawei P30 Pro"><strong>Huawei P30 Pro</strong></a>
									</h2>
									<p class="vfes-paragraph vfes-title--light vfes-align--center">Reescribe las reglas de la fotografía</p>
									<img class="lazyload" src="img/p30negro-pro.png" alt="Huawei P30 Pro" height="250">
								</div>
								<div class="vfes-card-shop__accordion">
									<div id="card-shop-accordion4" class="vfes-card-shop__accordion-content"
										aria-hidden="true">
										<ul class="vfes-list--simple vfes-align--center">
											<li>S.O Android</li>
											<li>Pantalla 6,4"</li>
											<li>Velocidad 4G+</li>
											<li>Cámara 40Mp + 20Mp + 8Mp</li>
										</ul>
									</div>
									<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
										aria-expanded="false" aria-controls="card-shop-accordion4"
										title="Ver características">Ver características</button>
								</div>
								<div class="vfes-card-shop__bottom">
									{{!-- <p class="vfes-paragraph">Llévatelo con tu tarifa Ilimitada</p>
									<p class="vfes-paragraph vfes-mt-">Por solo</p>
									<p class="vfes-title--5 vfes-align--center"><strong>0€ + 20€/al mes</strong></p>
									<p class="vfes-paragraph vfes-mb-">36 meses</p> --}}
									<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p30-pro-negro-256gb-313621/"
										name="cta" title="CTA" target="_self" data-analytics-context="huawei p30 pro"
										data-analytics-element="mas informacion" data-analytics-category="cta">
										Más información <span class="visually-hidden">: Huawei P30 Pro</span>
									</a>
								</div>
							</section>
						</div>
					</li>
					<!-- Terminal -->
					<li class="vfes-carousel__list-element js-carousel-list-element">
						<div class="vfes-tag-label  vfes-ws10">
							<!--<div class="vfes-tag-label__outstanding">Ahorra 129€</div>-->
							<section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
								<div class="vfes-card-shop__offer">
									<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center"><a
											
											href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p-smart-z-negro-64gb-313795/"
											target="_self" title="Huawei P Smart Z"><strong>Huawei P Smart Z</strong></a></h2>
									<p class="vfes-paragraph vfes-title--light vfes-align--center">Lo que buscas y mucho más</p>
									<img class="lazyload" src="img/huawei-p-smart-z-bodegon.png" alt="Huawei P Smart Z"
										height="250">
								</div>
								<div class="vfes-card-shop__accordion">
									<div id="card-shop-accordion4" class="vfes-card-shop__accordion-content"
										aria-hidden="true">
										<ul class="vfes-list--simple vfes-align--center">
											<li>S.O Android</li>
											<li>Pantalla 6,6"</li>
											<li>Velocidad 4G+</li>
											<li>Cámara 16Mp + 16Mp</li>
										</ul>
									</div>
									<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
										aria-expanded="false" aria-controls="card-shop-accordion4"
										title="Ver características">Ver características</button>
								</div>
								<div class="vfes-card-shop__bottom">
									<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p-smart-z-negro-64gb-313795/"
										name="cta" title="CTA" target="_self" data-analytics-context="huawei p smart z"
										data-analytics-element="mas informacion" data-analytics-category="cta">
										Más información <span class="visually-hidden">: Huawei P Smart Z</span>
									</a>
								</div>
							</section>
						</div>
					</li>
					<!-- Terminal -->
					<li class="vfes-carousel__list-element js-carousel-list-element">
						<section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
							<div class="vfes-card-shop__offer">
								<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center"><a
									
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p-smart-2019-negro-64gb-313577/"
										target="_self" title="Huawei P Smart 2019"><strong>Huawei P Smart 2019</strong></a></h2>
								<p class="vfes-paragraph vfes-title--light vfes-align--center">Ligero y resistente a los arañazos</p>
								<img class="lazyload" src="img/huawei-p-smart-2019.png" alt="Huawei P Smart 2019" height="250">
							</div>
							<div class="vfes-card-shop__accordion">
								<div id="card-shop-accordion4" class="vfes-card-shop__accordion-content"
									aria-hidden="true">
									<ul class="vfes-list--simple vfes-align--center">
										<li>S.O Android</li>
										<li>Pantalla 6,21"</li>
										<li>Velocidad 4G+</li>
										<li>Cámara 13Mp</li>
									</ul>
								</div>
								<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
									aria-expanded="false" aria-controls="card-shop-accordion4"
									title="Ver características">Ver características</button>
							</div>
							<div class="vfes-card-shop__bottom">
								{{!-- <p class="vfes-paragraph">Llévatelo con tu tarifa Ilimitada</p>
								<p class="vfes-paragraph vfes-mt-">Por solo</p>
								<p class="vfes-title--5 vfes-align--center"><strong>0€ + 26€/al mes</strong></p>
								<p class="vfes-paragraph vfes-mb-">36 meses</p> --}}
								<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
									href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p-smart-2019-negro-64gb-313577/"
									name="cta" title="CTA" target="_self" data-analytics-context="huawei p smart 2019"
									data-analytics-element="mas informacion" data-analytics-category="cta">
									Más información <span class="visually-hidden">: Huawei P Smart 2019</span>
								</a>
							</div>
						</section>
					</li>
					<!-- Terminal -->
					<li class="vfes-carousel__list-element js-carousel-list-element">
						<section class="vfes-card-shop vfes-box-shadow" data-vfes-js="_cardShop">
							<div class="vfes-card-shop__offer">
								<h2 aria-hidden="true" class="vfes-title vfes-title--4 vfes-align--center"><a
										
										href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p30-lite-negro-128gb-313620/"
										target="_self" title="Huawei P30 Lite"><strong>Huawei P30 Lite</strong></a></h2>
								<p class="vfes-paragraph vfes-title--light vfes-align--center">Reescribe las reglas de
									la fotografía</p>
								<img class="lazyload" src="img/p30olitenegro.png" alt="Huawei P30 Lite" height="250">
							</div>
							<div class="vfes-card-shop__accordion">
								<div id="card-shop-accordion4" class="vfes-card-shop__accordion-content"
									aria-hidden="true">
									<ul class="vfes-list--simple vfes-align--center">
										<li>S.O Android</li>
										<li>Pantalla 6,15"</li>
										<li>Velocidad 4G+</li>
										<li>Cámara 48Mp + 8Mp + 2Mp</li>
									</ul>
								</div>
								<button class="js-card-shop-accordion-button vfes-card-shop__accordion-button"
									aria-expanded="false" aria-controls="card-shop-accordion4"
									title="Ver características">Ver características</button>
							</div>
							<div class="vfes-card-shop__bottom">
								{{!-- <p class="vfes-paragraph">Llévatelo con tu tarifa Ilimitada</p>
								<p class="vfes-paragraph vfes-mt-">Por solo</p>
								<p class="vfes-title--5 vfes-align--center"><strong>0€ + 11,50€/al mes</strong></p>
								<p class="vfes-paragraph vfes-mb-">36 meses</p> --}}
								<a class="vfes-button vfes-button--primary vfes-button__large vfes-button--full-width"
									href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/huawei-p30-lite-negro-128gb-313620/"
									name="cta" title="CTA" target="_self" data-analytics-context="huawei p30 Lite"
									data-analytics-element="mas informacion" data-analytics-category="cta">
									Más información <span class="visually-hidden">: Huawei P30 Lite</span>
								</a>
							</div>
						</section>
					</li>
				</ul>
			</div>

			<div class="vfes-layout__item vfes-layout--right">
				<a class="vfes-link"
					href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles-huawei/"
					title="Ver todos los Smartphones: No soy cliente y quiero un móvil" target="_parent">Ver todos los
					Smartphones</a>
			</div>
		</div>
	</section>

	{{!-- Faqs --}}
	<div class="vfes-p vfes-mb vfes-colours-bg-light-grey">
		<div class="vfes-layout__item">
			<p class="vfes-title vfes-title--4 vfes-title--center vfes-mb">Preguntas frecuentes</p>
			<div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
				<div class="vfes-layout__item">
					<div class="vfes-accordion__item js-accordion-item">
						<button class="vfes-accordion__heading js-accordion-heading" aria-expanded="false"
							aria-controls="accordion-content-0">Condiciones del compromiso entre Huawei y
							Google</button>
						<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
							<div class="vfes-accordion__block">
								<p class="vfes-paragraph">
									Gracias al compromiso entre Huawei y Google, la experiencia de Android en tu
									smartphone o tablet Huawei no cambia. Sigue funcionando como en la actualidad y
									Android no se va a desinstalar automáticamente, como se había barajado.
								</p>
								<p class="vfes-paragraph">
									De este modo, los smartphones y tablets Huawei:
								</p>
								<ul class="vfes-list vfes-pb-">
									<li>
										Siguen recibiendo actualizaciones Android de software y parches de seguridad
										para garantizar la protección.
									</li>
									<li>
										Acceden al mercado de aplicaciones de la forma habitual, aunque sean nuevos.
									</li>
									<li>
										Siguen recibiendo asistencia técnica de acuerdo con la garantía vigente.
									</li>
									<li>
										Pueden seguir descargando y utilizando las aplicaciones WhatsApp, Facebook e
										Instagram.
									</li>
									<li>
										Si se restablece su configuración de fábrica, permiten seguir descargando y
										utilizando los servicios de Android y Google Apps.
									</li>
								</ul>
								<p class="vfes-paragraph">
									Además, Huawei está trabajando para que:
								</p>
								<ul class="vfes-list vfes-pb-">
									<li>
										Los terminales P30 y P30 Pro, los más usados, puedan acceder a Android Q en su
										momento y recibir sus actualizaciones.
									</li>
									<li>
										Los servicios Google Play y Google Apps, como Gmail, Google Maps, la seguridad
										de Google Play Protect, etc, sigan funcionando con normalidad en sus
										dispositivos.
									</li>
									<li>
										Sus teléfonos continúen recibiendo actualizaciones de aplicaciones ya
										descargadas y puedan seguir descargando las nuevas.
									</li>
								</ul>
								<p class="vfes-paragraph">
									Puedes consultar más información de los “Términos y Condiciones del Compromiso de
									Huawei y Google” en la sección de <a class="vfms-link"
										title="enlace a legal y regulatorio"
										href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/quienes-somos/legal-y-regulatorio/otra-informacion-legal/">
										Legal y Regulatorio.</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer Marcas -->

	<section class="vfes-layout vfes-layout--center vfes-pt+">
		<div class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				<p class="vfes-title--5 vfes-align--center vfes-mb+">Conoce los Smartphones de otras marcas:</p>
				<div class="box-companias">
					<a class="vfes-1/1-palm logo-link"
						href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/sony/"
						title="Smartphones Sony" target="_self">
						<img class="logo logo--disabled" src="img/logo-sony.png" alt="Smartphones Sony">
					</a>
					<a class="vfes-1/1-palm logo-link"
						href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/lg/"
						title="Smartphones LG" target="_self">
						<img class="logo logo--disabled" src="img/logo-lg.png" alt="Smartphones LG">
					</a>
					<a class="vfes-1/1-palm logo-link"
						href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/moviles/samsung/"
						title="Smartphones Samsung" target="_self">
						<img class="logo logo--disabled" src="img/logo-samsung.png" alt="Smartphones Samsung">
					</a>
					<a class="vfes-1/1-palm logo-link" href="#" title="Smartphones Huawei" target="_self">
						<img class="logo logo--active" src="img/logo-huawei.png" alt="Smartphones Huawei">
					</a>
				</div>
			</div>
		</div>
	</section>
</div>

<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>