<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset/>
    <section class="vfes-layout vfms-banner">
    <div class="vfes-layout__wrapper">
        <div class="vfes-layout__item vfes-flex">
            <div class="vfms-img-left">
                <img src="img/tv-vodafone.png" data-vfes-inline-asset>
            </div>
            <div>
                <h1 class="vfes-title vfes-title--center vfes-title--1 vfms-title vfes-color--vodafone-white">Tarifas Móvil + Fibra</h1>
                <h3 class="vfes-title vfes-title--center vfes-title--3 vfes-color--vodafone-white">con <strong>cine y series 1 año gratis</strong></h3>
            </div>
            <div class="vfms-img-right">
                <img src="img/Logo_MPV.png" data-vfes-inline-asset>
            </div>
        </div>
    </div>
</section>
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
