<link href="css/ws2r.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-seriefans vfes-layout" id="nudge-tv-seriefans" style="display: none">
    <div class="vfes-layout__wrapper">
		<div class="vfes-layout__item vfes-1/2 vfes-2/3-palm vfes-1/1-mov vfms-text__align">
			<div class="vfes-mb-mov">
				<img class="hide--tb" src="https://www.vodafone.es/c/statics/imagen/bodegon-nudge-convergente-sinspeechmark-mobile.png">
			</div>
			<h5 class="vfes-title vfms-title--small vfes-mb--mov vfes-mb-palm vfes-mb">Por ser cliente ¡tenemos una oferta para ti!</h5>
			<h4 class="vfes-title vfes-title--bold vfms-title vfes-pr0-mov vfes-pr-palm vfes-pr+ vfes-mb0-mov vfes-mb-palm vfes-mb">Fibra + Móvil con datos y llamadas ilimitadas + TV Seriefans GRATIS con HBO España</h4>
			<a class="vfms-button vfms-button--transparent vfes-mt" href="tel:900920214" data-analytics-context="base sales convergente con seriefans" data-analytics-element="Llama gratis" data-analytics-category="cta">Llámanos gratis al 900 920 214</a>
		</div>
	</div>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
