<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="super-wifi" style="visibility: hidden;opacity: 0">
	<div class="vf-container-lane">
		{{!-- BANNER & TICKET --}}
		{{> header }}
		{{!-- MAIN 2/3 --}}
		<div class="ws10-o-wrapper">
			<div class="ws10-o-layout">
				{{> conectivity}}
				{{> smartNet}}
				{{> app}}
				{{!-- Carrousel tarifas no cliente --}}
				{{> rates}}
				{{> includes}}
				{{> noSurprise}}
				{{> steps}}
			</div>
		</div>
	</div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
