<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content" id="securenet-family-v2" style="visibility: hidden;opacity: 0">
	{{!-- HERO --}}
	<section class="ws10-c-hero-element-1 ws10-u-color--bg-white">
		<picture class="ws10-c-hero-element-1__w-img">
			<source media="(min-width: 960px)"
				class="ws10-c-hero-element-1__img"
				srcset="img/hero-dsk.png" type="image/png">
			<source media="(min-width: 960px)"
				class="ws10-c-hero-element-1__img"
				srcset="img/hero-dsk.webp" type="image/webp">
			<source media="(min-width: 768px)"
				class="ws10-c-hero-element-1__img"
				srcset="img/hero-tb.png" type="image/png">
			<source media="(min-width: 768px)"
				class="ws10-c-hero-element-1__img"
				srcset="img/hero-tb.png" type="image/webp">
			<img src="img/hero-mb.png"
				class="ws10-c-hero-element-1__img">
		</picture>
		<div class="ws10-c-hero-element-1__wrapper ws10-o-wrapper">
			<div class="ws10-o-layout">
				<div class="ws10-c-hero-element-1__inner ws10-o-layout__item ws10-u--push-1/12@desktop ws10-u--4/12@desktop ws10-u--push-2/12@tablet ws10-u--8/12@tablet">
					<p class="ws10-u-heading--4-lt vfms-title__min">Vodafone Secure Net</p>
					<h2 class="ws10-c-hero-element-1__title">
					<strong>Navega sin riesgos por Internet</strong> y además, con <strong>Secure Net Family</strong>, protege a los tuyos a través de control parental.
					</h2>
				</div>
			</div>
		</div>
	</section>
	<div class="ws10-u-color--bg-aluminium">
		<main class="ws10-o-wrapper">
				{{!-- WHY --}}
				<section class="ws10-u--pt12x vfms-why">
					<h2 class="ws10-u-heading--4-lt"><strong>¿Que ofrece Vodafone Secure Net?</strong></h2>
					<div class="ws10-o-layout ws10-u--pt12x">
						<div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/4@desktop">
							<div class="doc-comp">
								<article class="ws10-c-feature-hifi">
									<span class="ws10-c-feature-hifi__background">
										<div class="vfms-icon__background ws10-u--p2x">
											<img class="vfms-why__icon" src="img/svg/lock-icon.svg" alt="icono candado">
										</div>
									</span>
									<h3 class="ws10-c-feature-hifi__title">Seguridad</h3>
									<p class="ws10-c-feature-hifi__text"><strong>Secure Net</strong> te protege frente a virus (malware) y páginas fraudulentas (phishing).</p>
								</article>
							</div>
						</div>
						<div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/4@desktop">
							<div class="doc-comp">
								<article class="ws10-c-feature-hifi">
									<span class="ws10-c-feature-hifi__background">
										<div class="vfms-icon__background ws10-u--p2x">
											<img class="vfms-why__icon" src="img/svg/parental-icon.svg" alt="">
										</div>
									</span>
									<h3 class="ws10-c-feature-hifi__title">Control parental</h3>
									<p class="ws10-c-feature-hifi__text"><strong>Secure Net Family,</strong> además de incorporar la protección de Secure Net, incluye funciones avanzadas de control parental como Filtros de contenidos, Pausa, Tiempo de descanso y Tiempo de estudio para que puedas gestionar de una manera sencilla y unificada el tiempo y el acceso a contenidos en Internet de tu familia.</p>
								</article>
							</div>
						</div>
						<div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/4@desktop">
							<div class="doc-comp">
								<article class="ws10-c-feature-hifi">
									<span class="ws10-c-feature-hifi__background">
										<div class="vfms-icon__background ws10-u--p2x">
											<img class="vfms-why__icon" src="img/svg/devices-icon.svg" alt="">
										</div>
									</span>
									<h3 class="ws10-c-feature-hifi__title">Flexibilidad y eficiencia</h3>
									<p class="ws10-c-feature-hifi__text"><strong>Secure Net</strong> te protege sea cual sea tu dispositivo y sistema operativo. Además, no ocupa espacio ni consume batería y no influye en el rendimiento de tus dispositivos.</p>
								</article>
							</div>
						</div>
						<div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/4@desktop">
							<div class="doc-comp">
								<article class="ws10-c-feature-hifi">
									<span class="ws10-c-feature-hifi__background">
										<div class="vfms-icon__background ws10-u--p2x">
											<img class="vfms-why__icon" src="img/svg/doc-icon.svg" alt="">
										</div>
									</span>
									<h3 class="ws10-c-feature-hifi__title">Accesibilidad</h3>
									<p class="ws10-c-feature-hifi__text">Accede a tus informes de seguridad y gestiona tu cuenta desde el portal o desde la app de Secure Net.</p>
								</article>
							</div>
						</div>
						</div>
				</section>
				{{!-- COMPARE CARDS --}}
				<section class="ws10-u--pt12x">
					<h2 class="ws10-u-heading--4-lt"><strong>El Secure Net que más se adapta a ti</strong></h2>
					<div class='ws10-c-carousel ws10-c-carousel--secondary ws10-c-carousel--secondary-left' data-ws10-js='carousel' data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":3}},"build":{"arrows":false,"bullets":true,"clickable_bullets":true}}'>
						<ul class='ws10-c-carousel__list js-carousel-list' id="idUl" aria-labelledby="idList">
							<li class='ws10-c-carousel__list-element js-carousel-list-element vfms-list__element'>
								<div class="ws10-c-card ws10-c-card--no-shadow ws10-u--p8x" data-responsive="20">
									<h3 class="ws10-u-heading--3-lt">Secure Net para Móvil</h3>
									<p class="ws10-u--body">Pruébalo 3 meses <strong>GRATIS</strong>, después 1€/mes. Incluido en tu tarifa Vodafone.</p>
									<a class="ws10-c-link-chevron ws10-c-link-chevron--primary" href="http://m.vodafone.es/web-securenet"
									data-analytics-element="activar en mi vodafone"
									data-analyitics-context="securenet movil"
									data-analyitics-category="cta"> 
										Activar en Mi Vodafone <span class="ws10-u--hidden-visually"> Secure Net Movil</span> 
										<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
											<title>Flecha derecha</title>
											<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
										</svg>
									</a>
									<ul class="vfms-list ws10-u--mt6x ws10-u--p4x ws10-u-color--bg-light-grey">
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Protección contra virus (malware)</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Protección contra páginas fraudulentas (phishing)</p>
										</li>
									</ul>
									<p class="ws10-u--body">Y si aún no eres cliente de Vodafone</p>
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/" target="_self" title="Ver tarifas de Móvil + Fibra" class="ws10-c-button ws10-c-button--block"
										data-analyitics-context="securenet movil"
										data-analytics-element="ver tarifas de movil + fibra"
										data-analytics-category="cta" data-analytics-id="-9550098283070">
									Ver tarifas de Móvil<span class="ws10-u--hidden-visually">Ver tarifas de Móvil</span>
									</a>
								</div>
							</li>
							<li class='ws10-c-carousel__list-element js-carousel-list-element vfms-list__element'>
								<div class="ws10-c-card ws10-c-card--no-shadow ws10-u--p8x" data-responsive="20">
									<b class="ws10-c-badge ws10-c-badge--medium ws10-c-badge--turquoise">¡Nuevo!</b>
									<h3 class="ws10-u-heading--3-lt">Secure Net para Móvil + Fibra</h3>
									<p class="ws10-u--body">Pruébalo 3 meses <strong>GRATIS</strong>, después 1€/mes por cada línea de móvil y fijo. Incluido en tu tarifa Vodafone. </p>
									<a class="ws10-c-link-chevron ws10-c-link-chevron--primary" href="http://m.vodafone.es/web-securenet"
									data-analytics-element="activar en mi vodafone"
									data-analyitics-context="securenet movil + fibra"
									data-analyitics-category="cta"> 
										Activar en Mi Vodafone <span class="ws10-u--hidden-visually"> Secure Net para Móvil + Fibra </span> 
										<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
											<title>Flecha derecha</title>
											<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
										</svg>
									</a>
									<ul class="vfms-list ws10-u--mt6x ws10-u--p4x ws10-u-color--bg-light-grey">
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Protección contra virus (malware)</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Protección contra páginas fraudulentas (phishing)</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Contención de infecciones</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Escaneo y borrado de amenazas</p>
										</li>
									</ul>
									<p class="ws10-u--body">Y si aún no eres cliente de Vodafone</p>
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/" target="_self" title="Ver tarifas de Móvil + Fibra" class="ws10-c-button ws10-c-button--block"
										data-analyitics-context="securenet movil + fibra"
										data-analytics-element="ver tarifas de movil + fibra"
										data-analytics-category="cta" data-analytics-id="-2762914706275">
									Ver tarifas de Móvil + Fibra<span class="ws10-u--hidden-visually">Ver tarifas de Móvil + Fibra</span>
									</a>
								</div>
							</li>
							<li class='ws10-c-carousel__list-element js-carousel-list-element vfms-list__element'>
								<div class="ws10-c-card ws10-c-card--no-shadow ws10-u--p8x" data-responsive="20">
									<b class="ws10-c-badge ws10-c-badge--medium ws10-c-badge--turquoise">¡Nuevo!</b>
									<h3 class="ws10-u-heading--3-lt">Secure Net Family</h3>
									<p class="ws10-u--body">Pruébalo 3 meses <strong>GRATIS</strong>, después 5€/mes para todas las líneas de contrato de tu tarifa de móvil + fibra.</p>
									<a class="ws10-c-link-chevron ws10-c-link-chevron--primary" href="http://m.vodafone.es/web-securenet"
									data-analytics-element="activar en mi vodafone"
									data-analyitics-context="securenet family"
									data-analyitics-category="cta"> 
										Activar en Mi Vodafone <span class="ws10-u--hidden-visually"> Secure Net Family</span> 
										<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
											<title>Flecha derecha</title>
											<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
										</svg>
									</a>
									<ul class="vfms-list ws10-u--mt6x ws10-u--p4x ws10-u-color--bg-light-grey">
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Protección contra virus (malware)</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Protección contra páginas fraudulentas (phishing)</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Contención de infecciones</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Escaneo y borrado de amenazas</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Filtros de contenido</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Pausa la conexión a Internet</p>
										</li>
										<li class="vfms-list__item">
											<span class="vfms-checkmark"></span>
											<p class="ws10-u--body vfms-list__item--text">Configuración de tiempos de estudio y tiempos de descanso</p>
										</li>
									</ul>
									<p class="ws10-u--body">Y si aún no eres cliente de Vodafone</p>
									<a  href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/" target="_self" title="Ver tarifas de Móvil" class="ws10-c-button ws10-c-button--block"
										data-analyitics-context="secure net family"
										data-analytics-element="ver tarifas de movil"
										data-analytics-category="cta" data-analytics-id="-6717491045531">
									Ver tarifas de Móvil + Fibra<span class="ws10-u--hidden-visually">Ver tarifas de Móvil</span>
									</a>
								</div>
							</li>
						</ul> 
					</div>
				</section>
				{{!-- DISCOVER VIDEO --}}
				<section class="ws10-u--pt12x ws10-u--pb12x">
					<div class="ws10-o-layout">
						<div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet vfms-video__text">
							<h2 class="ws10-u-heading--4-lt ws10-u--pt16x-desktop"><strong>Navega sin riesgos y disfruta de tu vida digital de forma segura</strong></h2>
							<p class="ws10-u--body">Mantén tu móvil, tablet, PC y el resto de tus dispositivos libres de amenazas, web peligrosas y virus. Además, con <strong>Secure Net Family</strong>, no solo navegarás sin riesgos sino que también podrás aplicar políticas de protección familiar en todos tus dispositivos con funcionalidades avanzadas de control parental como <strong>Filtros de contenidos, Pausa,  Tiempo de descanso</strong> y <strong>Tiempo de estudio</strong>. Y todo, compatible con cualquier sistema operativo.</p>
						</div>
						<div class="vfms-video__container ws10-u--1/1 ws10-o-layout__item ws10-u--1/2@tablet">
							<div class="vfms-video-responsive">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/8k2LLTIT568?rel=0&modestbranding=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>  
				</section>
				{{!-- BANNERS SECTION --}}
				<section>
					<div class="ws10-c-card-discovery-standard-full-width ws10-u--mb5x">
						<picture class="ws10-c-card-discovery-standard-full-width__picture">
						<source media="(min-width: 960px)" class="ws10-c-cards-discovery-standard__image vf-tv-mobile" srcset="img/internetseguro-desktop.jpg" type="image/jpg">
							<source media="(min-width: 960px)" class="ws10-c-cards-discovery-standard__image vf-tv-mobile" srcset="img/internetseguro-desktop.webp" type="image/webp">
							<source media="(min-width: 768px)" class="ws10-c-cards-discovery-standard__image vf-tv-mobile" srcset="img/internetseguro-tablet.jpg" type="image/jpg">
							<source media="(min-width: 768px)" class="ws10-c-cards-discovery-standard__image vf-tv-mobile" srcset="img/internetseguro-tablet.webp" type="image/webp">
							<img src="img/internetseguro-mobile.jpg" class="ws10-c-cards-discovery-standard__image vf-tv-mobile">
						</picture>
						<div class="ws10-c-card-discovery-standard-full-width__content">
							<h2 class="ws10-u-heading--2-lt">
							Internet Seguro: descubre los trucos para navegar seguro
							</h2>
							<p class="ws10-c-card-discovery-standard-full-width__text">
								Creada y pensada especialmente para el aprendizaje de los más pequeños y la tranquilidad de los padres. Incluye información relevante sobre apps, páginas web y tendencias online así como consejos y recomendaciones de expertos para ayudarte a navegar y usar Internet tanto a ti como a tu familia.
							</p>
							<a class="ws10-c-link-chevron ws10-c-link-chevron--primary"
								href="https://www.internetseguro.vodafone.es/&settrack=scweb#!/">
								Más info <span class="ws10-u--hidden-visually"> Internet Seguro</span>
								<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
									xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
									<title>Flecha derecha</title>
									<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
								</svg>
							</a>
						</div>
					</div>
					 <div class="ws10-o-layout">
                        <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet">
							<div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard ws10-u--p0 vfms-promo-banner__height">
								<div class="ws10-c-cards-discovery-standard__text-content ws10-u--p8x">
									<p class="ws10-u-heading--4"><strong>Descubre Kids Planet,</strong></p>
									<p class="ws10-u-heading--4-lt">La aplicación para niños de Vodafone</p>
									<p>
										<a class="ws10-c-link-chevron ws10-c-link-chevron--primary"
											href="https://www.kidsplanetvodafone.es/#/home">
											Más info <span class="ws10-u--hidden-visually"> sobre Kids Planet</span>
											<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
												xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
												<title>Flecha derecha</title>
												<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
											</svg>
										</a>
									</p>
								</div>
							
								<div class="ws10-c-cards-discovery-standard__image-holder">
									​<picture>
										<source media="(min-width: 970px)" srcset="img/kidsplanet-dsk.svg" >
										<source media="(min-width: 640px)" srcset="img/kidsplanet-tb.svg" >
										<img src="img/kidsplanet-mb.svg" alt="niño jugando con una tablet" class="ws10-c-cards-discovery-standard__image">
									</picture>
								</div>
							
							</div>
						</div>
                        <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet vfms-bestrong">
							<div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard ws10-u--p0 vfms-promo-banner__height">
								<div class="ws10-c-cards-discovery-standard__text-content ws10-u--p8x">
									<p class="ws10-u-heading--4"><strong>Be Strong Online:</strong></p>
									<p class="ws10-u-heading--4-lt">aprende sobre la vida digital de los adolescentes</p>
									<p>
										<a class="ws10-c-link-chevron ws10-c-link-chevron--primary"
											href="https://www.vodafone.es/c/conocenos/es/vodafone-espana/empresa-sostenible/comportamiento-etico-y-responsable/disfrute-seguro-y-responsable/bestrong/">
											Más info <span class="ws10-u--hidden-visually"> sobre Be Strong Online</span>
											<svg class="ws10-c-link-chevron__icon" xmlns='http://www.w3.org/2000/svg'
												xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'>
												<title>Flecha derecha</title>
												<use class="icon-v3" xlink:href='#icon-chevron-right'></use>
											</svg>
										</a>
									</p>
								</div>
							
								<div class="ws10-c-cards-discovery-standard__image-holder vfms-bestrong__icon">
									​<picture>
										<img src="img/svg/bestrong-icon.svg" alt="" class="ws10-c-cards-discovery-standard__image">
									</picture>
								</div>
							
							</div>
						</div>
                    </div>
				</section>
		</main>
		{{!-- FAQS --}}
		{{!-- <aside class="ws10-o-wrapper vf-faqs ws10-u--pt12x ws10-u--pb16x">
			<h2 class="ws10-u-heading--4"><strong>Preguntas Frecuentes</strong></h2>
			<div class="ws10-c-accordion">
				<details class="ws10-c-accordion__item" id="item1">
					<summary class="ws10-c-accordion__header">
						<h3 class="ws10-c-accordion__title">¿Qué es Secure Net y Secure Net Family?</h3>
						<svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Deploy</title>
							<use xlink:href="#icon-chevron-down"></use>
						</svg>
					</summary>
					<article class="ws10-c-accordion__content">
						<p><strong>Secure Net</strong> es un servicio para que navegues de forma segura por la red móvil y fija de Vodafone protegiéndote de:</p>
						<ul>
							<li><p>softwares maliciosos que puedan infiltrarse e infectar de virus tus dispositivos,</p></li>
							<li><p>programas espía que recopilan sus datos personales y los divulgan sin su consentimiento,</p></li>
							<li><p> ataques de phishing que utilizan contraseñas y tarjetas de crédito para hacerse pasar por el usuario, etc </p></li>
						</ul>
						<p><strong>Secure Net Family</strong> es un servicio pensado para padres que se preocupan por su seguridad en Internet y la de sus hijos. Incluye las funcionalidades de protección para que todos los dispositivos del hogar naveguen seguros en Internet así como una serie de funcionalidades avanzadas de control parental que permiten aplicar políticas de protección familiar de una manera sencilla y unificada en todos los dispositivos del hogar. De esta forma, se podrá filtrar la navegación por tipo de contenido, bloquear el acceso a Internet, elegir los periodos de desconexión digital para cada miembro de la familia o los contenidos que deben bloquearse para no interferir en sus tiempos de estudio.</p>
					</article>
				</details>
				<details class="ws10-c-accordion__item" id="item2">
					<summary class="ws10-c-accordion__header">
						<h3 class="ws10-c-accordion__title">¿Puedo usar Secure Net si no soy cliente de Vodafone?</h3>
							<svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Deploy</title>
							<use xlink:href="#icon-chevron-down"></use>
						</svg>
					</summary>
					<article class="ws10-c-accordion__content">
						<p> Secure Net está disponible para clientes Vodafone que tienen contratada una línea móvil y/o una línea fija de Internet.
						</p>
					</article>
				</details>
				<details class="ws10-c-accordion__item" id="item3">
					<summary class="ws10-c-accordion__header">
						<h3 class="ws10-c-accordion__title">¿Cómo funciona Secure Net?</h3>
						<svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Deploy</title>
							<use xlink:href="#icon-chevron-down"></use>
						</svg>
					</summary>
					<article class="ws10-c-accordion__content">
						<p>
							Secure Net funciona sobre la red Vodafone. Esto significa que la red Vodafone bloquea amenazas como virus o webs maliciosas, antes incluso de que hayan llegado a tu dispositivo. Estar protegido desde la red Vodafone (sin necesidad de ninguna app ni instalación de ningún programa) tiene muchas ventajas: 
						</p>
						<ul>
							<li><p>Secure Net es compatible con cualquier dispositivo conectado a la red móvil o fija de Vodafone. </p></li>
							<li><p>Estás protegido desde la red, sin necesidad de instalar ningún programa ni aplicación en tu dispositivo. </p></li>
							<li><p>Secure Net no afecta al rendimiento de tu dispositivo o al consumo de su batería.</p></li>
						</ul>
					</article>
				</details>
				<details class="ws10-c-accordion__item" id="item4">
					<summary class="ws10-c-accordion__header">
						<h3 class="ws10-c-accordion__title">¿Cómo activo Secure Net?</h3>
						<svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Deploy</title>
							<use xlink:href="#icon-chevron-down"></use>
						</svg>
					</summary>
					<article class="ws10-c-accordion__content">
						<p>
							Secure Net se activa de forma automática con tu tarifa. En el resumen de compra así como en el email de bienvenida que recibes cuando activas una tarifa, podrás ver que el servicio ya está activo e incluido en la misma. 
						</p>
						<p>En caso de haber cancelado el servicio, siempre puedes volver a activarlo desde la app de Mi Vodafone, desde el portal web <a href="https://securenet.vodafone.es/" target="_blank">securenet.vodafone.es</a> o desde la app de Secure Net.</p>
					</article>
				</details>
				<details class="ws10-c-accordion__item" id="item5">
					<summary class="ws10-c-accordion__header">
						<h3 class="ws10-c-accordion__title">¿Cómo activo Secure Net Family?</h3>
						<svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Deploy</title>
							<use xlink:href="#icon-chevron-down"></use>
						</svg>
					</summary>
					<article class="ws10-c-accordion__content">
						<p>
							Para activar Secure Net Family es necesario que estés suscrito a Secure Net. Si ya estás suscrito a Secure Net, puedes ir a Mi Vodafone y completar el proceso de alta dentro de la sección “Productos y servicios”. Una vez lo hayas activado, podrás aplicar políticas de protección familiar de una manera sencilla y unificada en todas tus líneas de contrato usando funcionalidades avanzadas de control parental como <strong>Filtros de contenido</strong>, para gestionar el acceso a contenido según el rango de edad de tus hijos; <strong>Pausa</strong>, para interrumpir la conexión a internet; <strong>Tiempo de descanso</strong>, para garantizar el descanso digital de tu familia o <strong>Tiempo de estudio</strong>, para evitar distracciones cuando tus hijos estén haciendo los deberes.
						</p>
						<p class="ws10-u--footnote">*Servicio compatible con equipos de acceso a Internet en el hogar comercializados desde 2019.</p>
					</article>
				</details>
			</div>
		</aside> --}}
	</div>
</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
