<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-ficha-movil" id="ficha-movil">
	<div class="vfes-layout vfes-colours-bg-light-grey">
		<section class="vfes-layout__wrapper vfms-main">
			<div class="vfes-layout">
				<div class="vfes-layout__item vfes-1/2  vfes-1/1-mov">
					<h4 class="vfes-title vfms-title--4 vfes-title--bold">¿Te interesa este móvil?</h4>
					<p class="vfms-paragraph"><span class="vfes-title--regular">Como eres nuestro cliente tenemos un <strong>precio especial para ti.</strong></span></p>
				</div>
				<div class="vfes-layout__item vfes-1/2  vfes-1/1-mov ">
					<div class="vfes-align--center">
						<p class="vfes-paragraph vfms-title-cta vfes-paragraph--center  vfes-title--regular">¡Llámanos y
							te informamos!</p>
						<a href="tel:900 920 178" class="vfes-title--bold vfms-button vfms-button--green "
							title="Llama gratis" data-analytics-context="apple iphone 11 blanco 64gb"
							data-analytics-element="Llama gratis" data-analytics-category="cta"> Llama gratis al
							<span>900 920 178</span>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>