<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content ws10-u-color--bg-midnight ws10-u-color--white" id="hbo" style="visibility: hidden;opacity: 0">
	<!-- BANNER -->
	{{> hero }}
	{{!-- CONTENIDOS HBO ESPAÑA --}}
	{{> carousel }}
	{{!-- SECCION NOVEDAD --}}
	{{> new }}
	{{!-- SECCION TABS --}}
	<section class="ws10-o-wrapper ws10-u--mt8x ws10-u--mb8x">
		<h2 class="ws10-u-heading--4"><strong>Disfruta de HBO España de manera simultánea en 2 dispositivos a la vez</strong></h2>
		{{> tabs }}
	</section>
	{{!-- SECCION DESCIBRE --}}
	{{> discover }}
	{{!-- SECCION PASOS --}}
	{{> steps }}

</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
