<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content-fibra" id="fibra" style="display: none">
    <div class="vfes-layout__wrapper vfes-flex vfes-flex__direction--row-column-sm - vfes-flex__justify--between vfes-p-mov vfes-p-palm vfms-align vfes-pt">
        <div class="vfms-img">
			<img class="vfes-mb--mov" src="https://www.vodafone.es/c/statics/imagen/bodegon_fibra.png" alt="Imagen que muestra varios dispositivos para usar con fibra Vodafone">
		</div>
		<div class="vfes-pb0-mov vfes-pb0-palm vfes-pb">
			<p class="vfes-paragraph vfes-text__min vfes-paragraph--large vfes-mb---mov vfes-mb0-palm">Para ti...</p>
			<h5 class="vfes-title vfes-title--5-large vfes-title--bold">50% dto. 6 meses</h5>
			<h5 class="vfes-title vfes-title--5-large vfes-mb-mov">en Fibra, por ser cliente</h5>
		</div>
		<div class="vfms-button__container vfes-pb0-mov vfes-pb-palm vfes-pb vfes-mr+ vfes-mr0-palm vfes-mr0-mov">
			<a class="vfes-button vfes-button--primary" href="#" title="Llama gratis al xxx" data-analytics-context="nudge fibra" data-analytics-element="Llama gratis" data-analytics-category="cta" target="_self">Llama gratis al XXX XXX XXX
			</a>
		</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
