<link href="css/ws2r.v15.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div data-spritesheet="svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>

<div class="vfes-ms-content" id="home" style="display: none">

    <div class="vfms-banner-container vfes-layout vfes-pb0 vfes-colours-bg-light-grey">

        <!-- SECTION BANNER-->
        <div class="vfes-layout__wrapper vfes-pb vfes-pb---mov">
            <div class="vfes-layout__item vfes-1/2 vfes-1/1-mov ">
                <p class="vfms-title-animation vfes-title--4 vfes-mb-" data-animation-element="category">Tarifas de
                    Fibra Óptica
                </p>
                <h2 class="vfes-title--1 vfes-4/4 vfes-1/1-mov vfes-mb0-mov vfms-banner-title">
                    <div class="vfms-title-animation" data-animation-element="1sentence">Llévate <span
                            class="vfes-title--bold">internet en casa</span> sin <span class="vfes-title--bold">caídas
                            ni interrupciones</span></div>
                </h2>


            </div>
            <div class="hide--xs vfms-animation vfes-layout__item vfes-1/2 vfes-1/1-mov">
                <div class="hide--xs vfms-animation--element vfms-animation--5" data-animation-element="sello">
                    <img src="img/animation/animation-sello.svg" alt="sello mejor precio Vodafone">
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--1" data-animation-element="imac">
                    <img src="img/animation/google-home.png" alt="google home" />
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--2" data-animation-element="ipad">
                    <img src="img/animation/router.png" alt="ipad" />
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation vfms-animation--3"
                    data-animation-element="deco">
                    <img src="img/animation/laptop.png" alt="decodificador tv vodafone" />
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--4" data-animation-element="iphone">
                    <img src="img/animation/iphone.png" alt="iphone">
                </div>
                <div class="hide--xs vfms-animation--element vfms-animation--6" data-animation-element="joystick">
                    <img src="img/animation/joystick.png" alt="mando video consola">
                </div>

                <!--<div class="hide--xs vfms-animation--element vfms-animation--6" data-animation-element="bolo">
                    <img src="img/animation/animation-bolo2.svg" alt="Oferta 50% de descuento durante los 3 primeros meses en tarifas ilimitadas">
                </div>-->
            </div>
        </div>
        <div class="vfms__banner-mobile">
            <img class="hide--tb " src="img/mobile-banner-sp.png"
                alt="Imagen que contiene diferentes dispositivos y la información de 50%& de descuento 3 meses en tarifas ilimitadas, mejor precio Vodafone.">
        </div>
        <div class="vfms-wave Background__WaveBottomWrapper-sc-19mgpxr-3 dVVMLq">
            <div class="Wave__WaveWrapper-o7bhc-0 crVjDe"><svg width="100%" height="80px" fill="none">
                    <path fill="#f4f4f4"
                        d="M 0 85.2514 C 315.313 86.2845 443.806 157.51 881.113 50.7109 C 1317.15 -55.9125 1318.42 33.4285 1536.31 69.3087 C 1818.67 115.154 2156.92 186.209 2560 85.2515 V 231.253 L 0 231.252 V 85.2514 Z">
                        <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="30s"
                            values="M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z; M0 86.3149C316 86.315 444 159.155 884 51.1554C1324 -56.8446 1320.29 34.1214 1538 70.4063C1814 116.407 2156 188.408 2560 86.315V232.317L0 232.316V86.3149Z; M0 53.6584C158 11.0001 213 0 363 0C513 0 855.555 115.001 1154 115.001C1440 115.001 1626 -38.0004 2560 53.6585V199.66L0 199.66V53.6584Z; M0 25.9086C277 84.5821 433 65.736 720 25.9086C934.818 -3.9019 1214.06 -5.23669 1442 8.06597C2079 45.2421 2208 63.5007 2560 25.9088V171.91L0 171.91V25.9086Z">
                        </animate>
                    </path>
                </svg></div>
        </div>
        <div class="vfms-blur"></div>
    </div>
    <div class="vfms-content-container vfes-layout">

        <div class="vfes-colours-bg-light-grey">

            <div class="vfes-colours-bg-light-grey vfes-pt">

                <!-- SECTION ILIMITATED RATES-->
                <div data-vfes-inject-module="vfes-offer-ticket"></div>
                <div data-vfes-inject-module="vfes-offer-ticket"></div>

            </div>
            <!-- SECTION BANNERS OFFERS-->
            <div class="vfms-banner-offers vfes-colours-bg-light-grey vfes-mt+ vfes-mt0-palm">
                <div class="vfes-layout__wrapper vfes-pt+ vfes-pb+ vfes-pt0-mov">
                    {{!-- <div
                        class="vfms-banner-offers__tv vfes-mb vfes-layout__item vfes-box-shadow vfes-color-bg-vodafone-white">
                        <div class="vfes-flex vfes-flex__direction--row-column-sm vfes-p-">
                            <div class="vfes-flex vfes-flex__direction--row vfes-flex__align-items--center">
                                <div class="vfms-banner-offers__tv-text vfes-pl vfes-pl0-mov">
                                    <div class="vfes-flex vfes-flex__align-items--center">
                                        <h2 class="vfes-title--4 vfes-mb-  vfes-pt-mov"><span
                                                class="vfes-title--bold">Ahora también televisión</span> con Fibra
                                            Óptica</h2>
                                    </div>
                                    <p class="vfms-max__width">
                                        Llévate <span class="vfes-title--bold">Fibra Óptica de 100Mbps + Vodafone
                                            Televisión</span> con el <span class="vfes-title--bold">pack de TV
                                            Seriefans</span> por solo 40,99€/mes
                                    </p>
                                </div>   
                            </div>
                            <div class="vfes-ml+ vfes-ml0-mov vfes-mt--mov vfes-mt--palm vfes-mb--palm vfes-mt">
                                <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/_t_/fibra-optica-adsl/tarifa-4/"
                                    class="vfes-button vfes-button--secondary vfms-button" target="_self"
                                    data-analytics-element="llevate el pack seriefans"
                                    data-analytics-context="mas informacion" data-analytics-category="cta" data-analytics-id="-0159331133887">Más
                                    información <span class="visually-hidden">Más información </span></a>
                            </div>
                        </div>
                    </div> --}}

                    <div
                        class="vfms-banner-offers__seguridad vfes-layout__item vfes-1/2 vfes-1/1-palm vfes-1/1-mov vfes-p0">
                        <div
                            class=" vfes-box-shadow vfes-colours-bg-vodafone-white vfes-mr- vfes-mr0-palm vfes-mr0-mov">
                            <div class="vfes-flex vfes-flex__direction--row vfes-flex__align-items--center vfes-p-">
                                <img class="vfes-p-" src="img/mask.svg" alt="icono mascarilla">
                                <div class="vfes-pl-">
                                    <h3 class="vfes-title--bold vfes-title--4 vfes-mb-">Protocolo de seguridad
                                    </h3>
                                    <p>Consulta el protocolo de actuación para las instalaciones de Vodafone Fibra
                                    </p>
                                    <a class="vfes-link vfes-link--red-chevron vfes-colours--vodafone-red"
                                        href="https://www.vodafone.es/c/protocolo-seguridad-instalaciones/"
                                        target="_self" title="Más información"
                                        data-analytics-element="protocolo de seguridad"
                                        data-analytics-context="mas informacion" data-analytics-category="cta" data-analytics-id="-1153473279456">Más
                                        información</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vfms-banner-offers__yu vfes-layout__item vfes-1/2 vfes-1/1-palm vfes-1/1-mov vfes-p0 vfes-mt-palm vfes-mt-mov">
                        <div class=" vfes-box-shadow vfes-colours-bg-vodafone-white vfes-ml- vfes-ml0-palm vfes-ml0-mov">
                            <div class="vfes-flex vfes-flex__direction--row vfes-p- vfms-banner-offers__prepago-container">
                                <img class="vfes-p-" src="img/segundas.svg" alt="icono segundas residencias">
                                <div class="vfes-pl-">
                                    <h3 class="vfes-title--bold vfes-title--4 vfes-mb-">Internet en tu segunda residencia
                                    </h3>
                                    <p>Si ya eres cliente de Vodafone One disfruta de internet con datos ilimitados para navegar.</p>
                                    <a class="vfes-link vfes-link--red-chevron vfes-colours--vodafone-red"
                                        href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/internet-segunda-residencia/" target="_new"
                                        title="Más información" data-analytics-element="segundas residencias"
                                        data-analytics-context="mas informacion" data-analytics-category="cta" data-analytics-id="-3999450051555">Más
                                        información</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * WHY VODAFONE * -->
            <div class="vfms-banner vfes-colours-bg-light-grey">
                <div class="vfes-layout__wrapper vfes-pb+ vfes-pt0-mov">
                    <h2 class="vfes-layout__item  vfes-title vfes-title--2 vfes-pt+ vfes-align--left">
                        ¿Por qué contratar <span class="vfes-title--bold">internet en casa</span> con Vodafone?
                    </h2>
                    <div class="vfes-layout__item vfes-1/2 vfes-1/1-palm vfes-1/1-mov ">
                        <div
                            class="vfms-banner__tv vfes-mb vfes-layout__item vfes-box-shadow vfes-colours-bg-vodafone-white">
                            <div class="vfes-flex vfes-flex__direction--row-column-sm vfes-p-">
                                <div class="vfes-align--left vfms-banner__tv-content vfes-pt-">
                                    <img class="vfes-align--center" src="img/img-banner-1.png"
                                        alt="padre enseñando a su hija con un ordenador portátil">
                                    <div class="vfes-pl vfes-pl0-mov vfes-pt+ vfes-pb+">
                                        <div class="vfes-flex vfes-flex__align-items--center">
                                            <h3 class="vfes-title--4 vfes-mb-"><span class="vfes-title--bold">Siempre
                                                    conectado</span> a lo que más te importa</h3>
                                        </div>
                                        <p class="vfes-paragraph">La tecnología ya está a tu alcance para que no tengas
                                            que bajar tu ritmo de vida por una mala conexión.</p>
                                        <p class="vfes-paragraph">Disfruta de <span
                                                class="vfes-title--bold">videollamadas</span> sin fin, <span
                                                class="vfes-title--bold">películas y series online</span> y de todo el
                                            contenido de instagram con la conexión en casa de fibra óptica Vodafone.</p>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="vfes-layout__item vfes-1/2 vfes-1/1-palm vfes-1/1-mov">
                        <div class="vfes-p0">
                            <div
                                class=" vfes-box-shadow vfes-colours-bg-vodafone-white vfes-mr- vfes-mr0-palm vfes-mr0-mov">
                                <div class="vfes-flex vfes-flex__align-items--center vfes-p- vfms-banner__why">

                                    <img class="hide--tb" src="img/img-juega-mobile.png"
                                        alt="chico con ordenador portátil">
                                    <div class="vfes-pl-">
                                        <h3 class="vfes-title--bold vfes-title--4 vfes-mb-"><span
                                                class="vfes-title--bold">Juega sin límites</span> y sin cortes
                                        </h3>
                                        <p class="vfes-paragraph">No importa si eres más de Fornite o de League of
                                            Legends. ¡O de ambos!
                                            Porque con la conexión de fibra óptica Vodafone podrás jugar sin parar y sin
                                            perder
                                            latencia. Sin Lag.</p>
                                    </div>
                                    <img class="hide--xs" src="img/img-banner3.png" alt="chico con ordenador portátil">
                                </div>
                            </div>
                        </div>
                        <div class=" vfes-pt vfes-pb">
                            <div
                                class=" vfes-box-shadow vfes-colours-bg-vodafone-white vfes-mr- vfes-mr0-palm vfes-mr0-mov">
                                <div class="vfes-flex  vfes-flex__align-items--center vfes-p- vfms-banner__why">
                                    <img class="hide--tb" src="img/img-superwifi-mobile.png "
                                        alt="chico con ordenador portátil">
                                    <div class="vfes-pl-">
                                        <h3 class="vfes-title--4 vfes-mb-"><span class="vfes-title--bold">Amplifica
                                                tu</span> conexión
                                        </h3>
                                        <p class="vfes-paragraph">Amplifica tu conexión de fibra óptica gracias a
                                            Super WiFi.
                                            Tendrás <span class="vfes-title--bold">soporte en remoto 24x7 y todo en la
                                                nube</span> para monitorizar y optimizar la señal ante interferencias o
                                            movimientos dentro del hogar.</p>
                                    </div>
                                    <img class="hide--xs" src="img/img-banner2.png" alt="chico con ordenador portátil">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- SECTION BANNER SEO-->
            <div class="vfms-banner-seo vfes-colours-bg-vodafone-white">
                <div class="vfes-layout__wrapper">
                    <div class="vfes-layout__item">
                        <div
                            class="vfms-banner-seo-container vfes-flex vfes-flex__direction--row-column-sm vfes-flex__align-items--center vfes-flex__justify--around vfes-pb+">
                            <img class="vfms-banner-seo-img vfes-pb-mov" src="img/girl.jpg"
                                alt="Chica con portátil mirando el teléfono móvil">

                            <div class="vfms-banner-seo-text  vfes-flex vfes-flex__direction--column vfes-align--left 
                            vfes-pr0-mov vfes-pb-palm vfes-pt+ vfes-pb+ vfes-pt-palm">
                                <h2 class="vfes-title vfes-title--3 vfes-mb0 vfes-pb-">¡Con <span
                                        class="vfes-title--bold">Fibra óptica en casa</span>
                                    tendrás acceso de forma rápida y segura a <span class="vfes-title--bold">todo el
                                        contenido online que necesitas!</span>
                                </h2>
                                <p class="vfes-paragraph vfes-paragraph--large vfes-mb0">Habla, navega o disfruta de
                                    vídeos
                                    en streaming sin ataduras y a la máxima velocidad con nuestras tarifas fibra en
                                    casa.
                                    Con la rápida instalación de nuestro router, podrás conectar varios dispositivos al
                                    mismo tiempo.</p>
                                <p class="vfes-paragraph vfes-paragraph--large vfes-mb0 vfes-pt-">Ya vivas solo, en
                                    pareja o en
                                    familia, podrás disfrutar del mejor entretenimiento con la máxima velocidad y
                                    estabilidad. ¡Descubre nuestras ofertas y disfruta de llamadas a fijo y
                                    móvil
                                    en todas nuestras tarifas!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- STEPS -->
            <div class="vfes-layout__wrapper">
                <div class="vfes-layout__item">
                    <div class="vfms-steps vfes-pb vfes-pt+">
                        <h3 class="vfes-title vfes-title--2 vfes-pt+   vfes-align--center">
                            <span class="vfes-title--bold">Instalar la fibra óptica en casa es muy fácil</span>
                        </h3>
                        <div class="vfes-timeline vfes-timeline--steps vfes-timeline--center">
                            <ul class="vfes-timeline__list">
                                <li
                                    class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-1/1-palm">
                                    <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg'
                                        xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
                                        <title>icon-location</title>
                                        <use class="icon-v3" xlink:href='#icon-location-mid'></use>
                                    </svg>
                                    <h4 class="vfes-title--4 vfes-paragraph vfes-paragraph--large"><span
                                            class="vfes-title--bold">Consulta
                                            tu cobertura</span></h4>
                                    <p class="vfms-paragraph">Tendrás que introducir tu dirección para asegurarnos de que la fibra de Vodafone llega a tu casa. 
                                    </p>
                                </li>
                                <li
                                    class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-1/1-palm">
                                    <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg'
                                        xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
                                        <title>icon-shopping-trolley-mid</title>
                                        <use class="icon-v3" xlink:href='#icon-shopping-trolley-mid'></use>
                                    </svg>
                                    <h4 class="vfes-title--4 vfes-paragraph vfes-paragraph--large"><span
                                            class="vfes-title--bold">Compra
                                            Online</span></h4>
                                    <p class="vfms-paragraph">Una vez contratada la tarifa a través de la web, te enviamos un email de confirmación. </p>
                                </li>
                                <li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-1/1-palm">
                                  <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>icon-engineer-mid</title><use class="icon-v3" xlink:href='#icon-engineer-mid'></use></svg>
                                  <h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Cita de instalación</span></h4>
                                  <p class="vfms-paragraph">Una vez contratado, un experto se pondrá en contacto contigo para concretar la fecha de instalación que más te convenga. ¡Tú eliges!</p>
                              </li>
                              <li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-1/1-palm">
                                  <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>icon-calendar-mid</title><use class="icon-v3" xlink:href='#icon-calendar-mid'></use></svg>
                                  <h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Día de instalación</span></h4>
                                  <p>El día acordado, el técnico llevará el router wifi y lo dejará todo listo en unas dos horas.</p>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FAQS-->
        <div class="vfms-faqs vfes-layout__item vfes-pt- vfes-color-bg-vodafone-white">
            <div class="vfes-layout__wrapper vfes-pb+">
                <h2 class="vfes-title vfes-title--3 vfes-pt+ vfes-pt-mov vfes-align--center">
                    Preguntas Frecuentes
                </h2>
                <div class="vfes-mt0-mov">
                    <div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
                        <div class="vfes-layout__item">
                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">
                                    <h3 class="vfes-title vfes-title--5 vfes-align--left vfms-faq">
                                        ¿Se adquiere algún compromiso al contratar Vodafone Fibra?</h3>
                                </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            La instalación del servicio de fibra, salvo que sea autoinstalable, tiene un coste para el cliente de 150 euros. Vodafone renuncia al cobro de este coste si el cliente se mantiene activo en el servicio durante, al menos, 12 meses desde la fecha de instalación.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">
                                    <h3 class="vfes-title vfes-title--5  vfes-align--left vfms-faq">
                                        ¿Qué es simetría?</h3>
                                </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                           La velocidad de la fibra simétrica está sujeta a disponibilidad geográfica y te permite tener la misma velocidad de subida que de bajada.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">
                                    <h3 class="vfes-title vfes-title--5  vfes-align--left vfms-faq">
                                        ¿Qué incluye Vodafone Fibra? ¿Puedo añadir TV de pago u objetos conectados?</h3>
                                </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Vodafone Fibra incluye una conexión a internet, un router e instalación gratuita, una tarifa de fijo con llamadas ilimitadas a fijos y móviles nacionales. Además por defecto tienes activado el Servicio de Identificación de Fijo, por el que se te cargarán +2€/mes.
                                        </p>
                                        <p class="vfes-paragraph">Si quieres completar tu oferta de Vodafone Fibra con un paquete de Vodafone TV: <a href="http://vodafone.es/c/particulares/es/productos-y-servicios/television/" target="_new">vodafone.es/c/particulares/es/productos-y-servicios/television/</a> Y/o contratar cualquier Objeto Conectado de los que tenemos. Más info:Visita: <a href="http://vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/listado/" target="_new">vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/listado/</a> </p>
                                        <p class="vfes-paragraph">Para contratar cualquier servicio adicional llama gratis al <a href="tel:900921319">900921319</a>.</p>
                                        <p class="vfes-paragraph">Algunos de los paquetes de TV incluyen suscripciones como HBO España, Filmin o Amazon Prime. Para poder disfrutarlas junto al resto de canales del paquete que elijas, es necesario tener contratado con Vodafone al menos una línea móvil.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">
                                    <h3 class="vfes-title vfes-title--5  vfes-align--left vfms-faq">¿Me puedo dar de baja del servicio de identificación de llamadas del fijo? ¿Cómo?</h3>
                                </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Sí. Para dar de baja el servicio hay que llamar al 123. Recuerda que dejarás de visualizar los números que te están llamando al fijo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">
                                    <h3 class="vfes-title vfes-title--5  vfes-align--left vfms-faq">¿Cuáles son los próximos pasos en cuanto a la instalación de la fibra se refiere?</h3>
                                </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <ul class="vfes-list">
                                            <li>
                                                <p class="vfes-paragraph">
                                                    Te enviamos un email con toda la información de lo que has contratado, de cuándo estará disponible el servicio y de lo que va a ir pasando en cada momento.
                                                </p>
                                            </li>
                                            <li>
                                                <p class="vfes-paragraph">
                                                    Acordamos la cita para instalación. Si necesitas cambiarla, no te preocupes, porque nos adaptamos a tu horario. El horario disponible para que el instalador acuda a tu domicilio es de lunes a viernes de 8:00 a 21:00h y los sábados de 8:00h a 15:00h
                                                </p>
                                            </li>
                                            <li>
                                                <p class="vfes-paragraph">
                                                    Te damos el router y la instalación sin coste adicional. Además, los instaladores te ofrecerán un diagnóstico personalizado de cobertura y velocidad del wifi en las diferentes estancias de tu casa.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item">
                                <button
                                    class="vfes-accordion__heading js-accordion-heading vfes-paragraph vfes-paragraph--large vfes-mb0"
                                    aria-expanded="false" aria-controls="accordion-content-0">
                                    <h3 class="vfes-title vfes-title--5  vfes-align--left vfms-faq">¿Qué pasa si tengo una tarifa móvil y quiero contratar Vodafone Fibra?</h3>
                                </button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Con tu tarifa móvil siempre puedes contratar la fibra. Contrátalo llamando gratis a  <a href="tel:900921319">900921319</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>