<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-banner" id="catalogo-captacion">
	<h3 class="vfes-title vfes-title--3 vfes-title--center vfes-mb"> Llévatelo con estas promociones </h3>
	<div class="vfes-flex vfes-flex__align-items--center vfes-flex__justify--center vfes-mb vfms-banner__container">
		<div>
			<img src="img/svg/icon.svg" data-vfes-inline-asset>
		</div>
		<p class="vfes-paragraph vfms-text__width vfes-ml-">Asegura tu móvil de forma sencilla con <span class="vfes-title vfes-title--bold"> Vodafone Care</span>, si tu dispositivo tiene menos de un año de antiguedad. <a href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/servicios-para-tu-movil/seguro-movil" target="_blank">Más información</a></p>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
