<link href="css/ws2r.v15.css" rel="stylesheet"/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
<div class="vfes-ms-content" id="nudge" >
    <a class="vfms-button-nudge" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/2/vodafone-one/" target="_parent">
        <div class="vfms-nudge vfes-layout vfes-pt- vfes-pb-">
        <div class="vfes-layout__wrapper vfes-colours--vodafone-white">
            <div class="vfes-layout__item vfes-p0">
                <div class="vfes-flex vfes-flex__justify--space vfes-flex__align-items--center">
                    <h1 class="vfes-flex vfes-flex__direction--row-column-sm vfms-font-title vfes-mb0">
                       <span class="vfes-title--bold vfes-mb0">OFERTA FLASH</span>
                        <span class="vfes-title--light vfes-pl-- vfes-pl0-mov">en Móvil + Fibra</span>
                    </h1>
                    <div class="container vfes-pl- vfes-pr-"></div>
                </div>
            </div>
        </div>
    </div>
    </a>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js" data-vfes-inline-asset></script>
