// CSS del microsite
.vfes-ms-content {
    a {
        text-decoration: none;
    }
    .vfms-banner-info-img {
        display: none;
        @media screen and (min-width: 770px) {
            display: block;
            position: absolute;
            left: -4rem;
        }
    }
    // Walmeric form styles
    .vfes-layout.vfms-banner {
        padding: 30px 0;
        .vfms-banner-form {
            @media screen and (min-width: 768px) {
                padding-right: 20px;
            }
            @media screen and (min-width: 1280px) {
                padding-right: 0px;
            }
            .vfms-banner-form-container {
                border-radius: 6px;
                @media screen and (min-width: 1280px) {
                    width: 231px;
                    margin-left: auto;
                }
                form {
                    padding: 16px;
                    .vfes-modal__head-form {
                        .vfms-modal__head-form-clain {
                            font-size: 16px;
                        }
                    }
                    .vfes-box--form {
                        margin: 16px 0;
                        .vfes-form__input {
                            margin: 5px 0;
                            font-size: 14px;
                        }
                        .vfms-form__checks-space {
                            margin-bottom: 15px;
                            label {
                                font-size: 12px;
                                #condiciones {
                                    margin-left: 2px;
                                    text-decoration: underline;
                                }
                            }
                        }
                        input[type="submit"] {
                            font-size: 16px;
                            box-shadow: none;
                            @media screen and (min-width: 768px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    /*Banner One Ilimitada*/
    .vfes-layout.vfms-banner.one.ilimitada {
        background-image: linear-gradient(to bottom, #910900, #c41005);
        .vfms-banner-info {
            .vfms-bolus {
                display: none;
                position: absolute;
                border-radius: 50%;
                color: #fff;
                @media screen and (min-width: 1024px) {
                    display: flex;
                    width: 250px;
                    height: 250px;
                    left: 16px;
                    top: 100px;
                }
                &__percentage {
                    font-size: 180px;
                }
                &__percentage-simbol {
                    font-size: 95px;
                }
                &__extra {
                    font-size: 50px;
                    margin-top: -35px;
                }
            }
            .vfms-banner-info-container {
                background: #fff;
                border-radius: 6px;
                margin-bottom: 25px;
                padding: 16px;
                @media screen and (min-width: 1024px) {
                    margin-left: auto;
                    width: 60%;
                }
                .vfms-banner-copy {
                    text-align: center;
                    margin-bottom: 24px;
                    font-size: 22px;
                    @media screen and (min-width: 768px) {
                        text-align: left;
                        font-size: 26px;
                    }
                }
                .vfms-rate-features {
                    position: relative;
                    .vfms-rate-features-item {
                        margin-bottom: 14px;
                        .vfms-features-icon {
                            svg {
                                use {
                                    color: #e60000;
                                }
                            }
                        }
                        .vfms-rate-feature-description {
                            padding-left: 8px;
                            .vfms-feature-description-title {
                                margin-bottom: 0;
                                font-size: 20px;
                            }
                            .vfms-feature-description-text {
                                font-size: 14px;
                                @media screen and (min-width: 768px) {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                .vfms-offer-price-container {
                    .vfms-offer-price-old {
                        display: inline-flex;
                        flex-direction: column;
                        margin-top: 16px;
                        .vfms-offer-price-old-text {
                            font-size: 14px;
                        }
                        .vfms-offer-price-old-number {
                            font-size: 20px;
                            .vfms-month {
                                font-size: 18px;
                            }
                        }
                    }
                    .vfms-offer-price-new {
                        display: flex;
                        flex-direction: column;
                        margin: 0 0 16px 0;
                        .vfms-offer-price-new-text {
                            font-size: 14px;
                        }
                        .vfms-offer-price-new-number {
                            font-size: 60px;
                            .vfms-month {
                                font-size: 24px;
                            }
                        }
                        .vfms-offer-price-new-features {
                            font-size: 14px;
                            display: flex;
                            flex-direction: column;
                            // .vfms-iva {
                            //     margin-right: 8px;
                            // }
                        }
                    }
                    .vfms-offer-details {
                        @media screen and (min-width: 768px) {
                            display: flex;
                            justify-content: space-between;
                        }
                        .vfms-offer-details-link {
                            text-decoration: underline;
                            @media screen and (min-width: 768px) {
                                align-self: flex-end;
                            }
                        }
                        .vfms-offer-details-contract {
                            margin: 0 0 12px 0;
                            padding: 13px 20px;
                            font-size: 18px;
                            @media screen and (min-width: 768px) {
                                margin: 0;
                                width: 50%;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    // Estilos para los modales
    .vfms-modal-title {
        padding-bottom: 10px;
        border-bottom: solid #333 1px;
    }
    .vfms-fibraMovil {
        .vfms-offer-details-features-container {
            display: flex;
            flex-wrap: wrap;
            .vfms-offer-details-features-item {
                @media screen and (min-width: 768px) {
                    width: 50%;
                }
                .vfms-feature-header {
                    display: flex;
                    align-items: center;
                    .vfms-feature-icon {
                        display: none;
                        @media screen and (min-width: 768px) {
                            display: block;
                        }
                    }
                    .vfms-feature-title {
                        margin-bottom: 0;
                        // align-self: flex-end;
                        margin-left: 16px;
                    }
                }
                .vfms-feature-content {
                    list-style: disc;
                    padding: 14px 50px;
                    font-size: 14px;
                    line-height: 1.3;
                }
            }
        }
        .vfms-offer-details-conditions {
            display: flex;
            .vfms-feature-title {
                margin-bottom: 0;
                border-top: #333 solid 1px;
                padding-top: 10px;
            }
            .vfms-offer-details-conditions-container {
                list-style: disc;
                padding: 20px 50px;
            }
        }
    }
}