<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nudge tv</title>
    <link href="css/ws2r.v13.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
</head> 

<body>
    <div class="vfes-ms-content" id="nudge-tv">    
        	 <div class="vfms-banner ">
				<div class="vfes-layout__wrapper vfms-banner-content vfes-colours--vodafone-white vfes-pb+ vfes-pt+ vfes-flex__align-items--center vfes-flex vfes-flex__direction--row-column-sm">
                    <div class="vfes-1/2  vfes-1/2-palm vfes-1/1-mov vfes-pl- vfes-pb- vfms-img--offer">
                        <div class="vfes-flex__align-items--center vfes-flex">
                            <div>
                                <p class="vfes-mb0  vfes-title--3 vfms-title3 vfes-colours--vodafone-white">Por ser cliente. </p>
                                <p class="vfes-mb0 vfes-title--3 vfms-title3 vfes-colours--vodafone-white">Hasta el 28 de mayo disfruta en </p>
                            </div>
                            <div class="vfes-pl">
                                <img class="vfms-bolo-last" src="https://www.vodafone.es/c/statics/imagen/nudgetv-open-bolo.png" alt="bolo últimos días">
                            </div>
                        </div>
                        <img  class="vfms-img-open" src="https://www.vodafone.es/c/statics/imagen/abierto.png" alt="abierto">
                    </div>
                    <div class="vfes-1/2  vfes-1/2-palm vfes-1/1-mov vfms-banner-content-text">
                    <p class="vfes-mb0 vfes-pb- vfes-title--4 vfms-title3 vfes-colours--vodafone-white">CINE, DOCUMENTALES, INFANTIL Y ENTRETENIMIENTO</p>
                    <img class="vfms-img-logos" src="https://www.vodafone.es/c/statics/imagen/logos22.png" alt="canales logos">
                        <!--<a href="tel:900920157" class="vfes-button vfes-button--primary vfes-paragraph--large" data-analytics-element="llama gratis" data-analytics-context="nudge tv" data-analytics-category="cta">Llama gratis al 900 920 157</a>-->
                    </div>
                </div>
			</div>
    </div>
	<script src="js/ws2r.v13.js"></script>
    <script src="js/main.js" data-vfes-inline-asset></script>
</body>

</html>
