<link href="css/ws2r.v15.css" rel="stylesheet" data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />
<div class="vfes-ms-content-ON15">
    <div class="vfes-layout vfms-bg__container">
        <div class="vfes-layout__wrapper">
            <div class="vfes-layout__item">
                <div class="vfms-contenido vfes-colours--vodafone-white vfes-flex vfes-flex__align-items--center vfes-flex__justify--center">
                    <img class="vfes-1/3-palm vfes-1/2-tablet vfes-1/2 vfms-img-desktop vfes-pr+" src="img/bodegon.png">
                    <div class="vfms-text vfes-flex vfes-flex__direction--column  vfes-flex__align-items--start vfes-pr+ vfes-pr0-palm">
                        <img class="vfes-pl+ vfes-mb- vfes-pl0-mov vfes-1/2 hide--tb vfms-img-mobile" src="https://www.vodafone.es/c/statics/imagen/bodegon_huntwest.png">
                        <p class="vfms-title--4 vfes-title--light">Solo por ser cliente, llévate ahora</p>
                        <p class="vfms-title--2 vfes-mb0">Serielovers con <span class="vfes-title--bold">HBO España</span></p>
                        <p class="vfms-title--2 vfes-mb0">y <span class="vfes-title--bold">Amazon Prime incluidos</span></p>
                        <p class="vfms-title--2 vfes-mb-">por <span class="vfes-title--bold">4€/mes</span></p>
                        <p class="vfms-title--4 vfes-title--light vfes-pb- vfes-pt-">con tus tarifas ilimitadas</p>
                        <a href="tel:#" class="vfms-button vfms-button--primary" data-analytics-element="llama gratis" data-analytics-context="nudge tv" data-analytics-category="cta">Llama gratis al XXX XXX XXX</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
