<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
        <section  class="vfms-dropdown" data-vfes-js="_cardShop">
            <div class="vfes-card-shop__dropdown">
                <button class="vfes-card-shop__dropdown-title vfms-title js-card-shop-dropdown-button vfes-colours-bg-vodafone-red " aria-controls="card-shop-dropdown1" aria-expanded="false">Quiero esta tarifa</button>
                <div id="card-shop-dropdown1" class="vfes-card-shop__dropdown-content" aria-hidden="true">
                    <ul class="vfes-list--simple">
                        <li class="vfes-paragraph--center"><a class="vfes-link vfes-link--no-chevron" href="#" target="_self" title="Enlace">Portabilidad</a></li>
                        <li class="vfes-paragraph--center"><a class="vfes-link vfes-link--no-chevron" href="#" target="_self" title="Enlace">Nuevo número</a></li>
                    </ul>
                </div>
            </div>
        </section>
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
