<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-sticky vfes-p--mov vfes-p-palm vfes-p" id="sticky-app">
    <div class="vfes-layout__wrapper vfes-colours--vodafone-white vfes-flex vfes-flex__align-items--center vfes-flex__justify--around">
		<p class="vfes-paragraph vfes-paragraph--left vfes-paragraph--large vfes-mb0 vfes-pr-mov vfms-sticky__text">Encuentra las mejores<span class="vfes-title--bold"> ofertas para clientes</span> en la App de Mi Vodafone</p>
		<div class="vfes-ml-">
			<a href="http://m.vodafone.es/web-terminales" title="Abrir la App" class="vfes-button vfms-sticky__button " data-analytics-context="sticky acceso app" data-analytics-element="abrir la app" data-analytics-category="cta">Abrir la App</a>
		</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
