<link href="css/ws2r.v13.css" rel="stylesheet" data-vfes-inline-asset/>
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
<div class="vfes-ms-content-nudge" id="nudge">
	<div class="vfms-banner-bg vfes-colours--vodafone-white vfes-pt+ vfes-pb+">
		<div class="vfes-layout__wrapper vfms-banner-content">
			<div class="vfms-text">
				<h2 class="vfes-title vfms-title vfes-title--center"><strong><span class="vfms-text-block">¡Hola!</span> Queremos darte un servicio más personalizado</strong></h2>
				<p class="vfes-paragraph vfes-paragraph--large vfes-paragraph--center">Para ello necesitamos que nos indiques si eres cliente o no cliente</p>
			</div>
			<div class="vfms-button__container">
				<button class="vfms-button vfms-button--primary" data-analytics-element="soy cliente" data-analytics-context="nudge" data-analytics-category="cta" id="btn-cliente">Soy cliente Vodafone</button>
				<button class="vfms-button vfms-button--secondary" data-analytics-element="no soy cliente" data-analytics-context="nudge" data-analytics-category="cta" id="btn-noCliente">No soy cliente Vodafone</button>
			</div>
		</div>
	</div>
</div>
<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
