<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div class="vfes-ms-content-tarifas-moviles" id="tarifas-moviles" style="display: none">
    <div class="vfes-layout__wrapper vfes-flex vfes-flex__direction--row-column-sm - vfes-flex__justify--between vfes-p-mov vfes-p-palm vfms-align vfes-pt vfes-pb- vfes-pb--palm">
        <div class="vfes-pl0-mov vfes-pl0-palm vfes-pl+ vfes-pr+-mov vfes-mr-mov">
			<img class="vfms-img vfes-mb--mov" src="https://www.vodafone.es/c/statics/imagen/bodegon_tarifasmoviles.png" alt="Imagen que muestra un dispositivo e información de 5G y desctuento de -25€ al mes">
		</div>
		<div class="vfes-ml0-mov vfes-ml-palm vfes-pb0-mov vfes-pb0-palm vfes-pb+">
			<p class="vfes-paragraph vfes-text__min vfes-paragraph--large vfes-mb0-mov vfes-mb0-palm">Para ti, por ser cliente…</p>
			<h5 class="vfes-title vfes-title--5-large vfes-mb-mov"><span class="vfes-title--bold">Datos ilimitados</span> con<span class="vfes-title--bold"> 25€/mes de descuento</span></h5>
		</div>
		<div class="vfms-button__container vfes-pb0-mov vfes-pb-palm vfes-pb+ vfes-pr0-mov vfes-pr0-palm vfes-pr+">
			<a class="vfes-button vfes-button--primary" href="#" title="Llama gratis al xxx" data-analytics-context="nudge televisión" data-analytics-element="Llama gratis" data-analytics-category="cta" target="_self">Llama gratis al XXX XXX XXX
			</a>
		</div>
	</div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
