<link href="css/ws2r.v15.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div data-spritesheet="svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>
<div class="vfes-ms-content vfes-ws10 vfes-colours-bg-light-grey vfes-pb+" id="lpSamsungFE" style="display: none">
		{{!-- HERO --}}
		<header class="vfms-hero vfes-pt+ vfes-pb+ vfes-colours-bg-vodafone-white">
			<div class="vfes-layout__wrapper">
				<div class="vfes-layout__item vfes-1/2 vfes-2/3-palm vfes-1/1-mov vfms-hero__item">
					<h2 class="vfes-title vfes-title--2 vfms-hero__title vfes-mb0">Nuevo <span class="vfes-title--bold vfms-hero__block">Samsung Galaxy S20 FE 5G</span></h2>
					<h3 class="vfes-title vfes-title--2 vfes-title--light vfms-hero__title vfes-mb0">Precómpralo ya y elige tu regalo: Galaxy Fit2 o Gaming Pack</h3>
				</div>
			</div>
		</header>
		<main class="vfes-layout__wrapper">
			{{!-- DEVICES SECTION --}}
			<section class="vfes-align--center vfes-mt+">
				<div class="vfes-layout__item"> 
					<h3 class="vfes-title vfes-title--bold vfes-title--left vfes-title--2 vfes-mb-">Samsung Galaxy S20 FE 5G</h3>
					<h4 class="vfes-title vfes-title--4 vfes-title--left vfes-title--light vfes-mb">Elige el Samsung Galaxy que más se adapte a ti y llévate gratis los 3 primeros meses de <span class="vfes-title--bold">Vodafone Care</span></h4> 
					<div class="vfes-layout vfes-p0">
						<div class="vfes-tabs vfes-tabs--simple" data-vfes-js="_tabsWs10">
							<ul class="vfes-tabs__container vfes-mt--mov vfes-mt0">
								<li class="vfes-tabs__tab  vfes-mr vfes-mr0-palm vfes-mr0-mov">
									<button class="vfes-tabs__tab-button js-tab vfes-tabs__tab-active" data-option="1" role="tab" aria-controls="simpletab1" title="nuevo cliente" aria-label="nuevo cliente" aria-selected="true">Nuevo cliente</button>
								</li>
								<li class="vfes-tabs__tab" >
									<button class="vfes-tabs__tab-button js-tab" data-option="2" role="tab" aria-controls="simpletab2" title="ya soy cliente" aria-label="ya soy cliente" data-vfms-js="buttonCliente" aria-selected="false">Ya soy cliente</button>
								</li>
							</ul>
							{{!-- Nuevo cliente --}}
							<div class="vfes-tabs__content vfes-tabs__content-open  vfes-colours-bg-light-grey" data-tab="1" id="simpletab1" role="tabpanel">
								<div class="vfes-layout vfms-mobile">
									<div class="vfes-layout__wrapper">
										{{!-- ITEM 1 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Rojo 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Rojo 128GB"
												src="img/devices/s20fe-red.jpg">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
														{{!-- cuando levanta modal --}}
													<a class="device vfes-button vfes-button--primary vfms-large vfes-mt" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-fe-5g-rojo-128gb-313936/" target="_self"
													data-analytics-context="samsung galaxy s20 fe 5G rojo 128gb tab nuevo cliente"
													data-analytics-element="más información"
													data-analytics-category="cta" data-analytics-id="1500089957853-1957610789070">Más información
														<span class="visually-hidden">: Más información Samsung Galaxy S20 FE 5G Rojo 128GB</span>
													</a>
												</div>
											</div>
										</div>
										{{!-- ITEM 2 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Azul 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Azul 128GB"
												src="img/devices/s20fe-blue.jpg">
												{{!-- <div class="vfms-mobile-colors vfes-mb">
													<ul class="vfms-mobile-colors__list vfes-flex">
														<li>
															<div class="vfms-mobile-colors vfms-mobile-colors__green vfms-mobile-colors__shadow"> 
																<span class="visually-hidden">Samsung Galaxy phone-model20 5G + Gaming Pack Verde</span>
															</div>
														</li>
													</ul>
												</div> --}}
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
														{{!-- cuando levanta modal --}}
													<a class="device vfes-button vfes-button--primary vfms-large vfes-mt" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-fe-5g-azul-128gb-313935/"  target="_self"
													data-analytics-context="samsung galaxy s20 fe 5g azul 128gb tab nuevo cliente"
													data-analytics-element="más información"
													data-analytics-category="cta" data-analytics-id="1500089957853-3243256279464">Más información
														<span class="visually-hidden">: Más información Samsung Galaxy S20 FE 5G Azul</span>
													</a>
												</div>
											</div>
										</div>
										{{!-- ITEM 3 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Lavanda 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Lavanda 128GB"
												src="img/devices/s20fe-lavander.jpg">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
														{{!-- cuando levanta modal --}}
													<a class="device vfes-button vfes-button--primary vfms-large vfes-mt" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-fe-5g-lavanda-128gb-313938/" target="_self" 
													data-analytics-context="samsung galaxy s20 fe 5g lavanda 128gb tab nuevo cliente"
													data-analytics-element="más información"
													data-analytics-category="cta" data-analytics-id="1500089957853-8795491994836">Más información
														<span class="visually-hidden">: Más información Samsung Galaxy S20 FE 5G Lavanda 128GB</span>
													</a>
												</div>
											</div>
										</div>
										{{!-- ITEM 4 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Verde 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Verde 128GB"
												src="img/devices/s20fe-green.jpg">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
														{{!-- cuando levanta modal --}}
													<a class="device vfes-button vfes-button--primary vfms-large vfes-mt" href="https://www.vodafone.es/c/tienda-online/particulares/catalogo-moviles/samsung-galaxy-s20-fe-5g-verde-128gb-313937/" target="_self"
													data-analytics-context="samsung galaxy s20 fe 5g verde 128gb tab nuevo cliente"
													data-analytics-element="más información"
													data-analytics-category="cta" data-analytics-id="1500089957853-4538767178623">Más información
														<span class="visually-hidden">: Más información Samsung Galaxy S20 FE 5G Verde 128GB</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{{!-- Ya soy cliente--}}
							<div class="vfes-tabs__content vfes-colours-bg-light-grey" data-tab="2" id="simpletab2" role="tabpanel">
								<div class="vfes-layout vfms-mobile">
									<div class="vfes-layout__wrapper">
										{{!-- ITEM 1 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Rojo 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Rojo 128GB"
												src="img/devices/s20fe-red.jpg">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary  vfms-large vfes-mt" data-modal="modalFE"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy S20 FE 5G Rojo 128GB"
													data-analytics-context="samsung galaxy s20 fe 5g rojo 128gb tab cliente"
													data-analytics-element="reservalo"
													data-analytics-category="cta" data-analytics-id="1500089957853-7311505521129">Resérvalo</button>
													<span class="visually-hidden">: Resérvalo Samsung Galaxy S20 FE 5G Rojo 128GB</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 2 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Azul 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Azul 128GB"
												src="img/devices/s20fe-blue.jpg">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary  vfms-large vfes-mt" data-modal="modalFE"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy S20 FE 5G Azul 128GB"
													data-analytics-context="samsung galaxy s20 fe 5g azul 128gb tab cliente"
													data-analytics-element="reservalo"
													data-analytics-category="cta" data-analytics-id="1500089957853-2615848129886">Resérvalo</button>
													<span class="visually-hidden">: Resérvalo Samsung Galaxy S20 FE 5G Azul 128GB</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 3 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Lavanda 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Lavanda 128GB"
												src="img/devices/s20fe-lavander.jpg">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
														{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary  vfms-large vfes-mt" data-modal="modalFE"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy S20 FE 5G Lavanda 128GB"
													data-analytics-context="samsung galaxy s20 fe 5g lavanda 128gb tab cliente"
													data-analytics-element="reservalo"
													data-analytics-category="cta" data-analytics-id="1500089957853-7704037413355">Resérvalo</button>
													<span class="visually-hidden">: Resérvalo Samsung Galaxy S20 FE 5G Lavanda 128GB</span>
												</div>
											</div>
										</div>
										{{!-- ITEM 4 --}}
										<div class="vfes-layout__item vfes-1/4 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
											<div class="vfes-card vfes-card__product">
												<p class="vfes-title vfes-title--center vfes-title--bold vfes-title--4 vfms-card__title">Samsung Galaxy S20 FE 5G Verde 128GB</p>
												<img class="vfms-mobile-img vfes-pb vfes-pt" alt="Samsung Galaxy S20 FE 5G Verde 128GB"
												src="img/devices/s20fe-green.jpg">
												<div class="vfms-mobile-dates">
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/screen-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Pantalla</p>
														</div>
														<div class="vfms-flex-right">
															<p>6.5”</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/camera-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Cámara</p>
														</div>
														<div class="vfms-flex-right">
															<p>12MP F2.2</p>
															<p>12MP F1.8</p>
															<p>8MP 3x  F2.4</p>
														</div>
													</div>
													<div class="vfes-layout__item vfms-flex">
														<div class="vfms-flex-left">
															<div class="vfms-flex-left__img">
																<img src="img/cloud-icon.svg">
															</div>
															<p class="vfms-flex-left__title vfes-title vfes-title--bold vfes-title--7">
																Memoria</p>
														</div>
														<div class="vfms-flex-right">
															<p>128GB</p>
															<p>RAM 6GB</p>
														</div>
													</div>
												</div>
												<div class="vfms-mobile-prices vfes-mt">
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-big"><strong>13,50€/mes</strong></span> en 36
														meses</p>
													<p class="vfes-paragraph vfes-paragraph--large"><span
															class="vfms-mobile-prices-small"><strong>+0€</strong></span> de pago inicial
													</p>
													{{!-- cuando levanta modal --}}
													<button class="device vfes-button vfes-button--primary  vfms-large vfes-mt" data-modal="modalFE"
													data-modal-close aria-haspopup="dialog"
													data-device-name="Samsung Galaxy S20 FE 5G Verde 128GB"
													data-analytics-context="samsung galaxy s20 fe 5g verde 128gb tab cliente"
													data-analytics-element="reservalo"
													data-analytics-category="cta" data-analytics-id="1500089957853-2836118293979">Resérvalo</button>
													<span class="visually-hidden">: Resérvalo Samsung Galaxy S20 FE 5G Verde 128GB</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>
			</section>
			{{!-- GIFT SECTION --}}
			<section class="vfes-layout vfes-why-vodafone vfes-why-vodafone--gray">
				<div class="vfes-layout__wrapper vfes-colours--dark-grey">
					<div class="vfes-layout__item vfes-mb+ vfes-align--left">
						<p class="vfes-title vfes-title--bold vfes-title--left vfes-title--2 vfes-mb-">Escoge uno de los regalos</p>
						<h4 class="vfes-title vfes-title--4 vfes-title--left vfes-title--light vfes-mb">Una vez que recibas tu nuevo Samsung Galaxy S20 FE 5G debes registrar la promoción en la app de Samsung Members y seleccionar uno de los regalos</h4> 
					</div>
					<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
						<div class="vfes-why-vodafone__background vfms-why__size">
							<img class="vfms-why__icons" src="img/why/smartwatch.svg">
						</div>
						<p class="vfes-why-vodafone__title">Galaxy Fit2</p>
						<p class="vfes-why-vodafone__paragraph">Llévate el <span class="vfes-title--bold">Galaxy Fit2</span>, la nueva pulsera de fitness de Samsung, de <span class="vfes-title--bold">regalo</span></p>
					</div>
					<div class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-align--center">
						<div class="vfes-why-vodafone__background vfms-why__size">
							<img class="vfms-why__icons" src="img/why/gamepad-icon.svg">
						</div>
						<p class="vfes-why-vodafone__title">Gaming Pack</p>
						<p class="vfes-why-vodafone__paragraph">Llévate de <span class="vfes-title--bold">regalo</span> un <span class="vfes-title--bold">Game Controler</span> y <span class="vfes-title--bold">3 meses de suscripción gratuita</span> en la plataforma <span class="vfes-title--bold">Xbox Game Pass</span>, con acceso a más de 100 juegos de Xbox online</p>
					</div>
				</div>
			</section>
			{{!-- STEPS SECTION --}}
			<section class="vfms-steps">
				<p class="vfes-title vfes-title--center vfes-title--light vfes-title--2">¿Cómo conseguir tu nuevo Samsung Galaxy S20 FE 5G?</p>
				<div class="vfes-timeline vfes-timeline--steps vfes-timeline--center">
					<ul class="vfes-timeline__list vfms-steps__timeline">
						<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
							<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>Icono Móvil</title><use class="icon-v3" xlink:href='#icon-mobile-mid'></use></svg>
							<h4 class="vfes-paragraph vfes-paragraph--large vfes-mb--"><span class="vfes-title--bold">Elige el Samsung Galaxy S20 FE 5G</span></h4>
							<p class="vfms-paragraph--small">Elige el Samsung Galaxy S20 FE 5G que más se adapte a ti</p>
						</li>
						<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column">
							<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>Icono Ahorro</title><use class="icon-v3" xlink:href='#icon-saving-mid-esp'></use></svg>
							<h4 class="vfes-paragraph vfes-paragraph--large vfes-mb--"><span class="vfes-title--bold">Precómpralo</span></h4>
							<p class="vfms-paragraph--small">Precómpralo ya y asegúrate de ser el primero en disfrutarlo. Recibirás un mail de confirmación al finalizar la compra y un SMS informándote de cuando recibirás tu pedido.</p>
						</li>
						<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column">
							<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>Icono Paquetería</title><use class="icon-v3" xlink:href='#icon-bundles-mid'></use></svg>
							<h4 class="vfes-paragraph vfes-paragraph--large vfes-mb--"><span class="vfes-title--bold">Recibe tu nuevo móvil</span></h4>
							<p class="vfms-paragraph--small">Podrás cancelar tu pedido en cualquier momento. Hasta que no recibas tu nuevo móvil no se realizará la Portabilidad y no se cargará ningún importe.</p>
						</li>
						<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column">
							<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>Icono Regalo</title><use class="icon-v3" xlink:href='#icon-bonus-mid'></use></svg>
							<h4 class="vfes-paragraph vfes-paragraph--large vfes-mb--"><span class="vfes-title--bold">Elige el regalo</span></h4>
							<p class="vfms-paragraph--small">Una vez que recibas tu nuevo Galaxy S20 FE debes registrar la promoción en la app de Samsung Members y seleccionar uno de los regalos</p>
						</li>
					</ul>
				</div>
			</section>
		</main>
		

		{{!-- modal form --}}
		<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
			<section id="modalFE" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
				<div class="vfes-modal__head">
					<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg
							class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
							<title>Close</title>
							<use class="icon-v3" xlink:href="#icon3-close"></use>
						</svg></button>
				</div>
				<div class="vfes-modal__content vfms-modal js-modal-content">
					<div class="vfms-text--container">
						<p id="device-title" class="vfes-title vfes-title--3  vfes-title--center vfms-device-title vfes-mb-"></p>
						<p class="vfes-title vfes-title--4 vfes-title--center vfes-mb vfes-mb--mov">¡Solo te queda un paso!</p>
						<p class="vfes-paragraph vfes-paragraph--center vfes-mb">Déjanos tus datos y nos pondremos en contacto
							contigo para finalizar la compra.</p>
					</div>
					<div class="vfms-form--container">
						<form class="vfes-form wg-form">
							<div class="vfes-layout__item vfes-layout--center vfes-mb">
								<input class="wg-input" type="hidden" name="preventa" value="Samsung S20 FE">
								<input class="vfes-box-input wg-input" style="display:none;" value="NO" name="verifyLeadId">
								<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
								<input id="phone-model" class="vfes-form__input wg-input" type="hidden"
									style="display:none;" name="phone-model" placeholder="Modelo Teléfono" />
								<div class="form-name vfes-layout__item ">
									<input class="vfes-form__input vfes-box--form__name wg-input vfms-input" type="text" name="nombre" data-wg-validation="required" placeholder="Nombre" />
									<input type="hidden" class="wg-error" />
								</div>
								<div class="vfes-layout__item ">
									<input class="vfes-box--form__tlf wg-input vfes-form__input vfms-input vfes-mt vfes-mt--mov" type="phone"
									name="phone" inputmode="numeric" pattern="[0-9]*" maxlength="9"
									data-wg-validation="required,phone" placeholder="Nº teléfono"
									oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
									<input type="hidden" class="wg-error" />
								</div>
								<div class="form-privacy">
									<input class="vfes-form__checkbox wg-input" data-wg-validation="required" type="checkbox"
									id="privacy" value="on" type="checkbox" name="check" />
									<label class="vfes-form__label vfes-mt vfes-mt---mov" for="privacy">Acepto la 
									<a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/" id="condiciones" class="button-privacy vfes-ml--" target="_blank" rel="nofollow" data-analytics-context="política de
										privacidad" data-analytics-element="política de
										privacidad" data-analytics-category="link" data-analytics-id="1500089957853-2836119993979"> Política de
										Privacidad</a></label>
									<input type="hidden" class="wg-error" />
								</div>
								<div class="form-comercial">
									<input class="vfes-form__checkbox wg-input" type="checkbox" name="gdpr" id="comunication"
									value="on" />
									<label class="vfes-form__label" for="comunication">Acepto recibir comunicaciones
									comerciales de Vodafone </label>
									<input type="hidden" class="wg-error" />
								</div>
							</div>
							<input class="vfes-button vfes-button--primary  vfms-large wg-submit tellamamos-ltc"
								type="submit" value="Enviar">
						</form>
					</div>
				</div>
			</section>
		</div>
</div>

<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
