<link href="css/ws2r.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />   
<div class="vfes-ms-content vfes-layout" id="prepago">
    <div class="vfes-layout__wrapper">
		<div class="vfes-layout__item vfes-1/2 vfes-align--left vfes-pt-- vfes-mb--">
			<div class="vfms-text--container">
					<p class="vfes-paragraph-large vfes-mb">Descubre las nuevas <span class="vfes-title--bold"> Tarifas Prepago</span>, ahora con más datos y llamadas ilimitadas.</p>
					<p class="vfes-paragraph vfes-paragraph--large"><a class="vfes-link vfes-link--red-chevron vfes-colours--vodafone-red" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/prepago-y-recargas/tarifas-de-prepago/" target="_self" data-analytics-context="nuevas tarifas prepago" data-analytics-element="mas info" data-analytics-category="cta">Más info
						<span class="visually-hidden">Más info tarifas prepago</span>
					</a></p>
			</div>
		</div>
		<div class="vfes-layout__item vfes-1/2 vfes-mb0">
			<img src="img/prepago.svg" alt="GB extra al renovar" data-vfes-inline-asset>
		</div>
	</div>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
