<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>popup-desktop</title>
    <link href="css/ws2r.v13.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset/>
</head>

<body>
	<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
    <div class="vfes-ms-content" id="popup-desktop">
		<div class="vfms-overlay">
         <div class="vfms-popup">
			 <button class="vfms-button--close">
				 <img src="img/ic-close-white.png" data-vfes-inline-asset>
			 </button>
			 <div class="vfes-layout__item vfms-container-text vfes-1/2">
			 	<p class="vfes-title--4 vfes-colours--vodafone-white vfes-align--center"><strong>¡Hola!</strong></p>
			 	<p class="vfes-paragraph vfes-paragraph--large vfes-colours--vodafone-white vfes-align--center">Como eres uno de los nuestros, tenemos ofertas especiales para ti.
				 </p>
				<p class="vfes-title--4 vfes-colours--vodafone-white vfes-align--center"><strong>Cine y Series 1 año GRATIS</strong></p>
				<p class="vfes-title--4 vfes-colours--vodafone-white vfes-align--center"><strong>¿Te interesa?</strong></p>
				<button class="vfes-button vfes-button--primary">Llama gratis al <span class="drp-phone">900 920 052</span></button>

			 </div>
		 </div>
		</div>
    </div>
    <script src="js/jquery.min.js"></script>
	<script src="js/ws2r.v13.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
