<link href="css/ws2r.v14.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/styles.css" rel="stylesheet" data-vfes-inline-asset />
<div data-spritesheet="sprite.v3.svg" data-vfes-js="_svgLoader"></div>
<div class="vfes-ms-content" id="tabla-comparativa">
    <div class="vfes-layout vfes-colours-bg-aluminium vfms-comparative">
        <div class="vfes-layout__wrapper vfes-align--center vfms-table-container">
            <div class="vfes-layout__item vfms-comparative-header">
                <p class="vfes-title vfes-title--2 vfes-title--light vfes-title--center vfms-comparative-header__title">
                    Compara y elige la tarifa que más se adapte a ti</p>
            </div>
            <div class="vfes-layout__item vfes-colours-bg-vodafone-white vfms-container vfes-box-shadow">
                <table class="vfms-table" id="slider">
                    <thead class="vfms-table-header" data-header="header">
                        <tr class="vfms-head vfes-paragraph--left">
                            <th class="vfes-flex vfes-flex__align-items--center vfms-head--item">
                                <div
                                    class="vfes-colours-bg-aluminium vfms-icon--bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                    <svg>
                                        <title>Datos móviles</title>
                                        <use xlink:href="#icon-mobile-mid" class="icon-v3" />
                                    </svg>
                                </div>
                                <p class="vfes-paragraph">Datos móviles</p>
                            </th>
                            <th class="vfes-flex vfes-flex__align-items--center vfms-head--item">
                                <div
                                    class="vfes-colours-bg-aluminium vfms-icon--bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                    <svg>
                                        <title>Llamadas</title>
                                        <use xlink:href="#icon-landline-or-call-mid" class="icon-v3" />
                                    </svg>
                                </div>
                                <p class="vfes-paragraph">Llamadas</p>
                            </th>
                            <th class="vfes-flex vfes-flex__align-items--center vfms-head--item">
                                <div
                                    class="vfes-colours-bg-aluminium vfms-icon--bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                    <svg>
                                        <title>5G</title>
                                        <use xlink:href="#icon-5G_esp-mid" class="icon-v3" />
                                    </svg>
                                </div>
                                <p class="vfes-paragraph">5G</p>
                            </th>
                            <th class="vfes-flex vfes-flex__align-items--center vfms-head--item">
                                <div
                                    class="vfes-colours-bg-aluminium vfms-icon--bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                    <svg>
                                        <title>Velocidad datos móvil</title>
                                        <use xlink:href="#icon-dashboard-mid" class="icon-v3" />
                                    </svg>
                                </div>
                                <p class="vfes-paragraph">Velocidad datos móvil</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-container" class="vfms-table-body container" data-carousel="container" id="slides">
                        <tr class="vfms-body vfms-body__price slide">

                            <!--Mini-->
                            <td class="vfms-cell  vfes-paragraph--center vfes-pt vfes-colours-bg-light-grey">
                                <div class="vfes-flex vfes-flex__direction--column">
                                    <p class="vfes-paragraph"><strong>T.Móvil Mini</strong></p>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-title--light"> <span
                                            class="vfes-card-shop__price">19,99€</span> /mes</p>
                                </div>
                                <p class="vfes-paragraph vfes-paragraph--large vfes-colours--turqoise vfms-rate-selected">Tarifa consultada
                                </p>
                                
                                <a class="vfes-button vfes-button--primary"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443580"
                                    data-analytics-element="lo quiero"
                                    data-analytics-context="Lo quiero Tarifa Móvil  Mini" data-analytics-category="link"
                                    title="Lo quiero Tarifa Móvil  Mini" target="_parent">Lo quiero</a>
                            </td>

                            <!--Extra-->
                            <td class="vfms-cell vfes-paragraph--center vfes-pt">
                                <div class="vfes-flex vfes-flex__direction--column">
                                    <p class="vfes-paragraph"><strong>T.Móvil Extra</strong></p>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-title--light"> <span
                                            class="vfes-title vfms-price">29,99€</span>/mes</p>
                                </div>
                                <a class="vfes-link vfes-link--no-chevron vfms-link"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-2/"
                                    data-analytics-element="mas informacion" data-analytics-context="tarifa movil mini"
                                    data-analytics-category="link" title="Más información Tarifa Móvil mini"
                                    target="_parent">Más
                                    información</a>
                                <a class="vfes-button vfes-button--primary vfms-button"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443575"
                                    data-analytics-element="lo quiero" data-analytics-context="tarifa movil extra"
                                    data-analytics-category="link" title="Lo quiero Tarifa Móvil Extra"
                                    target="_parent">Lo quiero</a>
                            </td>
                            <!--ilimitada-->
                            <td class="vfms-cell  vfes-paragraph--center vfes-pt"
                                data-carousel="slide">
                                <div class="vfes-flex vfes-flex__direction--column">
                                    <p class="vfes-paragraph"><strong>T.Móvil ilimitada</strong></p>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-title--light"> <span
                                            class="vfes-title vfms-price">40,99€</span>/mes</p>

                                </div>
                                <a class="vfes-link vfes-link--no-chevron vfms-link"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-3/"
                                    data-analytics-element="mas informacion" data-analytics-context="tarifa movil ilimitada"
                                    data-analytics-category="link" title="Más información Tarifa Móvil ilimitada"
                                    target="_parent">Más
                                    información</a>
                                <a class="vfes-button vfes-button--primary"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443579"
                                    data-analytics-element="lo quiero" data-analytics-context="tarifa movil ilimitada"
                                    data-analytics-category="link" title="Lo quiero Tarifa Móvil ilimitada"
                                    target="_parent">Lo quiero</a>
                            </td>
                            <!--ilimitada super -->
                            <td class="vfms-cell  vfes-paragraph--center vfes-pt">
                                <div class="vfes-flex vfes-flex__direction--column">
                                    <p class="vfes-paragraph"><strong>T.Móvil ilimitada Súper</strong></p>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-title--light"> <span
                                            class="vfes-title vfms-price">45,99€</span> /mes</p>

                                </div>
                                <a class="vfes-link vfes-link--no-chevron vfms-link vfes-paragraph--center"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-4/"
                                    data-analytics-element="mas informacion"
                                    data-analytics-context="tarifa movil ilimitada Súper" data-analytics-category="link"
                                    title="Más información Tarifa Móvil ilimitada Súper" target="_parent">Más
                                    información</a> <a class="vfes-button vfes-button--primary"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443577"
                                    data-analytics-element="lo quiero"
                                    data-analytics-context="tarifa movil ilimitada Súper" data-analytics-category="link"
                                    title="Lo quiero Tarifa Móvil ilimitada Súper" target="_parent">Lo quiero</a>
                            </td>
                            <!--ilimitada total-->
                            <td class="vfms-cell vfes-paragraph--center vfes-pt">
                                <div class="vfes-flex vfes-flex__direction--column">
                                    <p class="vfes-paragraph"><strong>T.Móvil ilimitada Total</strong></p>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-title--light"> <span
                                            class="vfes-title vfms-price">49,99€</span> /mes</p>
                                </div>
                                <a class="vfes-link vfes-link--no-chevron vfms-link"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/tarifas-moviles/tarifa-movil-5/"
                                    data-analytics-element="mas informacion"
                                    data-analytics-context="tarifa movil ilimitada Total" data-analytics-category="link"
                                    title="Más información Tarifa Móvil ilimitada Total" target="_parent">Más
                                    información</a>
                                <a class="vfes-button vfes-button--primary"
                                    href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?tti=7&tta=2&tcli=0&tcon=0&ec=0&tal=2&sap=11111&m=0&tar=168443578"
                                    data-analytics-element="lo quiero"
                                    data-analytics-context="tarifa movil ilimitada Total" data-analytics-category="link"
                                    title="Lo quiero Tarifa Móvil ilimitada Total" target="_parent">Lo quiero</a>
                            </td>

                        </tr>
                        <tr class="vfms-body slide">

                            <!--Mini (recomendada)-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile vfes-colours-bg-light-grey" data-content="Datos móviles">
                                <span class="vfms-data-price">5GB</span>
                            </td>
                            <!--Extra -->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile vfms-align__right "
                                data-content="Datos móviles">
                                <span class="vfms-data-price">10GB</span>
                            </td>
                            <!--ilimitada -->
                            <td class="vfms-cell  vfms-text__align vfms-info__mobile"
                                data-content="Datos móviles">
                                <strong><span class="vfms-data-price">GB ilimitados</span></strong>
                            </td>
                            <!--ilimitada super -->
                            <td class="vfms-cell  vfms-text__align vfms-info__mobile" data-content="Datos móviles">
                                <strong><span class="vfms-data-price">GB ilimitados</span></strong>
                            </td>
                            <!--ilimitada total-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile" data-content="Datos móviles">
                                <strong><span class="vfms-data-price">GB ilimitados</span></strong>
                            </td>
                        </tr>

                        <tr class="vfms-body slide">

                            <!--Mini (recomendada)-->
                            <td class="vfms-cell vfms-text__align  vfes-paragraph--center vfms-info__mobile vfes-colours-bg-light-grey"
                                data-content="Llamadas">
                               200 minutos
                            </td>
                            <!--Extra-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile" data-content="Llamadas">
                                <strong>ilimitadas</strong>
                            </td>

                            <!--ilimitada -->
                            <td class="vfms-cell  vfms-text__align vfms-info__mobile"
                                data-content="Llamadas">
                                <strong>ilimitadas</strong>
                            </td>

                            <!--ilimitada super -->
                            <td class="vfms-cell vfms-text__align  vfms-info__mobile" data-content="Llamadas">
                                <strong>ilimitadas</strong>
                            </td>

                            <!--ilimitada total-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile" data-content="Llamadas">
                                <strong>ilimitadas</strong>
                            </td>


                        </tr>
                        <tr class="vfms-body slide">
                            <!--Mini (recomendada)-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile vfes-colours-bg-light-grey" data-content="5G">
                                <div
                                    class="vfms-check-bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                </div>
                            </td>

                            <!--Extra-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile" data-content="5G">
                                <div
                                    class="vfms-check-bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                </div>
                            </td>

                            <!--ilimitada -->
                            <td class="vfms-cell  vfms-text__align vfms-info__mobile"
                                data-content="5G">
                                <div
                                    class="vfms-check-bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                </div>
                            </td>
                            <!--ilimitada super -->
                            <td class="vfms-cell vfms-text__align  vfms-info__mobile" data-content="5G">
                                <div
                                    class="vfms-check-bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                </div>
                            </td>
                            <!--ilimitada total-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile" data-content="5G">
                                <div
                                    class="vfms-check-bg vfes-flex vfes-flex__justify--center vfes-flex__align-items--center">
                                </div>
                            </td>


                        </tr>
                        <tr class="vfms-body vfms-body_big slide">
                            <!--Mini (recomendada)-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile vfms-info__mobile-selected vfes-colours-bg-light-grey"
                                data-content="Velocidad datos móvil">
                                <strong class="vfms-text__mobile vfes-paragraph--center">Máxima <span
                                        class="vfms-item-block vfes-paragraph--center">velocidad</span></strong>
                            </td>
                            <!--Extra-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile vfms-info__mobile-selected"
                                data-content="Velocidad datos móvil">
                                <strong class="vfms-text__mobile vfes-paragraph--center">Máxima <span
                                        class="vfms-item-block vfes-paragraph--center">velocidad</span></strong>
                            </td>
                            <!--ilimitada -->
                            <td class="vfms-cell  vfms-text__align vfms-info__mobile vfms-info__mobile-selected"
                                data-content="Velocidad datos móvil">
                                <p class="vfms-text__big"><strong class="vfms-text__big">2</strong>Mbps</p>
                            </td>
                            <!--ilimitada super -->
                            <td class="vfms-cell vfms-text__align  vfms-info__mobile vfms-info__mobile-selected"
                                data-content="Velocidad datos móvil">
                                <p class="vfms-text__big"><strong>10</strong>Mbps</p>
                            </td>
                            <!--ilimitada total-->
                            <td class="vfms-cell vfms-text__align vfms-info__mobile vfms-info__mobile-selected"
                                data-content="Velocidad datos móvil">
                                <strong class="vfms-text__mobile vfes-paragraph--center">Máxima <span
                                        class="vfms-item-block vfes-paragraph--center">velocidad</span></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button
                    class="lefty prev vfms-arrow--button vfms-prev vfes-colours-bg-vodafone-white vfes-box-shadow"></button>
                <button
                    class="righty next vfms-arrow--button vfms-next vfes-colours-bg-vodafone-white vfes-box-shadow"></button>
            </div>
        </div>
    </div>
</div>
<script>
    var tableContainer = document.getElementById("table-container");
    var carouselWidth = tableContainer.offsetWidth;
    var offset = -300;
    var cardWidth = 300;
    var stageWidthSize = window.screen.width;
    var stageWidth = function () {
        var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        return width;
    }
    var offset = 0;
    if (stageWidthSize <= 768) {
        offset = 0;
    }
    if (stageWidthSize <= 414) {
        offset = -300;
    }
    var limit = 0;
    let container = document.querySelector(".vfms-table-body"),
        lefty = document.querySelector(".lefty"),
        righty = document.querySelector(".righty"),
        position = 0;

    container.style.transform = `translateX(${offset}px)`;

    lefty.addEventListener("click", function () 
    {
        if (stageWidthSize <= 414) {
            if (offset === -300) {
                offset += -300;
                container.style.transform = `translateX(${offset}px)`;
                /*console.log("izquierda- ", offset);
                console.log("width-pantalla- ", stageWidth);   */
            }
        }
        if (offset === 0) {
            offset += -300;
            container.style.transform = `translateX(${offset}px)`;
            console.log("izquierda- ", offset);
            console.log("width-pantalla- ", stageWidth);
        }
        if (offset !== 0) {
            offset += 300;
            container.style.transform = `translateX(${offset}px)`;
            console.log("izquierda- ", offset);
            console.log("width-pantalla- ", stageWidth);
        }
        //}	
    });
    if (stageWidthSize > 1024) {
        limit = cardWidth * 2;
    }
    if (stageWidthSize <= 1024) {
        limit = cardWidth * 3;
    }
    if (stageWidthSize <= 768) {
        limit = cardWidth * 4;
    }
    if (stageWidthSize <= 414) {
        limit = cardWidth * 5;
    }
    righty.addEventListener("click", function () {

        if (offset !== -(limit)) {
            console.log("limit- ", limit);
            offset -= 300;
            container.style.transform = `translateX(${offset}px)`;
            console.log("derecha- ", offset);
            console.log("width-pantalla- ", stageWidth());
        }
    });
</script>

<script src="js/ws2r.v14.js"></script>
<script src="js/main.js"></script>