
/* Sticky styles*/
.vfes-sticky {
    border-radius: 6px;
    background: #ffffffc7;
    left: 0;
    padding: 0 10px;
    position: fixed;
    top: 47px;
    width: 100%;
    z-index: 9;
    transition: top 0.3s ease-out;

    &.hide {
        display: none;
    }

    &__list {
        padding: 0;
        margin: 0;

        &-item {
            margin: 0;
            transition: all .1s ease-in-out;
            list-style: none;
        }
    }
    &__button {
        background: #fff;
        border-radius: 100%;
        display: none;
        height: 50px;
        margin: -30px auto;
        position: relative;
        width: 50px;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &:before{
            content: "";
            -ms-transform: rotate(-45deg);
            border-right: 1px solid #E60000;
            border-top: 1px solid #E60000;
            display: block;
            height: 15px;
            margin: 5px auto 0;
            transform: rotate(135deg);
            width: 15px;
        }
        &.show{
            display: block;
            opacity: 1;
            top: 100%;
        }
        &--squared{
            background: #fff;
            display: none;
            height: 30px;
            margin: -23px auto;
            position: relative;
            width: 30px;
            z-index: 10;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            transform: rotate(135deg);
            border-radius: 6px;
        }

        &[data-open="true"] {
            transform: rotate(180deg);

            &::before {
                transform: rotate(135deg) translate(-50%, 50%);
            }
        }
    }

    &__item--added {
        height: 0;
        opacity: 0;
        margin: 0;
        border-width: 0;
        transition: all .3s ease-in-out;

        &.vfes-tag-label.vfes-card-shop {
            margin-top: 0;
        }

        &.show {
            height: inherit;
            opacity: 1;
            margin: 0 auto 1px;
            border-width: 1px;

            &:first-child {
                margin-top: 1px;
            }
        }
    }

    .vfes-tag-label {
        &::after {
            display: none;
        }
        &__outstanding {
            display: none;
        }
    }
}
