/**
 * Vodafone Reboot Framework: Version 13.0.2. Generation Date: 2019-08-14T11:08:40.221Z
 */

.vfes-ms-content .vfms-flex-info{display:flex;align-items:center}.vfes-ms-content .vfms-flex-info .vfms-tv{margin-right:.625rem;height:1.5rem}@media screen and (min-width:60.625rem){.vfes-ms-content .vfms-flex-info .vfms-tv{height:1.875rem}}.vfes-ms-content .vfms-container--center{display:flex;justify-content:center;margin:1.25rem 0 1.25rem -9.375rem}.vfes-ms-content .vfms-container--center .logo-hbo{width:3.125rem}