<link href="css/ws2r.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" data-microcss />
<div data-spritesheet="svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>
<div class="vfes-ms-content vfes-ws10 vfes-colours-bg-light-grey" id="segundas-residencias" style="display: none">
	<main class="vfes-layout vfes-color-bg-wild-sand vfes-colours--dark-grey vfes-pt0" data-vfms-js="_rate">
		{{!-- <!-- CONTENT + TICKET --> --}}
		{{!-- <!-- BANNER AND CARD RATE --> --}}
		<section class="vfms-banner vfes-mb+ vfes-pb+ vfes-pb0-mov vfes-mb0-mov">
			<div class="vfes-layout__wrapper vfms-banner__wrapper">
				<div class="vfes-layout__item vfes-2/3 vfes-1/2-palm vfes-1/1-mov vfes-pt+ vfes-pt-mov vfes-pb-mov"
					data-vfms-js="_cloneRate">
					<div class="vfes-layout__wrapper">
						<p class="vfes-layout__item vfes-1/1 vfes-title--4 vfes-title--light show vfes-mb0">Internet
							Segundas Residencias</p>
						<p
							class="vfes-layout__item vfes-3/4 vfes-1/1-palm vfes-1/1-mov vfes-mb0 vfes-title--light vfes-pr-mov">
							<span class="show vfes-title--1 vfes-mb0 vfes-pt">Por ser cliente de Vodafone One disfruta
								de<span class="vfes-title--bold"> datos ilimitados</span> en<span
									class="vfes-title--bold"> tu segunda residencia</span>.
						</p>
					</div>
				</div>
			</div>
		</section>
		<div class="vfes-flex vfes-flex__direction--column vfes-layout__wrapper">
			{{!-- <!-- CONTENT --> --}}
			<div class="vfms-content vfes-layout__item vfes-2/3 vfes-1/1-palm vfes-1/1-mov">
				{{!-- FEATURE --}}
				<section class="vfms-features vfes-layout">
					<div class="vfes-layout__wrapper vfes-align--center">
						<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov vfes-pt-mov">
							<img src="img/svg/instal.svg" alt="icono autoinstalable">
							<p
								class="vfes-title vfes-title--4 vfes-title--light vfes-p--mov vfes-pr0-palm vfes-pl0-palm vfes-p">
								Autoinstalable</p>
							<p class="vfes-paragraph--large">No hace falta ir a tu residencia para citarte con el
								instalador, es tan sencillo que se autoinstala muy facilmente.</p>
						</div>
						<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov vfes-pt-mov">
							<img src="img/svg/wifi.svg" alt="icono wifi">
							<p
								class="vfes-title vfes-title--4 vfes-title--light vfes-p--mov vfes-pr0-palm vfes-pl0-palm vfes-p">
								Sin cables</p>
							<p class="vfes-paragraph--large">Sin agujeros, sin cables, olvídate de preocuparte sobre
								dónde colocar el router o cómo ocultar el cableado.</p>
						</div>
						<div class="vfes-layout__item vfes-1/3 vfes-1/3-palm vfes-1/1-mov vfes-pt-mov">
							<img src="img/svg/net.svg" alt="icono segunda residencia">
							<p
								class="vfes-title vfes-title--4 vfes-title--light vfes-p--mov vfes-pr0-palm vfes-pl0-palm vfes-p">
								Segunda residencia</p>
							<p class="vfes-paragraph--large">Sigue disfrutando de conexión en tu segunda residencia. Tus
								vacaciones más conectadas que nunca.</p>
						</div>
					</div>
				</section>
				{{!-- INTERNET --}}
				<section class="vfms-all vfes-pt+ vfes-pb0" vfms-data-show="sticky">
					<h2 class="vfes-title--4 vfes-title--light vfes-mb--">Wifi segunda residencia</h2>
					<h3 class="show vfes-title--3 vfes-title--bold vfes-mb--palm vfes-mb">
						Datos ilimitados con alta velocidad para utilizar con el router 4G
					</h3>
					<img class="hide--tb" src="img/router-mv.png">
					<img class="hide--xs" src="img/router-dsk.png">
					<div class="vfes-layout">
						<ul class="vfes-pt-palm vfes-pt--mov vfes-pt+ vfes-layout__wrapper">
							<li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-pb- vfes-mb-">
								<div class="vfes-flex vfes-flex__align-items--center">
									<div class="vfms-circle-icon">
										<img width="44" height="44" src="img/svg/icono-thunder-2.svg">
									</div>
									<p class="vfes-paragraph--large"><span class="vfes-title--bold">Datos
											ilimitados</span></p>
								</div>
							</li>
							<li
								class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
								<div class="vfes-flex vfes-flex__align-items--center">
									<div class="vfms-circle-icon">
										<svg width="44" height="44">
											<title>icon-router-mid_2</title>
											<use xlink:href="#icon-router-mid_2"></use>
										</svg>
									</div>
									<p class="vfes-paragraph--large"><span class="vfes-title--bold">Router 4G</span> con
										ranura para<span class="vfes-title--bold"> introducir la SIM</span> (150Mbps de
										bajada y de subida).<span class="vfes-title--bold"> GRATIS</span></p>
								</div>
							</li>
							<li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-paragraph--large">
								<div class="vfes-flex vfes-flex__align-items--start">
									<div class="vfms-circle-icon">
										<svg width="44" height="44">
											<title>icon-broadband-or-wifi-mid</title>
											<use xlink:href="#icon-broadband-or-wifi-mid" </use>
										</svg>
									</div>
									<p class="vfes-paragraph--large"><span class="vfes-title--bold">Cobertura de red
											móvil.</span> No te preocupes si la red de fibra no llegan a tu hogar. Este
										servicio se posiciona sobre la mejor red de datos móviles.</p>
								</div>
							</li>
						</ul>
					</div>
				</section>
				{{!-- NO SURPRISES  --}}
				<section class="vfms-surprises">
					<div class="vfes-pt+ vfes-pt-mov">
						<h3 class="vfes-title--3 vfes-mb--palm vfes-mb">
							<span class="vfes-title--bold">Sin sorpresas.</span>
							<span class="show vfes-pb- vfes-title--bold vfes-pb0">No escondemos nada</span>
						</h3>
						<p class="vfes-paragraph vfes-mb0">Impuestos y cuota incluidos.</p>
						<p class="vfes-paragraph vfes-mb0">Router GRATUITO.</p>
						<p class="vfes-paragraph">Sin cuota de instalación</p>
						<p class="vfes-paragraph vfes-mb0">El coste de envío de la SIM y el Router es de 9€.</p>
						<p class="vfes-paragraph">Permanencia de 12 meses desde el momento de la contratación.</p>
						<p class="vfes-paragraph">Después de 12 meses seguirás pagando 24€ al mes.</p>
						<p class="vfes-paragraph vfes-mb0">O si lo prefieres disfruta de Segundas Residencias sin
							Permanencia de 12 meses abonando 75€ en concepto de compra de router.</p>
						<p class="vfes-paragraph">El precio de la cuota seguirá siendo de 24€/mes.</p>
						<a class="vfes-paragraph vfes-link--black"
							href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/internet-segunda-residencia/legales/"
							target="_new" data-analytics-context="ficha de producto"
							data-analytics-element="condiciones legales" data-analytics-category="cta"
							data-analytics-id="1500075987427-0007460515586">Ver Condiciones Legales</a>
					</div>
				</section>
				{{!--  STEPS  --}}
				<section class="vfms-steps">
					<h3
						class="vfes-title vfes-title--3 vfes-pt+ vfes-align--left vfes-title--bold vfes-mb--palm vfes-mb">
						¿Cómo contratar internet para segundas residencias?</h3>
					<div
						class="vfes-timeline vfes-timeline--steps vfes-timeline--center vfes-timeline-steps--horizontal">
						<ul class="vfes-timeline__list vfes-timeline-steps--horizontal vfms-steps__timeline ">
							<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
								<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg'
									xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
									<title>icon-shopping-trolley-mi</title>
									<use class="icon-v3" xlink:href='#icon-shopping-trolley-mid'></use>
								</svg>
								<h4 class="vfes-paragraph vfes-paragraph--large"><span
										class="vfes-title--bold">Compra</span></h4>
								<p class="vfes-paragraph">Una vez hayas terminado la contratación con el agente
									recibirás un email de confirmación con el detalle de tu pedido y próximos pasos.</p>
							</li>
							<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
								<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg'
									xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
									<title>icon-business-mid</title>
									<use class="icon-v3" xlink:href='#icon-business-mid'></use>
								</svg>
								<h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Recibe
										la SIM y el Router</span></h4>
								<p class="vfes-paragraph">El envío puede tardar entre 2-3 días laborables (en la
									península) y 5-7 (a Baleares y Canarias, Ceuta o Melilla).</p>
							</li>
							<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
								<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg'
									xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
									<title>icon-bundles-mid</title>
									<use class="icon-v3" xlink:href='#icon-bundles-mid'></use>
								</svg>
								<h4 class="vfes-paragraph vfes-paragraph--large"><span
										class="vfes-title--bold">Colócalo</span></h4>
								<p class="vfes-paragraph"> Introduce la SIM en el router y sigue las instrucciones que
									están incluidas en la caja.</p>
							</li>
							<li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
								<svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg'
									xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'>
									<title>icon-unified-communication-mid</title>
									<use class="icon-v3" xlink:href='#icon-unified-communication-mid'></use>
								</svg>
								<h4 class="vfes-paragraph vfes-paragraph--large"><span
										class="vfes-title--bold">Navega</span></h4>
								<p class="vfes-paragraph">Ahora en tu segunda residencia, en vacaciones, siempre
									conectado.</p>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<!-- TICKET -->
			<div class="vfms-ticket vfes-layout__wrapper vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov vfes-mt0-mov vfes-mt+"
				data-vfms-js="_ticket">
				<div class="vfms-ticket-content vfes-pb-">
					<h2 class="vfes-title--4 vfes-pt0 vfes-mb0 vfes-pb-">Vodafone Segunda Residencia</h2>
					<ul
						class="vfes-flex vfes-flex__direction--column vfes-colours-bg-vodafone-white vfes-card-border-radius vfes-box-shadow vfes-pr- vfes-pl- vfes-pb- vfes-pt-">
						<li
							class="vfes-flex vfes-flex__align-items--center vfes-flex__wrap--nowrap vfes-align--center vfes-align--left">
							<div class="vfms-icon-rate">
								<svg style="width: 28px; height: 60px;">
									<title>Soporte 24h</title>
									<use xlink:href="#icon3-router" class="icon-v3"/>
								</svg>
							</div>
							<div class="vfes-align--left vfes-pl--">
								<p class="vfes-title--5 vfes-mb0"><span class="vfes-title--bold">Datos ilimitados</span>
								</p>
								<p class="vfes-paragraph vfes-paragraph--large vfes-mb0"><span
										class="vfes-title--light">+ Router 4G GRATIS</span></p>
							</div>
						</li>
						<li
							class="vfes-flex vfes-flex__align-items--end vfes-flex__justify--between vfes-pt- vfes-pb- vfes-pl--">
							<div>
								<p class="vfes-mb- vfes-paragraph--small vfes-colours--anthracite">Permanencia 12 meses
								</p>
								<p class="vfes-title vfes-title--3 vfes-title--bold vfes-mb0">24€/mes</p>
							</div>
							<div>
								<a title="Lo quiero" class="vfes-button vfes-button--primary" style="cursor: pointer;"
									onclick="window.parent.document.ws_popup.open('Internet Segundas Residencias', '24€/mes');"
									target="_parent" data-analytics-context="ficha de producto"
									data-analytics-element="lo quiero:segundas residencias"
									data-analytics-category="cta" data-analytics-id="1500075987427-0005820368154">Lo
									quiero</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- SECTION BANNER SEO-->
		<section class="vfes-layout__wrapper">
			<div class="vfes-layout__item">
				<div
					class="vfms-seo vfes-flex vfes-flex__direction--row-column-sm vfes-flex__align-items--center vfes-flex__justify--around vfes-pt+">
					<div class="vfms-seo__text vfes-pr0-mov vfes-pr-palm vfes-pr">
						<h2 class="vfes-title vfes-title--3 vfes-align--left vfes-title--bold vfes-mb--palm vfes-mb">
							Disfruta de internet en tu segunda residencia</h2>
						<p class="vfes-paragraph--large">
							Desde Vodafone somos conscientes de lo importante que es tener<span
								class="vfes-title--bold"> wifi en tu segunda residencia</span>, ya sea para tener
							internet en vacaciones o para tener línea en tu casa del pueblo. No tendrás que preocuparte
							si llega o no la fibra a tu segunda vivienda, con Vodafone segundas residencias, tendrás
							toda velocidad del 4G para que puedas<span class="vfes-title--bold"> seguir navegando por
								internet con total comodidad y sin interrupciones.</span>
						</p>
						<p class="vfes-paragraph--large">
							Si lo que buscas es<span class="vfes-title--bold"> internet para tu casa de verano o de
								vacaciones</span>, Vodafone Segunda Residencias es lo que necesitas. Llévate<span
								class="vfes-title--bold"> toda la potencia de la mejor red móvil a tu segunda
								residencia.</span> Además, no hace falta que vaya a tu hogar un instalador, es muy
							sencillo, se autoinstala muy fácilmente sin cables ni agujeros.
						</p>
					</div>
					<img class="vfes-pb-mov vfms-seo__img hide--sm" src="img/seo-desktop.jpg"
						alt="jóvenes mirando sus respectivos dispositivos móviles">
					<img class="vfes-pb-mov vfms-seo__img hide--md hide--lrg" src="img/seo-tb.jpg"
						alt="jóvenes mirando sus respectivos dispositivos móviles">
				</div>
			</div>
		</section>
		<!-- STICKY TICKET MOBILE-->
		<section class="vfms-sticky-down vfes-p-- vfes-pb- vfes-box-shadow vfes-colours-bg-vodafone-white vfms-hide"
			vfms-data-show="show">
			<div class="vfes-layout__item">
				<div class="vfes-flex vfes-flex__align-items--center vfes-flex__justify--center">
					<div class="vfes-flex vfes-flex__direction--column vfes-1/2">
						<span class="vfes-title--bold vfes-title--1 vfes-mb0">24€<span
								class="vfes-title--3">/mes</span></span>
						<p class="vfes-mb0 vfes-paragraph--small vfes-colours--anthracite">Permanencia 12 meses</p>
					</div>
					<div class="vfes-flex vfes-flex__direction--column vfes-1/2">
						<a title="Lo quiero" class="vfes-button vfes-button--primary" style="cursor: pointer;"
							onclick="window.parent.document.ws_popup.open('Internet Segundas Residencias', '24€/mes');"
							target="_parent" data-analytics-context="ficha de producto"
							data-analytics-element="lo quiero:segundas residencias" data-analytics-category="cta"
							data-analytics-id="1500075987427-0005820368134">Lo quiero</a>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- FAQS-->
	<aside class="vfms-faqs" data-vfes-js="_faqs">
		<div class="vfes-layout__wrapper vfes-pb+">
			<h2 class="vfes-title vfes-title--3 vfes-pt+ vfes-align--left vfes-title--bold">Preguntas Frecuentes</h2>
			<div class="vfes-mt0-mov">
				<div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
					<div class="vfes-layout__item vfes-p0">
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false"
								aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿Cuáles son los pasos que tienes que
									seguir para instalar el router?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										Ten en cuenta que al introducir la SIM que te hemos entregado, debes seguir
										estos pasos para que funcione tu servicio de Internet</p>

								
										<p class="vfes-paragraph">
											1. <strong>Llama al 1550</strong> para que <strong>te faciliten el PIN de la
												tarjeta SIM</strong> (viene preactivada y todavía no funciona).
										</p>
										<p class="vfes-paragraph">2. Se te solicita que <strong>indiques el nº de teléfono a
												activar</strong>(aparece en el sobre de la SIM).
										</p>


										<p class="vfes-paragraph">3. <strong>Cuando configures la conexión wifi en tu PC o móvil, busca el
												nombre del router y pulsa “Conectar”.</strong>
										</p>

										<p class="vfes-paragraph">4. Aparece un mensaje de que el router no ha podido conectarse a Internet y
											tienes que <strong>pulsar la rueda de ajustes</strong>, al lado del nombre
											del router.
										</p>

										<p class="vfes-paragraph">5. Entra en <strong>“Administrar router”</strong>.</p>

										<p class="vfes-paragraph">6. <strong>Introduce el PIN que facilitado por teléfono.</strong></p>

										<p class="vfes-paragraph">7. Desde ese momento, el router 4G empieza a funcionar y ya puedes usar
											Internet con datos ilimitados de alta velocidad <strong>en la red móvil, ya
												que no necesitas cobertura de fibra.</strong></p>
									
								</div>
							</div>
						</div>



						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false"
								aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">Cuando se habla de datos ilimitados,
									¿existe algún límite?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										No existe un límite siempre que el uso comprenda en primer lugar el uso personal
										para fines del uso particular y para fines razonables. Así mismo, el uso
										responsable y no fraudulento.
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false"
								aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿Puedo usarlo desde el momento en el
									que lo reciba o requiere algún tipo de instalación?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										El router 4G no requiere ningún tipo de instalación. Solo tendrás que introducir
										la SIM que recibas, seguir las instrucciones y en ese momento empezará a
										funcionar. Sin instalación y sin cables. Solo hay que enchufarlo y navegar.
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false"
								aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿La oferta de Segunda Residencia tiene
									una permanencia asociada?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">
										Esta oferta tiene un compromiso en Vodafone 12 meses. Si se da de baja antes
										tendrá un coste de 50€.
									</p>
								</div>
							</div>
						</div>
						<div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
							<button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false"
								aria-controls="accordion-content-0">
								<h3 class="vfes-paragraph vfes-paragraph--large">¿Es compatible con Vodafone TV?</h3>
							</button>
							<div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
								<div class="vfes-accordion__block">
									<p class="vfes-paragraph">Este producto está disponible para clientes de Vodafone
										One (fibra+móvil). Si ya tienes contratado Vodafone TV, puedes verlo en tu
										segunda residencia y sin coste adicional a través de la App Vodafone TV, que
										tienes que descargarte en los dispositivos compatibles determinados modelos de
										Smart TV, móvil, tablet, PC y Chromecast. Más información en <a
											href="https://ayudacliente.vodafone.es/particulares/television/"
											target="_new">https://ayudacliente.vodafone.es/particulares/television/</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>