<link href="css/ws2r.v13.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset/>
<div data-spritesheet="/c/microsite/1435667429722/svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>
<div class="vfes-ms-content">
		<div class="vfms-header-container">
			<div class="vfms-nav-container vfes-layout__wrapper">
				<div class="vfms-logo-container vfms-logo-container-vodafone">
					<a href="http://www.vodafone.es" target="_new"><img src="img/logo-vodafone.png"></a>
				</div>
				
				<div class="vfms-flex">
					<div class="vfms-info---header vfms-dektop">
						<p class="vfes-paragraph--center vfes-title--light vfms-title--desktop">Llamadas y datos <span class="vfes-title--bold">ilimitados</span></p>
					</div>
					<div class="vfms-mobile">
						<img class="vfms-phone" src="img/phone-ic.png" alt="icono teléfono">
						<div class="vfms-free--call">
							<p class="vfes-paragraph--center vfms-nomargin">Llama<span class="vfes-colours--vodafone-red"> Gratis</span> al</p>
							<p class="vfes-paragraph--center"><strong><a href="tel:900 920 149" class="drp-phone" data-analytics-context="sin permanencia" data-analytics-element="llama gratis" data-analytics-category="ctc">900 920 149</a></strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
    	<div class="vfes-layout vfms-bg">
			<div class="vfes-layout__wrapper">
				<ul class="vfes-color--vodafone-white vfms-hero--container" role="list">
					<li class="vfes-layout__item vfes-1/1-mov vfes-2/3-palm vfes-2/3 vfes-color--vodafone-gray vfms-hero">
						<div class="vfms-info-container">
							<h1 class="vfes-title--regular vfes-title--left">Tarifa Móvil Ilimitada</h1>
							<h2 class="vfes-title--regular vfes-title--left"><span class="vfes-title--bold">sin permanencia</span></h2>
							<p class="vfes-paragraph--left">Ahora:</p>
							<p class="vfes-paragraph--left vfms-price"><strong>40,99€/<span>mes</span></strong></p>
						</div>
						<div class="vfms-info-container vfms-ofer">
							<p class="vfes-paragraph--left vfms-link">
								<a class="vfes-link vfes-link--no-chevron vfms-modal" href="#" target="_self" data-modal="ilimitada" data-modal-close aria-haspopup="dialog">Detalles de la oferta</a>
							</p>
						</div>
					</li>
					<li class="vfes-layout__item vfes-1/1-mov vfes-1/3-palm vfes-1/3 vfes-align--center vfms-item vfms-item3">
						<div class="vfms-form-container">
							<form class="vfes-form wg-form vfes-color--silver vfes-colours-bg-dark-grey">
								<div class="vfes-modal__head-form">
									<p class="vfes-paragraph--center vfes-title--6 vfms-title-form">Llama gratis al</p>
									<p class="vfes-paragraph--center vfms-phone"><a href="tel:900 920 149" class="drp-phone  vfes-color--vodafone-white" data-analytics-context="sin permanencia" data-analytics-element="llama gratis" data-analytics-category="ctc">900 920 149</a></p>
									<p class="vfes-paragraph--center vfms-call">O si lo prefieres te llamamos</p>
								</div>

								<div class="vfes-box--form">
									<input class="vfes-box-input wg-input" style="display:none;" value="NO"
										name="verifyLeadId">
									<input name="wg-return" class="wg-return wg-input" value="gracias" type="hidden">
									<input class="vfes-box--form__tlf wg-input" type="phone" name="phone"
										inputmode="numeric" pattern="[0-9]*" maxlength="9"
										data-wg-validation="required,phone" placeholder="Nº teléfono"  
										oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
								</div>
								<div class="vfes-box--form">
									<div class="vfes-form__box vfms-form__checks-space">
										<input class="vfes-form__checkbox vfms-form__checkbox_bg-transparent wg-input" data-wg-validation="required"
											type="checkbox" id="privacy" value="on" type="checkbox" name="check" />
										<label class="vfes-form__label" for="privacy">Acepto la <a
												href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/catalogo-clientes/politica-privacidad/"
												id="condiciones" class="button-privacy vfes-color--silver" title="Vodafone One" target="_blank"
												data-modal="legales" rel="nofollow">Política de Privacidad</a>
										</label>
									</div>
									<div class="vfes-form__box vfms-form__checks-space">
										<input class="vfes-form__checkbox wg-input" type="checkbox" id="comunication"
											name="gdpr" value="on" />
										<label class="vfes-form__label" for="comunication"><span class="vfes-cta-box__span">Acepto recibir comunicaciones comerciales de Vodafone</span> </label>
									<input class="vfes-button vfes-button--primary  wg-submit tellamamos-ltc vfms-submit" type="submit" value="Enviar">
									</div>
								</div>
							</form>
						</div>

						<div class="vfms-thankyou-container">

							<button class="vfes-modal__close js-modal-close vfms-close-thankyou" aria-hidden="false"><svg
									class="icon vfes-color--vodafone-white" xmlns="http://www.w3.org/2000/svg"
									xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
									<title>Close</title>
									<use class="icon-v3" xlink:href="#icon3-close"></use>
								</svg></button>
							<p class="vfes-color--vodafone-white vfes-paragraph--center vfms-thankyou-text">Gracias, nos
								pondremos en contacto contigo en menos de 24h. </p>

						</div>
					</li>
				</ul>								
			</div>
		</div>
		<div class="vfes-layout vfms-minpadding">
			<div class="vfes-layout__wrapper">
				<div class="vfes-layout__item">
					<p class="vfes-paragraph--center vfms-text vfes-title--light">Elige la Tarifa ilimitada que más se adapte a ti<span class="vfes-color--vodafone-red vfes-title--bold"> sin permanencia</span></p>
				</div>
			</div>
		</div>
		<div class="vfes-layout">
			<div class="vfes-layout__wrapper">
				<div class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov">
		
					<!-- CARD-RATE nº 1 -->
		
					<section class="vfes-card-rate vfes-card-rate--special vfes-box-shadow" data-vfes-js="card-box" data-sticky="item">
						<ul class="vfes-card-rate__datalist">
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3" data-card="title">
								<h3 class="vfes-title vfes-title--regular">Tarifa Móvil ilimitada</h3>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
								<p class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right"><strong>40,99€</strong></p>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
								<svg class="icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Datos</title><use class="icon-v3" xlink:href='#icon-mobile-mid'></use></svg>
								<p class="vfes-paragraph">
									<span class="span"><strong>ilimitados</strong></span>
									<span class="vfes-paragraph--small span">Datos móviles</span>
								</p>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal  vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
								<svg class="icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Fibra</title><use class="icon-v3" xlink:href='#icon-landline-or-call-mid'></use></svg>
								<p class="vfes-paragraph">
									<span class="span"><strong>ilimitadas</strong></span>
									<span class="vfes-paragraph--small span">Llamadas</span>
								</p>
							</li>
						</ul>
						<div class="vfes-card-rate__tooltip">
							<svg class="icon icon-corner" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width="14" height="14"><title>Corner</title><use class="icon-v3" xlink:href='#icon3-corner-box'></use></svg>
							<p class="vfes-paragraph"><svg class="icon" height="16" width="17" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Velocidad</title><use class="icon-v3" xlink:href='#icon3-thunder-1'></use></svg>2Mbps de velocidad en tu móvil para: </p>
							<ul class="vfes-list vfes-list--checkmarks">
								<li><strong>Redes sociales</strong></li>
								<li><strong>Música online</strong></li>
							</ul>
						</div>
						<div class="vfes-card-rate__accordion" data-card="accordion" aria-expanded="true">
							<p class="vfes-card-rate__accordion-price">19,99€/<span class="span">mes durante 3 meses, después 40,99€/mes. Permanencia 12 meses.</span></p>
						</div>
						<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit" data-card="accordion" aria-expanded="true">
							<a class="vfes-link vfes-link--no-chevron" data-modal="ilimitada" data-analytics-context="movil ilimitada" href="#" target="_self"  data-analytics-element="mas informacion" data-analytics-category="link" data-modal-close aria-haspopup="dialog" title="Más información: Tarifa Móvil ilimitada">Más información <span class="visually-hidden">:Tarifa Móvil Ilimitada</span></a>
						</div>
					</section>
		
					<!-- FIN CARD-RATE nº 1 -->
		
				</div>
				<div class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov">
		
					<!-- CARD-RATE nº 2 -->
		
					<section class="vfes-card-rate vfes-box-shadow" data-vfes-js="card-box" data-sticky="item">
						<ul class="vfes-card-rate__datalist">
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3" data-card="title">
								<h3 class="vfes-title vfes-title--regular">Tarifa Móvil ilimitada Súper</h3>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
								<p class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right"><strong>45,99€</strong></p>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
								<svg class="icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Datos</title><use class="icon-v3" xlink:href='#icon-mobile-mid'></use></svg>
								<p class="vfes-paragraph">
									<span class="span"><strong>ilimitados</strong></span>
									<span class="vfes-paragraph--small span">Datos móviles</span>
								</p>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
								<svg class="icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Fibra</title><use class="icon-v3" xlink:href='#icon-landline-or-call-mid'></use></svg>
								<p class="vfes-paragraph">
									<span class="span"><strong>ilimitadas</strong></span>
									<span class="vfes-paragraph--small span">Llamadas</span>
								</p>
							</li>
						</ul>
						<div class="vfes-card-rate__tooltip">
							<svg class="icon icon-corner" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width="14" height="14"><title>Corner</title><use class="icon-v3" xlink:href='#icon3-corner-box'></use></svg>
							<p class="vfes-paragraph"><svg class="icon" height="16" width="25" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Velocidad</title><use class="icon-v3" xlink:href='#icon3-thunder-2'></use></svg>10Mbps de velocidad en tu móvil para: </p>
							<ul class="vfes-list vfes-list--checkmarks">
								<li><strong>Uso avanzado de Redes Sociales</strong></li>
								<li><strong>Vídeos de Alta Calidad</strong></li>
							</ul>
						</div>
						<div class="vfes-card-rate__accordion" data-card="accordion" aria-expanded="true">
							<p class="vfes-card-rate__accordion-price">22,99€/<span class="span">mes durante 3 meses, después 45,99€/mes. Permanencia 12 meses.</span></p>
						</div>
						<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit" data-card="accordion" aria-expanded="true">
							<a class="vfes-link vfes-link--no-chevron" data-modal="ilimitada-super" data-analytics-context="movil ilimitada súper" href="#" target="_self"  data-analytics-element="mas informacion" data-analytics-category="link" data-modal-close aria-haspopup="dialog" title="Más información: Tarifa Móvil ilimitada Súper">Más información <span class="visually-hidden">:Tarifa Móvil ilimitada Súper</span></a>
						</div>
					</section>
		
					<!-- FIN CARD-RATE nº 2 -->
		
				</div>
		
				<div class="vfes-layout__item vfes-1/3 vfes-1/2-palm vfes-1/1-mov">
		
					<!-- CARD-RATE nº 3 -->
		
					<section class="vfes-card-rate vfes-card-rate--special vfes-box-shadow" data-vfes-js="card-box" data-sticky="item">
						<ul class="vfes-card-rate__datalist">
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-rate vfes-2/3" data-card="title">
								<h3 class="vfes-title vfes-title--regular">Tarifa Móvil ilimitada Total</h3>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-price vfes-1/3">
								<p class="vfes-card-rate__dataitem-price vfes-paragraph vfes-align--right"><strong>49,99€</strong></p>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-device vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey">
								<svg class="icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Datos</title><use class="icon-v3" xlink:href='#icon-mobile-mid'></use></svg>
								<p class="vfes-paragraph">
									<span class="span"><strong>ilimitados</strong></span>
									<span class="vfes-paragraph--small span">Datos móviles</span>
								</p>
							</li>
							<li class="vfes-card-rate__dataitem vfes-card-rate__dataitem-info-signal vfes-card-rate__dataitem-ilimit vfes-colours-bg-light-grey vfes-align--right">
								<svg class="icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Fibra</title><use class="icon-v3" xlink:href='#iicon-landline-or-call-mid'></use></svg>
								<p class="vfes-paragraph">
									<span class="span"><strong>ilimitadas</strong></span>
									<span class="vfes-paragraph--small span">Llamadas</span>
								</p>
							</li>
						</ul>
						<div class="vfes-card-rate__tooltip">
							<svg class="icon icon-corner" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width="14" height="14"><title>Corner</title><use class="icon-v3" xlink:href='#icon3-corner-box'></use></svg>
							<p class="vfes-paragraph"><svg class="icon" height="16" width="33" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><title>Velocidad</title><use class="icon-v3" xlink:href='#icon3-thunder-3'></use></svg>Máxima velocidad en tu móvil para: </p>
							<ul class="vfes-list vfes-list--checkmarks">
								<li><strong>Vídeos Online de máxima calidad</strong></li>
								<li><strong>Jugar Online</strong></li>
							</ul>
						</div>
						<div class="vfes-card-rate__accordion" data-card="accordion" aria-expanded="true">
							<p class="vfes-card-rate__accordion-price">24,99€/<span class="span">mes durante 3 meses, después 49,99€/mes. Permanencia 12 meses.</span></p>
						</div>
						<div class="vfes-card-rate__accordion vfes-card-rate__accordion-ilimit" data-card="accordion" aria-expanded="true">
							<a class="vfes-link vfes-link--no-chevron" data-modal="ilimitada-total" data-analytics-context="movil ilimitada súper" href="#" target="_self"  data-analytics-element="mas informacion" data-analytics-category="link" data-modal-close aria-haspopup="dialog" title="Más información: Tarifa Móvil ilimitada Total">Más información <span class="visually-hidden">:Tarifa Móvil ilimitada Total</span></a>
						</div>
					</section>
		
					<!-- FIN CARD-RATE nº 3 -->
		
				</div>
			</div>
		</div>

		<div class="vfes-layout vfms-nopadding">
			<div class="vfes-layout__wrapper">
				<div class="vfes-layout__item">
					<p class="vfes-paragraph vfes-paragraph--right"><a class="vfes-link vfes-link--no-chevron vfes-link--small vfms-underline" href="Enlace al sitio" data-modal="legal-conditions" data-analytics-context="condiciones legales" target="_self"  data-analytics-element="condicones legales" data-analytics-category="link" data-modal-close aria-haspopup="dialog" title="Condicones Legales">Ver condiciones legales</a><span class="visually-hidden">:condiciones legales</span></p>
					
				</div>
			</div>
		</div>

		<div class="vfes-layout vfms-line vfes-colours-bg-vodafone-white">
			<div class="vfes-layout__wrapper">
				<div class="vfes-layout__item vfms-button--container">
					<a href="tel:900 920 149" class="vfes-button vfes-button--primary vfes-colours--vodafone-white" title="Llama gratis al 900 920 149" data-analytics-context="Llama gratis al 900 920 149" data-analytics-element="Llama gratis al 900 920 149" data-analytics-category="ctc">
						<svg class="vfms-ic--phone">
							<title>Llama gratis al 900 920 149</title>
							<use xlink:href="#icon3-landline-or-call" class="icon-v3"/>
						</svg>
						<p class="vfes-paragraph vfes-paragraph--large vfms-cta">Llama gratis al <span class="drp-phone">900 920 149</span></p>
					</a>
				</div>
			</div>
		</div>


	<div class="vfms-footer-container">
		<div class="vfes-layout__wrapper">
			<p class="vfes-paragraph--center">©2019 Vodafone España S.A.U.</p>
			<p class="vfes-paragraph--center">Avda. América 115, 28042 Madrid</p>
		</div>
	</div>
</div>

{{!-- Legales--}}
<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
	<section id="legal-conditions" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
		<div class="vfes-modal__head">
			<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
		</div>
		<div class="vfes-modal__content js-modal-content">
			<p class="vfes-title vfes-title--3 vfes-title--light vfes-title--center">Condiciones legales</p>
			<p class="vfes-paragraph vfms-list--text">La tarifa Ilimitada por 40,99 euros al mes incluye</p>
			<ul class="vfes-list">
				<li><p class="vfes-paragraph">Llamadas y SMS ilimitados con cualquier operador nacional las 24horas.</p></li>
				<li><p class="vfes-paragraph">GB ilimitados de navegación a una velocidad de 2Mbps.</p></li>
				<li><p class="vfes-paragraph">Roaming incluido en Europa y EE.UU: llamadas y SMS ilimitados y 17GB de navegación.</p></li>
				<li><p class="vfes-paragraph">Servicio Secure Net disponible para usar tu Smartphone con seguridad, gratis durante 3 meses. Después 1 euro al mes. Necesaria activación previa en <a href="www.securenet.es" target="_blank">www.securenet.es</a></p></li>
			</ul>
			<p class="vfes-paragraph vfms-list--text">La tarifa Ilimitada Súper por 45,99 euros al mes incluye</p>
			<ul class="vfes-list">
				<li><p class="vfes-paragraph">Llamadas y SMS ilimitados con cualquier operador nacional las 24horas</p></li>
				<li><p class="vfes-paragraph">GB ilimitados de navegación a una velocidad de 10Mbps.</p></li>
				<li><p class="vfes-paragraph">Roaming incluido en Europa y EE.UU: llamadas y SMS ilimitados y 16GB de navegación.</p></li>
				<li><p class="vfes-paragraph">Servicio Secure Net disponible para usar tu Smartphone con seguridad, gratis durante 3 meses. Después 1 euro al mes. Necesaria activación previa en <a href="www.securenet.es" target="_blank">www.securenet.es</a></p></li>
			</ul>
			<p class="vfes-paragraph vfms-list--text">La tarifa Ilimitada Total por 49,99 euros al mes incluye</p>
			<ul class="vfes-list">
				<li><p class="vfes-paragraph">Llamadas y SMS ilimitados con cualquier operador nacional las 24horas.</p></li>
				<li><p class="vfes-paragraph">GB ilimitados de navegación a máxima velocidad.</p></li>
				<li><p class="vfes-paragraph">Roaming incluido en Europa y EE.UU: llamadas y SMS ilimitados y 19GB de navegación.</p></li>
				<li><p class="vfes-paragraph">Servicio Secure Net disponible para usar tu Smartphone con seguridad, gratis durante 3 meses. Después 1 euro al mes. Necesaria activación previa en <a href="www.securenet.es" target="_blank">www.securenet.es</a></p></li>
			</ul>
			<p class="vfes-paragraph vfms-list--text">Condiciones Comunes a las tarifas:</p>
			<ul class="vfes-list">
				<li><p class="vfes-paragraph">Los servicios que incluyen todas las tarifas están sujetas al uso lícito de los mismos, lo que comprende el uso no abusivo o para fines razonables teniendo en cuenta la causa y/o fin por el que Vodafone pone a disposición los servicios en el mercado. Consulta la política de uso lícito de los servicios de Vodafone en <a href="www.vodafone.es/c/conocenos/es/vodafone-espana/quienes-somos/legal-y-regulatorio/politica-de-uso/" target="_blank">www.vodafone.es/c/conocenos/es/vodafone-espana/quienes-somos/legal-y-regulatorio/politica-de-uso/</a></p></li>
				<li>
					<p class="vfes-paragraph">Detalle de condiciones en Roaming:</p>
					<ul class="vfes-list">
						<li>Todas las tarifas incluyen las llamadas en Roaming realizadas y recibidas, SMS enviados desde UE, EE.UU., Islandia, Noruega, Liechtenstein, Suiza, Turquía, Vaticano, Kosovo y Mónaco (Zona 1) en las mismas condiciones aplicables a la tarifa nacional contratada.</li>
						<li>Superados los GB incluidos en Roaming para las tarifas Ilimitada, Súper y Total el precio por cada Giga adicional es de 5,4€/GB.</li>
						<li>Cada Vodafone Pass tendrán hasta un máximo de 5GB por Pass en Roaming, después se utilizarán los datos incluidos en la tarifa contratada.</li>
						<li>En los casos de tráfico abusivo en Roaming Vodafone, previa notificación al Cliente, aplicará un recargo que no podrá superar el precio mayorista en vigor aprobado por la Comisión Europea. Disponible en Roaming: <a href="www.vodafone.es/roaming" target="_blank">www.vodafone.es/roaming</a></li>
						<li>Excluido el Roaming en Andorra y en cobertura marítima o área.</li>
						<li>Para los servicios no incluidos en la tarifa nacional contratada, tales como (Dicta SMS, Rellamada y MMS) y si vas a viajar a la Unión Europea se aplica los precios de la tarifa World. Consultar precios en Roaming:  <a href="www.vodafone.es/roaming" target="_blank">www.vodafone.es/roaming</a></li>
						<li>Para llamadas y SMS enviados desde cualquier país de la Zona 1 con destinos a otros países distintos de los indicados, se aplicará los importes aplicables para la tarifa Vodafone World. Consultar precios en Roaming: <a href="www.vodafone.es/roaming" target="_blank">www.vodafone.es/roaming</a></li>
						<li>Estas tarifas tienen activada la Tarifa de Viaje Mundo en roaming Zona 2 por la que los clientes de la tarifa Mini disfrutarán de 20 minutos, 20 SMS y 2GB al día en Roaming en sus viajes por la zona 2 por 15€/día de uso. Los clientes de las tarifas Extra, Ilimitada, Ilimitada Súper e Ilimitada Total disfrutarán de los minutos y SMS de su tarifa nacional y 2GB al día en Roaming en sus viajes por la zona 2 por 15€/día de uso.</li>
					</ul>
				</li>
				<li><p class="vfes-paragraph">Voz HD.</p></li>
				<li><p class="vfes-paragraph">Permite VoIP.</p></li>
				<li><p class="vfes-paragraph">Llamadas a cualquier operador nacional: Incluye llamadas a móviles y fijos de todos los operadores en territorio nacional. Las llamadas especiales 061, 062, 080, 091 y 092 están incluidas dentro del beneficio de minutos de la tarifa. Excluye llamadas a numeraciones especiales de tarificación adicional y especial (como los 700, 901 o 902) y llamadas internacionales.</p></li>
				<li><p class="vfes-paragraph">Las Condiciones de uso del servicio Secure Net están disponibles en: www.vodafone.es/tycsecurenetAbre en ventana nuevaEl cliente se puede dar de baja en la suscripción de Secure Net en el momento que desee desde la app de Mi Vodafone o llamando al 22123.Se podrá disfrutar una única vez de la promoción de Secure Net 3 meses gratis. El disfrute de la promoción está vinculado al mantenimiento de la tarifa.</p></li>
				<li><p class="vfes-paragraph">Condiciones de Permanencia: En caso de adquirir un compromiso de permanencia en el servicio si el cliente se da de baja dentro del periodo de compromiso, deberá pagar a Vodafone en concepto de penalización por incumplimiento la cantidad que corresponda en función del tiempo que reste para cumplir el compromiso adquirido hasta el máximo del beneficio obtenido por el cliente.</p></li>
				<li><p class="vfes-paragraph">En el caso de las tarifas Mini, Extra e Ilimitada Total la navegación 4G+ es a una velocidad de hasta 300Mbps y con una velocidad de subida de hasta 100Mbps. La velocidad está condicionada al acceso a tecnología 4G+ para lo que será necesario disponer de tarjeta USIM, terminal 4G+ y estar en zona de cobertura 4G+. En caso contrario, la velocidad máxima será la que le permita la tecnología correspondiente.</p></li>
				<li><p class="vfes-paragraph">Nota: Los precios recogidos en esta comunicación están expresados con el IVA aplicable en Península y Baleares. En Canarias, Ceuta y Melilla, los precios resultarán de aplicar el porcentaje impositivo correspondiente a los precios sin IVA incluidos en esta comunicación.</p></li>
			</ul>
		</div>
	</section>
</div>
{{!-- Modal Móvil Ilimitada --}}
<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
	<section id="ilimitada" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
		<div class="vfes-modal__head">
			<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
		</div>
		<div class="vfes-modal__content js-modal-content">
			<p class="vfes-title vfes-title--3 vfes-title--light vfes-title--center">Tu tarifa incluye:</p>
			<ul class="vfes-list vfms-list-container">
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Datos ilimitados: </span> 2Mbps de velocidad para navegar por internet y conectarte a redes sociales.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">¿Qué puedes hacer con datos ilimitados?</span> Ya no tienes que buscar WiFi. Ahora con datos ilimitados podrás tener siempre abiertas las redes sociales, escuchar música sin parar y pasar las horas que quieras en Internet.</p></li>
				<li><p class="vfes-paragraph">Con Móvil ilimitada tendrás una velocidad de<span class="vfes-title--bold"> descarga y subida de datos de 2Mbps.</span></p></li>
				<li><p class="vfes-paragraph">Te recomendamos esta tarifa para:
						<ul>
							<li>Chat</li>
							<li>Redes Sociales</li>
							<li>Música</li>
						</ul>
					</p>
				</li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Llamadas ilimitadas:</span>Llamadas ilimitadas a fijos y móviles.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Roaming:</span> Roaming incluido en Europa y EEUU.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Secure Net:</span> para usar tu Smartphone con seguridad, gratis 3 meses, después 1€/mes</p></li>
			</ul>
		</div>
	</section>
</div>

{{!-- Modal Móvil Ilimitada Súper --}}
<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
	<section id="ilimitada-super" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
		<div class="vfes-modal__head">
			<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
		</div>
		<div class="vfes-modal__content js-modal-content">
			<p class="vfes-title vfes-title--3 vfes-title--light vfes-title--center">Tu tarifa incluye:</p>
			<ul class="vfes-list vfms-list-container">
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Datos ilimitados: </span> 10Mbps de velocidad para navegar por internet y conectarte a redes sociales.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">¿Qué puedes hacer con datos ilimitados?</span> Ya no tienes que buscar WiFi. Ahora con datos ilimitados podrás tener siempre abiertas las redes sociales, escuchar música sin parar y pasar las horas que quieras en Internet.</p></li>
				<li><p class="vfes-paragraph">Con Móvil ilimitada tendrás una velocidad de<span class="vfes-title--bold"> descarga y subida de datos de 10Mbps.</span></p></li>
				<li><p class="vfes-paragraph">Te recomendamos esta tarifa para:
						<ul>
							<li>Chat</li>
							<li>Uso avanzado redes sociales</li>
							<li>Vídeos de alta calidad</li>
							<li>Música online de alta calidad</li>
							<li>Aplicación que requieren ubicación</li>
						</ul>
					</p>
				</li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Llamadas ilimitadas:</span>Llamadas ilimitadas a fijos y móviles.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Roaming:</span> Roaming incluido en Europa y EEUU.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Secure Net:</span> para usar tu Smartphone con seguridad, gratis 3 meses, después 1€/mes</p></li>
			</ul>
		</div>
	</section>
</div>

{{!-- Modal Móvil Ilimitada Total--}}
<div class="vfes-modal js-modal" data-vfes-js="_modal" aria-hidden="true">
	<section id="ilimitada-total" class="vfes-modal__item js-modal-item" aria-hidden="true" role="dialog">
		<div class="vfes-modal__head">
			<button class="vfes-modal__close js-modal-close" aria-hidden="false"><svg class="icon vfes-color--vodafone-gray" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
		</div>
		<div class="vfes-modal__content js-modal-content">
			<p class="vfes-title vfes-title--3 vfes-title--light vfes-title--center">Tu tarifa incluye:</p>
			<ul class="vfes-list vfms-list-container">
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Datos ilimitados: </span> Máxima velocidad para navegar por internet y conectarte a redes sociales.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">¿Qué puedes hacer con datos ilimitados?</span> Ya no tienes que buscar WiFi. Ahora con datos ilimitados podrás tener siempre abiertas las redes sociales, escuchar música sin parar y pasar las horas que quieras en Internet.</p></li>
				<li><p class="vfes-paragraph">Con Móvil ilimitada tendrás una velocidad de<span class="vfes-title--bold"> descarga y subida de datos máxima.</span></p></li>
				<li><p class="vfes-paragraph">Te recomendamos esta tarifa para:
						<ul>
							<li>Chat</li>
							<li>Vídeos online de máxima calidad</li>
							<li>Jugar online</li>
							<li>Uso avanzado de redes sociales</li>
							<li>Música online de alta calidad</li>
							<li>Aplicaciones que requieren ubicación</li>
							<li>Descargar y subir archivos de gran tamaño</li>
							<li>Vídeos en máxima calidad (UHF y 4K)</li>
						</ul>
					</p>
				</li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Llamadas ilimitadas:</span>Llamadas ilimitadas a fijos y móviles.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Roaming:</span> Roaming incluido en Europa y EEUU.</p></li>
				<li><p class="vfes-paragraph"><span class="vfes-title--bold">Secure Net:</span> para usar tu Smartphone con seguridad, gratis 3 meses, después 1€/mes</p></li>
			</ul>
		</div>
	</section>
</div>

<script src="js/ws2r.v13.js"></script>
<script src="js/main.js"></script>
