<link href="css/ws10.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-ws10-microcss  />
<div class="vfes-ms-content ws10-u-color--bg-light-grey" id="plp" style="visibility: hidden;opacity: 0">
    <!-- Section BANNER -->
    <section class="vf-banner  ws10-u--mb8x ws10-u-color--bg-white">

        <div class="ws10-o-wrapper">
            <div class="ws10-o-layout vfms-container">
                    <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--2/3@tablet ws10-u--2/3@desktop">
                        <span class="ws10-u-heading--4">Tarifas Móvil</span>
                        <h2 class="ws10-u-heading--2-lt ws10-u--pt5x">Llévate los <strong>datos ilimitados 5G</strong> al <strong>50%dto.</strong>
                         y ahora <strong>con la TV</strong> en todos <strong>tus dispositivos.</strong> 
                        </h2>
                    </div>
                    <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/3@tablet ws10-u--1/3@desktop">
                        <div class="vfms-hero__img">
                            <img class="vfms-banner__mpv"  src="img/banner/sello-mpv-desktop.svg" alt="Imagen que contiene el sello de mejor precio Vodafone">
                            <img class="vfms-banner__info" src="img/banner/bolo.png" alt="imagen con información de HBO España Gratis">
                            <img class="vfms-banner__5g" src="img/banner/5g.png" alt="imagen que muestra el icono de 5G">
                            <img class="hide--xs hide--sm vfms-banner__animated vfes-pt--" src="img/banner/header-img.png" alt="Imagen que contiene dos dispositivos con diferentes contenidos de televisión">
                            {{!-- tablet-mobile img --}}
                            <img class="hide--lrg vfes-pt-- vfms-banner__static" src="img/banner/header-img.png" alt="Imagen que contiene dos dispositivos con diferentes contenidos de televisión">
                        </div>
                    </div>
                    
                
            </div>
        </div>
        <video class="vfms-video hide--sm" src="media/bg.mp4" muted autoplay loop></video>

    </section>

    <div class="ws10-o-wrapper">
        <!-- Section RATES -->
        <section class="vf-rates ws10-u--pt8x ws10-u--pb8x">
            <div class="vf-rates__container ws10-o-layout ws10-flex__align-items--end">
                <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
                    <!-- Vodafone One ilimitada-->
                    <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                    <div class="ws10-c-card-rate__w-rates">
                        <div class="ws10-c-card-rate__a-rate">
                            <ul class="ws10-c-card-rate__product-info">
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-mobile"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Datos y minutos ilimitados
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                            Velocidad media
                                            <svg class="ws10-c-card-rate__product-txt-icon"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <use xlink:href="#icon-thunder-1grey"></use>
                                            </svg>
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-sim"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            4GB y 200 minutos GRATIS
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            línea adicional GRATIS 1 año
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            300Mbps Fibra
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            + llamadas ilimitadas en fijo
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="ws10-c-card-rate__w-cta">
                                <div class="ws10-c-card-rate__w-offers">
                                    <div class="ws10-c-card-rate__offer"
                                         id="rate-1-offer-1">
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                            50% dto. 6 meses
                                        </p>
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                            Permanencia 1 año
                                        </p>
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                            <del>54,99€/mes</del>
                                        </p>
                                        <p class="ws10-c-card-rate__price">
                                            26,99€<sub>/mes</sub>
                                        </p>
                                    </div>
                                </div>
                                <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-3/" target="_self" name="Más info" title="Más info" class="ws10-c-button ws10-c-button--auto"  data-analytics-context="ilimitada" data-analytics-element="Más info" data-analytics-category="cta" data-analytics-id="-7498449761489">
                                    Más info
                                </a>
                            </div>

                        </div>
                    </div>
                    </section>
                </div>
                <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
                    <!-- Vodafone One ilimitada Maxi -->
                <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                    <div class="ws10-c-card-rate__w-tags ws10-u--mb1x">
                        <b class="ws10-c-badge ws10-c-badge--turquoise"><strong>Oferta recomendada</strong></b>
                    </div>
                    <div class="ws10-c-card-rate__w-rates">
                        <div class="ws10-c-card-rate__a-rate">
                            <ul class="ws10-c-card-rate__product-info">
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-mobile"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            2 líneas con Datos y minutos ilimitados
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                            Velocidad alta
                                            <svg class="ws10-c-card-rate__product-txt-icon"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <use xlink:href="#icon-thunder-2grey"></use>
                                            </svg>
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-broadband-or-wifi"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            600Mbps Fibra
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            + llamadas ilimitadas en fijo
                                        </p>
                                    </div>
                                </li>
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-tv"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Pack TV Serielovers con 4K
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                             con HBO España, Amazon Prime y más
                                        </p>
                                    </div>
                                </li>
                                <li class="ws10-c-card-rate__product-info-item">
                                    <img class="ws10-c-card-rate__product-icon" src="img/section-rates/superwifi.svg" alt="icono superwifi">
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Super WiFi
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            amplifica tu conexión de fibra
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="ws10-c-card-rate__w-cta">
                                    <div class="ws10-c-card-rate__w-offers">
                                        <div class="ws10-c-card-rate__offer"
                                             id="rate-1-offer-1">
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                                + del 50% dto. 6 meses
                                            </p>
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                Permanencia 1 año
                                            </p>
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                                <del>86,49€/mes</del>
                                            </p>
                                            <p class="ws10-c-card-rate__price">
                                                34,99€<sub>/mes</sub>
                                            </p>
                                        </div>
                                    </div>
                                   <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-4/" target="_self" name="Más info" title="Más info" class="ws10-c-button ws10-c-button--auto"  data-analytics-context="maxi" data-analytics-element="Más info" data-analytics-category="cta" data-analytics-id="-3827639703071">
                                       Más info
                                    </a>
                                </div>
                        </div>
                    </div>
                </section>
                </div>
                <div class="ws10-o-layout__item ws10-u--1/2@tablet ws10-u--1/3@desktop">
                    <!-- Vodafone One ilimitada Total -->
                    <section class="ws10-c-card ws10-c-card-rate ws10-c-card--no-shadow" data-ws10-js="card-rate">
                    <div class="ws10-c-card-rate__w-rates">
                        <div class="ws10-c-card-rate__a-rate">
                            <ul class="ws10-c-card-rate__product-info">
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-mobile"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Datos y minutos ilimitados
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt ws10-c-card-rate__product-txt--primary">
                                            Velocidad máxima
                                            <svg class="ws10-c-card-rate__product-txt-icon"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <use xlink:href="#icon-thunder-3"></use>
                                            </svg>
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-sim"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            4GB y 200 minutos GRATIS
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            línea adicional GRATIS 1 año
                                        </p>
                                    </div>
                                </li>

                                <li class="ws10-c-card-rate__product-info-item ws10-flex ws10-flex ws10-flex__direction--column ws10-flex__align-items--start">
                                    <div class="ws10-u--1/1 ws10-flex ws10-flex__align-items--center">
                                        <svg class="ws10-c-card-rate__product-icon"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <use xlink:href="#icon-broadband-or-wifi"></use>
                                        </svg>
                                        <div class="ws10-c-card-rate__product">
                                            <p class="ws10-flex ws10-flex__align-items--center ws10-u--mb0">
                                                <span class="ws10-c-card-rate__product-title ws10-u--pr1x">Fibra Óptica</span>
                                                <span class="ws10-c-card-rate__product-txt">+ llamadas ilimitadas en fijo</span>
                                            </p>
                                        </div>
                                    </div>
                                    <form action="" method="get" class="ws10-u--1/1 vf-form ws10-c-card-rate__form ws10-c-form ws10-u--mt0" data-js-vf="_showOrHideSticky">
                                        <fieldset class="ws10-u--pb0 ws10-u--mb1x">
                                            <div class="ws10-c-card-rate__w-form-select">
                                                <div class="vf-form__box ws10-c-form__box">
                                                    <input type="radio"
                                                           name="rate-1-card-rate"
                                                           id="rate-1-card-rate-option-1"
                                                           class="ws10-c-form__radio"
                                                           checked>
                                                    <label for="rate-1-card-rate-option-1" class="ws10-c-card-rate__form-label ws10-c-form__label vf-active vf-bold"  data-js-vf="_buttonVelocity">
                                                        600 Mbps
                                                    </label>
                                                </div>
                                                <div class="vf-form__box ws10-c-form__box ">
                                                    <input type="radio"
                                                           name="rate-1-card-rate"
                                                           id="rate-1-card-rate-option-2"
                                                           class="ws10-c-form__radio">
                                                    <label for="rate-1-card-rate-option-2" class="ws10-c-card-rate__form-label ws10-c-form__label"  data-js-vf="_buttonVelocity">
                                                        1 Gbps
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>

                                </li>
                                <li class="ws10-c-card-rate__product-info-item">
                                    <svg class="ws10-c-card-rate__product-icon"
                                         xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use xlink:href="#icon-tv"></use>
                                    </svg>
                                    <div class="ws10-c-card-rate__product">
                                        <p class="ws10-c-card-rate__product-title">
                                            Pack TV Serielovers en HD
                                        </p>
                                        <p class="ws10-c-card-rate__product-txt">
                                            con HBO España, Amazon Prime y 60 canales
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="ws10-c-card-rate__w-cta" data-js-vf="_priceTotal">
                                <div class="ws10-c-card-rate__w-offers">
                                    <div class="ws10-c-card-rate__offer"
                                         id="rate-1-offer-1">
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                            50% dto. 6 meses
                                        </p>
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                            Permanencia 1 año
                                        </p>
                                        <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                            <del>84,99€/mes</del>
                                        </p>
                                        <p class="ws10-c-card-rate__price">
                                            41,99€<sub>/mes</sub>
                                        </p>
                                    </div>
                                </div>
                                <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-5/" target="_self" name="Más info" title="Más info" class="ws10-c-button ws10-c-button--auto"  data-analytics-context="total600mb" data-analytics-element="Más info" data-analytics-category="cta" data-analytics-id="-8487551683805">
                                    Más info
                                </a>
                            </div>
                            <div class="ws10-c-card-rate__w-cta ws10-u--hidden" data-js-vf="_priceTotal">
                                    <div class="ws10-c-card-rate__w-offers">
                                        <div class="ws10-c-card-rate__offer"
                                             id="rate-1-offer-1">
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--percent">
                                                50% dto. 6 meses
                                            </p>
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--label">
                                                Permanencia 1 año
                                            </p>
                                            <p class="ws10-c-card-rate__dto ws10-c-card-rate__dto--price">
                                                <del>94,99€/mes</del>
                                            </p>
                                            <p class="ws10-c-card-rate__price">
                                                46,99€<sub>/mes</sub>
                                            </p>
                                        </div>
                                    </div>
                                    <a href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-6/" target="_self" name="Más info" title="Más info" class="ws10-c-button ws10-c-button--auto"  data-analytics-context="total1GB" data-analytics-element="Más info" data-analytics-category="cta" data-analytics-id="-1178969983878">
                                        Más info
                                    </a>
                                </div>
                        </div>
                    </div>
                </section>
                </div>
            </div>
        </section>
        <!-- Section ADDONS -->
        <section class="vf-addons ws10-u--pt8x ws10-o-layout">
            <div class="ws10-o-layout__item ws10-u--1/1@desktop">
                <div class="ws10-c-card ws10-c-card ws10-c-card--no-shadow">
                    <div class="ws10-o-layout">
                        <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-u--1/2@desktop">
                            <div class="ws10-c-cards-discovery-standard__image-holder">
                            <picture>
                                <source media="(min-width: 1024px)" srcset="img/section-addons/banner-tv-desktop.png" >
                                <source media="(min-width: 768px)" srcset="img/section-addons/banner-tv-tablet.png" >
                                <img src="img/section-addons/banner-tv-mobile.png" alt="" class="ws10-c-cards-discovery-standard__image vf-tv-mobile">
                            </picture>
                            </div>
                        </div>
                        <div class="ws10-o-layout__item ws10-u--1/1 ws10-u--1/2@tablet ws10-u--1/2@desktop">
                            <b class="ws10-c-badge-text ws10-c-badge-text--turquoise ws10-u--mt4x">¡Nuevo!</b>
                            <h4 class="ws10-u-heading--2-lt ws10-u--pt5x">Ya puedes contratar Vodafone TV sin deco.</h4>
                            <p class="ws10-u--body">Ahora con la Tarifas Moviles disfruta de la televisión en tu Smart TV (a través de la App Vodafone TV) y en tus dispositivos como chromecast, móvil, tablet y ordenador para vivir una experiencia online.</p>
                            <a data-analytics-element="Más info" data-analytics-context="vodafone tv sin deco" data-analytics-category="cta" class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/tarifa-5/" target="_self" data-analytics-id="-9639652004619">
                                Más info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                <div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard">
                <div class="ws10-c-cards-discovery-standard__text-content">
                    <h3 class="ws10-u-heading--4-lt"><strong>Añade más líneas móviles</strong> a tu plan con un <strong>50% de descuento</strong></h3>
                    <p>
                        <a data-analytics-element="Más info" data-analytics-context="lineas adicionales" data-analytics-category="cta" class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/" target="_self" data-analytics-id="-9639652004719">
                            Más info
                        </a>
                    </p>
                </div>
                <div class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--center ws10-c-cards-discovery-standard__image-holder">
                    <img src="img/section-addons/icono-sim.svg" alt="icono sim">
                </div>
            </div>
            </div>
            <div class="ws10-o-layout__item ws10-u--1/2@desktop">
                <div class="ws10-c-cards-discovery-standard ws10-c-cards-discovery-standard--medium-standard">
                    <div class="ws10-c-cards-discovery-standard__text-content">
                        <h3 class="ws10-u-heading--4-lt">Hazte con <strong>gigas ilimitados en redes sociales y mensajería</strong></h3>
                        <p>
                            <a data-analytics-element="Más info" data-analytics-context="tarifa yu" data-analytics-category="cta" data-analytics-id="-0569716048146" class="ws10-c-cards-discovery-standard__link ws10-c-cards-discovery-standard__link--chevron" href="https://yu.vodafone.es/tarifas-moviles/" target="_self">
                                Más info
                            </a>
                        </p>
                    </div>
                    <div class="ws10-flex ws10-flex__align-items--center ws10-flex__justify--center ws10-c-cards-discovery-standard__image-holder">
                        <img src="img/section-addons/icono-yu.svg" alt="icono yu">
                    </div>
                </div>
            </div>
        </section>
        <!-- Sections Why Vodafone -->
        <section class="vf-vodafone-one ws10-u--pt16x ws10-o-layout">
            <h3 class="ws10-o-layout__item ws10-u-heading--4 ws10-u--pb8x"><strong>Hay una tarifa móvil de contrato pensada para ti</strong></h3>
            <ul class="ws10-flex ws10-flex__wrap">
                <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
                    <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-whyvf/icono-datos.svg" alt="icono datos">
                    </span>
                    <h3 class="ws10-c-feature-hifi__title">Datos ilimitados</h3>
                    <p class="ws10-c-feature-hifi__text">No hace falta que busques WiFi ni mires el calendario, con tu móvil podrás conectarte desde el primer hasta el último día del mes a la misma velocidad con gigas ilimitados.</p>
                </article>
                </li>
                <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
                    <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-whyvf/icono-tv.svg" alt="icono play">
                    </span>
                    <h3 class="ws10-c-feature-hifi__title">Vodafone TV sin deco</h3>
                    <p class="ws10-c-feature-hifi__text">Podrás ver todos los mejores contenidos de Cine y Series cómo y cuándo quieras con funcionalidades como Grabación, Últimos 7 días, Control del directo, Ver Ahora, Descarga o Multidispositivo.</p>
                </article>
                </li>
                <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
                    <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-whyvf/icono-paquetes.svg" alt="icono paquetes">
                    </span>
                    <h3 class="ws10-c-feature-hifi__title">Minutos y datos ilimitados</h3>
                    <p class="ws10-c-feature-hifi__text">Habla y navega todo lo que quieras. Llama desde el fijo y el móvil a fijos y móviles sin preocuparte por nada, tampoco del consumo de datos.</p>
                </article>
                </li>
                <li class="ws10-o-layout__item ws10-u--p5x ws10-u--1/2@tablet ws10-u--1/4@desktop">
                    <article class="ws10-c-feature-hifi">
                    <span class="ws10-c-feature-hifi__background">
                        <img src="img/section-whyvf/icono-5g.svg" alt="icono 5g">
                    </span>
                    <h3 class="ws10-c-feature-hifi__title">Red 5G</h3>
                    <p class="ws10-c-feature-hifi__text">Navega a máxima velocidad con 5G. Descarga un serie en segundos, juega online a tiempo real y disfruta de una calidad mayor de vídeo y voz.</p>
                </article>
                </li>
            </ul>
        </section>
        <!-- Sections Banner 50 -->
        <section class="vf-banner50 ws10-o-layout ws10-flex__align-items--center ws10-flex__justify--between ws10-u--pb8x">
            <div class="vf-banner50__container1 ws10-o-layout__item ws10-u--1/2@desktop ws10-align--right">
                <img class="vf-banner50__img" src="img/section-whyvf/banner50.jpg" alt="Madre y niña interactúan con una Tablet">
            </div>
            <div class="vf-banner50__container2 ws10-o-layout__item ws10-u--1/2@desktop">
                <p class="ws10-u-heading--4-lt"><strong>Descubre las tarifas móvil de Vodafone</strong></p>
                <p>
                    Hables mucho o poco, navegues sin parar o solo cinco minutos al día, <strong>tenemos la tarifa móvil perfecta para ti</strong>. No importa si piensas en una tarifa de contrato o de prepago, si quieres datos ilimitados o te encanta hablar con nuestra oferta de llamadas ilimitadas. Tenemos la tarifa ideal para ti.
                </p>
                <p>
                    Además, es el momento de que conozcas y disfrutes de nuestras nuevas <strong>tarifas móviles con 5G</strong>, con las que podrás descargarte series a gran velocidad y hacer videollamadas sin cortes y con una gran calidad de imagen. Escoge entre las mejores tarifas de móvil del mercado y empieza ya a disfrutar de llamadas, minutos y datos ilimitados
                </p>
            </div>
        </section>
        <!-- FAQS  -->
        <section class="vf-faqs ws10-o-layout ws10-u--pb16x">
            <div class="ws10-o-layout__item">
                <p class="ws10-u-heading--4"><strong>Preguntas Frecuentes</strong></p>
                <div class="ws10-c-accordion">
                    <details class="ws10-c-accordion__item" id="item1">
                        <summary class="ws10-c-accordion__header">
                            <h3 class="ws10-c-accordion__title">¿Existe algún protocolo de seguridad para la instalación de fibra en casa?</h3>
                            <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                <title>Deploy</title>
                                <use xlink:href="#icon-chevron-down"></use>
                            </svg>
                        </summary>
                        <article class="ws10-c-accordion__content">
                            <p>
                                En Vodafone seguimos trabajando día a día para que puedas estar en casa y tener la  mejor fibra siempre con la máxima seguridad. Pero si tienes dudas puedes consultar <a href="https://www.vodafone.es/c/protocolo-seguridad-instalaciones/" target="_new"> nuestra página</a>
                            </p>
                        </article>
                    </details>
                    <details class="ws10-c-accordion__item" id="item2">
                        <summary class="ws10-c-accordion__header">
                            <h3 class="ws10-c-accordion__title">Cuando hablan de datos ilimitados, ¿existe algún límite? ¿y en Roaming?</h3>
                            <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                <title>Deploy</title>
                                <use xlink:href="#icon-chevron-down"></use>
                            </svg>
                        </summary>
                        <article class="ws10-c-accordion__content">
                            <p> No existe un límite siempre que el uso comprenda en primer lugar el uso personal para fines del uso particular y para fines razonables. Así mismo, el uso responsable y no fraudulento En Roaming; Las tarifas ilimitadas en datos disfrutaran de minutos y mensajes ilimitados y Gigas limitados cuando viajen por Europa, Reino Unido y EE.UU. sin coste adicional. Los Gigas serán diferentes en función del tipo de tarifa. La tarifa Vodafone Ilimitada incluirá 20 GB, la tarifa Vodafone Ilimitada Súper incluirá 22 GB y la Vodafone Ilimitada Total de 24 GB. Superados los Gigas incluidos en roaming el precio del Giga será de 4,24€/GB.</p>
                        </article>
                    </details>
                    <details class="ws10-c-accordion__item" id="item3">
                        <summary class="ws10-c-accordion__header">
                            <h3 class="ws10-c-accordion__title">¿Qué es y cómo puedo disfrutar del 5G?</h3>
                            <svg class="ws10-c-accordion__chevron" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="36px">
                                <title>Deploy</title>
                                <use xlink:href="#icon-chevron-down"></use>
                            </svg>
                        </summary>
                        <article class="ws10-c-accordion__content">
                            <p>
                                La red 5G o red de quinta generación, es una tecnología de red inalámbrica evolución de la red 4G+ LTE cuyas principales ventajas son alcanzar mayor velocidad y cobertura además de una menor latencia, que permite realizar usos que hasta ahora no se podían realizar en movilidad, como juegos online de alta calidad, aplicaciones de realidad virtual o de realidad aumentada, y acceso a la nube en tiempo real. La conexión 5G ya es una realidad en España para clientes Vodafone, para ello solo necesitarás una tarifa comercializable, un teléfono móvil 5G y estar bajo cobertura 5G.
                            </p>
                        </article>
                    </details>
                </div>
            </div>
        </section>
    </div>

</div>
<script src="js/ws10.js"></script>
<script src="js/main.js"></script>
