<link href="css/ws2r.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet" data-microcss data-vfes-inline-asset />
<div class="vfes-ms-content-boxless" id="nudge-boxless" style="display: none">
    <div class="vfes-layout__wrapper vfes-m0-mov vfes-mt+-palm vfes-ml--palm vfes-mb+-palm vfes-mt+ vfes-mb+">
		<div class="vfes-p-mov vfes-pb0-mov">
			<h3 class="vfes-title vfes-title--bold vfms-title vfes-mb--">Añade Vodafone TV a tu tarifa móvil</h3>
			<p class="vfms-text"><span class="vfes-title vfes-title--light">y disfrútalo en todos tus dispositivos</span></p>
		</div>
		<div>
			<img class="vfms-devices__mov hide--tb" src="https://www.vodafone.es/c/statics/imagen/devices-mobile-base-sales-boxless.png">
		</div>
		<div class="vfms-button__container vfes-p-mov vfes-pt0-mov vfes-mt0-mov vfes-mt-palm vfes-mt">
			{{!-- <div>
				<a class="vfms-button vfms-button--primary vfms-button__info vfms-button__mb vfes-mt0-mov vfes-mt- vfes-mb-" href="https://vfes.page.link/?efr=1&link=https://ProductsAndServices/MainScreen?serviceType%3DTV%26vfp%3DBase_sales_boxless%26cn%3Dweb%26pl%3DPLP_fibra&apn=es.vodafone.mobile.mivodafone&ibi=es.vodafone.mobile.mivodafone&afl=https://play.google.com/store/apps/details?id=es.vodafone.mobile.mivodafone&ifl=https://apps.apple.com/es/app/mi-vodafone/id455655421&ofl=https://www.vodafone.es/c/mivodafone/es/area-privada-contrato/#/television/tv-distributiva?vfp=Base_sales_boxless:cn-web:pl-PLP_fibra" title="Abrir la App" data-analytics-context="base sales boxless" data-analytics-element="abrir la app" data-analytics-element="cta" target="_self">Abrir la App
					<span class="visually-hidden">: Abrir la App</span>
				</a>
				<a class="vfms-button vfms-button--primary vfms-button__info vfms-button__rsp vfes-mt0-mov vfes-mt- vfes-mb-" href="https://vfes.page.link/?efr=1&link=https://ProductsAndServices/MainScreen?serviceType%3DTV%26vfp%3DBase_sales_boxless%26cn%3Dweb%26pl%3DPLP_fibra&apn=es.vodafone.mobile.mivodafone&ibi=es.vodafone.mobile.mivodafone&afl=https://play.google.com/store/apps/details?id=es.vodafone.mobile.mivodafone&ifl=https://apps.apple.com/es/app/mi-vodafone/id455655421&ofl=https://www.vodafone.es/c/mivodafone/es/area-privada-contrato/#/television/tv-distributiva?vfp=Base_sales_boxless:cn-web:pl-PLP_fibra" title="Acceder a Mi Vodafone" data-analytics-context="base sales boxless" data-analytics-element="acceder a mi vodafone" data-analytics-element="cta" target="_self">Acceder a Mi Vodafone
					<span class="visually-hidden">: Acceder a Mi Vodafone</span>
				</a>
			</div> --}}
			<p class="vfes-paragraph vfes-paragraph--large hide--xs vfms-tel-text vfes-mt--mov vfes-mb0">Llámanos gratis al
				<a href="tel:900920214" title="llámanos gratis al 900 920 214"
					class="vfms-grey" 
					data-analytics-context="base sales boxless" 
					data-analytics-element="Llama gratis"
					data-analytics-category="cta"><span class="vfes-title--bold "> 900 920 214</span>
				</a>
			</p>
			<a href="tel:900920214" title="llámanos gratis al 900 920 214" class="vfms-button vfms-button--secondary"
				data-analytics-context="base sales boxless" 
				data-analytics-element="Llama gratis"
				data-analytics-category="cta">Llámanos gratis al<strong> 900 920 214</strong>
			</a>
		</div>
		<div class="vfms-devices__container">
			<img class="vfms-devices__tb hide--xs hide--lrg" src="https://www.vodafone.es/c/statics/imagen/devices-tablet-base-sales-boxless.png">
			<img class="vfms-devices__tb hide--sm" src="https://www.vodafone.es/c/statics/imagen/devices-desktop-base-sales-boxless.png">
		</div>
	</div>
</div>
<script src="js/ws2r.js"></script>
<script src="js/main.js"></script>
