<link href="css/ws2r.v15.css" rel="stylesheet"  />
<link href="css/styles.css" rel="stylesheet"  data-vfes-inline-asset/>
<div class="vfes-ms-content bb-hero herobanner-prego__slide" id="dmp-flash">
    <div class="vfms-banner vfes-pt+ vfes-pb+">
        <div class="vfes-pb-- vfes-pt-- vfes-pl-- vfes-1/2-mov vfes-1/4-palm vfes-1/5 vfes-colours-bg-dark-grey vfms-cintillo">
            <span class="vfes-colours--vodafone-white vfes-pb0">¡SOLO WEB! hasta el 23/03</span>
        </div>
        <div class="vfes-layout__wrapper vfes-flex vfes-flex__align-items--center vfes-flex__justify--between vfes-pt- vfes-pb-- vfes-flex__direction--row-column-sm">
            <h2 class="vfes-flex vfms-title vfes-flex__direction--column vfes-flex vfes-1/4 vfes-1/1-palm vfes-1/1-mov vfes-flex__direction--row vfes-mb-">
                <span class="vfes-title--1 vfes-mb0">Móvil ilimitado</span>
                <span class="vfes-title--1 vfes-mb0 vfms-title-middle">+ Fibra</span>
                <span class="vfes-title--1 vfes-mb0">+ TV</span>
            </h2>
            <div class="vfms-container--banner  vfes-flex__align-items--center vfes-3/4 vfes-1/1-palm vfes-1/1-mov">
                <img class="vfms-img" src="img/bodegon2.png" alt="Segunda línea GRATIS" data-vfes-inline-asset>
                <div class="vfes-flex vfms-price vfes-flex__direction--column vfes-pt+-mov vfes-pb--mov ">
                    <span class="vfes-title--5 vfes-pb0 vfes-mb0">Todo por</span>
                    <span class="vfes-title--1 vfes-pb0 vfes-title--bold vfes-pb- vfes-mb-">31,99€/mes</span>
                    <a class="vfes-button vfes-button--primary vfes-color-bg-vodafone-red" href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/vodafone-one/paquete-one-3/?dmp=12626262:cp-acciondmp:cn-dmp:md-CU4&c_var_11=dmp-cu4" target="_parent" data-analytics-context="click home dmp" data-analytics-element="Más información" data-analytics-category="cta dmp" data-analytics-dmp-click="particulares:cu4:fibra-pot">Más información</a>
                    <a class="vfes-link vfms-button__call vfes-link--black vfes-link--no-chevron vfes-mt-" href="tel:900878196" data-analytics-context="click home dmp" data-analytics-element="llamano gratis" data-analytics-category="cta dmp" data-analytics-dmp-click="particualres:cu4:fibra-pot">O llámanos gratis al 900 878 196</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
