<link href="css/ws2r.v15.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
<link href="css/styles.css" rel="stylesheet" data-microcss  />
<div data-spritesheet="svg/sprite.mid.svg" data-vfes-js="_svgLoader"></div>

    {{!-- <!--Analítica Total--> --}}
    <script>
        utag_data.product_mobile_plan = "tarifa movil ilimitada total"
        utag_data.product_name = "movil"
        utag_data.product_variant = "ilimitados"
        utag_data.promotion_price_name="50%/mes durante 1 año"
        utag_data.promotion_gift_name = "pack seriefans gratis"
        utag_data.product_subcategory = "capta:principal"
    </script>

    <div class="vfes-ms-content vfes-ws10 vfes-colours-bg-light-grey" id="total" style="display: none">
        <main class="vfes-layout vfes-color-bg-wild-sand vfes-colours--dark-grey vfes-pt0" data-vfms-js="_rate">
            {{!-- <!-- CONTENT + TICKET --> --}}
            {{!-- <!-- BANNER AND CARD RATE --> --}}
            <section class="vfms-banner vfes-mb+ vfes-pb+ vfes-pb0-mov vfes-mb0-mov">
                <div class="vfes-layout__wrapper vfes-pt+ vfes-pt0-mov">
                    <div class="vfes-layout__item vfes-2/3 vfes-1/1-palm vfes-1/1-mov vfes-pt+ vfes-pt-mov" data-vfms-js="_cloneRate">
                        <div>
                            <p class="vfes-title--4 show vfes-mb0">Tarifa Móvil ilimitada<span class="vfes-title--bold"> 50% dto. 1 año</span></p>
                            <h2 class="vfes-title--4 vfes-mb0 vfms-banner__title">
                                <span class="show vfes-title--1 vfes-mb0 vfes-pt">Navega <span class="vfes-title--bold"> a velocidad 5G</span> y llama,</span>
                                <span class="show vfes-title--1 vfes-title--bold vfes-mb0"> no pongas límites a nada</span>
                            </h2>
                            <div class="vfes-flex vfes-pt vfes-mb+ vfes-mb-mov">
                                <img class="vfes-pr-- vfes-pb-mov" src="img/best-price.svg" alt="Mejor precio Vodafone">
                                <p class="vfes-paragraph vfes-colours--vodafone-red">Mejor precio Vodafone</p>
                            </div>
                        </div>
                    </div>
                    <div class="vfms-ticket-container" data-vfes-inject-module="vfms-ticket"></div>
                </div>
            </section>
            <div class="vfes-flex vfes-flex__direction--column vfes-layout__wrapper">
                {{!-- <!-- CONTENT --> --}}
                <div class="vfms-content vfes-layout__item vfes-2/3 vfes-1/1-palm vfes-1/1-mov">
                    {{!-- <!-- ILIMITATED GB--> --}}
                    <section class="vfms-all vfes-pb0" vfms-data-show="sticky">
                        <div>
                            <div class="vfes-pt+">
                                <h2 class="vfes-title--4 vfes-mb--">Móvil</h2>
                                <h3>
                                    <span class="show vfes-title--2 vfes-3/4-mov vfes-pb- vfes-title--bold">Datos ilimitados en tu móvil para TODO</span>
                                </h3>  
                            </div>
                            <div>
                                <div class="vfms-all-docarative-bg vfes-mt+">
                                    <img src="img/mobile-apps-v2.png" alt="Algunas de las aplicaciones que podrás usar con tu móvil si tienes la Tarifa Móvil Ilimitada Total">
                                </div>
                            </div>
                            <div class="vfes-mt+">
                                <ul class="vfes-pt- vfes-flex vfes-flex__direction--row-column-sm vfes-flex__wrap">
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon3-thunder-3</title><use xlink:href="#icon3-thunder-3" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large">Datos ilimitados a máxima velocidad <span class="vfes-title--bold">(1Gbps de bajada y de subida).</span></p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <img width="40" height="40" src="img/ic-game.svg">
                                        </div>
                                        <p class="vfes-paragraph--large"><span class="vfes-title--bold">Juega sin límites los juegos online con una calidad extrema y sin cortes.</p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-cloud-download-mid</title><use xlink:href="#icon-cloud-download-mid" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large">Descarga y sube todos los archivos que quieras. </p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-play-mid</title><use xlink:href="#icon-play-mid"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large">Disfruta de streaming sin necesidad de conectarte al WiFi, tú y tus datos.</p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-5G_esp-mid</title><use xlink:href="#icon-5G_esp-mid" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large">Todo con la nueva <span class="vfes-title--bold">velocidad 5G.</span></p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-unified-communication-mid</title><use xlink:href="#icon-unified-communication-mid" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large"><span class="vfes-title--bold">Llamadas y SMS ilimitados</span> con cualquier operador nacional las 24 horas, establecimiento incluido.</p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb0">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-roaming-mid</title><use xlink:href="#icon-roaming-mid" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large"><span class="vfes-title--bold">Roaming incluido en Europa, Reino Unido y EEUU.</span> Disfruta con las mismas condiciones de tu tarifa, sin preocupaciones también en EEUU.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <!-- TV-->
                    <section class="vfms-tv">
                        <div class="vfes-pt+">
                            <h2 class="vfes-title--4 vfes-mb0">Televisión sin deco en tus dispositivos</h2>
                            <h3 class="vfes-mb0">
                                <span class="show vfes-title--2 vfes-mb0 vfes-title--bold">Pack TV Seriefans GRATIS 1 año</span>
                                <span class="show vfes-title--2 vfes-mb0">incluye HBO y 60 canales más</span>
                            </h3>
                        </div>
                        <!-- CARRUSEL-->
                        <div class="vfms-carousel">
                            <div class="vfes-layout__item vfms-carousel-container">
                                <div class="carousel">
                                    <a class="carousel-item"><img alt="Cartel El Escandalo de Christine Keller" src="img/carousel/00.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Proyecto Blue Book" src="img/carousel/01.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Condor" src="img/carousel/02.png"></a>
                                    <a class="carousel-item"><img alt="Cartel En Casa" src="img/carousel/03.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Los 100" src="img/carousel/04.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Los Originales" src="img/carousel/05.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Outsider" src="img/carousel/06.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Perry Mason" src="img/carousel/07.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Rick y Morty" src="img/carousel/08.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Ministerio del Tiempo" src="img/carousel/09.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Vis a Vis" src="img/carousel/010.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Como Defender a un Asesino" src="img/carousel/011.png"></a>
                                    <a class="carousel-item"><img alt="Cartel El Cuento de la Criada" src="img/carousel/012.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Mr.Mercedes" src="img/carousel/013.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Killing Eve" src="img/carousel/014.png"></a>
                                    <a class="carousel-item"><img alt="Cartel Westworld" src="img/carousel/015.png"></a>
                                </div>

                            </div>
                        </div>
                        <!-- Pack Seriefans -->
                        <div class="vfes-mb">
                            <p class="vfes-paragraph vfes-paragraph--large">Disfruta ahora del<span class="vfes-title--bold"> Pack Seriefans GRATIS 1 año</span>, este Pack incluye todas las temporadas de las series de<span class="vfes-title--bold"> HBO España, FOXNOW, AXN Now</span> y muchos más canales especializados en series para verlas cuando tú quieras.</p>
                            <!-- icons and popup-->
                            <div class="vfes-1/1-mov vfes-1/1-palm vfes-flex vfes-flex__direction--column">
                                <ul class="vfes-flex vfes-flex__wrap vfes-flex__align-items--center vfes-flex__justify--around">
                                    <li class="vfes-1/3-mov vfes-p+ vfes-p-mov vfes-align--center">
                                        <img alt="HBO" src="img/tv/icon-hbo.png">
                                    </li>
                                    <li class="vfes-1/3-mov vfes-p-- vfes-p--mov vfes-align--center">
                                        <img alt="HBO" src="img/tv/icon-foxnow.png">
                                    </li>
                                    <li class="vfes-1/3-mov vfes-p-- vfes-p--mov vfes-align--center">
                                        <img alt="HBO" src="img/tv/icon-axnnow.png">
                                    </li>

                                </ul>
                                <a class="vfes-paragraph vfes-align--center  vfes-link--black"
                                    data-overlay="modal-seriefans" data-overlay-close aria-haspopup="dialog" data-analytics-context="Pack seriefans" data-analytics-element="ver todos los canales"
                                    data-analytics-category="cta" data-analytics-id="1500065054428-8349672107781">Ver todos los canales incluidos</a>
                                <p class="vfes-paragraph ">(*) En el proceso de completa tu pedido podrás modificar el pack de tv por el que más se ajuste a tus necesidades. Recuerda que este regalo es un descuento de 10€ en la tv, podrás obtener el Pack Serielovers con HBO España y Amazon Prime por 4€ (14€/mes sin promo).</p>
                            </div>
                        </div>
                        {{!-- How TV --}}
                        <div class="vfes-mt+ vfes-align--center">
                            <h4 class="vfes-title--4 vfes-title--left vfes-title--bold">¿Cómo es la experiencia de TV sin deco?</h4>
                            <img class="vfes-mt vfes-mb" src="img/modulo-tv.png" alt="Varios dispositivos con imágenes en su interior de Vodafone TV">
                            <p class="vfes-paragraph vfes-paragraph--large">Vodafone TV con <span class="vfes-title--bold"> Vodafone TV con calidad HD en tu Smart TV (a través de la App Vodafone TV) y en tus dispositivos como móvil, tablet, PC, Fire TV Stick y Chromecast</span> para disfrutar de una experiencia online.</p>

                            <a class="vfes-paragraph vfes-paragraph--large vfes-link--black"
                                    data-overlay="modal-dispositivos" data-overlay-close aria-haspopup="dialog" data-analytics-context="Dispositivos compatibles con TV sin deco" data-analytics-element="consultar dispositivos compatibles"
                                    data-analytics-category="cta" data-analytics-id="1500065054428-8128746934452">Consultar dispositivos compatibles</a>
                        </div>
                        <div class="vfes-mt+">
                                <ul class="vfes-pt- vfes-flex vfes-flex__direction--row-column-sm vfes-flex__wrap">
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-apps-mid</title><use xlink:href="#icon-apps-mid" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large">Más de<span class="vfes-title--bold"> 50.000 contenidos disponibles</span> bajo demanda.</p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-play-mid</title><use xlink:href="#icon-play-mid" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large">No te pierdas nada, todo el<span class="vfes-title--bold"> contenido desde el principio</span> y con control del directo.</p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <img width="40" height="40" src="img/icono-contenidos.svg">
                                        </div>
                                        <p class="vfes-paragraph--large">Los contenidos<span class="vfes-title--bold"> siempre disponibles</span> con Últimos 7 días, Grabación, Ver Ahora. </p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb0">
                                        <div class="vfms-circle-icon">
                                            <img width="40" height="40" src="img/ic-multisceen-mid.svg">
                                        </div>
                                        <p class="vfes-paragraph--large"><span class="vfes-title--bold">2 reproducciones simultáneamente</span> en diferentes dispositivos.</p>
                                    </li>
                                    <li class="vfes-1/2 vfes-1/1-palm vfes-flex vfes-flex__align-items--center vfes-1/1-mov vfes-pb- vfes-paragraph--large vfes-mb-">
                                        <div class="vfms-circle-icon">
                                            <svg width="40" height="40"><title>icon-cloud-download-mid</title><use xlink:href="#icon-cloud-download-mid" class="icon-v3"></use></svg>
                                        </div>
                                        <p class="vfes-paragraph--large"><span class="vfes-title--bold">Descarga tus contenidos</span> para verlos estés donde estés y cuando quieras.</p>
                                    </li>
                                </ul>
                        </div>
                    </section>
                    {{!-- <!-- ALSO INCLUDED --> --}}
                    <section class="vfms-also">
                        <div class="vfes-pt+">
                            <h3 class="vfes-title--2">
                                <span class="show vfes-mb0  vfes-title--bold">También incluido en la Tarifa Móvil Ilimitada Total</span>
                            </h3>
                        </div>
                        <div class='vfes-carousel vfes-pt0' data-vfes-js='_carousel' data-config='{"responsive":{"0":{"breakpoint":0,"elements":1},"1":{"breakpoint":640,"elements":2},"2":{"breakpoint":970,"elements":2}},"build":{"arrows":true,"bullets":true,"clickable_bullets":true}}'>
                            <ul class='vfes-carousel__list js-carousel-list'>
                                <li class='vfes-carousel__list-element js-carousel-list-element'>
                                    <div class="vfms-also-height vfms-also-width vfes-colours-bg-vodafone-white vfes-card vfes-card-no-shadow vfes-p">
                                        <div class="vfes-flex vfes-flex__align-items--center vfes-pb-">
                                            <svg style="width: 44px; height: 44px;"><title>icon-security-mid</title><use xlink:href="#icon-security-mid" class="icon-v3"></use></svg>
                                            <h4 class="vfes-title--3 vfes-mb0"><span class="vfes-title--bold">Secure Net</span></h4>
                                        </div>
                                        <p>Mantén seguro completamente tu Smartphone ante amenazas externas con el <span class="vfes-title--bold">antivirus integrado</span> en el servicio Secure Net. Navega sin preocupaciones en todos tus dispositivos.</p>
                                        <p><span class="vfes-title--bold">GRATIS</span> durante 3 meses, después 1€/mes.</p>
                                    </div>
                                </li>
                                <li class='vfes-carousel__list-element js-carousel-list-element'>
                                    <div class="vfms-also-height vfes-colours-bg-vodafone-white vfes-card vfes-card-no-shadow vfes-p">
                                        <div class="vfes-flex vfes-flex__align-items--center vfes-pb-">
                                            <img src="img/icono-tidal.svg" style="width: 44px; height: 44px;">
                                            <p class="vfes-title--3"><span class="vfes-title--bold">TIDAL</span></p>
                                        </div>
                                        <p>Plataforma de música en streaming para que disfrutes de tu música con la mejor calidad de audio.</p>
                                        <p><span class="vfes-title--bold"> GRATIS </span>durante 3 meses, después 7,99€/mes.</p>
                                    </div>
                                </li>
                                <li class='vfes-carousel__list-element js-carousel-list-element'>
                                    <div class="vfms-also-height vfes-colours-bg-vodafone-white vfes-card vfes-card-no-shadow vfes-p">
                                        <div class="vfes-flex vfes-flex__align-items--center vfes-pb-">
                                            <img src="img/svg/icono-one-number.svg" style="width: 44px; height: 44px;">
                                            <p class="vfes-title--3"><span class="vfes-title--bold">OneNumber</span></p>
                                        </div>
                                        <p><span class="vfes-title--bold">Mismo número y misma tarifa de voz y datos en todos tus dispositivos</span> sin tener que cambiar la SIM con OneNumber.</p>
                                        <p><span class="vfes-title--bold"> GRATIS </span>durante 1 mes, después 5€/mes.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <p class="vfes-paragraph ">(*) Todos los servicios podrás gestionarlos en la App de Mi Vodafone</p>
                    </section>
                    {{!-- <!-- NO SURPRISES --> --}}
                    <section class="vfms-surprises">
                        <div class="vfes-pt+">
                                <h3 class="vfes-title--2  vfes-mb0">
                                    <span class="vfes-title--bold">Sin sorpresas.</span>
                                    <span class="show vfes-pb- vfes-title--bold">No escondemos nada</span>
                                </h3>
                                <p class="vfes-paragraph vfes-mb0">Impuestos y cuota de línea incluidos.</p>
                                <p class="vfes-paragraph">Envío de SIM gratuito. </p>
                                <p class="vfes-paragraph vfes-mb0">Después de 1 año desde la contratación pagarás 47,99€/mes.</p>
                                <p class="vfes-paragraph">Permanencia 1 año.</p>
                                <a class="vfes-paragraph vfes-link--black vfms-legales"
                            href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/tarifas-contrato/legales/"
                            target="_new" data-analytics-element="ver condiciones legales sin sorpresas" data-analytics-context="ficha tarifa ilimitada total" data-analytics-category="cta" data-analytics-id="1500065054428-2215919552910">Ver Condiciones Legales</a>
                        </div>
                    </section>
                    {{!-- <!-- STEPS --> --}}
                    <section class="vfms-steps">
                        <h3 class="vfes-title vfes-title--2 vfes-pt+ vfes-align--left">
                            <span class="vfes-title--bold">¿Cómo contrato la Tarifa Móvil Ilimitada Total?</span>
                        </h3>
                        <div class="vfes-timeline vfes-timeline--steps vfes-timeline--center">
                            <ul class="vfes-timeline__list vfms-steps__timeline">
                                <li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column vfes-pl0">
                                    <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>icon-shopping-trolley-mi</title><use class="icon-v3" xlink:href='#icon-shopping-trolley-mid'></use></svg>
                                    <h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Compra online</span></h4>
                                    <p class="vfms-paragraph--small">Recibirás un email de confirmación con el detalle de tu pedido y próximos pasos.</p>
                                </li>
                                <li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column">
                                    <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>icon-business-mid</title><use class="icon-v3" xlink:href='#icon-business-mid'></use></svg>
                                    <h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Portabilidad</span></h4>
                                    <p class="vfms-paragraph--small">Eliges la fecha y lugar de entrega de tu nueva SIM y sabrás el día exacto del cambio. Nos aseguraremos que no te quedas sin línea.</p>
                                </li>
                                <li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column">
                                    <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>icon-bundles-mid</title><use class="icon-v3" xlink:href='#icon-bundles-mid'></use></svg>
                                    <h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Recibe la SIM</span></h4>
                                    <p class="vfms-paragraph--small"> El envío puede tardar entre 2-3 días laborables (en la penisula) y 5-7 (a Baleares y Canarias, Ceuta o Melilla).</p>
                                </li>
                                <li class="vfes-timeline__item vfes-p- vfes-flex vfes-flex__direction--column">
                                    <svg class="vfes-timeline__icon" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='68px' height='68px'><title>icon-unified-communication-mid</title><use class="icon-v3" xlink:href='#icon-unified-communication-mid'></use></svg>
                                    <h4 class="vfes-paragraph vfes-paragraph--large"><span class="vfes-title--bold">Mi Vodafone</span></h4>
                                    <p class="vfms-paragraph--small">Podrás registrarte y hacer el seguimiento de tu pedido y gestionar tus servicios de Vodafone.</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                    {{!-- TICKET --}}
                        <div class="vfms-ticket vfes-layout__wrapper vfes-layout__item vfes-1/3 vfes-1/1-palm vfes-mt0-mov"
                    data-vfms-js="_ticket">
                    <div class="vfes-flex vfes-flex__align-items--center vfes-pb-" vfms-data-js="_typeButtons">
                        <button class="vfms-typeclient vfes-link vfes-link--no-chevron vfes-pr- active"
                            data-analytics-element="portabilidad" data-analytics-context="particulares:ficha tarifas"
                            data-analytics-category="cta" data-analytics-id="1500065054428-0260383921121" vfms-data-js="_newNumber"
                            data-new-number="portability">Portabilidad</button>|
                        <button class="vfms-typeclient vfes-link vfes-link--no-chevron vfes-pl-"
                            data-analytics-element="alta nueva" data-analytics-context="particulares:ficha tarifas"
                            data-analytics-category="cta" data-analytics-id="1500065054428-6278299540032" vfms-data-js="_newNumber"
                            data-new-number="newNumber">Nuevo
                            Número</button>
                    </div>
                      <div class="vfms-ticket-content vfes-pb- ">
                    <h2 class="vfes-title--4 vfes-pt0 vfes-mb0 vfes-pb-">Vodafone Móvil ilimitada Total</h2>
                    <ul class="vfes-flex vfes-flex__direction--column vfes-colours-bg-vodafone-white vfes-card-border-radius vfes-box-shadow vfes-pr vfes-pl- vfes-pb- vfes-pt-">
                        <li class="vfes-flex vfes-flex__align-items--center vfes-flex__wrap--nowrap vfes-align--center vfes-align--left">
                            <div class="vfms-icon-rate">
                                <svg style="width: 28px; height: 60px;">
                                    <title>icon3-mobile</title>
                                    <use xlink:href="#icon3-mobile" class="icon-v3"></use>
                                </svg>
                            </div>
                            <div class="vfes-align--left vfes-pl--">
                                <p class="vfes-title--5 vfes-mb0"><span class="vfes-title--bold">Datos y minutos
                                        ilimitados</span></p>
                                <p class="vfes-paragraph vfes-paragraph--large vfes-mb0 vfes-colours--vodafone-red">
                                    Velocidad máxima 5G <img src="img/icon-rayo-3.svg"></p>
                            
                            </div>
                        </li>
                       
                        
                        <li class="vfes-flex vfes-flex__align-items--center vfes-flex__wrap--nowrap vfes-align--center vfes-align--left">
                            <div class="vfms-icon-rate">
                                  <svg style="width: 28px; height: 60px;">
                                    <title>icon3-tv</title>
                                    <use xlink:href="#icon3-tv" class="icon-v3"></use>
                                </svg>
                            </div>
                      
                            <div class="vfes-align--left vfes-pl--">
                                <p class="vfes-title--5 vfes-mb0"><span class="vfes-title--bold">Pack TV Seriefans
                                        GRATIS 1 año</span></p>
                                <p class="vfes-paragraph vfes-paragraph--large vfes-mb0">Incluye HBO España y 60 canales más</p>
                            </div>
                        </li>
                                 
                        <li
                            class="vfes-flex vfes-flex__align-items--end vfes-flex__justify--between vfes-pt- vfes-pb- vfes-pl-">
                            <div>
                                <p class="vfes-mb0 vfes-paragraph--small vfms-blue"><span
                                        class="vfes-title--bold">50% dto. 1 año.</span></p>
                                <p class="vfes-mb0 vfes-paragraph--small vfes-colours--anthracite">Permanencia 1 año
                                </p>
                                <p class="vfes-mb0 vfms-blue"><span
                                        class="vfes-text--strikethrough-blue vfms-blue">47,99€/mes</span></p>
                                <p class="vfes-mb0 vfes-title--3"><span class="vfes-title--bold">23,99€/mes</span></p>
                            </div>
                            <div>
                                <a class="vfes-button vfes-button--primary" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1251714&tcli=0&tta=2"
                                    data-overlay-close aria-haspopup="dialog" data-analytics-element="cart_add"
                                    data-analytics-product="movil;tarifa movil ilimitada total"
                                    data-analytics-category="cta" data-analytics-context="consulta tu cobertura"
                                    data-analytics-id="1500065054428-1500065060873" vfms-data-js="_linkPortability">Lo
                                    quiero</a>
                                <a class="vfes-button vfes-button--primary hide" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1251396&tcli=0&tta=2"
                                    data-overlay-close aria-haspopup="dialog" data-analytics-element="cart_add"
                                    data-analytics-product="movil;tarifa movil ilimitada total"
                                    data-analytics-category="cta" data-analytics-context="consulta tu cobertura"
                                    data-analytics-id="1500065054428-1500065064466" vfms-data-js="_linkNewNumber">Lo
                                    quiero</a>
                            </div>
                        </li>
                         <li class="link--hide">
                             <a class="vfes-flex vfes-align--center vfes-colours--vodafone-red vfes-pl- vfes-link vfes-link--red-chevron"
                                    data-overlay="modal-legal" data-overlay-close aria-haspopup="dialog"
                                    data-analytics-context="ficha tarifa ilimitada total"
                                    data-analytics-element="ver condiciones legales" data-analytics-category="cta"
                                    data-analytics-id="1500065054428-2215929552910">Ver condiciones legales</a>

                            </li>
                    </ul>
                </div>
                </div>
                </div>
            </div>
            {{!-- <!-- STICKY TICKET MOBILE--> --}}
         <section class="vfms-sticky-down vfes-p-- vfes-pb- vfes-box-shadow vfes-colours-bg-vodafone-white vfms-hide"
            vfms-data-show="show">
            <div class="vfes-layout__item">
                <div class="vfes-flex vfes-flex__align-items--center vfes-flex__justify--center">
                    <div class="vfes-flex vfes-flex__direction--column vfes-1/2">
                        <p class="vfes-paragraph--small vfes-colours--vodafone-red vfes-mb0"><span
                                class="vfes-text--strikethrough-red">47,99€/mes</span>
                        <p>
                            <span class="vfes-title--bold vfes-title--1">23,99€<span
                                    class="vfes-title--3">/mes</span></span>
                    </div>
                    <div class="vfes-flex vfes-flex__direction--column vfes-1/2">
                         <a class="vfes-button vfes-button--primary" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1251714&tcli=0&tta=2"
                                    data-overlay-close aria-haspopup="dialog" data-analytics-element="cart_add"
                                    data-analytics-product="movil;tarifa movil ilimitada total"
                                    data-analytics-category="cta" data-analytics-context="consulta tu cobertura"
                                    data-analytics-id="1500065054428-1500065060673" vfms-data-js="_linkPortability">Lo
                                    quiero</a>
                                <a class="vfes-button vfes-button--primary hide" href="https://www.vodafone.es/c/tienda-online/particulares/contratacion?id=1251396&tcli=0&tta=2"
                                    data-overlay-close aria-haspopup="dialog" data-analytics-element="cart_add"
                                    data-analytics-product="movil;tarifa movil ilimitada total"
                                    data-analytics-category="cta" data-analytics-context="consulta tu cobertura"
                                    data-analytics-id="1500065054428-1500065064486" vfms-data-js="_linkNewNumber">Lo
                                    quiero</a>
                    </div>
                </div>
            </div>
        </section>
        
        
        </main>

        <div class="vfes-overlay vfes-overlay--dark js-overlay vfes-colours-bg-vodafone-white" data-vfes-js="_overlay"
        aria-hidden="true">
        <section id="modal-legal"
            class="vfes-overlay__item js-overlay-item vfes-colours-bg-vodafone-white vfes-card-border-radius"
            aria-hidden="true" role="dialog" aria-modal="true">
            <div class="vfes-overlay__head">
                <button class="vfes-overlay__close js-overlay-close" aria-hidden="false"><svg class="icon"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Close</title>
                        <use class="icon-v3" xlink:href="#icon3-close"></use>
                    </svg></button>
                <p class="vfes-paragraph">Condiciones Legales</p>
            </div>
            <div class=" js-overlay-content  vfes-colours-bg-vodafone-white vfms-legal">
                <h3 class="vfes-title vfes-title--center vfes-title--3 vfes-title--bold vfes-color--vodafone-red">
                    Condiciones de las tarifas móviles
                </h3>
                <p class="vfes-paragraph vfes-pt">Tarifas disponibles para nuevas altas, portabilidades, migración de
                    prepago a contrato y cambios de tarifa tanto para Clientes particulares, como microempresas.
                </p>
                <table border="0" cellpadding="0" cellspacing="0" style="width:0px">
                    <tbody>
                        <tr>
                            <td><strong>Mini</strong></td>
                            <td>19,99€</td>
                        </tr>
                        <tr>
                            <td><strong>Ilimitada</strong></td>
                            <td>32,99€</td>
                        </tr>
                        <tr>
                            <td><strong>Ilimitada Maxi</strong></td>
                            <td>36,99€</td>
                        </tr>
                        <tr>
                            <td><strong>Ilimitada Total</strong></td>
                            <td>47,99€</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="vfes-paragraph vfes-color--vodafone-red vfes-pt">CONDICIONES DE LA PROMOCIÓN EN ILIMITADA
                    MAXI E ILIMITADA TOTAL</h4>
                <p class="vfes-paragraph vfes-pt">Oferta válida para altas nuevas de contrato, portabilidades de
                    contrato y cambios de prepago a contrato móvil hasta el 13/10/2020. Descuento de 15€/mes durante 6
                    meses en cuota de la tarifa de móvil ilimitada Maxi y descuento de 24€/mes durante 12 meses en cuota
                    de la tarifa móvil Ilimitada Total.</p>
                <p class="vfes-paragraph">Compromiso tarifa Ilimitada Maxi: de 6 meses en Vodafone con penalización por
                    baja anticipada por importe máximo de hasta 90 euros en función del descuento aplicado y el tiempo
                    que reste para el cumplimiento del compromiso. Compromiso Tarifa Ilimitada Total: 12 meses en
                    Vodafone con penalización por baja anticipada por importe máximo de hasta 288 euros en función del
                    descuento aplicado y el tiempo que reste para el cumplimiento del compromiso. Oferta no aplicable a
                    clientes con una tarifa de contrato en Vodafone y no acumulable a otras ofertas de fijo o móvil.</p>
                <p class="vfes-paragraph">Precio después de promoción: Tarifa móvil Ilimitada Maxi 36.99€, y Tarifa
                    móvil Ilimitada Total 47.99€</p>
                <h4 class="vfes-paragraph vfes-color--vodafone-red">CONDICIONES DE LA PROMOCION DE PACKS DE TV EN TARIFA
                    MÓVIL ILIMITADA TOTAL</h4>
                <p class="vfes-paragraph">Oferta válida para altas nuevas, portabilidades, y clientes existentes de
                    móvil sin Vodafone Televisión hasta el 13/10/2020 en tarifa móvil Ilimitada Total. Condiciones de la
                    promoción: Descuento de 10€/mes durante 12 meses en cuota de Pack Seriefans, Pack Serielovers o Pack
                    Cinefans al contratarlo junto con la tarifa de móvil Ilimitada Total. Sin compromiso de permanencia.
                    En caso de baja del pack de TV no se aplicará penalización alguna, pero dejará de aplicarse el
                    descuento de 10€ a partir del mes siguiente a la baja del pack de TV. Precio packs TV con promoción:
                    Seriefans 0€/mes, Serielovers 4€/mes, Cinefans 2€/mes. Precio de los Packs fuera de promoción: Pack
                    Seriefans 10€/mes, Pack Serielovers 14€/mes y Pack Cinefans 12€/mes.</p>
                <p class="vfes-paragraph">Condiciones de los Packs de TV: Sin cuota de alta. HBO España incluido en
                    Seriefans y Serielovers y Amazon Prime solamente incluido en Serielovers. Filmin incluido en
                    Cinefans. Una vez dado de alta los paquetes de TV es necesario activar HBO España, Amazon Prime y
                    Filmin en vodafone.es/entretenimiento. La baja de cualquiera de los packs de TV implica la
                    cancelación del servicio de HBO España, Amazon Prime y/o Filmin respectivamente. Amazon Prime tiene
                    un precio de 3,99€/mes (sujeto a cambios) fuera de pack. Amazon.com, Inc. y sus afiliados no son
                    sponsor de esta promoción. Todas las marcas Amazon ®, TM & © son propiedad intelectual de
                    Amazon.com, Inc. o de sus afiliados. ©2020 Home Box Office, Inc. Todos los derechos reservados. HBO®
                    y sus canales y servicios asociados a su marca son propiedad de Home Box Office, Inc.</p>
                <p class="vfes-paragraph vfes-pt vfes-pb-"><span class="vfes-title--bold">La tarifa Vodafone Mini incluye:</span></p>
                <ul class="vfes-list">
                    <li>200 minutos con cualquier operador nacional las 24horas.Consumidos los 200 min, aplica el precio
                        de 0,25€/min y 0,30€ de establecimiento de llamada.</li>
                    <li>SMS ilimitados con cualquier operador nacional</li>
                    <li>4GB de navegación.</li>
                    <li>Roaming incluido en Europa, Reino Unido y EE.UU con las mismas condiciones de la tarifa.</li>
                    <li>Servicio Secure Net para usar tu Smartphone con seguridad navegar sin riesgos en Internet en la
                        red móvil y WiFi de Vodafone, 1 euro al mes por línea (gratis los 3 primeros meses).</li>
                </ul>
                <p class="vfes-paragraph vfes-pt vfes-pb-"><span class="vfes-title--bold">La tarifa Vodafone Ilimitada incluye:</span></p>
                <ul class="vfes-list">
                    <li>Llamadas y SMS ilimitados con cualquier operador nacional las 24 horas.</li>
                    <li>Datos ilimitados de navegación a una velocidad de 2Mbps.</li>
                    <li>Roaming incluido en Europa, Reino Unido y EE.UU: llamadas y SMS ilimitados y 16GB de navegación.
                    </li>
                    <li>Servicio Secure Net para usar tu Smartphone con seguridad navegar sin riesgos en Internet en la
                        red móvil y WiFi de Vodafone, 1 euro al mes por línea (gratis los 3 primeros meses).</li>
                </ul>
                <p class="vfes-paragraph vfes-pt vfes-pb-"><span class="vfes-title--bold">La tarifa Vodafone Ilimitada Maxi incluye:</span></p>
                <ul class="vfes-list">
                    <li>Llamadas y SMS ilimitados con cualquier operador nacional las 24 horas.</li>
                    <li>Datos ilimitados de navegación a una velocidad de 10Mbps</li>
                    <li>Roaming incluido en Europa, Reino Unido y EE.UU: llamadas y SMS ilimitados y 18GB de navegación.
                    </li>
                    <li>Servicio Secure Net para usar tu Smartphone con seguridad navegar sin riesgos en Internet en la
                        red móvil y WiFi de Vodafone, 1 euro al mes por línea (gratis los 3 primeros meses).</li>
                </ul>
                <p class="vfes-paragraph vfes-pt vfes-pb-"><span class="vfes-title--bold">La tarifa Vodafone Ilimitada Total incluye:</span></p>
                <ul class="vfes-list">
                    <li>Llamadas y SMS ilimitados con cualquier operador nacional las 24 horas.</li>
                    <li>Datos ilimitados de navegación a máxima velocidad 5G.</li>
                    <li>Roaming incluido en Europa, Reino Unido y EE.UU: llamadas y SMS ilimitados y 23GB de navegación.
                    </li>
                    <li>Servicio Secure Net para usar tu Smartphone con seguridad navegar sin riesgos en Internet en la
                        red móvil y WiFi de Vodafone, 1 euro al mes por línea (gratis los 3 primeros meses).</li>
                </ul>
                <h4 class="vfes-paragraph vfes-color--vodafone-red vfes-pt">CARACTERISTICAS COMUNES A TODAS LAS TARIFAS
                    COMUNICADAS: </h4>
                <ul class="vfes-list">
                    <li>Todos los servicios de llamadas contarán con calidad de voz HD siempre que la línea destinataria
                        de la llamada sea también Vodafone.</li>
                    <li>El servicio móvil permite Voz sobre IP.</li>
                    <li>Excluidos del precio de la tarifa los servicios Dicta SMS, Rellamada, MMS y SMS/MMS Premium.
                    </li>
                    <li>Los minutos incluidos en todas las tarifas excluyen las llamadas a numeraciones especiales de
                        tarificación adicional (como los 700, 901 o 902), llamadas a inteligencia de red, llamadas
                        internacionales, llamadas a números guía (como los 118) y las llamadas no utilizadas para la
                        identificación de usuarios finales.</li>
                    <li>Roaming incluido en UE, EE.UU, Islandia, Noruega, Liechtenstein, Suiza, Turquía, Vaticano,
                        Kosovo y Mónaco (Zona1).Las llamadas en roaming realizadas y recibidas, SMS enviados y GB
                        consumidos en estos destinos se contabilizan en la tarifa nacional sin coste adicional.
                        Incluidas las llamadas realizadas con origen y destino en cualquier país de los indicados.
                        Llamadas realizadas desde zona 1 a cualquier destino, fuera de zona 1 ,se tarifica según la
                        tarifa Vodafone World. Más información y política de uso razonable en Vodafone.es/roaming.</li>
                    <li>Superados los GB incluidos en Roaming para las tarifas ilimitada, Maxi y Total el precio de cada
                        Giga adicional es de 4,24€/GB.</li>
                    <li>Roaming en zona 2: Las tarifas de móvil tienen activada la Tarifa de Viaje Mundo con la que los
                        clientes de la tarifa Mini disfrutará de 20 minutos, 20 SMS y 2GB al día en Roaming en sus
                        viajes en Zona 2 por 15€/día de uso. Los clientes de las tarifas Ilimitada, Ilimitada Maxi e
                        Ilimitada Total disfrutarán de los minutos y SMS ilimitados y 2GB al día en roaming en sus
                        viajes en zona 2 por 15€/día de uso. Incluye las llamadas y sms realizados desde zona 2 a
                        cualquier destino de cualquier zona.</li>
                    <li>En la tarifa Mini, superados los datos de la tarifa, se podrá seguir navegando a máxima
                        velocidad activando el servicio +megas, por 4€ cada 200MB adicionales que consuma (hasta un
                        máximo de 1GB/mes, 20€), después la velocidad se reduce. Si el cliente no dispone de este
                        servicio, superados los datos de la tarifa, la velocidad se reduce. Si el cliente dispone de
                        este servicio y se cambia a una tarifa Mini o Extra el mismo se mantiene activado. Baja del
                        servicio +Megas a través de Mi Vodafone o llamando al 22123.</li>
                    <li>Las Condiciones de uso del servicio Secure Net están disponibles en: <a
                            href="www.vodafone.es/tycsecurenet" target="_new">Securenet</a>. El cliente se puede dar de
                        baja en la suscripción de Secure Net en el momento que desee desde la app de Mi Vodafone o
                        llamando al 22123.Se podrá disfrutar una única vez de la promoción de Secure Net 3 meses gratis.
                    </li>
                    <li>Los servicios que incluyen todas las tarifas están sujetos a la política de uso razonable de
                        Vodafone que comprende el uso no abusivo o para fines razonables teniendo en cuenta la causa y/o
                        fin por el que Vodafone pone a disposición de los servicios en el mercado.(disponible en <a
                            href="www.vodafone.es/conocenos.es/Vodafone-españa/quienes-somos/legal-y-regulatorio/política-de-uso/">www.vodafone.es/conocenos.es/Vodafone-españa/quienes-somos/legal-y-regulatorio/política-de-uso/.
                        </a>".</li>
                    <li>Cuotas mensuales prorrateables en el alta y en la baja.</li>
                    <li>En el caso de las tarifas Vodafone Mini e Ilimitada Total la navegación 5G es a una velocidad de
                        bajada de hasta 1Gbps y con una velocidad de subida de hasta 150Mbps. La velocidad está
                        condicionada al acceso a tecnología 5G para lo que será necesario disponer de una tarifa
                        comercializable de contrato con terminal móvil compatible con 5G dentro de las zonas de
                        cobertura Vodafone 5G (actualmente en estas ciudades: Madrid, Barcelona, Valencia, Sevilla,
                        Málaga, Bilbao, Zaragoza, Pamplona, Vitoria, San Sebastián, Santander, Logroño, A Coruña, Vigo,
                        Gijón, Badajoz, Murcia, Valladolid, Alicante, Palma, y Benidorm). En caso contrario, la
                        velocidad máxima será la que permita la tecnología correspondiente.</li>
                    <li>Condiciones de permanencia: si existiera y el cliente se da de baja dentro de un periodo de
                        compromiso, deberá pagar a Vodafone en concepto de penalización por incumplimiento la cantidad
                        que corresponda en función del tiempo que reste para cumplir el compromiso adquirido hasta el
                        máximo del beneficio obtenido por el cliente. Compatible con resto de Vodafone Pass.</li>
                </ul>
                <h4 class="vfes-paragraph vfes-color--vodafone-red vfes-pt">VODAFONE ONENUMBER: CONDICIONES DEL SERVICIO
                </h4>
                <p class="vfes-paragraph">Para las tarifas Mini, Ilimitada, Ilimitada Maxi, Ilimitada Total, One
                    Ilimitada, One Ilimitada Maxi y One Ilimitada Total, el precio es de 5€/mes por cada dispositivo que
                    tenga activado el servicio, con el primer mes gratis. El servicio incluye la emisión y recepción de
                    llamadas, mensajes y navegación desde cualquiera de los dispositivos adicionales (Máx 4). Para los
                    dispositivos que permitan navegación, esta podrá llevarse a cabo hasta alcanzar los Gigas incluidos
                    en la tarifa contratada por el cliente en caso de que estos sean menos de 10GB y con un máximo de
                    10GB por dispositivo y mes para el resto de tarifas.</p>
                <p class="vfes-paragraph">Consulta el resto de condiciones legales en: <a
                        href="https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/vodafone-onenumber/"
                        target="_new">https://www.vodafone.es/c/particulares/es/mas-con-vodafone/objetos-conectados/vodafone-onenumber/</a>.
                </p>
                <p class="vfes-paragraph">Vodafone TV sin decodificador</p>
                <p class="vfes-paragraph">Más información de condiciones legales en: <a
                        href="https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/"
                        target="_new">https://www.vodafone.es/c/particulares/es/productos-y-servicios/television/</a>.
                </p>
                <p class="vfes-paragraph">Líneas adicionales</p>
                <p class="vfes-paragraph">Más información de condiciones legales en: <a
                        href="www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/"
                        target="_new">www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/www.vodafone.es/c/particulares/es/productos-y-servicios/movil/contrato/mas-lineas/</a>.
                </p>
                <p class="vfes-paragraph">Nota: Los precios recogidos en esta comunicación están expresados con el IVA
                    aplicable en Península y Baleares. En Canarias, Ceuta y Melilla, los precios resultarán de aplicar
                    el porcentaje impositivo correspondiente a los precios sin IVA incluidos en esta comunicación.</p>




            </div>
            <div class="vfes-overlay__footer">
            </div>
        </section>
        </div>
         <!-- POPUPS CANALES-->
        <div class="vfes-overlay vfes-overlay--dark js-overlay vfes-colours-bg-vodafone-white" data-vfes-js="_overlay" aria-hidden="true">
            <section id="modal-seriefans" class="vfes-overlay__item js-overlay-item vfes-colours-bg-vodafone-white vfes-card-border-radius" aria-hidden="true" role="dialog" aria-modal="true">
                <div class="vfes-overlay__head">
                    <button class="vfes-overlay__close js-overlay-close" aria-hidden="false"><svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
                    <p class="vfes-paragraph">Canales Pack Seriefans</p>
                </div>
                <div class="js-overlay-content  vfes-colours-bg-vodafone-white">
                    <div class="vfes-colours-bg-vodafone-white">
                        <ul class="vfes-flex vfes-flex__wrap vfes-flex__align-items--center vfes-align--center">
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/foxnow-desktop.jpg" alt="FOXNOW">
                                <p class="vfes-paragraph vfes-paragraph--small">FOXNOW</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/hbo-desktop.jpg" alt="HBO España">
                                <p class="vfes-paragraph vfes-paragraph--small">HBO España</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/axn-now-desktop.jpg" alt="AXN Now">
                                <p class="vfes-paragraph vfes-paragraph--small">AXN Now</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/tnt-desktop.jpg" alt="TNT">
                                <p class="vfes-paragraph vfes-paragraph--small">TNT</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/fox-desktop.jpg" alt="FOX">
                                <p class="vfes-paragraph vfes-paragraph--small">FOX</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/syfy-desktop.jpg" alt="SYFY">
                                <p class="vfes-paragraph vfes-paragraph--small">SYFY</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/calle13-desktop.jpg" alt="Calle 13">
                                <p class="vfes-paragraph vfes-paragraph--small">Calle 13</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/axn-desktop.jpg" alt="AXN">
                                <p class="vfes-paragraph vfes-paragraph--small">AXN</p>
                            </li>
                            <li class="vfes-1/5 vfes-1/3-mov vfes-pb">
                                <img width="80" height="42" src="img/popups/canales-seriefans/axn-white-desktop.jpg" alt="AXN White">
                                <p class="vfes-paragraph vfes-paragraph--small">AXN White</p>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="vfes-overlay__footer">
                </div>
            </section>
        </div>
        {{!-- POP UP DISPOSITIVOS COMPATIBLES --}}
        <div class="vfes-overlay vfes-overlay--dark js-overlay vfes-colours-bg-vodafone-white" data-vfes-js="_overlay" aria-hidden="true">
            <section id="modal-dispositivos" class="vfes-overlay__item js-overlay-item vfes-colours-bg-vodafone-white vfes-card-border-radius" aria-hidden="true" role="dialog" aria-modal="true">
                <div class="vfes-overlay__head">
                    <button class="vfes-overlay__close js-overlay-close" aria-hidden="false"><svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Close</title><use class="icon-v3" xlink:href="#icon3-close"></use></svg></button>
                    <p class="vfes-paragraph">Dispositivos compatibles</p>
                </div>
                <div class="js-overlay-content  vfes-colours-bg-vodafone-white vfes-layout vfes-p0">
                    <div class="vfes-colours-bg-vodafone-white vfes-layout__wrapper">
                        <ul class="vfes-p">
                            <li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-mb-mov">
                                <div class="vfes-flex vfes-flex__align-items--center">
                                    <svg width="44" height="44">
                                        <title>icon-mobile-mid</title><use xlink:href="#icon-mobile-mid"></use>
                                    </svg>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-pl-">Móvil / Tablet iOS y Android.</p>
                                </div>
                            </li>
                            <li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-mb">
                                <div class="vfes-flex">
                                    <svg class="icon-tv" width="44" height="44">
                                        <title>icon-tv-mid</title><use xlink:href="#icon-tv-mid"></use>
                                    </svg>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-pl-">Modelos de smart TV Samsung (a partir de 2017). Modelos de smart TV Sony (desde 2015) , Philips (desde 2018) y Xiaomi con Android TV.</p>
                                </div>
                            </li>
                            <li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-mb">
                                <div class="vfes-flex vfes-flex__align-items--center">
                                    <svg width="44" height="44">
                                        <title>icon-connected-devices-mid</title><use xlink:href="#icon-connected-devices-mid"></use>
                                    </svg>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-pl-">Chromecast</p>
                                </div>
                            </li>
                            <li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov vfes-mb">
                                <div class="vfes-flex vfes-flex__align-items--center">
                                    <svg width="44" height="44">
                                        <title>icon-desktop-mid</title><use xlink:href="#icon-desktop-mid"></use>
                                    </svg>
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-pl-">PC/Mac</p>
                                </div>
                            </li>
                            <li class="vfes-layout__item vfes-1/2 vfes-1/2-palm vfes-1/1-mov">
                                <div class="vfes-flex vfes-flex__align-items--center">
                                    <img width="44" height="44" src="img/svg/icono-fire-tv.svg">
                                    <p class="vfes-paragraph vfes-paragraph--large vfes-pl-">Fire TV Stick</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="vfes-overlay__footer">
                </div>
            </section>
        </div>
        {{!-- FAQS --}}
        {{!-- <aside class="vfms-faqs" data-vfes-js="_faqs">
            <div class="vfes-layout__wrapper vfes-pb+">
                <h2 class="vfes-title vfes-title--3 vfes-pt+ vfes-align--left vfes-title--bold">Preguntas Frecuentes</h2>
                <div class="vfes-mt0-mov">
                    <div data-vfes-js="_accordion" class="vfes-accordion js-accordion">
                        <div class="vfes-layout__item vfes-p0">
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="que incluye la tarifa movil ilimitada total" data-analytics-category="cta" data-analytics-id="1500065054428-0007705236514"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué incluye la tarifa Móvil ilimitada Total?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            La Tarifa Móvil ilimitada Total de Vodafone incluye datos ilimitados de navegación a máxima velocidad 5G, además de llamadas ilimitadas, tanto a fijos como a móviles, por solo 59,99€ al mes, IVA incluido. También puedes hacer una portabilidad o disfrutarla con un número de teléfono nuevo. La tarifa Móvil Ilimitada Total no tiene permanencia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="que puedo hacer con datos 5g ilimitados" data-analytics-category="cta" data-analytics-id="1500065054428-0007991064175"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué puedo hacer con datos 5G ilimitados?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Disfruta de tus datos 5G limitados con la red de telefonía más veloz del momento, gracias a nuestra infraestructura de red móvil, independiente y avanzada. Con su mayor velocidad y su menor menor latencia, los datos 5G ilimitados te permiten, además de una navegación fluida, la posibilidad de disfrutar de películas y series en streaming con la mayor calidad. Esto y muchas te permitiría una experiencia a la hora de utilizar el móvil como nunca antes. 
                                        </p>
                                        <p class="vfes-paragraph">
                                            Ahora más que nunca, disfruta de tus datos ilimitados en cualquier lugar y en cualquier momento.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="que es vodafone tv sin deco" data-analytics-category="cta" data-analytics-id="1500065054428-0009253264755"><h3 class="vfes-paragraph vfes-paragraph--large" >¿Qué es Vodafone TV sin deco (decodificador)?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Vodafone TV sin deco (decodificador) es la nueva experiencia para disfrutar de todos los contenidos de televisión sin disponer del decodificador asociado a la fibra, sino más bien a través de la App Vodafone TV asociado a tu tarifa móvil. Ahora podrás ver las mejores series y películas desde los dispositivos compatibles a través de la App Vodafone TV.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="como se activa vodafone tv" data-analytics-category="cta" data-analytics-id="1500065054428-0005425038520"><h3 class="vfes-paragraph vfes-paragraph--large">¿Cómo se activa Vodafone TV?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                           Una vez realizada la compra, recibirás un email de activación de servicio en el email que hayas introducido durante el proceso de compra. 
                                        </p>
                                         <p class="vfes-paragraph">
                                           Podrás activar HBO España desde la App de Mi Vodafone.
                                        </p>
                                        <p class="vfes-paragraph">
                                           Después, descarga la app de Vodafone TV, para ver todo el contenido estés donde estés… Y… DISFRUTA.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="que dispositivos son compatibles con la tv sin deco" data-analytics-category="cta" data-analytics-id="1500065054428-0009425943346"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué dispositivos son compatibles con la TV sin deco (decodificador)?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                           Puedes disfrutar de Vodafone TV sin decodificador a través de los siguientes dispositivos: 
                                           <ul>
                                               <li><p class="vfes-paragraph">Modelos de smart TV Samsung (a partir de 2017).</p></li>
                                               <li><p class="vfes-paragraph">Modelos de smart TV Sony (desde 2015), Philips (desde 2018) y Xiaomi con Android TV.</p></li>
                                               <li><p class="vfes-paragraph">Comprueba que tu smart TV es compatible con la App Vodafone TV.</p></li>
                                               <li><p class="vfes-paragraph">Móvil / Tablet iOS y Android.</p></li>
                                               <li><p class="vfes-paragraph">PC / Mac.</p></li>
                                               <li><p class="vfes-paragraph">Chromecast.</p></li>
                                               <li><p class="vfes-paragraph">Vodafone TV sin decodificador te permite tener hasta 4 dispositivos registrados y realizar hasta 2 reproducciones simultáneas.</p></li>
                                           </ul>
                                        </p>
                                        <p class="vfes-paragraph">
                                           También puedes efectuar hasta 5 cambios o eliminaciones de dispositivos registrados en un mes. Entra en <a href="https://www.vodafonetvonline.es/" target="_new"> vodafonetvonline.es</a>, en la sección "Mi Cuenta > Dispositivos", selecciona el dispositivo que quieres eliminar y pulsa "Aceptar".
                                        </p>
                                        <p class="vfes-paragraph">
                                           La App Vodafone TV no está disponible en Apple TV.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="que significa poder descargar y subir archivos" data-analytics-category="cta" data-analytics-id="1500065054428-0002780634768"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué significa poder descargar y subir archivos de gran tamaño?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                          Gracias a la tarifa ilimitada total, podrás descargar y subir archivos de cualquier tipo (documentos, vídeos, música) sin tener que preocuparte del peso de los mismos. Esto te permitirá disfrutar de la máxima resolución en contenidos como canciones, películas o series en tu smartphones para almacenarlos en tu móvil y reproducirlos cuando prefieras. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="que significa videos en maxima calidad" data-analytics-category="cta" data-analytics-id="1500065054428-0008939473980"><h3 class="vfes-paragraph vfes-paragraph--large">¿Qué significa vídeos en máxima calidad (UHD Y 4K)?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">Disfruta de vídeos de la máxima calidad, en Alta Definición (HD) que te garantiza una resolución superior de imágenes por pantalla. Unido a pantallas de alta definición, y gracias a los datos ilimitados de la tarifa total, podrás disfrutar de imágenes con un elevado detalle y claridad para una experiencia de usuario visual y nítida. Además, gracias a los formatos UHD (Ultra HD) y 4K, tus películas dispondrán de una mejora en su calidad gracias a un mayor número de píxeles por pantalla.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="disfrutar de juegos online sin restricciones" data-analytics-category="cta" data-analytics-id="1500065054428-0009987217464"><h3 class="vfes-paragraph vfes-paragraph--large">¿Puedo disfrutar de juegos online sin restricciones?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Con tu tarifa ilimitada total, disfruta de los últimos juegos online para móviles en tu dispositivo smartphone (Fortnite, Pokemon Go, Clash Royale y todos los que quieras). Gracias a los datos ilimitados, y a la velocidad de conexión 5g, disfruta de partidas en solitario o con amigos con la máxima fluidez, velocidad y sin lags de ningún tipo. ¡Saca el lado gamer que llevas dentro donde sea, con quien sea y cuando sea!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="vfes-accordion__item js-accordion-item vfes-card-no-shadow">
                                <button class="vfes-accordion__heading js-accordion-heading vfes-mb0" aria-expanded="false" aria-controls="accordion-content-0" data-analytics-element="faq" data-analytics-context="contratar lineas adicionales con la tarifa ilimitada total" data-analytics-category="cta" data-analytics-id="1500065054428-0006604084929"><h3 class="vfes-paragraph vfes-paragraph--large">¿Puedo contratar líneas adicionales con la Tarifa Móvil Ilimitada Total?</h3></button>
                                <div id="accordion-content-0" class="vfes-accordion__content" aria-hidden="true">
                                    <div class="vfes-accordion__block">
                                        <p class="vfes-paragraph">
                                            Si no eres cliente Vodafone puedes contratar más de una línea en el proceso de compra de la tarifa móvil. Cuando estés tramitando el pedido en la web, te daremos la opción de incluir más líneas con un 50% de descuento en cada una de ellas. Podrás realizar todo el trámite de manera digital de una forma rápida y sencilla. Si ya eres cliente Vodafone, podrás contratar líneas adicionales entrando en la <a href="http://m.vodafone.es/web-2aslineas" target="_new">App Mi Vodafone</a>, desde tu área privada podrás añadir más líneas a tu plan actual. Si lo prefieres, también puedes llamar gratis al siguiente teléfono: <a href="tel:900920052">900 920 052</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside> --}}
    </div>
<script src="js/ws2r.v15.js"></script>
<script src="js/main.js"></script>
