// CSS del microsite
.vfes-button--primary {
	background-color: #e60000;
	color: #fff!important;
}
.vfms-text__big {
	font-size:24px;
}
.vfms-info__mobile-selected {
	padding-bottom: 50px;
	height: 90px;
}
.vfms-rate-selected{
	margin-top: 10px!important;
	margin-bottom: 16px!important;
}
.vfms-link{
	margin-bottom: 16px!important;
	margin-top: 12px!important;

}

.vfms-table-container{
	width: 1200px;
	@media screen and (max-width: 1024px) {
		width: 900px;
	}
	@media screen and (max-width: 768px) {
		width: 600px;
	}
	@media screen and (max-width: 414px) {
		width: 380px;
	}
	@media screen and (max-width: 360px) {
		width: 350px;
	}
}
.vfes-colours-bg-light-grey{
	@media screen and (max-width: 414px) {
		background-color: #ffffff!important;
	}
}
.vfms-item-block{
	display:block;
}
.vfes-ms-content{
	.vfms-container {
		.vfms-wrapper{
			position: relative;
			display: block;
			margin: 0 auto;
		}
		@media screen and (max-width: 1024px) {
			padding-right: 0;
			width: 100%;
		}
		@media screen and (max-width: 414px) {
			width: 90%;
			padding: 0 20px;
		}
		@media screen and (max-width: 365px) {
			width: 90%;
			padding: 0 5px;
		}
		.vfms-table {
			display: flex;
			overflow: hidden;
			position: relative;

			&-header{
				position: absolute;
				left: 0;
				z-index: 2;
				background: #fff;
				height: 100%;
				padding: 20px;
				width: 320px;
			}

			&-body{
				transition: transform .4s ease-in;
				margin-left: 300px;
				padding-bottom: 30px;
				//transform: translateX(-300px);
				
				@media screen and (max-width: 1024px) {
					//transform: translateX(-600px);
				}
				@media screen and (max-width: 414px) {
					//transform: translateX(-900px);
				}

			}
		}
		thead{
			width: 20%;
			border-right: 1px solid #ebebeb;
			@media screen and (max-width: 768px) {
				width: 45%;
			}
			@media screen and (max-width: 414px) {
				display: none;
			}
			.vfms-head--item {
				padding: 10px 0;
				.vfms-games {
					height: 20px;
				}
			}
			.vfms-head {
				display: flex;
				flex-direction: column;
				height: 100%;
				padding-top: 195px;
			}
			.vfms-height {
				height: 40px;
			}
			.vfms-price {
				min-height: 217px;
			}
			.vfms-icon--bg {
				width: 30px;
				height: 30px;
				border-radius: 10px;
				margin-right: 16px;
				svg {
					width: 100%;
					height: 20px;
				}
			}
		}
		tbody {

			@media screen and (max-width: 414px) {
				width: 100%;
			}
			.vfms-body {
				width: 1500px;
				display: flex;
				transform: translateX(0);
				height: 50px;
				@media screen and (max-width: 414px) {
					height: 38px;
				}
				&__big{
					height: 80px;
				}
				&__price{
					min-height: 217px;
				}
				.vfms-info__mobile {
	
					display: flex;
					flex-direction: column;
					align-items: top;
					justify-content: top;
							
					.vfms-data-price{
						font-size:24px;

						@media screen and (max-width: 414px) {
							font-size:19px;
						}
					}
					@media screen and (max-width: 414px) {
						display: flex;
						justify-content: space-between;
						display: flex;
						flex-direction: row-reverse;
					}
				}
				
				.vfms-text__mobile {
					text-align: center;
				}
				
				.vfms-cell {
					width: 300px;
					padding: 10px 0;
					@media screen and (max-width: 768px) {
						width: 300px;
					}
					@media screen and (max-width: 414px) {
						width: 100%;
						max-width: 300px;
						margin-right: 20px;
						height: 20px;
					}

					.vfms-align__right {
						text-align: right;
					}
					.vfms-flex__adjustment {
						flex-direction: column;
						@media screen and (max-width: 414px) {
							flex-direction: row;
							align-items: flex-start;
							justify-content: space-between;
						}
					}
					.vfes-card-shop__price {
						font-size: 40px;
					}
					.vfes-link {
						text-decoration: underline;
						font-size: 18px;
						margin-bottom: 16px;
						display: block;
						@media screen and (max-width: 414px) {
							margin-top: 10px;
						}
					}
					.vfms-price {
						font-size: 40px;
						@media screen and (max-width: 414px) {
							line-height: inherit;
						}
					}
					.vfms-button {
						margin-bottom: 15px;
					}
					.vfms-check-bg {
						width: 24px;
						height: 24px;
						background: #009900;
						border-radius: 50%;
						margin: 0 auto;
						@media screen and (max-width: 414px) {
							display: inline-block;
							margin: 0;
						}
						span {
							color: white;
						}
					}
					.vfms-check-bg:after {
						content: '';
						border: 2px solid white;
						border-top: 0;
						border-right: 0;
						display: block;
						height: 5px;
						transform: rotate(-45deg);
						width: 10px;
						@media screen and (max-width: 414px) {
							margin-top: 7px;
							margin-left: 6px;
						}
					}

				}
				.vfms-cell::after {
					@media screen and (max-width: 414px) {
						content: attr(data-content);
						width: 60%;
						order: 2;
					}
				}

				.vfms-text__align {
					text-align: center;
					@media screen and (max-width: 414px) {
						text-align: left;
					}
				}
				.vfms-cell--grey {
					padding-top: 20px;
				}
			}
			.vfms-body:first-child {
				@media screen and (max-width: 414px) {
					height: 170px;
					//border-bottom: 1px solid #ebebeb;
					margin-bottom: 10px;
				}
			}
		}
		.vfms-arrow--button {
			width: 46px;
			height: 46px;
			position: absolute;
			border-radius: 50%;
			@media screen and (max-width: 414px) {
				width: 40px;
				height: 40px;
			}
		}
		.vfms-prev {
			top: 50%;
			left: 300px;
			z-index: 2;
			@media screen and (max-width: 1024px) {
				left: 300px;
			}
			@media screen and (max-width: 414px) {
				left: -20px;
				top: 60px;
			}
		}
		.vfms-prev:after {
			content: '';
			left: 50%;
			position: absolute;
			top: 50%;
			border-top: 0.0625rem solid #333333;
			border-right: 0.0625rem solid #333333;
			border-width: 0.0625rem;
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			z-index: 1;
			transform: translate(-45%, -50%) rotate(225deg);
		}
		.vfms-next {
			top: 50%;
			right: -20px;
			@media screen and (max-width: 414px) {
				top: 60px;
			}
		}
		.vfms-next:after {
			content: '';
			left: 50%;
			position: absolute;
			top: 50%;
			border-top: 0.0625rem solid #333333;
			border-right: 0.0625rem solid #333333;
			border-width: 0.0625rem;
			display: block;
			width: 0.75rem;
			height: 0.75rem;
			z-index: 1;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}
}
.vfms-comparative{

	&-header{
		&__title{
			padding-bottom: 20px;
		}
	}
}

